[2022-08-01 15:06] flynn1973 commented on #20012
here you go

[sprintf2_test_out.txt](https://github.com/Perl/perl5/files/9234949/sprintf2_test_out.txt)

[2022-08-01 15:08] flynn1973 commented on #20012
patched the Makefile, were able to run make test...but

[code]
ähm...this looks awkward.

[2022-08-01 15:31] demerphq commented on #20012
On Mon, 1 Aug 2022, 17:06 flynn1973, ***@***.***> wrote:

Part of the output matches what I have here locally.

But the huge set of errors seems to suggest that it's not able to exec
itself:

What does this do:

$ ./miniperl -le'print `$^X -e"print q(ok),$/"`'
ok

cheers,
Yves

[2022-08-01 19:01] demerphq opened #20027 "Class/package/subname related error messages do not curate their values properly resulting in confusion and possibly data flooding"
**Description**
Many of our error message relating to sub names, method names, and package names do not curate their output. This means that the output can be very long and may contain invisible characters or other confusing artifacts. Making it worse, the chosen text for some of our errors duplicates the same data twice for no good reason.

This came up because of #19419 where I am working on a f

[2022-08-01 19:51] apparluk commented on #20010
The GitHub account used at the time of the relevant commit was subsequently deleted. For a reason separate to this repository it was recreated, so `{id}` for the deleted and recreated GitHub accounts are not the same, whereas {user_name} for the former and current accounts are the same.

`{id}+{user_name}@users.noreply.github.com`

Both AUTHORS and .mailmap appear to be indexed by search engines.

[2022-08-02 00:20] #19995 closed

[2022-08-02 06:58] flynn1973 commented on #20012
root@aixbuildhostng: /opt/itsv/applperlbin/perl-5.36.0 #  ./miniperl -le'print `$^X -e"print q(ok),$/"`'
ok

meanwhile i tried juggling around CFLAGS, LDFLAGS, with or without threads, various optimization settings...no change.

[2022-08-02 07:47] flynn1973 commented on #20012
with this minimal configuration and using xlc instead of gcc everything is going well

[code]

[code]

[2022-08-02 08:32] flynn1973 commented on #20012
wikth gcc and minimal...guess this whole topic is more or less a local problem which stems from unsane flags and options.

[code]

[code]

[2022-08-02 08:32] #20012 closed

[2022-08-02 11:41] flynn1973 commented on #20012
i looked at it again, removed and readded every configure option but found out nothing. i suspect something from hints/aix.sh is messing up dynamic linking (again), had this kind of troubles in the past (perl 5.00X), but thats  only some uneducated head game.

[2022-08-02 19:18] pjacklam commented on #18626
@jkeenan wrote:

Alas, the [Math-Complex distribution](https://metacpan.org/pod/Math::Trig) is no longer maintained upstream on CPAN. The latest version was release more than 10 years ago. For several years, I contacted the maintainers asking to take over maintenance, but I never got any response. The stand-alone distribution Math-Complex is dead.

[2022-08-02 22:35] jkeenan commented on #19801
[CPANtester results](http://matrix.cpantesters.org/?dist=Test-Trap) look good.  Closing this ticket.

[2022-08-02 22:35] #19801 closed

[2022-08-04 12:56] sisyphus opened #20039 "BBC: perl-5.34.0 broke Path::Class (Windows only, AFAICT)"
Module:
Class-Path-0.37

**Description**

On MS Windows with perl-5.34.0 or later,  we find that during the the running of the test suite. t/01-basic.t fails with:
[code]

**Steps to Reproduce**

On MS Windows with perl-5.34.0 or later, run:
cpan -i Path::Class

I believe it's probably up to Path::Class to fix this issue and there's a bug report filed against Path::Class at:
https://github.com/ken

[2022-08-04 17:48] kenahoo commented on #20039
Do we know what actual change in `perl` or `File::Spec` caused the difference in behavior?

[2022-08-04 21:02] Leont commented on #20039
It kind of has to be `Cwd::realpath`, my best guess would be c8c367581c3333c38d07481e2ea8d81171403c81 but I can't confirm that as I don't run Windows.

[2022-08-04 21:16] kmhl opened #20041 "Escape sequences \L, \U fall when we use them together"
When we use escape sequences \L and \U in series we get the syntax error message:
[code]

I think it isn't a syntax error and the code above should work.

If the code shouldn't work nevertheless then the error message should be fixed.

(v5.28.1)

[2022-08-04 21:54] sisyphus commented on #20039
I probably won't be able to test this until Monday.

[2022-08-04 23:25] fluesvamp commented on #20010
The following is posted if other Committers/Mere mortals have privacy concerns.

The content of checkAUTHORS doesn't appear to be indexed by search engines.

Based on this I presume that top-level repository files are indexed by search engines.

Perhaps the current AUTHORS and .mailmap  location is not the best owing to privacy concerns.

[2022-08-05 12:03] demerphq commented on #20010
On Fri, 5 Aug 2022 at 01:25, fluesvamp ***@***.***> wrote:

The repo is public. The change log history is public. The email list is
public. All of them are indexed by search engines.  AUTHORS is and has been
part of the distribution forever and being in it is a point of pride for
many more developers than those who wish to be excluded. The fact is that
if someone is email harvesting then they are

[2022-08-05 15:06] jkeenan opened #20046 "ext/Errno/Errno_pm.PL mispositions modeline code"
In blead, `ext/Errno/Errno_pm.PL` unintentionally contains code which makes the file difficult to edit.

Its permissions in a git checkout are completely normal.  In my Ubuntu Linux checkout:
[code]
In my Debian Linux Linode and my FreeBSD checkout the permissions are:
[code]
Whether the permissions are `0664` or `0644`, I fully expect to be able to both read and write to this file.

However, when

[2022-08-06 02:19] carlos157oliveira opened #20050 "[doc] Issues with perlfaq4"
## Where

perlfaq4

Link: https://perldoc.perl.org/perlfaq4

## Description
Good evening.

I have been reading perlfaq4 and noted some inconsistencies, which could be just my doubts, however I would like to point them out section by section.

### [Why doesn't & work the way I want it to?](https://perldoc.perl.org/perlfaq4#Why-doesn't-&-work-the-way-I-want-it-to?)

The final code sample checks if t

[2022-08-06 02:25] Leont commented on #20050
The FAQ is maintained at https://github.com/perl-doc-cats/perlfaq, you probably want to the people over there.

[2022-08-06 10:42] KES777 opened #20051 "[doc] No documentation about our $host and used environment variables"
**Where**
Sys::Hostname

**Description**
Please document `$Sys::Hostname::host` variable and $ENV{*} variables which are used to detect hostname.

[2022-08-06 12:39] jkeenan commented on #20051
I don't see a strong need to add to this:
[code]
What exactly do you find inadequate there?

I think the particular `$ENV{...}` variables the module uses are internal implementation details.

[2022-08-06 16:22] carlos157oliveira commented on #20050
Thank you Mr. Leont. I opened an issue there as well.

[2022-08-06 19:00] Grinnz commented on #20050
Closing as issue is moved to https://github.com/perl-doc-cats/perlfaq/issues/101

[2022-08-06 19:00] #20050 closed

[2022-08-06 19:57] bram-perl opened #20054 "win32/locale: Fallback to 'system default locale' is broken"
**Description:**
In commit 65ebb05984db179833ff252f547043f32184d893 (included in perl v5.20.0) a fallback to the 'system default locale' was added for Windows.
In commit d2b24094d5f9c39457520a4a1ecbabb9e3999245 (included in perl v5.28.0) this however got (accidentally) broken.

Example (using Strawberry Perl):

        set LC_ALL=foo
        set LANG=bar

        .\5.18.4\perl\bin\perl.exe -e1

[2022-08-07 09:17] ivrntsv opened #20058 "PerlIO::get_layers doesn't handle iorefs"
Module:
PerlIO
**Description**

PerlIO::get_layers returns an empty list when called with ioref.
**Steps to Reproduce**

`perl -mPerlIO -E 'my @ls = PerlIO::get_layers(*STDOUT{IO}); say("[@ls]")'`
**Expected behavior**

Return the list of layers.

[2022-08-07 16:28] jkeenan commented on #16674
No one has spoken up for keeping this feature request open.  Closing.

[2022-08-07 16:28] #16674 closed

[2022-08-07 17:46] ntyni opened #20060 "IO::Handle::error() can lose read errors"
As reported by Ian Jackson in https://bugs.debian.org/1016369 IO::Handle::error() can report 0 when there was an error on the filehandle.

A test case is

`perl -MIO::Handle -e 'open X, "<", "." or die $!; $_ = <X>; printf "%s %s\n", X->error(), $!;'`

which returns "0 Is a directory" for me on Linux although all reads on the filehandle fail with EISDIR.

I've debugged this a bit and it looks like

[2022-08-07 18:15] blues1875 opened #20061 "DST problem on Win32 not fully resolved in perl 5.34"
**Description**
https://github.com/Perl/perl5/commit/b277e767f3a3d9af20f138a95c26625cf2dfb53a was introduced to fix a long-standing problem with Daylight Savings Time on Win32 (https://github.com/Perl/perl5/issues/6080). The fix was successful in some combinations of time and time zone, but introduced problems in others. These symptoms are seen in the time zones shown with perl 5.32.0 and 5.34.0 o

[2022-08-07 18:54] KES777 commented on #20051
The problem was how to mock hostname.
I can use `$Sys::Hostname::host =  'manual'` to mock it. Also I was thinking about:

    HOSTNAME=manual perl some_application.pl

[2022-08-07 19:24] ijackson commented on #20060
Another way to exercise this behaviour is this
[code]

I looked through `/dev` and on my system this demonstrtes the malfuntion too:
[code]
(IHNI what `/dev/video0` is; it came up near the end of my `ls` and I observed that `cat </dev/video0 >/dev/null` was able to open the file but not read it.)

[2022-08-07 21:16] EvanCarroll opened #20062 "Can not create a lexical sub in `use` declaration"
Ovid writes in MooseX::Extended,

This should be easy.

[code]

Followed by,

    PERL5LIB=lib perl -E'package Bar { use Foo my sub baz { 42 }; }'

However, that does not compile.

    PERL5LIB=lib perl -E'package Bar { use Foo my sub baz { 42 }; }'

But this does (though it's not useful for our case...)

    perl -MO=Deparse -E'package Bar { use Foo my $foo }'
    perl -MO=Deparse -E'package Bar

[2022-08-07 22:03] xenu commented on #20018
Perl should work on all timezones. Reopening.

[2022-08-07 23:00] xenu commented on #20061
This PR should fix it: #20064

[2022-08-07 23:01] xenu commented on #20018
This seems to have the same underlying cause as #20061, so #20064 should fix it.

[2022-08-07 23:04] haarg commented on #20062
`my sub foo` is not an expression, just like `sub foo` is not. They are statements. So they can't be used as parameters.

[2022-08-07 23:50] jkeenan commented on #20060
In [Debian 1016369](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1016369), Damyan Ivanov provided this test program (which I've renamed with the two bug report numbers):
[code]
The program fails, but in different ways, on both Linux and FreeBSD.

**Linux** (Ubuntu 20.04 LTS)
[code]

**FreeBSD** (version 12)
[code]
So our definition of the problem, as well as our solution and the tests we use

[2022-08-08 00:03] EvanCarroll commented on #20062
Hrm. Did not know that. That's weird. So there is no way to create a named routine as an expression without using a `do` block.

This is a very glorious language.

    perl -E'package Bar { use Foo do { my sub export { die 42 }; \&export } }'

Works exactly as I'd expect it.

[2022-08-08 00:07] #20062 closed

[2022-08-08 01:48] jkeenan commented on #20060
And, FWIW, it fails differently with different versions of Perl.  On perl-5.32 and earlier, on Linux I get test failures in tests 2 and 5 just as I do on FreeBSD.  On perl-5.34 I only get a failure in test 5.  Bisecting points to the following commit as causing the improvement.
[code]
I don't yet understand exactly how this relates to the OP's problem.

[2022-08-08 06:08] raforg opened #20065 "pod2man --quotes=none doesn't suppress quotes in the NAME section"
This is a bug report for perl from raf@raf.org,
generated with the help of perlbug 1.42 running under perl 5.32.1.

-----------------------------------------------------------------
[Please describe your issue here]

pod2man --quotes=none still uses quotes for C<> in the =head1 NAME section.

The --quotes=none option mostly works, but quotes still appear around C<> text
in the NAME section of the

[2022-08-08 06:31] demerphq commented on #20010
Just wanted to post an update that I am working on this as time permits, my changes are nearly done, and a PR will be forthcoming this week.

[2022-08-08 12:19] beemibrahim opened #20066 "Running nmake with `CCTYPE = MSVC143` in the win32 folder fails"
**Description**

I want to embed perl into a C program on Windows.

I am using Visual Studio 2022 to code.

I have previously installed Strawberry perl, put couldn't find `EXTERN.h` and `perl.h` :

![PERLPERL](https://user-images.githubusercontent.com/92852749/183416703-a9f77a86-0481-465f-ae6b-f01999e4665a.png)

I tried to extract the perl source for perl 5.36.0 and found the two header files.

I

[2022-08-08 12:53] sisyphus commented on #20039
I've taken a clone of current blead (commit c870f3e) and reverted https://github.com/Perl/perl5/commit/c8c367581c3333c38d07481e2ea8d81171403c81  by manually editing Cwd.xs.

I then built this perl and found that the perl test suite still passed all tests.
I then  installed that perl, but Path-Class-0.37 still fails in exactly the same way.

One thing I don't understand is that when I build Path-Cl

[2022-08-08 13:16] jkeenan commented on #20065
The code underlying the `pod2man` utility comes from the `Pod::Man` module, which in turn is part of the [podlators](https://metacpan.org/pod/Pod::Man) distribution maintained upstream on CPAN.  So the proper place to report a bug is in the [bug tracker](https://rt.cpan.org/Dist/Display.html?Name=podlators) for that CPAN distribution.  (This ticket will be marked "sendToCPAN" and closed.)

**_That

[2022-08-08 13:16] #20065 closed

[2022-08-08 14:02] jkeenan commented on #20060
@tonycoz, @ppisar:  You have recently touched `ferror` in `dist/IO/IO.xs`.  Could you please take a look at this ticket?

[2022-08-08 14:35] jkeenan commented on #19462
No objection heard to closing this ticket; doing so now.

[2022-08-08 14:35] #19462 closed

[2022-08-08 14:37] kenahoo commented on #20039
That might be the most interesting fact, actually.  Perhaps this branch was never exercised on Windows before, and now it is, and causes the failures we're seeing.

[2022-08-08 14:52] Leont commented on #20039
I guess that means `PerlLIO_lstat` gets confused and returns a failure, in which case the whole function returns `NULL`.

[2022-08-08 16:01] ntyni commented on #20060
The referenced [Debian report](https://bugs.debian.org/1016369) discusses both a read error issue and a write error issue.

The /dev/full test is for the write error issue. I believe it was #6799 and got fixed in 5.34.

The read error issue is what I filed this bug about.

Hope this clarifies.

[2022-08-08 18:44] blues1875 commented on #20061
Excellent, @xenu! That fixed it for me. Applying your fix to blead gave me a clean build in my timezone. For my little test setup I now get this:
[code]

[2022-08-08 18:44] #20061 closed

[2022-08-08 19:22] jkeenan opened #20069 "BBC: Latest version of JSON::PP breaks Cpanel::JSON::XS, perhaps others"
In https://github.com/Perl/perl5/pull/20067, @haarg prepared a p.r. to synch the most recent version of JSON::PP (4.11) into blead.  Since (a) [CPANtesters results for this version](http://matrix.cpantesters.org/?dist=JSON-PP+4.11) looked good; (b) we trust the maintainers of our CPAN-upstream modules to DTRT; and (c) any problems are likely to be exposed more quickly in blead than in branches; I

[2022-08-08 19:51] demerphq commented on #20010
Hi all, I have pushed https://github.com/Perl/perl5/pull/20070 to remove this users details, and restructure and unify our AUTHORS related logic into one place (updateAUTHORS.pl) and add the ability to exclude people in a somewhat PII friendly way (hashed details). I expect to make some further patches to updateAUTHORS.pm once it gets merged or as part of the review process depending on my time av

[2022-08-08 21:52] haarg commented on #20069
This is https://github.com/rurban/Cpanel-JSON-XS/issues/194 and https://github.com/rurban/Cpanel-JSON-XS/issues/198. The failure is expected, but we want to see what else in the ecosystem has problems.

[2022-08-08 22:38] jkeenan commented on #20069
On 8/8/22 17:52, Graham Knop wrote:

I knew about https://github.com/rurban/Cpanel-JSON-XS/issues/198 but
hadn't seen (or didn't recall)
https://github.com/rurban/Cpanel-JSON-XS/issues/194.  @rjbs was involved
with 194.

As far as the rest of the ecosystem goes ... once I could not get
Task::CPAN::Reporter installed, I turned to `cpanm` and tried to install
this list of modules, albeit without att

[2022-08-09 01:04] tonycoz commented on #20060
I expect it's fixable, but might cause other changes in behaviour, I tried:
[code]
which allowed one of your test cases to pass (I didn't try the others):
[code]

but caused a test failure I don't have time to track down right now.

[2022-08-09 01:09] #20018 closed

[2022-08-09 03:19] sisyphus commented on #20039
I inserted some warn() statements in Cwd.xs and established that <code>PerlLIO_lstat(resolved, &sb)</code> returns a non-zero value, and the condition<code>(errno == ENOENT && p == NULL)</code> is FALSE - and we immediately fall through to the explicit <code>return (NULL);</code> (at line 193 of the current blead version of Cwd.xs).

I've no idea what needs to be done.

[2022-08-09 03:35] raforg commented on #20065
OK. I can always fix the output with sed :-)

[2022-08-09 10:07] beemibrahim opened #20071 "How Would I embed perl scripts into my C program that aren't on the filesystem."
I have managed to build the **perl** source and embed **perl** into my **C** program.

I want to encrypt **perl scripts/modules** inside my **application** since they
are **private**.

I will decrypt the **perl scripts/modules** at **runtime** and feed them to the
**perl interpreter** so that it can run them.

However, every **example** on the **perldocs**, passes the **perl** script to the **exec

[2022-08-09 10:08] beemibrahim commented on #20066
I have solved this my upgrading to the newest version of perl

[2022-08-09 10:08] #20066 closed

[2022-08-09 11:38] Leont commented on #20071
There are legitimate questions, but this is not the right venue for support questions. You probably should try another resource such as StackOverflow.

[2022-08-09 11:38] #20071 closed

[2022-08-09 11:43] Leont commented on #20039
TBH I think this needs to get fixed on the Path::Class side.

[2022-08-09 14:40] kenahoo commented on #20039
Not IMO.  I think the `Path::Class` test exposed a regression in either `perl` or `Cwd` that needs to be understood first.

[2022-08-09 15:37] haarg commented on #20065
The part of the behavior that is intentional is using plain ASCII quotes, rather than `` C` `` and `C'` codes. It should still be following the quotes option. This can be seen in https://github.com/rra/podlators/commit/5d580aa2cbbc5541eb2ae2094b7228d78f1251e8. So I'd encourage you to file a bug regarding this.

[2022-08-09 18:10] Leont commented on #20039
I think you voided the warranty the moment you did `BEGIN { $^O = 'Unix' }`. The obvious solution is to change the tests to use File::Spec instead of hardcoding unix paths.

[2022-08-09 18:36] kenahoo commented on #20039
That is indeed obvious, but it's not the end of the story.

I understand I can fix the `Path::Class` tests by doing that, and I will do so.  If nobody on the `perl` core team wants to find out what actually broke in the new `perl` release, and how that could affect other code besides `Path::Class`, then I guess that's all we'll do.  I'm hoping that's not the case.

So I agree that the `Path::Class

[2022-08-09 19:04] Leont commented on #20039
What does the path that it trips over look like?

[2022-08-09 20:22] xenu commented on #20039
For example `C:\Users\xenu\Documents\git\Path-Class/C:\Users\xenu\Documents\git\Path-Class`.

It seems the problem is that the unix version of `Cwd::realpath` started validating paths on Windows when `lstat` became available in Perl 5.34.

Perl 5.32:
[code]

blead:

[code]

[2022-08-09 20:24] xenu commented on #20039
Naturally, the native version of `Cwd::realpath` works properly. This is on blead:
[code]

[2022-08-09 22:05] Leont commented on #20039
Looks like GIGO to me

[2022-08-10 02:08] sisyphus commented on #20039
@xenu has probably already provided the info that you need.

The problematic test in t/01-basic.t is:
[code]

According to warn() statements that I inserted into t/01-basic.t, both <code>dir()->absolute</code> and  <code>dir(Cwd::cwd())</code> are<code>C:\sisyphusion\Path-Class-0.37</code> - ie my CWD.
ok() chokes on whichever of its arguments it evaluates first.
That is the only test in the entir

[2022-08-10 08:38] beemibrahim opened #20075 "Embedding Perl into C throws 37 unresolved externals on Windows"
I built perl statically using `ALL_STATIC` `CCTYPE=MSVC143` `BUILD_STATIC` in the win32 makefile and linked to the libraries :

- perl537s.lib

- perl537.lib

And when I compile it on Visual Studio I get these errors :

[code]

Does anybody know what I can do to resolve this ?

I did nothing wrong.

For some reason most of the unresovled symbols are coming from a file called "win32sck.obj" do I ha

[2022-08-10 09:31] demerphq commented on #20075
On Wed, 10 Aug 2022 at 10:39, ibrahim muhmud usmani <
***@***.***> wrote:

Hi,

We dont have a lot of Windows engineers on the project so you probably need
to try to help them help you. What have you done to debug this? What were
the steps someone needs to replicate the issue? What do you think should be
done to resolve it?

Also, do realize that nobody gets paid to do this, they do it because it

[2022-08-10 09:34] AnFunctionArray commented on #20075
Try different CCTYPE - or rather uncomment the specific version in the make file

[2022-08-10 09:35] beemibrahim commented on #20075
I've updated the question

[2022-08-10 09:38] beemibrahim commented on #20075
I am using Visual Studio 2022 and "MSVC143" is for Visual Studio 2022. Other options won't work for me

[2022-08-10 09:39] AnFunctionArray commented on #20075
@beemibrahim Same but nevertheless do try the other options - at least the 2019 - because I remember having similar issues with the 2022 option.

[2022-08-10 09:49] beemibrahim commented on #20075
I am gonna make a reproducible sample

[2022-08-10 12:15] Leont commented on #20075
Sounds like it isn't linking to ws2_32.dll but it should.

[2022-08-10 13:07] beemibrahim commented on #20075
Hmm, for some reason the reproducible sample didn't reproduce the error.

Well I guess I am done here.

[2022-08-10 13:07] #20075 closed

[2022-08-10 15:40] haarg commented on #20069
Cpanel::JSON::XS version 4.31 has been released to address this issue.

[2022-08-10 16:35] jkeenan commented on #20069
Thanks for the update.  I will confirm later today or tomorrow.

[2022-08-10 18:20] Leont commented on #20039
What happens there is that the unix realpath code considers `C:\Users\xenu\Documents\git\Path-Class` a relative path, so it prepends the current working directory, leading to the obvious bogus path. The later `abs2rel` will turn it into a valid (but absolute) path. SNAFU.

[2022-08-10 21:42] wchristian commented on #20039
Very much agreed.

Do keep in mind that File::Spec is literally just an alias to return a File::Spec subclass based on the operating system currently running: https://metacpan.org/dist/PathTools/source/lib/File/Spec.pm

As such, if you lie to File::Spec intentionally AND also use actual paths from your system, then it is your personal duty to remain aware that you are feeding it garbage and to con

[2022-08-10 22:48] kenahoo commented on #20039
An observation - it appears that `File::Spec` does intend, at least somewhat, for users to be able to work with logical paths as represented on other OSes (see https://metacpan.org/pod/File::Spec#DESCRIPTION):

So it sort of says "it might work", but doesn't make a lot of guarantees.

As @wchristian points out,

so the hack of setting `$^O = "Unix"` is not actually what's causing this problem - th

[2022-08-11 00:19] sisyphus commented on #20039
On perl-5.32.0:
[code]
Same result on blead:
[code]
Cheers,
Rob

[2022-08-11 02:28] kenahoo commented on #20039
Very interesting - so apparently `Cwd::cwd()` doesn't care about `$^O` being wrong on Windows (which seems kind of weird to me!), but `Cwd::realpath()` does.  If I scanned through the code correctly, they would be defaulting to `_perl_getcwd` and `_perl_abs_path`, and the former is just calling the latter with an argument of `'.'`.

[2022-08-11 04:43] sisyphus commented on #20039
On perl-5.32.0:
[code]
We see there that, on perl-5.32.0, <code>_perl_abs_path('.')</code> has returned a strange result.
On perl 5.36 and blead we get:
[code]
It's making my head spin ;-)
I vote that we just make $^O readonly, and be done with the vagaries of allowing it to be overwritten.

Cheers,
Rob

[2022-08-11 10:50] twata1 opened #20080 "RealPPPort.xs: "cast from pointer to integer of different size" using MinGW-w64"
**Description**

I'am building [Perl 5.37.2](https://metacpan.org/release/ATOOMIC/perl-5.37.2) on Windows 8.1 64 bit using MinGW-w64 (gcc (x86_64-posix-sjlj-rev0, Built by MinGW-W64 project) 8.1.0).

One of the build warnings is:
[code]
**Steps to Reproduce**

Download perl-5.37.2.tar.gz from [metacpan](https://cpan.metacpan.org/authors/id/A/AT/ATOOMIC/).
Extract from perl-5.37.2.tar.gz to C:\Perl

[2022-08-11 12:37] jkeenan commented on #20069
I've been able to install the latest version of Cpanel::JSON::XS (4.31) as well as the other modules I previously tried.  However, matrix.cpantesters.org has gotten very slow at displaying the results of tests.  For example, the result of a test I generated yesterday at 14:43 EDT is not yet displayed nearly 18 hours later.  So I'll self-assign this ticket for the purpose of monitoring it for sever

[2022-08-11 14:08] kenneth-olwing opened #20081 "Windows builds built with gcc -O2 works on Win10 but fails on Win11"
_**The below was done with blead@c52f54c8521c6155984dba0a0675d3220170468b and using a standard MSI install of Strawberry  Perl 5.32.1.1 as the toolchain.**_

**Description**
Building is done out-of-the box with:
[code]
The build seems fine. Also, on a Win10 machine tests passes.
However, on my Win11 box the tests fails with:
[code]
Most of the fails are the test process simply dying. I'm at this p

[2022-08-11 14:35] kenneth-olwing commented on #20081
To hopefully shed more light on this I've made a couple builds as described above, e.g. with default -O2 and with -Os, on both Win10 and Win11, e.g. basically 4 builds.

Further, in order to try to provoke the error in more isolation I grabbed the t/test.pl and t/re/reg_mesg.t and placed them together in an empty directory. The reg_mesg.t file reset the INC in a BEGIN block, I commented that out.

[2022-08-11 15:11] hvds commented on #20081
From the exit codes, it seems that `win32/popen.t` is crashing while the others are dying.

For the crashing one it would be useful to get a C-level stacktrace if you are able to run it under a debugger. It may then be possible to home in on the issue by showing that just one of the source files mentioned in the stacktrace needs to be compiled with `-Os` to fix the problem.

A crash is usually a g

[2022-08-11 15:19] kenneth-olwing commented on #20081
Thanks, will look into that. Admittedly however, is there a shortish help on how I could interpose a debugger given the tools I have  (or what I would need)? My C/C++ days are about 25 years in the mirror, and then it was Windows only with msvc...:-)...

But, I'll start digging on the popen front.

[2022-08-11 16:33] xenu commented on #20081
Do you have an antivirus or some kind of anti-cheat software running? They sometimes cause weird problems on Windows.

Anyway, to obtain a stacktrace, follow these instructions:

1. Apply this patch and rebuild Perl. Make sure your checkout is fully clean, `git clean -dxf` is the usual way to do it.
[code]

2. Start the crashing test under gdb:

[code]
3. Inside gdb, type `run` and if it crashes,

[2022-08-11 17:19] xenu commented on #20081
Actually, you don't have to edit the Makefile, just passing `OPTIMIZE="-ggdb -O2" LINK_DBG="-ggdb"` to `gmake` will do.

[2022-08-11 18:14] jkeenan commented on #20080
*(Note: I don't have Windows, so my own ability to diagnose this problem is limited.)*

Can you provide a bit more context for the build-time warning you posted above?  For instance, can you post some of the commands which `make` executes immediately before the warning is generated?

For example, when on FreeBSD I search for `RealPPPort` in the output of `make`, I get an area like this:
[code]
Is

[2022-08-11 18:20] jkeenan commented on #20080
Do you have the capability of trying any later version of `gcc` here?

I ask because it's my impression that certain build-time warnings I got with older versions of `gcc` simply went away once I was able to compile with, say, gcc-9, gcc-10 or later (although those later versions did introduce new build-time warnings).

[2022-08-11 19:15] kenneth-olwing commented on #20081
Thanks @xenu,

I'm using the builtin antivirues, i.e. Windows Security; turning off the realtime checks doesn't seem to make a difference.

As you said, an absolutely clean clone, and built with the params to gmake (no patch). Jumping directly to "... TEST_FILES=win32\popen.t test" was disappointing...it passed ;-). So running it with gdb should be uninteresting, although it looks a bit weird. Sin

[2022-08-11 19:17] kenneth-olwing commented on #20081
BTW, would it help or hinder any to build with CFG=Debug?

[2022-08-11 19:49] kenneth-olwing commented on #20081
No, it seems that the win32\popen now fails in another build with the gdb settings made so...and the gdb run looks the same. IIUC, it's the watchdog that eventually kills the process. Not sure how to best proceed there...:-/

Also, for re\reg_mesg.t I'm unable to get a Carp:confess(), it appears to never reach that. The process dies a quick death I assume...

[2022-08-11 21:36] xenu commented on #20081
That reg_mesg.t stacktrace looks like yet another instance of #17521, which is a recurring issue. But it's weird, I didn't expect it to be triggered by running on a different OS version. I thought it was just about toolchain.

[2022-08-11 21:43] twata1 commented on #20080
Thanks for the reply. Just where I can cope with quick.

| Do you have the capability of trying any later version of gcc here?

No. The gcc binaries I was able to find were up to [8.3](https://strawberryperl.com/package/kmx/64_gcctoolchain/).

[2022-08-11 22:01] #20058 closed

[2022-08-11 22:32] Leont commented on #20080
The warning isn't wrong (unsigned long on Windows would be 32 bits, and the pointer 64 bits), just rather useless.

[2022-08-12 00:09] sisyphus commented on #20080
For more recent versions (of both gcc and mingw runtime) see https://winlibs.com/ .
For perl, you'll want one of the "MSVCRT releases". (AFAIK the "UCRT releases" won't build perl.)
I have been using compilers from there for the last couple of years.

If you use gcc-12.1.0, the 64-bit version won't build perl-5.36.0 or earlier unless you patch the source (see https://github.com/Perl/perl5/issues/1

[2022-08-12 01:41] sisyphus commented on #20080
It's not apparent to me why warning about casting a pointer to an unsigned long is useless.

Cheers,
Rob

[2022-08-12 01:48] raforg commented on #20065
Thanks. I've done that:

  #143967: pod2man --quotes=none doesn't suppress quotes in the NAME section
  https://rt.cpan.org/Ticket/Display.html?id=143967

[2022-08-12 09:29] kenneth-olwing commented on #20081
Yes, this does indeed seem to be the same underlying problem as in #17521, but twists it a little bit. The issue suggests that DEBUGGING 'fixes' the problem so I tried an out of the box build with just turning on that:
`gmake -f GNUmakefile CCHOME=c:\Strawberry\c CFG=Debug test`
It 'fixes' all the previous test problems, but unfortunately moves the problems elsewhere...:-)
[code]
Repeating and tur

[2022-08-12 10:16] sisyphus commented on #18768
I've noticed that this issue is not present in my builds of perl-5.36.0 and perl-5.37.2.
I think it went away in perl-5.35.x ... but I do't know what the values of "x" was.

Should this be Issue be closed ?

Cheers,
Rob

[2022-08-12 15:13] bram-perl opened #20085 "locale changes causes failures with -Duseithreads"
After the merge of khw/locale-3 builds with `-Duesithreads` appear to trigger test failures.

Smoke reports:

* failure in lib/locale.t: https://perl5.test-smoke.org/report/5021335
* failure in t/uni/fold.t, t/re/subst.t, t/re/subst_wamp.t, t/re/substT.t: https://perl5.test-smoke.org/report/5021377
* failute in t/uni/fold.t, t/re/subst.t, t/re/subst_wamp.t, t/re/substT.t + others: https://perl5.te

[2022-08-12 16:09] twata1 commented on #20080
Thank you all for your replies.

@jkeenan

Yes. It was as follows.

[code]

I also attached build.log. (The log file is converted to utf8 because a few Japanese sentences are mixed in places. Several other warning messages are also output.)
[gmake-2022-08-12.log](https://github.com/Perl/perl5/files/9324707/gmake-2022-08-12.log)

I think I have a warning message output but it is roughly similar.

I

[2022-08-12 19:19] jkeenan commented on #20085
What I got on Linux:
[code]
@khwilliamson, can you take a look?

[2022-08-12 19:43] jkeenan commented on #20085
@bram-perl, I wanted to try to confirm your bisection results.  On Linux I tried the following invocation:
[code]
But I didn't get good results:
[code]
Could you post your bisection command so that I can figure out what I did wrong?

[2022-08-12 23:24] jkeenan opened #20086 "t/re/subst.t: superfluous SKIP block?"
In `t/re/subst.t` there is a `SKIP:` block beginning at line 1013 and ending at line 1078.  However, AFAICT there is no `skip` statement within this block defining the requirements for the block to be skipped.

(There *is* another `SKIP:` block within the one starting at 1013.  That one starts at 1062, has a properly defined `skip` statement from 1063 to 1065, and ends at line 1076.)

[code]
It se

[2022-08-13 01:06] pgnd opened #20087 "outdated Locale::Maketext updates successfully, then immediately reports as (still) outdated"
Module: Locale::Maketext

**Description**
After successfully updating Local::Maketext,

	Successfully installed Locale-Maketext-1.31 (upgraded from 1.29)

still reports as Outdated @ next check

[code]

cc: @toddr

[2022-08-13 01:24] toddr commented on #20087
Ok

[2022-08-13 11:56] jkeenan commented on #20087
This problem does not appear to be caused by any sub-optimal code in the Perl core distribution (for which this site is the bug tracker).  The string `cpan-outdated` does not occur anywhere within the core distribution.  It is most likely the name of a utility program which is [maintained on CPAN](https://metacpan.org/dist/cpan-outdated/view/script/cpan-outdated), *i.e.,* not maintained as part of

[2022-08-13 13:13] pgnd commented on #20087
without using/refererencing fairly common modules App::cpanoutdated or Module::Info ...

checking

https://perldoc.perl.org/corelist
 List modules in Module::CoreList

CPAN's in core

[code]

& Local::Maketext's in core
[code]

zero perlocal.pod
[code]

update Locale::Maketext with CPAN from v1.29 to v1.31
[code]

reports that v1.31 is installed
[code]

subsequent update still updates from "instal

[2022-08-13 17:57] andk opened #20088 "BBC: Sys-Proctitle-0.04 does not compile anymore"
**Description**

With `v5.35.1-108-g7169efc775` the cpan pkg `OPI/Sys-Proctitle-0.04.tar.gz` stopped compiling on all of my smokers. Bisect lead me to:
[code]

**Steps to Reproduce**

`cpan -i OPI/Sys-Proctitle-0.04.tar.gz`

**Expected behavior**

It should build, test, and install the pkg

Instead I get output like:
[code]

**Perl configuration**

[code]

[2022-08-13 22:16] jkeenan commented on #20088
Bisecting with this invocation:
[code]
... I confirmed that this occurred in the last dev cycle:
[code]
@tonycoz, can you take a look?

[2022-08-13 23:07] jkeenan commented on #20088
If someone could review this patch I submitted upstream ...
https://rt.cpan.org/Ticket/Display.html?id=144009#txn-2313057
... then perhaps we could dispose of this issue quickly.

[2022-08-14 01:08] Leont commented on #20088
That code would have failed on non-GCC previously already, so a change in the module is appropriate.

Patch looks correct to me.

[2022-08-14 09:33] sisyphus commented on #20081
I'm sorry that it has taken me a couple of days to notice that request.
I use the "MSVCRT Runtime" release of gcc-12.1.0 from https://winlibs.com :
https://github.com/brechtsanders/winlibs_mingw/releases/download/12.1.0-14.0.6-10.0.0-msvcrt-r3/winlibs-x86_64-posix-seh-gcc-12.1.0-llvm-14.0.6-mingw-w64msvcrt-10.0.0-r3.7z

(There's also a version available there that doesn't have LLVM/Clang/LLD/LLDB

[2022-08-14 10:47] twata1 commented on #20080
Hello everyone.

I have been able to confirm that both gcc-10 and gcc-11 produce the same warning as gcc-8.1.
But I will ignore it if the warning isn't wrong.
(Other warnings are output, but I won't mention them here because they are far from the content of this title.)

Overview of Execution Commands for gcc-10:
[code]

Relevant part of the log:
[code]
Full log (copy command results translated in

[2022-08-14 13:21] sisyphus commented on #20080
The thing is that, on 64-bit Windows, the condition <code>(PTR2ul(p) != 0UL)</code) will never be falsely TRUE.
That is, if it returns TRUE, then we can be certain that the pointer was not null && that PTR2ul functioned correctly..

And it could only return FALSE when it should have returned TRUE if the value held by the pointer overflows 32-bits && the low 32 bits are all zero - which is a scenar

[2022-08-14 14:12] Leont commented on #20080
Agreed

[2022-08-14 14:33] twata1 commented on #20080
Ok. I ignore the warning ( and if I ever have the opportunity to cast longsize, I will rely on PTR2UV. )
Thank you. I appreciate it!

[2022-08-14 19:09] jkeenan opened #20090 "t/porting/globvar.t: fcbef0e88b causes test failures on OpenBSD unthreaded builds"
In a [smoke test report on OpenBSD-6.9](https://perl5.test-smoke.org/report/5021519), I observe new and unexpected test failures in `t/porting/globvar.t`.  These failure appear to be happening on **unthreaded** builds only.
[code]
In my OpenBSD smoke testing I configure like this:
[code]
... to better simulate the `ccflags` setting of the platform's "vendor" `perl`. (@afresh1)  The smoke-testing c

[2022-08-14 19:28] jkeenan commented on #20090
The failing file run in git checkout:
[code]

[2022-08-15 16:17] wolfsage commented on #20087
After some debugging in #perl on libera, I've come to the conclusion that Locale::Maketext's Makefile.PL is broken.
It contains this line which both includes a logic error and a problem:
[code]

(how can $] be both < 5.008 and > 5.011?)

This change comes with this comment in the perl source:
[code]

In this user's case, their `@INC` is:
[code]

Both cpan and cpanm, because of INSTALLDIRS, was ins

[2022-08-15 20:15] kenneth-olwing commented on #20081
Thanks for the winlibs link; the short version is that I've tried as-is...and get other errors than with 8.3.0 from Strawberry. I decided not to pursue this at this point since it becomes so many variants of problems to keep track of. A guess is that there's a fair chance that the root cause is the same with the newer gcc, it's just moving to another place. When I've come to a stable point with 8.

[2022-08-16 02:06] sisyphus commented on #20081
I have a suspicion that "threads" is also playing a part - at least in the weirdness that I'm seeing on Windows 7.
For example, if I build perl unthreaded (<code>USE_MULTI=undef USE_ITHREADS=undef USE_IMP_SYS=undef</code>) I can specify -O2 optimization && build with gcc-12.1.
The test suite then runs nicely and passes all tests.

The downside to unthreaded perls on Windows is that you lose the fo

[2022-08-16 05:40] sisyphus commented on #20080
Turns out that this is a duplicate of https://github.com/Dual-Life/Devel-PPPort/issues/107 .
I think that's the more appropriate forum for discussion of the problem, and I suggest that this "Issue" be closed and further discussion should take place at https://github.com/Dual-Life/Devel-PPPort/issues/107 where I've submitted the following patch for review:
[code]
Cheers,
Rob

[2022-08-16 06:50] toddr commented on #20087
Yep. I messed that one up. Should be this to cope with bad @INC order from 5.8 to 5.011 Any objections or comments to this change?

[code]

[2022-08-16 06:51] toddr commented on #20087
The change would only be made in the dual life module.

[2022-08-16 07:46] haarg commented on #20087
Should probably be `$] >= 5.008 && $] < 5.011`

[2022-08-16 09:39] twata1 opened #20096 "threads.xs: "implicit declaration of function '_setjmpex'" using MinGW-w64"
**Description**

I'am building Perl 5.37.2 on Windows 8.1 64 bit using MinGW-w64 (gcc (MinGW-W64 x86_64-posix-seh, built by Brecht Sanders) 10.3.0).
I am using gcc, which can be found at https://winlibs.com/ .

One of the build warnings is:

[code]

I can confirm that the above warning is also output in gcc-8.5.0, gcc-11.3.0 and gcc-12.1.0.

**Steps to Reproduce**

Download perl-5.37.2.tar.gz from

[2022-08-16 17:08] kenneth-olwing commented on #20081
Right. I'm sure you're right in that it's somehow thread-related (also). However, I need threading so disregarding that is not an option for me :-/

In short, I have a fairly large toolset in Perl at work which needs to work on both Linux & Windows. It's on the order of +20 years old and when I a few years ago was able to lay my hands on the project, I've worked hard to improve and modernize it in

[2022-08-17 00:14] sisyphus commented on #20080
Actually, that might be incorrect. Right here is the more appropriate forum if I understand https://perldoc.perl.org/perlsource correctly.

Cheers,
Rob

[2022-08-17 00:31] #19851 closed

[2022-08-17 02:46] sisyphus commented on #20081
There's some comments in t/win32/popen.t that are a little obscure:
[code]
\#77672 (which I haven't yet located) is referenced in perl5200delta - and the claim seems to be that it fixed the issue you are now seeing.
Maybe \#77672 now needs some further adjustment.
Maybe the watchdog can simply be removed.

I can't find any written record of having problems with that test file on my Windows 7 machi

[2022-08-17 03:31] AnFunctionArray opened #20104 "WHILEM: matched 65535 out of 0..65535"
So I was wondering why it wasn't matching at a an obvious match - apparently I had reached the limit wow.

[2022-08-17 03:31] AnFunctionArray commented on #20104
I don't know if it's a bug but it's an interesting corner case at least.

[2022-08-17 03:39] AnFunctionArray commented on #20104
The obvious solution is to use recursion at the end like: `(?<pattern>(something)*+(?&pattern)?+)`.

[2022-08-17 03:40] #20104 closed

[2022-08-17 04:16] sisyphus commented on #20096
This patch silences the warnings for me:
[code]
I think it's correct - but I haven't yet tested it as thoroughly as I would like. (Maybe later today.)

It's rather annoying that this dual-life module is at version 2.28 in the perl source, but if you want to get a standalone source of it, there's nothing later than version 2.21 on CPAN.
I wonder if it should be moved from 'dist' to 'ext' in the per

[2022-08-17 06:37] florian-pe opened #20105 "susbtr() indexing is wrong on very big numbers"
Above a certain value, the output of `substr EXPR,OFFSET` is the last character of the string
[code]
And above the same value, the output of `substr EXPR,OFFSET,LENGTH` chop off the last character of the string

[code]

[code]

[2022-08-17 06:58] demerphq commented on #20104
Recently we merged a patch sequence that means that it should be trivial to replace all of these short integer counts with proper sized ones. @khwilliamson @hvds

[2022-08-17 08:02] florian-pe commented on #20105
Here is some additional numerology.

We get the entire string as long as the Most Significant Bit of a pointer size value is not set
[code]
then no value, as long as the MSB is set
[code]
Then we start getting some of the string again, probably following the overflow, which should unset the MSB
[code]
But then it behaves as if the (whichever it is) sign bit is set ...
[code]
... because it behaves

[2022-08-17 08:39] kenneth-olwing commented on #20081
Standard disclaimer by now: It's still possible that all this is a 'me' problem in my context only...

### Re: win32\popen.t
The tricky part is of course that the watchdog doesn't 'fix' any problem, just acknowledges and takes us out of a hang. Actually, just a *possible* hang - I've had a few instances where running the test manually takes an unusual long time, e.g. far longer than 20 secs, but *

[2022-08-17 09:35] demerphq commented on #20105
Personally I don't really think this is a bug in substr().

This is an example where perls flexibility with numeric types produces surprising results. Lets look at what perl thinks of that first number:

$ perl -MDevel::Peek -le'Dump(18446744073709551615)'
SV = IV(0x55c42a6896d0) at 0x55c42a6896e0
  REFCNT = 1
  FLAGS = (IOK,READONLY,PROTECT,pIOK,IsUV)
  UV = 18446744073709551615

This value happe

[2022-08-17 11:38] twata1 commented on #20080
@sisyphus

Thank you for your suggestion.

I did not know [Dual-Life module GitHub repository](https://github.com/Dual-Life) existed.
I too think it would be better to discuss this at https://github.com/Dual-Life/Devel-PPPort/issues/107 .

I will close this ticket.

[2022-08-17 11:38] #20080 closed

[2022-08-17 12:16] jkeenan commented on #20090
@khwilliamson, have you had a chance to take a look at this?

[2022-08-17 12:58] twata1 commented on #20096
Thanks for the patch suggestion.

By the way, I will close this ticket once and open the same at "https://github.com/Dual-Life/threads/issues".
I would be happy to communicate with you there.

Thank you,

[2022-08-17 13:05] sisyphus commented on #20096
No - I think I gave you misinformation and that it's better to  discuss it here. I'm not sure.
I'm seeking clarification from p5p - see https://www.nntp.perl.org/group/perl.perl5.porters/2022/08/msg264633.html.
(No replies yet at time of writing).

Cheers,
Rob

[2022-08-17 14:35] jkeenan opened #20108 "9fdd7fc479 breaks build using g++ as compiler"
A recent commit to blead has broken the build when using `g++` as the C-compiler.

I first noticed this breakage in recent smoke-test reports such as [this one](http://perl.develop-help.com/raw/?id=284029).

Bisecting with this invocation:
[code]
... points to this commit:
[code]
@richardleach, can you take a look?

@neilb, can you keep an eye on this, as it will affect the monthly dev release sch

[2022-08-17 14:43] jkeenan commented on #20108
And, no surprise, clang++ builds are breaking as well.  [Here's](https://perl5.test-smoke.org/report/5021664) one on OpenBSD.

[2022-08-17 15:05] Leont commented on #20096
No, someone should just release this module to CPAN. I'm likely to do that for threads::shared as soon as I've fixed one more issue, I might also do threads.

[2022-08-17 16:24] jkeenan commented on #20108
Correction for copy/paste error noted by Bram:
http://perl.develop-help.com/raw/?id=284149

[2022-08-17 16:28] khwilliamson commented on #20090
On 8/17/22 06:17, James E Keenan wrote:

I haven't been able to reproduce this so far on my Linux box.  Am
actively working on it.

[2022-08-17 16:58] jkeenan commented on #20090
I was able to reproduce this on Linux as well as OpenBSD.
[code]
Let me know if there's any other information I can provide.

[2022-08-17 18:04] #20108 closed

[2022-08-17 22:52] jkeenan opened #20112 "t/uni/overload.t: a7ff7aca38 causes test failures on FreeBSD-13 threaded builds"
In a FreeBSD-13 VM I use for smoke-testing, I am seeing new failures in `t/uni/overload.t` on threaded builds.  [Sample smoke-test report](https://perl5.test-smoke.org/report/5021675)

The failures look like this:
[code]
Bisecting with the following invocation:
[code]
... pointed to a7ff7aca3826600e5832ffe161fe075182f19a82
[code]
@khwilliamson, can you take a look?  Here's some locale data:
[code]

[2022-08-18 00:54] sisyphus commented on #20096
Ok - thanks @Leont .

@twata1, I think the next thing to do is to create a new pull request for this at https://github.com/Perl/perl5/issues .
If you would like to do that, then please proceed.
Otherwise, I'm happy to do it.

Cheers,
Rob

[2022-08-18 06:50] twata1 commented on #20096
@sisyphus
Thank you for your suggestion. It may take some time but I will give it a try.

[2022-08-18 10:03] twata1 commented on #20096
I will now test using gcc-8.5.0, gcc-11.3.0 and gcc-12.1.0 to see if that warning in Perl 5.37.2 threads 2.28 is suppressed.

I am also considering the attached regarding the pull request text.
[PR-perl-threads-2.28.txt](https://github.com/Perl/perl5/files/9372488/PR-perl-threads-2.28.txt)

If you could point out if I am going in any wrong direction, I would greatly appreciate it.

[2022-08-18 11:27] cjg-cguevara opened #20114 "BBC: Blead Breaks Variable::Magic, Devel::Caller"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.3.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Variable::Magic

Please see http://matrix.cpantesters.org/?dist=Variable::Magic

[Please do not change anything below this line]
----

[2022-08-18 12:51] jkeenan commented on #20114
Bisection points to this commit:
[code]
@richardleach, can you take a look?

[2022-08-18 13:53] twata1 commented on #20096
I could certainly confirm that the warning is suppressed.

Relavant part of the log for gmake with gcc-12.1.0
[code]

Relavant part of the log for gmake with gcc-11.3.0
[code]

Relavant part of the log for gmake with gcc-8.5.0
[code]

Full log (copy command results translated into English):
[gmake-2022-08-12-with-gcc12.log](https://github.com/Perl/perl5/files/9374363/gmake-2022-08-12-with-gcc12.lo

[2022-08-18 14:06] #20087 closed

[2022-08-18 15:08] #20085 closed

[2022-08-18 15:15] jkeenan commented on #20069
CPANtesters reports for 4.31 and 4.32 look good; closing.

[2022-08-18 15:15] #20069 closed

[2022-08-18 17:24] jkeenan commented on #20108
Repair confirmed with a build on FreeBSD with this invocation:
[code]

[2022-08-18 18:11] jkeenan commented on #20112
Status as of now (v5.37.2-208-gbf4a32d613):
[code]

[2022-08-18 18:27] jkeenan commented on #20112
Note: I'm not getting these test failures on *unthreaded* builds on this VM, nor am I getting them on threaded builds on my regular FreeBSD-12 machine.  On the latter, locales are different from the FreeBSD-13 VM:
[code]
(I've never consciously modified locales on these machines.  AFAICT, these are "out of the box.")

[2022-08-18 22:28] wolfsage commented on #20087
Thanks!

[2022-08-19 10:04] andk commented on #20114
Also affected: RCLAMP/Devel-Caller-2.06.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/c1521d8a-1f31-11ed-90cd-b2ccdf0dbbbc

[2022-08-19 14:00] sisyphus commented on #20105
I can see  consistency in the non-bignum examples.
The behaviour is consistent with the <code>OFFSET/LENGTH</code> argument being evaluated as -1 if it exceeds UV_MAX.
This is reproducible in the following Inline::C script:
[code]
To me, that provides credence to the behaviour.
I have less than zero interest in what happens when bignum gets involved. (I don't mean to denigrate "bignum" ... this is

[2022-08-19 16:24] richardleach commented on #20114
Patch for Devel::Caller supplied in https://rt.cpan.org/Ticket/Display.html?id=144051

[2022-08-19 17:17] richardleach commented on #20114
Patch for Variable::Magic supplied in https://rt.cpan.org/Ticket/Display.html?id=144052

[2022-08-19 21:04] jkeenan commented on #20114
In addition to the test failures previously reported in Variable::Magic, we're also getting failures in 2 test files which are only run on threaded builds (which implies that the patch already sent upstream for this module will not be sufficient).

CPAN distribution Variable-Magic is experiencing test failures against Perl 5 blead.  CPANtesters results [here](http://matrix.cpantesters.org/?dist=Va

[2022-08-19 22:41] richardleach commented on #20114
Thanks for the details. I've updated https://rt.cpan.org/Ticket/Display.html?id=144052 with a revised patch for Variable::Magic.

[2022-08-20 03:07] khwilliamson commented on #20112
This turns out to be a freebsd bug
[https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=265950](url)

[2022-08-20 03:25] #20090 closed

[2022-08-20 11:46] jkeenan commented on #20112
@khwilliamson, github did not do the right thing with that link.  Suggest:
[FreeBSD 265950](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=265950)

Is there anything we can do with either that test file or `hints/freebsd.sh` while we wait for them to repair that bug?

[2022-08-20 12:40] jkeenan commented on #20088
I think we can close this ticket.  CPAN library Sys-Proctitle (which is Linux-only) has not been updated since [2010](https://metacpan.org/dist/Sys-Proctitle/changes).  On CPANtesters, it's getting panics on older versions of perl (see, *e.g.,* [this report](http://www.cpantesters.org/cpan/report/40f8e074-ce91-11e7-9ef3-8859389b4f94)) which have not been addressed for years.  I suspect the library

[2022-08-20 13:55] khwilliamson commented on #20112
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=265950
seems to work

[2022-08-20 16:01] demerphq commented on #19867
On Sat, 20 Aug 2022 at 17:46, Bram ***@***.***> wrote:

I dont get this. Am I missing something? At least in my branch the
authors test runs fine in all the tests.  Why do we have to restrict
it to the sanity check when there is a full clone? As far as I
understand it checks the commits it has for new authors, if it has
less authors to check it shouldnt matter.

Yves

[2022-08-20 17:15] khwilliamson commented on #20112
6c72dca9c66eec7c95ba804ed0587754df1bb0ea should make the test pass

[2022-08-20 17:35] demerphq commented on #19867
Bram has explained what I was missing: sometimes we end up with a
merge commit and sometimes we dont.

On Sat, 20 Aug 2022 at 18:00, demerphq ***@***.***> wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-08-20 18:23] karenetheridge commented on #20010
I would fulfill this user's request by adding a .mailmap entry for the user's name+email to "Anonymous" (or whatever other placeholder is deemed suitable).  That will prevent the name from being published in perl releases (release announcements, other pod files etc).

Removing the name from the repository entirely is not possible because we do not change the history of git commits - once a commit

[2022-08-20 19:19] jkeenan commented on #20112
Thanks.  Since this was a commit to blead, it will get incorporated into perl-5.37.3 dev release later today.  I'll close the ticket in a day or two after watching results.

[2022-08-21 02:22] khwilliamson commented on #19855
@diekhans Please try this again on 5.37.3.  I am not now seeing any messages

[2022-08-21 10:10] demerphq commented on #20010
This is resolved now. Thank you for your patience while we got it merged.

[2022-08-21 10:10] #20010 closed

[2022-08-21 11:48] jkeenan opened #20130 "Unexpected output from 'git describe'"
Today, when I update blead to HEAD, I see the following:
[code]
This surprised me, because perl-5.37.3 was released yesterday, which normally would have meant that `git describe` would start with `v5.37.3`.  In addition, [smoke-test reports done overnight](https://perl5.test-smoke.org/search) since the release are also still showing `v5.37.2` in their descriptions.

If however I try a different in

[2022-08-21 12:19] #18548 closed

[2022-08-21 18:00] jkeenan commented on #20130
@neilb or @tonycoz can you take a look at this?  Thanks.

[2022-08-21 19:02] diekhans commented on #19855
The complaint still happens.  The root causes there is no
***@***.***" installed.  For some reason, evince
needs (or needed) this; which I think maybe an invalid use
of the locale system.

I believe the best solution is solution-directed error message.
However, how to "check locale settings" is not straight forward.
All I have been able to do is grep through the results of
"locale -a".  Perhaps su

[2022-08-21 20:07] cjg-cguevara opened #20132 "BBC: Blead Breaks Hash::MoreUtils"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.3.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Hash::MoreUtils

Please see http://matrix.cpantesters.org/?dist=Hash::MoreUtils

[Please do not change anything below this line]
----

[2022-08-21 20:42] jkeenan commented on #20132
Bisection points to this commit:
[code]
... which means this has the same breakage point as the modules cited in https://github.com/Perl/perl5/issues/20114.
@richardleach, can you take a look?

Given the amount of downstream breakage this change has generated, should we consider reverting it? (Or is it simply exposing dodgy code downstream?)

[2022-08-21 20:45] jkeenan commented on #20132
Failures look like this:
[code]

[2022-08-21 23:54] tonycoz commented on #20130
Yes, it's unannotated, compare:
[code]
vs
[code]

It's possible to convert the unannotated tag to annotated, see https://stackoverflow.com/questions/5002555/can-a-lightweight-tag-be-converted-to-an-annotated-tag but there may be problems getting it to remotes that already have fetched the tag.

From reading `git fetch` it appears updating the tag won't be automatically fetched to overwrite an alre

[2022-08-22 00:06] Leont commented on #20130
This is a case of "please do exactly what the RMG says". It uses `git tag -m`, which implies `-a` for the annotation. I guess neil used a manual git tag instead.

[2022-08-22 00:24] andk commented on #20114
Also affected:
(1) TEAM/Mixin-Event-Dispatch-2.000.tar.gz http://www.cpantesters.org/cpan/report/73d12f5e-20f0-11ed-9c06-d447210175d9
(2) KRYDE/Test-Weaken-3.022000.tar.gz http://www.cpantesters.org/cpan/report/673fa6ee-216d-11ed-a68c-e7fefc3f6622

[2022-08-22 01:04] jkeenan commented on #20130
So, should we attempt the following:
[code]
Experimenting locally suggests that this will do the right thing, though to get the annotated tag into one's local checkout, one would have to say `git fetch -f origin`.

[2022-08-22 06:21] demerphq commented on #20130
On Mon, 22 Aug 2022 at 02:06, Leon Timmermans ***@***.***> wrote:

I'd take that a step further: let's get rid of the need for people to
correctly follow the  RMG and make a tool that does it right. IMO
written instructions like this are very often not followed correctly
due to human error.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-08-22 09:10] neilb commented on #20130
I followed the RMG and created an annotated tag. But because I'd temporarily lost my commit bit, I did a PR rather than pushing. I don't understand why, but Bram said that I should delete my tag from my local clone and github repo, and asked something else to recreate the tag. I guess that was created without an annotation.

The real root cause:

[2022-08-22 09:29] richardleach commented on #20132
I'll take a look this evening.

The downstream code for which I've supplied patches so far hasn't been dodgy as such, it's just been brittle in that it depends on optrees looking a certain way. Any optree optimizations that we introduce - I have a few more planned, LeoNerd has some planned - have a good chance of causing this kind of breakage. The only way to avoid breakage is just not to add optr

[2022-08-22 09:29] richardleach commented on #20114
Thanks, I'll take a look this evening.

[2022-08-22 10:59] demerphq commented on #20132
On Mon, 22 Aug 2022, 11:29 Richard Leach, ***@***.***> wrote:

How very mildly put.  I'd have put that in much stronger terms. :-)

I hope that we're early enough in the release cycle to flush out all the

I really think that shouldn't happen. We have to be free to introduce new
opcodes and to deprecate and eliminate old ones.

Maybe we need an "opcode version" so that test files can at least
dist

[2022-08-22 11:20] demerphq commented on #20114
IMO we should define an "opcode version" magic var, define, whatever, that people can test.

If they look at our optree they should check the opcode-version, if they are not up to date they should not claim their tests are broken, they should report they have not updated the module to handle that latest version. Calling these types of issue an "error" is really unhelpful. We have to be able to mak

[2022-08-23 09:37] richardleach commented on #20132
The Hash::MoreUtils breakage was down to a bug, which has been fixed in https://github.com/Perl/perl5/commit/6f629715866f9fa9452688fb66ee6661307b7a78

[2022-08-23 09:39] richardleach commented on #20114
The _Mixin::Event::Dispatch_ and _Test::Weaken_ breakage was down to a bug, which has been fixed in https://github.com/Perl/perl5/commit/6f629715866f9fa9452688fb66ee6661307b7a78

_Variable::Magic_ and _Devel::Caller_ failures weren't caused by this bug, they still need the submitted patches (or similar) applying.

[2022-08-23 19:47] jkeenan opened #20140 "locale.c: new build-time warning"
A recent commit has begun generating a build-time warning not previously seen.  Compiling a threaded build with `clang10` on FreeBSD-12, I observe:
[code]
Relevant part of `locale.c`:
[code]
These lines were added in:
[code]
@khwilliamson, can you take a look?  Thanks.

[2022-08-23 19:54] #20054 closed

[2022-08-23 21:40] jkeenan opened #20141 "t/porting/authors.t: failing on many smoke-testing rigs"
In the past few days quite a few of our smoke-testing rigs have been reporting failures in `t/porting/authors.t`.  See, for example, [this report on darwin](https://perl5.test-smoke.org/report/5021907).

The [logfile corresponding to the above report](https://perl5.test-smoke.org/logfile/5021907) holds repeated instances of this:
[code]
The earliest commit at which we can see these failures (at le

[2022-08-23 22:03] leleliu008 opened #20144 "build failed on FreeBSD"
https://www.cpan.org/src/5.0/perl-5.36.0.tar.xz

**reported logs:**

[code]

**Steps to Reproduce**

[code]

[2022-08-23 22:26] jkeenan commented on #20144
From the data you have provided, I doubt this is an error in the Perl core distribution.

In the first place, I have built `perl-5.36-0` many times on FreeBSD and have not encountered this problem.

More to the point, the log data you have supplied contains these lines:
[code]
... which suggests that there is a problem with `make` -- more specifically, a problem with the `gmake` that you took the

[2022-08-24 00:05] leleliu008 commented on #20144
[code]

run command `gmake -j2` report follwoing:
[code]

run command `make -j2` works well.

this indicates that can't run BSD make in GNU make on FreeBSD. we usually use `$(MAKE)` not directly run `make` command in Makefile.

[2022-08-24 00:13] leleliu008 commented on #20144
[code]

[2022-08-24 00:15] leleliu008 commented on #20144
but new error cones:

[code]

[2022-08-24 00:50] leleliu008 commented on #20144
above error has gone after adding `-Duseshrplib` Configure option.

[2022-08-24 00:52] leleliu008 commented on #20144
I didn't see this error on GNU/Linux.

[2022-08-24 02:03] tonycoz commented on #20144
Try supplying `-Dmake=gmake`  to Configure.

Some of the options you're supplying seem unneeded, at least for: `-Wl,-z,muldefs -Wl,--allow-multiple-definition`

The FreeBSD ld(1) man page says
[code]

[2022-08-24 02:10] leleliu008 commented on #20144
@tonycoz Thanks, I will try it.

[2022-08-24 06:13] tonycoz commented on #19857
We don't need the BEGIN:
[code]

I have a fix for this assertion which I'll pretty up for a PR.

Of course, normal lexical subs have a different problem, even without eval:
[code]

which means the normal lexical sub won't be available in BEGIN anyway.  This isn't a problem for lexical imports since those set the definition at compile-time.

This happens because normal lexical subs don't actually g

[2022-08-24 10:56] demerphq commented on #20141
We have a temporary work around. But imo it would be better to check for an env flag that a smoke test is running and disable the   pending authors tests for those environments. @Tux is there such an env var? Eg, when the smokes run do you set "SMOKE_TEST_RUNNING" or something like that?

[2022-08-24 11:26] jkeenan commented on #20141
https://github.com/Perl/perl5/pull/20142 (commit 6c19d6c6d4db446fa9513b7d617134c938c89a4e) appears to be stanching the bleeding.  See, *e.g.,* https://perl5.test-smoke.org/report/5021934, which was run at a commit after the p.r. was applied.  I'll keep an eye on this over the next several days.  (I don't yet have a firm opinion on what a more permanent fix should do.)

[2022-08-24 14:17] leonerd opened #20146 "Printing package names as raw bytes can hide subtle bugs"
My XS code did:

[code]

Which resulted in an error message:

[code]

Despite the fact that I am **sure** I definitely loaded the package and the method is available.

The ultimate bug? I forgot to subtract 1 from `sizeof(s)` to account for the trailing nul. So the macro ought to have been:

[code]

That is certainly a bug in my code. However, Perl's literal printing of the package name hid the bu

[2022-08-24 14:18] leonerd commented on #20146
@demerphq I recall you recently created a "print this string with escapes and stuff", which might be handy to solve this very problem

[2022-08-24 20:11] jkeenan opened #20149 "t/run/locale.t: recent commit causes test failure on OpenBSD with '*.UTF-8' locales"
We have a new smoke-test rig for OpenBSD, but it is reporting a failure in `t/run/locale.t` I haven't seen before.  Please see [this report](https://perl5.test-smoke.org/report/5021937) for which [this is the logfile](https://perl5.test-smoke.org/report/5021937).

I can reproduce this problem on the OpenBSD-6.9 VM which I myself used for smoke-testing.
[code]
Many tests in this file are skipped on

[2022-08-24 21:58] leleliu008 commented on #20144
@tonycoz it works.

[2022-08-25 00:43] tonycoz commented on #20144
Do you still get the `Undefined symbol "Perl_xs_handshake"`?

[2022-08-25 00:58] tonycoz commented on #20144
The problem was EU::MM sets a definition for MAKE in the generated Makefile based on the value set during Configure, so when a the Makefile for a module  tries to recursively build a sub module (which Encode has many of), it invokes the system make `make` instead of the current make `gmake`.

Presumably gmake supplies information on how to contact its job server in a non-standard -j flag assuming

[2022-08-25 01:17] leleliu008 commented on #20144
I removed `-Wl,-z,muldefs -Wl,--allow-multiple-definition` and add  `-Dmake=gmake` to Configure, but `Undefined symbol "Perl_xs_handshake"` still there. must add `-Duseshrplib` Configure option to build `libperl.so`.

[2022-08-25 04:40] tonycoz commented on #20144
The problem is setting `-Dldflags=...` replaces all of the link flags, including those needed to properly build the perl binary.

In particular, this includes the `-Wl,-E` switch, which asks the linker to export symbols, without that you get the problem you're seeing, since `perl` isn't exporting the symbols.

The simplest way to avoid this is to use the `-A` configure flag instead of `-D`:

[code

[2022-08-25 04:55] leleliu008 commented on #20144
@tonycoz I tried your suggested code, it worked like a charm. Thank you very much for looking into this.

[2022-08-25 05:18] tonycoz commented on #20144
@leleliu008 is there anything not resolved?  If this is all resolved I'll close the ticket.

[2022-08-25 05:20] leleliu008 commented on #20144
@tonycoz no problems anymore, thanks again.

[2022-08-25 05:21] #20144 closed

[2022-08-25 07:46] demerphq commented on #20146
On Thu, 25 Aug 2022 at 09:40, demerphq ***@***.***> wrote:

14ad5a85ec0616f35ca0d0b72e3a9a50c5556e6c

It is a prep patch i wrote as part of  yves/fix_universal_import_fragility.

I can queue it up as a standalone PR.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-08-25 11:30] demerphq commented on #20146
Yep, #20153 should resolve this.

[2022-08-25 12:48] demerphq commented on #20146
@leonerd since you just had this experience maybe you want to do a perldelta for #20153? I realized it needs one. Otherwise i can do it.

[2022-08-25 13:21] demerphq opened #20155 "Locale patch breaks dist/threads/t/kill.t by triggering attribute.pm XS version mismatch errors."
**Description**
Bisect tells me that ever since a7ff7aca38 I have been seeing test failures from dist/threads/t/kill.t:

`
attributes object version 0.35 does not match $attributes::VERSION 0 at lib/XSLoader.pm line 112.
Compilation failed in require at lib/Thread/Queue.pm line 19.
BEGIN failed--compilation aborted at lib/Thread/Queue.pm line 19.
Compilation failed in require at dist/threads/t/kil

[2022-08-25 14:08] jkeenan commented on #20155
Where I customarily test blead I am unable to reproduce these failures.
[code]

[2022-08-25 15:08] Tux commented on #20155
Unless you explicitly specify both, they are inherently the same: the default for `usethreads` is `useithreads` and `useithreads` is set to `usethreads` after its specification is done, so it should not matter

[2022-08-25 15:14] demerphq commented on #20155
@Tux ok, thanks.

@khwilliamson I have narrowed this down a bit. If I add ``use attributes;`` to ``threads::shared`` the problem goes away. I believe that somehow the a7ff7aca38 patch meant that something changed with how attributes are loaded, so that attributes.pm does not get loaded before it is used. I also stepped through the code in gdb to be sure. It is not clear to me if in the older code

[2022-08-25 15:14] jkeenan commented on #20155
No difference here.
[code]

[2022-08-25 15:28] demerphq commented on #20155
FWIW, it seems that https://github.com/Perl/perl5/pull/20157 fixes the issue, although it is still not clear to me if it should be required or why your patch exposed this issue this way. It does seem plausible that the old locale code loaded attributes.pm implicitly and stuff just worked that now doesn't. But why it only fails here and not elsewhere, and etc, are all open questions.

[2022-08-25 16:14] richardleach commented on #19927
I noticed the other day that in the _scalar_refs_ case, the assignment is wrapped in a pp_once, whereas that's not the case for the _declared_refs_ case.

The problem might be in **Perl_newASSIGNOP**: it looks like state checking is only in the ASSIGN_LIST branch, not in the tiny ASSIGN_REF branch.

[2022-08-25 17:13] florian-pe opened #20158 "the pack/unpack @ operator doesn't seem to work, nor does the perlpacktut example"
I'm trying to understand how pack/unpack work so I'm not exactly sure this is a bug but it sures looks like it.

This example comes from the section `The Alignment Pit`
[code]

which works as expected, but then, there is a different template which is supposed to do the exact same thing, and doesn't.

[code]

I tried playing around with `@` but each time it appears to do nothing.

For information,

[2022-08-25 19:32] Leont commented on #20141
Per [Lancaster Consensus](https://xdg.me/the-annotated-lancaster-consensus/), `AUTOMATED_TESTING` is the designated environmental variable for such a thing

[2022-08-25 19:59] khwilliamson commented on #20155
This is a bug only in boxes running Posix 2008 threaded locales, and has to do with the thread not being switched soon enough from the global locale.  I had commits already in my pipeline to fix this; I'll try to move them up.

In the meantime, just don't set LC_NUMERIC to a non-dot radix locale in your environment at perl initiation

[2022-08-25 20:24] richardleach commented on #19927
Or the problem could be in **Perl_ck_refassign**.
This appears:
[code]

[2022-08-25 20:45] richardleach commented on #19927
Seem to be able to get an optree with the desired shape with this diff of **Perl_ck_refassign**:

[code]

Running tests now. Even if all pass, still need to properly review **Perl_ck_refassign** and the existing declared refs tests.

[2022-08-25 20:48] jkeenan commented on #20149
Re-opening this ticket to see if the repair in https://github.com/Perl/perl5/pull/20152 gets reflected in smoke-test results from OpenBSD smoker 'rosy'.

[2022-08-25 21:16] richardleach commented on #19927
More work needed. Plenty of test fail with that diff:
* LeakSanitizer
* t/op/lvref.t
[code]
* lib/B/Deparse.t, including:
[code]
* t/re/opt.t, including:
[code]

[2022-08-26 05:27] demerphq commented on #20141
Thanks @Leont. SInce I wasn't involved in this how would i get a point of concern registered for the next "consensus": one problem we are facing is that smoke testers are *modifying* the tree as part of their tests. Its not clear to me if AUTOMATED_TESTING is the right flag to signal "in this environment the code might be modified and the tests should not care".

It does look that until there is a

[2022-08-26 06:58] demerphq commented on #20158
This is not a bug. You are using the '@' inside of double quotes, which means the arrays are being interpolated, and unfortunately the code you wrote is accessing vars that technically do exist: `@0`. (You could argue we should complain that you did that, and I would agree.)

[code]

Closing as not-a-bug.

[2022-08-26 06:58] #20158 closed

[2022-08-26 12:16] jkeenan commented on #20149
We've got a PASS on the smoke-testing rig on which this problem was first observed, so we can re-close this ticket.  thanks.

[2022-08-26 12:16] #20149 closed

[2022-08-26 14:32] florian-pe commented on #20158
Oh right, that's a bit silly of me. I did remembered about this exact interpolation problem yesterday but I didn't compute somehow.

Templates of pack/unpack are so esoteric that we think we are writing in a completely different language. Well not as double quotes are concerned clearly.

[2022-08-26 16:15] demerphq opened #20161 "Evals that die under the debugger may or may not leak eval data depending on how they die."
**Description**
If eval string is used when the debugger is enabled then we may or may not leak debugging meta data in the stash depending on how the eval fails.

When `$^P` is set to an integer with the `0x400` bit set (and maybe other bits) the debugger mode is enabled and when code is compiled a copy of the lines that were compiled is stashed away in `%::` in a slot named `"_<(eval $eval_ctr)"`

[2022-08-26 16:40] demerphq opened #20164 "perf/opcount.t warns during test."
**Description**
perf/opcount.t produces the following warning during test:

[code]

**Steps to Reproduce**
make test

**Expected behavior**
Tests shouldn't warn.

**Perl configuration**
[code]

[2022-08-26 17:04] demerphq opened #20167 "macOS 10.15 CI pipeline is deprecated"
**Description**
CI is currently failing with

**This is a scheduled macOS-10.15 brownout. The macOS-10.15 environment is deprecated and will be removed on August 30th, 2022 For more details, see https://github.com/actions/virtual-environments/issues/5583**

See the annotations here: https://github.com/Perl/perl5/actions/runs/2935153722

We need to upgrade out macOS pipeline.

**Steps to Reproduce*

[2022-08-27 05:01] demerphq commented on #20161
Apparently this was broken in f9bddea7d2a0d824366014c8ee6ba57e7dedd8c3 according to a bisect by @wolfsage

[2022-08-27 06:20] demerphq commented on #20161
I think a few folks have been doing research, so there may be some duplication of effort here. But I have focusing on the fact that CATCH_GET seems to never be true when called from pp_entereval or pp_require. Both have docatch() wrappers which clear the flag. However if I change the clause in doeval_compile():

[code]

Or if i remove the CATCH_GET entirely I end up with the following test fails:

[2022-08-27 13:06] demerphq commented on #20161
BTW, I have double checked, and in this expression:

[code]

`CATCH_GET` is never true in our testsuite, so we never call `S_try_yyparse()`.

We do end up in `pp_entereval` with `CATCH_GET` true however. (Someone thought it might never be true there as well.)

[2022-08-27 13:08] jkeenan commented on #20112
The test is passing, so closing this ticket.

[2022-08-27 13:08] #20112 closed

[2022-08-27 19:51] iabyn commented on #20161
On Sat, Aug 27, 2022 at 09:23:38AM -0700, Bram wrote:

I haven't looked closely at this yet, but its possible the CATCH_GET
in S_doeval_compile is superflouous.

Have a read of

    =head2 Exception handing

in pod/perlinterp.pod for a detailed explanation (recently updated by
myself) on what CATCH_GET is for,

--
But Pity stayed his hand. "It's a pity I've run out of bullets",
he thought. -- "Bor

[2022-08-28 05:35] demerphq commented on #20161
On Sat, 27 Aug 2022, 21:52 iabyn, ***@***.***> wrote:

I tried removing it, which allows the code to use try_yyparse, and fixes
the retainedlines test, unfortunately it causes other tests to segv or
fail. I posted the tests that fail already.

Yves

[2022-08-28 06:27] demerphq opened #20174 "t/comp/retainedlines.t produce non-deterministic behavior and false failure reports when tests fail"
**Description**
t/comp/retainedlines.t use non-deterministic logic (keys with no sort), and due to its implementation it allows certain types of test failures to propagate from one test to another. So if the first fails, subsequent tests will also fail, and how much they fail depends on the lottery of key order, if they get lucky only a few subsequent tests will break. If they get unluck ALL Of th

[2022-08-28 07:04] demerphq opened #20175 "Perl_deb() reports "no line" source line number in debugging as U32_MAX or 0"
**Description**
`perl -Dl`  and other -D flags use Perl_deb as a printf() replacement, so that it can inject the perl code file and line data into the output stream. This reads the line and file from the PL_curcop.  When there is no PL_curcop it uses 0 for the line number. However the line number tracking uses NOLINE, at least partly, which is defined to U32_MAX as the "no line number" value for o

[2022-08-28 09:27] demerphq commented on #20161
On Sat, 27 Aug 2022 at 21:52, iabyn ***@***.***> wrote:

Ok. But as I said before, I tried removing it, which effectively means
using try_yyparse() for evals and yyparse() for requires. But that then
leads to segvs and other test issues.

Ive read that whole section a few times and I still am not sure I am wiser.
I think I get it, but one thing that strikes me is that the explanation
doesn't seem

[2022-08-28 09:31] demerphq opened #20176 "segfault with BEGIN and eval"
**Description**
Our guards against stackoverflow from recursion dont cover the case of a BEGIN inside of an eval. With appropriately crafted code we can trigger a segfault inside of an eval.

**Steps to Reproduce**
[code]

**Expected behavior**
Some kind of catchable exception, not a segfault.

**Perl configuration**
[code]

[2022-08-28 10:24] demerphq commented on #20174
Fixed.

[2022-08-28 10:24] #20174 closed

[2022-08-28 16:14] jkeenan commented on #20164
Results from https://github.com/Perl/perl5/commit/815f7cab0e120536f5b9091ca1aa117587ed18ea look good; closing.

[2022-08-28 16:14] #20164 closed

[2022-08-28 18:39] khwilliamson commented on #20155
#20178 fixes this, but needs more work, and advice

[2022-08-28 23:53] Quipyowert2 opened #20180 "Address of local auto-variable assigned to a function parameter"
From: 38995150+Quipyowert2@users.noreply.github.com
Subject: Address of local auto-variable assigned to a function parameter
To: perl5-porters@perl.org
Cc: nathan@msi.localdomain
Reply-To: 38995150+Quipyowert2@users.noreply.github.com
Message-Id: <5.37.4_25310_1661728075@MSI>

This is a bug report for perl from 38995150+Quipyowert2@users.noreply.github.com,
generated with the help of perlbug 1.42

[2022-08-29 01:22] jkeenan commented on #20180
Was there a particular invocation of `cppcheck` that you used to encounter the problematic code in `pp_pack.c` (*i.e.,* something above and beyond `cppcheck pp_pack.c`)?

Would you have encountered these warnings if, instead of compiling with `afl-clang-lto`, you simply compiled with `clang` or `gcc` or `g++`?

[2022-08-29 02:20] Quipyowert2 commented on #20180
I used the cppcheckgui.exe to analyze the code with "style" and "info" warnings turned off, 6 analyzer threads, and every checkbox in General tab of settings turned off. Then selected Analyze->Directory, selected my local clone of the perl5 repository, and waited.

I don't think the compiler I select with the `-Dcc` option to ./Configure affects CppCheck, because the version of Cppcheck I'm using

[2022-08-29 03:12] andk commented on #20114
Also affected: ZEFRAM/Memoize-Once-0.002.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/7bcb7860-2742-11ed-986e-58f48ac53a74
Stack trace:
[code]

@richardleach , can you have a look, please?

[2022-08-29 10:33] demerphq commented on #20161
On Sun, 28 Aug 2022 at 22:59, Bram ***@***.***> wrote:

to show ALL of the JMPENV_PUSH() logic. To see where the first two
JMPENV_PUSH() calls come from you need to hand hack cop.h to always show
the diagnostics. :-(

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-08-29 11:03] demerphq commented on #20161
In my previous message I meant to say the "first JMPENV_PUSH()".

Also now that i can see that the pieces are starting to come into place.

This is from https://github.com/Perl/perl5/blob/blead/perl.c#L1726

[code]

and if we look at this:

[code]
This here ^^^
[code]

That comes from this:

[code]

so what i think is happening is that we call exit(0);  this then falls into the commented logic, an

[2022-08-29 11:13] demerphq commented on #16300
This ticket is related to https://github.com/Perl/perl5/issues/20161 and is still causing breakage 5 years later. Has there been enough time for Module::Install to upgrade yet?

[2022-08-29 11:21] haarg commented on #16300
Here is the list of dists that would be impacted by this:
[code]

[2022-08-29 11:30] demerphq commented on #16300
So none of them have upgraded in the 5 years since this came up last time?

[2022-08-29 11:38] demerphq commented on #16300
IM reopening this ticket. I think we should bit the bullet already on this. Its been too long.

[2022-08-29 11:43] demerphq commented on #20161
I just tested reverting 857320cbf85e762add18885ae8a197b5e0c21b69 and it fixes all the issues caused by removing the superfluous CATCH_GET so that eval uses try_yyparse() and not yyparse(). The commit doesnt revert cleanly. But if you look at it what needs to be done is obvious from the comment.

[2022-08-29 13:57] demerphq commented on #16300
In my rudimentary testing I was able run the Makefile.pl, assuming i overload @INC to include ".".

I didnt actually install this commit and try it end to end, but in my testing i was able to prove to myself that I could convert INIT blocks into BEGIN blocks on a per namespace basis, which means we can have our cake and eat it too. And Module::Install earns the infamy of having code in perl to wor

[2022-08-29 14:18] jkeenan commented on #20088
No one has objected to closing this ticket.  Closing now.

[2022-08-29 14:18] #20088 closed

[2022-08-29 14:38] demerphq commented on #20161
I have pushed https://github.com/Perl/perl5/pull/20181 to enable a fix for this to be merged, which i will push as a separate pr.

[2022-08-29 20:10] demerphq commented on #20141
On Mon, 29 Aug 2022 at 22:04, Bram ***@***.***> wrote:

I like the idea of this, but woudlnt mktest.jsn be a better choice? I am
assuming the .jsn file will be written to disk first before mktest.out. It
just feels a bit chicken and egg to use the output of the tests to control
the tests...

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-08-30 03:52] cjg-cguevara opened #20188 "t/io/socket.t fails on OmniOS using GCC but not G++"
One example:
https://perl5.test-smoke.org/report/5022137
https://perl5.test-smoke.org/logfile/5022137

https://perl5.test-smoke.org/report/5022146
https://perl5.test-smoke.org/logfile/5022146

[2022-08-30 05:45] tonycoz opened #20189 "Perl's use of setjmp() produces undefined behaviour"
**Description**

The way the perl source call setjmp() in the JMPENV_PUSH macro produces undefined behaviour, from the macro:

[code]

which is an assignment, but from the C (C99, C11) standard:

See also:

https://wiki.sei.cmu.edu/confluence/display/c/MSC22-C.+Use+the+setjmp%28%29%2C+longjmp%28%29+facility+securely

Selection statements include `switch` so I suppose this could become:

[code]

**

[2022-08-30 06:37] demerphq commented on #20141
Darn. :-) Ok, well then i guess it has to be mktest.out. :-)

[2022-08-30 11:56] jkeenan commented on #20188
https://perl5.test-smoke.org/submatrix?test=../t/porting/authors.t suggests that this emerged between 5.37.1 and 5.37.2 -- but was that just an artifact of when you first tested on this platform?  If not, can you bisect?

[2022-08-30 13:52] cjg-cguevara commented on #20188
I don't have access to my host cjg-omniosce right now, but it looks like it started failing sometime after 431ea43db266 on hosts perlsmoke.srv.customer.skylime.net and cjg-omniosce.

[2022-08-31 00:51] #20060 closed

[2022-08-31 17:56] khwilliamson commented on #20081
Is this fixed by the merge of #20136 ?

[2022-08-31 18:15] kenneth-olwing commented on #20081
Yes, it is, thank you.

[2022-08-31 18:15] #20081 closed

[2022-08-31 19:50] bram-perl opened #20204 "Win32: stat/unlink fails on UNIX sockets"
`dist/IO/t/io_unix.t` contains a test that creates a UNIX socket, does some tests and then attempts to `unlink` the file.
That `unlink` call fails and that results in a stray tmp file.

A reduced example case:

[code]

Running on Windows 10:
[code]

See @tonycoz comment: https://github.com/Perl/perl5/pull/20179#issuecomment-1232810008

Other references:
- #20179
- #17575
- #17429

[2022-08-31 20:32] richardleach opened #20206 "pp_subst + COW leaks memory"
**Description**
Since v5.19.1, perl has leaked memory when built with COW and a successful match occurs.

**Steps to Reproduce**
The following is based upon https://benchmarksgame-team.pages.debian.net/benchmarksgame/program/regexredux-perl-1.html and takes the same input of FASTA string. Comments show the approximate memory usage at each step.

[code]
**Expected behavior**
Memory use reaches a st

[2022-08-31 20:44] richardleach commented on #20206
Stepping through `pp_subst` with the script above:
* `TARG` is never `SvIsCOW` at the start of `pp_subst` (`was_cow` == 0)
* `force_on_match` == 0
* `r_flags` == 1
* `CALLREGEXEC(rx, orig, strend, orig, 0, TARG, NULL, r_flags)` returns true. This function also sets `SvIsCOW_on(TARG)`, and the cow ref count ==1
* `dstr` does not get upgraded
* Some of the subst patterns start down the in-place bran

[2022-08-31 21:09] jkeenan commented on #20146
@leonerd, if the patch merged in https://github.com/Perl/perl5/pull/20153 resolves your original problem, is this ticket closable?  Thanks.

[2022-08-31 23:19] cjg-cguevara opened #20207 "BBC: Blead Breaks File::AptFetch, Logfile::Read, others"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.4.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks File::Replace

Please see http://matrix.cpantesters.org/?dist=File::Replace

[Please do not change anything below this line]
--------

[2022-09-01 02:15] jkeenan commented on #20207
Bisection points to 80c1f1e45e8ef8c27d170fae7ade41971fe20218.
[code]
@tonycoz, can you take a look?

[2022-09-01 04:27] tonycoz commented on #20204
The main difficulty I see is with symlinks - opening with `FILE_FLAG_OPEN_REPARSE_POINT` means that if the name is a symlink() it won't be followed, so we'll need to follow it ourselves, including handling relative pathnames and loop detection.

[2022-09-01 05:30] cjg-cguevara opened #20208 "BBC: Blead Breaks Log::Log4perl"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.4.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Log::Log4perl

Please see http://matrix.cpantesters.org/?dist=Log::Log4perl

[Please do not change anything below this line]
--------

[2022-09-01 11:21] tonycoz commented on #20204
I have some work in progress code, just still working on it

[2022-09-01 11:45] jkeenan commented on #20208
Bisection points to 80c1f1e45e8ef8c27d170fae7ade41971fe20218, same as https://github.com/Perl/perl5/issues/20207.  Closing this ticket and adding to that one.

[2022-09-01 11:45] #20208 closed

[2022-09-01 11:46] jkeenan commented on #20207
Also affected by [this commit](https://github.com/Perl/perl5/commit/80c1f1e45e8ef8c27d170fae7ade41971fe20218): Log::Log4perl (as originally reported in https://github.com/Perl/perl5/issues/20208).

[2022-09-01 20:08] leonerd commented on #20146
Yup, that does it nicely thanks.

[2022-09-01 20:08] #20146 closed

[2022-09-01 23:48] tonycoz commented on #20204
I don't think we can avoid the race, luckily it's only an issue for symlink chains to other reparse points.

That's what I'm doing.

All of stat(), lstat() and unlink() have special implementations in `win32/win32.c`.

[2022-09-02 00:13] Quipyowert2 commented on #20180
After looking at the code again, I think this warning is harmless because in both places where the warning is emitted, after the while loop, `savsym` or `lookahead` is copied to the memory which `symptr` points to, presumably changing the `previous` pointer so it doesn't point at a stack variable anymore. If this was actually a problem, perl would probably crash when packing or unpacking.

It's no

[2022-09-02 08:05] #20176 closed

[2022-09-02 11:05] andk commented on #20114
Ping. Or would it be preferred that I write a new ticket for Memoize::Once and whatever comes next?

[2022-09-02 13:42] richardleach commented on #20114
Adding to this ticket is fine if you like. I had a quick squint at _Memoize::Once_, but am waiting until this weekend to properly dig into it.

[2022-09-02 13:55] epa opened #20218 "Parsing failure with subroutine followed by / operator, but strangely OK with 'use constant'"
**Steps to Reproduce**
[code]
Save this as `s` and then `perl -c s` gives
[code]
But curiously, if you replace the subroutine with `use constant` then it compiles:
[code]

**Expected behavior**
I expected both forms to compile; `f` should be recognized as the name of a subroutine, as it was declared above, and `/` must be the division operator not the start of a regexp.

Moreover, I would not expe

[2022-09-02 14:03] #20218 closed

[2022-09-02 14:06] epa commented on #20218
I agree it's undecidable and all that, but since we are dealing with heuristics anyway, perhaps the regexp heuristic could be tweaked to require the closing delimiter on the same line?  If the rest of the line does not contain the closing / character then it's much more likely to be the division operator.

[2022-09-02 14:28] leonerd commented on #20218
I think that would be much worse. Trying to guess what the programmer originally meant in the face of an error is a terrible idea. Best just to complain "Hey, something went wrong" and at least here we have a good guess as to what it probably was:

[code]

[2022-09-02 14:43] epa commented on #20218
It already does guess what the programmer meant - I am suggesting the rule used to guess could be tweaked.  Not in the case of an error, but in all cases.  A lone `/` should not be interpreted as the start of a regexp if it is not followed by closing `/` on the same line.  I can appreciate this may not be practical.  But I am not proposing to make the parser any more 'guessy' than it is already.

[2022-09-02 20:56] jkeenan commented on #20188
Good research!

If you do have access to this platform ...

(a) can you bisect to determine the point where the Perl test failure first emerged?

(b) can you suggest a more appropriate unit test, and then test it out in a smoke-me branch? (@cjg-cguevara 's smoke-testing rigs are usually set up to automatically pick up such branches from the Perl5 repo.)

Thank you very much.
Jim Keenan

[2022-09-02 21:12] wolfsage commented on #20188
SmartOS apparently rounds using the maximum segment size (by default 536 bytes):

https://github.com/TritonDataCenter/illumos-joyent/blob/master/usr/src/stand/lib/tcp/tcp.c#L7034

https://github.com/TritonDataCenter/illumos-joyent/blob/master/usr/src/stand/lib/tcp/tcp.c#L193

[2022-09-02 21:42] jkeenan opened #20228 "make test_porting does not flag need to update t/porting/customized.dat"
(This issue stems from an [observation by Tony Cook](https://github.com/Perl/perl5/pull/20216#discussion_r961317924) in his review of https://github.com/Perl/perl5/pull/20216.)

Suppose I build blead as I did today at 741a5c7396a0ca90a22ea8d8e0761c70c14b0a77, and then run `make test_porting`.  All tests will PASS, including, in particular, `t/porting/customized.t`.
[code]

Now, in the absence of a

[2022-09-02 22:26] wchristian commented on #20218
the main problem with the single/multi line division suggestion is that someone might break their code by adding /x and making their regex more expressive, which is a much more likely case than replacing a constant with a sub

there's also a further issue with adding different parsing regimes without strong reason to do so because it means now stuff like PPI (which i maintain) has to chase much mo

[2022-09-03 02:30] cjg-cguevara opened #20231 "Multiple Test Failures on Alpine Linux with Threads Enabled"
Multiple Test Failures on Alpine Linux with Threads Enabled

Examples:
https://perl5.test-smoke.org/report/5022293
https://perl5.test-smoke.org/logfile/5022293
https://perl5.test-smoke.org/report/5022279
https://perl5.test-smoke.org/logfile/5022279

Appears to have started sometime after f7e7b4d5e7.

Note that Alpine Linux uses musl instead of glibc:
[code]

[2022-09-03 08:26] demerphq opened #20233 "Module::Install::DSL workaround should be removed when it is not longer needed."
**Description**
In 451a9a1260f66bc37e4e7187d4368bca92540a8e we merged a workaround for Module::Install::DSL to not be broken by changes to what happens when someone uses exit() inside of a BEGIN. When the modules that depend on this bug have been released with fixes and no longer throw the warning generated by that patch we should remove the workaround by reverting that patch.

**Steps to Reproduc

[2022-09-03 08:31] demerphq commented on #20233
@karenetheridge When you are happy all the modules using the old buggy logic have been fixed we can respond to this.

[2022-09-03 08:39] demerphq commented on #20233
I have pushed a DRAFT PR for this as #20234.

[2022-09-03 08:53] demerphq commented on #20228
On Fri, 2 Sept 2022 at 23:43, James E Keenan ***@***.***>
wrote:

It seems to me it would be best if anything that is supposed to regen stuff
should be autorun by 'make regen' (as a default assumption and aside from
good reasons to do the contrary), and then this kind of thing would be
noticed much more quickly.

I have not yet studied t/porting/customized.t to diagnose the problem

You have pique

[2022-09-03 10:10] Leont commented on #20231
I think debugging this will require a stacktrace.

[2022-09-03 12:54] jkeenan commented on #20228
https://github.com/Perl/perl5/pull/20237 is, I would argue, a least kludgy way of addressing this issue.

[2022-09-03 13:28] andk commented on #20114
Also affected: OALDERS/App-perlvars-0.000004.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/b070d2ce-2a3d-11ed-a5c0-ee11e8a79f68
Probably only an indirect breakage of a dependency? Hi Olaf @oalders , please take note.

[2022-09-03 14:17] Tux commented on #20180
Can we please stick to non-C99 comment style please?

[2022-09-03 15:40] oalders commented on #20114
Thanks @andk. I'm guessing an issue with `Test::Vars`. I can have a closer look next week.

[2022-09-03 19:31] jkeenan commented on #20141
Since the problem I originally reported in this ticket has been cleared up for 10 days, and since subsequent discussion has veered into a discussion of smoke-testing which will inevitably require discussion with the Test-Smoke maintainers, I'd like to recommend closing this ticket.  If someone wants to open up a ticket in Test-Smoke's queue or start a discussion on our mailing list, that would be

[2022-09-03 19:33] jkeenan commented on #20167
@Toddr, @atoomic, others familiar with our CI setup ... what steps do we need to take to this problem with the MacOS rigs?

[2022-09-03 19:35] jkeenan commented on #20130
@tonycoz, do you think we should perform the above?

[2022-09-03 19:37] jkeenan commented on #20132
Confirmed by installing Hash-MoreUtils against a threaded perl built at v5.37.2-418-g8975221916.

[2022-09-03 19:37] #20132 closed

[2022-09-03 19:41] jkeenan commented on #17227
I believe this feature request has been largely superseded by https://github.com/Perl/perl5/pull/20232 merged into blead today.

I'm self-assigning the ticket for the purpose of closing it within 7 days unless someone objects.

[2022-09-03 20:55] richardleach commented on #20114
I'm looking at `Memoize::Once` this weekend, so won't have time to properly look at  this one yet. I had a quick squint at `Test::Vars`, and it might (hopefully) be as simple as adding padsv_store into the list of ops at https://metacpan.org/release/GFUJI/Test-Vars-0.015/source/lib/Test/Vars.pm#L264
[code]

[2022-09-03 21:47] Quipyowert2 commented on #20180
How about this patch? I just tried it with CppCheckGui with inline suppressions turned on and CppCheck doesn't output the errors anymore. I was about to create a bug report for Cppcheck because I thought inline suppressions in C89 comments didn't work but it turned out I misspelled the error id; it's actually autoVariable**s** not autoVariable.
[code]

[2022-09-03 23:27] haarg commented on #20130
I would be strongly in favor of pushing a proper annotated tag.

[2022-09-04 13:27] jkeenan opened #20246 "Subroutine redefined warnings since Perl 5.35.9, dependent on module loading order"
(Creating a GH issue from https://www.nntp.perl.org/group/perl.perl5.porters/2022/09/msg264699.html.)

Kenichi Ishigaki wrote to Perl 5 Porters on September 4, 2022:

*I have received a [bug report](https://github.com/makamaka/JSON-PP/issues/76) that says loading JSON::PP after Cpanel::JSON::XS has started issuing Subroutine redefined warnings (again) since Perl 5.36 (more precisely, 5.35.9).*

*T

[2022-09-04 23:53] richardleach commented on #20114
I think I understand what `Memoize::Once` is doing - essentially wiring in an `SASSIGN` and an `ORASSIGN` that point to non-standard `pp_` functions. I need to experiment more, but the solution might be to essentially do the `PADSV_STORE` optimization inside `*THK_ck_entersub_once`.

Note: I have a busy work-week ahead and minor surgery on Friday, so might not get back to this until next weekend/t

[2022-09-05 00:26] tonycoz commented on #20189
Yes, that's a typo, and yes, 1 should be added.

[2022-09-05 00:27] richardleach commented on #20114
Alternatively, since `pp_sassign` doesn't use the `OPf_SPECIAL` flag, Memoize::Once could be modified to set that on the `SASSIGN` that it creates, and the peephole code for `PADSV_STORE` be modified to not optimize any `SASSIGN` with that flag set.

The previous idea is cleaner and doesn't mean that core would have to be modified just to make this module work. On the other hand, the `OPf_SPECIAL`

[2022-09-05 00:42] richardleach commented on #20114
Late-night realization: that's probably all complete nonsense, and the "problem" is that the peephole optimization for PADSV_STORE doesn't expect the op to be reached via op_other, as I've not seen that anywhere other than in the optree output by `Memoize::Once`. Amending the peephole optimization should be straightforward.

[2022-09-05 02:06] tonycoz commented on #20207
I see what's happening, but I think it's case of the test depending on the now fixed bug.

We read to end of file on `*STDIN` and the eof flag is set on PerlIO_stdin(), the underlying fd is modified to point at another file which isn't at end of file.  With the old code clearerr() is called once we get to eof() (the bug) which also clears eof, but with the fix that no longer happens.

We could mod

[2022-09-05 05:39] demerphq commented on #20189
BTW, about JMPENV_JUMP(), its not clear to me if its used even more widely than stated here, I just verified that in perl_run() 1 does have a different meaning. Most of the switch blocks on this have a default case, and i wonder if we fall into that rather more often than people realize.

[2022-09-05 05:57] #20161 closed

[2022-09-05 08:51] demerphq opened #20251 "Build warning compiling locale.c: unused var."
**Description**

[code]

**Steps to Reproduce**
make

**Expected behavior**
no warnings.

**Perl configuration**
[code]

[2022-09-05 09:27] richardleach commented on #20251
Looks like a duplicate of #20140?

[2022-09-05 09:50] cjg-cguevara opened #20252 "BBC: Blead Breaks Test::Strict"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.4.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Test::Strict

Please see http://matrix.cpantesters.org/?dist=Test::Strict

[Please do not change anything below this line]
----------

[2022-09-05 11:17] jkeenan commented on #20251
Yes.  We expect #20140 to be closable once #20248 gets merged; it awaits code review.  But we can close this now.  Doing so.

[2022-09-05 11:17] #20251 closed

[2022-09-05 11:33] demerphq commented on #20252
Pretty sure this is related to fixing up the rules for what happens with exit in BEGIN.

The module is testing what happens if it compiles with -c a program like this:

[code]

in previous perls we would fire INIT blocks even though we had done an exit() in the begin that implements -v. This no longer happens, and this program no longer does a compile test. This is not a bug. The test should be ch

[2022-09-05 11:47] jkeenan commented on #20252
Bisection points to this commit:
[code]
Also reported upstream as https://github.com/manwar/Test-Strict/issues/32.

[2022-09-05 12:33] jkeenan opened #20255 "a02b8151f9 causes test failures in Module::Extract::VERSION"
A commit from several months back has caused test failures in CPAN distribution Module-Extract-VERSION (@briandfoy).

Sample CPANtesters failure report: http://www.cpantesters.org/cpan/report/c464ec32-111c-11ed-948b-af529faf9438

The failures look like this:
[code]
Bisection points to a02b8151f9b69201233f9ca5774db280c34684de.
[code]
Reference: https://github.com/Perl/perl5/pull/19854

@JRaspass, @

[2022-09-05 14:41] #20188 closed

[2022-09-05 14:44] #19867 closed

[2022-09-05 19:24] JRaspass commented on #20255
So add the following patch to t/corpus.t:
[code]
Reports this error:
[code]

Line 176 of Safe does this:
[code]

And because #19854 converted Opcode to have a modern version syntax:
[code]

So what I think is happening is `$Opcode::VERSION ` is now a real version object (whereas before it was a string) so the overloaded numeric comparison is being called but that is a function which isn't in Safe'

[2022-09-05 19:28] JRaspass commented on #20255
Oh I guess Safe is dual-life which is why it's checking Opcode version in the first place, hmm.

[2022-09-06 00:07] sisyphus-ppcg opened #20261 "Failed eval in sort causes segfault"
**Description**
An eval that results in a syntax error inside of a `sort` causes a segmentation fault. This reproduces on v5.36.0 and v5.30.0 but does not segfault on a very old version of Perl (v5.16.3) so it was introduced somewhere between those versions.

**Steps to Reproduce**
Run the following code:

[code]

**Expected behavior**
No segfault.

**Perl configuration**

[code]

[2022-09-06 00:58] jkeenan commented on #20261
Bisection points to commit 5b4a51d7c850b274c4a37452f256afb7cd5013c1 from August 2017.
[code]
Since the author is no longer active, can someone take a look at this?
@tonycoz, @demerphq, @steve-m-hay perhaps?

[2022-09-06 01:07] jkeenan commented on #20261
*Complication:* When, on a machine different from the one on which I did the bisection, I tried to build perl at the commit identified above as "first bad," the build failed like this:
[code]
So there's a possibility that the bisection may have found a *different* problem.

[2022-09-06 05:44] demerphq commented on #20261
I can't reproduce on blead. Perhaps this is already fixed in latest blead?

[code]

Wouldn't surprise me if the commits I merged recently fixed this, although I have not bisected.

I think this can be closed unless someone can come up with a reproduction script for latest blead.

[2022-09-06 06:04] sisyphus-ppcg commented on #20261
Yep seems fixed in blead for me as well. I'll close this for now.

[2022-09-06 06:04] #20261 closed

[2022-09-06 06:09] demerphq commented on #20261
FWIW, I think it was probably fixed by the patches in #20182

[2022-09-06 12:29] jkeenan commented on #20261
Okay, so for the record, let's now try to bisect to find out when the code in question *no longer* crashed.  Using this invocation:
[code]
... I got this commit:
[code]

[2022-09-06 16:49] atoomic commented on #20167
I would recommend to remove macOS from the CI.
macOS CI provides low value and use a lot of GitHub resource for no value

[2022-09-06 16:50] toddr commented on #20167
+1 Github charges quite a bit extra for macOS CI runs compared to Linux.

[2022-09-06 17:35] jkeenan commented on #20167
We seem to be getting a steady trickle of issues and/or smoke-test failures for Alpine Linux.  Could that distro be added to our CI setup?

[2022-09-06 17:53] jkeenan commented on #20255
@JRaspass, when we get an issue that reports breakage of CPAN tests associated with a commit in Perl blead (so-called *BBC* tickets), we have to determine what part of the breakage is associated with flaws in blead, what part is associated with flaws in CPAN, and what is the balance of the two.  That means there may need to be corrections in both Perl blead and on CPAN -- but P5P needs to do its p

[2022-09-06 21:23] richardleach commented on #20114
Merged a very minor and straightforward tweak to PADSV_STORE's peephole optimization to skip the kind of SASSIGN ops emitted by `Memoize::Once`: https://github.com/Perl/perl5/commit/c5bbf81a67393c24727402cfeca0bfe002966ee0

[2022-09-06 21:28] richardleach commented on #20114
Summarizing the still-broken packages from this issue:
* Variable::Magic and Devel::Caller - they need updating to take account of the new OP. Patches supplied, but no releases incorporating them as-yet AFAIK.
* OALDERS/App-perlvars-0.000004.tar.gz - broken, most probably due to `Test::Vars`. This is next on my list to look at; initially looks like `Test::Vars` will need updating to account for th

[2022-09-06 21:51] jkeenan commented on #20114
The [CPANtesters reports for Test-Vars](http://matrix.cpantesters.org/?dist=Test-Vars+0.015) are not consistently showing failures; only 4 runs on Linux are doing so.  Just now, I was able to install Test::Vars against Perl 5 blead at 8975221916 on FreeBSD-12 -- but when I then tried to install App::perlvars against that same perl, I got failures similar to those being reported at http://matrix.cp

[2022-09-07 00:31] jkeenan commented on #20114
I can, however, confirm that 9fdd7fc4796d89d16dceea42f2af91e4fde296ed is the breaking commit for App::perlvars.

[2022-09-07 01:02] tonycoz commented on #20255
This seems like a reasonable analysis, and if I change the Opcode version to use `our $VERSION = ...` the M::E::VERSION tests pass.

I'm not that familiar with Safe, but it looks like the `&version::(<=>` sub is being shared with the safe root (Safe.pm:174), so I don't see why it's crashing (and that code shouldn't be happening within the Safe compartment anyway).

[2022-09-07 15:51] oalders commented on #20114
I think `Test::Vars` is actually returning more accurate results via `blead`. One of the test failures for `App-perlvars` is here:

[code]

Previously this was reporting that 4 variables were unused. Now it's reporting that there are 5, with `my $four = 4;` being the variable that was previously not thought to be unused.

[2022-09-07 16:47] richardleach commented on #20114
That's interesting. I wonder if https://github.com/Perl/perl5/commit/6f629715866f9fa9452688fb66ee6661307b7a78 is what made the difference.

Just so I understand correctly:

Under blead, Test::Vars reports correctly for 'sub bar', or just less broken than before?

That should be detected as unused?

[2022-09-07 17:15] jkeenan commented on #20114
The documentation for Test::Vars includes this subsection:

-----

**MECHANISM**
"Test::Vars" is similar to a part of "Test::Perl::Critic", but the mechanism is different.

While "Perl::Critic", the backend of "Test::Perl::Critic", scans the source code as text, this modules scans the compiled opcodes (or AST: abstract syntax tree) using the "B" module. See also "B" and its submodules.

-----

Now

[2022-09-07 18:11] #20231 closed

[2022-09-07 18:21] oalders commented on #20114
Right. It's essentially useful as a linter. I've discussed it a bit here: https://www.olafalders.com/2022/02/22/finding-unused-perl-variables/ `Test::Vars` does have some problems and it's in search of a maintainer. I'm not too concerned about `App::perlvars` breaking because of it. If it just means it finds more unused variables in 5.38 then I can adjust the test suite accordingly when the time c

[2022-09-07 18:25] oalders commented on #20114
Under blead it gets everything correct for `sub bar`. Under other versions of perl it misses one case.

In my mind, yes. But under earlier perl versions it doesn't get detected as unused either. I don't know the internals of `Test::Vars` well enough to understand if this is even fixable. So I think I would just expect it to miss that case.

[2022-09-07 20:05] Leont commented on #20167
Does it? Knowing early if we break MacOS sounds important to me. What's the alternative?

[2022-09-07 20:16] richardleach commented on #20114
Yes, that's probably best in the first instance, otherwise I'll just be guessing about what's the intended behaviour. I've created https://github.com/houseabsolute/p5-Test-Vars/issues/47 for now.

[2022-09-07 22:15] demerphq commented on #20114
Didn't you say it was checking the vars in bar()? Makes sense to me it wouldnt be picked up in there.

[2022-09-07 23:47] #20189 closed

[2022-09-07 23:57] tonycoz commented on #20130
That looks good to me.

[2022-09-08 00:41] jkeenan commented on #20130
This is what I did after locally deleting tag `v5.37.3` and creating a new annotated `v5.37.3`.
[code]
While the final `git describe` is what we were aiming for, it is apparent that much more happened with that `git push --tags --force origin` than I was expecting.  I **think** that we can safely delete these two tags:
[code]
... but I won't take any other action until @tonycoz or others remove wh

[2022-09-08 00:46] jkeenan commented on #20130
Those two may only exist in my own checkout. Please don't worry too much about them.

[2022-09-08 01:18] jkeenan commented on #20130
Yes, please!  It's late here; I just got out of a building shareholders' meeting; my head is spinning and I'm in need of beer!  Thanks!

[2022-09-08 02:01] tonycoz commented on #20130
Done:
[code]

[2022-09-08 08:29] demerphq commented on #16457
I believe this is fixed as of Perl 5.37.4. Likely by 375d68c017193cf7263947ef5c595647f04eb9b8

[2022-09-08 08:29] #16457 closed

[2022-09-08 08:30] demerphq commented on #16057
I have a fix for this.

[2022-09-08 09:05] haarg commented on #20130
Ugh. I'm working on fixing this.

[2022-09-08 09:33] haarg commented on #20130
I've restored the accidentally pushed tags to their previous state.

[2022-09-08 09:41] haarg commented on #17321
@toddr, could you push the fixed maint-5.004 branch? It should be as simple as:
[code]
I believe you have permission to do the force push, but if not, you have administrator permissions on the repository and can change the permissions.

[2022-09-08 10:13] demerphq commented on #16457
Bisect said it was 197bb3f4412b47e2f91dcf54c64d12d9fd05967b

[2022-09-08 10:50] demerphq commented on #17397
This is fixed by eeaa14560ec85b0b27e1525f54911f13d61ec55f (unmerged as yet).

[2022-09-08 11:06] demerphq commented on #15910
This appears to have been fixed as far back as 5.34, although i have not checked the exact commit. It might have been bb4e4c3869 but i havent checked yet. @tonycoz might know.

[2022-09-08 11:11] demerphq commented on #15913
This appears to be fixed in 5.34 if not sooner, possible via @tonycoz and bb4e4c3869 but i havent checked yet.

[2022-09-08 11:18] demerphq commented on #14852
This does not segfault in 5.34.1. Possibly because the prototype is ignored because the expression is not constant.  See also #16057 for the same reduced bug.

[2022-09-08 11:31] demerphq commented on #17397
Currently in https://github.com/Perl/perl5/pull/20168

[2022-09-08 11:39] demerphq commented on #13515
Closing as the bug is reported to be fixed.

[2022-09-08 11:39] #13515 closed

[2022-09-08 13:19] wchristian commented on #20130
@jkeenan to avoid reoccurence you might also want to *locally* delete all the tags in those error messages and do git fetch to grab the authoritative data

[2022-09-08 13:29] oalders commented on #20114
`Test::Vars` works on packages, so the optimist in me would hope that all unused variables in the package would be picked up, not just the unused vars in subroutines, but that's unrelated to this particular issue.

[2022-09-08 16:09] karenetheridge commented on #20130
I would suggest going further and doing `rm -rf ~/git/perl5` (or whatever you have named your repo) and cloning a new one to start fresh. [After pushing any local branches you want to keep to a fork, of course.]

[2022-09-08 16:32] Grinnz commented on #20130
Another in the list of "ways to avoid doing something like this in the future": if you need to replace a tag or tags, delete them specifically from the remote repo (as @tonycoz described) and then you don't need the dreaded --force.

[2022-09-08 17:14] haarg commented on #20130
With the same commit checked out as in the original issue report:
[code]
The new tag:
[code]

So this issue is fixed. I think we'll want to protect all of the release tags to prevent the bad push that happened here. But that is something that should be addressed to p5p.

[2022-09-08 17:14] #20130 closed

[2022-09-08 18:46] oalders opened #20272 "[doc] Document exporting constants with Exporter"
**Where**

Exporter.pm

**Description**

The `Exporter` docs state:

However, the docs don't mention how to export constants, which can be something as simple as:

[code]

If this seems reasonable to document, I can put a doc patch together.

[2022-09-08 19:58] Grinnz commented on #20272
Const::Fast isn't core so I'm not sure the value of referencing it here. Core constants are subroutines which of course are easy to export like any other subroutine, so that might be useful to mention.

[2022-09-10 15:27] #20140 closed

[2022-09-10 22:33] toddr commented on #17321
Force pushed. Testing shows:
[code]

[2022-09-10 22:53] toddr commented on #17321
If someone wants to clean this bug up as far as git fsck goes, you may have to update or remote some remotes. For instance, I had to remove my old booking remote because it of course hasn't been cleaned up.

I did something along the lines of: `git branch -a --contains d958e86c431726ba4d228224bff4ae5994727ded`

You'll also need to force fetch from p5p: `git fetch --tags -f p5p`

Additionally you m

[2022-09-10 22:53] #17321 closed

[2022-09-11 12:43] jkeenan commented on #17227
Closing as per scheduled.

[2022-09-11 12:43] #17227 closed

[2022-09-11 12:44] jkeenan commented on #20141
Closing as per schedule.

[2022-09-11 12:44] #20141 closed

[2022-09-11 15:29] bram-perl opened #20284 "Git: make version tags protected"
The version tags are currently not protected which means someone can force push them (either by accident or intentional).

This is a request to protect them.

Ideally all of them would be protected but that may not be possible: ; reading the GitHub docs protecting 'v5*' may/will prevent the release manager from pushing the tag for a new version (assuming I read the docs right).

At a minimum the f

[2022-09-11 15:33] toddr commented on #20284
I'm happy to set it up but I'd like an ok from someone on the PSC. @rjbs @leonerd @book

[2022-09-11 17:37] haarg commented on #20284
Restricted tags can be pushed by anyone with "maintain" permissions, but can only be deleted or overwritten with "admin" permissions.

This page show what is granted by the various permissions: https://docs.github.com/en/organizations/managing-access-to-your-organizations-repositories/repository-roles-for-an-organization

If everyone doing a release was given "maintain" permissions, they would be

[2022-09-11 23:58] tonycoz commented on #15913
It seems like the kind of bug it would fix.

I can reproduce it with 5.18, 5.26.1 but not with 5.28 (though that asserts), and not with 5.30.2 (both debug builds).

bb4e4c3869 is v5.27.8-155-gbb4e4c3869 so I think it's fixed, closing.

[2022-09-11 23:58] #15913 closed

[2022-09-12 00:17] tonycoz commented on #15910
It looks like the type of bug it would have fixed, and valgrind shows the error in 5.26 and not in 5.28.

[2022-09-12 00:17] #15910 closed

[2022-09-12 07:29] Jamaika1 opened #20286 "malloc.c gives compiler warnings under multiplicity"
I use gcc 11.3.0. with function -DPERL_CORE -DPERL_IS_MINIPERL -DUSE_ITHREADS
https://github.com/Perl/perl5/commit/932a38d1a532eec8faccdcb6e4ce4d023fbf70be
Are these messages correct?
[code]
https://github.com/Perl/perl5/pull/20289

[2022-09-12 11:03] tonycoz commented on #20286
It's unclear where you're supplying those defines, but they should only be defined by the build process.

[2022-09-12 11:06] Jamaika1 commented on #20286
I supply definitions for all .c files.
for %%f in ("%~dp1*.c") do gcc.exe -std=gnu2x -ftree-vectorize -g0 -O3 -fPIC -DWIN32 -DWINVER=0x0602 -D_WIN32_WINNT=0x0602 -DWIN32_LEAN_AND_MEAN=/"/" -DNWIN32IO_IS_STDIO=/"/" -DPERL_CORE -DPERL_IS_MINIPERL -DUSE_ITHREADS -DDEBUGGING -c %%f -o %%~nf.o

[2022-09-12 11:16] tonycoz commented on #20286
Use the makefile:
[code]

See the top of `win32/GNUmakefile` for a summary, or read through `README.win32` for details on building perl on windows.

[2022-09-12 12:26] jkeenan commented on #20228
With commit dcf2c66b4ba2e50408461d7ac13a4782ba26bf1b, the immediate problem is resolved, so I'm closing this ticket.  I recommend that any further general discussion of `regen` procedures take place on the mailing list.

[2022-09-12 12:26] #20228 closed

[2022-09-12 13:45] Jamaika1 commented on #20286
I leave this problem to others
[code]

[2022-09-12 16:52] cjg-cguevara opened #20291 "BBC: Blead Breaks HTML::Mason"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.43 running under perl 5.37.4.

-----------------------------------------------------------------

BBC: Blead Breaks HTML::Mason

Please see http://matrix.cpantesters.org/?dist=HTML::Mason

---
**Flags**
- category=core
- severity=low
---
**Perl configuration**
[code]

[2022-09-12 16:53] leonerd commented on #20284
I know and understand almost nothing surrounding this issue, but any mechanism that makes accidentally screwing up historical version tags, without getting in anyone else's way doing useful things, sounds like a good idea to me.

So not really a +1 but more a "eh, I don't see anything to object to currently"

[2022-09-12 17:50] jkeenan commented on #20291
I have reproduced this breakage by building perl at eb54d46f7264ff7af62c409d8a6ab984a5a34f57 and attempting to install HTML::Mason against it.  The breakage in `t/13-errors.t` looks like this:
[code]
The failing test looks like this:
[code]
I have not bisected, but I strongly suspect this failure is associated with eb54d46f7264ff7af62c409d8a6ab984a5a34f57.
[code]
@demerphq, can you take a look?

[2022-09-12 19:46] Leont commented on #20286
Yeah, those defines in malloc.c are no longer correct and should be updated.

[2022-09-12 22:10] jkeenan commented on #20291
Bisection has confirmed that this is the first bad commit.
[code]

[2022-09-13 07:50] demerphq commented on #14852
Ah, i guess you mean e5d2a2ef8ab1139143d2cad7a2d0db63a6f7d8f5

Cool. :-) Closing.

[2022-09-13 07:50] #14852 closed

[2022-09-13 07:50] demerphq commented on #16057
Fixed with e5d2a2ef8ab1139143d2cad7a2d0db63a6f7d8f5. Closing.

[2022-09-13 07:50] #16057 closed

[2022-09-13 08:55] yangmingtai opened #20295 "perl-5.34.0 build error with test failed"
Module: Sys-Syslog、File/stat.t

**Description**

I get two error on test stage , we have log， but it is hard to reproduce it.
log: http://117.78.1.88:82/obs_build_log/openEuler:22.09/aarch64/perl/
1.
![image](https://user-images.githubusercontent.com/17870505/189857800-f9723318-8148-470c-a4de-dcf85db75c2e.png)
2.
![image](https://user-images.githubusercontent.com/17870505/189857619-8eb74935-04c6-4

[2022-09-13 08:56] yangmingtai commented on #20295
Summary of my perl5 (revision 5 version 34 subversion 0) configuration:

  Platform:
    osname=linux
    osvers=
    archname=aarch64-linux-thread-multi
    uname='linux '
    config_args='-des -Doptimize=none -Dccflags=-O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fstack-protector-strong -grecord-gcc-switches -specs=/usr/lib/rpm/generic-hardened-cc

[2022-09-13 08:58] yangmingtai commented on #20295
It may be the cause of system overload

[2022-09-13 10:02] demerphq commented on #20291
This is a tangled web of issues. The summary is that this may highlight a bug in Perl, but it does not highlight a bug in the "stop on first error". This bug may be demonstrated by modifying the code to contain 10 errors instead of 1 even on older perls. The difference between 10 and 1 is that if the compiler "runs out of source code" with less than 10 errors inside of an eval STRING, the compilat

[2022-09-13 10:35] demerphq opened #20296 "$SIG{__DIE__} does not get reliably triggered by compilation errors."
**Description**
During compilation Perl "saves up errors", so that it can show as many errors as possible to the user as it can. When it reaches a threshold (in theory 1 for syntax errors and 10 for other errors but in practice sometimes 11 depending on the error), it will trigger a Perl_croak and stop compilation, this in turn will feed the *list* of errors encountered to the `$SIG{__DIE__}` hand

[2022-09-13 12:30] jkeenan commented on #20295
You are attempting to compile perl with a very large number of command-line switches to `./Configure`.  Your next task is to configure with the minimum number of command-line switches, build and run the test suite, and observe whether you reproduce these two test failures.  Example:
[code]
If you get failures with such a simple configuration, then the cause of those failures is likely to be in you

[2022-09-13 12:55] djerius opened #20297 "experimental for_list doesn't support declared_refs"
Core:

**Description**

The `\%hash` (experimental `declared_refs`) syntax  is not supported in a for list (experimental `for_list`).

**Steps to Reproduce**

[code]
The result is:
[code]
Commenting out the `for_list + declared_refs` entry results in the expected output:
[code]

**Expected behavior**

I expected the combination of `for_list` and `declared_refs` to be accepted syntax, and to produc

[2022-09-13 12:57] jkeenan commented on #20296
I have confirmed the 3 anomalies for which you gave examples on threaded builds on FreeBSD with both perl-5.32.1 and blead built at 5d56ab3b35.

[2022-09-13 13:59] philiprbrenan opened #20298 "Dereferencing a function before it is declared works but not afterwards."
If I dereference a function before declaring the function, the function gets called successfully. After the function has been declared the same call does not work.  I find this surprising and difficult to explain to new Perl users.

![image](https://user-images.githubusercontent.com/7548378/189919862-a82eeb91-1e4d-46ef-badf-df29270e3bad.png)

Here is the actual code:
[code]

[2022-09-13 15:04] Grinnz commented on #20298
You have not dereferenced the function. You have attempted to dereference the value the function returns, which is not a code reference. A function is called with the syntax `a()`, a bareword symbol is not a reference.

[2022-09-13 15:04] #20298 closed

[2022-09-13 22:06] jkeenan commented on #20286
@Leont, is this ticket closable?  As it stands, it does not appear that the OP has provided us enough information to proceed, but your remark suggests a different ticket should be opened.  Thanks.

[2022-09-14 00:13] hvds commented on #20296
Options to get more information about possible fallout include:
- push it to a smoke-me branch
- merge it for a development release

It seems clear to me that die handlers should get called on death (and only once!), and that this is therefore a bug which we would ideally fix. If it turns out to cause a lot of fallout, we might need to defer the fix or provide other mitigation (including, in extre

[2022-09-14 00:57] jkeenan commented on #20296
I share these concerns.

I consider the current change (calling die-handler for evals with one syntax error) to be a backwards-incompatible change...

I agree.

[2022-09-14 01:14] jkeenan commented on #20296
Unfortunately, we have no **systematic** way of getting CPANtesters-style feedback on non-blead branches in the core distribution.

`smoke-me` branches can be very useful along two dimensions: (1) getting feedback on platforms other than Linux or Windows; (2) multiplying the number of different build configurations.  But to be useful there must be humans who have an interest in, and access to, the

[2022-09-14 01:25] tonycoz commented on #20295
I can see either of these tests failing under heavy load.

`lib/File/stat.t` could wait for the clock to tick over to the new second, but that would require a busy loop.

[2022-09-14 05:59] demerphq commented on #20296
On Wed, 14 Sept 2022 at 02:57, James E Keenan ***@***.***>
wrote:

I *strongly* disagree. This is a long standing bug, and we should just fix
it. It has always been present. It is surprising, and if it had come to our
attention any other way we would consider it a bug.

It's a bug, lets fix it and move on.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-09-14 18:29] Leont commented on #20286
The problem can easily be replicated by building a perl with `-Dusemymalloc -Dusethreads`.

[2022-09-14 20:02] jkeenan commented on #20286
Thanks.  What would be a better Subject for this issue (than "Question")?

[2022-09-14 20:51] jkeenan opened #20302 "eb54d46f726 triggers new build-time warning"
A recent commit has introduced a new build-time warning.

Using my customary configuration switches and `clang10` as the compiler on FreeBSD-12, I built `perl` at 658a5bedcf.  I got the following build-time warning:
[code]
The line cited in `toke.c` was added in recent commit eb54d46f726:
[code]
Configuring and building at that commit and the one immediately preceding that commit confirmed that it

[2022-09-15 10:20] openstrike opened #20303 "[doc] prepan.org has gone but references remain"
**Where**

perlmodstyle and perlcommunity

**Description**

Both these perldoc pages refer (and link) to prepan.org but unfortunately this site has gone and the domain has been snaffled by a drop-catcher.
These references and links should therefore be removed.

[2022-09-16 03:36] #20303 closed

[2022-09-16 14:38] Rob-Kirkby opened #20306 "File::Find can fail in windows"
Module:File::Find

**Description**

In windows a stupidly long and straggly directory structure can defeat the find() traverse process.
[bug_report.txt](https://github.com/Perl/perl5/files/9584861/bug_report.txt)

**Steps to Reproduce**

run these scripts (usage is in bug_report.txt above)
[mk_tst.bat.txt](https://github.com/Perl/perl5/files/9584887/mk_tst.bat.txt)
[tst_find.bat.txt](https://githu

[2022-09-16 16:18] x-yuri opened #20307 "^D doesn't always work in the perl debugger"
Module: lib/perl5db.pl

**Description**

<kbd>^D</kbd> doesn't work at the beginning of the session, after `n`, `s`, and maybe in some other cases.

From what I can see that happens because generally `$DB::single` is [reset](https://github.com/Perl/perl5/blob/v5.37.3/lib/perl5db.pl#L3106-L3107) before processing a command. But at the beginning of a session it doesn't get to that line. After `n` an

[2022-09-16 18:11] Leont commented on #20306
I suspect this is the same bug as https://github.com/Perl/perl5/issues/19995 and should be fixed by https://github.com/Perl/perl5/pull/20008

[2022-09-16 19:37] jkeenan commented on #20295
I'm going to self-assign this ticket for the purpose of closing it within 7 days unless we hear back from @yangmingtai.

[2022-09-17 09:01] Rob-Kirkby commented on #20306
Dear Leon
thanks for correlating these bugs.  I'm a total newby with GitHub and
couldn't search it for like bugs.
Having quickly read #19995 and #20008 I cannot judge whether they are
the same bug.  However I did provide a fairly explicit means to
reproduce my bug which tests out on Win7 and Win10 (and DOS).  And I
traced it to a particular usage of CD which broke it.  So if #20008
fixes my bug to

[2022-09-19 00:37] tonycoz commented on #20180
I think the suppression markup is the correct solution instead of the fix in #20310.

The code is linking an auto variable into the chain for the recursive call, but then unlinks it immediately after in each case, so I don't think we have a bug here.

The change in #20310 looks very fragile, adding over 40 calls (I stopped counting) to free a block which the normal stack unwinding in the existing

[2022-09-19 00:59] tonycoz commented on #20180
I do think cppcheck, and clang-tidy, CodeQL, are useful tools, and I think it would be good to integrate them into our CI.  They have a shorter turnaround compared to Coverity, and if they're part of our CI they'd handle branches better than we can with Coverity.

I do think, as with Coverity, need to treat each report critically, and not just blindly appease the tool.

I'd welcome as PR that inte

[2022-09-19 12:13] jkeenan commented on #20302
This warning is still present in 534b66374b.  Yves, @demerphq, could you take a look at it so that we can clear it up before tomorrow's release?

[2022-09-19 12:51] demerphq commented on #20302
On Mon, 19 Sept 2022, 13:13 James E Keenan, ***@***.***>
wrote:

Sorry, no can do. I don't have compiler access until Thursday.

It's used in debugging, if someone wants to PERL_DEB it then go ahead. Or
just uncomment the commented out else if. It's not a bug, I don't think it
should be a showstopper for a dev release.

Yves

[2022-09-19 15:26] toddr commented on #20284
[code]

The above tags are now protected. This may break whoever is doing this month's release. If so I'm available to debug and correct permissions as-needed.

[2022-09-19 15:26] #20284 closed

[2022-09-19 17:53] #20167 closed

[2022-09-20 08:10] briang opened #20324 "Massive installation slowdown between blead and 5.37.3"
This is a bug report for perl from briang@cpan.org,
generated with the help of perlbug 1.42 running under perl 5.36.0.

-----------------------------------------------------------------
[Please describe your issue here]

Installing perls <= 5.37.3 usually takes 3-5 minutes depending on configure
options. Blead (as of 2022-09-20 08:50 BST) takes 11-15 minutes.

Here's an example of installing blead

[2022-09-20 08:22] briang commented on #20324
It's the tests:

[code]

[2022-09-20 09:00] demerphq commented on #20324
On Tue, 20 Sept 2022, 09:22 brian greenfield, ***@***.***>
wrote:

Try exporting

TEST_JOBS=4

replace 4 with whatever you are feeding to -j.

Telling the maker to use K processes doesn't translate into the tests using
K processes and some of the newer tests take a while so running them in
parallel makes a big difference.

Yves

[2022-09-20 09:38] briang commented on #20324
It didn't make a significant difference:

[code]

[2022-09-20 09:52] demerphq commented on #20324
On Tue, 20 Sept 2022, 10:38 brian greenfield, ***@***.***>
wrote:

You need to use test_harness and don't remove the -j argument to make.

TEST_JOBS=5 make -j5 test_harness

[2022-09-20 09:59] demerphq commented on #20324
On Tue, 20 Sept 2022, 10:52 demerphq, ***@***.***> wrote:

Sorry, fat fingered send too early.

Perl has two test targets in its Makefile and only one of them supports
parallel tests. The default (for most platforms) does not support it. Not
sure why frankly, but there you go.

Yves

[2022-09-20 10:14] Leont commented on #20324
If you run tests with `HARNESS_TIMER=1` you will get run times for individual tests (not sure it combines well with parallelization). You can use that figure out where the difference comes from.

[2022-09-20 10:15] briang commented on #20324
Grrr. I did have a look at perlhack.pod, but stopped at

    TEST_JOBS=3 make test_harness  # Run 3 tests in parallel

I should have read on where it explains about `-j`😠

With `TEST_JOBS=5` and `-j 5`:

[code]

A bit faster than it was but still a lot slower than 5.37.3.

[2022-09-20 12:04] briang commented on #20324
@Leont

I ran the blead and 5.37.3 test suites with `HARNESS_TIMER=1` and compared the results of all the tests that took 1 second or more. (Luckily, I know a programming language that helped with that😊) The only significant difference I found was `cpan/Memoize/t/speed` that took 3 seconds longer on blead

[2022-09-20 14:34] jkeenan commented on #20324
There are four possible sources of slowdowns in the running time of the test suite.
1. Adding more unit tests to *existing* test files.
2. Modifying existing unit tests in ways that take longer to run.
3. Adding more test files.
4. Slowdown in the `perl` executable.

Only \#4 is cause for serious concern, IMO.

Between v5.37.3 and HEAD of blead (v5.37.3-326-gf1cc674150) we added 5 new test files a

[2022-09-21 05:15] tonycoz commented on #20307
I suspect 80c1f1e45e8 changed the behaviour of this, with blead:
[code]
I hit ^D only once, and since the eof flag is now left on, the second attempt to read also return eof and the run proceeds.

You said you expected the script to run to the end, but the documentation indicates both `q` and `^D` should *exit* the debugger, and q immediately exits without running the rest of the script.

[2022-09-21 08:25] andk commented on #20208
@tonycoz , could you please also have a look at Log::Log4perl ? Sample fail report: http://www.cpantesters.org/cpan/report/0f312440-2b1e-11ed-9d90-da37e468283a . Thank You!

[2022-09-21 08:26] andk commented on #20208
OOps, I wanted to write this comment in the issue 20207; Darn :(

[2022-09-21 08:37] briang commented on #20324
With the release of 5.37.4, I've timed that against 5.37.3 and blead. There's no real difference between .3 and .4:

[code]

However, blead @ 9:21 BST (818308540a041c9db1e5925678cf5da96ff16475) is still slow:

[code]

(I've used perlbrew because it uses test_harness and TEST_JOBS)

Given that the slowdown is limited to blead, I'm going to close this issue now.

Thanks for all your help

[2022-09-21 08:37] #20324 closed

[2022-09-21 09:09] demerphq commented on #20324
On Wed, 21 Sept 2022, 09:37 brian greenfield, ***@***.***>
wrote:

One question, did you check to see if blead is being built with DEBUGGING
but the others are not? DEBUGGING mode massively slows down the tests.

Yves

[2022-09-21 11:31] briang commented on #20324
Unfortunately not:

[code]

[2022-09-21 13:48] cjg-cguevara opened #20327 "BBC: Blead Breaks Cache::FastMmap"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.43 running under perl 5.37.4.

-----------------------------------------------------------------

BBC: Blead Breaks Cache::FastMmap

Please see http://matrix.cpantesters.org/?dist=Cache::FastMmap

---
**Flags**
- category=core
- severity=low
---
**Perl configuration**
[code]

[2022-09-21 15:13] richardleach commented on #20327
Possibly fixed with:
[code]
Running more tests now.

[2022-09-21 16:24] jkeenan opened #20328 "Recent commits add 4 build-time warnings with gcc as compiler"
A series of recent commits introduced 4 new instances of a single build-time warning when using `gcc` as the C-compiler.  (Weirdly enough, `clang` did not emit these warnings.)  These warnings have been observed using `gcc` version 10 on both Linux and FreeBSD.

**Summary:**
[code]
**Context**

In `make` output, we have this:
[code]
I think you can probably see this with just `make miniperl` as we

[2022-09-21 16:38] richardleach commented on #20328
This should get fixed by https://github.com/Perl/perl5/pull/20322

[2022-09-21 21:43] jkeenan commented on #20246
@leonerd, can you take a look at this ticket?  The problem appears connected to one of your commits from the last dev cycle.  Thanks.

[2022-09-21 21:46] jkeenan commented on #20086
This was fixed in https://github.com/Perl/perl5/pull/20240; closing.

[2022-09-21 21:46] #20086 closed

[2022-09-21 21:49] jkeenan commented on #7309
@Leont, do you concur?

[2022-09-21 21:52] jkeenan commented on #19949
@khwilliamson, what should be our next steps with this problem?

[2022-09-21 21:58] jkeenan commented on #17713
@akhuettel, could you let us know how the suggestions by @khwilliamson have worked out?  (Otherwise, we will soon close this Issue.)

[2022-09-21 22:00] jkeenan commented on #19919
@hvds this ticket looks closable to me; do you concur?

[2022-09-21 22:01] jkeenan commented on #19728
@nwc10, @khwilliamson, same questions as above ^^

[2022-09-21 22:03] jkeenan commented on #19566
Since we have heard no objection to closing this ticket in the 3 months since @pmqs's comment, closing this now.

[2022-09-21 22:03] #19566 closed

[2022-09-21 22:43] #7309 closed

[2022-09-21 22:43] Leont commented on #7309
Yeah, this is solved.

[2022-09-21 23:39] hvds commented on #19919
Given that the OP has had nothing further to say since my response from July, I agree; closing it now.

[2022-09-21 23:39] #19919 closed

[2022-09-22 01:38] tonycoz commented on #20208
https://github.com/mschilli/log4perl/pull/119

[2022-09-22 19:56] richardleach opened #20336 "bless \( my $x = undef ); fails under Perl 5.37.4"
**Description**
(via _perlbug_ and https://www.nntp.perl.org/group/perl.perl5.porters/2022/09/msg264826.html)

I had some code that blessed a reference to a scalar that was
initialized to undef. This throws a fatal error under Perl 5.37.4,
though it worked under previous releases. A one-liner reproducing the
problem is below, together with results under a selection of Perl
versions.

NOTE that the

[2022-09-22 19:58] richardleach commented on #20336
ilmari bisected to the OPpTARGET_MY optimisation for OP_UNDEF (c74a928a43322c574522f122a3f3a29262f90613).

[2022-09-22 19:59] richardleach commented on #20328
#20322 was merged today.

[2022-09-22 20:16] richardleach commented on #20336
The following fixes the reported test case. Running all tests now.

[code]

[2022-09-22 21:14] jkeenan opened #20338 "58b390f21b triggers new build-time warning on threaded builds on FreeBSD"
A recent commit has introduced a new build-time warning when running `make` on a threaded build on FreeBSD-12 using either `gcc10` or `clang10` as the compiler.

**Summary**

[code]

**Context**

[code]
**Analysis**

I haven't bisected this but the line in question in `locale.c` was touched in this commit:
[code]
This is *not* appearing in threaded builds on Debian 11 Linux using `gcc-10` as the c

[2022-09-22 21:16] jkeenan commented on #20328
And that did indeed clear the `-Wunused-value` warnings from my `gcc` builds on both Linux (Debian 11) and FreeBSD-12.  Thanks for your investigation.

[2022-09-22 21:16] #20328 closed

[2022-09-23 08:51] vinc17fr opened #20342 "Behavior of combined assignment operators on a list"
**Description**
On a list, I would expect combined assignment operators to be applied to each lvalue instead of just the last one.

**Steps to Reproduce**
[code]

**Expected behavior**
I would expect the "+ 17" to be applied to both $x and $y instead of just $y, i.e. I would expect (22,25) as in `($x,$y) = map { $_ + 17 } ($x,$y)`.

The [perlop](https://perldoc.perl.org/perlop) man page says "Thes

[2022-09-23 12:02] jkeenan commented on #20342
My instinctive reaction to that code is: "In 20+ years of writing Perl I've never thought to try that.  What is he thinking of?"

Well, to me (at least) that expectation is ruled out by (i) the documentation you quote below and (ii) the fact that Perl has behaved this way since at least perl-5.6.2 (oldest I have) and probably forever.

A warning, perhaps, prompting the user to re-consider what he/

[2022-09-23 12:05] jkeenan commented on #20342
We could, of course, clarify the documentation in `pod/perlop.pod` to show that using a combined assignment operator to assign to a list does not produce easily understandable results.

[2022-09-23 12:18] #20336 closed

[2022-09-23 12:26] Leont commented on #20342
`($x,$y)` in scalar context is perfectly well-defined to return `$y`. Is it a silly thing to do? Yes. But Perl is not the sort of language that prevents you from trying to do silly things; perlcritic is your friend if you hate silliness.

[2022-09-23 12:47] vinc17fr commented on #20342
OK, it returns the last element in a scalar context (but my point was to regard this in a list context, just like assignments), and the result is still inconsistent with
[code]

At least, the similar `++` operator returns an error:
[code]

[2022-09-23 12:55] #20342 closed

[2022-09-23 12:57] Leont commented on #20342
It works exactly as designed; one `($x,$y)` is in list context and the other is in scalar context. Like it or not, there's no bug here, nor is there a behavior that we can realistically change it this point in perl's evolution.

[2022-09-23 13:07] vinc17fr commented on #20342
Sorry, but you're wrong. `($x,$y) = 25` return `(25,)`, not `(5,25)`. So `(5,25)` is definitely incorrect as the result of `($x,$y) += (10,17)`.

[2022-09-23 13:13] Leont commented on #20342
The result of `($x,$y) += (10,17)` is not `(5,25)`, it's `25`. You may find it surprising, but it's not incorrect.

This tracker is not a perl help channel, if you need explanation of how the language works there are other more suitable venues.

[2022-09-23 13:26] vinc17fr commented on #20342
I meant what is assigned to $x and $y. Here's what I get:
[code]
as opposed to
[code]
since `($x,$y) + (10,17)` gives the result 25.

[2022-09-23 14:52] Leont commented on #20342
`+`, and by extension `+=` enforces scalar context. `($x,$y) += (10,17)` is just a really silly way of writing `$y += 17`. All augmented assignment operators in Perl do this, as they're all based on scalar operators.

`=` is the normal assignment operator, and as such can work in both scalar and list context, unlike any of the scalar assignment operators. The left hand is forcing the operator to b

[2022-09-23 15:51] richardleach commented on #20114
Status update:
* Variable::Magic patch has been applied in the new 0.63 release (https://metacpan.org/dist/Variable-Magic/changes)
* Devel::Caller patch still awaiting incorporation into a release (https://rt.cpan.org/Ticket/Display.html?id=144051)
* Test::Vars still unclear what the fix should be. (I floated a suggestion on https://github.com/houseabsolute/p5-Test-Vars/issues/47)

[2022-09-23 19:41] andk commented on #20207
Also affected: WHYNOT/File-AptFetch-v0.1.14.tar.gz
Sample report: http://www.cpantesters.org/cpan/report/caa6bb86-3b0e-11ed-a22f-a51cc21cab27

[2022-09-23 19:54] andk opened #20345 "BBC: Blead breaks ADAMK/Devel-Dumpvar-1.06.tar.gz"
**Description**

Starting with v5.37.3-114-gc74a928a43 tests are failing for ADAMK/Devel-Dumpvar-1.06.tar.gz

Sample fail report: http://www.cpantesters.org/cpan/report/a6fce3b4-39d7-11ed-9c39-ec949d66406b

Git bisect for this fail lead me to

[code]

**Steps to Reproduce**

cpan -i ADAMK/Devel-Dumpvar-1.06.tar.gz

**Expected behavior**

Should build, test and install the pkg

**Perl configuration

[2022-09-23 20:07] richardleach commented on #20345
This looks to have been fixed in blead today via https://github.com/Perl/perl5/commit/22d01053ed299e489bfee2839fb35dfeece9d1fb.

The failing test in _Devel::Dumpvar_ creates multiple objects via the syntax:
`bless( do{\(my $o = undef)}`
which was the original problem in #20336 and what the above commit was intended to fix.

[2022-09-23 20:11] andk opened #20346 "BBC: Blead breaks MAUKE/Quote-Code and others"
**Description**

Starting with v5.37.3-256-geb54d46f72 tests started to fail for MAUKE/Quote-Code-1.0102.tar.gz

Sample fail report: http://www.cpantesters.org/cpan/report/2afa4b80-39d7-11ed-a607-5f869d66406b

Git bisect for this fail lead me to

[code]

**Steps to Reproduce**

cpan -i MAUKE/Quote-Code-1.0102.tar.gz

**Expected behavior**

Should build, test and install the pkg

**Perl configurati

[2022-09-23 20:13] jkeenan commented on #20346
@demerphq, can you take a look?  Thanks.

[2022-09-23 20:21] andk commented on #20346
Also affected: SCHWIGON/BenchmarkAnything-Schema-0.004.tar.gz
Report: http://www.cpantesters.org/cpan/report/aa1399dc-3a39-11ed-89ed-9873ac66406b

[2022-09-23 20:23] andk commented on #20346
Also affected: MCHE/Mojolicious-Plugin-RenderCGI-0.102.tar.gz
Report: http://www.cpantesters.org/cpan/report/f7a4da9a-3aec-11ed-a602-dbf5be1cab27

[2022-09-23 22:02] jkeenan commented on #20345
Confirmed; closing ticket.
[code]

[2022-09-23 22:02] #20345 closed

[2022-09-24 00:52] Quipyowert2 opened #20348 "CvSTART(PL_compcv) is possibly leaking when running test t/porting/copyright.t"
Cc: nathan@localhost.localdomain
Message-Id: <5.37.4_11962_1663975792@localhost.localdomain>
Subject: CvSTART(PL_compcv) is possibly leaking
Reply-To: the.true.nathan.mills@gmail.com
To: perl5-porters@perl.org
From: the.true.nathan.mills@gmail.com

This is a bug report for perl from the.true.nathan.mills@gmail.com,
generated with the help of perlbug 1.43 running under perl 5.37.5.

---------------

[2022-09-24 20:31] richardleach commented on #20348
Just checking: are these leaks still detected if you compile/run as directed in the "MEMORY DEBUGGERS" section of https://github.com/Perl/perl5/blob/blead/pod/perlhacktips.pod?

(I can't remember offhand which "leaks" come about because of shortcuts taken during global destruction when `PERL_DESTRUCT_LEVEL` != 2.)

[2022-09-24 20:49] x-yuri commented on #20307
Oh, I meant it should stop, one way or another. Immediate exit sounds fine to me.

Can you elaborate on the eof flag? Where it's set/reset?

I'm not sure I understand your description, but for me `^D` at the beginning, and after `n`/`s` acts as if it's `n`. After you give it some other command, `^D` makes it exit.

Well, my first guess was that [here][a] the `$cmd eq '' && exit 0;` line disappears

[2022-09-24 21:07] Quipyowert2 commented on #20348
The leaks go away with that environment variable set. I guess this issue can be closed. The only remaining leak under PERL_DESTRUCT_LEVEL=2 is in dup_environment in which the comment says the environ can never be freed.
[code]

[2022-09-24 21:12] jkeenan commented on #20295
No response from O.P.  Closing as per schedule.

[2022-09-24 21:12] #20295 closed

[2022-09-24 22:26] tonycoz commented on #20307
Any input stream has two flags, one to indicate that a read has reached end of file (^D on a console flags that) and a generic error flag.  There was a bug fixed by https://github.com/Perl/perl5/commit/80c1f1e45e8ef8c27d170fae7ade41971fe20218 that cleared both those flags in readline calls, and so the debugger didn't see the end of file.

I have a fix for this, but haven't been able to work up a t

[2022-09-25 07:08] #20302 closed

[2022-09-25 22:45] andk commented on #20346
Also affected: DROLSKY/HTML-Mason-1.59.tar.gz
Report: http://www.cpantesters.org/cpan/report/3bbeb3fe-3a11-11ed-bd5b-bfada566406b

[2022-09-25 23:26] jkeenan commented on #20346
@andk, is this the same problem as previously reported in https://github.com/Perl/perl5/issues/20291 ?

[2022-09-26 00:12] #20338 closed

[2022-09-26 00:20] tonycoz commented on #20207
Patch attached to ticket at https://rt.cpan.org/Ticket/Display.html?id=144442

[2022-09-26 01:37] jkeenan commented on #17713
I am self-assigning this ticket for the purpose of closing it within 7 days unless we hear back from the original poster.

[2022-09-26 01:43] jkeenan commented on #16856
@tonycoz have you been able to make any headway on this ticket?

[2022-09-26 02:01] tonycoz commented on #16856
I'll look at this again today.

[2022-09-26 02:52] tonycoz commented on #19776
Reproduced in blead with gcc 12.1.0 with:
[code]
gcc is built from source, configuration from config.status:
[code]
<details><summary>Errors: (click to expand)</summary>

[code]

</details>

I do not see these errors with `-O1`.

From the documentation `-Og` is `-O1` without some optimizations that interfere with debugging, including `-finline-functions-called-once` which might be the problem here

[2022-09-26 08:06] briang commented on #20324
For anyone still reading...

perlbrew treats blead differently to other perls. Specifically, for non-blead it runs

[code]

and for blead

[code]

Also, if `test_harness` is being used, `$ENV{TEST_JOBS}=5`

[2022-09-26 11:04] #20327 closed

[2022-09-26 13:58] jkeenan commented on #19776
I have also been able to reproduce this building perl blead (b93391659d) on FreeBSD-12 using `gcc` version 12.1.0 as the compiler.  I got build-time failures similar to the above with **either** threaded or unthreaded builds, *i.e.:*
[code]
or
[code]
Note: At least on this platform, `gcc12.0.1` and `gcc12.1.0` are quite different with respect to the number of build-time *warnings* they emit.  I ju

[2022-09-26 20:19] khwilliamson commented on #19949
It is no longer happening for me.

[2022-09-26 20:20] #19949 closed

[2022-09-27 06:16] djerius opened #20354 "isa (still) breaks ->isa under 5.36."
Core:

**Description**

Some combinations of invoking `isa` and `->isa` on an object results in the method no longer being available.

**Steps to Reproduce**

[code]
This results in the output:

[code]

Uncommenting the commented out `foo->isa...` line will make it work, as will removing the `use Fatal ...` statement.

**Expected behavior**

I expected the code to complete without the error; e.g.

[2022-09-27 10:08] andk commented on #20346
@jkeenan : yes, looks like the same

[2022-09-27 19:23] drq883 opened #20355 "IO::Socket fails with Bareword error"
Module: IO::Socket

**Description**
When including the IO::Socket module using a perl5.20.2 built from source, we're seeing this output:

[code]

We traced it down to the code here:

[code]

If we prefix the `Errno::EINVALL` with a `&` (as seen in other places in code), it works without error.

**Steps to Reproduce**
We build perl from source then, use the resulting cpan to install a myriad module

[2022-09-27 19:29] Grinnz commented on #20355
It looks like the code is not defensive enough for the parser on systems where EINVAL is not defined. This condition is only executed when $^O is MSWin32 so deferring the constant resolution to runtime as mentioned seems appropriate.

[2022-09-27 19:31] Leont commented on #20355
But why is `EINVAL` not defined? That sounds all wrong to me.

[2022-09-27 19:31] Grinnz commented on #20355
Is there any chance you could try with 1. the latest version of the IO::Socket module installed from CPAN (1.49), or 2. a more recent version of Perl?

[2022-09-27 19:33] Grinnz commented on #20355
(note that neither Perl 5.20.2 nor the IO distribution it's bundled with can be updated at this point, so a fix would require doing one of the above regardless)

[2022-09-27 19:38] drq883 commented on #20355
@Grinnz We build from source so we can use the same version across all the platforms we build on here. I'm not interested in a newer version for this bug. It is only for 5.20.2 and the bundle IO::Socket with that source.  I looked at the source for Socket.pm online and I think the latest is even 1.50. And that still has a bareword.

Whether or not the code is executed with $^O if MSWin32, it must

[2022-09-27 19:39] drq883 commented on #20355
I have fixed the issue myself by updating the source. Just thought it might be helpful to update the actual source for future versions.

[2022-09-27 19:43] Grinnz commented on #20355
My point is that Perl 5.20.2 and its included version of IO cannot be updated. So it is important to determine whether the issue is present in the current versions of Perl and IO, otherwise updating them is of no benefit.

[2022-09-27 19:47] andk commented on #20346
Also affected: MAUKE/Quote-Ref-0.03.tar.gz
Report: http://www.cpantesters.org/cpan/report/19637c16-3d1a-11ed-aa73-d799bc281ded

[2022-09-27 19:48] andk commented on #20346
Also affected: MARCEL/Sub-Documentation-1.100880.tar.gz
Report: http://www.cpantesters.org/cpan/report/825d1166-3ceb-11ed-9b23-a03301e40043

[2022-09-27 19:48] drq883 commented on #20355
@Grinnz understood. But maybe change the source code where it can be updated.

perl5.32.1 is installed on FreeBSD 13.1-RELEASE and it does not exhibit this error. And the barework is still there. It is version 1.43.

[code]

[2022-09-27 20:12] jkeenan commented on #19776
Confining our attention for the moment to the `12` versions of gcc and clang ...

These build-time errors seem specific to `gcc12` as opposed to `clang12`.  At v5.37.4-32-ge9b3525f3f, I built two ways using `clang12` as the compiler:
[code]
In either case, `miniperl` built successfully and without build-time warnings.  So this seems to be a gcc-12 specific problem.

But this problem is even more s

[2022-09-27 21:59] jkeenan commented on #20355
On FreeBSD-13, I wrote the following program:
[code]
I then did a git checkout at tag `v5.20.2` and built a `perl` with arguments close to those used in the OP's "bad" build:
[code]
I then ran my program with that `perl`:
[code]
I got neither errors nor warnings.  I then used the `cpan` associated with `v5.20.2` to install the latest version of the IO distribution from CPAN.  (Note that on CPAN th

[2022-09-27 22:46] hvds commented on #20355
The earlier comments from @Grinnz and @Leont suggest that you will only be able to reproduce it on a platform where EINVAL is undefined. So the question would be under what circumstances that is possible, and - based on the answer to that - whether it's something we should take responsibility for defending against.

Another possible mitigation would be to have Errno detect the situation and define

[2022-09-27 23:32] drq883 commented on #20355
I think the Errno::EINVAL bareword is a syntax error and should have a preceding & just like other references to &Errno:: in the same file. That's all.

If you're not going to do anything about this, then feel free to close it.

[2022-09-27 23:36] Grinnz commented on #20355
It's not a syntax error as long as EINVAL exists on the platform - which should be true on all platforms, so it's weird to have this issue as @Leont noted.

[2022-09-27 23:37] Grinnz commented on #20355
I'm curious if it's because of this issue, which was fixed in 5.20.3: https://github.com/Perl/perl5/issues/14491

[2022-09-27 23:47] Grinnz commented on #20355
Note that if you have that issue, you have bigger problems than just EINVAL not being defined, and I would highly recommend upgrading to 5.20.3 if possible (it's a compatible release as it's the maintenance branch)

[2022-09-28 00:09] tonycoz commented on #20346
The Sub::Quote failure seems like a reasonable consequence of the change, before and after the change:
[code]

There difference here is before the change the parser would see the syntax error (the first `]`) and queue it up, then the parser would generate the `Number found` warning, which is what the Sub::Quote test tests for.

After the change, the syntax error immediately causes the parser to ab

[2022-09-28 00:17] khwilliamson commented on #20355
On 9/27/22 17:32, David Quattlebaum wrote:

I haven't been following this closely, but it appears there is
resistance to adding the &, and I don't understand that resistance.

[2022-09-28 02:10] tonycoz commented on #20346
This appears to be unrelated to the other changes here.  From the test output it looked like the attempt to compile `bin/benchmarkanything-schema` was producing a segfault:
[code]
Debugging it, the backtrace is in pp_padsv_store:
[code]
though valgrind complains a few lines earlier:
[code]

Was this one bisected down to the syntax error reporting change?

[2022-09-28 04:18] tonycoz commented on #19949
I managed to produce a very similar error here:
[code]
but the line mentioned in Cwd.xs is a call to memmove() (which allows for overlap).

This may be a valgrind bug, or a bad interaction between glibc and valgrind, see https://bugs.kde.org/show_bug.cgi?id=453084

[2022-09-28 04:35] tonycoz commented on #20346
Without the debugger the template _compile() method appears to be returning an exception object, but the caller in Mojolicious::Plugin::RenderCGI is treating that as success.  It then proceeds to call the template _run() method that calls the subref that just failed to compile, and is undef.

I suspect since $SIG{__DIE__} is now being called the syntax error is being converted into an exception ob

[2022-09-28 04:56] tonycoz commented on #20346
This one appears to be unrelated to this change, the code is failing with `Modification of a read-only value attempted.` and curcop points at line 0 of the source file (BenchmarkAnything::Schema has a similar curcop.

In this case the backtrace in C points to pp_padsv_store:
[code]

[2022-09-28 09:24] haarg commented on #20346
Do you mean Quote::Code here? I don't see any reported failures with Sub::Quote, and it doesn't have any tests for a 'Number found' error.

[2022-09-28 13:39] drq883 commented on #20355
I rebuilt perl 5.20.2 from source again, and installed all of the modules again and moved this data into production. It does not exhibit the problem I was seeing before.

[2022-09-28 16:16] demerphq commented on #20346
This thread just made me realize we have had a long standing bug in how we report the piled up errors.

Consider this code from Quote-Ref's tests:
[code]

Why is the "Number found where operator expected" error *first*? With stop on first syntax error (blead) we see this:

[code]

So why did the "Number found where operator expected" error end up on top?

The answer is that the logic for piling up

[2022-09-28 17:05] drq883 commented on #20355
I found the problem. If you I build perl using gcc (gcc version 10.3.0 (FreeBSD Ports Collection)) the problem with IO::Socket.pm shows up. Building with clang (FreeBSD clang version 13.0.0) does not show the problem.

[2022-09-28 17:18] jkeenan commented on #20346
In the sentence above, did you intend to say "compile time **errors**?  (I have assumed that everything we're talking about in this ticket are errors rather than **warnings**.  Is that assumption correct?)

[2022-09-28 19:10] drq883 commented on #20355
This is what I used to configure the perl that shows the failure:

[code]
And the gcc used was gcc10

[2022-09-28 19:31] jkeenan commented on #20355
Okay, at last something I can reproduce.
[code]
Would it be possible for you to test these scenarios?
1. `gcc11` instead of `gcc10`
2. Using `gcc10`, eliminate `-Duserelocatableinc -Dusesitecustomize`, i.e., configure only with `-Dgcc10 -Dusethreads`
3. Same as above, only without `-Dusethreads`

Thank you very much.
Jim Keenan

[2022-09-28 19:40] drq883 commented on #20355
I'll begin these tests now. First 2 and 3 before I try to install gcc11

[2022-09-28 19:42] jkeenan commented on #20355
Building threaded perl on FreeBSD-13 at v5.20.2 using `gcc11` I got same errors as with `gcc10`.  When I then used `./bin/cpan IO::Socket` to get latest version available on CPAN, I got many errors:
[code]

[2022-09-28 19:47] drq883 commented on #20355
[code]
Same error:
[code]

[2022-09-28 19:51] drq883 commented on #20355
[code]
Same error as 2.

[2022-09-28 20:12] jkeenan commented on #20355
And I got same failures with unthreaded build using `gcc11`.
[code]
So it appears that when on FreeBSD-13, using `gcc` version 10 or 11, we build a `perl`, threaded or unthreaded, we encounter a build-time failure when running our test program.

Out of time today, but next steps might include:
* Testing on more recent versions of perl, then bisecting.
* Testing using these versions of gcc on other

[2022-09-28 21:07] richardleach commented on #20346
I've noted the BenchmarkAnything::Schema and Sub::Documentation cases and will start looking into them.

[2022-09-28 21:48] tonycoz commented on #20346
Sorry, yes.

[2022-09-29 01:29] tonycoz commented on #20355
&Errno::EINVAL isn't constant replaced:
[code]
`Errno::EINVAL()` is constant replaced and doesn't result in a compile-time strict error if there's no definition.

I suspect the resistance is due to the cause being an already fixed bug (which I believe Devel::PatchPerl patches).

Note the bug is Errno not providing EINVAL on a system that defines that value.

[2022-09-29 19:32] ntyni commented on #20246
Hi, could I request some eyeballs on this? It's a clear regression that affects at least MetaCPAN-Client for us, making it warn on plain `use MetaCPAN::Client`. (This is probably very sensitive to the dependency tree so it may not be easily reproducible with the CPAN toolchain.)

See also https://bugs.debian.org/1019757

Thanks for your work as always,
--
Niko

[2022-09-29 19:36] i-am-al-x opened #20362 "Time::HiRes build error, 'clockid_t' redefined, Mac OS Darwin 19.6.0"
While attempting `install Time::HiRes` from CPAN command line, I got the following error:

    `HiRes.xs:95:13: error: typedef redefinition with different types ('int' vs 'enum clockid_t')`

I am running Mac OS Darwin Kernel Version 19.6.0

Problem occurs during:
    `CPAN.pm: Building A/AT/ATOOMIC/Time-HiRes-1.9764.tar.gz`

Compilation args and error messages are:
[code]

[2022-09-29 19:41] jkeenan commented on #20246
@leonerd, please take a look at this ticket.  Thanks.

[2022-09-29 19:47] jkeenan commented on #20362
Am I correct in assuming that you are trying to install Time-HiRes-1.9764 against the "system perl" (`/usr/bin/perl`) on your machine?

Can you issue the following commands in your Terminal and paste the output?
[code]
@atoomic, can you take a look at this ticket?  Thanks.

[2022-09-29 20:20] i-am-al-x commented on #20362
% **uname -mrs**
Darwin 19.6.0 x86_64

% **which perl**
/usr/bin/perl

% **/usr/bin/perl -v**
This is perl 5, version 18, subversion 4 (v5.18.4) built for darwin-thread-multi-2level
(with 2 registered patches, see perl -V for more detail)

Copyright 1987-2013, Larry Wall

Perl may be copied only under the terms of either the Artistic License or the
GNU General Public License, which may be found in

[2022-09-29 22:59] Leont commented on #20362
That code should only be active if `has_clockid_t` in Makefile.PL fails. So the question is now "why does that fail?"

[2022-09-30 00:16] haarg commented on #20246
Previously, `overload.pm` did not enable or disable any warnings. This meant that it would emit redefined warnings based on the `$^W` variable or `-w` argument. Both JSON::PP and Cpanel::JSON::XS would do `local $^W` before calling `overload.pm`, silencing these warnings.

Now, `overload.pm` includes `no warnings 'experimental::builtin';`. Since it doesn't enable or disable any other warnings, thi

[2022-09-30 00:32] tonycoz commented on #20354
The problem appears to be the call:
[code]
The `use Fatal qw(seek);` increments PL_sub_generation, making the cache entry added in the BEGIN block out of date.

Then sv_isa_sv() calls gv_fetchmeth_pvn() as above, which sees the existing entry for "isa" with an old cvgen and invalidates it (which is fine). With the GV_NOUNIVERSAL flag the lookup in UNIVERSAL is skipped, and a negative cache entry i

[2022-09-30 00:58] tonycoz commented on #20354
I just realized, even without the fix, if the normal call to isa() is cached (as in blead), the call to gv_fetchmeth_pvn() returns UNIVERSAL::isa(), so we're not skipping the call to UNIVERSAL::isa() as desired here.
[code]

[2022-09-30 03:14] tonycoz commented on #20348
As far as I can tell that occurs when the piped open on line 242 fails to exec the non-existing executable.  When I make that test skip I see no leak reports with `PERL_DESTRUCT_LEVEL=2`

When the exec() fails the child process calls _exit() rather than trying to do any cleanup.

[2022-09-30 03:26] tonycoz commented on #20362
Could you please try running the Time::HiRes Makefile.PL with VERBOSE=1, eg:
[code]
and show us the output from the beginning.

This should show the results of the configuration probes.

[2022-09-30 13:28] jkeenan commented on #20355
1. @tonycoz, what can we do about that Errno problem?
2. I note in passing that I am able to reproduce the bug on FreeBSD-12 as well.
[code]

[2022-09-30 16:59] andk commented on #20207
Also affected:
- JANPAZ/Logfile-Read-0.6.tar.gz http://www.cpantesters.org/cpan/report/8ef83580-3f21-11ed-8a39-7b29e48453bc
- TOBEYA/Nagios-Cmd-0.05.tar.gz http://www.cpantesters.org/cpan/report/ded30156-3ec3-11ed-84dd-5990dd8453bc

[2022-09-30 17:25] i-am-al-x commented on #20362
% echo $SHELL
/bin/zsh

% sudo VERBOSE=1 cpan
Terminal does not support AddHistory.

cpan shell -- CPAN exploration and modules installation (v2.00)
Enter 'h' for help.

cpan[1]> test Time::HiRes
Reading '/Users/adanel/.cpan/Metadata'
  Database was generated on Thu, 29 Sep 2022 16:55:45 GMT
Running test for module 'Time::HiRes'
Running make for A/AT/ATOOMIC/Time-HiRes-1.9764.tar.gz
Checksum for /

[2022-09-30 20:11] andk commented on #20207
Also affected: BOOK/Log-Procmail-0.12.tar.gz http://www.cpantesters.org/cpan/report/ef21d450-40c2-11ed-b3c4-fccdf10bed05

[2022-09-30 21:16] tonycoz commented on #20355
Release Errno on CPAN and make IO released on CPAN depend on a sufficiently recent version.

We could *also* change IO to use the Errno::EINVAL() form, which will fix this specific issue (but not all issues).

The case reported here is only called on Win32 (it's a compilation error), but some of the XS specifically sets errno to EINVAL, and we test for that result, so there's other problems withou

[2022-09-30 21:24] tonycoz commented on #20362
Please provide the full output from `perl -V`

It looks like the probes are using incorrect compilation flags,

[2022-10-02 14:57] andk commented on #20346
Also affected: CXW/Text-PerlPP-0.600001.tar.gz
Report: http://www.cpantesters.org/cpan/report/0bb21e02-422d-11ed-b587-f85c026a3300

[2022-10-02 22:51] tonycoz commented on #20207
Logfile::Read patch at https://rt.cpan.org/Ticket/Display.html?id=144592

[2022-10-02 23:20] tonycoz commented on #20207
Nagios::Cmd patch at https://rt.cpan.org/Ticket/Display.html?id=144593

[2022-10-02 23:49] tonycoz commented on #20207
Log::Procmail patch at https://github.com/book/Log-Procmail/pull/2

[2022-10-02 23:51] tonycoz commented on #20346
CXW/Text-PerlPP looks like the others:
[code]

[2022-10-02 23:52] jkeenan commented on #20355
In https://github.com/Perl/perl5/issues/20355#issue-1388253007, @drq883, the original poster, reported getting a compilation error when (to oversimplify somewhat) he attempted to `use IO::Socket;` on a perl-5.20.2 built with `gcc-10.3.0` on FreeBSD-13.1.  He did not get this compilation error when the same code was run on the same operating system but with a perl-5.20.2 built with `clang13`.

Give

[2022-10-04 01:11] i-am-al-x commented on #20362
**% echo $SHELL**
/bin/zsh

**% perl -V**
Summary of my perl5 (revision 5 version 18 subversion 4) configuration:

  Platform:
    osname=darwin, osvers=19.0, archname=darwin-thread-multi-2level
    uname='darwin osx397.sd.apple.com 19.0 darwin kernel version 18.0.0: tue jul 9 11:12:08 pdt 2019; root:xnu-4903.201.2.100.7~1release_x86_64 x86_64 '
    config_args='-ds -e -Dprefix=/usr -Dccflags=-g

[2022-10-04 01:49] jsoref opened #20368 "Use of uninitialized `$tmpenv{$_}` in `File::Spec::Unix` in `_cached_tmpdir` under `-W`"
Module: File::Spec::Unix

**Description**

The `%_cached_tmpdir` object starts empty:
https://github.com/Perl/perl5/blob/16cd6b5235051af6ba0adf88902ed224bd65b93c/dist/PathTools/lib/File/Spec/Unix.pm#L149

... and apparently using `ne ...` with it results in a warning...
https://github.com/Perl/perl5/blob/16cd6b5235051af6ba0adf88902ed224bd65b93c/dist/PathTools/lib/File/Spec/Unix.pm#L161

For refere

[2022-10-04 02:41] Grinnz commented on #20368
-W should never be used for this reason.

[2022-10-04 02:42] Grinnz commented on #20368
See https://perldoc.perl.org/warnings#What's-wrong-with-w-and-$%5EW - `-W` is an even worse version of this, because it enables warnings even where the author disabled them intentionally.

[2022-10-05 23:44] tonycoz commented on #20355
It wasn't and isn't a bug in gcc.

The problem was that with this input:
[code]
The gcc cpp went from producing output like this:
[code]
which the Errno_pm.PL parser could parse, to code like:
[code]

which the Errno_pm.PL parser could not parse, which left use with an empty list of error constants.

Both outputs are completely valid for a C preprocessor - they form a valid input to a C compiler.

[2022-10-05 23:48] #20180 closed

[2022-10-06 00:46] tonycoz commented on #20362
I think I see what's happening here.  On most systems, adding the `-I/System/Library/Perl/5.18/darwin-thread-multi-2level/CORE` is correct, but for some reason the preprocessor doesn't search that directory for headers and the probes fail.

We know the header is there - the Time::HiRes `Makefile.PL` checks that it exists.

EU::MM replaces that `-I...` flag with `-iwithsysroot ...` (see https://git

[2022-10-06 18:29] jkeenan commented on #17713
No response from OP; closing as per schedule.

[2022-10-06 18:29] #17713 closed

[2022-10-07 22:51] jkeenan opened #20371 "b41c583910 breaks t/porting/globvar.t on OpenBSD"
In a [recent smoke-test on OpenBSD-6.9](https://perl5.test-smoke.org/report/5023966), I noticed one failing test on *unthreaded* builds (without and with `-DDEBUGGING`):
[code]
The `perl` being tested was run with these configuration arguments:
[code]
I use these config_args to get as close as I can to the way the "system perl" is built on FreeBSD.  (I suspect that `-DNO_LOCALE_NUMERIC -DNO_LOCALE

[2022-10-08 02:44] jkeenan commented on #20371
Additional instance of same failure: https://perl5.test-smoke.org/report/5024167

[2022-10-08 14:32] twata1 opened #20373 "VS2022 Test op/magic.t, uni/gv.t, ext/POSIX/t/time.t failure in perl 5.37.4 on Windows 8.1"
**Description**

Hello,

I'am building Perl 5.37.4 on Windows 8.1 64 bit using Visual Studio 2022 Community Edition (Microsoft(R) C/C++ Optimizing Compiler Version 19.33.31630 for x64).

The compilation itself succeeds, although there are some warnings, such as C4244 and C4267.
Several tests fail when running nmake test.

[code]

**Steps to Reproduce**

Download perl-5.37.4.tar.gz from metacpan(ht

[2022-10-09 00:12] charsbar commented on #20246
@haarg , thank you. Shipped JSON::PP 4.12 with your suggested fix.

[2022-10-09 08:57] eserte opened #20374 "BBC: Data-Alias-1.25 does not compile anymore"
XMATH/Data-Alias-1.25.tar.gz (and also the four days younger XMATH/Data-Alias-1.25_01.tar.gz) does not compile anymore:
[code]

Looking at http://matrix.cpantesters.org/?dist=Data-Alias%201.25 it seems that the compilation failure started between perl 5.37.2 and 5.37.3.

[2022-10-09 09:06] fenginsc opened #20375 "It is recommended to provide the official version of the binary pre-compiled file or installation package."
I think the official compiled binaries should be made available for download and installed and ready to use.
Direct support for windows, macOS, linux with installers or pre-compiled binaries, just like other languages do.
Currently the third-party version is not the latest version 5.36, and their own compilation will fail for inexperienced people, so the user experience is very bad, I hope the off

[2022-10-09 09:44] eserte opened #20376 "BBC: Blead breaks App-ClusterSSH-4.16"
t/15config.t fails with perl 5.37.4:
[code]

Sample fail report at CPAN Testers: http://www.cpantesters.org/cpan/report/2b2844fe-41c5-11ed-ae77-5f2e6e8775ea (but disregard the failure of t/10host.t here, that's another issue unrelated to bleadperl).

(FYI: @duncs)

[2022-10-09 09:57] eserte opened #20377 "BBC: Blead breaks Eixo-Base-1.511"
t/003_sub_validation.t fails with perl 5.37.4 in different ways. Sometimes it's failing with a SIGBUS, sometimes with a SIGSEGV. Sometimes I see errors like
[code]
or
[code]
The fail report http://www.cpantesters.org/cpan/report/70b1d98c-4417-11ed-9d4b-1e244b555302 shows:
[code]

A stacktrace on a fedora system looks like this:
[code]

[2022-10-09 11:43] eserte opened #20378 "BBC: Blead breaks Catmandu-1.2019"
t/Catmandu-Fix-Bind-maybe.t in NICS/Catmandu-1.2019.tar.gz fails with perl 5.37.4:

[code]

A sample fail report at CPAN Testers: http://www.cpantesters.org/cpan/report/ac03ca64-3ca0-11ed-aa0f-adccf5e30043

Please note that the distribution needs Log4perl as a dependency, which probably has to be patched (patch available at GitHub).

(FYI: @LibreCat)

[2022-10-09 11:55] jkeenan commented on #20374
Bisection with this invocation ...
[code]
... points to commit 68670bd9d8d20914b9111b7927cb102bccfa4388:
[code]
@Leonerd, can you take a look?  In particular, if there is a standard operating procedure CPAN authors could follow in adapting to this change in Perl, I'm sure that they would appreciate that.

[2022-10-09 12:00] eserte commented on #20374
With this naïve fix the compilation works again:
[code]

However some of the tests are failing now:
[code]

[2022-10-09 12:12] jkeenan commented on #20374
Ticket created for Data-Alias: [RT 144716](https://rt.cpan.org/Ticket/Display.html?id=144716)

[2022-10-09 12:49] jkeenan commented on #20377
This is likely to be tricky.  [CPANtesters results on Linux](http://matrix.cpantesters.org/?dist=Eixo-Base%201.511;os=linux;reports=1#sl=6,1) show that some testers are getting PASSes for this distribution while others (@andk) are getting a mixture of PASSes and FAILs.  A test that was showing some failures at v5.36.0 is now passing; another test shows the reverse.

On FreeBSD-12 I got a PASS at v

[2022-10-09 13:01] jkeenan commented on #20375
I believe that you have some misunderstandings of the roles which creators, maintainers and distributors of open source software play.  Open source software such as Perl or Python needs to be compiled for a particular machine in order to be run.  The number of different machines on which such software runs is so great that it would be impossible for anyone to create pre-compiled binaries for all p

[2022-10-09 13:01] #20375 closed

[2022-10-09 13:18] richardleach commented on #20377
I'm guessing this is due to `PADSV_STORE`. `Eixo::Base` looks (at first glance, anyhow) to be reasonably simple, so I'll try to get a minimized test case and look at what's going on.

[2022-10-09 13:19] jkeenan commented on #20377
Bisecting on FreeBSD-12 with this invocation ...
[code]
... points to commit c304acb49dada68ec331d50f8af45f0dda83ba6a:
[code]
@demerphq, can you take a look?

Ticket created in distribution's bug tracker: [RT 144717](https://rt.cpan.org/Ticket/Display.html?id=144717).

[2022-10-09 13:26] jkeenan commented on #20376
@eserte, is there any way that the failure in t/15config.t could be reduced so that we could bisect it against blead without loading this module?  (Otherwise, the failure in the other file will simply confuse the results.)

[2022-10-09 13:41] richardleach commented on #20377
Simplified t/003_sub_validation.t that shows this behaviour:
[code]
It looks like an interaction with `Attribute::Handlers`, which also seems to be the problem with `Sub::Documentation` in https://github.com/Perl/perl5/issues/20346. I haven't had enough available time recently to narrow this down.

[2022-10-09 15:23] hakonhagland commented on #20373
I tested this on Windows 11, using code page 850 (OEM Multilingual Latin 1; Western European (DOS)), and all tests passed here:
[code]

[2022-10-09 15:34] skaji opened #20381 "linker warning on macOS Xcode 14 `ld: warning: -undefined dynamic_lookup may not work with chained fixups`"
**Description**

On macOS, `Configure` script tries to set `-undefined dynamic_lookup` for lddlflags:
https://github.com/Perl/perl5/blob/f607bd2c8370dd4042f36b18fef48faa2b9773e4/hints/darwin.sh#L360

But, if you use Xcode 14, it emits the following linker warning:
[code]

**Steps to Reproduce**

My environment is
[code]

Then
[code]

**Expected behavior**

No warning.

**Perl configuration**

<det

[2022-10-09 18:59] eserte commented on #20376
t/10host.t fails only on few systems (but on most of my smokers). If it happens to fail on your system, then just try to set the `LOCALDOMAIN` environment variable to, say, `example.org`

[2022-10-09 23:41] sisyphus commented on #20373
I, too, get an identical "All tests successful" report on Windows 11 with VS2022.
However, on Windows 7 using VS2019, although all tests passed with 5.37.3, I get some (different) tests failing with 5.37.4.
So it seems that there's something about 5.37.4 that doesn't go well with older Windows systems - but they're totally different failures to what @twata is seeing, and I don't see a connection.

[2022-10-10 00:13] twata1 commented on #20373
@hakonhagland @sisyphus
Thank you for your response.

I have looked into it since then. It seems to me that it depends on the system locale.
After changing the OS system locale as shown below, the tests now pass.
(However, Other windows application I am using will become Mojibake, so I will change the system locale back.)

1. Open "Control Panel".
2. Click "Clock and Region".
3. Click "Region".
4.

[2022-10-10 02:11] Leont commented on #20381
`-bundle_loader <executable>` might fix it, but may not always work when libraries are involved? (more information needed).

`--linkopt=-Wl,-no_fixup_chains` should work for now, but given it's undocumented and apple seems to want to move to this brave new world that may not keep working.

Or we can suppress linker warnings (`-Wl,-w`), which seems like a terrible idea but apparently emacs is getti

[2022-10-10 17:15] tobyink opened #20382 "Using `goto` in a signatured sub"
The following issues a warning under Perl 5.36:

[code]

However, there's not really any other way for `foo` to pass a parameter to `bar`.

[2022-10-10 17:19] leonerd commented on #20382
Yes that's a known limitation of tail-calls and signatured subs.

A possible solution would be to add a `tailcall` operator for calling it instead.

[code]

[2022-10-10 19:21] #20371 closed

[2022-10-10 21:54] jkeenan commented on #20246
JSON-PP-4.12 synched into blead via commit 2edec0e0c82cf00befaffdbced3b22aef1eef8d7.

Will monitor for a few days before closing ticket.

[2022-10-11 03:17] tonycoz commented on #20362
I've reproduced the duplicate clockid_t definition in CI..

ExtUtils::ParseXS seems to have a similar problem in finding EXTERN.h

[2022-10-11 07:04] demerphq commented on #19953
On Tue, 19 Jul 2022, 13:33 Hugo van der Sanden, ***@***.***>
wrote:

The tried code can be disabled fwiw.

But really optimizations shouldn't ever be pessimisations, users shouldn't
need to know how the internals work.

Yves

Yves

[2022-10-11 07:09] demerphq commented on #20010
On Sat, 30 Jul 2022 at 02:01, apparluk ***@***.***> wrote:

I find a reference to you in our commits.

https://github.com/Perl/perl5/commit/b998bd1a4a2c4e35a119ea73c7650a26e0060950

Where you yourself added your name and data to AUTHORS.

We later added the github email automatically as part of cleanup.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-11 07:15] iabyn commented on #16579
On Mon, Apr 18, 2022 at 08:52:30AM -0700, Karl Williamson wrote:

Properly documenting how perl searches for labels in a got, next, etc.

--
Art is anything that has a label (especially if the label is "untitled 1")

[2022-10-11 07:25] demerphq commented on #19804
On Tue, 12 Jul 2022 at 11:11, Graham Knop ***@***.***> wrote:

 And under taint /that/ would throw an exception which is what we would
want. Seems good to me. Thanks for the catch.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-11 08:03] demerphq commented on #20010
On Fri, 29 Jul 2022 at 22:10, Leon Timmermans ***@***.***>
wrote:

FWIW IMO checkAUTHORS needs to go anyway. It should be replaced by running
updateAUTHORS and seeing if any changes are made. The only reason I did do
it earlier is checkAUTHORS does more than just checkAUTHORS and I wanted
updateAUTHORS to bake a while before we did the next step.

Yves

--
perl -Mre=debug -e "/just|another|perl|ha

[2022-10-11 08:05] khwilliamson commented on #19953
On 7/15/22 10:28, Yves Orton wrote:

Why can't the trie construction code be extended to consider these nodes?

The EXACT nodes for things like a colon could be joined in with adjacent
EXACTFU nodes after the determination of the places where a colon must
appear.

The ANYOFM optimization is done during parsing only if an EXACTFish node
isn't suitable.  There is further conversion to ANYOFM in stud

[2022-10-11 08:11] demerphq commented on #6063
On Fri, 22 Apr 2022 at 05:58, Karl Williamson ***@***.***>
wrote:

to resize a regop and we can make it as big as we choose without any tricks.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-11 08:14] gregoa commented on #18780
On Wed, 13 Apr 2022 15:02:41 -0700, Leon Timmermans wrote:

Thanks!

claws-mail already has such a patch (at least in Debian, don't know
if Ricardo has forwarded it yet):

https://salsa.debian.org/claws-mail-team/claws-mail/-/blob/master/debian/patches/20cope_with_fix_for_1009149.patch

For Sendmail-Milter I followed your advice to remove the parentheses:

https://salsa.debian.org/perl-team/module

[2022-10-11 08:22] demerphq commented on #20206
Hi. I'll try to pick this up in the next week or so.

Yves

On Wed, 31 Aug 2022, 21:44 Richard Leach, ***@***.***> wrote:

[2022-10-11 08:25] demerphq commented on #17616
On Fri, 8 Apr 2022 at 05:49, Karl Williamson ***@***.***>
wrote:

I think there are two classes of issues here and to a certain extent we
should keep them separate even though of course they are related.  I see
the startclass stuff as distinct from the underlying pattern itself.

This is very useful information. FWIW tho, aren't ffi ligatures you
mentioned similar to 'ss'/\xDF?

I do have some tho

[2022-10-11 08:38] demerphq commented on #19557
On Wed, 23 Mar 2022 at 14:15, Hugo van der Sanden ***@***.***>
wrote:

The patch you did makes sense, but i dont follow what you mean by early
bailout.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-11 08:44] demerphq commented on #20010
On Sat, 20 Aug 2022 at 20:23, Karen Etheridge ***@***.***> wrote:

They asked not to be listed in our files at all. They dont care if
their name shows up in the changelog. They know that email harvesters
are aware of git .mailmap files and index and collect them. Their
objective is to not have their email or name listed in the project
files at all, they know that rewriting the history is not a rea

[2022-10-11 08:45] dfskoll commented on #19573
On Mon, 04 Apr 2022 09:03:27 -0700
Dan Book ***@***.***> wrote:

My patch does not break that.

In the case where we exec, STDIN/STDOUT/STDERR are irrelevant; they
vaporize and the new program only knows about file descriptors 0, 1
and 2.  If the newly-execed program happens to be perl, it will set up
STDIN/STDOUT/STDERR as per usual.

In the case where we do not exec, I do open STDIN/STDOUT to fi

[2022-10-11 08:52] demerphq commented on #18548
You missed test_reonly.

Yves

On Sun, 21 Aug 2022 at 14:19, James E Keenan ***@***.***>
wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-11 09:05] khwilliamson commented on #19855
On 7/24/22 19:36, Mark Diekhans wrote:

This was pointed out to me:

https://www.gnu.org/software/libc/manual/html_node/Locale-Names.html

[2022-10-11 09:17] demerphq commented on #19867
On Thu, 16 Jun 2022, 02:51 Karl Williamson, ***@***.***>
wrote:

They should simply run the tool the test  mentions and include the required
updates and include it as part of their PR. The test should fail on their
machine before they push and then they should follow the directions to add
the required AUTHORS and mailmap changes to the PR. The idea is to prevent
changes from being merged without t

[2022-10-11 09:21] jkeenan commented on #19869
On 6/15/22 21:39, Carlos Guevara wrote:

Devel::Cover is highly sensitive to changes in the Perl internals and so
breaks at least once per production release.  Paul Johnson will take
care of this at some point during the cycle.  So we simply need to put a
BBC label on this issue and not worry about it for several months.

[2022-10-11 10:30] hakonhagland opened #20383 "Building on Windows11 with gcc 12: ./win32.h:343:33: error: 'FILE' {aka 'struct _iobuf'} has no member named '_file'"
I am trying to build blead on Windows 11 using MinGW-w64 and gcc from https://winlibs.com/ following a similar approach as in https://github.com/Perl/perl5/issues/20096. This is gcc version 12.2.0, and gnu make version 4.3:
[code]
Running gnu make in the `win32` folder gives output:
[code]

[2022-10-11 11:45] sisyphus commented on #20383
Aaah ... I don't think perl is buildable with UCRT.
For me, there are no problems with current blead (commit 2edec0e0c82cf00befaffdbced3b22aef1eef8d7) built using Brecht Sanders' gcc-12.2.0 with MSVCRT on Windows 11.

There's some recent (ie May 2021) discussion about the possibility of using UCRT at https://github.com/Perl/perl5/issues/18772.
In the light of that discussion, UCRT support does not

[2022-10-11 16:42] andk opened #20384 "BBC: Blead breaks PEVANS/XS-Parse-Keyword-0.25.tar.gz"
**Description**

Starting with v5.37.4-92-g35458d36d3  tests started to fail for PEVANS/XS-Parse-Keyword-0.25.tar.gz

Sample fail reports:

- http://www.cpantesters.org/cpan/report/a7af5df2-493e-11ed-a119-5c71d9fbdcec # Solaris
- http://www.cpantesters.org/cpan/report/eb2e4352-4968-11ed-b9a4-86c3d88efda4 # Linux

Git bisect for this fail lead me to

[code]

**Steps to Reproduce**

cpan  -i  PEVANS

[2022-10-11 16:53] andk commented on #20384
Also affected: PEVANS/XS-Parse-Sublike-0.16.tar.gz
Report: http://www.cpantesters.org/cpan/report/f3039b9c-4957-11ed-bf04-0da7d9fbdcec

[2022-10-11 17:06] leonerd commented on #20384
I imagine I'll have something to look into in these modules upstream on CPAN then...

[2022-10-11 18:41] Leont commented on #20383
I guess this will work if you undefine `USE_STDIO_PTR` `win32/config_H.gc`

[2022-10-11 19:13] hvds commented on #19953
I'm not sure if you are saying here "no, we should never give users control over which optimizations are performed", but this response can certainly be read that way.

Users know their own data far better than we ever can. They can discover which strategies work for them by trial and error (ie benchmarking) without needing to know how the internals work. And some users have advanced needs that _do

[2022-10-11 19:50] andk commented on #20384
Also affected: MAUKE/Function-Parameters-2.001003.tar.gz
Report: http://www.cpantesters.org/cpan/report/2adf625a-497e-11ed-b527-a0a4d9fbdcec

[2022-10-11 20:59] hakonhagland commented on #20383
@Leont I tried this change:
[code]
and recompiled
[code]
I think I get exactly the same error as before.

[2022-10-11 22:38] hakonhagland commented on #20383
@sisyphus Yes! I missed the distinction between the runtimes and downloaded the [UCRT version](https://winlibs.com/).

I tried now with the [MSVCRT version](https://winlibs.com/) of the compiler tools, and am able to build more, but it still fails due to `gmake` not found:

[code]
I tried to make an alias to gnu make like this:
[code]
but it still fails..

[2022-10-11 23:22] richardleach commented on #20346
_BenchmarkAnything::Schema_ and _Sub::Documentation_ breakages seem to boil down to something to do with _Attribute::Handlers_.

This was also the case for _Eixo::Base_ (https://github.com/Perl/perl5/issues/20377). In that issue, breakage was bisected to https://github.com/Perl/perl5/commit/c304acb49dada68ec331d50f8af45f0dda83ba6a and reverting that commit seemed to fix _Eixo::Base_ and _Sub::Docu

[2022-10-12 00:18] sisyphus commented on #20383
I actually build my Windows perls using a gnu make utility named 'make.exe', and I don't use the command 'gmake' at all.
When I build perl I run 'make <args> test', 'make <args> install' and 'make distclean'.
And, if I build a module manually, it's 'perl Makefile', 'make test' and 'make install'.

That all works fine - though <code>perl -V:make</code> reports 'gmake', and various messages generate

[2022-10-12 00:43] jkeenan commented on #20346
If what you need confirmation for is BenchmarkAnything::Schema ...

I built perls at eb54d46f7264ff7af62c409d8a6ab984a5a34f57 and at the immediately preceding commit.  At the earlier commit, this module installs.  At eb54d46, it does not.

[2022-10-12 15:17] demerphq commented on #19953
On Tue, 11 Oct 2022 at 10:05, Karl Williamson ***@***.***>
wrote:

I think it depends on what you mean by this. In a practical sense it is
difficult to "decode" a character-class to the set of characters it
matches, and if we did we might end up constructing a degenerate tree,
especially with unicode in play. Consider the character class
[\x{0}-\x{10FFFF}] for instance. When that gets mapped into

[2022-10-12 16:15] demerphq commented on #20377
On Sun, 9 Oct 2022 at 15:19, James E Keenan ***@***.***>
wrote:

Hi, sorry I didnt see this earlier. I have been sick the past weeks. I will
try to get to it in the next days.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-10-12 16:31] leonerd opened #20389 "Double-exception `defer` collision loses information"
(largely copied from https://rt.cpan.org/Ticket/Display.html?id=144760)

When a `defer` block throws an exception due to stack unwind of an existing exception, we entirely lose one of them:

[code]

[code]

The outer EVAL has totally lost the information. It didn't even print as a warning.

Moreover, the real failure got lost, leaving us only the incidental failure. In a real program, whatever the

[2022-10-12 18:52] hakonhagland commented on #20383
@sisyphus Yes, that worked. I made a copy of `mingw32-make.exe` and called it `gmake.exe` (and placed it in the same folder). Now, rerunning `gmake` gives no errors.

However, when I subsequently run `gmake test` I have some test failures. I will report those in a new issue later.

[2022-10-12 21:17] hakonhagland opened #20391 "gmake test: Windows 11, gcc 12: Use of uninitialized value $_ in substitution (s///) at ..\pod\buildtoc line 215, <$fh> chunk 2"
I am trying to build blead on Windows 11 using MinGW-w64 and gcc 12.2 from https://winlibs.com/ (using the MSVCRT runtime library) following a similar approach as in https://github.com/Perl/perl5/issues/20096. See also https://github.com/Perl/perl5/issues/20383.

After downloading WinLibs to `C:\Winlibs64-Gcc12-msvcrt`, I needed to rename gnu make binary to `gmake.exe`:
[code]
This is gcc version

[2022-10-12 21:18] hakonhagland commented on #20383
Added a new issue: https://github.com/Perl/perl5/issues/20391

[2022-10-12 23:25] richardleach commented on #20377
I applied the thrust of that commit to v5.37.0 (before PADSV_STORE was merged):
[code]

I first built a non-debugging build and got a segmentation fault in `pp_padsv` when running the minimized test case:
[code]

Swapping to a debugging build gave segfaults in `pp_sassign` instead:
[code]
I have no idea what's going on, other than it shows up with `Attribute::Handlers` and - based on the above - i

[2022-10-12 23:27] richardleach commented on #20346
Thanks @jkeenan. I wasn't (and still am not) clear on how that commit would lead to the memory access errors that @tonycoz pasted, but clearly it must be doing so.

[2022-10-12 23:43] richardleach commented on #20377
It looks like the most-recently set `yystatus` prior to the segfault has the value:
* `0` prior to https://github.com/Perl/perl5/commit/c304acb49dada68ec331d50f8af45f0dda83ba6a, so the function returns `TRUE` and `PL_eval_start` seemingly contains the first op of the compiled eval code
* `3` after https://github.com/Perl/perl5/commit/c304acb49dada68ec331d50f8af45f0dda83ba6a,  so it looks like the

[2022-10-13 01:02] sisyphus commented on #20391
All tests passed for me on Windows 11 using gcc-12.2.0 and building in Powershell.
(I think this is the first time I've built it in the powershell - I usually build in cmd.exe.)

The porting/customized.t failures suggest that the specified files have been changed.
Maybe it's just that their line endings have been altered from unix to windows - as could happen in the unpacking of the perl source.
@

[2022-10-13 04:12] tonycoz commented on #20346
I tested reverting this commit, At 7e52ee3837b8a55c0f16b1d54a6215442f450deb  t/003_sub_validation.t segfaulted:
[code]

I reverted c304acb49d (conflict on t/comp/retainedlines.t) and Eixo::Base passed all tests without a segfault.

[2022-10-13 08:52] demerphq commented on #20377
@richardleach thanks, very useful feedback. Just so i can rule out your patch in a different way, can you think of a simple patch that would disable your optimization? A strategically place 0 && in a coditional somewhere maybe?

Your feedback about that patch changing the status is a bit surprising. Without c304acb if the compiler calls Perl_croak() then execution will never return to the call sit

[2022-10-13 09:12] hakonhagland commented on #20391
@sisyphus Yes, I think when I installed [Git for Windows](https://gitforwindows.org/) I chose to configure line ending conversions. I also see the following:
[code]

[2022-10-13 09:47] richardleach commented on #20377
@demerphq Yes, a `0 &&` in `rpeep` will do the trick:
[code]
PS Sadly, I don't have any time available to work on this during today.

[2022-10-13 14:39] XSven opened #20392 "IO-1.50 test t/cachepropagate-unix.t is failing on "aix""
**Module**
IO-1.50

**Description**
[code]
**Steps to Reproduce**
`make TEST_FILES=t/cachepropagate-unix.t TEST_VERBOSE=1 test`

**Expected behavior**
the test t/cachepropagate-unix.t should pass

**Perl configuration**

[code]

[2022-10-13 14:55] hakonhagland commented on #20391
@sisyphus I tried to set autocrlf to "input"
[code]
This setting should avoid having git do automatic line ending conversion on checkout. Then, recloned https://github.com/Perl/perl5.git and repeated the steps above (`gmake`, `gmake test`) and now all tests passed. I still got some errors when running `gmake install` afterwards. I plan to report them in a new issue later!

[2022-10-13 15:22] jkeenan commented on #20392
On this platform, with this (old) version of `perl`, do you know whether **earlier** versions of the IO distribution experience this test failure?

[2022-10-13 16:11] demerphq commented on #20377
@richardleach thanks. I am still investigating, but i tend to agree with you that its not your patch. That was a red-herring I think.

[2022-10-13 20:34] hakonhagland opened #20394 "gmake install: Windows 11, gcc 12: Use of uninitialized value $str in substitution (s///) at ..\lib/Pod/Simple/XHTML.pm line 75."
I am trying to install perl from [blead](https://github.com/Perl/perl5)  on Windows 11 using MinGW-w64 and gcc 12.2 from https://winlibs.com/ (using the MSVCRT runtime library) following a similar approach as in https://github.com/Perl/perl5/issues/20096. See also https://github.com/Perl/perl5/issues/20391.

After downloading WinLibs to `C:\Winlibs64-Gcc12-msvcrt`, I needed to rename gnu make bina

[2022-10-13 20:36] hakonhagland commented on #20391
Added a new issue here: https://github.com/Perl/perl5/issues/20394

[2022-10-13 21:21] hakonhagland opened #20395 "Building debug version on Windows 11 with gcc12: inlining failed in call to 'always_inline' 'S_amagic_i_ncmp'"
I am trying to build a debug version of perl from [blead](https://github.com/Perl/perl5)  on Windows 11 using MinGW-w64 and gcc 12.2 from https://winlibs.com/ (using the MSVCRT runtime library).

After downloading WinLibs to `C:\Winlibs64-Gcc12-msvcrt`, I needed to rename gnu make binary to `gmake.exe`:
[code]
This is gcc version 12.2.0, and gnu make version 4.3:
[code]
To build perl I needed to s

[2022-10-14 01:46] sisyphus commented on #20394
I think that warning has been around for a long time. (It happens on my builds, but I no longer take any notice of it.)
AFAIK, it doesn't indicate that there's something broken or in need of fixing.
It should be investigated and silenced, IMO - the same goes for the other warning.

Cheers,
Rob

[2022-10-14 03:14] sisyphus commented on #20395
I haven't yet managed to reproduce that failure.
I'm wondering if that setting of the CCHOME environment variable stuck.
Could you re-run the build with CCHOME set via an argument given to 'gmake' - ie<code> CCHOME=C:\Winlibs64-Gcc12-msvcrt\mingw64</code> ?
(Or, alternatively, edit the CCHOME specification in GNUmakefile.)

If it still throws that same error then I'll make some more attempts to re

[2022-10-14 03:39] sisyphus commented on #20391
Is there a good reason to run it on any box ?
The painful thing is that line endings (and permission bits) can change very easily when you edit files on Windows - though it depends upon the tools that you use.

There's nothing more annoying than submitting a PR only to find that the CI tests fail because of (unrequested and unannounced) changes to line endings.

I think that skipping the tests on

[2022-10-14 08:06] demerphq commented on #20346
So I can give a summary of what is happening. Although I am definitely not at the bottom of the rabbit hole yet.

First, the implementation of Attributes::Handlers is clouding the issue, when it is modestly restructured the error moves out of the pp_padsv_store() into pp_gv() and we get an assert fail. I consider this an improvement, and it makes the -Dl easier to understand as it does not eval a