[2022-04-22 01:14] demerphq commented on #19654
This is trivial to fix. I'll post a patch today assuming @khwilliamson doesnt push one before I do.

[2022-04-22 02:10] demerphq commented on #19654
This is fixed by PR #19656

[2022-04-22 02:39] khwilliamson commented on #19654
Fixed by https://github.com/Perl/perl5/commit/70f5c3e99f92075109e4262faf825fb00ea79bd3

[2022-04-22 02:39] #19654 closed

[2022-04-22 02:41] khwilliamson commented on #19637
Fixed by c2e0d3bb9f0e8d6999bfa6c5d969f505012bcf72

[2022-04-22 02:41] #19637 closed

[2022-04-22 03:58] khwilliamson commented on #6063
I looked at this, and it's not that hard to fix.  There are several options.

One is to press into service the currently unused FLAGS field in the CURLY regnodes if the high bit in the 16 bit argument is set  (That field may be used when compiling the pattern; I would need to look further.)  .  That would allow us 23 bits.  Or we could create new regnodes which parallel the existing  ones and are

[2022-04-22 04:12] demerphq opened #19657 "Collection of issues related to new procedure for disabling 'taint', including 5.36 blockers."
**Description**
The new procedure for disabling taint support has several issues, some of which are merely annoying technical debt, some of which are show-stoppers.

Background: The logic to support taint mode, even when taint mode is not enabled, impose a non-trivial performance burden on all perl code executed. Conservative estimates for disabling it at compile time are a 3%-5% speedup, but some

[2022-04-22 06:50] neilb commented on #19657
Thanks Yves – some good points there. Some of them were discussed at the RFC stage, but some not.

We theoretically have at least three options:

1. Leave it in, as-is
2. Revert it. This would pretty much necessitate a quick 5.35.12, so that we’ve got most of the pre-RC1 month to test.
3. Leave it in, and change it down the road. This is a non-starter.

I’ve added this to the agenda for today’s PS

[2022-04-22 12:03] jkeenan commented on #19654
Confirmed.
[code]

[2022-04-23 02:01] sisyphus commented on #18911
There's now also a need to amend t/porting/customized.t.
Attached are the current patches that I'm using, including the customized.t patch.
As soon as perl-5.36.0 has been released, I'll set about getting these patches applied to blead.

[diff.txt](https://github.com/Perl/perl5/files/8545821/diff.txt)

[2022-04-23 10:26] neilb commented on #19657
The PR is going to be reverted, and I'll start the RFC process again.

[2022-04-23 10:26] #19657 closed

[2022-04-24 01:45] sisyphus commented on #19589
Fixed by #19580

[2022-04-24 01:45] #19589 closed

[2022-04-24 02:32] sisyphus commented on #19625
For the record, here's the patch to pp.c that I'll be using in my own builds of perl:
[code]
I found quite a few cases where where an integer raised to an integer power was returning a non-integer value.
This patch fixes that behaviour such that the correct integer value is returned.

However, I'm reticent to have it applied to the official perl source.

Firstly, I'm not sure that roundl() is guar

[2022-04-24 02:32] #19625 closed

[2022-04-24 09:00] demerphq commented on #19625
On Sun, 24 Apr 2022 at 04:32, sisyphus ***@***.***> wrote:

Is there any chance we could provide a better modfl() or fix Perl_pow?

I feel like we should have a PR with it as a proper patch, at the very
least we could point at it and people could apply it.

Patches in issues can be a pain to work with.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-24 09:05] demerphq commented on #19657
On Sat, 23 Apr 2022 at 12:26, Neil Bowers ***@***.***> wrote:

I regret that outcome, especially as if I had realized that my email had
been lost we might have had time to resolve this without a revert.

Sorry mate, I know you put a lot of effort into this. I feel crappy being
the messenger here. :-(

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-24 09:15] neilb commented on #19657
Don't feel bad – the job here is to make the best Perl we can, and as a result of you raising this issue, we'll end up with a better version of "turn off taint". I'm glad you did send this, and that we reverted my PR before 5.36 went out. Sure we would have "patched it up", but the end result will be better this way.

[2022-04-24 09:37] twata1 opened #19661 "ExtUtils-ParseXS-3.44: xsubpp seems to output false-positive warnings"
Module:
ExtUtils-ParseXS-3.44

**Description**

Hello,

The following link is the background.

[DBD-MariaDB-1.22: Build warnings](https://github.com/perl5-dbi/DBD-MariaDB/issues/169)

As shown below, the **xsubpp** command outputs warnings when I run the **gmake** command.
According to https://github.com/perl5-dbi/DBD-MariaDB/issues/169#issuecomment-1107666139 here, it seems to be a false positive

[2022-04-24 12:33] sisyphus commented on #19625
You would have to rewrite them from scratch. I don't think there's any other way.
Probably start with the libm implementation of powl (which Perl_pow currently wraps) and correct it where needed.
This is not something that I would undertake, nor would I expect anyone else to undertake it.

Whenever I can't tolerate a few ULPs of variance, I'll just use the mpfr library (via Math::MPFR) to provide

[2022-04-25 06:07] tonycoz commented on #19489
Those were all that was needed for perl itself.  Some CPAN modules has related issues.

[2022-04-25 11:31] robrwo commented on #18754
I am getting errors in Perl v5.34 with DateTime classes:
[code]
The error is

I'm having trouble reproducing this in a simple test script, but this error is preventing me from using the feature in one codebase.

FWIW, it's with DateTime 1.57.

[2022-04-25 11:39] leonerd commented on #18754
@robrwo Don't forget you still need to `use feature "isa"` to enable the parser to recognise the new operator.

[code]

[2022-04-25 11:43] robrwo commented on #18754
@leonerd No, even using the experimental and/or feature pragmas, I still get this error.

[2022-04-25 11:46] robrwo commented on #18754
I also get the error when saying
[code]

[2022-04-25 11:49] leonerd commented on #18754
Interesting. I'd suggest raising it as a new bug with source, instead of here on this experiment-tracking issue.

[2022-04-25 11:52] haarg commented on #18754
That error sounds a lot like #18679, but that is fixed in 5.34.0.

[2022-04-25 12:35] haarg opened #19664 "[doc] perlsub "Constant Functions" section out of date"
**Where**
perlsub - Constant Functions

**Description**
The "Constant Functions" documentation includes several examples and descriptions that are out of date.

This code is documented as working but issuing a deprecation warning:
[code]
This was true in perl 5.22, but it will now fail to compile.

The next example includes:
[code]
This also fails to compile.

[2022-04-25 14:30] khwilliamson commented on #899
@demerphq ping

[2022-04-25 14:38] khwilliamson commented on #6063
For that matter, the simplest fix is just to make each of the regnodes that hold these to use 32 bits.  That would increase the size of any pattern that used {m,n} quantifiers.

Something else that could be done is to instead of storing {m,n} in the regnode, store {m, n-m}  so that the delta has to be <65K

[2022-04-25 14:43] demerphq commented on #6063
On Mon, 25 Apr 2022, 22:38 Karl Williamson, ***@***.***>
wrote:

As I said, with the regnode_types branch stuff like that,  would be nearly
trivial.

Yves

[2022-04-25 14:45] demerphq commented on #899
On Mon, 25 Apr 2022, 22:30 Karl Williamson, ***@***.***>
wrote:

Will look soon.

Yves

[2022-04-25 17:37] kberry opened #19668 ""fail bad gmtime" bare message from win32.c:filetime_from_time"
In the source file win32/win32.tex, function
filetime_from_time, is this little block:
[code]

It does not seem correct for the Perl interpreter to output such a "bare" message with no possibility of trapping. Given that it's returning false, no message at all seems needed. Maybe it was left over from debugging?

Unfortunately we cannot find any reliable way to reproduce it on a given Windows syst

[2022-04-26 04:20] snoopyjc opened #19670 "\U and \L in interpolated strings don't actually stack"
**Description**
Perl the [documentation](https://perldoc.perl.org/perlop#Quote-and-Quote-like-Operators), in string interpolation \U and \L stack, but it doesn't actually work.  "\L, \U, \F, and \Q can stack, in which case you need one \E for each"

**Steps to Reproduce**
print "\UUpPeR\LLOWER\EuPpEr\E\n";
UPPERloweruPpEr

**Expected behavior**
UPPERlowerUPPER

The first \E should pop the \L, leav

[2022-04-26 13:39] spaetow opened #19671 "LWP 6.63 generates '"my" variable $uri masks earlier declaration in same scope' warning"
Module: LWP

**Description**
When using a module that imports LWP, the latest version of LWP generates the following warning:
```"my" variable $uri masks earlier declaration in same scope at /.../perl-5.32.1/lib/site_perl/5.32.1/LWP/UserAgent.pm line 783.```

The script invoked uses the correct Perl interpreter and does not reference LWP at all. It has this at the top:
[code]

The module 'OUR::Too

[2022-04-26 13:43] neilb commented on #19671
This is a [bug in LWP](https://github.com/libwww-perl/libwww-perl/issues/410), which has been fixed, so you just need to wait for the next release of that.

[2022-04-26 13:43] #19671 closed

[2022-04-28 03:00] philiprbrenan opened #19673 "Cannot shift my @ but can push to it"
[code]
Produces:

[code]
which seems to imply that on the one hand ```my @a``` returns an array yet on the other hand it returns a scalar that cannot be ```shift```ed.  Might it be possible to behave more like the entirely satisfactory:

[code]

which produces:
[code]
as expected?

```pop``` and ```unshift``` produce similar puzzling behavior which I urge should be ameliorated to simplify this mar

[2022-04-28 03:24] Grinnz commented on #19673
This is due to prototypes - shift takes a single array argument, so that is interpreted as `shift(my @a) = ...`. Just do `shift(my @a = ...);`

[2022-04-28 09:41] iabyn commented on #19670
On Mon, Apr 25, 2022 at 09:21:00PM -0700, Joe Cool wrote:

Looking at the src code in yyl_interpcasemod(), in the case of a new \L,
\U or \F, it quite explicitly looks for any existing L/U/F on the
casestack, and if so, pops it before pushing the new one. So it appears to
be deliberate behaviour not to stack. (and has been like that since
5.000.)

I guess we need to fix the docs rather than change

[2022-04-28 10:43] iabyn commented on #19664
PR  #19674 contains my proposed fix to the docs.

[2022-04-28 13:58] Tux commented on #19413
@jkeenan I think all systems are green on this issue now
I only have some libz1 fails left I cannot explain yet

[2022-04-28 16:16] khwilliamson commented on #19670
On 4/28/22 03:41, iabyn wrote:

This is actually a sore point.  The behavior is inconsistent.  There are
plenty of tickets on it; this one may well be a duplicate.  It is on my
todo list, but quite low in priority, to go through them and propose an
approach to making things consistent, which might very well lead to some
deprecation cycles.

rjbs was quite keen at one time to have this done, IIRC.

[2022-04-28 19:51] snoopyjc commented on #19670
Maybe just document that only \Q and {\L, \U, \F} can be nested and that \L \U and \F each get an implicit \E if another command from that set is seen?

[2022-04-28 20:49] daniel-pfeiffer opened #19675 "Parser bug starting from 5.35.9"
Module:

**Description**
I am reporting http://matrix.cpantesters.org/?dist=App-pl%20v0.63.0

It is very weird: some instances of Perl 5.35.9 still succeed, while
most repeat about the 1st two of four similar lines:

[code]

**Steps to Reproduce**
These are the 5th and 6th lines of:

[code]

**Expected behavior**
Silently parse, as it does from 5.10.0 to 5.35.8

**Perl configuration**
Happens on m

[2022-04-28 21:34] xenu commented on #19675
Your code does this:

[code]

which enables the `signatures` feature when run on Perl 5.35.9 and newer, as documented in [perldelta of that release](https://perldoc.perl.org/5.35.9/perldelta#Subroutine-signatures-are-no-longer-experimental).

When signatures are enabled, prototypes have to be specified using the `:prototype` attribute, e.g.:

[code]

You can read more about signatures [here](https

[2022-04-28 21:34] #19675 closed

[2022-04-28 21:37] Grinnz commented on #19675
To be clear, feature bundles are versioned for a reason; if you enable a version dynamically, you are accepting the risk that your code *will* break.

[2022-04-29 00:38] khwilliamson commented on #19670
It's worse than that

[2022-04-29 00:57] khwilliamson commented on #19670
Here are some tickets #8848 #11145 #18981

[2022-04-29 06:13] daniel-pfeiffer commented on #19675
Thanks for the clarification!
[pl](https://perl1liner.sourceforge.io/) is a perl -E drop in replacement with a maximum of bells and whistles turned on and many additional goodies.  It doesn't use the features itself, but adds them for the user.  I didn't realise a feature could also break backward compatibility.
In that case the patch I released yesterday will only push the problem further down to

[2022-04-30 00:33] jkeenan commented on #19413
If I'm reading the smoke-test aggregation reports correctly, you have 4 smoke-testing rigs running OpenSUSE.  Their hostnames:
[code]
`lx01` and `sv02` are currently PASSing.  `lx09` is currently failing tests other than `t/op/glob.t` (mostly IO-Compress and similar tests), but I'm seeing failures on `tux`.  For example:
[code]
Can you take another look?

[2022-04-30 07:21] Tux commented on #19413
`lx09` is Tumbleweed and it has a version mismatch on `libz1` which I do not understand. `IO::Compress` won't pass tests.

On `tux`, `$Config{csh}` is set to `tcsh`, and in `op/glob.t` I cannot "reset" that temporary, as `local $Config{csh} = "/usr/bin/csh";` results in `%Config::Config is read-only`. If I alter lib/Config_heavy.pl so `$Config{csh}` is `csh` instead of `tcsh` I still get the same

[2022-04-30 09:43] haarg commented on #19413
Can you check what `$@` is after each of those evals?

[2022-04-30 10:06] Tux commented on #19413
`$@` is empty in both cases.

[2022-05-01 13:35] AnFunctionArray opened #19680 "`panic: restartop in perl_run`"
Module: perl

**Description**

When I run `"test" =~ m{(?{eval {exists $test[-1]{test}}})}sxx` (fails all the time)

**Steps to Reproduce**
Run.

**Expected behavior**
Not panic.

**Perl configuration**

[code]

[2022-05-01 16:53] jkeenan commented on #19680
On 5/1/22 09:35, AnFunctionArray wrote:

Have you observed this problem with production releases of perl (e.g.,
perl-5.34.1)?

[2022-05-02 12:17] Leont commented on #19535
Done https://rt.cpan.org/Ticket/Display.html?id=142501

[2022-05-02 19:29] richardleach commented on #19561
@run4flat - it doesn't seem like this is a bug in perl (and the breaking change seems entirely legitimate), so I propose to close this issue. Would you like me to create an issue on C::Blocks' bugtracker at the same time?

[2022-05-02 23:12] richardleach commented on #19680
At least at first glance, `./regexes/parse.pl` seems to have a lot going on, which is likely to deter volunteers from looking into this issue. Two things that would help:
* A much simplified test case that triggers the bug
* At least telling us how far through `parse.pl`, and ideally in which subroutine and/or module, the panic occurs

[2022-05-03 06:43] AnFunctionArray commented on #19680
I found it:

Try:

`"test" =~ m{(?{eval {exists $test[-1]{test}}})}sxx`

[2022-05-03 15:22] hvds commented on #19680
Confirmed with blead:
[code]

Until some point between 5.22 and 5.30 it also then went on to assert in debugging builds:
[code]

At 5.18 it doesn't complain; I'll try bisecting on that, but my first guess is that a change in 5.20 just exposed an even older bug.

It seems remotely possible this could be related to #19390, where we get a SEGV from:
[code]

[2022-05-03 17:21] richardleach commented on #19680
@hvds, is it relevant that something different happens with a couple of spaces in the mix? (i.e. is there a parsing bug?)
[code]

[2022-05-03 17:28] haarg commented on #19680
With the spaces, it stops being an embedded code block. `$test[-1]{test}` just becomes an interpolated variable. Autovivifying an empty array with a -1 index gives that error.

[code]

[2022-05-03 17:36] hvds commented on #19680
Ah, I hadn't noticed that it would be an error, that suggests it's much more likely to be related to #19390.

[2022-05-03 17:42] richardleach commented on #19680
Thanks. I've never used re code blocks and wasn't sure whether whitespacing was allowed or not.

[2022-05-03 18:11] mohawk2 commented on #19469
Hopefully several weeks later isn't too soon to ask: any progress? If I could get the co-maint status, I could not only release T:B 2.05, but also close the RT fixed thereby.

That would then unlock updating blead's T:B, and me fixing Filter::Simple.

[2022-05-03 22:24] toddr opened #19690 "t/op/magic.t failing on AlmaLinux 8."
I built using:
[code]

The verbose output is a little hard to read but...
[code]

I  have bisected the failure to:
[code]

[2022-05-03 22:31] jkeenan commented on #19690
Committed relatively recently (this dev cycle):
[code]
@FGasper, @khwilliamson, can you take a look?

@toddr, can you identify specific aspects of Alma Linux that might cause this problem?

[2022-05-03 22:32] toddr commented on #19690
specically
$>git tag --contains 2d3b3561a39bb17fd6003fb262f52b3bc800770e
v5.35.10
v5.35.11

[2022-05-03 22:33] toddr commented on #19690
Not really. @FGasper has the same access as I do to A8 so it should be hard for him to look at.

[2022-05-03 23:05] xenu commented on #19690
Those redundant spaces in `/proc/<pid>/cmdline` are caused by a bug in Linux kernel. It was broken in kernels from [4.18](https://github.com/torvalds/linux/commit/5ab8271899658042fabc5ae7e6a99066a210bc0e) to [5.2](https://github.com/torvalds/linux/commit/d26d0cd97c88eb1a5704b42e41ab443406807810) (inclusive).

It was reported here: https://lore.kernel.org/lkml/alpine.LNX.2.21.1904052326230.3249@kic

[2022-05-04 02:02] FGasper commented on #19690
[code]
^^ Fixes it for me.

[2022-05-04 10:48] steve-m-hay commented on #19469
I will do this soon, but since it wasn't required for 5.36.0 I didn't see a great rush for it.

[2022-05-04 15:49] neilb commented on #19469
I've pinged DMANURA, and have suggested that we transfer the first-come to `P5P`, so granting of co-maints can then be a PSC issue.

Hopefully if he responds promptly, I'll make the permissions changes. If I don't hear back from him, I'll at least grant ETJ co-maint.

[2022-05-04 19:10] Leont commented on #19535
This should be fixed in the new release

[2022-05-04 19:10] #19535 closed

[2022-05-06 07:46] AnFunctionArray opened #19693 "Allow control of infinite recursion check (regex)"
Often times since I work with embedded regex same recursive pattern may be not a recursion because of different variables.

Plus additionally I may wish to investigate (if it's really a recursion) one step further.

[2022-05-07 04:02] philiprbrenan opened #19697 "No warning is provided about the useless slice even under strict"
No warning is provided about the useless slice **a[2]** below even under strict:
[code]

[2022-05-07 07:52] iabyn commented on #19697
On Fri, May 06, 2022 at 09:02:30PM -0700, philip r brenan wrote:

That's not a useless slice, that's passing an anon array ref to a().
It's equivalent to:

a( [2] );

--
Dave's first rule of Opera:
If something needs saying, say it: don't warble it.

[2022-05-07 20:20] #19697 closed

[2022-05-08 08:41] andk opened #19700 "Where to report when Sereal-Encoder fails on quadmath perls ?"
**Description**

Smokers run by @DrHyde and myself have FAIL reports for Sereal-Encoder-4.023 on various quadmath perls. Is this something that perl takes responsibility for or should that be reported to the module issue tracker?

**Steps to Reproduce**

(1) compile a perl with `-Dusequadmath`
(2) with this perl run `cpan -i Sereal::Encoder`

**Expected behavior**

Module should pass its tests and

[2022-05-08 09:03] Tux commented on #19700
Yves is already aware, as my laptop is quadmath production and I reported that over a year ago

https://github.com/Sereal/Sereal/issues/259

But alas, no solution yet

[2022-05-08 12:31] DrHyde commented on #19700
As far as I'm concerned when my code fails on a quadmath or longdouble build of perl, then it's a bug in my code - which is why I started testing with those weird builds in the first place.

[2022-05-10 12:33] ilmari opened #19704 "disabling bareword filehandles erroneously forbids package method calls"
**Description**

When the `bareworld_filehandles` feature is disabled (e.g. under `use v5.35;`), package method calls are also forbidden where a bareword filehandle would be.

**Steps to Reproduce**

[code]
It seems to be interpreting the bareword `const` op under the `entersub` as a bareword filehandle, even though that's actually the argument to `method_named`:

[code]

**Expected behavior**

Sa

[2022-05-10 12:43] ilmari commented on #19704
Here are some tests that demonstrate the issue:

[code]
Result:
[code]

[2022-05-10 12:50] ilmari commented on #19704
@tonycoz any ideas?

[2022-05-10 14:33] leonerd commented on #19704
#19426 may be related

[2022-05-10 20:15] rjbs commented on #19704
Oof.  We should turn bareword filehandles back on in the bundle for sure, right?  I can't see why we wouldn't, at this point.

[2022-05-10 21:12] leonerd commented on #19704
Even if a bugfix turned up right now and was trivial and obviously-correct, I think we'd still feel rather nervous about deploying it directly for an RC1. It feels like this feature hasn't really had enough stress-testing yet, if this much of a showstopper turns up quite this late.

I agree with @rjbs - we should back it out and reënable it in the prevailing feature bundle.

[2022-05-11 09:38] leonerd commented on #19704
I've begun a PR here - https://github.com/Perl/perl5/pull/19705

[2022-05-12 16:54] AnFunctionArray opened #19718 "Perl fails to compile for arm64e"
[code]

[2022-05-13 09:12] iabyn commented on #19693
It's very unclear what you are requesting. Could you supply some sample code that demonstrates the issue, plus suggestions on how you want perl to change to address this.

[2022-05-13 09:31] iabyn commented on #19664
fixed by f8ed0a9151; closing.

[2022-05-13 09:34] AnFunctionArray commented on #19718
I can no longer reproduce this - maybe some change in my shell enviroment was the cause - in any case I'm closing this issue now.

[2022-05-13 09:34] #19718 closed

[2022-05-13 09:36] AnFunctionArray commented on #19693
Well I've solved this issue now but in the past I had many occasions where it would be potentially useful to run another level after the recursion has started in order to understand the issue better.

[2022-05-13 09:54] #19693 closed

[2022-05-13 10:12] AnFunctionArray commented on #19693
OK

[2022-05-13 13:40] neilb commented on #19639
@pjacklam any news on this one please?

[2022-05-13 18:27] toddr commented on #19690
This has been merged.

[2022-05-13 18:27] #19690 closed

[2022-05-14 06:34] pjacklam commented on #19639
When done correctly, this is not a problem. Since atan() is a function that can produce a non-integer result, Math::BigInt::batan() should pass everything on to Math::BigFloat::batan(), which should compute the result, and when that is done – and if the result turns out to be an integer – the result should be downgraded to a Math.:BigInt. The deep recursion reveals a bug.

Consider the following:

[2022-05-15 06:53] pjacklam commented on #19639
This has been more work than I expected. Upgrading and downgrading between Math::BigInt and Math::BigFloat seems to work fine now. The same with upgrading and downgrading between Math::BigInt and Math::BigRat. So the "bignum.t" test file passes now.

However, there are still some tests in "bigrat.t" that fail. That is presumably because Math::BigFloat used to upgrade to Math::BigRat in some cases.

[2022-05-15 14:59] wollmers opened #19726 "Regex: parsing/notation issues under /xx modifier"
IMHO the issues are related. That's why I submit them under one main issue.

All examples use the same boilerplate:

[code]

## 1. DON'T WARN:  "\x{0027} " is more clearly written simply as "'" in regex;

**Description**

Warns on use of `"\x{0027} "` in a character class.

**Steps to Reproduce**

Example 1 (parses within comment):

[code]

Example 2 (warns):

[code]

**Expected behavior**
Should

[2022-05-15 18:52] khwilliamson opened #19728 "Remove obsolete functions from util.c"
A few functions, get_ppaddr() being one, were added as a workaround for issues on some platforms, which have long been fixed.  The functions should be removed, by deprecating their use first, and following through later.   @nwc10 started work on this some time ago; this ticket reminds us to pursue it.

`

[2022-05-15 22:19] khwilliamson commented on #19726
There are a couple things going on here.

/xx unfortunately doesn't do what you think it does.  Here's what perlre says
`Starting in Perl v5.26, if the modifier has a second "x" within it, it
     does everything that a single "/x" does, but additionally
     non-backslashed SPACE and TAB characters within bracketed character
     classes are also generally ignored, and hence can be added to make

[2022-05-16 06:19] wollmers commented on #19726
@khwilliamson

Thanks for the comment making things clearer.

The first issue is the opinionated warning: `"\x{0027} " is more clearly written simply as "'" in regex;` which IMHO is against TIMTOWTDI and seems only thrown for `\x{00xx}` notation and codepoints in the ASCII range. It's not thrown for the same codepoints in `\N{U+00xx}` notation. Either remove the warning or document how to avoid or

[2022-05-16 20:20] wollmers commented on #19726
It's partly supported, which means hidden functionality. Would be nice to have it.

My work around is now to define a [custom property](https://perldoc.perl.org/perlunicode#User-Defined-Character-Properties)  `\p{Is_Apostrophe_Like}` which can be used in `regex_sets` and doesn't need `/xx`.

[2022-05-16 21:46] khwilliamson commented on #19726
On 5/16/22 11:17, Hugo van der Sanden wrote:

perldiag documents how to turn off every warning.

This warning is only generated when 'use re "strict"' is enabled.  This
is a way for a programmer to opt-in to catch gotchas that otherwise
could bite you.  However, if you are using a regex set, any regular
bracketed classes inside it implicitly has this mode on; I don't
remember why.  One issue with

[2022-05-16 21:58] khwilliamson commented on #19726
On 5/16/22 14:20, Helmut Wollmersdorfer wrote:

What is supported, and makes sense, is that if the original of the
compiled pattern is something that is legal inside a character class,
then the compiled version can be interpolated.

my $foo = 'a-z'

should work.  But you can't just put an arbitrary pattern inside
brackets and expect it to somehow know what to do.

Your $apo_06 is just a string of

[2022-05-16 23:14] khwilliamson commented on #19726
/xx does everything /x does.  If it is legal under /x, it is legal under /xx, and outside bracketed classes they behave identically.  What /xx does is treat spaces and tabs differently inside such classes, ignoring them.  See if the wording in #19735 is good enough, or suggest edits.

I would love to allow vertical space to be ignorable in bracketed classes.  I'd have to dig up all the reasons it

[2022-05-17 09:05] boboshaq opened #19737 "5.34.1 and 5.32.1 utime.t io/fs.t tests failed on linux"
**Description**
make test fails with this two tests on my installation: utime.t and io/fs.t  .
I tried to compile versions: 5.34.1 and 5.32.1. Result is the same.

**Steps to Reproduce**
5.34.1
[code]
5.32.1
[code]

**Expected behavior**

**Perl configuration**

[code]

/soft is NFS mounted partition:
[code]

Can I install perl despite this two tests are fail?

[2022-05-17 10:53] ribasushi commented on #19452
@rjbs workaround shipped to CPAN.

[2022-05-17 11:17] boboshaq commented on #19737
OK, I confirm that problem may concern nfs partition. When I compiled perl 5.34.1 on local drive (not NFS partition ), all tests was successful.
I need to install perl on that nfs partition, so what can I do to those tests was pass (utime.t and io/fs.t) ???

[2022-05-17 13:03] Corion commented on #19737
You don't need to build Perl on the NFS partition. You can build locally and then install to the NFS partition. Use

    ./Configure -Dprefix=/path/to/nfs/

to set the installation target directory.

[2022-05-17 14:49] jkeenan opened #19738 "Unexpected failure to install prerequisites for Task::CPAN::Reporter"
At various points over the past year I have installed either Perl 5 blead or perl-5.35.* monthly dev releases on various operating systems, then installed `cpanm` against those `perl`s, then installed `Task::CPAN::Reporter` so that I can generate CPANtesters reports for important distributions.  Usually this is problem-free, but today I am encountering multiple failures on FreeBSD-12 and FreeBSD-1

[2022-05-17 15:11] jkeenan commented on #19738
On each of these two platforms, the first FAIL reported in the `~/.cpanm/build.log` is in Cpanel::JSON::XS.  Excerpt from FreeBSD-12.
[code]

[2022-05-17 15:40] jkeenan commented on #19738
This failure is also showing up in some -- but not all -- recent CPANtesters reports for Cpanel-JSON-XS.  See, *e.g.,*, http://www.cpantesters.org/cpan/report/ce743498-cda7-11ec-a07e-bed1f77ae644 or http://www.cpantesters.org/cpan/report/f8b33e18-cdaf-11ec-a460-f670f87ae644.  This needs to be investigated before our production release.

[2022-05-17 15:45] haarg commented on #19738
This problem shows up if the latest JSON::PP is installed before Cpanel::JSON::XS. Cpanel::JSON::XS has a test that is rather strict about what it expects from JSON::PP in some cases, which doesn't fully account for the boolean changes in core and JSON::PP. [Reini is aware](https://github.com/rurban/Cpanel-JSON-XS/issues/194#issuecomment-1125702700).

[2022-05-17 17:26] jkeenan commented on #19452
I was able to install this version against blead on both FreeBSD-12 and -13.  From -12:
[code]

[2022-05-17 19:17] jkeenan commented on #18503
I'll take the absence of responses as a "No" and will close the ticket in 7 days unless we hear otherwise.

[2022-05-17 23:22] haarg commented on #18503
I think this was likely to cope with subs installed directly in the stash, rather than in a glob. This existed for a time, but was backed out.

A better option would probably be:
[code]

[2022-05-18 11:47] boboshaq commented on #19737
But if tests fails on nfs partition, is perl will be fully functional if I compile it local but install it on nfs partition??

[2022-05-18 14:18] Tux commented on #19413
So, my default for this box was:
[code]
When I change that to
[code]
where csh is a symlink to tcsh
[code]
All tests start PASSing
[code]
Anything else that I can/should dig into?

[2022-05-19 02:49] florian-pe opened #19742 "Autovivification: scalar value contaning simultaneously an integer value AND an array or hash reference"
Here is the very weird behavior that I found :
[code]
and the same behavior with array references
[code]
This also happens on 5.10. But replacing `$var->@*` with `@$var` and `$var->%*` with `%$var`.

**Expected behavior**

A scalar variable shouldn't both contain an integer value and a hash or array ref,  AT THE SAME TIME !

[2022-05-19 03:27] florian-pe commented on #19742
Well damn. I can add another entry to my Perl pitfalls list.

[2022-05-19 14:03] rjbs commented on #19738
This sounds like probably "not a blocker."  @haarg Can you elaborate on "Boolean changes in core and JSON::PP" though?

[2022-05-19 16:03] KES777 opened #19748 "Magic is not called"
**Description**
I want to track which regex changes $1 $2 variables. I tied them to some class which shows access to $1 and $2. but when I call regex matching, code from tied class is not called:

[code]

**Steps to Reproduce**
Tie $1 and $2 to some class and put warnings inside FETCH / STORE subs.

**Expected behavior**
FETCH / STORE code is called

**Perl configuration**
[code]

[2022-05-19 16:23] Leont commented on #19748
Maybe you shouldn't tie magical variables. Or as they said in Ghostbusters: *don't cross the streams*.

Regex don't actually push data into `$1` and friends; $1 fetch the data when needed in a scoping dependent way. It kind of has to work that way, given how the regex variables work with scope.

[2022-05-19 16:23] #19748 closed

[2022-05-19 17:03] rwp0 opened #19749 "autouse with List::Util"
[code]

[code]

`autodie` pragma dies used together with `List::Util`

program executes successfully if I comment line 9 ie. importing the `List::Util` module

Using perl 5.32.1 on Debian 11

[2022-05-19 17:08] rwp0 commented on #19749
[autouse](https://perldoc.perl.org/autouse) mentions:

Isn't List::Util using the standard `import` method to be usable with autouse/autodie?

[2022-05-19 17:59] leonerd opened #19750 "`sv_undef()` is missing"
We have various specialised functions for clearing AVs, CVs or HVs, but it seems we don't actually have the most trivially obvious `undef this SV`; the XS equivalent of the Perl code

[code]

The closest you can currently do is `sv_setsv(sv, &PL_sv_undef);`

A dedicated `sv_undef(sv)` would definitely be useful, and can take a few shortcuts knowing what it is doing, so it doesn't have to inspect t

[2022-05-19 18:00] leonerd commented on #19750
Also @leont observes on IRC:

[code]

[2022-05-19 18:18] haarg commented on #19749
`Exporter`'s `import` is not "the standard", it is just one that is supported by the `autouse` module. `List::Util` can't use `Exporter`'s `import` directly and still work correctly. The modules are just incompatible. `autouse` is a bit too magical to work with everything.

[2022-05-19 18:32] Leont commented on #19749
`autodie` has nothing to do with this issue, it's all `autouse`

[2022-05-19 18:35] haarg commented on #19749
`autodie` loads `List::Util`. This means `autouse` will immediately detect the incompatibility the `import` method. If you don't load `autodie`, it won't cause an error immediately, but as soon as you try to use `any` it will load `List::Util`, detect the problem, and throw the same error.

[2022-05-19 23:29] rjbs commented on #19738
Thanks for the elaboration.  I think with "Reini is aware", this is not a blocker.  (We should keep track of it, though.)

[2022-05-20 13:58] rjbs commented on #19738
PSC has changed its collective mind.  This is a blocker.  More via emails soon.

[2022-05-20 15:30] Yaribz opened #19758 "getsockopt truncating values to 256 bytes ?"
**Description**
It seems the `getsockopt` function truncates values to 256 bytes, which is currently a problem on macOS systems as the TCP_INFO structure is supposed to be 292 bytes long (as seen [here](https://github.com/apple/darwin-xnu/blob/main/bsd/netinet/tcp.h#L342)). This could also be a problem in other OS in the future as new fields are added progressively to this structure, so its size i

[2022-05-20 16:34] hvds commented on #19758
I note the identified line of code is unchanged (bar whitespace) since"Perl 5.001" (748a93069b), I guess it's had a good run.

Given the imminence of 5.36, I'd be tempted to just bump it to 1024 bytes for now, and aim to get a better solution during the 5.38 dev cycle. (I don't think I have the knowledge to craft that better solution though.)

[2022-05-20 19:19] Yaribz commented on #19758
I was wondering if it would be possible to add an optional parameter to `CORE::getsockopt`, which would be the size of the `sv` variable used to receive the return value of the `getsockopt` system call (hence the max size of the return value).

If no value is provided, the hardcoded value 256 could still be used, so this change would basically be a no-op for all existing Perl code.

[This line](ht

[2022-05-20 20:13] Leont commented on #19758
Yeah, just bumping the size seems like a sensible way to work around this for the next decade or two.

[2022-05-21 02:35] stevieb9 commented on #19758
I'm in agreement that just bumping the size as a magic number is a reasonably pragmatic approach.

[2022-05-21 13:02] Yaribz commented on #19758
I guess just bumping the hardcoded value in Perl core should do the job indeed...

For the record, here is the workaround I came up with for macOS (it seems to work fine according to first results):

[code]

With this workaround, any call to getsockopt_darwin is redirected to CORE::getsockopt if no extra argument is given.
If an extra argument is given, it is used as the max length of the value re

[2022-05-21 18:13] rjbs opened #19763 "[EXPERIMENT] for my (LIST) (LIST), n-at-a-time iteration"
In v5.36.0, we released support for this syntax:

[code]

This is the "for_list" feature.

[2022-05-21 18:21] rjbs opened #19764 "[EXPERIMENT] the builtin:: namespace"
In Perl 5.36.0, we added the `builtin` namespace for new functions that are not always available in every namespace.  (They must be imported or called by fully-qualified name.)

[2022-05-21 18:28] rwp0 commented on #19764
[code]

that's how to list them for those who wonder what functions are available in the new namespace

[2022-05-21 18:29] #19763 closed

[2022-05-21 18:29] rjbs commented on #19763
dupe of https://github.com/Perl/perl5/issues/18744

[2022-05-21 18:32] rjbs opened #19765 "[EXPERIMENT] more paired delimiters for quote-like operators"
Perl 5.36.0 introduced the extra_paired_delimiters feature, which allows many non-ASCII mirrored bracketing pairs to be used for quote-like operators.  For example:

[code]

This is likely to change as Unicode evolves. In fact, Unicode appears to be in the process of identifying just the character set we'd like to use!

[2022-05-21 20:26] bkerin opened #19766 "in regex \Q undocumentedly doesn't prevent interpretation of / (the delimiter), can still compile"
At the least this seems like a doc bug or bad gotcha, because man perlre says:

        \Q          quote (disable) pattern metacharacters until \E

but I had a / inside a \Q...\E in the match part and it ended up getting interpreted as the end of the match part of the substitution.

I expected delimiters to count as a pattern metacharacter and I think the man page should say if that's not the cas

[2022-05-21 20:27] bkerin commented on #19766
I'm on 5.20 here btw

[2022-05-21 20:31] Grinnz commented on #19766
delimiters are not part of the pattern. They are part of the Perl parsing step to determine what the regex consists of, it has not even gotten to parsing the regex pattern at that point. So you must ensure that they are either escaped or do not match the dlimiters you are using, and `\Q` is not sufficient for that.

[2022-05-22 11:35] steve-m-hay commented on #19469
@mohawk2 I've just released Text-Balanced-2.05 to CPAN. Thanks for all your work on this. Apologies for taking longer than intended to make this release.

[2022-05-22 14:18] KES777 opened #19767 "%+ is not dynamically-scoped"
**Description**
https://perldoc.perl.org/perlvar#Variables-related-to-regular-expressions

when we are in `sub sub` this is a different scope (not?) and variables related to regular expressions should be already stored. Otherwise this prevents usage of regular expression inside `sub sub`, because it breaks those variables

**Steps to Reproduce**
[code]

Here we see that values for `%+` are destroy

[2022-05-22 20:33] rjbs opened #19768 "ExtUtils-Constant: needs new release w/o indirect syntax"
[ Created in perl5 by request of @nwc10 ]

In building a test file, ExtUtills-Constant/t/Constant.t does this:

[code]

So, sometimes this will put `use 5.036000` into the source code.  Then later, it will emit `bootstrap $package ...`.  This is indirect syntax, and dies.  This was corrected in perl5.git in 67b5e82 but no new release of EU-C was made.

[2022-05-22 20:41] mohawk2 commented on #19469
@steve-m-hay Amazing, thank you! Now I can update PDL to use the updated version, and start on the Filter::Simple work (the second half of the reported problem) - I believe that's blead-first, but would welcome corrections if I'm wrong. I see you've also closed a number of the RT bugs, thank you.

[2022-05-23 00:06] mohawk2 commented on #19469
Note to self: Filter::Simple's `$EOP` needs the `\n#` case for the case of:

[code]

[2022-05-24 12:32] argrath opened #19772 "[doc] perldelta: the number of space after a period"
The number of spaces after a period is a controversial issue,
but it should be unified in a document at least.

[2022-05-25 15:11] jkeenan commented on #19639
Today I installed perl from the `v5.36.0-RC3` tag, threaded build on FreeBSD-12.  I attempted to install Math::Calc::Parser, but got these (now familiar) failures in the test suite:
[code]

[2022-05-25 15:37] pjacklam commented on #19639
I'm away until Sunday, so I can't look into this right now, but when I testes Math::Calc::Parser with the latest version of the Math-BigInt distribution, I only got failed test, if I remember correctly. I believe it was when testing 3 >> 1, which returns 1.5, but where the expected value is 1. I don't know which version of Math-BigInt that ships with 5.36.0-RC3.

Anyway, I will look into this as s

[2022-05-26 03:50] philiprbrenan opened #19774 "Triple derefences work with scalars but not subs"
Perl does seems to allow triple de-references in some situations, but not all as shown below where **$$$** works but **&&$** does not.  Might it be possible to allow such de-references to occur reliably in any combination?

[code]

[2022-05-27 10:15] Mingli-Yu opened #19776 "Build failure with gcc-12"
In function 'dynprep',
    inlined from 'S_sortsv_flags_impl' at pp_sort.c:358:20,
    inlined from 'sortsv_amagic_i_ncmp' at pp_sort.c:572:5:
pp_sort.c:1232:1: error: inlining failed in call to 'always_inline' 'S_amagic_i_ncmp': function not considered for inlining
 1232 | S_amagic_i_ncmp(pTHX_ SV *const a, SV *const b)
      | ^~~~~~~~~~~~~~~
pp_sort.c:188:14: note: called from here
  188 |

[2022-05-27 10:45] jkeenan commented on #19776
Please supply your command-line invocation for the `./Configure` command, *e.g.,*
```sh ./Configure -des -Dusedevel```.

Also, please supply details of your operating system, *e.g.* in a Unix-ish environment:
```uname -a```

[2022-05-27 12:28] Leont commented on #19774
No, this is not easily possible using prefix syntax. Not that you probably shouldn't dereference coderefs with `&`/`->&*` because that has `&sub` semantics (it passes on @_ as args). You really should be using `->() ` instead to avoid nasty surprises.

[2022-05-27 12:28] #19774 closed

[2022-05-27 18:54] FlowismG commented on #799
old

[2022-05-28 00:24] ThePeeps191 commented on #799
Yea ikr

[2022-05-28 01:21] rjbs commented on #19738
This has been resolved: JSON::PP no longer looks at builtin::is_bool and Cpanel::JSON::XS does not change behavior based on perl version.

[2022-05-28 01:21] #19738 closed

[2022-05-28 03:17] #8369 closed

[2022-05-28 12:12] jkeenan commented on #19738
I can confirm this, as I installed perl-5.36.0 from tarball in a testing directory last night, was able to install, first, Cpanel::JSON::XS against it, then all prerequisites for Task::CPAN::Reporter, and then generate CPANtesters reports for many modules.

Thank you very much.
Jim Keenan

[2022-05-28 12:17] jkeenan commented on #19639
Here are results from an attempted installation against perl-5.36.0, built from the tarball released yesterday.
[code]

[2022-05-28 12:26] iabyn commented on #19680
On Wed, May 04, 2022 at 06:46:30AM -0700, iabyn wrote:

I now have a fix for this as the first commit in PR #19778.

--
That he said that that that that is is is debatable, is debatable.

[2022-05-28 15:45] jkeenan opened #19779 "make test_prep: new error output"
Running `make test_prep` at the following commit and configuration ...
[code]
... I now get the following messages near the very end of the process:
[code]

[2022-05-28 15:47] jkeenan commented on #19779
I did not observe these when building perl-5.36.0, so I believe these have been introduced since 5.37.0 came out last night.

[2022-05-28 15:51] jkeenan opened #19780 "ext/XS-APItest/t/boolean*.t: new test failures with PERLIO=stdio"
I am observing new test failures in `ext/XS-APItest/t/boolean-thr.t` and `ext/XS-APItest/t/boolean.t` when those program are run through the harness with `PERLIO=stdio`.

As seen on FreeBSD-13, threaded build, at v5.37.0-49-ge1980ad278:
[code]
Note that in each test file the final `ok [test number]` statement is not being printed.  I am not observing these test failures with `PERLIO=perlio`.  See,

[2022-05-28 16:01] jkeenan commented on #19780
The likely source is this commit from today:
[code]
@demerphq, @khwilliamson, can you take a look?

[2022-05-28 16:05] jkeenan commented on #19779
Possible source:  this commit merged to blead this morning:
[code]
@khwilliamson, can you take a look?

[2022-05-28 17:34] khwilliamson commented on #19779
Fixed by e1fa7ce9e264f21f1bbb000feaf336040252cd64

[2022-05-28 17:34] #19779 closed

[2022-05-28 17:40] khwilliamson opened #19781 "Need tests for GH #8369"
This issue has been fixed, but there are no real tests for it.  See also #19636

Module:

**Description**

**Steps to Reproduce**

**Expected behavior**

**Perl configuration**

[code]

[2022-05-28 18:02] hvds commented on #19781
I think this is the core test case, here's the output before the check was restored:
[code]

[2022-05-28 18:51] mohawk2 commented on #19469
This will need fixing (a breakage for Parse::RecDescent: https://rt.cpan.org/Ticket/Display.html?id=142922) before I look at Filter::Simple.

[2022-05-28 18:57] jkeenan commented on #19779
Confirmed at bdadb244dbc743bdb32c9b5f33d0940d55b93f8d.  Thanks.

[2022-05-28 20:26] pjacklam commented on #19639
It looks like perl-5.36.0 is not shipped with the latest release of Math-BigInt. What do you get when you run the tests with the latest Math-BigInt?

[2022-05-28 22:54] #19399 closed

[2022-05-29 01:30] jkeenan commented on #19639
[code]

[2022-05-29 03:54] mohawk2 commented on #19469
The above is now fixed (including adding CI to test at least those downstream modules identified by those issues), and a dev-release (2.05_01) has been uploaded to CPAN.

@steve-m-hay In due course (and assuming CPAN Testers likes it), could you make a new full release on CPAN? Meanwhile, I believe nothing is in the way of me having a go at Filter::Simple.

[2022-05-29 17:00] jkeenan opened #19784 "clang++ build-time failure at 2e2065489c"
Attempting a threaded build on FreeBSD-12 using clang++ as the C-compiler today at fd4fc0f6fd, I observed the following build-time failure:
[code]
See also this smoke-report:
https://perl5.test-smoke.org/report/5018932

At tag v5.36.0, using clang++ as the compiler, `make` completes successfully (albeit with build-time warnings) and all tests PASS.  So this failure is new in this dev cycle.  Bisec

[2022-05-29 17:25] AnFunctionArray opened #19786 "Unresolved symbols compiling on Windows"
[code]

[2022-05-29 17:27] AnFunctionArray commented on #19786
Windows 11 - Version 10.0.25120 Build 25120

Microsoft Visual Studio Community 2022
Version 17.3.0 Preview 1.1
VisualStudio.17.Preview/17.3.0-pre.1.1+32519.111

[2022-05-29 17:33] khwilliamson commented on #19784
This should be fixed by 01aede5a763f5fc828acfda196b14da88f1ab90f

[2022-05-29 18:29] AnFunctionArray commented on #19786
Oh there seems to be an option I overlooked - let me try that:

[code]

[2022-05-29 18:32] #19786 closed

[2022-05-30 00:44] jkeenan commented on #19784
Confirmed.  Thanks.  Closing ticket.

[2022-05-30 00:44] #19784 closed

[2022-05-30 07:58] Mingli-Yu commented on #19776
./configure --prefix=/usr --libdir=/usr/lib64 \
    -Duseshrplib \
    -Dusethreads \
    -Dsoname=libperl.so.5 \
    -Dvendorprefix=/usr \
    -Dvendorlibdir=/usr/lib64 \
    -Darchlibexp=/build/perl/5.34.1-r0/recipe-sysroot/usr/lib64/perl5/5.34.1/x86_64-linux \
    -Dlibpth='/usr/lib64 /lib64' \
    -Dglibpth='/usr/lib64 /lib64' \
    -Alddlflags=' -Wl,-O1 -Wl,--hash-style=gnu -Wl,--as-needed -f

[2022-05-30 10:32] MoJl4yH opened #19790 "Found input string with heap-buffer-overflow"
**Description**

i'm used afl-fuzz for find bug in interpreter perl. And the fuzzer finds a line that results in "heap-buffer-overflow".

For proofs i build perl with this command
[code]
And i feed the found string to the input of the perl.

**Steps to Reproduce**

just pass this [segfauit.zip](https://github.com/Perl/perl5/files/8797516/segfauit.zip) as input.

**Expected behavior**
[code]

Also,

[2022-05-30 13:05] hvds commented on #19790
Thanks @MoJl4yH, that is quite a strange one; it reduces to this:
[code]

The segfault appears to be a bug introduced sometime between 5.24 and 5.28, ameliorated to an underflow panic since 5.34. I'll try to bisect.

[2022-05-30 13:34] MoJl4yH commented on #19790
Also i  found other crash, for example memory leak and about 30 crash with heap-buffer-overflow. I can collect it in archive and send on your e-mail.

[2022-05-30 13:43] Ovid commented on #19460
Sorry, I really need to fix my github notifications.

I inherited `Acme::Dot` from Simon Cozens. Never tried to use it myself, even though it seemed fun (and I'd much prefer the dot syntax, even though we're never going to get it).

If anything, I should maybe upload that module again and list it as deprecated, or hand it over to _anyone_ who cares.

[2022-05-30 13:52] hvds commented on #19790
I misspoke: the difference between segfault and underflow is the difference between non-debugging and debugging perls.

The crash is introduced by b369834256:
[code]
(That was #15832.)

@iabyn that last paragraph is curious, could this also trip over the changes you made to the handling of null ops?

I hope someone more familiar with optrees than I can analyse this further.

[2022-05-30 14:04] hvds commented on #19790
Sure if you like, you'll find my email in AUTHORS if you need it.

Please consider minimizing the test cases first. Either `afl-cmin` or `afl-tmin` will try to do that for you (I forget the difference between them), but you'll need to verify that the reduced versions still fail in the same way.

Hugo van der Sanden

[2022-05-30 14:26] pkubaj opened #19791 "perl misdetects architecture on FreeBSD"
Module:
POSIX

**Description**
POSIX.xs at https://github.com/Perl/perl5/blob/blead/ext/POSIX/POSIX.xs#L3350= uses uname(3) for detecting architecture on FreeBSD. However, `uname -m` will print "powerpc" on all powerpc architectures (powerpc, powerpcspe, powerpc64 and powerpc64le), "riscv" on riscv architectures (riscv64, riscv64sf) and "arm" on 32-bit arm (armv6, armv7). For `uname` binary, `-p`

[2022-05-30 16:16] rwp0 commented on #19791
basically it says `powerpc-freebsd-thread-multi` instead of `powerpc64-freebsd-thread-multi`

[2022-05-30 16:30] khwilliamson commented on #19780
On 5/28/22 10:01, James E Keenan wrote:

Please check that it is fixed as of d3faea291a338406bbae0e506d519f8ea3fa600e

[2022-05-30 21:02] jkeenan commented on #19780
Yes, it does.  Confirmed on FreeBSD-12 and -13.  Closing.

[2022-05-30 21:02] #19780 closed

[2022-05-30 21:26] jkeenan opened #19794 "Change in ExtUtils::MakeMaker triggers error output during 'make'"
This is a situation where a change in a CPAN distribution that ships with Perl core causes output to STDERR while Perl's `make` is being run.

I have observed the following output during `make test_prep` when run on Linux (though not when run on FreeBSD):
[code]
Relevant part of `cpan/ExtUtils-MakeMaker/lib/ExtUtils/Liblist.pm`:
[code]
Not present in v5.32.0 (0cf01644e9).

Not present in v5.34.0 (

[2022-05-30 21:30] jkeenan commented on #19772
There are many things worth worrying about, some of which are worth arguing about.  The number of spaces after a period is not one of them.

I recommend closing this ticket.

[2022-05-30 22:22] Leont commented on #19794
Most likely this is because of [78b6dfb6](https://github.com/Perl-Toolchain-Gang/ExtUtils-MakeMaker/commit/78b6dfb6bc04fdac90cfe5cc432fdf8c7e5bf27c). I'm guessing that your compiler is listing directories that don't exist, and we should filter for that.

[2022-05-31 00:46] jkeenan commented on #19794
FWIW, when I add some debugging code ...
[code]
... and then configure and build from scratch, I get:
[code]

[2022-05-31 01:11] jkeenan commented on #19794
Ignore previous post.  Scalar::Util was not imported.

[2022-05-31 01:30] jkeenan commented on #19794
Perhaps better.  If I had *this* debugging code:
[code]
... I get:
[code]
... but there is no such YYY directory:
[code]

[2022-05-31 15:57] hvds commented on #19081
For the record, a [PerlMonks question](https://perlmonks.org/?node_id=11144315) prompted me to discover that if the `$SIG{FPE}` is localized, we do see the die:

[code]

That makes no sense to me - @Leont can you make sense of it? If there may be a bug here, I'll open a separate ticket.

[2022-05-31 16:14] cjg-cguevara opened #19801 "BBC: Blead Breaks Test::Trap"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.1.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Test::Trap

Please see http://matrix.cpantesters.org/?dist=Test::Trap

[Please do not change anything below this line]
--------------

[2022-05-31 17:08] hvds commented on #19801
There are 13 test failures which all look like:
[code]

I assume this is knock-on from https://github.com/Perl/perl5/pull/19645, presumably running with an empty path.

[2022-06-01 01:52] cjg-cguevara opened #19804 "BBC: Blead Breaks Devel::FindPerl"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.1.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Devel::FindPerl

Please see http://matrix.cpantesters.org/?dist=Devel::FindPerl

[Please do not change anything below this line]
----

[2022-06-01 03:47] hvds commented on #19804
@Leont this looks to be because `Devel::FindPerl::_capture_command()` unsets `$ENV{PATH}`.

@demerphq I'm beginning to think maybe we should consider special handling for an empty PATH, perhaps by identifying a random string that points to a non-existent path and silently setting PATH to that. I reckon it has been _good practice_ for a long time to do `local $ENV{PATH}`, so this is going to affect

[2022-06-01 11:08] Leont commented on #19081
I can't reproduce that. I think we're dealing with undefined behavior here.

Given it only happens in an older release, I'm not sure that makes sense.

[2022-06-01 17:29] mohawk2 commented on #19469
Once the new stable release is out, I will update the Debian package accordingly.

[2022-06-02 05:39] Mingli-Yu commented on #19776
https://github.com/Perl/perl5/pull/19808

[2022-06-02 17:11] leonerd opened #19811 "`catch` without `var` could have a more helpful error message"
Users who are familiar with more generic `try/catch` syntax may be used to a plain `catch { ... }` block and thus forget to put the `($var)` part on. On 5.36 this results in a very vague error message:

[code]

It would be much more useful to new users to catch (pardon the phrasing) this particular trap, if the message said something like:

[code]

[2022-06-02 19:18] AnFunctionArray opened #19815 "Optimizations: RegEx recursive patterns."
I replaced regcppush and recppop to use memcpy which for my project ([regularc](https://github.com/AnFunctionArray/regularc)) by using the attached use case and the following command:

`perl regexes/parse.pl gen.c`

Improves performance over the original implementation by x2 (tested on Windows x86).

Here is the pull [request](https://github.com/Perl/perl5/pull/19814).

[gen.zip](https://github.co

[2022-06-03 00:32] #19668 closed

[2022-06-03 02:14] hvds opened #19818 "EXTEND_HWM_SET() should not declare "ix""
We need to be a lot more careful in macros to avoid using variable names likely to appear in the interpolated arguments. See https://perlmonks.org/?node_id=11144355 for an example, which I reckon was unreasonably hard to debug:
[code]

I've no idea what the compiler is actually trying to do with this in:
[code]
but I suspect we're in nasal demon territory.

[2022-06-04 16:22] yjh-styx opened #19824 "Perl can't be built on x64 platform with gcc12.1"
This is a bug report for perl
generated with the help of perlbug 1.42 running under perl 5.36.0.

-----------------------------------------------------------------
[Please describe your issue here]

when build with gcc 12.1 with option -O2 perl crash on start )in perl_create) - gcc use 'movaps' for unaligned memory.
If change -O2 to -Os, perl work.
Also work if describe struct MEMORY_BLOCK_HEADER

[2022-06-04 16:35] AnFunctionArray commented on #19815
https://github.com/Perl/perl5/pull/19814

[2022-06-05 06:51] sisyphus commented on #19824
Thank you for identifying a fix for this problem.
I found the same problem when I tried to build perl-5.36.0 with my mingw-w64 port of gcc-12.1.0 on Windows 7.
But I didn't know where the alignment problem lay ... and I'm delighted that you've solved that part for us.

A few things I would like to point out:

1) The vmem.h in lib/CORE is created during the build, and is a copy of win32/vmem.h. So

[2022-06-05 10:46] steve-m-hay commented on #19469
I have just pushed Text-Balanced-2.06 to CPAN :-)

[2022-06-05 11:03] yjh-styx commented on #19824
Thanks for the information (I did the quick fix and was just too lazy to unpack it again, and make clean didn't remove it)

Yes, definitely. The part for _MSC was made for the following reasons - in terms of today's C standard, what happens is a compiler error (gcc). However, looking back at the history of their similar errors, it is possible that a change was/will be made in the draft like this "

[2022-06-05 13:30] sisyphus commented on #19824
I'm certainly agreeable to:
[code]
It doesn't seem to be needed with the 32-bit mingw-w64 ports of gcc-12.1.0 so we could also write it as:
[code]
but if there's a chance that it might be needed in future with 32-bit builds, then I'd be happy to exclude the "64 bit" requirement.
However, I'm not the one who would make the decision about that.
(If \_\_MINGW64\_\_ is defined then so is \_\_GNUC\_\_.

[2022-06-05 14:22] yjh-styx commented on #19824
Yes, but I think that this problem is NOT a mingw-specific

     gcc -Q -Os --help=optimizers

---cit---
--- dist/IO/poll.h.orig	Thu Jan 21 02:04:44 2021
+++ dist/IO/poll.h	Fri Sep 17 22:27:44 2021
@@ -10,7 +10,9 @@
 #ifndef POLL_H
 #  define POLL_H

-#if (defined(HAS_POLL) && defined(I_POLL)) || defined(POLLWRBAND)
+#if defined(WINDOWS) || defined(_WIN32)
+#  include <winsock2.h>
+#elif (defined(

[2022-06-05 15:41] jkeenan commented on #19804
Bisecting with the following invocation:
[code]
... points to this commit:
[code]
@demerphq @khwilliamson Can you take a look?

[2022-06-05 16:23] jkeenan commented on #19801
Bisecting with this invocation:
[code]
... points to this commit:
[code]
@demerphq @khwilliamson, can you take a look?

[2022-06-05 17:54] hvds commented on #19824
See https://gcc.gnu.org/onlinedocs/gcc/Optimize-Options.html

`-Os` means optimize for (code) size, rather than for speed.

[2022-06-05 19:28] yjh-styx commented on #19824
Formally this is so, but by fact -Os enabled almost speed optimiztion.
say:
  gcc -Q -O2 --help=optimize
and
  gcc -Q -Os --help=optimize
and compare output

[2022-06-05 22:30] georgealverson opened #19826 "Backtick/qx operations fail under Windows"
Example:
perl -e 'print qx(date /T);'

Expected output (example):
Sun 06/056/2022

Actual output: none, but there is a zero length file name date in the current directory.

Example of a possible workaround (thanks to Håkon Hægland, https://stackoverflow.com/questions/72503807/perl-calls-using-system-abruptly-start-failing)

perl -e 'print qx($ENV{COMSPEC} /C DATE /T)';
Sun 06/05/2022

Suspected ca

[2022-06-05 23:56] mohawk2 commented on #19469
The Debian packaging is progressing nicely (with lots and lots of support from the experienced Debian folks!).

[2022-06-06 00:23] tonycoz commented on #19826
If I run with a recent blead:
[code]

If I use strawberry perl 5.32.1 like the linked stackoverflow user does:

[code]

This was on Windows 10, without the 21H2 feature update.

To run your example using single quotes, I need to use powershell, otherwise the code fails to compile:
[code]

If you have a debug build of perl running with `-Dp` might provide some information, ie.:
[code]

[2022-06-06 00:29] georgealverson commented on #19826
Hi Tony,

Do you have a link for a debug build? I tried it myself, and as the SO link shows, the build dies in miniperl.

I have another box with a slightly older version of strawberry perl that shows no problems.

Best,
George

From: Tony Cook ***@***.***>
Sent: Sunday, June 5, 2022 8:24 PM
To: Perl/perl5 ***@***.***>
Cc: George Alverson ***@***.***>; Author ***@***.***>
Subject: Re: [Perl/perl5]

[2022-06-06 05:32] tonycoz commented on #19826
In your perl build directory (where miniperl failed), try running miniperl with the -Dp switch:
[code]

What's the value of COMSPEC?

If you run "cmd.exe" directly from whichever shell you're using, does it run "C:\WINDOWS\system32\cmd.exe" or some other cmd.exe?  (you can see the path to the executable in the details tab of Task Manager if you turn on the "Image path name" column.)

[2022-06-06 06:31] tonycoz commented on #6841
It might be partly connected to #12227.

Another problem is "long" is 32-bits for both 32 and 64-bit Win32: https://docs.microsoft.com/en-us/cpp/cpp/integer-limits?view=msvc-170

and sdbm.c casts it's page numbers to long when calculating the seek offsets, which limits the offsets to long.

[2022-06-06 08:54] Mingli-Yu commented on #19776
@xenu
Steps to reproduce:
1, mkdir -p /build/yocto && mkdir -p  /build/yocto/builds
2, cd  /build/yocto && git clone git://git.yoctoproject.org/poky
3, cd  /build/yocto/poky && git revert b4a12cfb9ce3e71b92dd82f50bb39fdc45560586
4, .  oe-init-build-env  ../builds/perl-build
5, bitbake perl

[2022-06-06 11:59] georgealverson commented on #19826
Dear Tony,

Here is the tail of the output of the miniperl execution (running from the x64 Native Tools shell) :

[code]

[2022-06-06 17:48] hvds opened #19829 "make -j6 minitest failing"
This failed three times in a row on blead@8fb00d81c6. The specific directory was different each time, but the general pattern was the same -  shortly before the first "Permission denied" error it tries to make miniperl a second time for no obvious reason.

This was my default debug build: `./Configure -des -Dcc=gcc -Dprefix=/opt/scratch -Doptimize='-g -O6' -DDEBUGGING -Dusedevel -Uversiononly`. `m

[2022-06-07 11:09] kloczek commented on #19566
Just started upgradig my perl.spec for 5.36.0 and found that now there is no build issues however loks like test suite is failing.
zlib-ng 2.0.6

[2022-06-07 11:12] kloczek commented on #19566
<details>

[code]
<details>

@nmoinvaz can you have look on that issue?

[2022-06-07 11:13] kloczek commented on #19566
<details>

[code]
</details>

@nmoinvaz can you have look on that issue?

[2022-06-07 12:35] iabyn commented on #19811
On Mon, Jun 06, 2022 at 02:57:44AM -0700, Paul Evans wrote:

How about making the paren optional, but newTRYCATCHOP() croaks if passed
a NULL paren block, e.g.

    catch_paren:      empty
               |      PERLY_PAREN_OPEN
                      ...
                      PERLY_PAREN_CLOSE

    barestmt:
                      ...
            |       TRY mblock[try] CATCH catch_paren

[2022-06-07 15:21] nmoinvaz commented on #19566
I don't know perl well enough.

[2022-06-07 17:38] nmoinvaz commented on #19566
It is likely the perl tests need to be updated. Often tests from other projects rely on a bit for bit identical deflate stream (to zlib) being produced and we don't make that guarantee. See also https://github.com/zlib-ng/zlib-ng/discussions/905.

[2022-06-07 17:53] nmoinvaz commented on #19566
[code]
[code]
`CINFO` should be checked that it is <= 7, unless you are explicitly specifying window size when creating the deflate stream. I don't see anywhere where it is setting the window size when creating the stream.

[2022-06-07 18:00] nmoinvaz commented on #19566
[code]
Because `CINFO` is different I suspect `FCHECK` is not what is expected either. It would be better to do `FCHECK` calculation manually to verify than to rely on fixed value.

[2022-06-07 21:21] jkeenan opened #19831 "make test_prep showing functions "not listed in embed.fnc""
As of the commit below:
[code]
... we're starting to get some output to STDERR during `make test_prep`:
[code]
@khwilliamson, can you take a look?

Thank you very much.
Jim Keenan

[2022-06-07 21:30] jkeenan commented on #19829
If you use either a different version of `gcc` or a different C compiler (`g++`, `clang`), can you reproduce the failures?

[2022-06-07 21:56] jkeenan commented on #19829
There does indeed appear to be a compiler-specific aspect to this problem.

On FreeBSD-12, I configured with a somewhat stripped-down version of your configuration invocation, using first `gcc`, then `clang` (version 10) of each.  While I got through `make minitest_prep` with `gcc`, I had failures with `make minitest` before getting to the actual tests.
[code]
First, some build-time warnings:
[cod

[2022-06-07 22:09] jkeenan commented on #19829
With `gcc`, with `-DDEBUGGING` but without optimization:
[code]
[code]

[2022-06-07 22:22] jkeenan commented on #19829
With `gcc` but without debugging or optimization, the output is similar to with debugging but without optimization:
[code]

[2022-06-07 22:31] jkeenan commented on #19829
Compiling with `g++` version 10 instead of `gcc`: `make minitest` ran smoothly and PASSed.

[2022-06-07 22:38] jkeenan commented on #19829
`gcc12` failed similarly to `gcc10` but with 908 `undefined reference` warnings.
[code]
[code]

[2022-06-07 22:50] jkeenan commented on #19829
However, notwithstanding the failure in `make minitest` above, when I then said `make -j6 test_prep`, that target completed without incident and `make -j6 test_harness` PASSed.

[2022-06-07 23:02] jkeenan commented on #19829
There appears to be a "test jobs" aspect to this problem in addition to the C-compiler problem.

With the following configuration on the same (FreeBSD-12) machine,
[code]
... if I then run `make minitest` without any `-j6` setting, the program reaches the test suite, which then PASSes.
[code]

[2022-06-07 23:16] jkeenan commented on #19829
This problem emerged somewhere in the 5.35 development cycle.  I compiled at the `v5.36.0` tag with `gcc12` (no debugging or optimization) and then called `make -j6 minitest` and got failures similar to that already reported.

However, I'm currently compiling and building at the `v5.34.1` tag and `make -j6 minitest` has completed successfully.

[2022-06-07 23:28] jkeenan commented on #19829
@hvds, in principle this should be bisectable, but I haven't been able to figure out the syntax for an invocation of `Porting/bisect.pl`.  Any ideas?

[2022-06-08 00:39] hvds commented on #19818
This has been solved in blead by merging #19819, does this need to be backported for users of perl < 5.38 to benefit from it, or can it be adressed via `ppport.h`?

[2022-06-08 03:15] hvds commented on #19829
I'll be busy with family stuff for a day or two, but I'll try a manual bisect when I have time - I don't have a clear failure mode for bisect.pl to detect.

I do recall that there were recent changes to the build process that I thought risked impacting parallel builds and appeared to gave me occasional failures on `make miniperl` or `make minitest_prep`, but I didn't report them since I couldn't d

[2022-06-08 03:17] hvds commented on #19829
[code]

[2022-06-08 03:21] hvds commented on #19829
This is potentially a symptom of the same underlying problem.

This is irrelevant, feel free to invoke with `-O3` instead.

[2022-06-08 03:23] hvds commented on #19829
I've no idea what this is, but I'm pretty sure it's unrelated.

[2022-06-08 03:27] hvds commented on #19829
Yes, I observed this in my OP ("`make minitest` also did not fail, which is less surprising").

[2022-06-08 14:29] leonerd commented on #19811
Thanks for the suggestion @iabyn; that turned out to be fairly simple to implement.

I now have a PR if you'd like to review it: https://github.com/Perl/perl5/pull/19838

[2022-06-08 21:27] cjg-cguevara opened #19842 "BBC: Blead Breaks Cpanel::JSON::XS"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.1.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Cpanel::JSON::XS

Please see http://matrix.cpantesters.org/?dist=Cpanel::JSON::XS

[Please do not change anything below this line]
--

[2022-06-08 22:30] hvds commented on #19842
This appears to be a result of 7008caa915, which removed the long-deprecated utf8n_to_uvuni:
[code]

I don't know when or why that function was deprecated, or what replaces it, so I don't know whether it's just down to Reini to fix this or whether we need to reconsider the removal. @khwilliamson?

[2022-06-08 23:33] #6841 closed

[2022-06-09 00:10] jkeenan commented on #16903
I believe this ticket can be closed.  @ikegami @tonycoz, is there any reason to keep it open?

[2022-06-09 00:14] tonycoz commented on #16903
You're right, closed.

[2022-06-09 00:14] #16903 closed

[2022-06-09 00:41] #19829 closed

[2022-06-09 01:29] jkeenan commented on #16160
This ticket should have been closed in February 2020 when the following commit was applied:
[code]
Closing now.

[2022-06-09 01:29] #16160 closed

[2022-06-09 01:36] jkeenan commented on #19772
No objections heard; closing.

[2022-06-09 01:36] #19772 closed

[2022-06-09 01:42] jkeenan commented on #19452
CPANtesters results good, e.g., http://matrix.cpantesters.org/?dist=DBIx-Class%200.082843;perl=5.37.1;reports=1

Closing.

[2022-06-09 01:42] #19452 closed

[2022-06-09 01:59] Mingli-Yu commented on #19776
@xenu
Do you pass "-Og" to your CFLAGS when use gcc-12 to compile?

[2022-06-09 13:56] jkeenan commented on #19791
In order to evaluate [Tony's p.r.](https://github.com/Perl/perl5/pull/19843) on this, I'm trying to wrap my head around the original complaint here.  Is the misdetection found **solely** on `powerpc`, `riscv` and `arm` architectures?  Is there any current problem with `amd64` architectures?

Here, for example, is output from the FreeBSD machine I use every day:
[code]
Is there any thing wrong with

[2022-06-09 20:34] KES777 commented on #18744
https://perldoc.perl.org/5.36.0/perldelta#iterating-over-multiple-values-at-a-time-(experimental)

[2022-06-10 01:01] khwilliamson commented on #19842
Reini should fix it.

It looks like its replacement was added in 5.7.1, and is ported via ppport.h to 5.6.1
Here's the pod for the deleted function:

/*
=for apidoc utf8n_to_uvuni

Instead use L</utf8_to_uvchr_buf>, or rarely, L</utf8n_to_uvchr>.

This function was useful for code that wanted to handle both EBCDIC and
ASCII platforms with Unicode properties, but starting in Perl v5.20, the
distinc

[2022-06-10 07:38] robrwo commented on #18754
I get the error in 5.34.0. I am trying to write a simple script to replicate it.

[2022-06-10 08:33] xzyangNB opened #19849 "Test case 510_ ping_ udp. Ttest failed"
HI All；
I have a question. When I compile Perl locally, I run 510 in test_ ping_ udp. T this use case fails. I want to find a way to output some prompt information when I run test. What should I do?

Here is my execution process

[root@dc5078135d41 perl-5.34.0]# ./perl -v

This is perl 5, version 34, subversion 0 (v5.34.0) built for loongarch64-linux-thread-multi

Copyright 1987-2021, Larry Wall

[2022-06-10 08:33] xzyangNB commented on #19849
At the beginning, I unzipped the source code, and then executed  make   make install make test

When I find that make test fails, I execute the failed use case separately, but no error message is output

[2022-06-10 13:38] Corion commented on #19849
The test tries to ping `127.0.0.1` :

[code]

Is your system maybe only on IPv6 ? Can you execute `ping 127.0.0.1` on your system?

[2022-06-10 13:40] xzyangNB commented on #19849
I can ping 127.0.0.1

[2022-06-10 17:14] khwilliamson commented on #19831
Fixed by 789738ed9c41fd6d8c4bb2608e31c156cfe55fff and d7facc808f155e75c17b5897933d29cf5052c5fd

[2022-06-10 17:14] #19831 closed

[2022-06-10 17:46] leonerd commented on #19842
I have copypasted the relevant summaries above into an upstream bug report - https://github.com/rurban/Cpanel-JSON-XS/issues/196

[2022-06-10 17:48] jkeenan commented on #19831
Confirmed. Thanks.

[2022-06-10 19:19] khwilliamson opened #19851 "Lots of ASAN errors"
**Description**

I ran clang-14, and it showed many many errors in our test suite.  These are the  call points.

breakbreakgv.c:871:24: runtime error: applying zero offset to null pointer
breakbreaksv.c:489:18: runtime error: applying zero offset to null pointer
breakgv.c:871:24: runtime error: applying zero offset to null pointer
breaksv.c:489:18: runtime error: applying zero offset to null point

[2022-06-10 20:07] PhilipGuenther opened #19852 "variable attributes rejected after sub with signature"
Module:

**Description**
Inside and immediately after a subroutine with a signature, the parser incorrectly rejects variable declarations with attributes with the diagnostic "Subroutine attributes must come before the signature"

**Steps to Reproduce**
[code]
[code]

In each case, uncommenting the "_workaround_perl_bug" line mitigates the problem, demonstrating the the issue is a parser flag not b

[2022-06-10 20:09] PhilipGuenther commented on #19852
Gah, just found issue #19253  <sigh>

[2022-06-10 20:10] #19852 closed

[2022-06-10 20:20] cjg-cguevara commented on #19842
Likely also affected:
http://matrix.cpantesters.org/?dist=JSON::DWIW
http://matrix.cpantesters.org/?dist=JSON::XS
http://matrix.cpantesters.org/?dist=Unicode::UTF8

[2022-06-10 23:16] Leont commented on #19851
Many (maybe all, I only checked a few) of the *"applying zero offset to null pointer"* errors seems to be about `#define GvCV(gv) (0+GvGP(gv)->gp_cv)`. I think the error is wrong, and so do many others, but the spec is vague.

[2022-06-11 01:51] jkeenan commented on #19851
Do we get these on earlier versions of clang?  (The latest I have is 12).

[2022-06-11 01:53] jkeenan commented on #19842
If we're getting failures on multiple CPAN modules with different maintainers, then perhaps we should re-think the breaking commit?  Or at least try to develop a patching strategy that these different maintainers could follow.

[2022-06-11 12:23] mat813 commented on #19791
On arm it seems like it is ok:

[code]

[2022-06-12 02:20] oldcoder47 commented on #19826
I have the same problem on all four of my machines, which run ActiveState Perl.  I tried installing Strawberyy Perl, but it had the same problem.  One of my machines is a Dell Precision running WinVer 1909 18363.1556 and ActiveState Perl 5.26.3.  Latest updates are KB5003169 May 03 and KB5003244 May 01.  The other 3 machines are HP Elite 8300 running Winver 21H2 19044.1706 and ActiveState Perl 5.2

[2022-06-12 10:23] georgealverson commented on #19826
One thing I have found by starting from a bare box is that the problem occurs when Malwarebytes is installed (and persists even after it is removed).

From: oldcoder47 ***@***.***>
Sent: Saturday, June 11, 2022 10:21 PM
To: Perl/perl5 ***@***.***>
Cc: George Alverson ***@***.***>; Author ***@***.***>
Subject: Re: [Perl/perl5] Backtick/qx operations fail under Windows (Issue #19826)

I have the sam

[2022-06-12 16:59] diekhans opened #19855 "perl spews warning about locale when LC_ALL not set"
**Description**

perl 5, version 34, subversion 1 (v5.34.1) built for x86_64-linux

[code]
It is legitimate and necessary to have LC_ALL unset if one wishes to use UTF-8 for
everything except sorting.

**Steps to Reproduce**
[code]

**Expected behavior**
No warning message

**Perl configuration**
[code]

[2022-06-12 19:20] khwilliamson commented on #19855
On 6/12/22 10:59, Mark Diekhans wrote:

Before I look further into this, I'm trying to understand your statement
just above.

Except for a few POSIX module functions, Perl effectively ignores the
locale except within the scope of a 'use locale' statement.  LC_ALL
should be irrelevant.

I'm unsure why it is giving this message without investigation, but I'm
trying to understand what you're trying t

[2022-06-12 19:54] diekhans commented on #19855
Hi Karl,

I am trying to run any Perl program without having it spew a
large number of warnings the obscure the details of the what
ever I am trying to do.

This happens when the perl interpert is invoked, even perl
--version.  Setting LC_ALL prevents this from happening, however
this causes other problems and should not be required.

     LC_ALL       Will override the setting of all other LC_* v

[2022-06-12 20:41] khwilliamson commented on #19855
On 6/12/22 13:54, Mark Diekhans wrote:

What happens if you don't set LC_ALL to anything.  On my machine,

LC_COLLATE=C ./perl -Ilib -MPOSIX -le 'print setlocale(LC_ALL)'

prints the configuration you expect.

If that isn't happening, a workaround may be to set the environment
variable BAD_LANG=0.
On my machine, unsetting LC_ALL still works; I'm guessing you have a
different underlying configurati

[2022-06-12 21:14] diekhans commented on #19855
LC_ALL is not set in my environment, which makes everything
work except the Perl warning

% echo @${LC_ALL}@
@@

% LC_COLLATE=C perl -Ilib -MPOSIX -le 'print setlocale(LC_ALL)'
perl: warning: Setting locale failed.
perl: warning: Please check that your locale settings:
        LANGUAGE = "en_US.UTF-8",
        LC_ALL = (unset),
        LC_COLLATE = "C",
        LC_PAPER = ***@***.***",
        LC_

[2022-06-13 05:15] tonycoz opened #19857 "perl: op.c:14769: Perl_find_lexical_cv: Assertion `PARENT_PAD_INDEX(name)' failed."
Module:

**Description**

Running this code:
[code]

in a DEBUGGING build throws:

[code]

Backtrace:
[code]

**Steps to Reproduce**

**Expected behavior**

No assertion.

**Perl configuration**

[code]

[2022-06-13 08:17] xzyangNB commented on #19849
I can execute ping 127.0.0.1 on my system.  I suspect it is a problem with some configuration of my system, but I can't locate it, so I would like to ask you how to output some information during the test process for analysis.

[2022-06-13 13:15] pkubaj commented on #19791
It looks ok, because you check on arm64. On `arm64`, `hw.machine` is `arm64`, but the `hw.machine_arch` is `aarch64`, which is what should be displayed. It's just that both mean the same on 64-bit ARM.
If you check on 32-bits, `arm` will be displayed in place of `armv6` or `armv7`. While the more detailed naming would be preferred, having it simply display `arm` is also ok (just not as good as mor

[2022-06-13 14:02] fullautodotcom opened #19859 "CPAN with Perl 5.36 Complains of Expired Certificate"
ERROR: cannot verify cpan.org's certificate, issued by ‘/C=US/O=Let's Encrypt/CN=R3’:
  Issued certificate has expired.
To connect to cpan.org insecurely, use `--no-check-certificate'.

# cpan
Loading internal logger. Log::Log4perl recommended for better logging
Terminal does not support AddHistory.

To fix that, maybe try>  install Term::ReadLine::Perl

cpan shell -- CPAN exploration and modules

[2022-06-13 15:02] Leont commented on #19859
You need to update your platform's certificate database (or wherever wget gets it from). The old LetsEncrypt certificate expired.

[2022-06-13 15:02] #19859 closed

[2022-06-13 15:04] Leont commented on #19849
Probably, your firewall is setup too strict for this test to succeed.

[2022-06-13 19:26] jkahrman opened #19860 "File::Find doesn't properly handle absolute search paths using Windows drive letters when "follow" is set"
Module: File::Find

**Description**

File::Find doesn't properly handle absolute search paths using drive letters when "follow" is set unless the search path is the current working directory ($File::Find::current_dir).

Prior to commit 0d00729c03a1f68e1b51e986d1ce9000b0e3d301 (v1.38, Perl 5.34), the values passed to follow and follow_fast were ignored on Windows. That disabling code was removed in

[2022-06-14 00:30] tonycoz commented on #19791
If you can supply a better PR that provides better results I'm more than happy to drop this one.

I don't have ready access to FreeBSD on anything but an amd64 VM, and the painfully slow powerpc emulation.

[2022-06-14 01:40] oldcoder47 commented on #19826
Great find! I turned off my MalwareBytes protection and re-ran a test case and found that turning off MB at the GUI level resolved at least one of the issues I was having -- Namely the created of spurious files. I will come up with a simpler test case that I can send to MB and let everyone know.

Sent with [Proton Mail](https://proton.me/) secure email.

------- Original Message -------
On Sunday,

[2022-06-14 01:56] oldcoder47 commented on #19826
I see someone else reported this to the MalwareBytes forum:
https://forums.malwarebytes.com/topic/287533-strawberry-perl-being-blocked/
but that person evidently just uninstalled MB and did not want to get involved in troubleshooting, so MB will probably not act on that report. The reporter stated that he/she could just use cygwin Perl.

Sent with [Proton Mail](https://proton.me/) secure email.

-

[2022-06-14 02:38] xzyangNB commented on #19849
In fact, I have turned off firewall.

[2022-06-14 03:47] georgealverson commented on #19826
I created a trouble ticket at MWB on 2022-06-11. Haven't heard back from them yet.

[2022-06-14 04:22] oldcoder47 commented on #19826
I did not see your ticket.  I created my own ticket 3894501.  I got an ACK a few minutes later, so maybe they lost yours.

[2022-06-14 06:36] xzyangNB commented on #19849
I try to debug this test case. The information is as follows,
[root@localhost perl-5.26.3]# ./perl -T -Ilib -d dist/Net-Ping/t/510_ping_udp.t

Loading DB routines from perl5db.pl version 1.51
Editor support available.

Enter h or 'h h' for help, or 'man perldebug' for more help.

1..2
ok 1 - use Net::Ping;
Test2::API::CODE(0xaaaf90a6e0)(lib/Test2/API.pm:28):
28:         INIT { eval 'END { test2_se

[2022-06-14 09:45] #19811 closed

[2022-06-14 17:16] georgealverson commented on #19826
Using the Malwarebytes beta (4.5.10.200) version fixes this problem, so far. One can never tell with a beta, but I'm using it for now.

Still interested to learn how the problem persisted even if I deinstalled MWB.

[2022-06-14 17:16] #19826 closed

[2022-06-15 06:37] tonycoz commented on #19851
By the C standard it's undefined behaviour:

operand and the result point to elements of the same array object, or one past the last
element of the array object, the evaluation shall not produce an overflow; otherwise, the
behavior is undefined.

and a NULL pointer doesn't point to anything.

In GvCV() add the zero to make the result a non-lvalue, maybe a cast would be better.

[2022-06-15 09:13] pmqs commented on #19566
I have a change in progress to add support for zlib-ng running in either native or compat mode that is (almost) working on my dev box.

I'm using ticket https://github.com/pmqs/Compress-Raw-Zlib/issues/9 to track this work.

[2022-06-16 00:51] khwilliamson opened #19867 "Need to skip AUTHOR testing for github CI sanity"
A first time author will not have their workflow run on GH without approval.  If someone does approve it, it will automatically fail because the person isn't in the AUTHORS file.

So their patch can't be tested without them being an accepted author.  This doesn't make sense.  The obvious solution is to skip AUTHOR testing in such cases.

[2022-06-16 01:39] cjg-cguevara opened #19869 "BBC: Blead Breaks Devel::Cover"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.1.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Devel::Cover

Please see http://matrix.cpantesters.org/?dist=Devel::Cover

[Please do not change anything below this line]
----------

[2022-06-16 14:59] hvds commented on #19478
#19820 is merged as an experimental fix for this; leaving the ticket open for now to see what fallout me might get.

[2022-06-16 15:18] hvds commented on #19869
I note that it fails in `t/e2e/aoverload_bool.t`, which may be a clue; I took a quick look, but the test process looks pretty opaque.

The build warns:
[code]

So I think we should leave it to @pjcj for initial investigation.

[2022-06-17 13:54] dur-randir opened #19874 "UBsan failures on 5.36"
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.42 running under perl 5.36.0.

-----------------------------------------------------------------
[Please describe your issue here]

When running test suite for a perl 5.36.0 built with ubsan, the following tests fail:

run/fresh_perl.t with
[code]
and re/pat.t with
[code]

[Please do not change anyt

[2022-06-17 15:50] hvds commented on #19874
I think this classes as "you get what you asked for": the quoted line sets `$cusp` to MIN_INT, the test then looks at `$cusp - 1` in the context of `use integer`.

[code]
We should be protecting against that with something like this:
[code]

@demerphq do you know of any additional considerations for the *ACCEPT case here?

[2022-06-17 17:58] dur-randir commented on #19874
Well, UB is UB. If the test checks that the compiler treats this particular UB in a predictable way, than I'll just add there
[code]

[2022-06-17 18:45] DabeDotCom commented on #19188
FWIW, I was just bitten by this, too...

[2022-06-17 22:17] xenu commented on #19874
I think the real problem is that Configure [disables](https://github.com/Perl/perl5/blob/491d7f25f50e7e1c26ca3e9793ce5a6df78c4163/Configure#L4664) `-fwrapv` while compiling with `-fsanitize=undefined`.

[2022-06-18 08:40] dur-randir commented on #19874
Yes, manually adding -fwrapv to command line config args made all tests pass.

[2022-06-18 22:50] khwilliamson commented on #19842
You are right about number 1; wrong on 2.  They both operate on UTF-EBCDIC on EBCDIC platforms, and both on UTF-8 on ASCIIish ones.  The difference is that uvchr knows, for example,  that 65 should map to 193.  (ASCII 'A' to EBCDIC 'A').  uvuni does no mapping

My presumption has been that when uvchr was introduced in 5.7.1, that new code was supposed to use it, and uvuni was kept around for backw

[2022-06-20 10:50] iabyn commented on #19680
Fixed by 5fd637ce8c4db075c0668d9f9c806f6712cd3c7f,
within the branch the branch 2c8b8b71354d7e18c0d1992c4e3aca061831a93a [MERGE] exception issues

[2022-06-20 10:50] #19680 closed

[2022-06-21 07:50] sisyphus commented on #19824
In testing today's release of 5.37.1, I've tried to get a better handle on what works and what doesn't when building with gcc-12.1.0, runtime version 10.
The 16-byte alignment in win32/vmem.h seems to be essential for 64-bit builds of 5.37.1, but not needed for 32-bit builds.
For 64 bit builds, if I want to avoid crashes during the running of the test suite, then I need to additionally do one of 3

[2022-06-21 12:02] jkeenan opened #19877 "locale.c: new build-time warning"
When I compile perl (on FreeBSD-12) in my customary manner (threaded) using either `clang10` or `clang12` as the C-compiler, the following warning is generated:
[code]
The relevant part of the source code:
[code]
The above was added to the source code in this commit:
[code]
@khwilliamson, can you take a look?

[2022-06-21 13:17] jkeenan commented on #19877
In a `-DDEBUGGING` build we get a little bit more error output:
[code]

[2022-06-21 16:20] khwilliamson commented on #19877
On 6/21/22 07:18, James E Keenan wrote:

Future commits will use that function.  I could pull it out for now if
the messages are bothersome enough

[2022-06-21 18:05] jkeenan commented on #19877
No problem; just ping me when you get back to this so that I can confirm that the warning has been cleared.

[2022-06-21 23:29] sigzero opened #19880 "perldelta for 5.37.1"
**Where**
In the perldata for 5.37.1 is says in the second sentence:

If you are upgrading from an earlier release such as 5.36.0, first read [perl5370delta](https://metacpan.org/pod/perl5370delta), which describes differences between 5.36.0 and 5.37.0.

**Description**
perl5730delta is a bad link. That file does not exist.

[2022-06-21 23:49] Grinnz commented on #19880
It does exist. It's just not indexed on metacpan because no stable releases of Perl have included the file. It's a metacpan bug that the interlink does not link to the same unindexed distribution (https://github.com/metacpan/metacpan-web/issues/2681). Use perldoc.perl.org to see the proper installed versions of documentation with interlinks: https://perldoc.perl.org/5.37.1/perldelta

[2022-06-21 23:49] #19880 closed

[2022-06-22 00:56] tonycoz commented on #19857
I expect the problem is with the lexical import mechanism, rather than ceil() itself:
[code]

[2022-06-22 02:13] sisyphus commented on #19824
The test suite crashes occur in test files that don't use Test::More.
But all of those files do require t/test.pl - which claims to provide "most of Test::More functionality without the fuss".
For the record, here's a list of the test files which I found to be prone to the crashing (in perl-5.37.1) :
t/run/switches.t
t/op/heredoc.t
t/lib/croak.t
t/win32/popen.t
lib/charnames.t
lib/strict.t

t/win3

[2022-06-22 04:26] tonycoz commented on #19851
This is more complex to fix:
[code]

The first pass starts with arg_buf and hence arg == NULL, and increments arg as it counts up the space needed for the second pass.

[2022-06-22 08:14] andk commented on #19842
utf8n_to_uvuni is not mentioned in perl5371delta

[2022-06-22 15:48] FGasper opened #19882 "select() reacts improperly to UTF8-flagged strings"
**Description**
Perl’s `select()` has the “Unicode bug”.

The impact is low, but the fix is trivial.

The potential for breakage seems low enough that this one is OK to fix.

**Steps to Reproduce**
[code]

**Expected behavior**
The `strace` output of the 2nd one-liner should match that of the first one.

**Perl configuration**
This happens in blead as of now.

This fixes it:
[code]

[2022-06-22 20:50] andk opened #19883 "BBC: 92ec2fce1aa causes test failures in Test-DiagINC and others"
**Description**

Sample fail report: http://www.cpantesters.org/cpan/report/6cf3afc2-f1bb-11ec-a0fb-53d7b6bd8324

My bisect leads to:

[code]

**Steps to Reproduce**

cpan -i  DAGOLDEN/Test-DiagINC-0.008.tar.gz

**Expected behavior**

test should pass and module should get installed

**Perl configuration**

[code]

[2022-06-22 21:12] andk commented on #19842
Also affected: https://cpan.metacpan.org/authors/id/D/DF/DFARRELL/URI-Encode-XS-0.11.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/130f58e8-f202-11ec-9014-eacfbebd8324
At the time of this writing, the matrix http://matrix.cpantesters.org/?dist=URI-Encode-XS+0.11 did not yet link to this fail report.
Greets to @dnmfarrell, you may want to take note.

[2022-06-22 21:26] andk commented on #19842
Also affected: JKUTEJ/XML-Char-0.04.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/be5af526-f26c-11ec-89c7-0668d637e479
At the time of this writing, the matrix http://matrix.cpantesters.org/?dist=XML-Char+0.04 did not yet link to this fail report.
Greets to @jozef , you may want to take note.

[2022-06-23 00:46] tonycoz commented on #19857
Worse, it happens with plain lexical subs too:
[code]

[2022-06-23 07:26] poti1 opened #19885 "[doc]"
**Where**
perlreguts

**Description**
"One, the regexp structure described in [perlreapi](https://perldoc.perl.org/perlreapi) is populated by the engine currently being. used and"

Remove the period after "being".

[2022-06-23 07:44] rwp0 commented on #19885
@poti1 can you submit a PR on it?

[2022-06-23 08:16] poti1 commented on #19885
I'm new to Perl Pars. Dies one need permission to push?

[code]

[2022-06-23 11:27] rwp0 commented on #19885
You need to fork the repository, make changes, push to your local repository, and then create a pull request.

You can also do it all-at-once via GitHub by clicking on the Edit button (with a pencil icon) on the file:

https://github.com/Perl/perl5/blob/blead/pod/perlguts.pod

[2022-06-23 11:41] jkeenan commented on #19885
There's no need to send a first-time contributor to github bootcamp.  Fixed in commit fc5fd214d7.

@poti1, thanks for calling our attention to this.  Closing.

[2022-06-23 11:41] #19885 closed

[2022-06-23 12:27] poti1 commented on #19885
I guess `perlreguts` is not read too often: otherwise someone else would spot the typo much earlier.

[2022-06-23 19:37] andk commented on #19842
Also affected: SADAHIRO/Lingua-AR-MacArabic-0.20.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/9c8dcfe2-f283-11ec-a091-62f6d737e479
Matrix: http://matrix.cpantesters.org/?dist=Lingua-AR-MacArabic
I'll open a ticket on RT to notify SADAHIRO

[2022-06-25 02:16] jkeenan opened #19890 "Commit 996e6b9e17 breaks build with -Accflags="-DNO_LOCALE_NUMERIC""
When I compile with this `./Configure` switch:
[code]
... compilation fails on both OpenBSD and FreeBSD (using `clang10` on both OSes) at this point:
[code]
The above was observed on OpenBSD-6.9 at commit 7b92fe48f0def2bea3db4aa70f352ccf9d83b43a.  I have reproduced it on FreeBSD-12 as well.  I originally spotted this problem in this smoke-test report:  https://perl5.test-smoke.org/report/5019634.

[2022-06-25 02:46] andk commented on #19842
Also affected: SADAHIRO/Unicode-Transform-0.51.tar.gz
http://www.cpantesters.org/cpan/report/54089bbe-f411-11ec-862e-73fe3cc9ca3c

[2022-06-25 07:09] andk commented on #19842
Also affected: SADAHIRO/Lingua-KO-MacKorean-0.20.tar.gz
http://www.cpantesters.org/cpan/report/49078db0-f443-11ec-9445-dae741c9ca3c

[2022-06-25 08:34] Yaribz opened #19892 "setsockopt can wrongly detect OPTVAL parameter type when constants are used"
**Description**

As written in `setsockopt` documentation:

So if a numeric constant is declared like this:

    use constant { RCVBUF_SIZE => 262144 };

And then `setsockopt` is called like this:

    setsockopt($sock,SOL_SOCKET,SO_RCVBUF,RCVBUF_SIZE);

Usually, it works fine....

However, if anywhere in some unrelated code the `RCVBUF_SIZE` constant is used to produce a string, even if this code

[2022-06-25 10:27] xenu commented on #19892
This is terrible but I'm not sure what we can do about it. Perhaps we should introduce a new feature flag that would make getsockopt() always take an integer.

[2022-06-25 10:35] tonycoz commented on #19892
Duplicates #18642.  The user is calling the op directly here, but they have the same underlying cause.

Given the changes in 5.36 we should be able to distinguish between the string and number forms now.  I'm only worried it may break working code.

[2022-06-26 01:31] khwilliamson commented on #19842
I have reverted this in f847c0b367a25dc6028136ddc7085a7301da7a82.  Distributions should convert away from using this function, but the drop-in replacement remains cumbersome to use, and there really isn't yet a good API for this functionality.  I will investigate and propose some replacements

[2022-06-26 22:02] jkeenan opened #19894 "DragonflyBSD: t/op/magic.t has test failures since v5.35.9"
Somewhere between `v5.35.8-29-g4ccd1515c8` and `v5.35.9-114-gc3c9d6b15f` -- approximately February 2022 -- two tests (202-203) in `t/op/magic.t` began to fail in blead in DragonflyBSD -- and they continue to fail to this day.

See these smoke-test reports:
PASS https://perl5.test-smoke.org/report/5015286
FAIL https://perl5.test-smoke.org/report/5016701

We only have one person submitting smoke-tes

[2022-06-27 01:31] tonycoz commented on #19894
The log provides more information:
[code]

I don't see any changes in S_set_dollarzero() over that period.

The calling code to that was changed in 2d3b3561a39bb17fd6003fb262f52b3bc800770e but that looks fairly safe for the test that's failing.

[2022-06-27 05:10] tonycoz commented on #19894
Bisected to 2d3b3561a39bb17fd6003fb262f52b3bc800770e.

I wasn't able to make a short reproducer, but moving the tests introduced in 2d3b3561 after the existing $0 tests allows the failing (and all non-TODO) tests to pass.

[2022-06-27 05:47] tonycoz commented on #19867
One option might be to modify `authors.t` to skip on a pull_request event.

Note that if they do test the change locally they'll see the test failure anyway, and they'll see the failure on push to their fork.

[2022-06-27 06:38] haarg commented on #19867
Wouldn't this also result in blead failing CI if a PR was merged without adding the author?

[2022-06-27 12:43] #12082 closed

[2022-06-27 14:16] Leont commented on #19867
Yeahm wgat tony and haarg said

[2022-06-27 14:36] khwilliamson commented on #19890
Fixed by [6a7aca8](https://github.com/Perl/perl5/commit/6a7aca81ca553c1c29a8288d196211f1b7712c50)

[2022-06-27 14:36] #19890 closed

[2022-06-27 15:45] leonerd commented on #19877
I don't think this is clang-specific. I get the same warning from plain ol' gcc on Linux.

[2022-06-27 21:20] jkeenan commented on #19877
Confirmed.
[code]

[2022-06-28 00:23] tonycoz commented on #19894
https://github.com/Perl/perl5/tree/smoke-me/tonyc/19894-dflybsd-workaround

[2022-06-28 00:44] jkeenan commented on #19894
@cjg-cguevara, can you give this branch a spin on your DragonflyBSD smoker?  Thanks.

[2022-06-28 00:50] jkeenan commented on #19728
@nwc10, @khwilliamson, Do we have a branch that holds that earlier work?

[2022-06-28 01:10] jkeenan opened #19897 "7008caa915 breaks XML::Char, Data::Dumper::Limited"
_[Two BBCs from the same commit; will report each in its own post, but same GH issue.]_

CPAN distribution XML-Char is currently failing tests against blead.  While problems with this distro were reported in https://github.com/Perl/perl5/issues/19842#issuecomment-1163615743, the [reversion](https://github.com/Perl/perl5/commit/f847c0b367a25dc6028136ddc7085a7301da7a82) which enabled Cpanel-JSON-XS

[2022-06-28 01:12] jkeenan commented on #19897
CPAN distribution Data-Dumper-Limited is currently failing tests against blead.  While problems with this distro were reported in https://github.com/Perl/perl5/issues/19842#issuecomment-1162784805, the [reversion](https://github.com/Perl/perl5/commit/f847c0b367a25dc6028136ddc7085a7301da7a82) which enabled Cpanel-JSON-XS to once again PASS has not fixed failures in Data-Dumper-Limited.  Here's what

[2022-06-28 03:29] tonycoz commented on #19894
Looks like it's failing on -Duseshrplib builds.

[2022-06-28 06:46] dur-randir commented on #19874
But how does this coincide with the intentions of the first failing test, which deliberately tests for UB?

[2022-06-28 09:55] sisyphus commented on #19824
@yjh-styx I think that a PR with the fix to win32/vmem.h should be presented now.
If we sit around waiting for someone else to run with it, we might be waiting for a very long time ;-)

We've already established that there's a bit more to it than just amending win32/vmem.h, but those additional points (namely optimization level and whether we want debugging or unthreaded or threaded) can already b

[2022-06-28 11:31] jkeenan commented on #19894
I don't see that in smoke-test results.  (In fact, I don't *yet* see any results for this smoke-me branch.  Where are you seeing that?

[2022-06-28 11:32] jkeenan commented on #19894
Correction: I don't yet see any results for this branch run on Dragonfly BSD.

[2022-06-28 13:06] leonerd opened #19899 "[EXPERIMENT] `builtin` namespace"
The `builtin` namespace was first released in Perl v5.36 as an experimental feature. This issue tracks its progress toward the end of its experimental phase.

The module itself is considered experimental, as is additionally every individual function that it shipped with. Those functions are:

    true false is_bool
    weaken unweaken is_weak
    blessed refaddr reftype
    created_as_string creat

[2022-06-28 13:12] leonerd commented on #19899
Additional abilities that would need adding before deëxperimentalizing:

 - [ ] builtin bundles - a.la. `use builtin :v5.37`
 - [ ] integration with `use VERSION` - `use v5.37` to imply `use builtin :v5.37`

[2022-06-28 13:24] leonerd commented on #18760
Another year, another release. Perl v5.36 retains the experimental status of this feature.

Newly added is the ability to do `try ... catch ... finally { ... }` blocks.

Still missing is

 * Typed dispatch (by comparing maybe object classes or regexp matches)
 * Consideration of whether core perl exceptions ought to become objects in the `catch` variable, and thus have more typing information or o

[2022-06-28 13:26] leonerd opened #19900 "[EXPERIMENT] `defer` blocks"
`defer {...}` was first released in Perl v5.36 as an experimental feature. This issue tracks its progress toward the end of its experimental phase.

[2022-06-28 13:27] leonerd commented on #19900
There are currently no planned extensions to this experiment. It is currently simply waiting out its bug-discovery period.

[2022-06-28 13:30] leonerd commented on #17949
`defer {...}` was first released in Perl v5.36 as an experimental feature.

There are currently no planned extensions to this experiment. It is now currently waiting out its bug-discovery period.

[2022-06-28 13:31] leonerd commented on #19900
Huh, there was already a ticket for these that I somehow failed to notice. #17949

[2022-06-28 13:32] leonerd commented on #19764
The module itself is considered experimental, as is additionally every individual function that it shipped with. Those functions are:

    true false is_bool
    weaken unweaken is_weak
    blessed refaddr reftype
    created_as_string created_as_number
    ceil floor
    trim
    indexed

No individual function can be made non-experimental before the builtin namespace mechanism itself has been. H

[2022-06-28 13:33] leonerd commented on #19764
Additional abilities that would need adding before deëxperimentalizing:

 - [ ] builtin bundles - a.la. `use builtin ':v5.37'`
 - [ ] integration with `use VERSION` - `use v5.37` to imply `use builtin ':v5.37'`

[2022-06-28 13:33] leonerd commented on #19899
Huh; there's already a ticket for this. #19764

[2022-06-28 13:33] #19899 closed

[2022-06-28 18:44] khwilliamson commented on #19867
Can we make it so that failing any porting test doesn't stop the rest of the tests from running?  Yes we know that this has to be fixed before merging, but at least we'd find out soon what else might be wrong.

Just now we had a failure because a version didn't get bumped, and the rest of the tests didn't run.

[2022-06-28 20:10] EvanCarroll opened #19902 "[doc] feature/experimental/strict/use v: support for third party module enabling."
There are a few pragmas that change parsing semantics in perl,

* `use strict;`
* `use feature 'whatever';`
* `use experimental 'whatever';`

And by extension,

 * `use v5.XX`

And generally, it is also understood that

[code]

Is the same as,

[code]

But is it true that in the above case, for `strict` `feature` and `experimental` there is support for third party modules enabling these pragmas in

[2022-06-28 20:52] Grinnz commented on #19902
Yes, you just `strict->import;`. This enables it in the caller's scope (not namespace, as these pragmas do not affect the namespace). There's no way to do with for `use VERSION` to my knowledge. But I have no idea what this has to do with static analysis that is required not to run the code.

[2022-06-28 20:53] Grinnz commented on #19902
Closing as this is more of a discussion topic than an issue.

[2022-06-28 20:53] #19902 closed

[2022-06-28 21:14] EvanCarroll commented on #19902
It's not documented. This is a documentation request.

[2022-06-28 21:31] Grinnz commented on #19902
If anything, I would say the "import" mechanism is not sufficiently centrally documented.

[2022-06-29 00:51] tonycoz commented on #19874
It tests for 2s complement behaviour, which we can get for anything but division (which includes right-shift) by performing the operation on unsigned values instead.  Something like:
[code]
prevents the signed integer overflow UB for that particular test.

Perl assumes 2s complement behaviour elsewhere (try `git grep '2s complement'`) so this is safe.

[2022-06-29 03:02] tonycoz commented on #19894
I'm looking at the github CI results, eg. https://github.com/Perl/perl5/runs/7083910270?check_suite_focus=true

[2022-06-29 09:22] #19900 closed

[2022-06-29 11:18] haarg commented on #19867
That definitely seems worth changing. The version and author tests shouldn't prevent the rest of the tests from running. Ideally, they also would only show up as failures on a single action, and not any of the later checks.

[2022-06-29 11:32] haarg commented on #19883
dagolden/Test-DiagINC#9

Leont/devel-findperl#4

[2022-06-29 12:42] jkeenan commented on #19894
@tonycoz, I think we have a bigger problem here.  I'm getting problems with `-Duseshrplib` even in blead:
On Linux:
[code]
Configure without `-Duseshrplib`:
[code]

On FreeBSD-12:
[code]
I know very little about `-Duseshrplib` so I can't yet say what's going on here.

[2022-06-29 13:26] jkeenan commented on #19894
So, having just now read `perldoc INSTALL`, I realize that I know even less about `-Duseshrplib` than I thought I did.

Once I precede configuration with `LD_LIBRARY_PATH=`pwd`:$LD_LIBRARY_PATH; export LD_LIBRARY_PATH`, on Linux, if I configure with `-Duseshrplib` in @tonycoz's branch, I can reproduce the failues in `t/op/magic.t` reported in https://github.com/Perl/perl5/runs/7083910270?check_sui

[2022-06-29 15:00] tonycoz commented on #19894
For your `-Duseshrplib` perl to run (outside of `make test`, which does the right thing) you'll need to set the equivalent of `LD_LIBRARY_PATH` to run your newly built perl.  This isn't a problem in blead.  I expect my change broke a relative path being used to find libperl.so, I'll take another look ~~tomorrow~~ later today (it's 1am here).

[2022-06-29 15:47] djerius opened #19904 "[doc] Order of application of PERL5OPT relative to command line options is not documented"
**Where**
perlrun

**Description**
PERL5OPT is documented as

[code]

but doesn't indicate the order relative to command line arguments in which they are applied.  For some reason I assumed that they are applied *before* command line arguments, but it appears they are applied *after*.

In the following contrived example, if I install `Data::Hive` into relative directory `local`, which is not in Pe

[2022-06-29 16:56] Grinnz commented on #19904
This actually is documented: https://perldoc.perl.org/perlrun#ORDER-OF-APPLICATION

[2022-06-29 16:56] #19904 closed

[2022-06-29 16:57] Grinnz commented on #19904
Specifically: `After normal processing of -M switches from the command line, all the -M switches in PERL5OPT are extracted. They are processed from left to right, i.e. the same as those on the command line.`

[2022-06-29 17:06] djerius commented on #19904
Ooops. I'm running 5.28 in production, which didn't have that documentation.  My mistake.

[2022-06-30 00:47] zmughal opened #19906 "Data::Dumper feature request: Flag to use hex escapes for quoted strings instead of octal"
Module: Data::Dumper

**Description**

Currently the `Useqq` flag / `qquote` function of `Data::Dumper` only uses
`\x`-style hex escapes on non-ASCII codepoints and octal for others. Of note,
this means that control characters (`/[\x00-\x1F]/`) are represented in octal.

It might be useful to have a flag to prefer hex escapes over octal escapes for these
non-printables.

**Steps to Reproduce**

[c

[2022-06-30 01:12] tonycoz commented on #19894
Note that my change isn't a *fix* - it's a workaround, I expect it will be better to TODO these tests on DragonflyBSD.

I've reproduced this from straight C code, and opened https://bugs.dragonflybsd.org/issues/3319

I'll work on a better patch, probably skipping the Unicode $0 tests on DragonflyBSD

[2022-06-30 01:29] saito-ta opened #19907 "s/// with empty pattern and non-constant replacement misbehavior"
**Description**

When an empty pattern and a non-constant replacement are specified in s/// op,
e.g. `s//$&/`,
the actual pattern seems not updated in the second run of the op.

**Steps to Reproduce**

Code:
[code]
Output:
[code]

**Expected behavior**

Expected output:
[code]

Please compare to another code and its output as shown below in which replacement is a constant string:
[code]
Output:
[c

[2022-06-30 01:54] jkeenan commented on #19894
On 6/29/22 21:12, Tony Cook wrote:

Thanks.  What I had hoped to do today -- and might get to tomorrow --
was to create a smoke-me branch that reduced t/op/magic.t to just the
two failing unit tests.  I hope that would enable us to see why they
were failing as of the commit you previously cited and only on this one
platform.

[2022-06-30 02:01] tonycoz commented on #19894
Changing `t/op/magic.t` to just the two failing tests would pass.

It seems to be all the calls to setproctitle() that cause the problem, commenting out any of the active setproctitle() calls in the C reproducer in the upstream bug stops the change in behaviour.

[2022-06-30 02:06] tonycoz commented on #19894
I've pushed https://github.com/Perl/perl5/tree/smoke-me/tonyc/19894-skip-unicode-dollarzero

[2022-06-30 02:55] hvds commented on #19907
Confirmed; it fails in the same way at least as far back as v5.8.9.

I'll take a look tomorrow.

[2022-06-30 13:46] jkeenan opened #19909 "Commit 1ef9039bcc breaks build on NetBSD"
Commit 1ef9039bcc appears to have broken the build on NetBSD.

I am inferring this from examination of NetBSD smoke-test results at [perl5.test-smoke.org](https://perl5.test-smoke.org/search?selected_osnm=netbsd&report_osnm=freebsd&selected_perl=all).  Note that blead was PASSing at `v5.37.1-39-g59ead93c94`, but that a branch at `v5.37.1-41-gad1bb8a058` -- only 2 commits later -- is FAILing during

[2022-06-30 19:20] KES777 opened #19910 "Experimental shift on scalar is now forbidden at ..."
**Description**
[code]
`keys` returns list, `shift` should not blame that it is working on scalar:
[code]

**Steps to Reproduce**
[code]

**Expected behavior**
Expect that some random key is extracted from hash

**Perl configuration**
[code]

[2022-06-30 22:30] jkeenan commented on #19909
This branch is failing somewhat similarly on NetBSD:
http://perl.develop-help.com/?b=smoke-me%2Fkhw-fix_inline

[2022-07-01 00:22] #19894 closed

[2022-07-01 00:35] richardleach commented on #19910
In list context, `keys %hash` does return a list of the hash keys, but in scalar context it returns the number of keys. `shift keys %$event;` has scalar context.

`[keys %hash]->[0]` seems like it should do what you want.

[2022-07-01 02:07] hvds commented on #19907
Ugh, I'm an idiot; fixed by `s/(s[01] = )(\w+)/$1!$2/g`. :(

This is all a red herring though: we never look at `PL_curpm` for the second subst op, because at that point `rx` itself is not the empty regexp but `/a/`.

[2022-07-01 08:44] KES777 commented on #19910
@richardleach Shift wants array: https://perldoc.perl.org/functions/shift
[code]

So `keys` is called at list context.

[2022-07-01 10:21] KES777 commented on #19910
Yeah, `list is not array`. Thank you to point that out.
Actually surprised that `shift LIST` is not allowed.

[2022-07-01 10:21] #19910 closed

[2022-07-01 19:12] jkeenan commented on #19909
With additional commits, the [smoke-me/khw-fix_inline](http://perl.develop-help.com/?b=smoke-me%2Fkhw-fix_inline) branch now is starting to PASS.   Will continue to monitor.

[2022-07-01 19:19] jkeenan commented on #19906
Am I correct in thinking that what you really intended to say here at the command-prompt was this?
[code]

[2022-07-01 19:25] jkeenan commented on #19882
[snip]>

@tonycoz, @iabyn Can you take a look at this ticket?

[2022-07-01 20:02] zmughal commented on #19906
I should have clarified that I was copying from a REPL prompt, but yes, that's how it would run from the shell.

[2022-07-01 20:06] jkeenan commented on #19188
@tonycoz, @iabyn, could you take a look at this ticket?

[2022-07-01 20:18] jkeenan commented on #19700
The problem reported in this ticket by @andk has been reported upstream.  So this ticket can be closed; doing so now.

[2022-07-01 20:18] #19700 closed

[2022-07-01 20:25] jkeenan commented on #19661
@twata1, this ticket has not had a response in two months.  But that's not surprising:  The only way we can reproduce this is to set up MariaDB, `mysqld` and run `gmake`.  That's really out of scope for the Perl core distribution's test suite.

Can you provide some other, simpler illustration of this problem?  (If not, I recommend closing this ticket.)

[2022-07-01 20:31] pali commented on #19661
@jkeenan You can reproduce it also without MariaDB/MySQL server `mysqld`. You just need client libraries and then run perl Makefile.PL and make. Windows machine is not needed too, you can reproduce it also on Linux.

[2022-07-01 20:35] jkeenan commented on #19661
@pali, thanks for looking into this.  Nonetheless, if MariaDB client libraries are required to demonstrate the problem, then it seems those libraries' issue tracker is the appropriate place to report the problem.

[2022-07-01 20:37] pali commented on #19661
So where is the issue tracker for `xsubpp` if not here? Could you instruct @twata1 where to report this issue? As was already stated in described I instructed @twata1 to move issue from module/library issue tracker to perl as this is not issue in module/library/MariaDB.

[2022-07-01 20:38] jkeenan commented on #19648
Is there someone familiar with `getpgrp` and `getpgid` who could evaluate this ticket and recommend improved documentation?

[2022-07-01 20:40] jkeenan commented on #16319
@hvds, can you provide an update on the status of this ticket?  What must be done to close it?

[2022-07-01 20:44] jkeenan commented on #16275
PSC:  can you put discussion of this ticket on your agenda?  Thanks.

[2022-07-01 20:47] leonerd commented on #16275
I've added a note for next week's agenda

[2022-07-01 20:56] jkeenan commented on #17125
The [matrix](https://perl5.test-smoke.org/matrix) isn't currently reporting anything for `t/uniq.t`.  CPANtesters isn't reporting any failures.  I can build with `-Duselongdouble` on FreeBSD and not get any test failures.  So this ticket appears closable.

@leonerd, can you review the [upstream ticket queue for Scalar-List-Utils](https://rt.cpan.org/Dist/Display.html?Queue=Scalar-List-Utils) and c

[2022-07-01 20:56] #17125 closed

[2022-07-01 21:08] jkeenan commented on #16500
I don't think that a case has been made for either a code change or a documentation change in `dist/I18N-LangTags/lib/I18N/LangTags/List.pm`.

@khwilliamson, can you comment?

[2022-07-01 21:27] choroba commented on #19661
The behaviour can be easily replicated without any external libraries.
[code]
Running `xsubpp` on this files generates the warning.

[2022-07-01 21:31] hvds commented on #16319
I can close this now, @khwilliamson merged the fix in #19646 on 2022-05-28.

[2022-07-01 21:31] #16319 closed

[2022-07-01 23:07] jkeenan commented on #19661
On 7/1/22 17:28, E. Choroba wrote:

Thanks; now we have something to work with!

[2022-07-02 02:37] jkeenan commented on #16595
The last two POD-formatting errors reported by running `podchecker` over `pod/perltoc.pod` in blead are:
[code]
These can be averted by using C<> rather than L</>.  I have filed this patch upstream:
https://rt.cpan.org/Ticket/Display.html?id=143622

(However, given that on CPAN the TAP-Harness distribution is in `ADOPTME` status, I'm not optimistic about there being a new CPAN release any time soo

[2022-07-02 02:44] jkeenan commented on #16595
In blead (v5.37.1-51-g6e37db9b2e), we are now getting 7 instances of this kind of warning when running `podchecker pod/perltoc.pod`:
[code]
All but the first are situations where we have two `=head2` statements with only a blank line between the first and second.  Example:
[code]
Examining `cpan/Encode/lib/Encode/CJKConstants.pm`, we see that this is the only POD in the file and occurs at the end

[2022-07-02 03:38] khwilliamson commented on #19909
Fixed by 409173239aadc465992374048dfa7b54441ce82e

[2022-07-02 03:38] #19909 closed

[2022-07-02 20:03] jkeenan opened #19915 "regexec.c: recent commit triggers new build-time warning"
At v5.37.1-53-g431ea43db2 (committed Fri Jul 1 21:34:26 2022 -0600) I am observing these build-time warnings when compiling `perl` on FreeBSD-12 using `clang10` as the compiler.
[code]
I was *not* getting these build-time warnings as recently as v5.37.1-29-gc25af7d977 (committed June 27).  (At that commit, I was only getting the `-Wunused-function` warning previously reported in https://github.com

[2022-07-02 21:04] jkeenan commented on #19915
Bisecting with this invocation:
[code]
... indicates that the warnings first began to be emitted (on FreeBSD-12) at this commit:
[code]
@khwilliamson, can you take a look?

[2022-07-02 21:36] jkeenan commented on #18780
Notwithstanding the fact that Karl [closed this issue on July 18 2021](https://github.com/Perl/perl5/issues/18780#event-5035156105), GH is classifying it as open.  Re-closing, hopefully for good.

[2022-07-02 21:36] #18780 closed

[2022-07-02 21:45] swim86unifyd opened #19917 "syncing"
Sync

[2022-07-02 21:46] #19917 closed

[2022-07-02 21:47] jkeenan commented on #16595
Addressed by @khwilliamson in e91f88ad549a845e0f17447397cecc6b462e28ef.

Since this is not unreasonable coding, I think we can live with these 6 flaws.

And, as noted in https://github.com/Perl/perl5/issues/16595#issuecomment-1172818259, a patch has been submitted upstream for the two `ERROR`s reported.

So there's nothing more that P5P can practically do here.  Closing ticket.

[2022-07-02 21:47] #16595 closed

[2022-07-02 23:02] khwilliamson commented on #19915
Try smoke-me/khw-comparison branch

[2022-07-03 00:00] jkeenan commented on #19915
That looks good; please merge.  Thanks.

[2022-07-03 03:32] #19915 closed

[2022-07-03 07:24] andk commented on #19883
Also affected: DDICK/Test-Rsyslog-0.06.tar.gz
XRef: https://rt.cpan.org/Ticket/Display.html?id=143631

[2022-07-03 12:36] Leont commented on #19882
Looks good to me

[2022-07-04 00:21] tonycoz commented on #19882
It seems reasonable, I think it could use a test (it isn't a PR though)

[2022-07-04 01:41] #19704 closed

[2022-07-04 06:03] mimicria opened #19919 "Found some crashes of perl binary"
**Description**
Hi!
As a result of fuzz testing using AFL, several crashes were found for latest stable Perl 5.36.0.
These crashes probably can be exploited.

![2022-07-04_082647_perl](https://user-images.githubusercontent.com/89445008/177090289-6155027d-a1f2-4e42-a42a-f6e27d897ec3.png)

**Steps to Reproduce**
So input files causing crashes attached with commands for GDB in gdb_script:  [checked-c

[2022-07-04 15:54] jkeenan commented on #19661
I have created this branch in our repository:  [smoke-me/jkeenan/parsexs-gh19661-20220704](https://github.com/Perl/perl5/tree/smoke-me/jkeenan/parsexs-gh19661-20220704).  In this branch I have added the XS file you provided and then have added one unit test to the EUPXS test suite.  That test is currently TODO-ed out because it detects the duplicate warning but no fix has yet been provided.  From

[2022-07-04 20:51] Julien-Elie opened #19923 "Wrong pod2man output with nested highlights"
With the following snippet:

[code]

pod2man from Perl 5.32.1 renders:

[code]

which is not accurate, because the right quote is included in the B<> and I<> syntax: Testing "**test"** and "_test"_ syntax.

Output from other pod2xxx programs looks fine.

[2022-07-04 21:20] jkeenan commented on #19661
It appears that the problem is not as simple as (as I would have thought from @choroba's sample file) using a string like `dbh` twice within an XS file, once inside an `#ifden`, once outside.

See 746c9d53a122e51f4b2509a3e78bf49d43bf577e in my branch.  We get the spurious warning even if we only use a function name like `dbh` once.

[2022-07-04 21:34] jkeenan commented on #19923
Perl module `Pod::Man` and utility `pod2man` are maintained upstream on CPAN as part of the [podlators](https://metacpan.org/dist/podlators) distribution.  So the place where you should file a bug ticket is [that distribution's issue-tracker](https://rt.cpan.org/Dist/Display.html?Name=podlators).

That being said, I created a file on disk from your sample code.
[code]
I then created `man` code:
[c

[2022-07-04 21:34] #19923 closed

[2022-07-04 21:45] #16288 closed

[2022-07-04 23:50] jkeenan commented on #19919
This problem should be reported by sending mail to:
perl-security@perl.org

[2022-07-05 02:10] sisyphus commented on #19661
I think that @choroba's nice little demo shows that the warning is sort-of valid.
I assume that xsubpp has no way of knowing whether <code>MYDEF123</code> is defined or not. All it can see is that the function is defined twice, and it warns accordingly.
Of course, if <code>MYDEF123</code> is defined, then the warning is definitely justified - and I would certainly be expecting to be told that a fu

[2022-07-05 02:46] hvds commented on #19919
Thanks for the report. Whenever you think you've found a bug that could potentially be exploited, please report it to the security list [perl-security@perl.org](mailto:perl-security@perl.org) rather than to the public bug tracker.

Example 3 is a duplicate of #16319, which was deemed not to be a significant security concern. This was recently fixed, but just too late to get into perl-5.36. The fix

[2022-07-05 05:22] choroba commented on #19661
That's the problem of simplified examples. In the original issue, the definitions were in different files, so ifdefing just the function body wasn't possible.

[2022-07-05 07:05] sisyphus commented on #19661
Aaah, yes - I see.
However, I still feel that xsubpp is doing the right thing .
If the warnings are to be avoided, then I think it's the responsibility of the DBD-MariaDB source, not of EU::ParseXS.

[2022-07-05 09:44] pali commented on #19661
As said this is problem of simplified example. Please look into the linked DBD-MariaDB issue. And do not say that this is DBD-MariaDB issue if you even have not properly investigated whole DBI code which is statically linked into DBD modules. Problem is not in DBD-MariaDB, it is conditionally defining XS function which is not available in older DBI versions. Makefile for DBD-MariaDB is properly ad

[2022-07-05 09:58] sisyphus commented on #19661
On Tue, Jul 5, 2022 at 7:44 PM pali ***@***.***> wrote:
  .....

Sounds like a fair point.
I certainly have not investigated the DBI code, nor do I have any intention
of doing so.
And I probably should have thought of the possibility that it not being an
EU::ParseXS issue doesn't necessarily mean that it's a DBD-MariaDB issue.

Cheers,
Rob

[2022-07-05 10:04] pali commented on #19661
In my opinion this is just giant layering problem due to how many processing parts are involved during compilation of DBD drivers generally (which applies also for DBD-MariaDB). At upper level are templated XS files and lower level are expanded C files (when C preprocessor finish expansion of all macros). Between these two ends are DBI template expander, XS compilers, C preprocessors, Makefiles, e

[2022-07-05 21:31] djerius opened #19927 "state \@array = do {}; runs multiple times."
**Description**
If a `state` variable is a declared reference, the initialization code is run more than once.

**Steps to Reproduce**
[code]

**Expected behavior**
I expect that the above code will output:
[code]
indicating that the initialization code for `@user_info` has been run only once.  However, it outputs

[code]

**Perl configuration**

[code]

[2022-07-06 10:52] iabyn commented on #19188
On Wed, Oct 13, 2021 at 03:12:09PM -0700, Simon816 wrote:

Thanks for the report and analysis.
It should be fixed in blead by the following commit:

commit 58cf04199f69d7a775bc88024df0bbb48712ea37
Author:     David Mitchell ***@***.***>
AuthorDate: Wed Jul 6 11:14:22 2022 +0100

    goto(&xs_sub): provide correct caller context

    GH #19188

    in something like

        sub foo { goto &xs_sub

[2022-07-06 20:59] jkeenan commented on #19781
Given that most of the time our test suite is run with perl rather than miniperl, could you work this into a test we can add underneath `t/` somewhere?

[2022-07-06 21:01] jkeenan commented on #19897
@khwilliamson, have you had a chance to take a look at these BBC?

[2022-07-06 22:18] khwilliamson commented on #19897
I believe this was fixed by 31798a685edf1feafb2f251ac5096a193518cf2e

[2022-07-06 22:48] hvds commented on #19781
That'd be `./perl -wle 'print $& if "aaaaab" =~ /(?:a|xx){0,4}?b/'`

miniperl functionality is a strict subset of perl functionality - any time we say "miniperl does this" that's shorthand for "perl does this, and requires only core functionality to do so".

[2022-07-07 05:20] sisyphus commented on #19824
Although the merging of #19912 allows a usable perl to be built, it doesn't fix the additional problem with optimization level -O2 on multi-thread Windows perls that are built using gcc-12.
That additional problem was discussed here in this Issue, and I'm wondering whether this Issue should therefore remain open until that problem has either been dealt with or submitted as a new and separate Issue

[2022-07-07 09:51] #19188 closed

[2022-07-08 19:42] Julien-Elie commented on #19394
Thanks James for your response.
I've opened a ticket on the podlators bug tracker: https://rt.cpan.org/Public/Bug/Display.html?id=143668

Closing this bug here.

[2022-07-08 19:42] #19394 closed

[2022-07-08 19:43] Julien-Elie commented on #19923
Thanks James for your response.
I've opened a ticket on the podlators bug tracker: https://rt.cpan.org/Public/Bug/Display.html?id=143667

[2022-07-09 01:45] jkeenan commented on #19791
Re-opening and self-assigning for the purpose of monitoring for a week or two.

[2022-07-09 06:41] haarg opened #19936 "segfault on goto &xs_sub when calling sub is replaced"
The commit 58cf04199f69d7a775bc88024df0bbb48712ea37 is causing segfaults when you goto an XS sub, if the calling sub has been replaced.

This is breaking the module Types::ReadOnly. https://rt.cpan.org/Ticket/Display.html?id=143710

**Steps to Reproduce**

[code]

The choice of utf8::is_utf8 is arbitrary, it can be any XS sub.

**Perl configuration**

[code]

[2022-07-09 12:06] jkeenan commented on #19936
Sample CPANtesters failure report:
http://www.cpantesters.org/cpan/report/821c3a0a-ff20-11ec-88a5-4c6571bcbff5

@iabyn, can you take a look?
[code]

[2022-07-09 12:34] hvds commented on #19390
@iabyn I thought the work you did on #19680 should probably have fixed this problem too, but while the reduced testcase no longer SEGVs it now emits a new diagnostic:
[code]

However it looks clean if the eval is not the last thing in the block:
[code]

Is this now expected behaviour?

[2022-07-09 13:34] iabyn commented on #19390
On Sat, Jul 09, 2022 at 05:34:39AM -0700, Hugo van der Sanden wrote:

Whether it SEGVs or warns is down to whether it's a debugging build or
not.  It's a similar issue to the one I fixed (null op_next pointer on the
eval op), but the difference is:

in the issue I fixed, it was catching a thrown exception during eval
runtime:

    /(?{ eval { die } })/

In the issue for this ticket, it was instead

[2022-07-09 16:36] hvds commented on #19390
Thanks @iabyn.

Ugh, one day I'll actually remember to consider that possibility.

@florian-pe I confirm that your original example no longer segfaults after this fix. Inserting a `warn $@` at the appropriate place shows why adding `use strict` makes the difference:
[code]

Closing this ticket.

[2022-07-09 16:36] #19390 closed

[2022-07-09 18:20] iabyn commented on #19936
On Fri, Jul 08, 2022 at 11:41:58PM -0700, Graham Knop wrote:

Turns out this was a pre-existing bug; my recent change just made it more
noticeable.

Should be fixed how by v5.37.1-102-gf4cc8ab9db :

commit f4cc8ab9dba9f2cfac19bbb2194eff6266ccde70
Author:     David Mitchell ***@***.***>
AuthorDate: Sat Jul 9 19:03:10 2022 +0100
Commit:     David Mitchell ***@***.***>
CommitDate: Sat Jul 9 19:03:10

[2022-07-10 07:04] #19936 closed

[2022-07-10 09:11] andk opened #19939 "BBC: TODDR/YAML-Syck-1.34.tar.gz"
**Description**

Starting with 58cf04199f there is a SEGV on tests for TODDR/YAML-Syck-1.34.tar.gz

Sample fail report with perl ac57742 by Carlos Guevara: http://www.cpantesters.org/cpan/report/f9f37278-fedf-11ec-ba22-c2077611788e

Git bisect for this fail lead me to

[code]

This bisect has already been dealt with in https://github.com/Perl/perl5/issues/19936 for Types-ReadOnly, but the fix ther

[2022-07-10 12:18] jkeenan commented on #19939
Confirmed on FreeBSD-12:
[code]
@iabyn, can you take a look?

[2022-07-10 14:21] jkeenan commented on #19801
I've filed this ticket for Test-Trap upstream:
https://rt.cpan.org/Ticket/Display.html?id=143716

@demerphq @khwilliamson, have you had a chance to look at this BBC?

[2022-07-10 17:44] demerphq commented on #19801
On Sun, 10 Jul 2022 at 16:21, James E Keenan ***@***.***>
wrote:

The underlying issue is that on Linux setting the path to "" is
semantically equivalent to setting it to ".", and we document that under
taint mode you can't set the path to ".", and we wont look in CWD to find
executables, so we had to ban the empty string as well.

The test code contains this:

# Protect against tainted PATH &c ..

[2022-07-10 21:07] jkeenan commented on #19883
@demerphq, @khwilliamson, could you take a look at these BBC tickets stemming from 92ec2fce1aace295365d7d86c61c98df8202fc9d ?

Thank you very much.
Jim Keenan

[2022-07-10 21:08] jkeenan commented on #19842
No one has argued for keeping this ticket open.  Closing.

[2022-07-10 21:08] #19842 closed

[2022-07-10 21:20] jkeenan commented on #19857
Reproduced in a `-DDEBUGGING` build on FreeBSD-12:
[code]
Should we consider making this into a TODO-ed test in the test suite?

[2022-07-10 21:33] jkeenan commented on #19883
The failure in Devel-FindPerl has also been reported in this tracker as https://github.com/Perl/perl5/issues/19804.

[2022-07-10 21:36] jkeenan commented on #19518
@hvds, the upstream maintainer has marked your ticket Resolved.  What then do we do next for *this* ticket?

[2022-07-10 21:38] jkeenan commented on #19768
What steps do we need to take to get a new CPAN release of ExtUtils-Constant?

[2022-07-10 21:41] jkeenan commented on #19737
@LeonT, @Corion, would it be possible to respond to this question from the OP?

[2022-07-10 21:46] jkeenan commented on #19413
Smoke-test reports on the `tux` host have been PASS since May 30, so this ticket looks closable.  Doing so now.  Thanks for your investigation.

[2022-07-10 21:46] #19413 closed

[2022-07-10 22:09] jkeenan commented on #16674
"The motion fails for lack of a second."

There's been no support for this feature request since it was filed in 2018.  Taking the ticket for the purpose of closing it within 7 days unless someone wants to take the discussion forward.

[2022-07-10 22:15] jkeenan commented on #19869
In our earlier discussion of this BBC issue in Devel-Cover, we didn't attempt to identify the problematic commit.  Today I got this:
[code]
@khwilliamson, can you take a look?

[2022-07-10 22:22] jkeenan commented on #16856
@tonycoz, this patch proposal hasn't picked up any support since March 2019.  I believe there's no call for it.  Can we close this ticket?

[2022-07-10 22:29] jkeenan commented on #17713
@akhuettel, if this is still a problem for you, could you try out the suggestions made by @khwilliamson?

Thank you very much.
Jim Keenan

[2022-07-10 23:07] hvds commented on #19518
Not sure: maintainer has a fix, but it is not yet released; the patch that caused the problem was reverted for 5.36, and has not yet been reapplied. However the intention was to reapply it, and at that point this module will fail until the fix is released.

I think first step is to decide if the patch is going to be reapplied, and if so to apply it now.

[2022-07-11 01:44] tonycoz commented on #18642
fixed by the application of #18761

[2022-07-11 01:44] #18642 closed

[2022-07-11 01:44] tonycoz commented on #19892
fixed by the application of #18761

[2022-07-11 01:49] haarg commented on #19804
This has been fixed in Devel-FindPerl-0.016

[2022-07-11 01:49] #19804 closed

[2022-07-11 02:14] #19892 closed

[2022-07-11 05:25] tonycoz commented on #19939
Under the debugger, with -DDEBUGGING:
[code]

[2022-07-11 06:04] Corion commented on #19737
@boboshaq - yes, you can compile Perl locally and then install it on a different file system like nfs.

[2022-07-11 06:04] #19737 closed

[2022-07-11 11:43] haarg commented on #18699
There is now an RFC for this: https://github.com/Perl/RFCs/pull/22

[2022-07-11 20:45] jkeenan commented on #19877
@khwilliamson, do you have a timeline for when you are going to be adding code that uses the as-yet-unused function which is the subject of this build-time warning?

We're now 9 days away from our next monthly dev release.  I think it would be good to have that release go out with no build-time warnings.  That would imply either adding code that would use `S_setlocale_failure_panic_` before then,

[2022-07-11 20:50] jkeenan commented on #19561
+1 to your closing this ticket once you've opened a ticket in the bugtracker for C::Blocks.

[2022-07-11 20:53] jkeenan commented on #1428
@Toddr, can you supply a p.r. for the documentation change (or otherwise indicate what doc(s) need to change)?

[2022-07-11 20:54] jkeenan commented on #16525
@tonycoz, has there been a release such that this is now closable?

[2022-07-11 21:12] toddr commented on #1428
I was just trying to move the ticket along. I've not looked at this in over 2 years.

[2022-07-12 03:01] sisyphus commented on #1428
It looks to me that the desired behaviour is already provided by perl's <code>"%D"</code> and <code>"%U"</code> formatting:
[code]
Do I misunderstand what's being sought ?

Cheers,
Rob

[2022-07-12 05:04] tonycoz commented on #16525
yes, I'll check the for the release it ended up in and update the test

[2022-07-12 05:43] tonycoz commented on #16856
I'll work up and up to date patch.

While we don't build with `-Wcast-qual` we do have the MUTABLE_PTR() family of macros are specifically intended to avoid casting away const.

There's also some existing `GCC_DIAG_IGNORE(-Wcast-qual)` in the code.

[2022-07-12 06:35] demerphq commented on #19804
On Wed, 1 Jun 2022 at 05:47, Hugo van der Sanden ***@***.***>
wrote:

FWIW, I dont think that is as straightforward as it sounds. Consider, we
decide to use "/perl_temp_dir_does_not_exist" as a replacement for the
empty path.  This then becomes an attack vector on scripts running under
-T. We could create a private temporary directory and then use its path as
the replacement, but it doesn't sound

[2022-07-12 07:58] haarg commented on #19804
PATH does not need to be set to a path that does not exist, or a temp directory. It can simply be deleted.

[2022-07-12 09:11] haarg commented on #19804
The only real edge case I can think of is if some later code naively tries to add to PATH doing something like `PATH="/my/path:$PATH"` it will end up with an empty path as one of the entries.

[2022-07-12 14:16] khwilliamson commented on #1428
That is, internallly convert %d into %u for printing such numbers

[2022-07-13 02:35] sisyphus commented on #1428
I gather there's a perceived shortcoming in that neither "%d" nor "%D" nor "%u" nor "%U" are guaranteed to display the actual value of the IV, for all possible IV values.
At least one of those formats will display the actual value, but you have to pick the right format for certain IV values.

As noted in the thread, "%s" will always display the actual value of the IV.
This happens because perl's i

[2022-07-13 06:30] haarg commented on #19869
I've created a PR that should fix this.

pjcj/Devel--Cover#304

[2022-07-13 06:52] demerphq commented on #19874
On Fri, 17 Jun 2022 at 17:51, Hugo van der Sanden ***@***.***>
wrote:

That change doesn't look right to me at first glance.

is_inf_internal has to do with the maximum length, min and stop min have to
do with the minimum length. Consider something like this:

/(foo(*ACCEPT)|.*)bar/

So is_inf_internal should end up true from the .* and the min/stopmin
should be 3 because of the foo(*ACCEPT).

Hav

[2022-07-13 10:29] demerphq commented on #19874
On Wed, 13 Jul 2022 at 08:52, demerphq ***@***.***> wrote:

I see you haven't. I built blead with the configure settings from this
thread and found three sets of issues in the regex engine, and I am testing
patches for all of them right now.

Just FYI.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-07-13 10:42] hvds commented on #19874
@demerphq no, but it is included in #19930 which was close to merging. I'll ask @tonycoz to take this patch out.

[2022-07-13 10:57] demerphq commented on #19874
On Wed, 13 Jul 2022 at 12:42, Hugo van der Sanden ***@***.***>
wrote:

Please. :-) And thanks!

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-07-13 16:31] khwilliamson opened #19949 "Cwd has memcpy source/destination overlap"
Module: PathTools::Cwd

**Description**

Here's some of the errors found by  valgrind

../lib/perl5db.t: ==508232== Source and destination overlap in memcpy_chk(0x1ffeffb740, 0x1ffeffb744, 15)
../lib/perl5db.t: ==508232==    at 0x48539B2: __memcpy_chk (in /usr/libexec/valgrind/vgpreload_memcheck-amd64-linux.so)
../lib/perl5db.t: ==508232==    by 0x568AF8D: XS_Cwd_abs_path (in /home/khw/perl/test_l

[2022-07-14 08:06] pengvado opened #19953 "Speed regression in regex trie"
I have a case-insensitive regex consisting of several string-literals in alternation.
This should compile to a single TRIE-EXACTFU, and in perl-5.26 and earlier it did. But in 5.28 through latest blead, some possible string values fail to merge into the TRIE, and end up with BRANCH nodes instead, which is significantly slower.

The commits that introduced this speed-regression are:
141513f22bae5fc

[2022-07-14 17:49] khwilliamson commented on #19953
I have been thinking we need another stage to review some of the optimization decisions in larger context.  But that's a bunch of work.

One of the reasons I did the splitting out of non-letters is that we construct some sequences that have to match exactly at runtime.  Suppose we have a long target to match against, and we know from the pattern it has to contain a colon.  We can use a fast grep t

[2022-07-14 18:38] oodler577 commented on #8987
Hi, thanks to @xenu for pointing me to this issue. I ran into it while experimenting with a `goto LABEL` inside of an `ALRM` handler, here's there reproducer:

[code]

I was experimenting with `retry` mechanism for `Try::ALRM` (new) when I ran into this. I think fixing this would provide an advantage for what I am doing; but there are other ways to go about it. It'd still be cool to see working. T

[2022-07-15 11:34] demerphq commented on #19953
On Thu, 14 Jul 2022 at 19:49, Karl Williamson ***@***.***>
wrote:

The trie logic currently in simplified terms looks for sequences of two or
more alternation branches where the "first" regop is EXACTish and the same
type as each other. I quote "first" and say simplified terms because its a
bit more tricky than that, as you can have empty nodes at the start of a
branch, consider /(?:)X|Y/ , and be

[2022-07-15 14:02] rjbs commented on #16275
Our question as of last week was:  "Why not immediately?"

[2022-07-15 14:16] oschwald opened #19957 "no feature 'bareword_filehandles' mistakes package name for bareword filehandle"
This code:

[code]

produces this compilation error:

[code]

I noticed this in 5.34, but I thought https://github.com/Perl/perl5/pull/19272 would fix it.

**Perl configuration**

[code]

[2022-07-15 14:39] xenu commented on #19957
This a duplicate of #19704, which was fixed in blead with commit c5327cb77526e4e4c7bb83e24be20ac48e85b1fa.

That bug is the reason why made `use v5.36` not disable `bareword_filehandles`.

[2022-07-15 14:39] #19957 closed

[2022-07-15 14:41] oschwald commented on #19957
Thanks! I apologize for missing that in my search.

[2022-07-15 16:28] demerphq commented on #19953
On Fri, 15 Jul 2022 at 13:34, demerphq ***@***.***> wrote:

pessimization over different releases with:
perl -Mre=debug -le'BEGIN{print "perl $]";} /a_foo|a_bar/i'

Going back to 5.26.3 we get this:

perl 5.026003
Compiling REx "a_foo|a_bar"
Final program:
   1: TRIE-EXACTFU (9)
      <a_foo>
      <a_bar>
   9: END (0)
stclass AHOCORASICK-EXACTFU minlen 5
Freeing REx: "a_foo|a_bar"

Which means t

[2022-07-15 23:39] jkeenan commented on #19482
@steve-m-hay, can you give us an update on the backporting aspect of this issue?

[2022-07-16 14:10] khwilliamson commented on #19877
@jkeenan I believe this if fixed

[2022-07-16 18:16] jkeenan commented on #19877
Yes.  Thanks for noticing this.
[code]

[2022-07-16 18:16] #19877 closed

[2022-07-16 19:49] jkeenan commented on #19483
On OpenBSD-6.9 I've got this test PASSing in both the main-5.34 branch and in build from tarball.  (My attempts to install an OpenBSD-7.1 VM have been unsuccessful.)

Closing.

[2022-07-16 19:49] #19483 closed

[2022-07-16 21:46] khwilliamson commented on #16500
I believe it is a bug and https://github.com/khwilliamson/perl5/commit/61c724781cca7bdc0691f85ee9e054275e26dacb fixes it

[2022-07-17 13:38] jkeenan commented on #19883
Test::DiagINC has had a new [upstream](https://metacpan.org/release/DAGOLDEN/Test-DiagINC-0.010) release which now permits it to be installed against Perl 5 blead.

[2022-07-17 13:51] jkeenan commented on #19883
Test::Rsyslog has had a new [upstream](https://metacpan.org/dist/Test-Rsyslog) release which now permits it to be installed against perl 5 blead.

[2022-07-17 14:28] jkeenan commented on #19883
Devel::FindPerl has had a new [upstream](https://metacpan.org/pod/Devel::FindPerl) release which now permits it to be installed against Perl 5 blead.

Since all the upstream distributions cited in this ticket have been fixed, I'm closing this ticket.  If we find more BBCs, we can simply re-open this ticket.

[2022-07-17 14:29] #19883 closed

[2022-07-17 19:53] tobyink opened #19962 "[doc] builtin should document the behaviour of `weaken` and `unweaken` on non-references"
**Where**
builtin

**Description**
builtin should document what `weaken` and `unweaken` do when called on non-references.

(Pretty sure the answer is that they're a no-op.)

[2022-07-18 05:56] tonycoz commented on #19962
They both croak for defined non-references.

[2022-07-18 06:13] tonycoz commented on #19949
I can't reproduce this.

The lack of line numbers in the report is puzzling, it might be that `valgrind` can't handle `-ggdb3` debug info.

[2022-07-18 07:42] nmisch opened #19963 "close($pipe_read_fh) hangs on Windows if another process is in read of same handle"
This is a bug report for perl from noah@leadboat.com,
generated with the help of perlbug 1.42 running under perl 5.32.1.

-----------------------------------------------------------------
**Steps to Reproduce**
Test program:
[code]

**Expected behavior**

I expected to see a line saying "parent exit", but the last output line
started with "before close".  Setting `USE_WORKAROUND=1` in the environm

[2022-07-18 09:21] jackdeguest opened #19964 "Unexpected object type (8) in store_hook()"
**Where**
Storable

**Description**
When running Storable::freeze on some structure, I got the following error, which is completely unhelpful and undocumented:
"Unexpected object type (8) in store_hook()"

I think it is necessary, if Storable throws off exceptions like this, that they be properly documented so that we know what corrective action to take.

[2022-07-18 13:46] jkeenan commented on #19964
Examination of the source code in `dist/Storable/Storable.xs` shows that this error message is a default (fallback) response generated only when one of about 7 other conditions is not met.  Hence, the error message is accurate in the sense that the condition you encountered is truly unexpected.

Can you supply more information about what you were trying to do when you encountered this error?

[2022-07-18 13:54] jkeenan commented on #19964
Additional information would be particularly helpful, as this error condition has been present since Storable was brought into the Perl 5 core distribution in [August 2000](7a6a85bf4ac) and has apparently never been previously reported as problematic.

[2022-07-18 14:30] jkeenan commented on #19962
Please review https://github.com/Perl/perl5/pull/19965 for tests and documentation.

[2022-07-18 21:15] jackdeguest commented on #19964
[code]

The exception stack trace is:

[code]

[2022-07-18 21:47] jkeenan commented on #19964
I don't see a declaration of, or assignment to, `$uri`.

[2022-07-18 22:49] jackdeguest commented on #19964
Do not worry about this. `$uri` is declared. It just does not show in this extract.

I could track down the issue to a glob object.

[code]

Unexpected object type (8) in store_hook() at /usr/local/lib/perl5/5.36.0/x86_64-linux-thread-multi/Storable.pm line 370.
	eval {...} called at /usr/local/lib/perl5/5.36.0/x86_64-linux-thread-multi/Storable.pm line 370
	Storable::_freeze(CODE(0x561108546b78),

[2022-07-18 23:51] Leont commented on #19964
Giving an incomplete extract is not very helpful when people try to reproduce your problem.

[2022-07-18 23:54] jackdeguest commented on #19964
Sure. I will be more careful.

[2022-07-19 00:06] Leont commented on #19964
Can you reduce it to a complete but actually minimal example?

[2022-07-19 00:10] Leont commented on #19964
object type 8 is SVt_REGEXP, but regexps should be supported.

[2022-07-19 00:12] jackdeguest commented on #19964
Yes. I thought I did in the revised snippet [posted](https://github.com/Perl/perl5/issues/19964#issuecomment-1188404898)

[2022-07-19 00:24] jkeenan commented on #19964
Your reduced case, with some debugging code added:
[code]
Run with perl-5.36.0.
[code]

[2022-07-19 00:28] jkeenan commented on #19964
Note: for the previous comment I had to force-install HTTP::Promise because one of its indirect prerequisites is CryptX, which is experiencing test failures not yet resolved upstream; see https://github.com/DCIT/perl-CryptX/issues.

[2022-07-19 01:20] tonycoz commented on #19964
This is a different and expected error.

The type number here isn't an `SvTYPE()` result, but an internal type number from Storable's `sv_type()`, the 8 is `svis_OTHER`.

This error occurs when the SV is blessed into class with a STORABLE_freeze(), but then store_hook() doesn't recognize the object type, which appears to be a GLOB in this case.

I can get the same error with:
[code]
or more simila

[2022-07-19 02:15] khwilliamson commented on #16500
@jkeenan how's this?

[2022-07-19 11:32] wchristian commented on #18537
Regarding the mentioned PPI issues, we now have a proof-of-concept: https://github.com/Perl-Critic/PPI/pull/280

[2022-07-19 11:32] hvds commented on #19953
I'd still love to see some way of giving the user control over which optimizations are performed, either lexically or at the regexp level (maybe even at the fractional regexp level). That would make workarounds for such pessimizations possible, and allow us usefully to make new optimizations possible that are disabled by default either because they aren't always useful or because they don't always

[2022-07-19 11:45] jkeenan commented on #16500
Thanks. I merged the p.r.

[2022-07-19 11:45] #16500 closed

[2022-07-19 11:47] tonycoz commented on #19964
I'm working on fixes for this, the new error message is:
[code]
which is a bit wordy, but all of the added information is useful.

I want to add support for regexps too, but I'm not sure it's possible.

[2022-07-19 12:21] jackdeguest commented on #19964
I think it would be useful and fair play to check if the package has a subroutine STORABLE_thaw to give it a chance to return a proper glob object. Currently, Storable creates a SCALAR object, so it would be nice to give an opportunity to the package to return an object based on the deserialised data.
Allowing the subroutine STORABLE_freeze, if any, to return a value to Storable would be good too.

[2022-07-20 19:54] jkeenan opened #19981 "Porting/core-cpan-diff not detecting more recent upstream versions of cpan distros"
Today I was amusing myself by watching @atoomic prepare the monthly dev release.  As part of that amusement I ran `perl Porting/core-cpan-diff --all -o out` and examined the output file.  The program logged this information:
[code]
Then I noticed that @atoomic had filed a pull request to synchronize core with upstream version 0.10.  I checked [upstream](https://metacpan.org/pod/PerlIO::via::Quoted

[2022-07-20 20:03] atoomic commented on #19981
I ran: `./perl -Ilib Porting/core-cpan-diff -x -a` which was returning this at the beginning of the day

[code]

[2022-07-20 20:07] jkeenan commented on #19981
Okay, it appears that I should have used the `-x` switch as well.  Thanks.

[2022-07-20 20:07] #19981 closed

[2022-07-20 20:12] jkeenan commented on #19939
Confirmed that YAML-Syck now installs against blead:
[code]
Closing this ticket. @toddr, note what Dave is saying about the distro's problems.  Thanks.

[2022-07-20 20:12] #19939 closed

[2022-07-21 05:01] tonycoz commented on #19964
That would make globs a very special case for GLOBs.

If we make the return value of STORABLE_thaw[1] significant for existing types, any existing implementations that happen to return a ref, so handling GLOBs would be confusingly special.

It might be possible to do this with the STORABLE_attach hook instead, but as documented that's intended for connecting to system shared objects rather than ob

[2022-07-21 05:26] jackdeguest commented on #19964
I do not understand all the intricacies of the inner working of Storable, so please bear with my ignorance, or naive comment.
Right now, to avoid Storable from crashing, as per the documentation, one can set `$Storable::forgive_me` to a true value and by doing so Storable would by itself arbitrarily create a SCALAR-based object, notwithstanding whether this is suitable or not for the operation of

[2022-07-21 05:34] tonycoz commented on #19964
I could change the code that calls `STORABLE_thaw` to use the return value instead of passing in an object, but it would break every existing implementation of `STORABLE_thaw` that expects the current protocol.

The alternative would be a new hook (`STORABLE_thaw_returns`?) that returns the object instead of being supplied an SV to modify, but I'm hesitant to add another thaw-like hook when we alr

[2022-07-21 05:37] jackdeguest commented on #19964
I am not sure I understand. This does not align with what I experienced with glob-based modules, in that Storable does not even call a `STORABLE_thaw` even if it exists. I checked when debugging and did not it get called. Instead, Storable `thaw` would create a dummy object based on a scalar.

[2022-07-21 05:49] jackdeguest commented on #19964
Here is what I did to make it work. I changed the subroutine `Storable::thaw` to the following that I called instead:

[code]

Is there something wrong in doing this?

[2022-07-21 20:16] richardleach commented on #19561
Closed now that a ticket exists in the C::Blocks bugtracker.

[2022-07-21 20:16] #19561 closed

[2022-07-22 01:30] khwilliamson commented on #19882
@FGasper is this closable

[2022-07-22 01:38] andk opened #19983 "BBC: Math-FastGF2-0.07 triggers "stack smashing detected""
**Description**

With 1ef9039bcc the tests for DMALONE/Math-FastGF2/Math-FastGF2-0.07.tar.gz were starting to fail. Sample test report with v5.37.2: http://www.cpantesters.org/cpan/report/21cf2db8-0954-11ed-aef9-e4323abf57b8

**Steps to Reproduce**

cpan -i DMALONE/Math-FastGF2/Math-FastGF2-0.07.tar.gz

**Expected behavior**

Tests should succeed and module should be installed.

**Observed behavio

[2022-07-22 03:48] #19882 closed

[2022-07-22 04:21] jackdeguest opened #19984 "Storable bug with XS module HTTP::XSHeaders"
Module: Storable

**Description**
When Storable thaws an XS object like [HTTP::XSHeaders](https://metacpan.org/pod/HTTP::XSHeaders), it makes it unusable

**Steps to Reproduce**
[code]

**Expected behavior**
Storable::thaw re-creates the module object, but somehow for XS module, although the object thus created is recognised as being of that class, it is unusable.

**Perl configuration**

[code]

[2022-07-22 06:01] dur-randir commented on #19984
- I don't see a HTTP::XSHeader on CPAN, so I can't tell you the exact reason it failed, but it doesn't matter
- you can't, without a special help from an xs module, serialize it's data, for any meaning of a serializer and any object holding C level data. Just think twice about it - XS module holds data not visible to Perl, how can Perl access it to restore back later?

[2022-07-22 06:12] jackdeguest commented on #19984
Sorry, typo. It's [HTTP::XSHeaders](https://metacpan.org/pod/HTTP::XSHeaders). Please check my code snippet to reproduce this bug.
If it is not possible as it is, then, maybe you could consider adding a callback like STORABLE_that_some_more if the subroutine is implemented and return what it returns? Otherwise, it makes Storable unusable for those XS modules.

[2022-07-22 06:41] dur-randir commented on #19984
There're already such hooks in place, STORABLE_freeze/STORABLE_thaw. So, it's module's author who should implement them. But most XS authors don't as it's very time consuming for any complex internal structures.

I'd recommend you rethink your approach - why in the first place do you need to clone this object? If you think it'd be faster then the original headers string re-parse, it won't.

[2022-07-22 06:45] jackdeguest commented on #19984
Sure, but Storable discards the returned value of that hook, so pretty much useless except to modify in-place the object created by Storable itself.

That object is embedded within another object, so not much choice.
I wonder why Storable completely ignores the value returned by STORABLE_thaw. I mean, even if I return a new object and return it, it is ignored.

[2022-07-22 06:57] dur-randir commented on #19984
This is the way. But again, you have to report this to module's author.

This might be a separate feature request for Storable, but it's unrelated to this problem - as again, module's author would need to implement it.

[2022-07-22 07:01] jackdeguest commented on #19984
Well, you should document this limitation clearly in the pod to avoid waste of time or unexpected issues arising then.

I think it would be much quicker and more constructive to solve the problem at the core and have some hook in Storable for XS modules since Storable creates their object, but they are not working.

[2022-07-22 07:13] dur-randir commented on #19984
But they still can't (de)serialise HTTP::XSHeaders, so it's not the matter of how good or bad their API is. It's a fundamental problem of having data invisible to Perl.

[2022-07-22 08:43] dur-randir commented on #19984
[code]

With the expected output
[code]

So, out of the box, they do not work. Maybe you've written some custom handler routine and injected it into the HTTP::XSHeaders namespace, but then you can still do the same with Storable (though it'd be harder, but still not impossible).

[2022-07-22 08:52] demerphq commented on #19984
On Fri, 22 Jul 2022 at 10:43, Sergey Aleynikov ***@***.***>
wrote:

I have not looked at whether HTTP::XSHeaders supports the hooks, but in
Sereal support for FREEZE/THAW is not enabled by default, you need to
enable the "freeze_callbacks" option in the encoder.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-07-22 08:56] dur-randir commented on #19984
It (unsurprisingly) didn't matter.

[2022-07-22 10:23] jackdeguest commented on #19984
Please refer to my example code to reproduce the bug, who is the issue being discussed.

Obviously, in this hypothetical `My::Headers` package, there could be a `STORABLE_thaw` subroutine, but it would not matter because Storable ignores what is returned.

[2022-07-22 10:25] jackdeguest commented on #19984
It works well when this option is enabled. It has Sereal look for FREEZE, which consequently trigger THAW upon deserialisation, as documented. Sereal and CBOR::XS both accept what is being returned by `THAW`, countrary to `Storable`.

[2022-07-22 12:30] #19794 closed

[2022-07-22 13:05] jkeenan commented on #19983
[code]
This is strange.  I was able to reproduce this "stack smashing" on Linux at a commit more recent than the one @andk cites.
[code]
However, I was **not** able to reproduce these failures on a recently built perl on FreeBSD.
[code]
Could this problem be platform-specific?

@khwilliamson, can you take a look?

Thank you very much.
Jim Keenan

[2022-07-22 14:15] haarg commented on #19984
It is possible for HTTP::XSHeaders to implement a `STORABLE_thaw` method which modifies the object created by Storable to make a working object. While the API of `STORABLE_thaw` is not idea, it would not prevent this from working. If you want that to work, file a request with the author or HTTP::XSHeaders.

This is not a bug.

[2022-07-22 14:21] jackdeguest commented on #19984
Seriously? The object created by Storable does not allow effective calls to the underlying package methods, in turn leading to fatal errors, and you do not call this a bug?

[2022-07-22 14:26] haarg commented on #19984
No serialization library will be able to deserialize an HTTP::XSHeaders object without having a hook implemented. This is the case for many other objects implemented in XS which do not store their data in the standard perl data structures.

[2022-07-22 14:29] jackdeguest commented on #19984
Maybe so, but what it produces is buggy. One cannot simply not call any method with the object hence created, and Storable ignores the output from STORABLE_thaw. In effect, this is not working and crashes, so this is truly a bug.

If you would rather, make a note on that in the documentation, or maybe have Storable die when dealing with an XS object, but do not pretend the object created and that

[2022-07-22 14:30] haarg commented on #19984
HTTP::XSHeaders does not have a STORABLE_thaw method. If it implemented one, deserializing would work.

[2022-07-22 14:32] jackdeguest commented on #19984
Ok, then Storable should not create a HTTP::XSHeaders object on its own then. It should detect the `STORABLE_thaw` method is missing and die, because the resulting object created by Storable (not by HTTP::XSHeaders) does not work.

[2022-07-22 15:11] Leont commented on #19984
Except most objects wouldn't need that at all, so that would be even more unhelpful.

It's firmly a WONTFIX, not because we don't want to, but because it can't be done.

[2022-07-22 15:11] #19984 closed

[2022-07-22 15:31] jackdeguest commented on #19984
Will you not even make a mention of this limitation in the documentation?

[2022-07-22 16:23] pmqs opened #19985 "Format in fill-mode has inconsistent behaviour splitting on hyphen"
[This issue is a summary of a short thread on per5-porters]

I’m using a format with fill-mode. Default characters to split a long string are space, newline and hyphen. I’m seeing inconsistent behaviour when a hyphen is used to split a string.

Here is sample code that illustrates the problem

[code]
With perl 5.18 or less I see this. All looks fine
[code]
But with 5.20 or greater I get this outpu

[2022-07-22 22:03] Leont commented on #19984
I have no idea what limitation you mean, and frankly this thread is more a support request than a bug report, for which there are many other venues.

[2022-07-22 22:05] jackdeguest commented on #19984
That's obviously because you have not been paying attention or read carefully the issue I raised here. Feel free to discard it, but it is what it is. Turning a blind eye on this eye is not proper for the module users in my opinion.

[2022-07-22 23:43] hvds commented on #19984
The first line of the description in Storable's documentation reads: "The Storable package brings persistence to your Perl data structures containing SCALAR, ARRAY, HASH or REF objects". I think that is about as prominent a notice of its limitations as you could ask for.

However I _would_ like to see a more flexible interface for thawing objects - there are various situations I can imagine that w

[2022-07-23 00:01] jackdeguest commented on #19984
And an XS module object does qualify as a `REF object` and yet it fails to work, since it that [concrete example](https://github.com/Perl/perl5/issues/19984#issue-1314199155), when using that object created by Storable on that module methods, the object would die with the error: `hl is not an instance of HTTP::XSHeader`

Thus, it seems the documentation needs to be expanded to include XS modules a

[2022-07-23 00:13] Grinnz commented on #19984
Actually a blessed object could use any underlying structure (the term "object" in that sentence does not refer to blessed objects), regardless of whether it's XS. A blessed CODE object for example would not be restorable without assistance from the object class as described before, because it is not a SCALAR, ARRAY, HASH, or REF structure. A more common problematic example would be a blessed file

[2022-07-23 00:17] jackdeguest commented on #19984
Thank you for this clarification. What you clarified gives further ground to the need to update the documentation.
I honestly am not sure what such a big deal it is to improve a documentation. Making things clearer and more usable for the module users are always a good thing.

[2022-07-23 00:23] Grinnz commented on #19984
Of course, documentation can always be improved, suggestions in a documentation issue or PR would be welcome.

[2022-07-23 00:26] jackdeguest commented on #19984
Excellent and I am glad to read that. I have made suggestions here already, and, although I would be happy to issue a PR, given the technicality of Storable, it seems more suitable to leave the proper wording to those responsible for that module.

[2022-07-23 01:55] sisyphus commented on #19983
FWIW, I see the problem on Windows (MSWin32-x64-multi-thread), perl-5.37.2

It manifests itself as a couple of pop-ups telling me that perl.exe has stopped working.
The test summary reports:

[code]
All tests pass when I build the Math-FastGF2-0.07 with perl-5.36.0.

There's a few warnings issued during make:
[code]
Cheers,
Rob
That copy'n'paste is from the 5.37.2 build. I think it's pretty much t

[2022-07-23 13:02] bram-perl commented on #12948
Looking at this bug report (because it recently came up on p5p) it wasn't entirely clear to me what the issues were.

What one should be aware of: when using `${...}` then the '...' is/was parsed as number if it started with '0'.
Which means:
- `${0123}`: treated as octal
- `${0x123}`: ' treated as hex
- `${0b1001}`: treated as binary

An example (using an older perl):

        #!/usr/bin/perl -l

[2022-07-23 15:06] bram-perl opened #19986 "`${00}` should not be allowed"
**Description**

In commit 60267e1d0e12bb5bdc88c62a18294336ab03d4b8 (by @demerphq ) for #12948 code was added to disallow `$00`, `$000`, `${000}`, ...
The perldiag entry added for it:

        Numeric variables with more than one digit may not start with '0'
                (F) The only numeric variable which is allowed to start with a 0 is $0,
                and you mentioned a variable that sta

[2022-07-23 22:11] jkeenan commented on #19985
Behavior observed on FreeBSD as well as Linux.  Also first bad commit confirmed as:
[code]
@iabyn, can you take a look?

[2022-07-24 04:40] sisyphus commented on #19983
I find (on Windows) that the problem goes away if, in perlsubs.c (which is part of the Math-FastGF2-0.07 source distro), I replace each occurrence of <code>SvPV(Str,len)</code> with <code>SvPV(Str,PL_na)</code>.
Here's the actual patch I used:
[code]
This enables the module to build and test successfully on both perl-5.36.0 and perl-5.37.2 - and it also removes the vast majority of the warnings th

[2022-07-24 15:23] khwilliamson commented on #19855
My guess is that it is the @letter that is causing the problem  It appears from code reading that perl doesn't handle the '@' properly.

[2022-07-24 15:40] diekhans commented on #19855
Yes, I just confirmed that @letter is the problem.

I can't find documentation about @letter on GNU, and I am not sure
why this is in my locale.  Perhaps some other UNIX.

If this is not a valid setting, it would be save time if Perl
complained about which locale env var is bad, rather than this
generic message.

Karl Williamson ***@***.***> writes:

[2022-07-24 16:26] khwilliamson commented on #19983
SvPV (and similar) are documented that 'len' is to be STRLEN.  This module declares it to be int.  That was harmless before the blamed commit, but with it, it results in undefined behavior.

I can think of several options.  If there is only a little bit of code that calls one of these with an improper len, then they can be fixed.  If there are a bunch (which I and #irc thing is likely), then somet

[2022-07-24 16:59] khwilliamson commented on #19983
See #19990

[2022-07-24 17:47] khwilliamson commented on #19855
Looking at the source (in 5.37) again, I now don't see how the @paper would have broken perl.

I haven't seen the @ subforms documented, but that's what they appear to me to be.  There are some locales that have @euro in them, presumable to indicate that the Euro is the currency to use instead of a generic one.

I'll look into seeing the feasibility of giving a better message, but when things fail

[2022-07-24 22:29] tonycoz commented on #19983
`SvPV_nolen()` would be better since it avoids the assignment to the len parameter entirely.

The memory is allocated by `newSVpv()`, this isn't the best way to do this, but it works.

[2022-07-25 00:16] choroba opened #19991 "Module::CoreList mentions Pod::Functions::Functions, but no such module has ever existed"
Module: Module::Corelist

**Description**
Module::CoreList mentions Pod::Functions::Functions, but there's no such module and there never has been. See https://www.perlmonks.org/?node_id=11145693 for the initial report.

**Steps to Reproduce**
Run:
corelist Pod::Functions::Functions
Output:
Data for 2022-08-20
Pod::Functions::Functions was first released with perl v5.20.0

**Expected behavior**
Ou

[2022-07-25 01:35] diekhans commented on #19855
My bashrc has the comment:
  # evince needs this to default to letter
  export ***@***.***"a

I see a few random mentions of this
  http://ubuntuliving.blogspot.com/2008/07/default-paper-size-in-evince.html

It also seems to cause confusing on CentOS 6 GNU/Linux, see below.

I can't find anything that says the @letter is a part of POSIX.
Perhaps is it something that he evince authors made up???

%

[2022-07-25 01:45] tonycoz commented on #19964
The problem with using the return value of `STORABLE_thaw`

I was suggesting a change, such a change would also involve modifying `STORABLE_freeze`.

Storable doesn't know or care about the module, only the SV types of the values it receives.  A given package could use a mixture of hash, array and scalar based objects, though it would be unlikely, and probably better done with distinct packages.

[2022-07-25 02:07] jackdeguest commented on #19964
I think this issue can be solved with a more comprehensive, non-breaking approach that would consist of having two special hooks: `STORABLE_freeze_pre_process` and `STORABLE_thaw_post_process` and ensuring `Storable` accepts and uses instead the output of `STORABLE_freeze_pre_process` for freezing, and Storable::thaw calls and returns the output of `STORABLE_thaw_post_process` if it exists.

Doing

[2022-07-25 02:20] hvds commented on #19991
This first appeared with f50587e06e for v5.15.8; I guess the reason it says "was first released with perl v5.20.0" is because there was a previous attempt to remove it with bd67a7ab13, but it came straight back with the next Module-CoreList update in 7520a923f1.

Have you checked whether running the tool to update CoreList will bring it back yet again after #19992? If it would, I think that should

[2022-07-25 04:13] jeremyhetzler commented on #19633
Here is a patch against 5.32.1 that fixes most of the problem.

[code]

[2022-07-25 08:58] iabyn commented on #16525
That fix is producing a warning on OSes that don't have exactly two numeric components. It's fixed it up with v5.37.2-10-gf9757a510d

[2022-07-25 09:53] choroba commented on #19991
@hvds You are right, it's added by the update script. I debugged it and the name is created from `ext/Pod-Functions/Functions_pm.PL`.

I experimented with the update script and found a simple solution. I rebased my change onto the fix and force pushed into this PR, please review again.

[2022-07-25 11:48] hvds commented on #19991
Goodo.

It looks like an elegant solution. I hope someone else can review it, as I've never used either Module::CoreList or the tool that updates it - my question was based purely on digging into git history. Either the last (@atoomic) or next (@neilb) scheduled release manager might be the ideal person.

[2022-07-25 17:05] jkeenan commented on #16525
Would it be possible to provide URLs to smoke-test reports that (i) show the warning and then (ii) show that the warning is no longer being generated?

[2022-07-25 17:50] andk commented on #19983
Also affected: MBAILEY/Digest-OAT-0.04.tar.gz
Sample fail report: http://www.cpantesters.org/cpan/report/566f2156-0c40-11ed-8ab5-218bd7b38173

[2022-07-25 18:31] sisyphus opened #19995 "File-Find-1.39 (and later) breaks Module::Pluggable and Module::Find"
Module:
File::Find
Version 1.37 (which shipped with perl-5.32.x) is ok. I can't find version 1.38 in any stable perl release.
The problem is arising only with version 1.39 (which shipped with perl-5.34.0) and later.

**Description**

Module::Pluggable and Module::Find fail tests because of the new changes wrt Win32 symlinks support in File::Find.
Both MSVC-built and MinGW-built perls are affected

[2022-07-25 18:36] khwilliamson commented on #19983
On 7/25/22 12:22, James E Keenan wrote:

It's a hardare/configuration issue.  If the size of int and the size of
STRLEN, the problem won't manifest itself (in the GF2 case; I haven't
looked at the new one)

[2022-07-25 18:42] jkeenan commented on #19995
1. Has this been observed on any operating system other than Windows?
2. Would you be able to bisect this problem on Windows?  With an invocation (from a git checkout of the core distribution) something like one of these two:
[code]
(If Module::Find has fewer CPAN prerequisites that Module::Pluggable, use that instead.)

[2022-07-25 18:50] sisyphus commented on #19995
If it helps, here's the diff between File/Find.pm versions 137 and 1.39.
[code]
Also, there's some previous discussion about this starting at https://github.com/StrawberryPerl/Perl-Dist-Strawberry/issues/39#issuecomment-1193361855

[2022-07-25 18:51] jkeenan commented on #19983
Additional data:  On FreeBSD-12, where I normally compile with `clang10`, I compiled a perl at blead f9757a510d28a063aaf6e6503efaeb09604b2c96 using `gcc10` instead.  Math-FastGF2 installed successfully (albeit with build-time warnings), but Digest-OAT failed.
[code]
So this maybe an "OS + C-compiler" issue.

[2022-07-25 19:05] sisyphus commented on #19995
On Tue, Jul 26, 2022 at 4:42 AM James E Keenan ***@***.***>
wrote:

No. (Sorry - I should have made that clear.)
Apart from the bump of version number, there's only a couple of lines of
code that changed between version 1.37 and 1.39, and it's specifically
directed at MS Windows.

Seems like overkill to me.
If you look at the diff (that I submitted after you posted) I think (hope)
you'll see that

[2022-07-25 19:15] jkeenan commented on #19995
On 7/25/22 15:05, sisyphus wrote:

That diff encompasses a range of commits.  When we're diagnosing BBCs,
we try whenever possible to identify the exact commit that is associated
with the breakage.  The first start/end pair is a small range which I
suspect encompasses the range in your diff.

Attempting this bisection would have the additional benefit that it
would let us know whether Porting/bise

[2022-07-25 20:06] Ma-XX-oN opened #19996 "Returning undef returns a weird hash reference"
[code]

[2022-07-25 20:29] Ma-XX-oN commented on #19996
Note that I've suggested that the severity should be critical, as this appears to expose a memory corruption issue.

[2022-07-25 21:09] hvds commented on #19995
However since it appears to be an issue with symlinks, looking first at 0d00729c03 would seem like a reasonable thing to do.

If you want someone to check if bisection works on Windows, it would be better to ask for that specifically - ideally from someone that is already familiar with how the bisect tool works.

[2022-07-25 21:55] leonerd opened #19997 "Evaluation order of `EXPR->(...)` is confusing"
While Perl doesn't strictly *guarantee* evaluation order, it usually does pretty well at not surprising you, doing the right thing in most circumstances. In particular, when fetching elements out of array or hash references, or invoking methods:

[code]
(Ignore the fact that it died in this last example; the fact remains it evaluated the LHS and printed `"First"` before it evaluated the RHS and pr

[2022-07-25 22:34] leonerd commented on #19997
I suspect fixing this would be relatively simple, involving a flag on `OP_ENTERSUB` to tell it to look at the other end of the stack for the CV to invoke, and shuffling the way the optree is generated in these cases.

However, having done that it remains to be seen whether there's any breakage in core or CPAN, from code that somehow relies on this odd order of evaluation. There *probably* isn't mu

[2022-07-25 23:25] tonycoz commented on #19983
The result of the bug (which the C compiler warns about) in Math-FastGF2 is undefined behaviour - this means the result can be anything, the code might execute as the author expected, or it might smash the stack, or it might whistle a tune.

It's a long standing bug in Math-GF2 which the compiler has been warning about all along.

You listed the test result of Digest::OAT - do you see type mismatc

[2022-07-26 00:53] sisyphus commented on #19983
I see the same issue - there's just one instance of an <code>int</code> named "len" being provided as the second arg to SvPV().
The difference is that, with Digest::OAT, "len" is actually used later in the XSub, so we can't use SVPV_nolen() instead.
Changing the declaration of <code>int</code> to <code>STRLEN</code> fixes it for me.

Cheers,
Rob

[2022-07-26 02:50] jkeenan commented on #19983
Re-doing the work done in the `cpan` `.build` directory:
[code]

[2022-07-26 13:47] jkeenan commented on #19791
Re-closing as per schedule.

[2022-07-26 13:47] #19791 closed

[2022-07-26 13:58] jkeenan commented on #19462
I believe we should close this ticket, for the following reasons:

1. Storable-AMF is the only upstream distro still needing action.
2. The upstream maintainer has not responded to the [bug ticket](https://rt.cpan.org/Ticket/Display.html?id=141555) I filed in February about the problem.
3. There has not been a new release of this distribution in more than 6 years.

Hence, there's nothing more that

[2022-07-26 18:05] garu commented on #19997
It may be important to realize that the same behaviour happens on regular subroutine calls too, not just refs:

[code]

Both of them should have, in my opinion, failed with _"Can't use an undefined value as a subroutine reference"_ and _"Undefined subroutine &main::some_funcion called"_, respectively, without having called arguments at all. Which is exactly what would have happened if no side-effe

[2022-07-26 20:42] Leont commented on #19995
Agreed

[2022-07-27 02:47] sisyphus commented on #19995
I just want to point out that, for the purposes of understanding what has changed between perl-5.32.x and perl-5.34.0, one only has to look at the changes in that commit that were made to Find.pm.
AFAICT, all of those other changes were made for testing purposes - none of them have any affect on the perl that actually gets installed.

So, ignoring the Find.pm version bump, the only code changes we

[2022-07-27 08:00] andk commented on #19983
Also affected: SERG/Lingua-RU-Translit-0.02.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/01fd58c6-0d68-11ed-a170-054335d591d0

[2022-07-27 10:31] Leont commented on #19995
Both MSVC-built and MinGW-built perls are affected in the same way.

Can you actually describe the difference in results between 1.37 and 1.39. That would help in figuring out what is truly going on.

Just a wild hunch: what do the first two values of `stat` return? There's some deduplication going on in `Follow_SymLink`, if `$DEV` and `$INO` always have the same values, it would erroneously concl

[2022-07-27 10:35] demerphq commented on #19986
Note that the second case seems to be designed to handle single character vars ONLY. It only moves one character from *s into *d. I guess i noticed that it actually handles longer variables as well and patched the ascii variant to detect this particular error when I should have noticed that it is firing on variable names longer than one character.

[2022-07-27 10:38] iabyn commented on #19996
On Mon, Jul 25, 2022 at 01:06:59PM -0700, Ma-XX-oN wrote:

Your bug report is very hard to understand, because you've just thrown an
800 line file of code at us, then shown us page after page of debugging
output.

But what I *think* you're seeing is just the side-effect of calling a
function for each debugging step, which happens to auto-vivify
$nextNextColourStruct.

Running the debugger session

[2022-07-27 12:00] jkeenan commented on #19983
This behaves similar to Digest::OAT, *i.e.,* on FreeBSD-12 it installs successfully against a blead perl compiled with clang10 (albeit with a lot of build-time warnings), but segfaults when that perl is compiled with gcc10.

[2022-07-27 12:02] demerphq commented on #12948
See https://github.com/Perl/perl5/pull/20000

[2022-07-27 12:02] demerphq commented on #19986
See https://github.com/Perl/perl5/pull/20000

[2022-07-27 14:04] Leont commented on #19995
A symlink. Any symlink.

[2022-07-27 15:44] ilmari commented on #19997
Just a nitpick: something being "undefined behaviour" means a construct is invalid and has no meaningful semantics. That is not the case here, the order of operations between resolving the function evaluating its arguments is merely unspecified.

[2022-07-27 16:12] demerphq commented on #19997
On Mon, 25 Jul 2022 at 23:55, Paul Evans ***@***.***> wrote:

Just for the record, IMO the inconsistency between the different types of
invocation should be seen as a bug. We may not specify which order, but I
think that should not be taken as a good reason for them to be inconsistent
with each other.

yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-07-27 16:24] MartijnLievaart commented on #19997
To be pedantic, a side effect of evaluating the argument could be setting the reference, respectively defining the function. However, I can't think of a circumstance where that makes sense, and the fix is easy, just evaluate the argument manually before calling the function.

Agree.

M4

[2022-07-27 16:29] demerphq commented on #19633
On Mon, 25 Jul 2022 at 06:13, jeremyhetzler ***@***.***>
wrote:

This is one way, perhaps even a good way for your specific case but IMO it
isnt a generic solution. I proposed a more generic alternative in a
different PR in the last dev cycle. Basically UNIVERSAL::import() should
exist and trap these cases so we get a proper error message. Currently
WHATEVER::import() is special cased to not throw

[2022-07-27 16:34] leonerd commented on #19997
This *would be* relatively simple if there were any spare flags. But there aren't. All 8 bits (plus the cheeky 9th `OPf_SPECIAL` flag) are already defined in use for something or other. Though not all of them are easy to track down why they're being used.

Bits used by `pp_entersub` itself are definitely out:

 * **Private bit 0**: `OPpENTERSUB_INARGS`; (badly named; should be `_ARGS_HAS_LVAL`) re

[2022-07-27 16:45] garu commented on #19997
question: even if we can somehow pull it off for this particular issue, aren't we just postponing having to deal with this (again) later on? Are the any long(er)-term refactor/solutions we can explore so our future selves don't bump into this wall again?

[2022-07-27 16:50] garu commented on #19997
[code]

Talk about building the plane while flying It 😅

[2022-07-27 16:57] ilmari commented on #19997
`do SUBROUTINE(LIST)` [was removed in 5.20.0](https://perldoc.perl.org/perl5200delta#do-can-no-longer-be-used-to-call-subroutines), why does `B::Deparse` still care?

[2022-07-27 17:08] leonerd commented on #19997
Ahah! Maybe it doesn't, perhaps it's an old leftover from that. I'll try just removing that code and see what breaks. Maybe we can reüse the OPf_SPECIAL bit after all..

[2022-07-27 17:10] leonerd commented on #19997
Another possible approach may be that we can reclaim that HINT_STRICT_REFS bit. It's only used in a relatively slow `UNLIKELY()` path within `pp_entersub` anyway and so far on testing with a little assert, it seems always identical to the value you'd look up from the more conventional `CopHINTS(PL_curcop) & HINT_STRICT_REFS` anyway. Maybe we don't need to bake that value into the op_private during

[2022-07-27 17:12] ilmari commented on #19997
Because I failed to remove the relevant block in the above commit. See #20001.

[2022-07-27 17:23] jkeenan commented on #19801
A new version (v0.3.5) has been uploaded to CPAN.  It passes tests for me on both Linux and FreeBSD.  I'm self-assigning this ticket for the purpose of closing it within 7 days unless new problems are reported.

[2022-07-27 17:24] bram-perl opened #20002 "Fragile code in locale.c: 'Perl_init_i18nl10n'"
There is a bit of - what I consider - fragile code in locale.c with regards to handling of `curlocales[]`.

In **theory** it:
- can cause a double free
- can leak memory

In **practice** however with the current code neither the mem leak nor the double free can happen.
But slightly modifying the code can cause it to blow up which is why I consider the code to be a bit too fragile.

<details>
  <su

[2022-07-27 21:16] jeremyhetzler commented on #19633
On Wed, Jul 27, 2022 at 12:29 PM Yves Orton ***@***.***> wrote:

Yves,

That sounds like a good solution.

Any hopes of getting your patch accepted?

Thanks,
Jeremy

[2022-07-28 01:11] tonycoz commented on #19983
That's a yes.  From `OAT.xs`:
[code]

From `Translit.xs`:
[code]

Same bug.

[2022-07-28 02:15] xenu commented on #19995
@nanis implemented a fix for this issue a few months ago, but it was never submitted as a PR. He wrote about it on his blog ([part 1](https://www.nu42.com/2021/09/implementation-by-wishful-thinking.html), [part 2](https://www.nu42.com/2021/09/canonical-paths-file-find-way-forward.html)).

It's a hack, but I don't think we could do better without completely rewriting File::Find. That module is a me

[2022-07-28 02:36] osir3z commented on #7309
After trying `:encoding(...)` and finding the warnings and `perlqq` output unsatisfactory, I discoved `$PerlIO::encoding::fallback` (which btw should be easier to find out about) and tried setting it to `FB_DEFAULT`. Of course, that's when I discovered the issue(s) discussed here.

## Workaround

After several hours investigating and experimenting, I've come up with a workaround:

For example, to

[2022-07-28 04:14] andk commented on #19983
Also affected: AUDREYT/Locale-Hebrew-1.05.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/c61c517e-0e28-11ed-af95-e2a2dbbe1b49

[2022-07-28 04:57] sisyphus commented on #19995
@Leont, I can't create a symlink on either my Windows 7 system or my Windows 10 laptop (where the same issue exists), and I wondered if that in itself was at the root of the problem.
It would be interesting to know if the same issue was arising on Windows 7 & 10 systems where symlinks were creatable either with or without admin privileges.
According to google it's pretty simple to make the creatio

[2022-07-28 08:26] xenu commented on #19995
And here it is: #20008

[2022-07-28 09:00] demerphq commented on #19633
On Wed, 27 Jul 2022 at 23:16, jeremyhetzler ***@***.***>
wrote:

There seemed to be some appetite for it, yes. It got caught up in some
other questions and was big enough a change that it was parked until this
dev cycle. Ill try to find time to bring it back to life.

Possibly we should do your patch AND my patch. Have you looked into your
patches performance implications? Whenever the idea of doi

[2022-07-28 10:15] demerphq commented on #12948
@bram-perl I added a bunch of tests to validate things. One thing you missed in your analysis was that my patch (somewhat accidentally) changes S_scan_ident so it parses an entire var more often than it used to, which is what is responsible for the change from a run time var for ${10} to a compile time var for ${10}. My latest version of the patch in #20000 now does it consistently for both unicod

[2022-07-28 13:29] demerphq commented on #12948
On Thu, 28 Jul 2022 at 14:25, Bram ***@***.***> wrote:

Heh. Too late. Running make test right now. ;-p

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-07-28 16:13] Ma-XX-oN commented on #19996
800 line file of code at us, then shown us page after page of debugging
output.

Sorry about that.  I wasn't sure how to minimize the code and I was at my wits end trying to figure out what was going on.

function for each debugging step, which happens to auto-vivify
$nextNextColourStruct.

Oh wow.  I didn't realise that this would be persistent.  I.e. that passing a var as a hash reference, but w

[2022-07-28 16:13] #19996 closed

[2022-07-28 16:54] leonerd commented on #19997
OK. So... Thanks to @ilmari tidying up the use of OPf_SPECIAL on OP_ENTERSUB, I now have a branch that attempts to fix this. It does so by defining that the flag now tells pp_entersub to expect to find the CV as the first value on the stack, rather than than the final one. A few bits of code around opcheckers need fixing up but overall it seems to work OK.

The one downside to it is that because o

[2022-07-28 17:15] andk opened #20009 "BBC: CARWASH/Acme-AwesomeQuotes-0.02.tar.gz"
**Description**

Starting with commit 4c8c99df

[code]
there is a `panic: regrepeat() called with unrecognized node type 28='ANYOFHbbm' at /tmp/makeperl-260Rbo/Acme-AwesomeQuotes-0.02-0/blib/lib/Acme/AwesomeQuotes.pm line 51.`

Sample fail report: http://www.cpantesters.org/cpan/report/e4903b28-0e84-11ed-a29d-b702e1be1b49

**Steps to Reproduce**

cpan -i CARWASH/Acme-AwesomeQuotes-0.02.tar.gz

**E

[2022-07-28 17:44] osir3z commented on #7309
Thanks to @Leont this issue should be resolved in Perl 5.34.0 and later.

The solution allows you to set whatever value you like for `$PerlIO::encoding::fallback`, but every time you use `:encoding(...)`, that value is sanitised (using the same logic as the workaround below) before it is actually used by the encoder/decoder.

## Workaround

For versions before Perl 5.34.0, always clear the `LEAVE_

[2022-07-28 19:03] hvds commented on #19997
In case it is of use, a simple grep for `/\w->\(/` and `/\W->\(/` in my main maths codebase (https://github.com/hvds/seq) finds 74 of 84 occurrences are of a simple variable (which will typically always be lexicals in my code); the others are picking the subref out of a structure, like:
[code]

[2022-07-28 20:32] khwilliamson commented on #20009
This should now be fixed by https://github.com/Perl/perl5/commit/8fbe3f6f1f4601bcc57d08281926626130213069

[2022-07-28 22:11] apparluk opened #20010 "remove username from repo"
I want to have my name, e-mail address and username, removed from the repo.

affected files

.mailmap
AUTHORS
Porting/checkAUTHORS.pl

Would a PR removing the relevant lines suffice, or if any of the above files are auto generated, and would be recreated, are there special instructions to remove the relevant lines?

If special instructions are indicated please provide these.

[2022-07-28 22:20] Leont commented on #20010
Given two of those are generated from git history, it's currently not possibly. But I guess it could be made possible (by using a hash of some sort to filter you out).

[2022-07-28 22:46] apparluk commented on #20010
I neglected to mention the file pod/perl5340delta.pod.

[2022-07-29 06:04] flynn1973 opened #20012 "Core Dump while building from source on AIX"
Module:

**Description**

While trying to build 5.36.0 on AIX with gcc, i get the follwing exception during "make install"
[code]
As seen, it uses the fresh built perl  from the sourcetree which seems not ready for this task .
If i  do it manually with miniperl no exeption occurs.
[code]
there is a second occurence later in the install process also runable in miniperl
[code]

**Steps to Reproduce*

[2022-07-29 07:30] demerphq commented on #19996
On Wed, 27 Jul 2022 at 12:38, iabyn ***@***.***> wrote:

$ perl -MData::Dumper -e'sub f {} print Dumper $x; f(%$x); print Dumper $x'

FWIW, I dont think I agree.

Unless f() has a prototype to accept a hash as an argument it seems to me
that $x should not be autovivified. When passing a listified hash we should
pass a LIST, and the operation on the $x var should be equivalent to an
RVALUE use case

[2022-07-29 07:32] demerphq commented on #19996
On Fri, 29 Jul 2022 at 09:30, demerphq ***@***.***> wrote:

Obviously that should say "the $x should NOT be seen to be in LVALUE
context here".

cheers,
Yves

[2022-07-29 08:37] demerphq commented on #19996
I created a new ticket outlining my concerns: https://github.com/Perl/perl5/issues/20013

[2022-07-29 12:40] Leont commented on #20012
Can you get us a backtrace with some debugger?

[2022-07-29 17:00] flynn1973 commented on #20012
yep, will do it monday

[2022-07-29 18:15] hvds commented on #20012
If that is not enough to make things obvious, other useful data points would be whether it also crashes if built without optimization, and the results from `make minitest`.

[2022-07-29 19:12] apparluk commented on #20010
Presently there are no commits to the repo, consequently no git history, associated with this username.

`https://github.com/Perl/perl5/commits?author=`

Perhaps a Contributor would oblige and remove these lines, which would not result in a git history associated with this username.

.mailmap

[code]
AUTHORS

[code]

Porting/checkAUTHORS.pl

[code]
pod/perl5340delta.pod

[code]

[2022-07-29 19:53] rwp0 commented on #20010
@apparluk Sorry, but why would you like to remove your name from the authors?

[2022-07-29 20:10] Leont commented on #20010
Like I said before, `.mailmap` and `AUTHORS` are generated files, so there's no point to manually removing them: they'd be added back on regeneration.

`Porting/checkAUTHORS.pl` is the source of the link between the two, I'm not sure we can remove that without things breaking. I suspect we need to block your email first if we don't want to break tests.

The `perl5340delta` entry can be fixed easil

[2022-07-29 21:03] andk commented on #19983
Also affected: IWOODHEAD/Bloom16-0.01.tar.gz
Fail report: http://www.cpantesters.org/cpan/report/15858c26-0f73-11ed-b6a6-d422d4038d6b

[2022-07-29 21:52] jkeenan commented on #20009
Initial bug report and subsequent fix verified on FreeBSD.  Smoke test reports good.  `make minitest` also PASSes.  Closing ticket.

[2022-07-29 21:52] #20009 closed

[2022-07-29 22:16] iabyn commented on #19985
On Fri, Jul 22, 2022 at 09:23:46AM -0700, Paul Marquess wrote:

Now fixed in blead by the following commit. Note the comment about the
lack of testing!

    commit 5d7d8ffc298134400c054265830d47abb6ee7845
    Author:     David Mitchell ***@***.***>
    AuthorDate: Fri Jul 29 22:39:53 2022 +0100

    formats: fix splitting on non-spaces

    GH #19985

    formats have a mode where they can repeate

[2022-07-29 23:31] jkeenan commented on #19983
Given the amount of CPAN breakage that has been attributed to https://github.com/Perl/perl5/commit/1ef9039bccbfe64f47f201b6cfb7d6d23e0b08a7, I think it's time for us to consider reverting this commit.

@khwilliamson, can you investigate?

[2022-07-30 00:00] apparluk commented on #20010
IIRC the following line in `win32/{GNUmakefile,Makefile}` was added via patches I submitted.

`# VS 2017 (VC++ 14.1) requires at minimum Windows 7 SP1 (with latest Windows Updates)`

That was prior to development transitioning to GitHub, and I don't think there's any code I wrote in the repo since that transition.

[2022-07-30 12:49] Leont commented on #20010
b998bd1a4a2c4e35a119ea73c7650a26e0060950

[2022-07-30 14:21] pmqs commented on #19985
I've used a format with fill-mode in [zipdetails](https://github.com/pmqs/zipdetails) for years and not noticed this issue. Only spotted it because I has a zip file that happened to include filenames with hyphens in one of my unit tests --  worked with a pre 5.20 Perl, but failed with newer versions.

Anyway, good to see it fixed so quickly.

[2022-07-30 14:21] #19985 closed

[2022-07-30 17:55] rakhard opened #20018 "Failed test 'mtime preserved by copy() while testing cross-partition'"
Tried different MSVC and Perl versions.
[code]

**Steps to Reproduce**
Build using win32/Makefile in accordance with the README.win32

**Perl configuration**
[code]

[2022-07-30 19:22] jkeenan commented on #20018
@mikhail-rakhmanov, for my own analysis I stripped down `lib/File/Copy.t` to the following program, which ran without incident on both Linux and FreeBSD.
[code]
Could you try it on your Windows system(s) and tell us if you got the same failures?

We'll need to have this examined by people with more Windows experience than me.

@xenu, @sisyphus, @tonycoz, @craigberry

[2022-07-30 19:30] mikhail-rakhmanov commented on #20018
[code]

[2022-07-30 19:45] cjg-cguevara opened #20020 "BBC: Blead Breaks Sub::Metadata"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.37.3.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Sub::Metadata

Please see http://matrix.cpantesters.org/?dist=Sub::Metadata

[Please do not change anything below this line]
--------

[2022-07-30 19:48] jkeenan commented on #20018
...

Do you have any insight into why, on your system, applying `utime()` to modify the access and modification times of the test file caused those times to be recorded as 3600 seconds -- one hour -- greater than the time arbitrarily provided?

[2022-07-30 20:03] Leont commented on #20018
@mikhail-rakhmanov what timezone are you in?

[2022-07-30 20:04] Leont commented on #20020
Fix submitted as #20021

[2022-07-30 20:16] mikhail-rakhmanov commented on #20018
UTC+03 Moscow was the issue
I changed it, and now test successful.

[2022-07-30 20:18] jkeenan commented on #20018
Thanks for your quick responses.  Since the test now passes, I am closing this ticket.

[2022-07-30 20:27] apparluk commented on #17227
You can use this if a formatted main repo page is preferred.

There's only a slight adjustment with indentation on some lines.

GH defaults to top level .md, .pod and .rst README files when rendering the main repo page.

[code]

[2022-07-30 20:36] jkeenan commented on #20020
Bisection points to the following commit:
[code]
That's consistent with @Leont's diagnosis and fix in https://github.com/Perl/perl5/pull/20021.  I'm now testing that branch and will merge it to blead once testing is completed satisfactorily.

[2022-07-30 20:56] apparluk commented on #20010
If removal of the content it is too much trouble, I could just use a different GitHub account and e-mail address.

I presume in the foregoing that a merged commit - using a different GitHub account and e-mail address - would overwrite the current information in .mailmap, AUTHORS and Porting/checkAUTHORS.pl.

[2022-07-30 21:31] jkeenan commented on #20020
Should be fixed by https://github.com/Perl/perl5/pull/20021, now merged to blead.

[2022-07-30 21:34] Leont commented on #20010
I'm sure it can be done, but it requires code and someone will need to write that first.

I'm not sure what you mean with that. What would a merged commit have to do with it? And no information would be overwritten in .mailmap, it only gets information added (AUTHORS we can redirect using Porting/checkAUTHORS.pl).

[2022-07-30 21:42] #20020 closed

[2022-07-31 15:40] #20002 closed

[2022-07-31 19:28] apparluk commented on #20010
my misunderstanding

Where a Committer has used more than one e-mail address multi-line Committers' entries appear in `Porting/checkAUTHORS.pl`, and, like you indicated before git history plays a role in generation of two repository files, so, using a different GitHub account and e-mail address wouldn't result in overwriting `.mailmap` and the old content would remain in `Porting/checkAUTHORS.pl`.

[2022-08-01 01:20] tonycoz commented on #19824
Could you please make a new issue for the other problems?

Thanks

[2022-08-01 04:59] tonycoz commented on #19995
You should be able to create a symlink in an elevated shell on either[^1], using `mklink` or symlink in perl.

For a fully updated windows 10, you can enable developer mode and normal users will be able to create symbolic links.

Perl's symbolic link creation support depends on an API added in Vista.

[^1]: unless you tested on a non-NTFS filesystem.

[2022-08-01 05:53] demerphq commented on #20010
On Sun, 31 Jul 2022, 21:28 apparluk, ***@***.***> wrote:

Forget checkAUTHORS. It is not your problem to solve.

The fundamental problem is you created a patch which added yourself to
AUTHORS and added a github user id to the list of committers.

We can arrange to remove the AUTHORS entry, and we can set up .mailmap to
cause your details to be hidden on github and in casual use of git tooling,
how

[2022-08-01 08:20] flynn1973 commented on #20012
truss output:
[code]

[code]

something is missing in lib/auto/Cwd/. no idead what Cwd.bs is.

[code]

[2022-08-01 08:26] flynn1973 commented on #20012
make minitest failed one test
[code]

[2022-08-01 08:32] flynn1973 commented on #20012
building without optimization changes nothing

[2022-08-01 13:36] sisyphus commented on #19824
The other issue has now been raised at https://github.com/Perl/perl5/issues/20024 .
I think this Issue can now be closed.

Cheers,
Rob

[2022-08-01 13:46] #19824 closed

[2022-08-01 14:23] flynn1973 commented on #20012
no, optimization was  always O2.  make test dumps at same task (./perl -Ilib -I. -f pod/buildtoc -q).

[2022-08-01 14:51] demerphq commented on #20012
On Mon, 1 Aug 2022 at 13:11, flynn1973 ***@***.***> wrote:

Seems like it hits yacc/bison code and clobbers the stack.

buildtoc exercises a surprising amount of perl and often blows up when
there is a bug, but clobbering the stack like that is new to me.

The minitest failure you mention makes me wonder if there is some confusion
about the size of the floats and things like that on your platform.