[2022-02-22 11:31] andk opened #19450 "BBC: Bleadperl breaks STEVAN/MOP-0.14.tar.gz"
**Description**

My smokers have stopped producing PASS reports. Bisect leads me to
[code]
Sample fail reports will appear soon on http://matrix.cpantesters.org/?dist=MOP+0.14

**Steps to Reproduce**

cpan -i STEVAN/MOP-0.14.tar.gz

**Expected behavior**

Should install the module

**Perl configuration**

[code]

[2022-02-22 13:04] jkeenan commented on #19449
Is this the same phenomenon as was reported in [RT 21903](https://rt.cpan.org/Ticket/Display.html?id=21903)?

[2022-02-22 13:10] jkeenan commented on #19450
Here are the failures I'm getting when trying to install MOP against a threaded build of perl on FreeBSD-12 at v5.35.9-7-g8432359dfe):
[code]

[2022-02-22 13:13] jkeenan commented on #19450
@nwc10, @stevan can you take a look?

[2022-02-22 13:40] nwc10 commented on #19450
It fails an assertion. Close-to-minimal test case:

[code]

[2022-02-22 14:05] khwilliamson commented on #18756
On 2/20/22 21:34, Yves Orton wrote:

Thanks, but I'm not so sure it's ready to be de-experimentalized.

Are we sure we have the correct semantics?  I am now thinking it should
be a mirror of the lookahead assertions, starting at 0, then -1, -2, ...
That would be the most intuitive, and would mean no real performance
penalty for long lookbehinds.

So, some background information.

A few of the worl

[2022-02-22 14:20] nwc10 commented on #19450
Sorry, I was too terse. It - the module. (In its regression tests):

[code]

You'll need C assertions enabled, which isn't the default. I think the usual way to enable them is to add `-DDEBUGGING` to the `./Configure` command line.

But I happened to test with an unthreaded build, so it might *just* be that they differ.

Certainly, I have a test case that exposes one bug, which is a good start.

[2022-02-22 18:40] jimav commented on #19449
Yes, it appears so.   The problem in the Perl impl. probably is `_dump()` in the code snippet shown below, where it forces strings which contain only digits to be formatted as numbers.   Perhaps this can be improved by using checks like those in JSON::PP, and not do this when `$val` is certain to be a string.
[code]

[2022-02-22 21:13] eserte opened #19452 "BBC: Blead Breaks RIBASUSHI/DBIx-Class-0.082842.tar.gz"
t/53lean_startup.t started to fail with perl 5.35.9:
[code]

@ribasushi FYI

[2022-02-22 22:04] haarg commented on #19452
This is caused by #19415, and was an expected failure after merging.

@Leont has provided [a patch for DBIx-Class](https://www.nntp.perl.org/group/perl.perl5.porters/2022/01/msg262394.html) which should fix this.

[2022-02-22 22:09] Leont commented on #19452
I pull requested this as [#143](https://github.com/Perl5/DBIx-Class/pull/143)

[2022-02-22 22:48] jkeenan commented on #18960
@nwc10, would you be able to look at the list of "Closable or Rejectable" Data-Dumper tickets in RT above?

We're starting to get GH issues for bugs previously reported in RT.  I'm willing to do the work of creating new GH issues for the non-closable tickets in RT, but would like to reduce the number of open tickets first.

Thank you very much.
Jim Keenan

[2022-02-22 23:18] ribasushi commented on #19452
@eserte known, DBIC workaround will be shipped in couple weeks or so.

[2022-02-22 23:33] jkeenan commented on #17015
The remaining build-time warnings being emitted by Scalar-List-Utils have been cleared up as per https://rt.cpan.org/Ticket/Display.html?id=136985 and subsequent synch into blead.  This ticket is now closable.

[2022-02-22 23:33] #17015 closed

[2022-02-22 23:36] jkeenan commented on #19429
The Scalar-List-Util build-time warnings discussed in this ticket have been addressed.  Closing.

[2022-02-22 23:36] #19429 closed

[2022-02-23 00:36] jkeenan commented on #17014
Status unchanged as of 765cd54646 (Feb 22 2022).

[2022-02-23 03:17] demerphq commented on #18756
On Tue, 22 Feb 2022 at 15:05, Karl Williamson ***@***.***>
wrote:

Indeed.

Or five? :-)

I am curious on what grounds you say "ideally" here?  This isn't a
"regular" construct, I do not think you can convert lookbehind into a true
DFA construction (eg, one that moves left to right and inspects each byte
only once), therefore there doesn't seem to be an ideal here at all. This
is demonstrated by t

[2022-02-23 03:21] demerphq commented on #18756
On Wed, 23 Feb 2022 at 04:17, demerphq ***@***.***> wrote:

Correction. Where I said:

for instance /(?=\xDF)/i should be equivalent to /(?=\xDF|[sS][sS])/. The

I meant:

for instance /(?<=\xDF)/i should be equivalent to /(?<=\xDF|[sS][sS])/. The

Yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-23 03:34] demerphq commented on #18756
On Mon, 21 Feb 2022 at 03:16, demerphq ***@***.***> wrote:

Consider the pattern

I realized after playing with this a bit that I was wrong about these
conversions and I now am inclined to think that there is no clear DFA
construction for lookbehind.

[a-z]+(?<!m+)

would match "mmmmmmma" so it can't be the same as /[a-ln-z]+/, it would be
the same as /[a-z]*[a-ln-z]+/

But I dont think this is a

[2022-02-23 03:42] khwilliamson commented on #18756
On 2/22/22 20:17, Yves Orton wrote:

I think now I was wrong.  I think we have to fill groups L-R, so that $1
corresponds to the group begun by the leftmost left parenthesis; and
that means we can't do a mirror image.

So maybe the semantics are currently fine.

[2022-02-23 03:43] demerphq commented on #18756
On Tue, 22 Feb 2022 at 15:05, Karl Williamson ***@***.***>
wrote:

Ok, well I have removed the de-experimentalization patch from
https://github.com/Perl/perl5/pull/19442

IMO we need to get that merged in time for 5.36.0 whatever we do. The
current implementation is just buggy.

Yves

[2022-02-23 03:54] demerphq commented on #18756
On Wed, 23 Feb 2022 at 04:42, Karl Williamson ***@***.***>
wrote:

We will violate the expectations of alternation with our current base
implementation *whatever* we do. Changing the order we try things doesn't
help. With max-left to min-left we will do /(?<=(a|aa))/ and
/(?<=(a{1,2}?))/ wrong.. With min-left to max-left we will do /(?<=(aa|a))/
and /(?<=(a{1,2}))/ wrong.

We can't fix this proble

[2022-02-23 04:08] demerphq commented on #19449
On Tue, 22 Feb 2022 at 19:40, Jim Avera ***@***.***> wrote:

Personally I dont consider this a bug. "0" and 0 are essentially
indistinguishable under perl rules.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-23 06:10] jimav commented on #19449
If freeze/that was the only purpose of Data::Dumper then I'd agree, for the most part (although it's hard to say that changing a utf-8 character to a number could never change program behavior).

Regardless, helping humans debug is a major purpose of Data::Dumper, and faithfully showing the nature of a datum can help track down the source of botched values.  Showing the result of, say, `substr($ut

[2022-02-23 06:11] demerphq commented on #18756
On Wed, 23 Feb 2022 at 04:54, demerphq ***@***.***> wrote:

Please review and let me know if you have any objections to it being
merged. I have other patches queuing which expect to apply on top of it.

I have pushed the above as:

https://github.com/Perl/perl5/pull/19455

as an alternative to

https://github.com/Perl/perl5/pull/19454

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker

[2022-02-23 06:30] demerphq commented on #19449
On Wed, 23 Feb 2022 at 07:11, Jim Avera ***@***.***> wrote:

I'd say that anyone using Data::Dumper as a *storage* tool is mad. It
simply cannot round trip data properly. And there is no safe way to eval
the data back.

perl -MData::Dumper -le'my ($x,$y); $x=\$y; $y=\$x; $c= [$x,$y]; print
Dumper($c); my $ar=[]; $ar->[0]=\$ar->[1]; $ar->[1]=\$ar->[0]; print
Dumper($ar);'
$VAR1 = [
          \\$VAR

[2022-02-23 09:14] #19450 closed

[2022-02-23 12:00] demerphq commented on #18756
On Wed, 23 Feb 2022 at 12:49, Hugo van der Sanden ***@***.***>
wrote:

Fair and reasonable.

I think the /i case is handled differently than the true alternation case.
 FWIW, people *did* know, for instance

https://www.regular-expressions.info/lookaround.html

mentions that our implementation is buggy. But they didnt tell us I guess.
:-(

@jkeenan <https://github.com/jkeenan> asked at the top of

[2022-02-24 15:44] itsme300 opened #19458 "Empty url passed for Mojo::Useragent Transactor"
The below code hits 2 urls(jira and jfrog) which are store in a hash. Since hash values are read randomly, the error mentioned is reproduced 100% if jira is read first.

`my %urls = (
			'jira' => {
						'url' => 'https://jira.com:123/rest/api/2/issue/',
						'token' => 'JIRA_TOKEN'
						},
			'jfrog' => {
							'url' => 'https://jfrog.com/artifactory/api/storage/path/to/artifacts',
							'to

[2022-02-24 16:11] jkeenan commented on #19458
Are you alleging a bug in the Perl 5 core distribution?  If not, then this is not the appropriate place to report this problem.

[2022-02-24 19:20] itsme300 commented on #19458
I think the problem is with the module Mojo::UserAgent Transactor

[2022-02-24 20:21] #19458 closed

[2022-02-24 20:47] khwilliamson commented on #16779
On 2/19/22 06:22, Yves Orton wrote:

This has caused me to realize that the pod for this feature (in
perlrecharclass) should be rewritten as now in

https://github.com/Perl/perl5/pull/19459

The idea of assembling a pattern from smaller interpolated components
(usually scalars) led to problems in implementation and use.  We had to
add \g{} beyond the initial \g, as an example, so as to allow the
p

[2022-02-25 04:36] demerphq commented on #16779
On Mon, 9 Dec 2019 at 20:26, Karl Williamson ***@***.***>
wrote:

But this assumes that it is coming from a stringified qr// object from the
current process.

Something like Sereal will extract the modifiers and then store them
independently from the pattern so that when it constructs a qr// it is
constructed properly using a function like regexp_pattern.

use re qw(regexp_pattern);
my $qr=qr/[a-z

[2022-02-25 07:58] andk opened #19460 "BBC: Blead breaks OVID/Acme-Dot-1.10.tar.gz"
**Description**

My smokers have stopped producing PASS reports for both
- OVID/Acme-Dot-1.10.tar.gz and
- DAVECROSS/Tie-Hash-Cannabinol-v1.12.2.tar.gz

Bisect leads to
[code]

**Steps to Reproduce**

cpan -i Acme::Dot

or

cpan -i Tie::Hash::Cannabinol

**Expected behavior**

tests should pass and modules should be installed

**Perl configuration**

[code]

[2022-02-25 09:23] haarg commented on #19460
Tie::Hash::Cannabinol relies on a feature of Attribute::Handlers that was broken before, but is now more broken. I've created a PR trying to address this: #19461

Acme::Dot attempts to search further up the call stack from where its import method is called, but it's not obvious what it expects `caller(1)` to even represent. It seems like it only previously worked by accident.

[2022-02-25 16:44] andk opened #19462 "BBC: Blead breaks GRIAN/Storable-AMF-1.23.tar.gz"
**Description**

Commit v5.35.8-110-gbb5bc97fde/da1c (https://github.com/perl/perl5/commit/bb5bc9) stopped also GRIAN/Storable-AMF-1.23.tar.gz from succeeding with the test suite. We had this commit already in https://github.com/Perl/perl5/issues/19450 ; that issue has been closed, but the fix provided over there does not help for Storable::AMF 1.23 ; you can already find sample fail reports on ht

[2022-02-25 17:18] andk commented on #19462
Also affected: BRUMMETT/Devel-Chitin-0.18.tar.gz

[2022-02-25 18:52] jkeenan commented on #19462
[snip]

Failures confirmed with the following recent build on FreeBSD-12:
[code]

[2022-02-25 18:57] jkeenan commented on #19462
Partial output:
[code]

[2022-02-25 18:59] jkeenan commented on #19462
@nwc10, can you take a look?  ^^ Thanks.

[2022-02-25 19:03] jkeenan commented on #19460
commit f6387cff9cb31db4cf18c8641917ea4639ac2b65
Author:     Yves Orton <demerphq@gmail.com>
AuthorDate: Mon Feb 14 07:34:54 2022 +0100
Commit:     Paul "LeoNerd" Evans <leonerd@leonerd.org.uk>
CommitDate: Sat Feb 19 11:23:43 2022 +0000

@demerphq @leonerd , can you take a look?  Thanks.

[2022-02-25 22:12] Leont commented on #19462
The Storable::AMF tests literally do stuff like this:
[code]
Clearly, that is no longer going to work. Looks like these tests should be adapted to that expectation.

[2022-02-25 22:16] Leont commented on #19462
Devel::Chitin is using B for some deep introspection. It's calling `$sv->PV` on B::SV values that no longer have a PV.

I'm not sure how to handle this, possibly this needs a fix in B.

[2022-02-25 22:19] Leont commented on #19460
@Ovid

Yeah, this very much looks like a case of "this only worked accidentally", and given it's an Acme module I'm not sure we should care.

[2022-02-25 22:22] jkeenan commented on #19462
I think we're going to need some stock explanation of why and how downstream code must change to adapt to the (1 character!) change in https://github.com/Perl/perl5/commit/bb5bc9.  An explanation that an ordinary Perl user -- someone without a deep understanding of XS or `sv.c` can understand.  An explanation that we can paste into a bug ticket for an affected CPAN module.

Any suggestions?

[2022-02-25 22:23] jkeenan commented on #19462
@iabyn, @tonycoz, @atoomic, @toddr -- can you take a look ^^?

[2022-02-25 23:00] toddr commented on #19462
The code in question appears to be https://github.com/brummett/Devel-Chitin/search?q=%24sv-%3Epv

I can't tell if it's in a higher call but it seems like they need to do something like:
[code]

Before they can safely do `$sv->PV`. They're not and so it's failing 🤷🏻

[2022-02-25 23:23] Leont commented on #19462
That is one approach. The other would be to also return a string if POKp is set. I'm currently leaning to that, but I'm maybe I'm not seeing some repercussion of that.

[2022-02-26 00:34] jkeenan commented on #19462
Ticket opened upstream at [RT 141554](https://rt.cpan.org/Ticket/Display.html?id=141554).

[2022-02-26 00:42] jkeenan commented on #19462
Ticket created upstream at [RT 141555](https://rt.cpan.org/Ticket/Display.html?id=141555).

Thank you very much.
Jim Keenan

[2022-02-26 01:23] aquanight opened #19463 "-DXvt crashes in strict.pm"
**Description**
Under -DDEBUGGING, the debug flags Xvt (-DXvt or $^D = "Xvt" at runtime) crashes when strict.pm is loaded via require/use.

**Steps to Reproduce**
Perl must be built with -DDEBUGGING
perl -DXvt -Mstrict -e 'print "Hello\n"'

**Expected behavior**
The requested debug output (Xvt traces execution and dumps PADs and reports when CVs are cloned) alongside executed script behavior.

**A

[2022-02-26 01:58] jkeenan commented on #19463
Problem reproduced on blead on FreeBSD-12:
[code]

[2022-02-26 02:41] hvds commented on #19463
Bisecting with:
[code]
points to commit ed958fa315. It looks like the crash is triggered by the attempt to inject a couple of constant subs in a BEGIN block: removing the prototype from `all_bits` and `all_explicit_bits` is enough to stop it crashing.

I'll try to look further tomorrow if I can make time, but please don't let that stop anyone else from investigating. :)

[2022-02-26 02:42] demerphq commented on #19460
On Fri, 25 Feb 2022 at 23:19, Leon Timmermans ***@***.***>
wrote:

Yes, I agree.  The logic doesn't make sense at multiple levels.

It happened to work because the test code executes in main, and caller(1)
in older perls would be erroneously main, and so it injects an AUTOLOAD
method into main.

TO make it work it would have to inject an import method into Foo and then
have that inject an  AUTOLOA

[2022-02-26 03:23] toddr commented on #19462
Right. My problem is not what flag so much as it's unclear if it was a mistake to ever enter the sub if it wasn't set and so the problem is in the caller, not that sub.

[2022-02-26 04:18] hvds commented on #19463
It seems the const sub needs to close over a lexical variable that has ??gone out of scope - if I move the declarations of `my($inline_all_bits, $inline_all_explicit_bits)` above the BEGIN block the crash disappears, but I can reproduce the crash with eg:
[code]

[2022-02-26 07:25] demerphq commented on #19462
On Sat, 26 Feb 2022 at 00:23, Leon Timmermans ***@***.***>
wrote:

That makes a lot more sense to me.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-26 15:26] hvds opened #19464 "is "foo" a number with trailing garbage?"
While trying to improve #19138 I tried to improve the tests by ensuring that we check both with and without `PERL_SCAN_TRAILING` for each tested input. That threw up an anomaly from `Perl_grok_number_flags`: the docs say that `PERL_SCAN_TRAILING` "allows for trailing non-numeric text on an otherwise successful _grok_, setting `IS_NUMBER_TRAILING` on the result", but it turns out that it can set th

[2022-02-26 15:30] demerphq commented on #19463
On Sat, 26 Feb 2022 at 03:41, Hugo van der Sanden ***@***.***>
wrote:

OLD.

Well if it werent for the version range and bisect results you posted here
I would have guessed this was related to some recent work on subroutine
stubs.

Ill take a look tomorrow.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-26 20:08] eserte opened #19465 "BBC: Blead Breaks PJS/Tie-Array-BoundedIndex-0.06.tar.gz"
t/04attrib.t of the distribution's test suite started to fail with perl 5.35.9:
[code]

[2022-02-26 20:23] andk commented on #19465
Bisect leads to v5.35.8-105-gf6387cff9c ; if you retry to bisect, pay proper attention that the perl has to have Test::Exception installed, otherwise a SKIP will prevent to find the proper commit. The reason is that the test is skipped when Test::Exception is not installed.

[2022-02-26 21:36] jkeenan commented on #19465
I tried to confirm this finding via the following bisection invocation:
[code]
However, AFAICT, there was no attempt to install Test::Exception.  All tests were run and PASSed.
[code]
What am I missing?

[2022-02-26 23:27] haarg commented on #19465
This was fixed by 90d32986170a76903fc0328ae6ac9e0ec4af40fc

[2022-02-26 23:43] jkeenan commented on #19465
Appears so.
[code]

[2022-02-26 23:43] #19465 closed

[2022-02-27 05:31] demerphq commented on #19464
On Sun, 27 Feb 2022 at 04:27, sisyphus ***@***.***> wrote:

I think the key word here is "us", both of us are old perl hands who know
what happens, but newbies are a different matter. Yeah sure they can guess,
and will probably guess 0, but for a dev coming from Java or something like
that where this would be a hard exception it is not instantly obvious what
is happening. I think anything we can d

[2022-02-27 11:42] Jamaika1 opened #19467 "Problem with function names"
I don't know perl5 is intended for gcc and can work with other libraries.
I have problem with combining some functions. My question is, can I change the names of some functions in perl5?

I change function names :
do_close_perl5(a,b)
apply_perl5(a,b,c)
do_open_perl5(g, n, l, a, rm, rp, sf)
utf8_to_utf16_perl5
read_perl5(fd,b,s)
write_perl5(fd,b,s)

[code]

[2022-02-27 15:14] jkeenan commented on #19463
Two-stage bisection!  This deserves entry as an example in the documentation for bisection.  See https://github.com/Perl/perl5/pull/19468.

[2022-02-27 15:27] jkeenan commented on #19467
If you are changing the names of functions in Perl's internals (`*.c`, `*.h`, etc. files), you do so at your own peril.  It is unlikely that we would be able to help you out with problems you thereupon encounter.

Why do you want to do this?  What are you trying to accomplish?

[2022-02-27 15:39] jkeenan commented on #19463
[snip]

How you were able to achieve this reduction would be a good subject for a pull request.  It's more general than bisection, so perhaps a modification to something like `pod/perldebtut.pod`.

[2022-02-27 16:17] hvds commented on #19463
Well I posted much of the reduction the previous day, it's not clear if Yves saw that and refined from there.

Generally, such reduction is always a mix of art and science. The difficult part is usually finding the patience and perseverance to proceed one step at a time.

In this case, the first part of the process was instinct: I saw that the code change found by the first bisect introduced some

[2022-02-27 17:47] Leont commented on #19467
This sort of problem between C++ and Perl is not uncommon. I would strongly recommend to include your C++ headers before including any perl headers, that should prevent most of these issues.

[2022-02-27 18:53] Jamaika1 commented on #19467
I try to compile into gcc12 static grok c++17, spdlog c++17 and perl5 c.
If these are just internal perl5 functions that's fine. Unfortunately, spdlog uses the same names.

Do you mean using USE_CPLUSPLUS?

[2022-02-27 19:32] mohawk2 opened #19469 "Text::Balanced bugs + excessive regex recompilation, Filter::Simple bug"
Module: Text::Balanced, Filter::Simple

**Description**
Text::Balanced has a couple of bugs, and also excessive regex recompilation (which happens whenever the Perl scalar in an RE changes, which is unfortunate if one has a `for` loop over regexes with `/\G($regex)/g` as Text::Balanced does). This was revealed by PDL's use of Filter::Simple, which also has a minor bug that is not worth PR-ing a fi

[2022-02-27 23:16] Leont commented on #19467
No, I mean literally doing your `#include "perl.h"` after doing `#include <spdlog.h>`

[2022-02-28 00:28] jkeenan commented on #19469
Text::Balanced is maintained upstream on CPAN, so its bugs need to be reported to [RT](https://rt.cpan.org/Dist/Display.html?Name=Text-Balanced).

Filter::Simple is in `dist/`, which means its maintained by P5P.  So we can accept bug reports here.

[2022-02-28 00:47] jkeenan commented on #19469
That being said, @mohawk2 writes, "Filter::Simple ... also has a minor bug that is not worth PR-ing a fix for (being blead-first) until the Text::Balanced changes are merged and incorporated into blead ...."  But that means that this ticket contains no bug reports that are directly actionable by P5P.

@mohawk2, do you want to file a bug report about Filter-Simple?  Otherwise, this ticket should be

[2022-02-28 03:59] demerphq commented on #19463
On Mon, 28 Feb 2022, 00:17 Hugo van der Sanden, ***@***.***>
wrote:

Yeah I saw it, I just ground it down a bit more by removing the BEGIN, and
removing the t option from the -D flags.

Generally, such reduction is always a mix of art and science. The difficult

Agreed and well put.

Minor note, with the case of a closure it's a combo of refcount==1 AND the
prototype. That is why hoisting the var

[2022-02-28 07:40] SureshNadar1993 opened #19470 "aes.c: loadable library and perl binaries are mismatched (got handshake key 0x8140080, needed 0x8e80080)"
Hi All,

  We are trying to update the perl version from 5.28 to 5.32.1.

ENV Details
Oracle Linux Server release 7.9
NAME="Oracle Linux Server"
VERSION="7.9"
Red Hat Enterprise Linux Server release 7.9 (Maipo)

Steps Followed for installing perl.

export -n PATH
export -n LD_LIBRARY_PATH
export PATH=/usr/bin:/usr/local/bin:/bin

wget https://www.cpan.org/src/5.0/perl-5.32.1.tar.gz --no-check-cert

[2022-02-28 08:55] Corion commented on #19470
The error message points to the problem that you are mixing Perl major versions. This is not supported by Perl.

You talk about Perl 5.28 and Perl 5.32, but the Perl you invoke is Perl 5.34:

    /scratch/ri-user-1/opt/perl-5.34.0/lib/site_perl/5.34.0

You can have multiple versions of Perl installed by using `-Dprefix`, but you need to make sure that they do not install modules into different dir

[2022-02-28 09:07] demerphq commented on #19470
On Mon, 28 Feb 2022, 15:40 SureshNadar1993, ***@***.***>
wrote:

What was your perl5lib before you unset it?

Likely you need to rebuild whatever XS code is involved now that you have
upgraded. Off the top of my head I don't recognize aes.pm, cpan modules
usually don't look like that. Likely this is custom code that needs to
rebuilt against your new perl.

Also listen to Max maischeine, he has giv

[2022-02-28 09:09] demerphq commented on #19470
On Mon, 28 Feb 2022, 16:56 Max Maischein, ***@***.***> wrote:

I think that should either read "make sure they don't share/install into
the same directories" or "make sure the install into different directories"

Yves
Ps: Hi max, long time no talk!

[2022-02-28 09:47] vrkosk commented on #6841
Yes, definitely a 32-bit issue on Windows. I saw this bug today with a script we typically run in production on Linux and wanted to see if it can be run on Windows. On Linux, our script creates a ~64GB .pag file. On Windows, it fails with "sdbm store returned -1, errno 22" when the .pag file reaches almost 2**31 bytes, 2147471360 to be exact.

Is this connected to issue #12227?

[2022-02-28 10:45] SureshNadar1993 commented on #19470
Hi Team,

  There was a wrong info actual error post unsetting PERL5LIB is
After unsetting PERL5LIB we receive another error.
Can't locate aes.pm in @inc (you may need to install the aes module) (@inc contains: /scratch/ri-user-1/opt/perl-5.32.1/lib/site_perl/5.32.1/x86_64-linux-thread-multi /scratch/ri-user-1/opt/perl-5.32.1/lib/site_perl/5.32.1 /scratch/ri-user-1/opt/perl-5.32.1/lib/5.34.0/x86_6

[2022-02-28 10:50] Corion commented on #19470
This is not a bug with Perl but a bug with your installation. Did you install `aes.pm` with the correct version of Perl? You can verify that `aes.pm` is installed by running

find . -name 'aes.pm' /scratch/ri-user-1/opt/perl-5.32.1/lib/5.34.0

Your setup is very weird, mixing Perl version names:

[code]

Mixing version numbers in the library directories is not recommended.

This is not a bug with

[2022-02-28 10:50] #19470 closed

[2022-02-28 11:05] SureshNadar1993 commented on #19470
Na

[2022-02-28 20:01] mohawk2 commented on #19469
Frankly, I opened this issue because for T:B, the RT with its 16-year old open tickets did not inspire confidence, and I hoped this would prompt some action. Filter::Simple has bugs (plural) in its `code_no_comments` handling that are caused by Text::Balanced, which I have submitted fixes for. The cases are shown in the PRs. Are you saying you think that makes this closable?

[2022-02-28 20:47] jimav commented on #19142
How about making _ an a real filehandle and cache stat result in it?
Then `local *_` would just work.

One implementation would be to use the "memory" file mechanism, with code like below, or else provide special Set & Get methods in the fh implementation to save & retrieve stat results.
[code]

[2022-02-28 21:41] jimav opened #19472 "Many warnings reading empty in-memory file"
If a read-write (open mode "+>") in-memory file is created and immediately read, many warnings appear.

**Steps to reproduce**
[code]

**Expected behavior**
Expecting a silent EOF indicator, like a regular file.

P.S. truncate does not seem to work on in-memory files, but over-writing does.

**Perl configuration**
[code]

[2022-02-28 23:48] khwilliamson commented on #16779
On 2/24/22 21:36, Yves Orton wrote:

I now think I understand your motivations, and have pushed a new commit
to address your issues.

Fixed

Fixed

The reason I care is that the sets code builds up larger sets from
simple components or other sets.  Each such set must be a single
character wide.  Most compiled patterns don't fit that.  Extra work
could allow some of that, but I don't see that as ne

[2022-03-01 00:39] Leont commented on #19142
There's nothing about filehandles that allows them to cache a stat result.

[2022-03-01 00:42] Leont commented on #19472
Yeah, possibly PerlIO::scalar should convert an undefined value to an empty string.

That is an entirely separate issue. I'm not sure it should, our abstraction kind of breaks there.

[2022-03-01 01:00] Grinnz commented on #19472
In memory files are required to be byte strings. You'll also get issues if you try to open it to a variable that contains wide characters, or is a reference. Maybe coercion is justified in this specific undef case.

[2022-03-01 03:04] demerphq commented on #16779
On Tue, 1 Mar 2022 at 00:48, Karl Williamson ***@***.***>
wrote:

Yay! Thank you Karl. Sorry I didn't manage to explain myself better
earlier.

Summary response to all the "Fixed" responses you made: Yay!

Of course I meant *only* such patterns that ONLY contain a charclass
definition. At least now. I think it would be nice if we could handle
/(a|b|c)/ and realize it is the same as /[abc]/. But I

[2022-03-01 03:51] demerphq commented on #19469
On Mon, 28 Feb 2022 at 21:01, mohawk2 ***@***.***> wrote:

What he is saying is that while Text::Balanced is distributed with perl as
convenience and because we use it as part of the build process it is not
*maintained* by the porters. That is why it is contained in the cpan/
directory of the Perl project. If you feel the module has been abandoned
then you can request to the ***@***.*** list that

[2022-03-01 04:09] andk opened #19473 "BBC: Blead Breaks NAVNEET/CmdArguments-1.00.tar.gz"
**Description**

The distribution's test suite started to fail with perl 5.35.9.

Bisect leads to v5.35.8-105-gf6387cff9c (https://github.com/perl/perl5/commit/f6387cf).

Sample fail report: http://www.cpantesters.org/cpan/report/53a852b6-97ca-11ec-9b3a-d44178002d2e

Matrix: http://matrix.cpantesters.org/?dist=CmdArguments+1.00

**Steps to Reproduce**

cpan -i NAVNEET/CmdArguments-1.00.tar.gz

**E

[2022-03-01 04:17] andk opened #19474 "BBC: Blead Breaks MIROD/Params-Style-0.06.tar.gz"
**Description**

The distribution's test suite started to fail with perl 5.35.9.

Bisect leads to v5.35.8-105-gf6387cff9c (https://github.com/perl/perl5/commit/f6387cf)

Sample fail report: http://www.cpantesters.org/cpan/report/555f4d58-97ca-11ec-9b3a-d44178002d2e

Matrix: http://matrix.cpantesters.org/?dist=Params-Style+0.06

**Steps to Reproduce**

cpan -i MIROD/Params-Style-0.06.tar.gz

**Expe

[2022-03-01 04:19] mohawk2 commented on #19469
I would be happy to help with Text::Balanced if @steve-m-hay is having a busy period (which we all have from time to time) and would like to grant me collaborator status on the repo. I see that first-come on it is held by DMANURA who seems to have only been active on PAUSE during 2005. I would be happy to have co-maint to release this, and would in any case suggest that the first-come on it be shi

[2022-03-01 04:26] andk opened #19475 "BBC: Blead Breaks NOVOZHILV/App-SimpleBackuper-0.2.24.tar.gz"
**Description**

The distribution's test suite started to fail with perl 5.35.9

Bisect leads to v5.35.8-120-g3d1a4f0672 (https://github.com/perl/perl5/commit/3d1a4f0672)

Sample fail report: http://www.cpantesters.org/cpan/report/86f5c994-983f-11ec-aa0b-dce1df4e2aba

Matrix: http://matrix.cpantesters.org/?dist=App-SimpleBackuper+0.2.24

**Steps to Reproduce**

cpan -i NOVOZHILV/App-SimpleBackuper

[2022-03-01 04:41] demerphq commented on #19469
On Tue, 1 Mar 2022, 12:19 mohawk2, ***@***.***> wrote:

He has been busy releasing the latest maintenance build, perl 5.34.1, so he
might not have even noticed this ticket.

and would like to grant me collaborator status on the repo. I see that

I can't speak for Steve but if it were me I would welcome help.

Once a CPAN release were out, I assume it would be a formality to update

It would get up

[2022-03-01 05:13] demerphq commented on #19473
I'll take a look, but don't let that stop anyone else.

Cheers

On Tue, 1 Mar 2022, 12:09 andk, ***@***.***> wrote:

[2022-03-01 05:14] demerphq commented on #19474
I'll take a look, but don't let that stop anyone else.

Yves

On Tue, 1 Mar 2022, 12:18 andk, ***@***.***> wrote:

[2022-03-01 05:39] haarg commented on #19474
This is broken by the interaction between Attribute::Handlers' autotie feature and the stack trace fix. However, the fix for Attribute::Handlers in 90d32986170a76903fc0328ae6ac9e0ec4af40fc does not entirely resolve the issue. This module is expecting Exporter's import to be called, but Attribute::Handlers is now injecting its own import method.

One possible fix would be to have Attribute::Handler

[2022-03-01 05:49] haarg commented on #19473
This module attempts to create subs in its caller in a BEGIN rather than defining an import method. This was never reliable, but is now reliably broken. I've filed an issue with a patch: https://rt.cpan.org/Ticket/Display.html?id=141588

[2022-03-01 06:24] haarg commented on #19475
This dist has code that always enables the latest feature bundle. And one of the modules uses prototypes. So the code breaks now that signatures are part of the latest feature bundle.

I've filed a PR to fix the code to use a stable feature bundle:
dmitry-novozhilov/simple-backuper#1

[2022-03-01 09:07] demerphq commented on #19469
On Tue, 1 Mar 2022 at 04:41, demerphq ***@***.***> wrote:

I had noticed, but hadn't yet had time to respond. Apologies for this.

I'd be happy to grant co-maint (assuming I'm able to do that). I only
took on maintenance of this module in 2015 in order to make a release
to sync with bleadperl since it had fallen out of maintenance. I've
since done minimal work on it, but remain in a position to ta

[2022-03-01 12:45] jkeenan commented on #19474
Test failures at v5.35.9-27-g5fd4557243:
[code]

[2022-03-01 12:49] demerphq commented on #19474
Yeah, I think Graham was looking into this, yet another Attribute Handlers
autotie issue. I think he pushed a PR earlier today.

Yves

On Tue, 1 Mar 2022, 20:45 James E Keenan, ***@***.***> wrote:

[2022-03-01 12:56] jkeenan commented on #19473
Patch succeeds when tested against both HEAD of blead and perl-5.34.0.

[2022-03-01 13:17] jkeenan commented on #19475
I can confirm that upstream p.r. gets tests to pass.

[2022-03-01 13:42] haarg commented on #19474
I've created PR #19476 to fix this. It's a pretty ugly solution, but Attribute::Handlers is really ugly to start with.

[2022-03-01 18:14] ntyni opened #19478 "panic on s///gre with tainted utf8 strings"
This is a bug report for perl from ntyni@debian.org,
generated with the help of perlbug 1.42 running under perl 5.35.10.

-----------------------------------------------------------------

As reported by Kacper Gutowski in https://bugs.debian.org/1006280
these warn or panic in taint mode (but not without):

[code]

Tested to happen on Debian perls back to 5.20 or so, still happens on
5.34.0 and cu

[2022-03-01 19:18] hvds commented on #19478
Thanks, bisect shows all 3 cases start to show those diagnostics from 25fdce4a16 "Stop pos() from being confused by changing utf8ness".

[2022-03-01 22:46] mohawk2 commented on #19469
I am ETJ, but DMANURA has first-come as of this writing (see https://metacpan.org/dist/Text-Balanced/permissions) so this will require the PAUSE gods' intervention (since I consider it unlikely DMANURA even still has their credentials from 2005) - I would strongly suggest first-come be shifted to SHAY. @neilb ? :-}

@demerphq Thank you for interlocuting here - if @steve-m-hay can add me as collabo

[2022-03-02 01:28] jimav commented on #19472
There's nothing in the string.  Wide or octet.

[2022-03-02 01:40] demerphq commented on #19469
On Tue, 1 Mar 2022 at 23:46, mohawk2 ***@***.***> wrote:

No thanks required, I just explained the process and CC'ed Steve. I am glad
you and he are working things out, sounds like a success story to me! At
least in the long run.

cheers,
Yves

[2022-03-02 02:01] Grinnz commented on #19472
Indeed, the problem is it is not a string. You get the same warnings for trying to print undef to a handle.

[2022-03-02 02:04] Grinnz commented on #19472
Somewhat poor example, sorry - basically what happened here is you told it to treat a scalar as a file, and that scalar's contents are undef, but it's impossible for a file's contents to be undef, so the abstraction doesn't sanely handle it.

[2022-03-02 02:06] mohawk2 commented on #19469
I have just accepted it - thanks! Now for the minor matter of PAUSE permissions...

[2022-03-02 02:26] demerphq commented on #19469
On Wed, 2 Mar 2022 at 03:06, mohawk2 ***@***.***> wrote:

I think that needs to be done by Andreas, who I have included in this email.

cheers,
Yves

[2022-03-02 12:56] jkeenan commented on #19478
Confirmed on FreeBSD-12 (perl-5.32.1, threaded build) with different value for `byte` in the second invocation.
[code]

[2022-03-02 13:20] jkeenan commented on #19478
The warning and the two panics appear to have been introduced in the same commit cited in https://github.com/Perl/perl5/issues/13948#issuecomment-544058962 but not cleared up https://github.com/Perl/perl5/commit/cda67c9995c6d90b71a0939aaae084e1869b8248.

On FreeBSD-12, threaded builds:
[code]
@iabyn, Dave, can you take a look?

Thank you very much.
Jim Keenan

[2022-03-02 13:25] jkeenan commented on #19463
Status of ticket: waiting for code review of p.r. in https://github.com/Perl/perl5/pull/19466

[2022-03-02 13:27] jkeenan commented on #19467
Self-assigning this ticket for the purpose of closing it within a few days.

[2022-03-02 14:23] demerphq commented on #19463
On Wed, 2 Mar 2022, 21:25 James E Keenan, ***@***.***> wrote:

I was going to merge it today. I don't think there is much to review, the
patch is trivial. But I'll give it a few more days if you want?

Yves

[2022-03-02 15:37] demerphq commented on #19463
On Wed, 2 Mar 2022 at 16:30, James E Keenan ***@***.***>
wrote:

It's debug code, so i wouldn't worry about that, especially as if it
doesn't get patched we either ship an assert fail or a segv and -DXv will
be useless. But it's been useless since 5.20 so I guess it's not used much.

Plus the patch was trivial. But sure, I added Karl too, as a C expert if
not an expert on this part of the internal

[2022-03-02 18:48] jimav commented on #19472
Okay, I understand.   As you say `open FH "+>", \(my $string="")` makes it work as intended, without warnings.

I am happy if this ticket is closed as user error.  Thank you for taking the time to explain.

[2022-03-02 19:25] jkeenan commented on #19472
Closed per OP consent.

[2022-03-02 21:46] jkeenan opened #19482 "ext/GDBM_File/t/gdbm.t: Unexpected test failures"
I am encountering an unexpected test failure in `ext/GDBM_File/t/gdbm.t` in three situations: (i) building from the `perl-5.34.1-RC1` tarball; (ii) building from the `perl-5.34.0` tarball; (ii) smoke-testing in the maint-5.34 branch.

*Testing from the 5.34.1-RC1 tarball:*
[code]

*Testing from last year's 5.34.0 tarball:*  same as above.

*Smoke-testing in the maint-5.34 branch:* See https://perl

[2022-03-02 22:10] jkeenan commented on #19482
To add to the weirdness ... when I build from a git checkout of the **v5.35.1** tag, the test fails.
[code]
When I build from a git checkout of the **v5.35.2** tag, the test passes.
[code]

[2022-03-03 02:15] cjg-cguevara opened #19483 "maint-5.34 Branch: ext/POSIX/t/sigaction.t Consistently Failing"
ext/POSIX/t/sigaction.t is failing consistently on OpenBSD-7.0 for the maint-5.34 branch.

Please see smoke report at https://perl5.test-smoke.org/report/5016333 and corresponding log file at https://perl5.test-smoke.org/logfile/5016333 .

[2022-03-03 08:33] ikegami opened #19484 "`"AB" =~ /(A (A|B(*ACCEPT)|C)+ D)(E)/x` doesn't match"
`"AB" =~ /(A (A|B(*ACCEPT)|C)+ D)(E)/x` doesn't match.

---

The following is the example from the documentation for `(*ACCEPT)`:

[code]

No surprises there. But if we add a modifier to the alternation...

[code]

It doesn't even match `ABDE`!

[code]

In both cases, a match isn't even attempted.

[code]

[code]

---

Perl 5.34.0 built for Ubuntu on WSL using perlbrew.

[2022-03-03 08:35] ikegami commented on #19484
Source: https://stackoverflow.com/q/71333798/589924

[2022-03-03 10:40] demerphq commented on #19484
On Thu, 3 Mar 2022 at 09:35, Eric Brine ***@***.***> wrote:

when Dave reworked the fixed string logic.

Ill take a look.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-03 10:56] demerphq commented on #19484
On Thu, 3 Mar 2022 at 11:40, demerphq ***@***.***> wrote:

No, I guess this has been broken for a while.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-03 12:43] demerphq commented on #19478
I this @iabyn  or is it @khwilliamson ?

[2022-03-03 12:45] demerphq commented on #19463
Thanks for the report, this will be included in 5.36.0

[2022-03-03 12:45] #19463 closed

[2022-03-03 13:19] demerphq commented on #19472
Hi James I am going to reopen this and assign it to myself. I think this is a terrible user experience and to me it violates autovivification expectations. I think if you use an under var in this context it should autoviv to "". We can close it again if the community doesn't agree once I have a patch.

[2022-03-03 14:49] demerphq commented on #19472
Fixed in PR #19488

[2022-03-03 16:13] hvds opened #19489 "inode numbers can exceed range of perl integers"
As determined in discussion of #18788, it is possible for a filesystem to use 64 bit inodes (and for perl to handle them correctly); however if perl is built with 32-bit integers it is not safe to treat them as numbers, even for an equality check.

Areas that were affected by this include:
* File::Copy (fixed in v2.36 by 76d2194af3)
* PathTools (fixed in v3.81 by 73a0855d2e)
* ExtUtils::MakeMaker

[2022-03-03 18:04] Leont commented on #19483
Looking at that test: it should be skipped if `($^O.$Config{osvers}) =~ /^openbsd[0-7]\./`.

[2022-03-03 18:23] jkeenan commented on #19483
On 3/3/22 13:04, Leon Timmermans wrote:

The puzzling thing is that this test and all others are PASSing on
Carlos's OpenBSD-7.0 smokers *on blead*.  The puzzling thing is this
failure on maint-5.34.

[2022-03-03 18:42] Leont commented on #19483
That actually explains everything. On maint-5.34 the skip is for `($^O.$Config{osvers}) =~ /^openbsd[0-6]\./`.

We may want to backport fa26526789fbf61d704bd6291823c16ed912f342 to 5.34.1

[2022-03-03 20:16] #19467 closed

[2022-03-03 20:17] khwilliamson commented on #19478
I've never dealt with this code, but I single stepped through it, and see how it is going astray, but I don't know what the code should be doing, given the lack of comments.

The failure is happening in Perl_sv_pos_b2u_flags(pTHX_ SV *const sv, STRLEN const offset, U32 flags)

After the first character has been substituted, sv contains it, and it has 4 bytes, which is how big U+10469 is.  We are n

[2022-03-03 21:06] ikegami commented on #19301
And you can.

[code]

I don't think the approach used in the documentation has ever worked.

[2022-03-03 21:15] ikegami commented on #19301
Or if you start with an arbitrary handle,

[code]

I avoid IPC::Open3. I recommend IPC::Run.

[2022-03-03 21:17] ikegami commented on #19389
It means "this document is ASCII (with 8-bit clean literals)" on ASCII-based perls.

It means "this document is EBCDIC  (with 8-bit clean literals)" on EBCDIC-based perls.

[2022-03-03 21:18] ikegami commented on #19389
IIRC, we do on Windows, but only on Windows?

[2022-03-03 21:37] steve-m-hay commented on #19483
On Thu, 3 Mar 2022 at 18:42, Leon Timmermans ***@***.***>
wrote:

Many thanks to all concerned for finding and fixing this.

[2022-03-03 21:38] khwilliamson commented on #19389
AFAICT we don't restrict it to Windows;  The code in toke.c is turned off by defining  PERL_NO_UTF16_FILTER and we don't do that anywhere

[2022-03-03 21:47] khwilliamson commented on #19389
not using use utf8 which says "this source document is bytes"

It means "this document is ASCII (with 8-bit clean literals)" on ASCII-based perls.

It means "this document is EBCDIC (with 8-bit clean literals)" on EBCDIC-based perls.

You can have the 8th bit set on ASCII platforms in comments and literals out of the box.   (And you pretty much always do with EBCDIC as the letters and digits that

[2022-03-04 00:21] jkeenan commented on #19482
More data; history of gdbm on this host:
[code]
(hat-tip to `nomadlogic` on #nycbug)

[2022-03-04 00:29] Leont commented on #19482
This sounds like 5bc1e5fdd87aa205011512cd1e6cc655bcf677fd

[2022-03-04 00:33] jkeenan commented on #19482
Are you suggesting that that commit be backported to 5.34.1?

[2022-03-04 00:38] jkeenan commented on #19482
I'm also getting this failure on FreeBSD-13, where the installed `gdbm` is version 1.22, when building a threaded perl from the 5.34.1-RC1 tarball.
[code]

[2022-03-04 00:54] jkeenan commented on #19482
Let's give this a spin In the `smoke-me/jkeenan/gh-19482-maint-5.34-gdbm-problem-20220303` branch.

[2022-03-04 08:58] steve-m-hay commented on #19482
On Fri, 4 Mar 2022 at 00:54, James E Keenan ***@***.***>
wrote:

I've added the fix to the voting file so we can get it pulled it (assuming
all goes well with the smoking of it).

[2022-03-04 16:00] khwilliamson commented on #19447
This is pretty easy to add, but what evidence is there of a real need for it?

[2022-03-04 16:55] #19327 closed

[2022-03-04 18:05] hvds commented on #19010
#19138 has now been merged, so this should be fixed in v5.36.

[2022-03-04 18:05] #19010 closed

[2022-03-05 13:01] sisyphus opened #19495 "MS Windows: %Config doesn't provide the mingw runtime version."
**Description**

AFAICS, on Windows, there is currently no %Config key that stores the value of the mingw runtime version of the gcc toolchain that built perl.
Given that recent  mingw runtimes (from v7 to the current v9) are throwing up issues, I think it would be nice to have a %Config key that holds that version number of the mingw runtime.

Would it be ok to make use of the existing, but unuse

[2022-03-05 20:13] jimav opened #19497 "Enh. request: Catch @{ bareword[index] } as invalid else update docs"
This may not be a bug, but rather a documentation problem.  Or a user problem...

Is `@{ bareword[index] }` intended to be valid syntax?   I couldn't find in _perlref_ an explanation of what such a construct means.

In fact it is accepted (in v5.30.0) and means an array slice, more conventionally written as
`@{arrayname}[index]` or just `@arrayname[index]`.

If the former is not correct syntax, th

[2022-03-06 06:29] Grinnz commented on #19497
I believe there's a previous issue discussing this syntax but can't find it

[2022-03-06 06:43] xenu commented on #19497
https://github.com/Perl/perl5/issues/18800

[2022-03-06 07:45] demerphq commented on #18800
I dont think this is a bug, its intentional. Consider something like code generation and you have the string `"[1]"`. Now you want to prefix it with `$foo[10]`, or something to that effect. if you spit out `"$foo[10][1]"` you are doing a multidimensional lookup. if you spit out `"${foo[10]}[10]"` you are doing a single lookup. Consider this code:

[code]
I don't think this should warn. If anything

[2022-03-06 07:56] Grinnz commented on #18800
I don't follow your reasoning. It's not consistent with anything that is currently documented, but I would be ok with "document it at all" if we would like to start considering it a feature.

[2022-03-06 08:04] demerphq commented on #19497
On Sat, 5 Mar 2022 at 21:13, Jim Avera ***@***.***> wrote:

Yes it is. It is the demarcated version of a variable name. Eg,
strings are demarcated, we have a symbol to show where the start and
stop. So are array subscripts and hash subscripts.  Perl allows you to
use implicitly delimited variable names, eg where you have whitespace
or other non-variable letter syntax following the variable name, b

[2022-03-06 08:10] demerphq commented on #19497
On Sun, 6 Mar 2022 at 09:04, demerphq ***@***.***> wrote:

I worded that a little clumsily. I meant to say "You can inject a
demarcated variable ANYWHERE into any non variable containing string
without changing the meaning of the variable name." The reason I said
"non variable containing" is purely that if you injected ${foo[10]}
into the middle of "$foo" it would change the meaning of $foo. My
po

[2022-03-06 08:16] demerphq commented on #18800
On Sun, 6 Mar 2022 at 08:56, Dan Book ***@***.***> wrote:

It is not that we will /start/ considering it a feature, it *is* a feature
and has been for a very long time, and is the *only* way you can spell
certain variable names in interpolated text.

Sure we should update the docs to explain it. But it is not a bug. And it
is not a misfeature. It is very deliberate. The relevant docs have already

[2022-03-06 08:18] Grinnz commented on #18800
The quoted docs are about enclosing a variable name, which is a known case. Enclosing a variable name with subscripts and without a sigil is not documented.

[2022-03-06 08:20] Grinnz commented on #18800
As noted previously, it makes sense as a perl 4 feature - but strict 'subs' prohibits this usage, except in the mentioned documented case of a variable name.

[2022-03-06 08:21] demerphq commented on #18800
On Sun, 6 Mar 2022 at 09:18, Dan Book ***@***.***> wrote:

This behavior is well known to old perl hands, and while its extension
to subscripts might not be spelled out to your satisfaction, all I can
say that tons of older docs do not spell out everything, and assume
that one can extrapolate from what is written. The fact that this
syntax is the ONLY way you can interpolate certain variable names

[2022-03-06 08:23] demerphq commented on #18800
On Sun, 6 Mar 2022 at 09:20, Dan Book ***@***.***> wrote:

Not sure what you mean:

$ perl -le'use strict; my $str="123"; $str=~/(.)(.)(.)/ and print
"${^CAPTURE[0]}"'
1

yves

[2022-03-06 08:24] Grinnz commented on #18800
Sorry, "this usage" was ambiguous - I was referring to "dereferencing an expression that doesn't evaluate to a reference", outside of this case which the OP notes does not trip strict.

[2022-03-06 08:25] jimav commented on #19497
Sounds like this "_demarcated form_" syntax is what needs to be documented.  Currently it is isn't at least not using that term:
[code]

[2022-03-06 08:36] demerphq commented on #19497
On Sun, 6 Mar 2022 at 09:25, Jim Avera ***@***.***> wrote:

That doesn't surprise me, I was trying to find the correct counterpoint to
delimiting. In the context of data most folks would say "quoted", and in a
sense this is a form of quoting. demarcated however is the dictionary term
that matches most closely to the concept.

I'll write up a doc patch in a bit.

Like I said, we have introduced new

[2022-03-06 12:14] demerphq commented on #19497
On Sun, 6 Mar 2022 at 09:36, demerphq ***@***.***> wrote:

Pushed as https://github.com/Perl/perl5/pull/19500

Yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-06 12:26] demerphq commented on #18800
On Sun, 6 Mar 2022 at 09:25, Dan Book ***@***.***> wrote:

I dont know what you mean really. I think you are referring to the other
ticket,  https://github.com/Perl/perl5/issues/19497 which references the
code:

my %hash = (foo => 42, bar => 'baz');
print "$_\n" for @{hash{'foo','bar'}};

@{hash{'foo','bar'}}

is just a different way of spelling @hash{'foo','bar'} which is a hash
slice.

perl -le'

[2022-03-06 13:23] demerphq commented on #19495
On Sat, 5 Mar 2022 at 14:01, sisyphus ***@***.***> wrote:

That might make sense.

It is set up in a shell script. See: myconfig.SH

FWIW, to figure this out I grepped for "Linker and Libraries:" and there is
only one file that seems at all relevant. :-)

Also see configpm.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-06 17:33] andk opened #19502 "BBC: Blead Breaks NEKOKAK/Test-Attribute-AutoLevel-0.06.tar.gz"
**Description**

The distribution's test suite started to fail with perl 5.35.9.

Bisect leads to v5.35.8-105-ghttps://github.com/Perl/perl5/commit/f6387cff9c (f6387cf), Subject 'Reapply squashed "avoid identical stack traces" patches'

Sample fail report: http://www.cpantesters.org/cpan/report/58001c80-9c3a-11ec-ad2d-24bc1561a567

Still failing on today's blead v5.35.9-84-gd1e771d8c5 ("Fix utf8_t

[2022-03-06 19:14] haarg commented on #19502
This module accepts a 'depth' parameter to its import method. This is undocumented so it's not entirely clear what the intention is. In a test, it has a module that `use`s Test::Attribute::AutoLevel, passing in a depth of 1. It then expects this to indicate the package that loaded the test module. This seems like another case of something only working accidentally, and not working as intended as s

[2022-03-07 06:30] mohawk2 commented on #19469
I've just uploaded Text::Balanced 2.04_01. Naturally, we'll need to know it makes things better without breaking anything. Is there some procedure where I could PR updating Perl's T:B plus an update to Filter::Simple, and it would get smoke-tested? I've tried my updated version locally on various things and it seems Ok so far.

[2022-03-07 06:31] mohawk2 commented on #19469
(The dev-release includes fixes for just about all the open RT tickets)

[2022-03-07 08:11] demerphq commented on #19469
On Mon, 7 Mar 2022 at 07:31, mohawk2 ***@***.***> wrote:

Not 100% of the procedure, or if you need someone to do it for you, or
if you can do it yourself. But we have smoke-me branches in blead and
a tool in Porting to update blead with the latest modules. You could
try doing that and pushing a PR, if the smoke-me branch needs to be in
the core repo I or one of the other committers can arrange th

[2022-03-07 13:26] demerphq opened #19504 "UTF8 $0 patch is producing test failures."
**Description**
PR #19334 changed how we handle utf8 $0. But it is failing tests.

**Steps to Reproduce**
./perl t/op/magic.t
...
[code]
**Expected behavior**
No test failures.
**Perl configuration**
[code]

[2022-03-07 13:27] sisyphus commented on #19495
Thanks @demerphq .
I'll start by seeing if I can get <code>gnulibc_version</code> to show up in the <code>perl -V</code> output, then look at how I might be able to have it reflect the correct value. (That second step is something that looks considerably more messy than it ought to be, because of the limited number of possible ways of extracting that information.)

Not entirely sure that "gnulibc_

[2022-03-07 13:51] demerphq commented on #19495
On Mon, 7 Mar 2022 at 14:27, sisyphus ***@***.***> wrote:

I looked into how one would add a new setting like that, and it seems to
involve patches to metaconfig. Which is not something I know anything
about, and instructions on the github project page are... intimidating to
say the least. :-)

I think you will have to brave those waters anyway however. If I understand
correctly anyway.

Good luck

[2022-03-07 14:09] Leont commented on #19495
Agreed

[2022-03-07 14:20] leonerd opened #19506 "newSTATEOP segfaults if !PL_parser"
The `PL_parser` interpreter variable points at a real parser at compiletime, but is NULL when no compilation is currently happening.

The `newSTATEOP` function is useful for building optrees.

It currently segfaults (with no interesting diagnostic message, making debug difficult) if called when `PL_parser` is NULL. There are cases when it's useful to call `newSTATEOP` at runtime, such as when dyna

[2022-03-07 14:52] leonerd commented on #19506
Alternative idea: Since `newSTATEOP` largely uses `PL_parser` to look up the line number it should insert into the newly-generated COP, we could instead add a new API function that explicitly passes them in, to avoid that mess:

[code]

[2022-03-07 14:58] Leont commented on #19506
Yeah that sounds like a much better idea

[2022-03-07 15:16] Tux commented on #19119
It is a good thing that the `BEGIN ()` call is an effective no-op, as what whould it caall in this?
[code]
Just fix the docs to say what it currently does and be done with it.

[2022-03-07 15:31] iabyn commented on #19340
On Wed, Feb 09, 2022 at 04:05:33AM -0800, Hugo van der Sanden wrote:

Either that or Signatures (or both?). Although at the moment, neither, as
evidenced by the fact that I'm only just starting to read through my
5-week backlog of p5p emails :-(.

--
The Enterprise's efficient long-range scanners detect a temporal vortex
distortion in good time, allowing it to be safely avoided via a minor
course

[2022-03-07 16:13] Tux commented on #19151
The compiler that @nwc10 can use on that HP-UX is:
[code]
(next to some GNU gcc variants)
If yours is newer, something broke in HP's patches. If yours is older and you still have a support contract to get the patches, it might be making sense to apply them

[2022-03-07 22:34] jkeenan commented on #19504
I have not been able to reproduce the failures reported in this ticket.

AFAIT, this is the commit that handled p.r. 19334:
[code]
I built a threaded, debugging perl at this commit on Linux using gcc as the C-compiler:
[code]
When I ran the test file in question, all tests PASSed.
[code]
I should add that I was surprised to see the report of test failures, as the branch embodying this p.r. was in

[2022-03-08 01:55] demerphq commented on #19504
On Mon, 7 Mar 2022 at 23:34, James E Keenan ***@***.***>
wrote:

still wonder if it might be that:

$ uname -mrs
Linux 4.15.0-166-generic x86_64

But:
$ ./perl -Ilib -MDevel::Peek -le'print $]; open my $fh, "<",
"/proc/$$/cmdline"; my $s= do{ local $/; <$fh>}; Dump($s); print $s=~/\0\z/
? "has null" : "no null";'
5.035010
SV = PV(0x55ebdf99feb8) at 0x55ebdfa25608
  REFCNT = 1
  FLAGS = (POK,IsCOW,

[2022-03-08 02:35] jkeenan commented on #19504
Here is some evidence in support of the hypothesis that these test failures will only be observed on **older** versions of Linux.

On our dromedary development server, we have a **very** old (IMO) version of Linux.  I built a perl at the offending commit there and got the test failures which @demerphq observed on "Linux 4" but which I did not observe on "Linux 5.10".
[code]

[2022-03-08 06:22] sisyphus commented on #19495
Turns out to be simple to have <code>$Config{gnulibc_version}</code> reflect that value of the mingw runtime version.
First, create a C program in the win32 folder named 'rt.in', which contains:
[code]
I didn't want to give that file a ".c" extension in case attempts might then be made to include it in perl itself.
It turns out that <code>gnulibc_version</code> is already part of the default <code

[2022-03-08 06:43] demerphq commented on #19495
On Tue, 8 Mar 2022, 14:22 sisyphus, ***@***.***> wrote:.

But, if needs be, my next steps will be to write the info instead to a new

I personally have no issue with this. However I know some have expressed
the view that you should use a different key. As far as I understand that
is going to be a more intensive affair where you will have to update
Porting/Glossary (not sure it's exact spelling) an

[2022-03-09 13:05] demerphq opened #19511 ".mailmap is not listed in MANIFEST and tests don't notice."
**Description**
The .mailmap is not listed in the MANIFEST file and tests don't notice.

**Steps to Reproduce**
make test. nothing fails, but

git grep .mailmap MANIFEST

**Expected behavior**
It is not clear to me if the test should fail or not.

**Perl configuration**
N/A but this is true in bleadperl at 5.35.10:
[code]

[2022-03-09 13:08] demerphq opened #19512 "We ship git specific build tools in Porting as part of our tarball and include them in MANIFEST, should we?"
**Description**
There are various build tools in Porting which only work if you have git repo handy, but we put them in the tarball when we build it. Should we exclude them?

**Steps to Reproduce**
N/A

**Expected behavior**
N/A

**Perl configuration**
This is true as of
[code]

[2022-03-09 13:14] demerphq commented on #19511
Related issue: https://github.com/Perl/perl5/issues/19512

[2022-03-09 15:59] atoomic commented on #19512
IMO I do not see values in publishing such tools as part of the tarball.
We should identify them and consider removing them from the MANIFEST.

[2022-03-09 16:38] demerphq commented on #19512
FWIW. I am not clear that including something in the manifest or not determines if they get "shipped".  It is not clear to me exactly what the MANIFEST does these days. I know it is used to provide a description of our files. I know it is used to control our tests in some circumstances. But I don't think it determines what goes into a tarball, although maybe I am wrong, it has been a while since I

[2022-03-09 16:40] demerphq commented on #19511
Lets close this ticket and use https://github.com/Perl/perl5/issues/19512 for this conversation.

[2022-03-09 16:41] demerphq commented on #19511
duplicate of #19512

[2022-03-09 16:41] #19511 closed

[2022-03-09 17:51] jkeenan commented on #19462
The upstream maintainer has addressed this issue and has released a new version of Devel-Chitin to CPAN.  So this ticket is now solely concerned with Storable-AMF.

[2022-03-09 20:10] EvanCarroll commented on #19119
@Tux it would better if it wasn't visible and could not be called as a sub imho.

[2022-03-10 02:23] atoomic commented on #19512
`Porting/makerel` is used to create tarball.
The `MANIFEST` is checked using ` ExtUtils::Manifest::fullcheck` with some exception like `.git* and .mailmap`
we do not have the notion of an explicit `MANIFEST.SKIP` file
[code]

The last development released I performed I created the tarball on a personal VM.
Nothing in the release manager guide indicate to build the tarball on dromedary.

[2022-03-10 02:32] #18800 closed

[2022-03-10 02:33] demerphq commented on #19497
Doc fix merged.

[2022-03-10 02:33] #19497 closed

[2022-03-10 03:41] demerphq commented on #19512
On Thu, 10 Mar 2022 at 03:23, ℕicolas ℝ. ***@***.***> wrote:

I meant the blead/specific patch version.

Yves

[2022-03-10 13:13] Leont commented on #19512
They're not useful to include, but they're not harmful either.

If you do exclude them, you should probably also exclude porting tests that depend on git. `find_git_or_skip` is the thing to grep for.

[2022-03-10 13:49] leonerd commented on #19399
I should add: The reason the logic is conditional, is that it has to work around a bug in glibc 2.0 and 2.1.1

glibc 2.1.1 was released in May 1999, and glibc 2.1.2 fixed the bug in September of that year. No glibc release this century has the bug that we're trying to work around.

I think it's safe to just enable it by default on Linux now ;)

[2022-03-10 18:31] jkeenan opened #19515 "c3c9d6b15f breaks build with clang++ as C-compiler"
The following commit has caused `make` to fail when compiling `perl` using `clang++` as the C-compiler:
[code]
This was first observed in smoke-test reports filed by Carlos Rivera here:

[FreeBSD-12/clang++-10.0.1](https://perl5.test-smoke.org/report/5016686)

[FreeBSD-14/clang++-13.0.0](https://perl5.test-smoke.org/report/5016693)

I confirmed this using clang++-10.0.1 on FreeBSD-12.  At the comm

[2022-03-10 18:35] Leont commented on #19515
The solution is trivial: just add a space between the string and the `UVxf`

[2022-03-10 23:31] sisyphus commented on #18363
Fixed by the merging of #19437

[2022-03-10 23:31] #18363 closed

[2022-03-11 02:56] jkeenan commented on #19515
This should be fixed by https://github.com/Perl/perl5/pull/19516.  I'll monitor for a day or two before closing.

[2022-03-11 08:21] cjg-cguevara opened #19517 "BBC: Blead Breaks Excel::Writer::XLSX"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.10.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Excel::Writer::XLSX

Please see http://matrix.cpantesters.org/?dist=Excel::Writer::XLSX

[Please do not change anything below this l

[2022-03-11 08:22] cjg-cguevara opened #19518 "BBC: Blead Breaks Regexp::Grammars"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.10.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Regexp::Grammars

Please see http://matrix.cpantesters.org/?dist=Regexp::Grammars

[Please do not change anything below this line]
-

[2022-03-11 08:23] cjg-cguevara opened #19519 "BBC: Blead Breaks Set::CrossProduct"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.10.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Set::CrossProduct

Please see http://matrix.cpantesters.org/?dist=Set::CrossProduct

[Please do not change anything below this line]

[2022-03-11 08:24] cjg-cguevara opened #19520 "BBC: Blead Breaks Test::Smoke"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.10.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Test::Smoke

Please see http://matrix.cpantesters.org/?dist=Test::Smoke

[Please do not change anything below this line]
-----------

[2022-03-11 08:49] Ricky-Tigg opened #19522 "'perl -v' | Strings requiring up-to-date information"
**Description**
Strings requiring up-to-date information

**Expected mentions**
- `Copyright 1987–2022, Larry Wall` | _note_: "`–`", not "`-`".
- `https://www.perl.org/`

**To reproduce**
[code]

[2022-03-11 10:57] haarg commented on #19517
Pretty sure this is caused by 8b03aeb95ab72abdb2fa40f2d1196ce42f34708d. The test is opening a reference to an undef scalar variable, writing nothing to it, and expecting the variable to still be undef.

I could see the argument that reading from an undef filehandle should emit a single warning, and writing to it should autovivify it to an empty string, but I haven't thought about it too extensivel

[2022-03-11 11:05] haarg commented on #19520
Same issue as #19517

[2022-03-11 11:06] haarg commented on #19519
Same issue as #19517

[2022-03-11 11:13] demerphq commented on #19517
On Fri, 11 Mar 2022 at 11:57, Graham Knop ***@***.***> wrote:

have code like:

my $x;
if ($x->{foo}) { ... }

$x won't be undef afterwards, it will be a hashref.

If somebody opens a scalar for read and it is undef, it should autovivify
into a string.

I feel like it would be better to just push patches to the affected modules
to test for falseness not undefinedness.

cheers,
Yves

[2022-03-11 11:53] hvds commented on #19522
What will that look like on a non-utf8-aware terminal? This sounds unwise to me.

[2022-03-11 12:50] jkeenan commented on #19472
Given that we now have **4** BBC tickets opened due to https://github.com/Perl/perl5/commit/8b03aeb95ab72abdb2fa40f2d1196ce42f34708d, I am re-opening this issue so that the Perl Steering Committee can make a decision as to how we should proceed.

It should be noted that the original poster was satisfied with the explanation he was provided by several of our contributors and okayed the closing of t

[2022-03-11 14:12] Ricky-Tigg commented on #19522
I would not have though about it without your comment. You are the **one** who knows.

[2022-03-12 01:24] demerphq commented on #19472
On Fri, 11 Mar 2022, 20:50 James E Keenan, ***@***.***> wrote:

Let's just revert for now and pick it up in 5.37. I'm mindful of your
concern about the proximity to 5.36 release. It's not that important it
needs to go in now.

Yves

[2022-03-12 01:42] demerphq commented on #19517
On Fri, 11 Mar 2022 at 12:12, demerphq ***@***.***> wrote:

Anyway, I dont think this is high priority, ill push a revert branch
and we can pick it up again in 5.37

Yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-12 01:48] demerphq commented on #19472
On Sat, 12 Mar 2022 at 02:24, demerphq ***@***.***> wrote:

Pushed as https://github.com/Perl/perl5/pull/19527

I am good with working with the module authors to deal, or reverting.
Reverting is obviously simpler for the time being.

cheers,
yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-12 20:38] jkeenan commented on #19474
Params::Style once again installs against blead, so this ticket can be closed.
[code]

[2022-03-12 20:38] #19474 closed

[2022-03-12 20:55] jkeenan commented on #19460
Tie-Hash-Cannabinol once again installs against blead.  So now this ticket is solely concerned with the failures in Acme-Dot.

I have created the following ticket to alert the maintainer to the problem:
[RT 141733](https://rt.cpan.org/Ticket/Display.html?id=141733).

[2022-03-12 21:26] jkeenan commented on #19382
@demerphq released Sereal-Decoder-4.023 to CPAN on Feb 19 2022, which appears to have cleared up the problem.
[code]
Closing ticket.

[2022-03-12 21:26] #19382 closed

[2022-03-12 21:39] jkeenan commented on #17766
I created the following ticket in Unicode-Char's bug tracker:
https://rt.cpan.org/Ticket/Display.html?id=141734

This is a non-blocker.

[2022-03-12 22:26] jkeenan opened #19529 "BBC: Recent commit breaks test in B::DeparseTree"
A recent commit to blead has broken a test file in CPAN distribution [B-DeparseTree](https://metacpan.org/pod/B::DeparseTree).

Sample test output:
[code]
The test failure has already been reported upstream by @eserte at [RT 141404](https://rt.cpan.org/Ticket/Display.html?id=141404).

The most likely commit in Perl 5 blead to have triggered this problem is:
[code]
@iabyn, can you investigate?

Tha

[2022-03-13 00:25] jkeenan commented on #19529
I have confirmed the first bad commit:
[code]

[2022-03-13 01:47] hvds commented on #19529
Looks like we're missing a perldelta entry for that commit, I'll try to put one together tomorrow.

B::DeparseTree will need to adapt for the changed definition, I imagine that won't be difficult - maybe as simple as removing the failing test, maybe making it conditional on perl version.

[2022-03-13 08:42] demerphq commented on #17667
This patch seems to have broken HPUX.

I would like to revert it. Can someone explain why I shouldn't? I dont understand the rationale provided in this thread.

See: [https://tux.nl/perl5/smoke/hpux1111/511/gcc/smoke.log](https://tux.nl/perl5/smoke/hpux1111/511/gcc/smoke.log)

[code]
And yes, I definitely definitely expect Siphash to return *exactly* the same thing on bigendian or little endian ma

[2022-03-13 09:15] eserte commented on #17663
DBIC has now patches for this problem (if I understand https://github.com/Perl/perl5/issues/19452 correctly), but what about CGI-ProgressBar-0.05 and App-Framework-Lite-1.09 which started to fail again with perl 5.35.9?

[2022-03-13 09:23] demerphq commented on #17667
I wont revert it. But there is something wrong with the patch. I will make a new PR.

The problem was the patch changed *both* direct memory loads and shifted loads. The shifted loads were wrong. However the direct memory access can only be used on little endian machines.

[2022-03-13 09:23] #17667 closed

[2022-03-13 09:44] demerphq commented on #17663
On Sun, 13 Mar 2022 at 10:15, Slaven Rezić ***@***.***> wrote:

They need to be fixed to not rely on the buggy behavior that this patch
fixed.

Graham Knopp has been doing a lot of fixing related to this, and I will
also look into it. Do we have BBC tickets for them?

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-13 09:49] eserte opened #19532 "BBC: Blead Breaks CPANEL/cPanel-TaskQueue-0.902.tar.gz"
t/taskqueue_pausing.t in CPANEL/cPanel-TaskQueue-0.902.tar.gz started to fail with perl 5.35.9:
[code]

First report at CPAN Testers: http://www.cpantesters.org/cpan/report/d8940380-99f0-11ec-81cf-263c376c1ca9
Overview of test reports: http://matrix.cpantesters.org/?dist=cPanel-TaskQueue%200.902

[2022-03-13 09:58] eserte commented on #19522
The copyright end year of 2021 is correct for perl 5.34.0, as it was released in May 2021. The latest 5.35.x releases already have an end date of 2022.

[2022-03-13 10:07] demerphq commented on #17663
On Sun, 13 Mar 2022 at 10:44, demerphq ***@***.***> wrote:

CGI::ProgressBar unilaterally installs functions into caller(0) inside
of a BEGIN. That means it's been broken since it was released. If you
tried to load it from two modules only one would get the imports.  It
also hasn't been updated since 2010 and this issue has already been
reported to the author in 2020. Not sure what to do about tha

[2022-03-13 10:16] demerphq commented on #17667
BTW, I just discovered that probably your patch actually FIXED the smoke report I referred to. My bad for the confusion.

However if something big-endian allows unalgined loads, then it would do the wrong thing and fail tests without the patch at:

https://github.com/Perl/perl5/pull/19530

Sorry for the noise.

[2022-03-13 10:16] eserte commented on #19460
It seems to me that DAVECROSS/Tie-Hash-FixedKeys-v1.13.2.tar.gz and DAVECROSS/Tie-Hash-Regex-1.14.tar.gz are also affected by this problem (both also from DAVECROSS and having the same Attribute::Handlers magic like Tie-Hash-Cannabinol-v1.12.2).

[2022-03-13 11:39] haarg commented on #19460
Those two dists both seem to pass their tests on blead.

[2022-03-13 11:42] haarg commented on #17663
App::Framework::Lite installs subs into `caller(0)` in a BEGIN block, so it was already broken before this change. It also has an import method. It's not obvious why they didn't do the sub installation in the import, but that should be a trivial fix if the module is not abandoned.

[2022-03-13 12:15] jkeenan commented on #19484
Probably "forever".
[code]

[2022-03-13 13:11] demerphq commented on #19484
On Sun, 13 Mar 2022 at 13:15, James E Keenan ***@***.***>
wrote:

Yep. :-)

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-13 13:34] jkeenan commented on #19532
Bisecting with this invocation ...
[code]
... points to the following commit:
[code]
Sample test failure:
[code]
@nwc10, can you take a look?

[2022-03-13 13:52] jkeenan commented on #17663
I added test failure output upstream at https://rt.cpan.org/Ticket/Display.html?id=132190.

[2022-03-13 15:24] eserte opened #19535 "BBC: Blead breaks MOB/Signals-XSIG-0.15.tar.gz"
t/11-local.t started to fail with "Out of memory!" or similar errors, beginning with perl 5.35.1.
First bug report on CPAN Testers: http://www.cpantesters.org/cpan/report/38f6381e-ca68-11eb-8547-9cbd9f1ff94e
Overview of test reports: http://matrix.cpantesters.org/?dist=Signals-XSIG+0.15
Note that there are some test failures with older perl versions, but it seems that these failures are caused by

[2022-03-13 15:33] eserte commented on #17681
The test suite of Devel-Required-0.15 started to fail again. See http://www.cpantesters.org/cpan/report/5ea15b0a-9549-11ec-a601-45351f24ea8f (the reported state is "unknown" for some reason, but it should really be "fail").

[2022-03-13 15:48] eserte commented on #19475
It looks like ZARABOZO/Perlmazing-1.2816.tar.gz has the same problem (enabling all features + using prototypes).
I filed a bug report: https://rt.cpan.org/Ticket/Display.html?id=141747

[2022-03-13 18:33] jkeenan commented on #17681
Manual inspection points to commit f6387cff9cb31db4cf18c8641917ea4639ac2b65 as the cause of the failures.
[code]

At the immediately preceding commit, Devel-Required PASSes its tests, albeit with some peculiar exiting.
[code]
This module is, IMO, too clever for its own good.  `make test` removes the `Makefile`, which probably explains the `don't know how to make install` message.  You get a simila

[2022-03-13 20:36] nwc10 commented on #19532
That test file passes reliably for me with this hack:

[code]

Obviously that isn't really a fix, and it happens to cause several other tests in the distribution to fail.

I think the change in blead has exposed an existing subtle bug in the module. I find this code suspicious:

[code]

I think that what is going wrong is that it **used** to be that the size of the serealised object changed (as a

[2022-03-13 23:43] hvds commented on #19529
Now put together as #19537.

[2022-03-13 23:54] hvds commented on #19529
Oh, it was already in perl5358delta.pod, never mind me.

[2022-03-14 01:40] demerphq commented on #17681
On Mon, 14 Mar 2022 at 02:38, demerphq ***@***.***> wrote:

Sorry about  that, managed to hit send before i meant to.

I have filed:

https://rt.cpan.org/Ticket/Display.html?id=141752&results=2ec5e4d94091d7eedcacb5ca6c07c4c2

which includes a fix which should work on any perl.

commit adce5784bd27acae7fb80f42a4d2b80cd75f12a5
Author: Yves Orton ***@***.***>
Date:   Mon Mar 14 02:24:03 2022 +0100

[2022-03-14 01:47] demerphq commented on #17681
On Mon, 14 Mar 2022 at 02:40, demerphq ***@***.***> wrote:

While working on this I also noticed that ExtUtils::MakeMaker has some
documentation bugs where it says WriteMakeFile() and not
WriteMakefile(). I filed a ticket as:

https://rt.cpan.org/Ticket/Display.html?id=141753

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-14 11:53] Leont commented on #17681
I think you sent those two tickets to the [wrong queue](https://rt.cpan.org/Dist/Display.html?Queue=0.05)

[2022-03-14 13:12] demerphq commented on #17681
On Mon, 14 Mar 2022 at 12:54, Leon Timmermans ***@***.***>
wrote:

WTF. So I did. I followed links from MetaCpan, and then hit create a new
issue, so not sure what the heck happened there.

Thanks!

Yves

[2022-03-14 13:15] demerphq commented on #17681
On Mon, 14 Mar 2022 at 14:12, demerphq ***@***.***> wrote:

And fixed now.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-14 13:19] haarg commented on #17681
Unfortunately there are two buttons. The "Report a new bug" button is the correct one, which pre-selects the current queue. The "Create new ticket" button doesn't, so it just ends up with the first one, "0.05", and the wrong button is the one highlighted in the UI. I believe it's been reported to Best Practical, but it hasn't been fixed.

[2022-03-14 13:31] demerphq commented on #17681
On Mon, 14 Mar 2022 at 14:20, Graham Knop ***@***.***> wrote:

Well at least you can edit the ticket to assign it to the right queue.
Thank heaven for small mercies.

cheers,
Yves

[2022-03-14 15:01] toddr commented on #19532
Thanks for letting us know. @jkeenan please do not consider this a blocker for the next version of Perl

[2022-03-15 02:55] briandfoy commented on #19519
I'd be disappointed if I had to change a simple line like this:

	open my $fh, '>', \my $string;

This hasn't been a problem since the start of this feature, and I don't see it as user-friendly to change this behavior and now have warnings for all the similar code I've ever shown anyone (probably mostly in *Effective Perl Programming*).

[2022-03-15 03:30] haarg commented on #19519
The change (which has been reverted for now) didn't add any warnings for that case. What it did was immediately cause `$string` to be initialized to an empty string, rather than staying undef until `$fh` was written to. Various tests were checking that `$string` remained undef, and started failing.

I don't think anyone has proposed adding a warning for that case.

[2022-03-15 03:31] demerphq commented on #19519
On Tue, 15 Mar 2022, 10:55 brian d foy, ***@***.***> wrote:

I think you misunderstood the patch. You wouldn't have to change that code.
You might, if we resurrect the patch we reverted, have to change your
expectation that $string remains undef if you don't actually read or write
to the handle; on the same principle that an undef $var autovivifies when
used in a hash read or write context. But th

[2022-03-15 03:40] briandfoy commented on #19519
I didn't even look at the patch. I read the discussions and noted there were some different opinions on the path forward. I'm adding my feedback on that since I saw no strong commitment to keep it as it.

[2022-03-15 03:52] hvds opened #19539 "BBC: Blead breaks DANAJ/Math-Prime-Util-0.73.tar.gz"
See http://matrix.cpantesters.org/?dist=Math-Prime-Util+0.73 for examples.

Manual check shows that at the point we merged bignum-0.64 at 9bfb09e8f1 the test `t/70-rt-bignum.t` starts hanging. I'm investigating, and have also reported to https://github.com/danaj/Math-Prime-Util/issues/61 and https://rt.cpan.org/Ticket/Display.html?id=141772

[2022-03-15 04:39] hvds commented on #19539
Initial investigation shows that the immediate root cause is this incompatible change in bignum-0.60:
[code]

Before v0.60 the docs said:
[code]
.. and the hanging test in `Math::Prime::Util` is expecting a `Math::BigInt` object.

I've asked PJACKLAM to talk to DANAJ to try and resolve it, not sure what else might be affected.

[2022-03-15 06:16] demerphq commented on #19519
On Tue, 15 Mar 2022, 11:40 brian d foy, ***@***.***> wrote:

Well rest assured, you saw no strong commitment on that syntax because we
weren't discussing changing it. :-) We were only discussing its expected
side effects.

Have you documented the state of the variable after that line of code is
executed in any of your writing? As in what state it would be in if no
further operations were performed

[2022-03-15 12:20] jkeenan commented on #17797
That ticket was in turn migrated to https://github.com/Tux/Tk-Clock/issues/1; issue is still open.

[2022-03-15 12:30] Tux commented on #17797
@jkeenan True, and I still have no idea how to address it in plain perl. I could use some help here.

[2022-03-15 12:41] jkeenan commented on #19515
Smoke reports look good; closing ticket.

[2022-03-15 12:46] jkeenan commented on #15936
App-PDF-Link is doing fine on [CPANtesters](http://matrix.cpantesters.org/?dist=App-PDF-Link), so this ticket is closable.

[2022-03-15 12:46] #15936 closed

[2022-03-15 14:02] haarg commented on #19321
It doesn't seem like anything was done to actually fix this issue, but that running the test enough times eventually resulted in a clean run.

[2022-03-15 14:26] briandfoy commented on #19519
To be more clear, if side effects change, then the code acts differently and is not backward compatible. That would mean I'd have to change the line of code if I wanted to have it be the same thing before and after a filehandle being opened on it. That's a slightly different situation than it changing on the first actual write to it, even if that write is zero bytes.

Lots of things have changed i

[2022-03-15 15:07] robinsmidsrod commented on #19321
I was able to reproduce this issue when installing perl 5.34.1 on Ubuntu 18.04 using perlbrew. This was using an Azure Hyper-V VM. When running on a Hyper-V gen2 VM on Windows 10 I was not able to reproduce. I think this issue could be related to something Azure is doing with time and/or filesystem access. Filesystem is ext4 mounted with relatime in both situations.

Some debug output has been col

[2022-03-17 13:58] rjbs commented on #16300
With no action other than "we can close this, right?" in two years, I'm closing this.

[2022-03-17 16:52] hvds commented on #19535
Manual bisection pinpoints 55f5e765689, logically enough. @Leont could you take a look?

Test case can be reduced to `perl -e 'use Signals::XSIG; { local %SIG }'`, the hang occurs on scope exit.

If I correctly understand the implementation, both `%SIG` and its elements are tied, so I guess `Perl_magic_setsigall` will need to handle a bit more magic.

[2022-03-17 17:12] hvds commented on #16390
The last update to any of the author's 51 CPAN distributions was a little over 3 years ago, and to this particular distribution was over 10 years ago. I don't see any change in perl being prompted by this ticket, so there's little value in keeping it as an open ticket here - I think we should close it.

[2022-03-17 17:19] hvds commented on #16423
The world moved on, Pcore was fixed, and while we might some time in the future make changes to how perl continues after an error it probably won't be through this ticket, so closing this.

[2022-03-17 17:19] #16423 closed

[2022-03-17 17:54] Leont commented on #19535
Yeah, I'm guessing that the `if (PL_localizing == 2)` should also trigger when `PL_localizing == 1`

[2022-03-17 18:05] #17072 closed

[2022-03-17 22:38] jkeenan commented on #17072
Confirmed.  Thanks.

[2022-03-17 22:41] jkeenan commented on #16390
I concur.  The maintainer has not responded to [Slaven's suggestion of a patch](https://rt.cpan.org/Transaction/Display.html?id=1828133) to C-level code.  Closing.

[2022-03-17 22:41] #16390 closed

[2022-03-17 22:55] jkeenan commented on #17171
Two years ago I agreed to keep this open at the request of the former pumpking, but I think this ticket is now safely closable.  I will self-assign it for the purpose of closing it in 7 days unless someone (in authority) provides a compelling argument otherwise.

[2022-03-19 03:45] d-xn opened #19544 "binmode with ':encoding(GBK)' makes 'die()/warn()' blocking"
Module:

**Description**

I deal with files with GBK/GB2312 encoding a lot. Sometimes it occurs so weird that my Perl scripts got stuck while the CPU usage running up to 100%.

**Steps to Reproduce**

[code]

**Expected behavior**

**Perl configuration**

[code]

[2022-03-19 05:40] dankogai commented on #17766
It is now fixed.

https://github.com/dankogai/p5-unicode-char/commit/26cd17546bc34855f7d40122e395fb14cb5b4c99

I also resolved the corresponding RT.

[2022-03-19 12:01] jkeenan commented on #17766
Confirmed.  Thanks for your investigation.

[2022-03-19 12:01] #17766 closed

[2022-03-19 15:59] Leont commented on #19544
It seems to not output the error instead of dying if I do `use PerlIO::encoding; $PerlIO::encoding::fallback = Encode::FB_CROAK|Encode::STOP_AT_PARTIAL;`. I'm pretty sure this is a problem in [Encode](https://rt.cpan.org/Dist/Display.html?Name=Encode)

[2022-03-19 18:49] #16779 closed

[2022-03-20 00:41] jkeenan commented on #18708
In November I requested that the OP create a pull request if he wished to pursue this issue further.  Since no p.r. has materialized, I'm closing this ticket now.

[2022-03-20 00:41] #18708 closed

[2022-03-20 20:45] khwilliamson commented on #11271
Fixed by 0b6e3da14b7eeef5c4eca585e0c4c8911a8ecae7 and preceding commits

[2022-03-20 20:45] #11271 closed

[2022-03-20 20:49] khwilliamson commented on #17746
This is still a problem in 5.35.10

[2022-03-20 20:54] khwilliamson commented on #17730
No response in 1.5 years; closing

[2022-03-20 20:54] #17730 closed

[2022-03-20 20:57] khwilliamson commented on #13197
This was closed via #19503

[2022-03-20 20:57] #13197 closed

[2022-03-20 21:13] khwilliamson commented on #15361
I (finally) applied Tony's patch as a933fcc5f0f338b86c0f40d0e43389770419ed70

[2022-03-20 21:13] #15361 closed

[2022-03-20 21:34] khwilliamson commented on #16994
The behavior of this is now
"Regexp out of space", which sounds reasonable to me given that a pattern is repeated 687 squared times
Is this now closable?

[2022-03-20 21:37] khwilliamson commented on #17230
I get this on 5.35.10
regcomp.c:8986: void Perl_reg_numbered_buff_fetch(PerlInterpreter*, REGEXP*, I32, SV*): Assertion `s >= rx->subbeg' failed.

[2022-03-20 21:42] khwilliamson commented on #13690
No response in nearly a year; The only UB I have seen recently is in List::Utils, so closing

[2022-03-20 21:56] khwilliamson commented on #13544
No response in 5 years; OP says ok to close

[2022-03-20 21:56] #13544 closed

[2022-03-20 22:06] d-xn opened #19547 "segfult when calling 'uniqint' of List::Util with a blessed reference"
Module:
List::Util

**Description**

The 'uniqint' of List::Util crashes on a blessed reference
**Steps to Reproduce**

`perl -MList::Util=uniqint -e 'uniqint bless[]'`

**Expected behavior**

Something else other than segment fault
**Perl configuration**

[code]

[2022-03-20 22:47] jkeenan commented on #19547
Thanks for your report.  I can confirm the problem.

List::Util is part of the Scalar-List-Utils distribution which is maintained [upstream on CPAN](https://rt.cpan.org/Dist/Display.html?Name=Scalar-List-Utils).

That means that bug reports should be filed with [that distribution's own bugtracker](https://rt.cpan.org/Dist/Display.html?Name=Scalar-List-Utils).  Once the maintainer addresses the pro

[2022-03-20 22:47] #19547 closed

[2022-03-21 10:58] #19522 closed

[2022-03-21 11:59] hvds commented on #17746
@khwilliamson Should I make a PR for the one-line fix? We should really do something.

[2022-03-21 12:03] prosaole commented on #17230
I tested on CygWin perl-5.32.1.

It does not seg fault, but the result is clearly wrong.

[code]

Looks like a 31-bit overflow. So a workaround might be to simply changing an `int` to a `long`: I expect very few will have lines with `2^63` chars.

[code]

[2022-03-21 12:15] hvds commented on #16994
I think so - "recursive pattern cannot terminate" would probably be a more useful error, but I doubt we'd ever implement that unless it was trivial to do so.

[2022-03-21 12:15] #16994 closed

[2022-03-21 13:45] khwilliamson commented on #17746
On 3/21/22 05:59, Hugo van der Sanden wrote:

Please

[2022-03-21 18:59] eserte opened #19550 "BBC: Blead breaks SISYPHUS/Math-MPFR-4.21.tar.gz, SISYPHUS/Math-GMPf-0.47.tar.gz, SISYPHUS/Math-Float128-0.15.tar.gz"
t/NOK_and_POL.t in Math-MPFR-4.21 started to fail with perl 5.35.10:
[code]

Math-GMPf-0.47 and Math-Float128-0.15 have a same-named test script, which also started to fail.

[2022-03-21 19:11] eserte commented on #19550
@sisyphus FYI

[2022-03-21 19:14] eserte opened #19551 "BBC: Blead breaks SKINGTON/warnings-everywhere-0.030.tar.gz"
Since perl 5.35.10 t/warnings.t in warnings-everywhere-0.030 fails:
[code]

@skington FYI

[2022-03-21 19:24] skington commented on #19551
I was vaguely aware of something in CPAN testers breaking, but was on holiday. I'll build blead locally and see what's happened. Thanks!

[2022-03-21 20:08] jkeenan opened #19552 "dist/Locale-Maketext/t/*.t: two tests failing in some DEBUGGING builds since v5.35.10"
Since the release of perl-5.35.10, test file `dist/Locale-Maketext/t/30_eval_dollar_at.t` has begun to fail in certain smoke-testing reports.  These failures can be searched for at this [URL](https://perl5.test-smoke.org/submatrix?test=../dist/Locale-Maketext/t/30_eval_dollar_at.t&pversion=5.35.11).

What these 5 failure reports have in common is that they were all done on `-DDEBUGGING` builds.  3

[2022-03-21 20:30] jkeenan commented on #19552
Here is an example of the smokecurrent.log file on the failing runs:
[code]

[2022-03-21 21:06] jkeenan commented on #19551
Bisection with the following invocation:
[code]
... points to the following commit:
[code]
@leonerd, can you take a look?

[2022-03-21 21:41] Leont commented on #19551
Probably seems fairly obvious, that test is expecting the warning to come in the void category, but it now comes in the scalar category. This should be an easy fix in the module's tests.

[2022-03-21 21:44] leonerd commented on #19551
Weeeelll.. except that they tests don't appear to have a mechanism to make it version-dependent. I'd suggest not using `sort` for that but instead some other function that warns in void context. And also make the test be actually void context, rather than scalar.

https://metacpan.org/release/SKINGTON/warnings-everywhere-0.030/source/t/warnings.t

[2022-03-21 22:34] Leont commented on #19551
I agree

File an issue upstream?

[2022-03-21 22:38] skington commented on #19551
I'm happy that a module that tries to mess with the guts of Perl can fail when Perl changes. I've [raised an issue](https://github.com/skington/warnings_everywhere/issues/1).

[2022-03-21 22:41] skington commented on #19551
I haven't looked into the details of this yet, but it seems that I need to know about the new scalar warning category, so as part of supporting that I can fix the tests. Or just pick something else that warns in void context.

(It's quite possible that I was getting lazy towards the end of writing the original test, as you can tell from the failure happening in the last warning category alphabetic

[2022-03-21 23:03] jkeenan commented on #19550
Bisecting with the following invocation:
[code]
... pointed to the following commit:
[code]
@haarg, @leonerd, can you take a look?

[2022-03-21 23:51] jkeenan commented on #19551
I've applied the *sendToCPAN* label to it, indicating, as you suggest, that this is primarily a CPAN issue.  However, it's a bit too soon to declare this a *non-5.36-blocker*; we should see if we get other failure reports before doing so or before closing this ticket.

[2022-03-22 00:03] khwilliamson commented on #17746
#19553 fixes this issue

[2022-03-22 00:03] #17746 closed

[2022-03-22 00:23] hvds commented on #19550
The test is specifically checking the NOK and POK flags on Inf and NaN values, so it is unsurprising that this change results in test failures.

Because most of the tests are checking the value of an accumulating count, it also fails on all of those tests after the first true failure: I suspect there are only 2 real test failures here.

My guess is that only the tests will need to change, but @sis

[2022-03-22 00:29] hvds commented on #19550
Created https://github.com/sisyphus/math-mpfr/issues/4

[2022-03-22 00:35] haarg commented on #19550
These tests are checking what the internal flags are after using values in various forms. This is sensitive adjustments to how core handles the flags, which have been intentionally changed in 5.35.10. I'd say that these dists need to have their tests adjusted.

The tests are written in a rather strange way, so it's not trivial to propose a fix. I'll let @sisyphus look at fixing them first.

[2022-03-22 01:54] khwilliamson commented on #17366
In 5.35.10, ASAN no longer shows an overflow; but does show memory leaks

[2022-03-22 02:54] jkeenan commented on #19552
Four further observations:

1. This failure has now been observed on FreeBSD-13 (in addition to FreeBSD-12); see https://perl5.test-smoke.org/report/5017038.
2.  This failure has now also been observed on OpenBSD-7.0; see https://perl5.test-smoke.org/report/5017041.
3. Most runs on `[stdio]` fail.  I haven't seen any runs on `[perlio]` that do not pass.
4. We're now also observing failures on a di

[2022-03-22 02:58] jkeenan commented on #19552
@MikeFultonDev, please have a look at [this issue](https://github.com/Perl/perl5/issues/19552).

Thank you very much.
Jim Keenan

[2022-03-22 06:44] andk opened #19554 "BBC: Blead breaks DYACOB/Convert-Number-Roman-0.01.tar.gz"
**Description**

Test diagnostics:

[code]

Bisect leads to:
[code]

**Steps to Reproduce**

cpan -i DYACOB/Convert-Number-Roman-0.01.tar.gz

**Expected behavior**

The module should test successfully and be installed

**Perl configuration**

[code]

[2022-03-22 08:30] andk opened #19555 "BBC: Blead breaks MOB/Acme-InputRecordSeparatorIsRegexp-0.07.tar.gz"
**Description**

Test Diagnostics:

[code]
Bisect leads to:

[code]

**Steps to Reproduce**

cpan -i MOB/Acme-InputRecordSeparatorIsRegexp-0.07.tar.gz

**Expected behavior**

Should test the distro successfully and install it

**Perl configuration**

[code]

[2022-03-22 09:23] haarg commented on #19555
@demerphq can you take a look at this?

[2022-03-22 12:25] hvds commented on #19555
The immediate change occurs in `_compile()`:
[code]

This is run in the context of `use warnings FATAL => 'all'`, so the original experimental warning caused this to set `$q = undef` and hence construct a completely different pattern. Adding `no warnings qw{experimental}` gives a similar set of test failures under 5.34, so I think this should simply be SendToCPAN.

I'll at least start the process

[2022-03-22 12:54] hvds commented on #19555
The 5.34 comparison isn't quite fair since that would also have been affected by #19168. However the testsuite does seem to make incorrect assumptions about how variable length lookbehind will match: eg it appears to assume that `split qr{(?<=120|12)}` will split at the same points as `split qr{.*?(?:120|12)}`, whereas the former will always split `"120"` after the "12".

[2022-03-22 13:11] hvds commented on #19555
CPAN ticket created as https://rt.cpan.org/Ticket/Display.html?id=141879

[2022-03-22 15:54] hvds commented on #19554
You can also see it in metacpan's view source interface: https://metacpan.org/dist/Convert-Number-Roman/source/lib/Convert/Number/Roman.pm

If I correctly understand this, then for me the crux of it is "those marks try to combine with the slashes, as Unicode says they should" (and we're in the scope of `use utf8`). On those grounds, my instinct is that the module code should change to something th

[2022-03-22 22:00] MikeFultonDev commented on #19552
investigating

[2022-03-22 22:41] MikeFultonDev commented on #19552
@khwilliamson, I am not that familiar with smoke tests. I have a Mac and z/OS at my disposal. How do I see if it also fails for Mac? Is there a smoke test for it? If not, is there a dev system for one of the failing platforms I could look at?
This is the PR that my changes went under: https://github.com/Perl/perl5/pull/19345
Nothing I did is (knowingly) platform specific, so I'm expecting that per

[2022-03-22 22:58] rjbs commented on #19554
I agree with @hvds .  This code is egregious.  Returning to the old behavior *for a short time* and deprecating this is the largest concession I would suggest.

[2022-03-23 07:47] andk opened #19557 "BBC: Blead breaks BIGJ/Lingua-DE-ASCII-0.14.tar.gz"
**Description**

BIGJ/Lingua-DE-ASCII-0.14.tar.gz test suite has started to fail with 5.35.10. Test summary output:

[code]

Bisect leads to:

[code]

**Steps to Reproduce**

cpan -i BIGJ/Lingua-DE-ASCII-0.14.tar.gz

**Expected behavior**

Should test the distro successfully and install it

**Perl configuration**

[code]

[2022-03-23 12:17] hvds commented on #19557
The first test fail reduces to a difference in matching of `"abcdef" =~ m{(?<=(?<!yz)b)c}`: after 271c3af797 this no longer matches, when it should. Reducing the nested negative lookbehind from length-2 to length-1 allows it to match. Not yet checked, but this may be a special optimization kicking in when a fixed-length lookbehind would need to match before start of string.

<details>
  <summary>d

[2022-03-23 13:15] hvds commented on #19557
Confirmed this: "aabcdef" does match, for example.

It seems that `match_end` is getting set to pos 2 for the outer lookbehind, then to pos 1 for the inner lookbehind, then (due to the early bailout) not getting restored, so that we end up checking `locinput` against the wrong end point for the outer lookbehind. In particular, with "aabcdef" we end up reaching line 9534 (case IFMATCH_A):
[code]
..

[2022-03-23 13:27] hvds commented on #19557
I've created PR #19558 with the above fix, and confirmed that Lingua-DE-ASCII passes its tests with this.

[2022-03-23 17:32] florian-pe opened #19559 "Segmentation Fault provoqued by infinite recursion in double quote / stringification overloading"
Hi,

I just found out about a Segmentation Fault.
This is my golfed version of the bug :
[code]
The infinite recursion call happens when trying to print the arguments on the anonymous subroutine used to overload the double quotes operator.

In the module I am writing, I also got this error message `Deep recursion on anonymous subroutine` but it doesn't appear in the golfed replicate.

And this is

[2022-03-23 18:04] jkeenan commented on #19559
Not a new problem, though I don't know whether it's been reported previously or not.
[code]

[2022-03-23 18:12] jkeenan commented on #19552
The failures in dist/Locale-Maketext/t/04_use_external_lex_cache.t are now appearing on one Linux smoke-testing rig.  See:

https://perl5.test-smoke.org/report/5017075

[2022-03-23 18:18] khwilliamson commented on #19519
Since the change was reverted, I think that this isn't a BBC anymore.

If we need to keep this open, the title should be changed to reflect the new understanding.  Please propose a better title

[2022-03-23 18:19] khwilliamson commented on #19518
Is this now closable?

[2022-03-23 18:20] khwilliamson commented on #19517
Can we confirm that this has been fixed by the reversion of the patch?

[2022-03-23 18:41] florian-pe commented on #19559
@Leont
Is it impossible, even in theory, to put a special conditional in the interpreter to deal with this ?

My first idea is that, infinite recursion is a special case of recursion. And recursive call should be identifiable.
And in this particular case of infinite recursion, the difference with legitimate recursion would be that some of the arguments are guaranteed to be passed unchanged.

[2022-03-23 19:02] jmcnamara commented on #19517
@khwilliamson I can confirm. It works locally for me (the developer of Excel::Writer::XLSX) and the failing CPAN testing reports have stopped.

[2022-03-23 19:12] hvds commented on #19559
I don't think we'd want to put a special-case in for this - it would not be appropriate to suppress the overriding function for the duration of the call, the way we do for things like `$SIG{__DIE__}`. And there's nothing that requires a stringification overload to return the same value for the same input, so even if we could detect that I'm not convinced we should:

[code]

As @Leont implies, it i

[2022-03-23 20:06] khwilliamson commented on #19168
If we can't close it, we should rename it to effectively "need more tests"

[2022-03-23 20:10] khwilliamson commented on #19058
I think we can close this?  Any objections

[2022-03-23 20:12] khwilliamson commented on #18947
I'd like to get some progress on this issue

[2022-03-23 20:35] khwilliamson commented on #18946
Progress on this?

[2022-03-23 20:36] khwilliamson commented on #18907
@pali, do you have an idea about this?

[2022-03-23 20:44] khwilliamson commented on #18537
Can this be closed?

[2022-03-23 20:58] khwilliamson commented on #18521
Can we get some progress on this?

[2022-03-23 21:11] jkeenan commented on #18947
I posed this question last June:  *First thing to ask: Have we done this sort of file renaming in the past?*

Got no answers then, but I still think it's a question we should ask (and answer) first.

[2022-03-23 21:41] #18414 closed

[2022-03-23 21:44] khwilliamson commented on #18264
This is now fully implemented

[2022-03-23 21:44] #18264 closed

[2022-03-23 22:09] hvds commented on #18414
Thanks for this @khwilliamson.

[2022-03-23 22:16] hvds commented on #19058
The doc team (are they still about?) might want to verify that the underlying concept here is clearly documented wherever it needs to be. But in respect of perl's behaviour I think this is closable.

[2022-03-23 22:31] hvds commented on #19518
My assumption is no: the intention is apparently to reintroduce the reverted change early in the 5.37 cycle, so this and the related BBC issues will then become relevant again. However if PSC judges that this and the other modules are simply over-testing things that have never been defined by perl core, we could probably close them all with SendToCPAN.

I did create an issue for this on the module

[2022-03-23 22:40] hvds commented on #19520
Given the intention is to reintroduce the reverted change in 5.37, there should probably at least be an issue raised on the module before closing this.

[2022-03-24 00:28] jkeenan commented on #19058
Unfortunately, no.

Agreed; closing.

[2022-03-24 00:28] #19058 closed

[2022-03-24 03:39] khwilliamson commented on #18128
This is stalled

[2022-03-24 06:41] sisyphus commented on #19550
Sorry I'm a bit late to this - I've been off-grid for a few days.
I'm aware of the failure, and I'll fix it before 5.36 is released. It's not a big deal for me to deal with.
(I hadn't anticipated the recent change to the flags when an inf/nan NV is stringified.)

[2022-03-24 07:54] andk opened #19561 "BBC: Blead breaks DCMERTENS/C-Blocks-0.42.tar.gz"
**Description**

Tests started to fail on 5.35.10. Only non-threaded perls are to be investigated since the package is not thread safe.
Diagnostics output:
[code]

Bisect leads to
[code]

**Steps to Reproduce**

[code]

**Expected behavior**

Should test the distro successfully and install it

**Perl configuration**

[code]

[2022-03-24 11:12] richardleach commented on #19561
Thanks @andk.

I'm assuming that it's this test that fails (and the following one presumably would too).
[code]
I'm not familiar with how _cblocks_ work but will try to look into it. (Don't have much time right this minute though.)

The internal error comes from this code in _lib/C/Blocks.xs_:
[code]
My first guess is that since 75acd14e43f2ffb698fc7032498f31095b56adb5 inlined `newSV_type`, this `

[2022-03-24 11:46] richardleach commented on #19561
@run4flat - is C::Blocks currently able to handle other inline functions somehow? Or can you see any way that it could?

[2022-03-24 13:52] xenu commented on #19561
To me it looks like a bug in TCC. It successfully compiles the function below (in `execute_compiler`) and then it complains it can't find the `op_func` symbol (in `build_op`).

[code]

[2022-03-24 17:39] khwilliamson commented on #19552
I now am able to reproduce it on an hp-ux box.

The problem manifests as
Assertion failed: start <= s, file inline.h, line 2155

So now the debugging can begin

[2022-03-24 20:02] jkeenan commented on #19552
Manual before/after results; commit suggested by @khwilliamson on IRC #p5p
[code]
The problematic commit:
[code]

[2022-03-25 09:22] abraxxa commented on #18616
Has there been any progress beyond of this issue?
I'm using Test2::V0 in all my new modules because testing only the relevant parts of bigger, nested data structures is possible and easy with it.

[2022-03-25 12:15] jkeenan commented on #19552
For me the failures have been fixed by:
[code]
Let's keep this ticket open until we get smoke-test reports from all the platforms mentioned above which were experiencing failures.

[2022-03-25 12:33] wchristian opened #19563 "looks-like-a-function awkwardness"
**Where**
multiple places in the documentation and some code

**Description**
These phrases are mentioned variously. More might exist.

- looks-like-a-function rule
- looks-like-a-function trap
- 'if it looks like a function' rule
- "looks like a function rule"
- "if it looks like a function, it behaves like a function" rule

These issues exist:

1. inconsistent naming
2. none of the invocations l

[2022-03-25 13:19] hvds commented on #19557
#19558 now merged, which fixes this.

[2022-03-25 13:19] #19557 closed

[2022-03-25 13:24] hvds commented on #19555
There's no evidence of any error in perl here: the module makes incorrect assumptions about how variable-length lookbehind will match, triggers its use (deliberately or accidentally, I can't tell) on the lack of an "experimental" warning, and lives in the Acme namespace.

Marking this as SendToCPAN; I do not think we should block on this.

[2022-03-25 15:44] hvds commented on #19439
I started trying to look at this, but got stuck during dependency installation at `Devel-Debug-DBGp-0.22`: see https://github.com/mbarbon/perl-remote-debugging-client/issues/6. That module seems to be passing fine on cpan-testers, so I'll wait to see if the author can suggest a way forward before continuing with this.

[2022-03-26 14:43] miyucode opened #19564 "mpm"
https://github.com/Perl/perl5/blob/9e3e2820c0b1a62da54172be27a025f57e691166/perl.c#L136

[2022-03-26 14:43] #19564 closed

[2022-03-26 15:15] Leont commented on #19535
That's not the problem.

The problem is that this module is actually [tie()ing `%SIG`](https://metacpan.org/release/MOB/Signals-XSIG-0.15/source/lib/Signals/XSIG.pm#L80), which unsurprisingly turns out to be highly fragile.

I think this is a them problem and not an us problem.

[2022-03-26 15:29] hvds commented on #19439
I managed to solve this by finding a missing PUSHMARK before a call_pv() in the module's perl5db.xs - but that leaves me curious how this ever worked on anyone else's system. I'd be grateful if someone that knows a bit about XS could take a look at the detail I added to that ticket to see if they can explain it.

[2022-03-26 15:39] hvds commented on #19535
Could you expand on that? It seems to have worked ok (at the level of passing its tests) up until now.

[2022-03-26 18:28] Leont commented on #19535
On every write to an element, this module will untie, write and then retie `%SIG`. That means that any writing iteration will infinitely loop. My code happens to do exactly that: loop and call setmagic.

This code was always broken, it just didn't have a test showing the broken behavior.

[2022-03-26 23:22] hvds commented on #19439
Ok, the test is trying to show that an attempt to set a breakpoint at line 15 of a simple plack application (https://metacpan.org/release/MBARBON/Plack-Middleware-DBGp-0.13/source/t/apps/no_enbugger.psgi) fails with an error saying that the line is not breakable.

However after Tony's commit that line _is_ breakable; as a result, the test code receives back `DBGp::Client::Response::BreakpointSet`

[2022-03-26 23:46] hvds commented on #19439
Created https://github.com/mbarbon/plack-middleware-dbgp/issues/3 to advise the author.

[2022-03-27 16:37] dmitry-novozhilov commented on #19475
I've merged a @haarg's pull request which fixes the problem.

[2022-03-27 17:01] jkeenan commented on #19475
Confirmed.  I've installed App-SimpleBackuper-0.2.25 against a blead built two days ago.  Thanks for your investigation.  Closing this ticket.

[2022-03-27 17:01] #19475 closed

[2022-03-27 17:49] hvds commented on #19478
@khwilliamson Just taking a look at this, my first question is why a random call to sv_magic() (in this case to mark as tainted) needs to reach code to "force pos to be stored as characters, not bytes". Surely this check should happen either earlier (when it first qualifies as `SvMAGICAL(sv) && DO_UTF8(sv)`) or later (eg on mg_find)?

This block was introduced in 25fdce4a16, but reading through th

[2022-03-28 02:06] jkahrman opened #19565 "t/porting/podcheck.t flagging POD in Windows generated HTML"
Module: Pod::Html

**Description**
t/porting/podcheck.t is failing example POD snippets in HTML generated from the POD files by Pod::Html via the installhtml script (used on Windows as part of the default 'install' targets). I believe prior to #18031, these example POD snippets were not detected by the test because the POD directives were not at the beginning of lines.

**Steps to Reproduce**
gmak

[2022-03-28 02:28] kloczek opened #19566 "5.34.1: build fails when zlib-ng is used"
**Description**
Loomks like perl at the moment cannot be build against zlib-ng (it is only knowjn to me project which cannot ATM be build against zlib-ng)

**Steps to Reproduce**
- install zlib-ng with devel
- build perl

**Expected behavior**
it would be possible to build perl against zlib-ng.

Compile time errors:
[code]

[2022-03-28 02:32] jkahrman commented on #19565
Modified podcheck.t to skip the generated windows HTML (win32/html)

[podcheck_no_html.patch.txt](https://github.com/Perl/perl5/files/8359244/podcheck_no_html.patch.txt)

[2022-03-28 03:45] sisyphus commented on #19565
FWIW, I'm not seeing this issue with Visual Studio 2019 or mingw-w64 builds. (All tests successful.)

But @jkahrman's build includes '.' in <code>@INC</code>, whereas my builds don't.
I'm guessing that might well account for the difference.

[2022-03-28 08:40] demerphq commented on #19555
On Fri, 25 Mar 2022 at 14:24, Hugo van der Sanden ***@***.***>
wrote:

Agreed.

Yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-03-28 11:53] jkeenan commented on #19566
Can you provide URLs for what you believe to be definitive sources and documentation for zlib-ng?

(I ask so that we can all be on the same page with what is essentially a new feature request.)

Thank you very much.
Jim Keenan

[2022-03-28 12:09] jkeenan commented on #19529
The upstream ticket was created by @eserte and can be found at [RTC 141404](https://rt.cpan.org/Ticket/Display.html?id=141404).

@iabyn, can you take a look at this ticket?

Thank you very much.
Jim Keenan

[2022-03-28 13:57] sisyphus commented on #19550
The problem is not quite as I initially thought it would be.
Here's a demo of the issue, in a nutshell:
[code]
On perls prior to the 5.35.10 dev release, this script would output:
[code]
But with the release of perl-5.35.10, it outputs:
[code]
Do we really want perl's shift() function to alter the flags like that ?
I expect not .... at least I hope not. (IMO, it just makes a mockery of removing th

[2022-03-28 15:26] hvds commented on #19550
I would have assumed not. It's not `shift` per se, but assignment; you can see it here:
[code]

This happens in `sv_setsv_flags` around sv.c:4435 - this block is entered if `ssv->flags & SVp_POK`:
[code]

@nwc10 is this intended behaviour?

[2022-03-28 15:29] kloczek commented on #19566
https://github.com/zlib-ng/zlib-ng/
zlib-ng is available as installeable package in most of the major Linux distributions.

[2022-03-28 16:41] hvds commented on #19566
@kloczek I think you may need to give more details of how you are building zlib-ng and how you are building perl, since a) I wasn't able to reproduce this, b) the errors you show appear to be internal errors within zlib.h (gzFile and ZNULL are both declared there).

I cloned the zlib-ng repository, then did:
[code]

I then configured and built perl with:
[code]
.. which built ok (but by default bu

[2022-03-28 17:45] kloczek commented on #19566
I'm building zlib-ng using cmake
[code]

[2022-03-28 18:00] hvds commented on #19566
And which version of the zlib-ng code are you building? And how are you configuring perl? Oh, and what platform are you on?

Given my first attempt to reproduce it did not show any problem, it would make sense to give as much information as you can that might affect reproducibility.

[2022-03-28 18:48] jkahrman commented on #19565
Based on my reading of t/porting/podcheck.t, I don't see how those could be related. The test overwrites the default @INC to "../lib", and searches for files in the root build directory, not the INC path. @sisyphus, is your build generating the HTML before running the t/porting/podcheck.t test or after?

[2022-03-28 19:47] nwc10 commented on #19550
Well, it was in 2003 (commit 120fac9542f) but a lot has changed since then, so I'm not so sure now.

But I think that @haarg's suggestion is right. Something like this makes all the modules pass (and the `Devel::Peek` testcase also show the same flags)

[code]

I'm too tired now to write sensible tests (or a decent commit message), and I'm not sure if there are other places that have been missed.

[2022-03-28 20:04] khwilliamson commented on #19478
@hvds analysis seems correct to me, and I concur.

[2022-03-28 22:32] sisyphus commented on #19565
They may be unrelated ... it was just a guess.
I'll try building perl again, but with '.' included in <code>@INC</code>, and see if I then hit the same problem.

In the meantime, @khw has asked me to offer the following thoughts, as github is preventing him from commenting on this Issue:
[code]

[2022-03-29 20:54] jkeenan commented on #19565
I suspect you are correct, and I therefore also suspect your p.r. should be applied.

**However,** let me share some thoughts -- based on having done a lot of work last year refactoring `ext/Pod-Html/` -- on why this problem occurs.

AFAICT, the only thing *inside the core distribution* that uses the *pod2html* executable program (`ext/Pod-Html/bin/pod2html`) is the executable program `installhtml

[2022-03-30 01:06] jkeenan commented on #19551
I will verify this tomorrow; version 0.031 hasn't yet shown up on https://metacpan.org/pod/warnings::everywhere.

[2022-03-30 01:26] skington commented on #19551
Yeah, the link was for posterity. Thanks all!

[2022-03-30 06:38] sisyphus commented on #19565
On looking more carefully at @jkahrman's original post, I can see that there's quite a few things being done with which I am unfamiliar.

Firstly, although I build perl on windows regularly and often, I've never run <code>gmake installhtml</code>.
I don't what that's supposed to do. I guess it installs some html somewhere.

I would have expected that, when using Microsoft tools, one would instead

[2022-03-30 06:48] jkahrman commented on #19565
Sorry, that was a copy paste error in my original post. I've removed the debugger flag from the command I used to run the test.

(g|n)make [args] test
(g|n)make [args] install
(g|n)make distclean

...
Since you are running the tests before the install step and cleaning after the install, you are likely never running with the win32/html directory present. I've been running the tests after the insta

[2022-03-30 09:08] sisyphus commented on #19565
Aaah ... now I see.

The ./win32/html directory doesn't exist until 'make install' has been run.
It therefore seems reasonable to me that files in this folder (should the folder exist) be excluded from podcheck.t scrutiny, as per your patch.

Cheers,
Rob

[2022-03-30 11:50] jkeenan commented on #19551
warnings::everywhere PASSed all tests for me and is installing okay.  It appears to be doing well on [CPANtesters](http://matrix.cpantesters.org/?dist=warnings-everywhere) (except on Windows which the maintainer should examine).

Closing ticket.  Thank you very much.

[2022-03-30 11:50] #19551 closed

[2022-03-30 13:28] #18458 closed

[2022-03-30 17:35] kbulgrien opened #19569 "Perl Storable module should ask for Test::More version >= 0.82"
This is a bug report for perl from kevinb@systemsdesignusa.com,
generated with the help of perlbug 1.35 running under perl v5.8.8.

-----------------------------------------------------------------

Apologies if this is the incorrect reporting forum.  I've not run across a
module that points issues to the perl list issue tracker.  Also it was not
clear at all what "category" to mention in perlbug.

[2022-03-30 19:22] FGasper opened #19571 "NO_XSLOCKS shouldn’t affect htons() et al. (Or should it?)"
**Description**
Earlier today I discovered that XSUB.h overwrites functions like `htons`. WIth @Leont’s help I learned that it has to do with the implicit-sys logic, which itself depends on NO_XSLOCKS (discussed in perlguts) being undefined.

The overwrite is problematic because Perl’s versions of these functions require the thread-context local variable (`aTHX`), which means C functions that lack

[2022-03-30 19:24] FGasper opened #19572 "[doc] Describe overwrite of system calls via implicit-sys"
**Description**
This is the case to hold the docs work discussed in #19571.

[2022-03-30 19:42] FGasper commented on #19563
@wchristian Could you cite some examples?

[2022-03-30 20:17] dfskoll opened #19573 "IPC::Open3 - Fails if STDOUT is not opened to fileno 1 in caller"
If STDOUT is not open with fileno 1, then IPC::Open3 can fail.  For example, if STDOUT is opened for in-memory I/O, then its fileno is -1 and the file descriptors in the child process are not duplicated properly.  The attached test program illustrates the issue; expected output is:
[code]

but actual output is:

[code]

Open3 should make sure in the child that STDIN/STDOUT/STDERR are open with fil

[2022-03-30 20:42] dfskoll commented on #19573
The attached patch seems to fix it, but I haven't tested extensively.  It's patched against the version shipped with Debian 11; the patch applies right after the `untie` calls in the child process.
[open3-patch.txt](https://github.com/Perl/perl5/files/8383915/open3-patch.txt)

[2022-03-30 20:46] dfskoll commented on #19573
This patch (against the version of `IPC::Open3` shipped with Debian 11) seems to fix it.  Haven't done extensive testing.
[open3-patch.txt](https://github.com/Perl/perl5/files/8383943/open3-patch.txt)

[2022-03-31 03:13] sisyphus commented on #19550
In the modules of mine that are affected by this, I'll add some code that detects the presence of this behaviour and modifies the failing test script accordingly.
Hopefully, this will be done in such a way that does not require a rewrite if this current behaviour is altered. (But that's my responsibility, anyway.)

AFAICS it's a fairly inconsequential bug.
Even though both the POK and NOK flags ar

[2022-03-31 08:04] wchristian commented on #19563
I've given all the phrases i could find that are related. There are probably more. Grepping those gives examples. Not sure what specifically i am supposed to cite here.

[2022-03-31 17:29] jkeenan commented on #19569
Addressed by https://github.com/Perl/perl5/pull/19570; closing ticket. Thanks.

[2022-03-31 17:29] #19569 closed

[2022-03-31 19:25] #19331 closed

[2022-04-01 22:31] Grinnz commented on #19573
As I alluded to in the PR, most things cannot be expected to function correctly if the program has closed STDIN, STDOUT, or STDERR, and then opened filehandles in their place (in-memory or otherwise). Programs should instead reopen the global handles to `File::Spec->devnull` if they are attempting to daemonize.

[2022-04-01 22:33] jkeenan commented on #19520
@abeltje released Test-Smoke-1.79 to CPAN two days ago, and it is passing tests against blead.  So we can close this ticket.

[2022-04-01 22:33] #19520 closed

[2022-04-01 22:55] jkeenan commented on #17171
Closing ticket as per schedule.

[2022-04-01 22:55] #17171 closed

[2022-04-01 23:16] kloczek commented on #19566
I'm using latest 2.0.5.
If you will look closer on zlib-ng you can easyly grep for `gzFile` and you will be able to find that there is no prootypes or defines with that name.
If you are able to build with zlib-ng devel resources installed probably in your case you have zlib headers in /usr/include.
Just please make sure that really you don't have zlib.h in standard include path.

[2022-04-01 23:25] jkeenan commented on #16583
I was able to install Devel-hdb-0.25 against Perl 5 blead today (on FreeBSD 13).  The module is doing well on [CPANtesters](http://matrix.cpantesters.org/?dist=Devel-hdb+0.25).  So this ticket is closable.

[2022-04-01 23:25] #16583 closed

[2022-04-01 23:27] jkeenan commented on #19483
@cjg-cguevara, from your smoke test reports I believe this failure has been fixed.  Can we close this ticket?

[2022-04-01 23:34] jkeenan commented on #19432
At least as of commit 9155444267, I'm not getting any of these build-time warnings when compiling with `gcc12` on FreeBSD-12.  Am self-assigning this ticket for the purpose of closing it in 7 days unless there is a serious objection.

[2022-04-01 23:37] jkeenan commented on #19413
[snip]

@Tux, have you been able to take a look at this ticket?

[2022-04-01 23:52] jkeenan commented on #14040
This failure was reported on a version of FreeBSD which is no longer supported.  According to our [smoke-test aggregator](https://perl5.test-smoke.org/matrix), t/op/sprintf2.t is only failing on HP-UX.  That should be the subject of a separate ticket.  Closing this one.

[2022-04-01 23:52] #14040 closed

[2022-04-02 02:25] hvds commented on #19566
`gzFile` is typedef'd in zlib.h and in zlib-ng.h: https://github.com/zlib-ng/zlib-ng/blob/c69f78bc5e18a0f6de2dcbd8af863f59a14194f0/zlib.h#L1279 and https://github.com/zlib-ng/zlib-ng/blob/c69f78bc5e18a0f6de2dcbd8af863f59a14194f0/zlib-ng.h#L1294 (that's the commit tagged as 2.0.5).

In zlib.h the underlying `gzFile_s` structure is declared whenever `Z_SOLO` is not defined. That's also how it works

[2022-04-02 02:59] kloczek commented on #19566
Please look one more time on quoted output.
What is missing is not `gzFile_s` but `gzFile` type definition
[code]

[2022-04-02 03:02] kloczek commented on #19566
Also zlib-ng.h is not installed.
That is all what I have about zlib-ng devel resources
[code]

[2022-04-02 09:09] demerphq commented on #17230
On Mon, 21 Mar 2022, 20:03 prosaole, ***@***.***> wrote:

I don't think that is possible, this logic suffers from the semi-predicate
problem and uses -1 to represent "no match". We would need to change the
offset data and possibly other counters from I32 to I64.

Yves

[2022-04-02 14:18] hvds commented on #19566
This is the type definition.  You will need to discover why when you compile this it is not picking up this type definition, I can't do that for you.

[2022-04-02 15:39] kloczek commented on #19566
How can I trace that? 🤔

[2022-04-02 18:20] #13690 closed

[2022-04-02 19:56] rjbs commented on #17663
I am closing this.  The known breakage has been addressed.  (#19452 exist but is a separate issue.)  I don't really expect we'll see the non-DBIx-Class libraries fixed, because I don't expect they're in use, but this issue will not block release.

[2022-04-02 19:56] #17663 closed

[2022-04-02 20:01] rjbs commented on #17681
I have marked this not-a-blocker.  A fix has been sent upstream, and the library does not appear high up the river.

[2022-04-02 20:04] rjbs commented on #19440
I agree with Nicholas's evaluation here.  Boiled down, we should not hold back improvements in the programming environment to support this behavior (compile perl and extensions differently) which has never been something really supported.

I am marking this not-a-blocker

[2022-04-02 20:05] rjbs commented on #19460
@Ovid (Any response?)

But meantime, I am marking this not blocking v5.36.0

[2022-04-02 20:09] rjbs commented on #19462
I don't believe this should block the release of v5.36.0 but have not (yet) added a non-5.36-blocker label, as I'm hoping we'll see a new release.

@nwc10 What do you think about the value of adding a "how this may break your slightly wrong code" section to perldelta?

[2022-04-02 20:14] rjbs commented on #19529
The tests for B-DeparseTree appear to generate and `eval` the code string `sort ()`.  So, there you go.

The tests should be updated.  This library does not appear to be a dependency for anything.  I expect a patch would not be particularly difficult, but the tests are definitely a bit complex, so I did not make even a modest attempt.

I will not yet label this non-5.36-blocker.

[2022-04-02 20:17] rjbs commented on #19535
Do we think the underlying library can be salvaged?

[2022-04-02 20:22] rjbs commented on #19554
@khwilliamson Almost two weeks later, my feeling here is that the library is doing something ill-advised, even if it's not totally absurd.  The library should be fixed and we should document this kind of problem in the delta.

Your thoughts?

[2022-04-02 20:38] Leont commented on #19535
Probably, but I suspect it will be more work that I'm willing to put into it.

The obvious approach is to Moving %SIG to another name, and then redefining %SIG to be a hash with the new magic. That way the new magic doesn't have to untie itself to access the old magic.

[2022-04-02 22:15] jkeenan commented on #19469
Today, in order to move the discussion in this ticket forward, I created the following branch in our repository:

[smoke-me/jkeenan/text-balanced-gh-19469](https://github.com/Perl/perl5/tree/smoke-me/jkeenan/text-balanced-gh-19469)

For this branch I took the HEAD of the `master` branch of [Text-Balanced's GH repository](https://github.com/steve-m-hay/Text-Balanced) (version "2.04_02"), created a

[2022-04-02 22:40] khwilliamson commented on #19554
https://github.com/Perl/perl5/pull/19579 changes things back so that this should pass.  I'm thinking it might be a good idea to put this in, as you earlier said, temporarily for 5.36.0.

[2022-04-03 02:00] sisyphus commented on #19550
Fixed by #19580 (which has not yet been merged at time of writing).

[2022-04-03 09:04] nwc10 commented on #19462
I'm really not sure if there is a useful wording. Since the merge we've uncovered (I think) 2 things that were bugs in the core that needed fixing. The rest grouped as

1. your code was explicitly using `B` to read flags (and the module in question was already subtly buggy - we just exposed it directly in an existing test)
2. your code is sensitive to the length of the serealised form of a data st

[2022-04-04 12:14] dfskoll commented on #19573
I disagree.  There are many use-cases for opening STDOUT to an in-memory string.  In our specific case, it's a Plack service that is accumulating its result in memory before sending it to the browser.

The problem is that IPC-Open3 conflates STDOUT with file descriptor 1.  Once we remove that assumption, it can easily be made to work without affecting existing code (see https://github.com/Perl/per

[2022-04-04 14:48] mohawk2 commented on #19469
I believe it is in good enough shape, though I do not have permissions to CPAN-release it.

[2022-04-04 15:52] Grinnz commented on #19573
I would recommend looking at how [Capture::Tiny](https://metacpan.org/pod/Capture::Tiny) accomplishes such things without breaking forks.

[2022-04-04 15:58] dfskoll commented on #19573
Hi,

On Mon, 04 Apr 2022 08:52:15 -0700
Dan Book ***@***.***> wrote:

Could you clarify what you mean by "breaking forks"?

Regards,

Dianne.

[2022-04-04 16:03] Grinnz commented on #19573
Well more specifically, breaking any code that uses STDOUT/STDIN/STDERR afterward, including forked processes.

[2022-04-04 23:46] kloczek commented on #19566
FYI: I've opened https://github.com/zlib-ng/zlib-ng/issues/1234

[2022-04-05 04:50] mtl1979 commented on #19566
Compiler flags include `-DZ_SOLO` which disables support for gzip-related functions and macros. Removing that should allow compilation to continue... With current development version of zlib-ng, those functions are correctly guarded with check for `Z_SOLO` not being defined.

[2022-04-05 05:25] nmoinvaz commented on #19566
zlib-ng.h will not be installed if you are using `-DZLIB_COMPAT=ON`. You'll only get zlib.h.

[2022-04-05 12:12] sisyphus opened #19585 "New test failures (beginning with perl-5.35.10) on -Duselongdouble builds when longdouble is "DoubleDouble""
The following addition to ext/Devel-Peek/Peek.t in perl-5.35.10 leads to 2 failed tests on perls built with<code>-Duselongdouble</code> iff the longdouble is "DoubleDouble":
[code]

Module:
Devel::Peek

**Description**

Provided above.

**Steps to Reproduce**

Just build current blead on a system where longdouble is "DoubleDouble" and then run:
[code]
You'll get output that terminates as follows:

[2022-04-05 12:46] jkeenan commented on #19585
On 4/5/22 08:13, sisyphus wrote:

Can you clarify what systems/platforms meet this criterion?  How would I
determine if my machine met the criterion?

Can it be simulated on other platforms?

[2022-04-05 14:16] sisyphus commented on #19585
Hi Jim,

One (time-consuming) way would be to build a -Duselongdouble build of perl and then check that <code>perl -V:longdblkind</code> returns a value in the range [5 .. 8] (inclusive).

But, as a quick check, I would just build and run the following C script, using the C toolchain that would be used to build perl:
[code]
IIRC, the most extreme example of the doubledouble's capability is it's ca

[2022-04-05 14:32] jkeenan commented on #19585
Those changes were made in this commit:
[code]
@demerphq, @t-a-k ... can you take a look?

[2022-04-05 14:36] kloczek commented on #19566
I'm puzzled .. so using `-DZLIB_COMPAT=ON`  does not mean build and install zlib-ng in zlib compatibility mode? 🤔

[2022-04-05 14:49] mtl1979 commented on #19566
Incorrect. It just changes the header filenames to match what zlib.h has.

[2022-04-05 17:45] demerphq commented on #19585
On Tue, 5 Apr 2022 at 16:32, James E Keenan ***@***.***>
wrote:

I can look, but all this patch did was make Devel::Peek::Dump output more
digits of decimal point.

The first error seems to be related to the underlying object being a PVNV
instead of a NV. That feels like an artifact. I suspect somewhere the $one
is being printed out maybe?

The second one is weird, it is a pure NV, but apparently

[2022-04-05 18:30] dfskoll commented on #19573
My patch (the new one at https://github.com/Perl/perl5/pull/19582) does not break that.

In the case where we exec, STDIN/STDOUT/STDERR are irrelevant; they vaporize and the new program only knows about file descriptors 0, 1 and 2.  If the newly-execed program happens to be perl, it will set up STDIN/STDOUT/STDERR as per usual.

In the case where we do not exec, I do open STDIN/STDOUT to file desc

[2022-04-06 04:44] demerphq opened #19588 "Encode produces copious warnings during build under gcc"
Module:
Encode aka cpan/Encode

**Description**
During build Encode in core produces copious warnings due to -Wc++-compat

[code]
These warnings are bogus as the code generator produces code which is tailored for C++ or C, and the C code that is being warned about simply isn't used in a C++ build.

[code]

Note this is a placeholder issue to record this for Perl, an issues exists for the upstream

[2022-04-06 04:53] demerphq commented on #19588
The fix is not merged yet, reopening until it is.

[2022-04-06 05:11] demerphq commented on #19554
On Sun, 3 Apr 2022 at 00:40, Karl Williamson ***@***.***>
wrote:

\x{...} to represent the marks it wants to replace? Then the parser won't
get confused.  It seems to me that you fixed a bug that they were depending
on, and they should change their code.

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-06 05:21] sisyphus commented on #19585
Here's a patch which, I think, transforms the intended tests into a form that is suitable for the DoubleDouble build, by special casing that system, yet leaving all other systems untouched.
(All Peek.t tests then pass for me.)
[code]
I've no strong objection to letting this slip by for now, and then provide a PR after 5.36.0 has been released.
The main thing, for me, is that I understand what's ha

[2022-04-06 05:48] demerphq commented on #19585
On Wed, 6 Apr 2022 at 07:22, sisyphus ***@***.***> wrote:

I was just investigating this too.

The test code has a bug where it computes $epsilon_n but does not use it, I
think it should be using $epsilon_n and not $epsilon_p.

We should just fix this.

Yes, it is weird, and I have not found out why it happens.

Well in theory it should not matter. In practice we should find out why it
happens and

[2022-04-06 05:56] demerphq commented on #19585
On Wed, 6 Apr 2022 at 07:48, demerphq ***@***.***> wrote:

BTW, that exact command line does produce the same result as you showed,
but the tests pass under use-long double without my patch on my system. So
the actual test code doesn't seem to do this /for me/. I dont really get
it. I will dig deeper tho.

I think we should create a new issue for this.

Yves

[2022-04-06 07:06] sisyphus commented on #19585
IIUYC, although both our systems react in the same way to <code>$one + 0</code>, it was only the DoubleDouble system that would ever evaluate <code>$one + 0</code>.
Therefore the test failure was limited to the DoubleDouble system.
It was inside the while loops that calculated $epsilon_p and $epsilon_n that the DoubleDouble system would eventually evaluate <code>$one + 0</code>.
Of course, with th

[2022-04-06 11:49] sisyphus commented on #19585
The same 2 tests fail.
The second of those failing tests ("NV 1.0 - epsilon") fails for the wrong reason - namely a perl/C printf() bug that displays a value greater than 1, even though perl/C knows it is less than 1.

However, if the bug wasn't there, this test should still fail.
Dump() fills the NV slot with a 33 significant decimal digit representation of the value 1.0 - (2 ** -1074).
A correct

[2022-04-06 11:51] jkeenan commented on #19588
Note that this was first reported in https://github.com/Perl/perl5/issues/17014 three years ago.  I look forward to this correction.

[2022-04-06 11:59] demerphq commented on #19585
On Wed, 6 Apr 2022 at 13:49, sisyphus ***@***.***> wrote:

Shouldn't we create an issue about the printf bug?

Thanks, this is very interesting.

OK, I spent the last hour or so digging into that one and I kinda
understand it. I have a gdb trace session open to debugging it right now
and I can provide it for the ticket once it is created.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|ha

[2022-04-06 12:05] demerphq commented on #19588
On Wed, 6 Apr 2022 at 13:51, James E Keenan ***@***.***>
wrote:

Me too. And some. It's up to Dan Kogai now. :-)

Yves
--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-06 12:22] demerphq commented on #19504
Closing this issue as it is long resolved now.

[2022-04-06 12:22] #19504 closed

[2022-04-06 12:26] sisyphus opened #19589 "SV is "PVNV" despite being assigned/used in numeric context only"
This came up in #19585.
AFAICS, it's happening in current blead, all the way back to perl-5.8.8.
Maybe it's nothing to worry about.

**Steps to Reproduce**

$ perl -MDevel::Peek -le '$x = 1.0; $y = $x + 0; Dump $x;'
SV = PVNV(0x23426160) at 0x23448a38
  REFCNT = 1
  FLAGS = (IOK,NOK,pIOK,pNOK)
  IV = 1
  NV = 1
  PV = 0

**Expected behavior**

Given that $x was created as a number, and then used o

[2022-04-06 13:09] haarg commented on #19589
It needs to be PVNV to be able to store both the IV and NV values. You are adding 0, which is an IV, so it tries to do integer math if possible. I don't see any problems with the behavior here.

[2022-04-06 13:18] demerphq commented on #19589
On Wed, 6 Apr 2022 at 15:09, Graham Knop ***@***.***> wrote:

At one level I agree with you and at another I don't.

So there are two cases which I think we should consider differently. The
first is adding the constant 0. I dont think that should trigger
an upgrade. Adding a 0 in a variable is a harder case.

For what its worth I ran this through the debugger and he is the code that
is executed:

[2022-04-06 13:35] sisyphus commented on #19585
I don't see much chance of this being fixed even if a bug report was made.
The system is Debian Wheezy - which was released in 2013 and EOL'd 4 years ago,
The gcc version is 4.6.3, glibc-2.13.
I would not be surprised if things were much better with more recent software.

The salient point is that this printf() bug is present in the C toolchain - perl is merely mirroring the C issue.

I can use Ma

[2022-04-06 14:01] haarg commented on #19589
Some thoughts without any real conclusions.

It may be worth changing how the upgrading is done to avoid setting the SVf flags, similar to the change made to prevent integers from setting SVf_POK when used as a string. On its own, this wouldn't prevent the upgrading to PVNV, since it would only be a change to how the flags are set. I suspect that it would be more problematic than the string case t

[2022-04-06 14:52] haarg commented on #19585
It has always been the case that various read operations can modify the internals of a value. The simple option seems to be avoiding touching the value before dumping it.
[code]

[2022-04-06 15:08] haarg commented on #19585
@sisyphus can you test my proposed fix for this? #19592

[2022-04-06 15:15] khwilliamson commented on #19554
On 4/5/22 23:11, Yves Orton wrote:

Yes it would.

The maintainer hasn't responded to an email from me in a couple weeks
asking how to contribute; there is no repository for that distribution
to contribute to.
This would be considered a temporary patch to get 5.36 out the door
without breaking a distro.

It comes down to how much we care about breaking this module now.  We
might have to take it ov

[2022-04-06 15:33] demerphq commented on #19585
On Wed, 6 Apr 2022 at 17:08, Graham Knop ***@***.***> wrote:

I think you should read the rest of the thread Graham, that wasn't the
problem, that was a symptom. :-)

On his platform it needs to set $epsilon_p and $epsilon_n directly as it
can't be computed the way we are for long-doubles. And once you do that it
never does a $one - 0 or $one + 0 and the PVNV upgrade never becomes an
issue. :-)

H

[2022-04-06 15:35] demerphq commented on #19554
On Wed, 6 Apr 2022 at 17:15, Karl Williamson ***@***.***>
wrote:

 FWIW, I definitely dont think this issue should be a blocker for us. I
vote that we keep your patch and not worry about breaking this module. Lets
just file a patch that fixes it and move on.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-06 20:08] richardleach commented on #19589
Related: https://github.com/Perl/perl5/issues/17777, https://github.com/Perl/perl5/issues/18914, https://github.com/Perl/perl5/issues/17814

[2022-04-06 20:16] richardleach commented on #19589
Actionable suggestions (if viable and approved) from the issues above:
- Preemptively upgrade constant IV/NV to PVNV at compile time (should fix Yves' specific example above)
- Make SvIV_please_nomg(sv) convert an undef SV to an IV with value 0

Also coming out of those discussions was Tony's `use float` branch (https://github.com/Perl/perl5/issues/17813, https://github.com/Perl/perl5/pull/17831),

[2022-04-06 22:56] khwilliamson commented on #17616
Yes, the handling of this can be improved.  I believe this ticket is a subset of #17285

The reason that this behavior goes all the way back is that it requires special handling that either wasn't thought of, or not gotten around to.  And it would be real difficult to completely solve.

[2022-04-07 00:15] hvds commented on #17616
Ah yes, looks like it is.

What aspects do you see as the most difficult to "completely solve"? (I vaguely remember that in the past we discussed the issue of capturing fractional characters, eg with `"\xdf" =~ /(s)+/i && print $1`, are we in that sort of realm?)

For the optimization information it is a bug if we reject things that could match, but merely suboptimal if we accept things that could

[2022-04-07 03:33] demerphq commented on #17616
On Thu, 5 Mar 2020 at 17:35, Hugo van der Sanden ***@***.***>
wrote:

Why do you think that? Since the pattern is /s*stu/, 't' can never start an
accepting case. It should have ANYOF[Ss][017F] I think. (Modulo the
comments about an ST ligature)

I thought EXACTFU was supposed to deal with such issues.

U+FB05 (64261) is "Latin small ligature long S T"
U+FB06 (64262) is "Latin small ligature ST".

[2022-04-07 08:36] demerphq commented on #19588
Fixed with the merge of Encode 3.17.

[2022-04-07 08:36] #19588 closed

[2022-04-07 08:39] demerphq commented on #17014
With the merge of Encode 3.17 I believe we have no further gcc 9.1.0 warnings from -Wc++-compat, so I am closing this issue.

[2022-04-07 08:39] #17014 closed

[2022-04-07 09:04] steve-m-hay commented on #19469
CPAN tests seem to be going well, so I agree it's in good shape to release, which I will try to find the time to do soon.
It seems a bit late to go into blead given its code freeze state already though, but we can certainly have a new release on CPAN in time for the 5.36.0 release, so anyone updating their perls can grab a new version of Text::Balanced while they're at it.

[2022-04-07 10:42] hvds commented on #17616
Agreed, not sure what I was thinking there.

Good, I thought I remembered something like that existing.

Ok.

No, this ticket is from May 2020; I might have been having the first thoughts that led to `re::optimization` and `t/re/opt.t` around then. But feel free to explain the *ACCEPT rationale more anyway. :)

[2022-04-07 11:22] demerphq commented on #17616
On Thu, 7 Apr 2022 at 12:43, Hugo van der Sanden ***@***.***>
wrote:

Ah ok, I thought maybe I was missing something :-)

Ah ok. See: https://github.com/Perl/perl5/pull/19531#discussion_r845018180

Cheers!
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-07 12:58] jkeenan commented on #19432
Closing as per schedule.

[2022-04-07 12:58] #19432 closed

[2022-04-07 13:00] jkeenan commented on #19100
Compiling with `gcc12` on FreeBSD-12, I am no longer getting any build-time warnings.  Closing this ticket.

[2022-04-07 13:08] iabyn commented on #19589
On Wed, Apr 06, 2022 at 06:18:32AM -0700, Yves Orton wrote:

As a general comment, pp_add() is heavily optimised for the cases of
int+int and num+num, and generally falls back to slow and messy code paths
once things start to get mixed up (e.g. int + num, int + string etc) since
there's usually a whole big mess of edge cases that quickly come into
play.

--
That he said that that that that is is i

[2022-04-07 17:17] atoomic opened #19595 "PVIV behavior change in 5.35.9 - POK not preserved"
When upgrading one IV to a PVIV the `POK` flag is lost.
We cannot use anymore both the IV and PV values.

Perl 5.35.9 introduces a behavior change for PVIV.
The POK flag is lost when upgrading one IV to a PVIV

[code]

Related: #19589, #17777, #18914, #17814

[2022-04-07 17:29] atoomic commented on #19595
A git bisect points to this commit: bb5bc97fde9ef2f16cffdfb44d7f42a03311ab2f
we can probably close it by design... but just want to give it some exposure

[code]

[2022-04-07 17:29] haarg commented on #19595
The POK flag isn't being lost, it isn't getting set in the first place. This was an intentional change.

[2022-04-07 19:38] #19595 closed

[2022-04-07 22:24] khwilliamson commented on #19552
This is passing all the smoke tests

[2022-04-07 22:24] #19552 closed

[2022-04-08 00:40] sisyphus commented on #19585
Superseded by https://github.com/Perl/perl5/pull/19596

[2022-04-08 00:40] #19585 closed

[2022-04-08 03:08] khwilliamson commented on #17616
Duplicate of #17285

[2022-04-08 03:49] khwilliamson commented on #17616
Anything that crosses a node boundary.  Like `\xdf =~ /s[a-z]/iu`

This sounds like a fruitful direction, but it won't solve the node boundary issues.

There are just over a hundred multi-char folds in Unicode.  This number is likely to remain stable for the lifetime of the Standard.  In any of them the beginning and trailing portions could match in combination with the adjacent regnodes, or even

[2022-04-08 04:30] demerphq commented on #19484
HI this should be fixed in 5.36, thanks for the report!

[2022-04-08 04:30] #19484 closed

[2022-04-08 05:04] demerphq commented on #17285
Not sure that `/(a|s)s/i` should match \xDF. What would end up in $1? I think i agree that the same pattern without capturing parens should match but capturing half of a character doesn't make sense. We need to sort these rules out.

[2022-04-08 13:29] leonerd commented on #19539
We stared at this briefly in the PSC call. The breaking unit-test file is:
https://metacpan.org/release/DANAJ/Math-Prime-Util-0.73/source/t/70-rt-bignum.t

It doesn't immediately appear to be "overly-sensitive test is overly-sensitive", so it may be this is real issue here.

[2022-04-08 13:49] janissaire commented on #19323
Fuck off with this faggotry.

[2022-04-08 13:58] janissaire commented on #19323
They're finally here. We've remained relatively safe from this type of mental derangement for years. It was good while it lasted.

[2022-04-08 14:22] khwilliamson commented on #17285
On 4/7/22 23:04, Yves Orton wrote:

I am sure: it shouldn't.

[2022-04-08 15:15] hvds commented on #19539
@leonerd please see https://github.com/danaj/Math-Prime-Util/issues/61 for the latest state of affairs: there is progress, albeit slowly.

I'm expecting both a change to Math::Prime::Util to fix the test failures with bignum-0.65 and a change to bignum that achieves the original goal of v0.65 in a manner that restores back-compat with pre-0.65 versions (by reversing the changes to `bignum.pm` and

[2022-04-08 15:35] hvds commented on #19539
I got the bignum versions wrong in my last comment, I've edited to fix them up.

The incompatible change was introduced in bignum-0.60. We upgraded from 0.59 to 0.63 in 6853e8af3b (which also updated other modules), and to 0.64 in 9bfb09e8f1.

[2022-04-09 08:54] andk commented on #19439
@hvds wrote above:
[code]
-DDEBUGGING in the ccflags makes a difference here. You revealed that you were running some `$PERL -Dtsv` command in the issue https://github.com/mbarbon/perl-remote-debugging-client/issues/6 , so we know you had -DDEBUGGING on. I just randomly inspected a couple of cpantesters results (and all of my delivered results) and none had -DDEBUGGING in the ccflags.

[2022-04-09 11:44] hvds commented on #19439
Ah, thanks @andk, good spot. But of course it will be rather harder to see what is going on if the difference can only be seen without debugging.

[2022-04-09 12:28] sisyphus opened #19603 "t/re/uniprops02.t failures when NV is "doubledouble" long double"
For quite some time, t/re/uniprops02.t has been failing some tests whenever I build perl such that the type of NV is the "doubledouble" long double.

The first test that fails is:
[code]
This is in response to the following line of code in lib/unicore/TestProp.pl:
[code]
On other systems, that line of the generated TestProp.pl specifies <code>3.13e-03</code> instead of <code>3.12e-03</code>.
(The

[2022-04-09 14:12] demerphq commented on #19603
Hi, this needs @khwilliamson to say for sure but I did some digging and I think I can give you some places to look into this yourself.

First, as far as I can tell this related to Unicode's support for fractions (I had no idea), and this relates to 1/320.

[code]

In uni_keywords.h you can find this and similar entries. The table is unordered as it is a 2-level minimal perfect hash table (again I

[2022-04-09 16:29] demerphq commented on #19168
I think we can close this, I added more related tests in the ACCEPT branch.

[2022-04-09 16:29] #19168 closed

[2022-04-09 18:48] khwilliamson commented on #19603
On 4/9/2022 8:12 AM, Yves Orton wrote:

Unicode supports rational numbers, hence ones that can be precisely
represented as a numerator divided by a denominator.  But these aren't
likely to be exactly representable as NVs.

You can ask for \p{nv=1/320} and get the right answer, but Perl also
lets you specify a close-enough NV to mean the same thing.  mktables
goes to some efforts to calculate what

[2022-04-09 20:29] Yaribz opened #19605 "IO::Socket::IP generates a socket object with wrong sockdomain when an IPv4 connect succeeds after a failed IPv6 attempt"
### **Test case:**

Trying to connect to a hostname which can be resolved in both IPv6 and IPv4, but only the IPv4 address can be connected to (on the requested port), from a system which is configured to try IPv6 first.

### **What happens:**
- `IO::Socket::IP` tries to connect to the IPv6 address first, so it creates a `IO::Socket` object with `AF_INET6` family
- The connection fails, so `IO::So

[2022-04-09 22:18] mohawk2 commented on #19469
I'd agree it shouldn't go in blead due to code-freeze. My problem (as PDL maintainer) will very much be solved with a CPAN release, since I can depend on it and delete the literally 500 lines of monkey-patch in there now.

PDL has further monkey-patches to Filter::Simple which I'd like to fix properly, but I am proposing to deal with that as a separate stage (and in fact it will be very small by c

[2022-04-10 01:25] khwilliamson commented on #16652
The link was, apparently without noticing this ticket, changed to what @Grinnz  suggested, and it passed podcheck.

If there is a Pod::Simple bug, a ticket should be opened in its queue

[2022-04-10 01:25] #16652 closed

[2022-04-10 01:51] khwilliamson commented on #16082
No response in over 2 years, and a patch was applied; closing

[2022-04-10 01:51] #16082 closed

[2022-04-10 01:54] khwilliamson commented on #15938
@demerphq any progress?

[2022-04-10 02:28] khwilliamson commented on #17366
I retested this, and there aren't any leaks when PERL_DESTRUCT_LEVEL=2 under both asan and valgrind

[2022-04-10 02:28] #17366 closed

[2022-04-10 02:44] khwilliamson opened #19606 "Test needed for #16887"
Commit bb5e773d6fb68865d8e2c5a392215c27c7b49636 refactored code so that the test added to verify that #16887 is fixed no longer is applicable.  A new test should be created.

Module:

**Description**

**Steps to Reproduce**

**Expected behavior**

**Perl configuration**

[code]

[2022-04-10 03:55] demerphq commented on #15938
No sorry, this got lost in the chaos caused by some traumatic personal events. I can try to take a look. But I make no promises ill have a fix in time for the 20th.

[2022-04-10 06:04] sisyphus commented on #19603
I had spent some time trying to relate errors in assignment to these test failures - without success.
As @demerphq correctly worked out, on this "doubledouble" system, it's a sprintf bug:
[code]
However, it's still a puzzle (to me, at least) that <code>\p{Numeric_Value: 3.125e-03}</code> cannot find "Unicode property definition", whereas <code>\p{Numeric_Value: 1/320}</code> apparently can:
[code]

[2022-04-10 07:01] Yaribz commented on #19605
Here is a code snippet to test the "dup2 hack" of `IO::Socket::IP` :

[code]

When executed on a Linux system, it works:
`Successfully connected to perl.org:443`

When executed on a Windows system (Windows 10 21H1 19043.1586, Strawberry Perl 5.32.1-64bit), it fails:
`Failed to connect to perl.org:443 - Bad address`

This means that on Windows systems the `IO::Socket::IP` module will never be able

[2022-04-10 07:31] demerphq commented on #19603
Basically these values are stored in a special hash table. So `1/320` is explicitly stored in the table as `1/320`, but also as `3.13e-03`, as the rounded "canonical" engineering notation representation of 1/320.

If you look in uni_props.h there is a string blob where the fragments that are part of the keys are stored into a single large blob. If you search that blob you will find 1/320 and 3.13e

[2022-04-10 08:06] demerphq commented on #19603
It turns out that this is not true. You need to run it with the latest perl:

[code]

[2022-04-10 09:29] xsawyerx commented on #16082
There's a long-running issue with the behavior of perldoc and its output. The most relevant ticket is probably https://github.com/jadeallenx/Pod-Perldoc/pull/36. Zefram provided specific feedback on finer points in restoring the handling of perldoc but I didn't get around to addressing them.

[2022-04-10 13:26] jkeenan opened #19609 "3 new test failures if IO-Compress-2.105 is synched into blead"
Per comment by upstream maintainer in https://github.com/Perl/perl5/pull/19590#issuecomment-1094123880, the previous CPAN-synch of this distribution contained one file which is experimental.  He recommended synching in CPAN release 2.105.  However, when I did so I began to get failures in 3 test files.
[code]
At this point I do not know why these 3 files are failing and whether that is due to the

[2022-04-10 13:30] jkeenan commented on #19609
The 3 test failures I'm getting (trimmed):
[code]

[2022-04-10 13:33] jkeenan commented on #19609
I am getting core dumps associated with each of the failing files.
[code]

[2022-04-10 14:33] sisyphus commented on #19603
Damn ... I need to backtrack and make a correction.
There is no "doubledouble" bug at play in that first failure.
The correct "doubledouble" representation of 1/320, is marginally less than the decimal value 3.125e-03.
It is therefore correct that <code>sprintf "%.2e", 3.125e-03;</code> return 3.12e-03 on that platform.
And I believe it's also correct behaviour that the test therefore fails in the

[2022-04-10 14:39] jkeenan commented on #19609
I tried to reproduce this problem on two additional OSes (Linux and OpenBSD) and in a different checkout on the same machine.  I could not do so.  I then cleaned out the original checkout and went through the `Porting/sync-with-cpan` procedure again.  This time it succeeded, and I pushed blead to origin in commit 131aabd8eb09322f5fc1ad33ed607d45390ee16d.  Closing this ticket.

[2022-04-10 14:39] #19609 closed

[2022-04-10 14:42] pmqs commented on #19609
@jkeenan can't think of a reason why the IO-Compress change would case this

Ahh, you've just closed the ticket as I was typing. Ping me if you need anything.

[2022-04-10 14:54] demerphq commented on #19603
Hrm, This suggests to me that canonicalizing to two decimal places of E notation is not appropriate and we should be using 3. At this point I think we need to @khwilliamson to speak up and take over.

[2022-04-10 15:58] khwilliamson commented on #19603
@sisyphus try out this branch

[2022-04-10 17:01] ShaunGriffithRyff opened #19612 "[doc] Math::BigRat->bdiv() typo?"
**Where**

**Description**

[2022-04-10 17:03] jkeenan commented on #19612
Not enough information provided.

[2022-04-10 18:08] khwilliamson commented on #19603
That is, the branch referred to just above my previous comment

[2022-04-10 18:09] hvds opened #19613 "Suboptimal minlen for *ACCEPT"
In blead@0f875b7c41 I noticed some cases where the latest support for `/(*ACCEPT)/` is more conservative than it needs to be in setting minlen, eg:
[code]

Shortest strings matching these are respectively `qw{ E CD AE }`, so we'd like to see minlen `(1, 2, 2)`. This is not a bug per se, but if we can find a way to determine the actual minimum length that would obviously be preferable.

I've create

[2022-04-10 18:21] Grinnz commented on #19612
Also, Math::BigRat is maintained upstream on CPAN, and its issue tracker is at https://rt.cpan.org/Public/Dist/Display.html?Name=Math-BigRat.

[2022-04-10 18:21] #19612 closed

[2022-04-11 00:03] hvds opened #19615 "CURLYX v CURLYM disagreement"
As part of an unrelated experiment I tried disabling the CURLYX -> CURLYM regexp optimization with the following patch:
[code]

I expected this to disable a pure optimization, but was surprised to find that with this change we get some test failures.

The first failure is t/re/pat.t test 104 "monster, length = 300000 at re/pat.t line 373" with the pattern `/(?^:b(?:a|b)+=)/`; I think this one is u

[2022-04-11 21:08] khwilliamson commented on #11334
What this does in 5.35.10 is
`BEGIN { $^W = 1; }
use feature 'current_sub', 'bitwise', 'evalbytes', 'fc', 'postderef_qq', 'say', 'state', 'switch', 'unicode_strings', 'unicode_eval';
say("\x{3b1}-\x{3c9}");
-e syntax OK
`
And we get this
`perl -CS -MO=Deparse,-p -E 'use utf8; qr/(?<айдэнтыфайер>)/'
BEGIN { $^W = 1; }
use feature 'current_sub', 'bitwise', 'evalbytes', 'fc', 'postderef_qq', 'say', '

[2022-04-11 21:33] khwilliamson commented on #11568
It seems to me the pods should just say, for example

instead of what it now says

Tom's approach is overly complicated.  `\u` titlecases the word, which is what is desired

[2022-04-11 22:01] khwilliamson commented on #11568
Ok

[2022-04-12 04:54] demerphq opened #19617 "cpan/IO-Compress/bin/zipdetails does not build warning free with 32 bit integers, fails utils tests"
Module:
IO-Compress 2.105

**Description**
IO-Compress 2.105 (and maybe earlier I havent checked) fails porting/utils.t on 32 integer builds.

[code]

As can be seen here: https://github.com/Perl/perl5/runs/5976111262?check_suite_focus=true

Note that this showed up in https://github.com/Perl/perl5/pull/19611 but is unrelated to the change in that PR.

See also:
https://github.com/pmqs/zipdetails/

[2022-04-12 06:49] demerphq opened #19619 "make process does not automatically updated cpan/*/bin files that are copied into utils/"
**Description**
If a utility bundled with a cpan/ distribution, eg, `cpan/IO-Compress/bin/zipdetails` is updated on disk, `make` does not notice and copy it into `utils/`. If the `utils/` copy is deleted it will be copied over.

**Steps to Reproduce**
[code]
**Expected behavior**
It should be copied on the first invocation of make.

**Perl configuration**
[code]

[2022-04-12 12:47] #11568 closed

[2022-04-12 18:20] hvds commented on #19539
`bignum-0.65` has been released, reversing the incompatibility introduced with v0.60, along with associated updates to `Math-BigInt-1.999830` and `Math-BigRat-0.2621`. I've verified manually that these build and install ok with bleadperl, and with them in place we no longer get a hang in the `Math-Prime-Util-0.73` testsuite.

I propose that we should consider bringing those updates into blead to b

[2022-04-12 18:48] hvds commented on #19539
Now created as `smoke-me/hv/sync-bignum-20220412`.

[2022-04-13 04:53] demerphq commented on #19617
Fixed with the application of https://github.com/Perl/perl5/pull/19618

[2022-04-13 04:53] #19617 closed

[2022-04-13 05:03] demerphq opened #19621 "Github pipelines using git with fix for CVE-2022-24765 broken due to insecure directory."
**Description**
Our CI jobs were failing with the following error:

[code]

As far as I understand it this is due to the fix for CVE-2022-24765.

I have already pushed a fix. This is retrospective issue for the records.

**Steps to Reproduce**
Use a modern git on a directory that is shared.

Reproducing this on github might be hard, I have already pushed a fix in: https://github.com/Perl/perl5/pul

[2022-04-13 05:04] #19621 closed

[2022-04-13 17:03] Leont commented on #18470
This was fixed in #18516

[2022-04-13 17:03] #18470 closed

[2022-04-13 17:17] atoomic commented on #19532
Thanks @jkeenan for bisecting and finding the commit which exposes the issue.

After investigation this is exposing a bug in `cPanel::StateFile::_resynch` itself which relies on a file timestamp.

As @nwc10 just pointed it this is a race condition based on time...

The fact this is happening after the change from https://github.com/cpanel/cPanel-TaskQueue/blob/55494c86d45a671d3ec76d9fb7b8ac591ad70

[2022-04-13 17:17] #19532 closed

[2022-04-13 20:01] jmdh commented on #18780
FWIW, this change (which was cherry-picked into Debian unstable, see https://bugs.debian.org/1009149) breaks at least two apps in Debian:

https://bugs.debian.org/1009473 (claws-mail)
https://bugs.debian.org/1009412 (Sendmail-Milter)

So far that doesn't seem like a big impact, but it's certainly non-zero.

[2022-04-13 20:17] jkeenan commented on #18780
@khwilliamson, can you take a look at this?  Thanks.

[2022-04-13 22:02] Leont commented on #18780
Essentially the problem is that `STMT_START`/`STMT_END` sometimes results in an expression and sometimes in a statement, depending on the compiler. This was always the case, this change just subtly changes when which is the case.

In that light I would argue `claws-mail` and `Sendmail-Milter` were always wrong to use them as expressions. In case of the latter it's a trivial fix (just remove the pa

[2022-04-13 22:11] atoomic commented on #19532
FYI I released cPanel-TaskQueue v0.903 to fix the issue discovered here.

https://metacpan.org/release/CPANEL/cPanel-TaskQueue-0.903/view/lib/cPanel/TaskQueue.pm

Thank you everyone for your contribution

[2022-04-14 12:13] khwilliamson commented on #7802
This meta bug has zero tickets in it.  Do we keep it open and move things into it.  Another option is to close it and add a label to such tickets that would have come here

[2022-04-14 12:23] khwilliamson commented on #8369
The limit as been doubled to 65K

[2022-04-14 12:25] jkeenan commented on #7802
We can close it.  Give it a day or two to hear any objections, then proceed. Thanks.

[2022-04-14 12:26] khwilliamson commented on #8369
This ticket now comes down to that we do have recursion limits.  I think that's a given in Perl, and we should just close this ticket.

[2022-04-14 12:38] khwilliamson commented on #9512
This now dies with the error "Too many nested open parens in regex".  I think that is a reasonable outcome.  We're always going to have limits, and we now properly handle exceeding this limit.

[2022-04-14 13:06] hvds commented on #8369
I do find it sad that we have a built-in _hard_ limit: with perl-level recursion, IIRC we take care to store the bookkeeping on the heap rather than the C stack, and we limit it to a warning so that if you have the memory you can recurse more deeply. 2^16 as a hard limit regardless of your available memory seems rather restrictive for modern hardware.

That said, Perl no longer seems to be the lan

[2022-04-14 13:21] khwilliamson commented on #10468
11 years; is this closable?

[2022-04-14 13:30] hvds commented on #9512
I think I'd say it's a bug that we hit the C stack for this. While I don't think there are that many real-world cases where #8369 really restricts what you can do, this one seems much more likely to stop useful stuff getting done by automated construction of regexps for complex grammars.

I might feel differently if it were only _capturing_ parens that triggered this: I think it's less likely that

[2022-04-14 13:42] iabyn commented on #8369
On Thu, Apr 14, 2022 at 06:07:15AM -0700, Hugo van der Sanden wrote:

regmatch() used to be recursive and so a small hard limit made sense. But
for the last 10-15 years we now store the recursing state in malloced
memory, so I no longer see any need for a hard limit.

--
You never really learn to swear until you learn to drive.

[2022-04-14 14:49] hvds commented on #19539
[Smokes](http://perl.develop-help.com/?b=smoke-me/hv/sync-bignum-20220412) look clean so far : only failures are for Solaris 2.11 which is tripping up in `t/porting/utils`, I think on `utils/zipdetails` which is a separate problem.

[2022-04-14 14:53] demerphq commented on #10073
This seems like the bug about not resetting capture buffers after a failed alternation: #16616

[2022-04-14 15:12] xenu commented on #19605
IO::Socket::IP is maintained on CPAN. Bugs should be reported on its bugtracker here: https://rt.cpan.org/Public/Bug/Display.html?id=142205

[2022-04-14 15:12] #19605 closed

[2022-04-14 15:19] demerphq commented on #19539
On Thu, 14 Apr 2022 at 16:49, Hugo van der Sanden
***@***.***> wrote:

Did you rebase on top of the latest blead?

Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-14 15:28] demerphq commented on #9512
Regarding @hvds last comment, I guess we hit the C stack while calling reg over and over. This is a parser bug, not an optimizer bug I think.

[2022-04-14 16:34] Yaribz commented on #19605
Yes sorry, I realized only afterwards that I hadn't reported this issue in the best place.
I should have closed this one.

I guess it makes sense to report here the secondary part of the issue though (`POSIX::dup2` corrupting sockets on Windows), but as it seems this issue (or platform specific behavior) is already known...

[2022-04-14 17:49] khwilliamson commented on #11255
This no longer occurs

[2022-04-14 17:49] #11255 closed

[2022-04-14 17:57] khwilliamson commented on #10829
This now works

[2022-04-14 17:57] #10829 closed

[2022-04-14 18:11] khwilliamson commented on #8950
These now print \x{...} for all characters not representable in 8859-1

[2022-04-14 18:11] #8950 closed

[2022-04-14 18:22] khwilliamson commented on #8826
No response from @rra in a year; I have confirmed that -u does the right thing.  Closing

[2022-04-14 18:22] #8826 closed

[2022-04-14 18:58] khwilliamson commented on #14695
No respone in 4 years; closing

[2022-04-14 18:58] #14695 closed

[2022-04-14 19:07] #15815 closed

[2022-04-14 20:36] rra commented on #8826
For the record, I do still intend to fix this but the last couple of years have not been good for free time to spend on podlators. However, the next release will almost certainly make Unicode output the default, which I think is the correct resolution of this long-standing bug at this point.

[2022-04-14 21:44] khwilliamson commented on #19307
This has been fixed upstream (or maybe it might better be considered downstream)

[2022-04-14 21:44] #19307 closed

[2022-04-14 21:57] khwilliamson commented on #18947
I have renamed hdr files, but probably not after they'd been in an annual release

[2022-04-14 22:00] khwilliamson commented on #18906
@rjbs Any thoughts on this

[2022-04-15 02:32] haarg commented on #18906
The `->$*` syntax is always referred to as a dereference. The documentation does not say that `term->$*` is equivalent to `${ term }`. `foo->$*` is being treated as `${ "foo" }` which is a symbolic dereference. The current behavior feels correct to me. Possibly the documentation could be improved to clarify this.

[2022-04-15 02:55] sisyphus opened #19625 "Miscalculation of 3**21 when IVSIZE is 4 and NV is DoubleDouble (long double)"
**Description**

<code>3 ** 21</code> is calculated to be a non-integer value slightly less than <code>3 ** 21</code>.
This happens when and only when $Config{ivsize} is 4 && $Config{nvtype} is long double && $Config{longdblkind} is in the range 5 to 8 (inclusive).
Note: I have only $Config{longdblkind} of 6. I haven't actually tested this for the cases where it's 5, 7 or 8.

**Steps to Reproduce*

[2022-04-15 03:31] demerphq commented on #18947
On Wed, 30 Jun 2021 at 08:10, Tony Cook ***@***.***> wrote:

Renaming regexp.h might cause some minor and easily resolved issues in
building the re extension. Just a FYI.

I am favour of this.

One thought, often when people do this they *prefix* the new files
with something. I am inclined to say the core devs would all be
happier people if we *suffix* them, that way finger memory and tab
completi

[2022-04-15 03:51] hvds commented on #19625
As a general rule:
[code]
.. so the opcode is called "pow", and you should expect to find a function called `pp_pow` declared with the `PP(...)` macro in one of the pp*.c files, in this case pp.c:1060.

[2022-04-15 06:09] demerphq commented on #19625
On Fri, 15 Apr 2022 at 05:51, Hugo van der Sanden ***@***.***>
wrote:

That is cool. I didn't know about that option. Thanks. FWIW, i added a
print and you can see a little more:

$ ./perl -Ilib -Dt -e'print 3**21'
(-e:1) const(IV(3))
(-e:1) const(IV(21))
(-e:1) pow

EXECUTING...

(-e:0) enter
(-e:0) nextstate
(-e:1) pushmark
(-e:1) const(IV(10460353203))
(-e:1) print
(-e:1) leave

Eg, the express

[2022-04-15 07:47] happy-barney commented on #18906
@haarg that's not exactly true

[code]

so yes, just another inconsistence, just another reason to avoid perl

[2022-04-15 07:53] agguser opened #19626 "Smart match bug?"
It seems that `$r->[0]` and `@$r[0]` as a left operand of `~~` (smart match) cause different results.
[code]

[2022-04-15 08:23] haarg commented on #18906
I'm not sure what you example is meant to demonstrate.

[2022-04-15 08:43] haarg commented on #18906
`${ $var }` is a dereference. `${ $obj->deref }` is a dereference. `${ "foo" }` is a symbolic dereference, which doesn't work under strict. `$var->$*` is a dereference. `$obj->deref->$*` is a dereference. `"foo"->$*` is a symbolic dereference. `foo->$*` is also a symbolic dereference, using `foo` as a bareword.

`${ foo }` is not a dereference. It is a delimited variable. It is equivalent to `$foo

[2022-04-15 08:57] demerphq commented on #18906
On Fri, 15 Apr 2022, 16:44 Graham Knop, ***@***.***> wrote:

I think it might be usefult to point out that $obj->deref->$* is a
simplification of $obj->deref()->$* which is itself a simplification of
($obj->deref())->$* which is in turn a simplification of do{ my $tmp=
$obj->deref(); $tmp->$*}.

Maybe "simplification" is the wrong word, hopefully you get my point anyway.

I think the OP is getting

[2022-04-15 08:59] demerphq commented on #18906
On Fri, 15 Apr 2022, 16:57 demerphq, ***@***.***> wrote:

Sorry, typo: that should read "foo"->$* at the end of that last sentence.

Yves

[2022-04-15 11:30] Leont commented on #19626
I suspect you meant `$$r[1]` instead of `@$r[0]`. The latter is a slice, and will therefor not do what you expect it to do (it will list compare, so it will match `qw(a)`

[2022-04-15 11:30] #19626 closed

[2022-04-15 17:27] toddr opened #19632 "ppport.h makes bad suggestions for dist/ modules."
I'm reporting this here per the request of @khwilliamson and @atoomic.

I audited the `perl ppport.h` recommendations for all of our dist modules and have submitted pull requests where the recommendation works ok on blead. However, it made some bad suggestions which @khwilliamson indicated might be bugs in need of investigation. I'm going to provide those recommendations here.

[2022-04-15 17:28] toddr commented on #19632
[code]

[2022-04-15 17:29] toddr commented on #19632
[code]

[2022-04-15 17:30] toddr commented on #19632
[code]

[2022-04-16 00:46] Leont commented on #19632
IME, the recommentation is much better if I set `--compat-version` to something like `5.008`

[2022-04-16 10:03] Leont commented on #19632
Personally, I really don't really like how aggressively it's telling people to use `G_LIST` instead of `G_ARRAY`. The old way isn't quite wrong IMO.

[2022-04-16 10:05] Leont commented on #19632
It's kind of messing up `clone_params_new` and `clone_params_del` because those don't actually without ppport (only the Perl_ prefixed versions do), so that's a ppport bug there. That said, that situation does seem a bit silly.

[2022-04-16 18:03] khwilliamson commented on #8369
perldiag says this

(W regexp) The regular expression engine uses recursion in complex
situations where back-tracking is required.  Recursion depth is limited
to 32766, or perhaps less in architectures where the stack cannot grow
arbitrarily.  ("Simple" and "medium" situations are handled without
recursion and are not subject to a limit.)  Try shortening the string
under examination; looping in Pe

[2022-04-16 18:05] jeremyhetzler opened #19633 "wrongly-cased module import appears to succeed, but does not import any symbols (cygwin/ntfs)"
This is a bug report for perl from <jeremyhetzler>
generated with the help of perlbug 1.42 running under perl 5.32.1.

-----------------------------------------------------------------
[Please describe your issue here]

On Cygwin, on NTFS, a wrongly-cased "use Module" import will appear
to succeed, but will not actually import any symbols.

Example:

  $ /bin/perl -we'use data::dumper; print Dumpe

[2022-04-16 18:18] khwilliamson commented on #18134
@demerphq do you have an opinion on this?

[2022-04-16 18:32] khwilliamson commented on #17965
Is this closable?

[2022-04-16 18:43] jkeenan commented on #17965
+1 to close.

[2022-04-16 18:52] khwilliamson commented on #17794
No dissent in two years; closing.

Note we now have trim() in builtin:: which should always remove any CRs (but also leadings \s)

[2022-04-16 18:52] #17794 closed

[2022-04-16 19:01] khwilliamson commented on #17494
@tonycoz @Leont  any thoughts

[2022-04-16 19:29] khwilliamson commented on #17321
What should be done with this ticket? @toddr et. al.

[2022-04-16 19:34] khwilliamson commented on #17397
In 5.35.10, if I run either the fuzzed program or the reduction above, the dereference is gone.  In the reduction, we get

syntax error at 17397.pl line 1, near "<<E1"
panic: pad_swipe po=3, fill=1 at 17397.pl line 1.
panic: pad_swipe po=3, fill=1 at 17397.pl line 1.

In the unreduced version, we get lots of syntax errors.

But I believe this is now closable

[2022-04-16 19:50] khwilliamson commented on #17147
Applied as 73bc018bb73b3e06d1251947efc8bab6268fba9f

[2022-04-16 19:50] #17147 closed

[2022-04-16 20:48] hvds commented on #17397
Let me see if I can bisect to find what fixed it: it would be useful to know at least if it was intentional.

[2022-04-16 22:42] #17965 closed

[2022-04-17 02:36] hvds commented on #17397
Huh, with blead@f5469426bb I get:
[code]

So I don't think this is closable. @khwilliamson how did you build and test?

I'm pretty sure this is yet another case of foolishly attempting to continue after errors, which @iabyn may one day save us from.

[2022-04-17 02:38] demerphq commented on #17397
On Sun, 17 Apr 2022, 10:36 Hugo van der Sanden, ***@***.***>
wrote:

That will be a good day indeed.

Yves

[2022-04-17 05:35] sisyphus commented on #19625
Thanks for the tip on how to track it down to <code>pp_pow()</code>, @hvds .
Turns out it's just a buggy powl() implementation in libm - and I should have worked that out without even looking at pp_pow().

The bug comes in to play when the value returned by <code>Perl_pow(left, right)</code> ought to be an integer in the 31-bit to 34-bit range.
It should be fairly east to work around it inside Per

[2022-04-17 07:34] demerphq commented on #8369
On Sun, 17 Apr 2022, 02:03 Karl Williamson, ***@***.***>
wrote:

Regexec does not recurse anymore. It is a push down automata, but it's
"recursion" uses heap allocated storage, it does not use the C stack nor C
level recursion. The compiler and optimizer do use C level recursion.

Yves

[2022-04-17 08:08] iabyn commented on #7802
On Thu, Apr 14, 2022 at 05:25:18AM -0700, James E Keenan wrote:

+1

--
"Procrastination grows to fill the available time"
    -- Mitchell's corollary to Parkinson's Law

[2022-04-17 08:49] demerphq commented on #17794
Not to reopen this ticket, but perhaps @epa might want to submit a docpatch for chomp() to mention the \R pattern which does what we is requesting we change chomp() to do.

[code]
Will output 0 three times.

`\R` matches any linebreak, including multi-character linebreaks like `"\r\n"`, `"\r"` by itsekf, and `"\n"` by itself.

[2022-04-17 10:46] demerphq commented on #18134
On Sat, 16 Apr 2022 at 20:18, Karl Williamson ***@***.***>
wrote:

Usually PCRE2 has well reasoned decisions on these things, but occasionally
they have made decisions that just don't make the same sense for Perl as
they would with PCRE2. So on first look my assumption would be that we
should do the same thing they do, while reserving the right to say
"actually this doesn't work for us". (For inst

[2022-04-17 11:38] #7802 closed

[2022-04-17 12:20] Leont commented on #17494
I don't think this really can work. `:encoding` makes sense on a stream, for random access you'd want `Tie::File` to do the encoding itself.

[2022-04-17 12:46] #10468 closed

[2022-04-17 13:10] khwilliamson commented on #8369
So is this message obsolete?

I commented out the two places in regexec.c that stop looking and lead to this message, and ran the reduction program in this ticket.  Everything worked.   I propose removing those in early 5.37 and see what happens

@shlomif, I can't find the original program you created the reduction from.

[2022-04-17 13:25] rjbs commented on #19561
I believe the general consensus is that this does not block the release of v5.36.0, and am marking it as such.

[2022-04-17 13:49] khwilliamson commented on #17397
It turns out that the crucial distinction between my Configure call and yours was -DDEBUGGING in mine

I fell prey to confirmation bias.  I had made some changes in toke.c some releases ago that fixed a number of segfaults from malformed input, and I thought that that could very well have fixed this.

Bisecting should be done in order to close tickets like this.  Is there some place to say that in

[2022-04-17 13:54] demerphq commented on #8369
Can you show me a patch of what you tried @khwilliamson please?

[2022-04-17 14:07] rjbs commented on #19554
I agree with Yves.

[2022-04-17 14:12] rjbs commented on #19554
I have filed https://rt.cpan.org/Ticket/Display.html?id=142295

[2022-04-17 14:13] rjbs commented on #19550
This (#19580) has now been merged.

[2022-04-17 14:13] #19550 closed

[2022-04-17 14:31] #19539 closed

[2022-04-17 14:32] rjbs commented on #19535
@Leont Could you please file an RT on Signals-XSIG describing the problem for the author/maintainer?  Then I'll mark this not-blocking-v5.36

(I'm not 100% sure I followed the key parts, and I'm a bit under the weather today, so hoping to go lie down 😉)

[2022-04-17 14:34] rjbs commented on #19529
I am now marking this a non-blocker.  An issue has been filed with the maintainer (thanks, @jkeenan) and it includes the most basic fix possible.  The maintainer is likely to know how to fix this more correctly.

[2022-04-17 14:36] rjbs commented on #19452
@ribasushi 👋🏽  perl 5.36.0 is notionally about 33 days away.  "Find out that new DBIx-Class shipped" is currently high up on the todos, and I can't quite todo it myself!  So this is my nudge for you about it.

[2022-04-17 14:37] run4flat commented on #19561
I apologize for my silence on this. I haven't had time to work on C::Blocks
for quite a while and don't anticipate yours tuits any time soon. It is
highly experimental and issues with it should not block any Perl
development.

I hope this hasn't caused any slow down!

David

On Sun, Apr 17, 2022, 9:25 AM Ricardo Signes ***@***.***>
wrote:

[2022-04-17 14:38] rjbs commented on #19462
I am now marking this as non-blocking.

[2022-04-17 15:22] khwilliamson commented on #8369
@demerphq [https://github.com/khwilliamson/perl5/tree/8369](url)

[2022-04-17 16:11] demerphq commented on #8369
I see. I personally would be fine with removing those blocks right away:

[code]
shouldn't break anything, the execution engine manages its own stack using heap memory.

[2022-04-17 16:31] rjbs commented on #18906
This whole thing appears to be rooted in confusion on the part of the OP.  Everything is working correctly.

[2022-04-17 16:31] #18906 closed

[2022-04-17 17:35] jkeenan commented on #17397
[snip]

I don't think that's necessary.  Quite a few committers have gotten fluent in the use of `Porting/bisect.pl` and we have a good sense of the kind of bug tickets for which it is useful.  The trick is to figure out the arguments for that program.  As we've encountered new cases, we've added them to the **EXAMPLES** section of the documentation in `Porting/bisect-runner.pl`.

[2022-04-17 17:35] jkeenan commented on #17397
Closed by mistake; re-opened.

[2022-04-17 17:37] khwilliamson commented on #8369
I have created a proper PR`https://github.com/Perl/perl5/pull/19636`

[2022-04-17 17:52] khwilliamson commented on #17125
shouldn't this be in the cpan queue for this module?

[2022-04-17 18:07] khwilliamson commented on #17003
@atoomic is this applied?

[2022-04-17 18:08] khwilliamson commented on #16997
atoomic is this applied?

[2022-04-17 18:11] khwilliamson commented on #16998
@atoomic I think this is applied

[2022-04-17 18:57] khwilliamson commented on #16874
The patch affecting Perl has now been applied as f992105ccde4cf27215ec1ce512bff4f20d4852b.   The remainder could be submitted upstream, but as Jim said, that text could just as well be gibberish, as it is for testing only.  So there isn't much point to correcting it.

Hence, I'm closing this ticket

[2022-04-17 18:57] #16874 closed

[2022-04-17 19:20] khwilliamson commented on #16662
Is this now fixed by our use of github?

[2022-04-17 19:24] khwilliamson commented on #16637
Can we close this?

[2022-04-17 19:34] khwilliamson commented on #16600
What's the status of this?

[2022-04-17 19:37] khwilliamson commented on #16598
This has been solved by forbidding \K in a lookaround assertion

[2022-04-17 19:37] #16598 closed

[2022-04-17 19:39] khwilliamson commented on #16595
Is this still a problem?

[2022-04-17 19:44] khwilliamson commented on #16587
Is this closable?

[2022-04-17 19:46] khwilliamson commented on #16579
Is this closable?  I don't see anything to do here

[2022-04-17 19:51] hvds commented on #17125
The OP does specifically say "Reporting here because of importance of this module within core, but fix
will have to be made upstream first."

I don't know what the current status is though: @jkeenan reported at least one PR related to https://rt-archive.perl.org/perl5/Ticket/Display.html?id=134358 was applied on github, but it isn't clear whether there has been a new release, or if it has been pul

[2022-04-17 20:02] khwilliamson commented on #16571
Applied with @hvds fix as 96acb8b6c1fe2f0efbfb5d45e3efad4838fa411b

[2022-04-17 20:02] #16571 closed

[2022-04-17 20:03] khwilliamson commented on #16559
Closing this ticket as we now use c99 making the Configure option obsolete

[2022-04-17 20:03] #16559 closed

[2022-04-17 20:07] khwilliamson commented on #16531
Is this closable?

[2022-04-17 20:18] toddr opened #19637 "Unicode::Normalize does not use ppport.h"
From @khwilliamson: Having looked at this, I now realize that U:N should have been using ppport.h for a long time.  That fixes a bunch of UTF-8 bugs and holes that this otherwise could be subject to.  I'll work on a full PR for it

Any module on cpan that calls UTF-8 perl functions should be using Devel::PPPort to get the modern treatment.

_Originally posted by @khwilliamson in https://github.com

[2022-04-17 20:28] khwilliamson commented on #16427
What's the status of this bug?

[2022-04-17 20:28] #16424 closed

[2022-04-17 20:32] toddr commented on #17321
I tried with limited success to fix the commit attached to the tag. This seemed minimally invasive. It required re-writing some history to pull it off because a rebase was involved if I remember correctly. If we have a problem with a commit attached to a branch, I'm not sure what to suggest here. I am loathed to re-write history on that.

At one point I was going to ask @bk2204 for his advice on t

[2022-04-17 21:14] cjg-cguevara opened #19639 "BBC: Blead Breaks Math::Calc::Parser"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.11.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Math::Calc::Parser

Please see http://matrix.cpantesters.org/?dist=Math::Calc::Parser

[Please do not change anything below this lin

[2022-04-17 21:20] bk2204 commented on #17321
It's known that some histories contain various corrupt commits.  In general, GitHub requires all commits to pass `git fsck`, but for large projects with extensive histories like Perl, usually they'll make an exception to avoid having to rewrite the history of the project.  This is one of those cases.

My general advice here is just to run `git -c transfer.fsckObjects=false clone https://github.com

[2022-04-17 21:45] jkeenan commented on #16662
No specific patch was ever proposed.  And we've certainly had lots of patches (in the form of pull requests) submitted since that conversion took place.  So +1 to closing.

[2022-04-17 21:48] jkeenan commented on #16637
The [associated pull request](https://github.com/Perl/perl5/pull/16) was closed (withdrawn) on Oct 31 2019.  So, yes, this is closable; doing so now.

[2022-04-17 21:48] #16637 closed

[2022-04-17 21:58] jkeenan commented on #16600
1. perl-5.26 is long out-of-support, so we're not going to do anything there.
2. The [latest non-trial release of Time-HiRes to CPAN](http://matrix.cpantesters.org/?dist=Time-HiRes%201.9764) is generally doing okay on production releases of perl.  This distro is always a bit flaky, but I don't see anything warranting keeping this ticket open.  Closing now.

[2022-04-17 21:58] #16600 closed

[2022-04-17 22:01] jkeenan commented on #16587
We received no follow-up information from the OP, so, yes, this is closable; doing so now.  (We can always open a new ticket if we get new data.)

[2022-04-17 22:01] #16587 closed

[2022-04-17 22:05] jkeenan commented on #16579
No consensus emerged to the effect that a duplicate label ought to produce a syntax error.  Closing now.

[2022-04-17 22:07] hvds commented on #16579
@iabyn did suggest above that "I think the goto docs should explain better how it searches for labels" for certain ambiguous cases. Not sure if that's enough to warrant keeping the ticket open.

[2022-04-17 22:10] jkeenan commented on #17125
On 4/17/22 13:53, Karl Williamson wrote:

https://rt.cpan.org/Ticket/Display.html?id=130277

Opened Aug 2019; still open.

[2022-04-17 22:20] hvds commented on #19639
Sigh, comparing the test reports http://www.cpantesters.org/cpan/report/30680458-b661-11ec-96c2-d0a2df0dbbbc (pass) and http://www.cpantesters.org/cpan/report/b01bbe34-be71-11ec-9a61-cf6edf0dbbbc (fail), it looks likely this is being affected by the updates to Math::Big*.

I'll try to have a dig tomorrow.

[2022-04-17 23:00] jkeenan commented on #19639
When testing Math::Calc::Parser at ba92e234c6d5f1dd98358dd39575ca6d1b00de7e or later, I keep getting a hang at this point in its test suite:
[code]
Among other things, this appears to stop `Porting/bisect.pl` in its tracks.

[2022-04-17 23:25] sisyphus commented on #17125
I think that this issue was fixed long ago.
AFAIK, there's no current issue with t/uniq.t and -Duselongdouble builds.
Is there some evidence to the contrary ?

Cheers,
Rob

[2022-04-18 03:27] atoomic commented on #16998
indeed this was merged as https://github.com/Dual-Life/Devel-PPPort/pull/64
we can close this case

[2022-04-18 03:27] #16998 closed

[2022-04-18 03:30] atoomic commented on #16997
this was applied as https://github.com/Dual-Life/Devel-PPPort/commit/e40b007be9ea80ad7a621868da33318ff2c0d848
we can close this case

[2022-04-18 03:30] #16997 closed

[2022-04-18 03:34] demerphq commented on #16427
Looks to me like it can be closed. Closing.

[2022-04-18 03:34] #16427 closed

[2022-04-18 03:37] atoomic commented on #17003
I think part of this was applied as https://github.com/Dual-Life/Devel-PPPort/pull/83
but not sure if the other part is in

[2022-04-18 03:39] atoomic commented on #17003
As mentionned in https://github.com/Dual-Life/Devel-PPPort/pull/77
this is now fixed with  https://github.com/Dual-Life/Devel-PPPort/pull/83 and https://github.com/Dual-Life/Devel-PPPort/pull/95

We can close this case

[2022-04-18 03:39] #17003 closed

[2022-04-18 04:55] demerphq commented on #19637
Related, see: https://github.com/Perl/perl5/pull/19640

[2022-04-18 06:21] demerphq commented on #17321
On Sun, 17 Apr 2022 at 23:20, brian m. carlson ***@***.***>
wrote:

I guess there is a confusion with a different Brian Carlson who wrote this
commit:

commit 1735f6f53ca19f99c6e9e39496c486af323ba6a8
Author: Brian Carlson ***@***.***>
Date:   Wed Nov 28 08:54:33 2012 -0500

    Fix misparsing of maketext strings.

    Case 61251: This commit fixes a misparse of maketext strings that could
    lead

[2022-04-18 07:37] pjacklam commented on #19639
Being the maintainer of both the "bignum" and "Math-BigInt" distributions, I am looking into this to see if I can shed some light on what is going on.

[2022-04-18 08:24] iabyn commented on #16531
looks like it

[2022-04-18 08:30] iabyn commented on #16579
I'd like it to be kept open

[2022-04-18 10:12] #16531 closed

[2022-04-18 14:46] hvds commented on #19639
For the record, the core issue here is both BigInt and BigFloat trying to defer to each other:
[code]

[2022-04-18 15:43] Grinnz commented on #19639
FWIW, Math::Calc::Parser has a somewhat nonstandard setup for BigInt and BigFloat, emulating the bigint and bigrat pragmas as it can't use them directly. https://metacpan.org/dist/Math-Calc-Parser/source/lib/Math/Calc/Parser.pm#L145

This is also an optional feature of a non-critical module (I am the author) so apart from finding if a new issue has been introduced, should not block Perl in any way

[2022-04-18 15:52] khwilliamson commented on #16579
What would it take to close it then?

[2022-04-18 16:27] bk2204 commented on #17321
Nope, that was me.  That was some time ago and I'd forgotten I'd sent it in.

[2022-04-18 16:33] toddr commented on #17321
Excellent! Thanks for looking at this. I don't think anyone would object to a force push on 5.004 branches or tags. My vote is to force push away.

[2022-04-18 19:43] toddr commented on #19632
The suggestions made for dist/Data-Dumper appear to also have been bad. Noting that here.

[2022-04-18 19:51] jkeenan opened #19643 "cpan/Test-Harness/t/harness.t: Test failure under Address Sanitizer"
https://github.com/Perl/perl5/pull/19635 requested synching of the latest CPAN version of Test-Harness into blead.  [CPANtesters results](http://matrix.cpantesters.org/?dist=Test-Harness) were good and the p.r. was favorably reviewed, so I hit the "rebase and merge" button.

Uh-oh!  Didn't see those CI failures under ASAN.  @LeonT is working on this.  Here, for the record, is the failure on my own

[2022-04-18 22:16] Leont commented on #19643
The problem here is that ASAN causes the SEGV inducing script to not return 11 (= segv) but 256 (= return 1). I don't quite understand why they're thinking when deciding that.

[2022-04-19 03:02] demerphq commented on #19632
I don't think the suggestion to use my_snprintf() instead of my_sprintf() are /bad/, my_snprintf() is by far the safer of the two, the issue is that my_snprintf() is not a drop in replacement. The 'n' refers to length protections, and use of such functions requires an additional argument and additional return processing. Ideally code would only use the 'n' api variants as they are safer, the older

[2022-04-19 12:04] khwilliamson commented on #16294
Is this closable?  It says it got fixed

[2022-04-19 12:07] khwilliamson commented on #16290
Is this closable then

[2022-04-19 12:12] khwilliamson commented on #16288
Is this closable?

[2022-04-19 12:13] khwilliamson commented on #16286
Is this closable

[2022-04-19 12:15] khwilliamson commented on #16280
What should be done with this ticket, which is merely information.

[2022-04-19 12:18] khwilliamson commented on #16275
What to do about this ticket?

[2022-04-19 12:19] khwilliamson commented on #16316
This was fixed by

commit 6ef7fe531911e0b41ffcc04c1d6b6ec25a8b1bc9
Author: Karl Williamson <khw@cpan.org>
Date:   Sun Mar 17 22:11:04 2019 -0600

    PATCH: [perl #131551] Too deep regex compilation recursion

    This patch, started by Yves Orton, and refined in consultation with Tony
    Cook, imposes a maximum depth of unclosed left parentheses, at which
    point it croaks.  This is to prevent

[2022-04-19 12:19] #16316 closed

[2022-04-19 12:22] khwilliamson commented on #16315
Fixed by
commit 6ef7fe531911e0b41ffcc04c1d6b6ec25a8b1bc9
Author: Karl Williamson <khw@cpan.org>
Date:   Sun Mar 17 22:11:04 2019 -0600

    PATCH: [perl #131551] Too deep regex compilation recursion

    This patch, started by Yves Orton, and refined in consultation with Tony
    Cook, imposes a maximum depth of unclosed left parentheses, at which
    point it croaks.  This is to prevent the segfa

[2022-04-19 12:22] #16315 closed

[2022-04-19 12:23] demerphq commented on #16288
I think the OP has a point that this is a painful point for beginners and we could do better at documenting it, but there is no proposed language change, and the wording of the ticket isn't really correct. I think we could close it and create a new ticket that is more clear about what needs to be done.

[2022-04-19 12:26] demerphq commented on #16288
BTW, this language in perldata:

[code]

seems to contradict what @iabyn and @Grinnz say in this ticket. I am not arguing with their interpretation which I agree with in principal, but it seems a slippery ground. Most people would say:

[code]

[2022-04-19 12:28] jkeenan commented on #19643
With commit dafafd88993fc3625eed1f6e68f58248b6762bde, we are now skipping the failing test.  Ticket should remain open while we address the underlying problem.

[2022-04-19 12:39] demerphq commented on #16286
Ill bite and close it.

[2022-04-19 12:39] #16286 closed

[2022-04-19 12:46] demerphq commented on #16290
I dont think Zefram is going to answer so I will close it.

[2022-04-19 12:46] #16290 closed

[2022-04-19 12:49] khwilliamson commented on #16319
There are several different causes merged into this single ticket.  The ones from pack remain unfixed.  The ones in patterns were fixed by 6ef7fe531911e0b41ffcc04c1d6b6ec25a8b1bc9

[2022-04-19 12:49] demerphq commented on #16280
The cucumber linux project has been halted and those patches dont seem to be available anywhere. I am closing.

[2022-04-19 12:49] #16280 closed

[2022-04-19 12:59] khwilliamson commented on #16157
What to do about this ticket?

[2022-04-19 13:29] jkeenan commented on #16157
The smoke-me branch mentioned in this ticket no longer exists, but it was run and reports were collated [here](http://perl.develop-help.com/?b=smoke-me%2Fjkeenan%2F132134-cve-2017-12883).  From that page we can locate this [commit](https://github.com/Perl/perl5/commit/1dc3982143baf4ab9c843ed45fa5b822fd1ecb7c) which holds the OP's "Backport patch for CVE-2017-12883 to Perl 5.22."  My brief eyeballi

[2022-04-19 14:05] demerphq commented on #16157
FWIW, I have a copy of your smoke-me, as does Richard Leach in his fork.

Anyway, this was a backport of 2be4edede4ae226e2eebd4eff28cedd2041f300f.

I guess we should have released a 5.22.5 but it never happened. From the POV of blead @khwilliamson has already sorted this. He wrote the patch that was backported.

Closing.

[2022-04-19 14:05] #16157 closed

[2022-04-19 14:14] #16294 closed

[2022-04-19 14:22] hvds commented on #16275
There are well argued cases for and against, I think this is one for the PSC to make a decision on.

[2022-04-19 14:44] haarg commented on #17321
I believe that the maint-5.004 branch is protected, so I don't think I'd be able to replace it. It's probably best if a repository admin does the force push.

[2022-04-19 15:24] Grinnz commented on #16288
I suppose you could call it syntactically a list, but functionally no list is formed by the comma operator in that context. As a similar example `my $x = 1..5;` is neither syntactically nor functionally a list because that becomes the flipflop operator. The danger of referring to that construct as a list is extending assumptions about other list-like things which all behave differently.

[2022-04-19 16:12] hvds commented on #16319
As far as I know, people don't tend to accept pack formats from untrusted sources, nor generate hyper-complex formats programmatically. So the value of fixing this is low but not zero: fixing things like this improve our chances of finding real problems by fuzzing, for example.

Interestingly, my current system gcc (7.5.0) appears to unroll some levels of the recursion by way of optimization, so I

[2022-04-19 16:23] demerphq commented on #16288
BTW, right next to the text that the OP quotes it basically says the same thing @Grinnz and @iabyn said. I think we can close this ticket. What do you think @Grinnz ?

[2022-04-19 16:33] Grinnz commented on #16288
If you're referring to `In a context not requiring a list value, the value of what appears to be a list literal is simply the value of the final element, as with the C comma operator.` - if anything it could be clearer which operators it's talking about, it only calls out arrays specifically after but there are some other exceptional cases. But really this section is about lists, so I don't think

[2022-04-19 16:56] demerphq commented on #16288
On Tue, 19 Apr 2022 at 18:33, Dan Book ***@***.***> wrote:

Yeah, to me the "what appears to be a list literal" supports the notion
that even thought

$x= (1,2,3);

looks like a list constructor it is not.

My question was actually: do you agree given that clause that we can close
the ticket?

 --
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-04-19 17:08] Grinnz commented on #16288
Yes, I think it is sufficiently covered though improvements are always welcome

[2022-04-19 18:11] hvds commented on #16319
Now implemented in #19646.

I'd be tempted to leave this until after 5.38.

[2022-04-20 11:32] grr opened #19648 "getpgrp is now more portable than docs claim"
**Description**

According to the docs for `getpgrp`:

But the POSIX spec made the old behavior available in the `getpgid` function, which was moved from XSI to Base in Issue 7 (2018):
https://pubs.opengroup.org/onlinepubs/9699919799/functions/getpgid.html

This comment in perl.h is 26 years old:
https://github.com/Perl/perl5/blob/2808c4d89767b5122c7c116ebeb5679e006dc0df/perl.h#L865-L866

But it s

[2022-04-20 12:25] #16662 closed

[2022-04-21 02:44] jkeenan opened #19651 "Problem building perl without taint support"
I was asked (by @neilb) to evaluate a pull request to a CPAN module I maintain.  The pull request skipped certain tests when run against a post-5.35.11 `perl` built without taint support.  I am evaluating this p.r. both on Linux and on FreeBSD.

On Linux, I was able to build a `perl` without taint support:
[code]
The module installed and all tests passed.

But on FreeBSD, when adapting my customar

[2022-04-21 05:54] neilb commented on #19651
I don't really have any good idea, but I noticed that on FreeBSD you're including `-Duseithreads`, but you didn't on Linux. I just did the following Configure on MacOS/M1:

    ./Configure -Dusedevel -des -Utaint_support -Duseithreads -Uversiononly

Here's a test script to confirm whether a perl supports taint:

[code]

What do you get if you run a minimal Configure on FreeBSD:

[code]

Does that

[2022-04-21 14:04] jkeenan opened #19654 "Compiling without taint support emits new build-time warning"
When I built `perl` at recent commit 99db5f9692 with the new option to *not* have taint support, one previously unobserved build-time warning was generated during `make test_prep`.  I configured like this:
[code]
... and got this build-time warning:
[code]
Relevant part of `make test_prep` output:
[code]
The statement in `regcomp.c` was added in this commit:
[code]
However, the warning is **not**