[2021-09-18 19:23] haarg commented on #19143
The output I get from this is:
[code]

This looks exactly how I would expect. What output were you expecting?

[2021-09-18 20:20] Geballin commented on #19143
So why is there
`'second' => $VAR1->{'second'},
 'first' => $VAR1->{'first'}`
on $VAR5 and not
`'first' => \0,
 'second' => \1`
?
What I expect is having
`{
          'first' => \0,
          'third' => 'string',
          'second' => \1
};`
for all elements since they all have the exact same values, they should have the exact same output.

\0 and \1 are used by some Perl libraries like JSON to re

[2021-09-18 20:38] Grinnz commented on #19143
This is standard Data::Dumper behavior, because there are repeated references to the same value. You can use the Deepcopy setting to control this behavior. https://perldoc.perl.org/Data::Dumper

[2021-09-18 20:38] Grinnz commented on #19143
Closing as there is no bug here.

[2021-09-18 20:38] #19143 closed

[2021-09-20 00:41] khwilliamson commented on #18655
@ao-kenji Please try again

[2021-09-20 01:13] tonycoz commented on #19142
`_` in the stat()/file test isn't actually a handle, all the code does is check if it's the *_ glob, and if it is, use the last stat result, which is not stored in the *_ glob.

To make it work I think rv2gv would need to check whether it's the *_ glob being saved, and if so save PL_statcache, which I don't think we have a mechanism for.

[2021-09-20 15:17] toddr commented on #19039
@jkeenan I think this was fixed via cab7765183cdc58e214067bafc145253606c347d

[2021-09-20 21:46] khwilliamson commented on #18830
Is this now closable, or are there other occurrences?

[2021-09-20 21:46] khwilliamson commented on #18830
@oalders  ^^

[2021-09-20 21:52] oalders commented on #18830
@khwilliamson thanks for the merge! It's getting closer. At least two of the cases have now been dealt with. This leaves us with:

[code]

It's not clear to me if it's appropriate to edit the perldelta files after the fact. I think there are still some actionable items in there, though. I can look more this week and see where the docs can be changed without losing the original intent.

[2021-09-20 21:55] oalders commented on #18830
Having said that, since the discussion here seems to have drawn to a close and we can look at this on a case by case basis, I'm ok with closing the issue and addressing whatever is left over in individual pull requests.

[2021-09-21 01:24] jkeenan commented on #19039
Yes, it does appear to be fixed.  I rebased my branch on blead and adjusted the positioning of the `BBB` debugging code:
[code]
I then ran:
[code]
The debugging code is emitted but no warnings are emitted.  Closing.

Thank you very much.
Jim Keenan

[2021-09-21 01:24] #19039 closed

[2021-09-21 05:32] ao-kenji commented on #18655
@khwilliamson Sorry for delay.  Here is the result.  It is almost same as the last one.
[code]

[2021-09-21 16:11] choroba opened #19147 "Segfault on warnings when using the value of a hash with undefined value specified as the key"
Module:

**Description**

Perl crashes with a segfault when a variable with undefined value is used as a hash key and the hash doesn't have a value associated to the empty string, and the resulting undefined value is used in an expression under warnings. An example probably explains it better:

**Steps to Reproduce**

The following line is enough:
[code]

It outputs:
[code]

Interestingly, without

[2021-09-21 16:13] wolfsage commented on #19147
Looks like it was introduced with:
[code]

[2021-09-21 16:25] ilmari commented on #19147
It looks like infinite recursion when it's trying to report `Use of uninitialized value $a{$b} in negation (-) at -e line 1.`

[code]

[2021-09-21 19:11] nwc10 commented on #19147
Is the "right" solution to localise warnings to "off" within the reporting code?

I can see how to code round each individual problem, but

1. to do better than my hacky patch in the previous commit we should treat `undef` as an empty string for the hash lookup, and as 0 for the array lookup, so that we find the correct entry
2. we're at risk from similar bugs elsewhere in the code

but if we simp

[2021-09-21 19:39] nrdvana commented on #18760
I happened to have this little brainstorm on a Perlmonks post, and it got some upvotes, so I'm sharing it here.

This is the try/catch (or rather, catch) that I wish we had in Perl:

[code]

My idea of how that would play out in C-land is that as soon as the parser saw a catch, it would immediately wrap the current optree-in-progress with an try-context, and continue as normal.  I also think it sh

[2021-09-21 19:50] nrdvana commented on #18760
Oh, and it neatly sidesteps the arguments about compatibility with expectations from Tyy::Tiny because

Also ^ that line needs to be in perldoc, right?  That should seal the argument.

[2021-09-21 23:46] Grinnz commented on #18760
This would be more difficult to implement in the parser, differs from the expected control structure other languages have, and has no benefits that I can think of and more complicated semantics. The ability for typed dispatch of catch is planned for the future.

[2021-09-22 00:29] nrdvana commented on #18760
No benefits?
  * Saves one level of indentation
  * ``do { ... catch }`` is nearly as convenient as ``Try::Tiny``'s rvalue semantics
  * Arbitrary expressions in the catch condition allow duck-typing and ``Type::Tiny``
  * Saves one level of indentation
  * Syntax construct from foreach is more familiar to perl than catch($e) from javascript
  * Saves one level of indentation

[2021-09-22 02:06] tonycoz commented on #19147
Maybe. The fix here is pretty simple though.

I could see the current reporting being expanded which might introduce similar errors, eg. right now we report `$x{"literal key"}` but we might try to report `$x{$y}` instead.

[2021-09-22 04:29] Grinnz commented on #18760
That ability has nothing to do with your proposed syntax and is planned anyway. Thus the only benefit is saving a level of indentation, which does not outweigh the added implementation and semantic complexity.

[2021-09-22 04:36] sisyphus commented on #19139
Moved to https://rt.cpan.org/Ticket/Display.html?id=139360

[2021-09-22 04:36] #19139 closed

[2021-09-22 05:51] #19147 closed

[2021-09-22 12:53] slimlv opened #19149 "GDBM_File: gdbm_nextkey: Item not found"
Module: GDBM_File

**Description**
GDBM_File used with tie breaks each() iteration

**Steps to Reproduce**
[code]

**Expected behavior**
[code]

**Actual result**
[code]

**gdbm version**
gdbm-1.20

**Perl configuration**
[code]

[2021-09-22 13:32] nrdvana commented on #18760
It's unclear to me how the current syntax of ``Syntax::Keyword::Try`` would both allow for the declaration of the lexical variable name and also allow free-form boolean expressions.  It appears that ``catch ($var isa Class)`` and ``catch ($var =~ /pattern/)`` are both special parsed syntaxes.  In a general expression, would it just assume that the first undeclared variable reference was the one th

[2021-09-22 14:46] haarg commented on #18760
Making try optional definitely not acceptable.

[2021-09-22 15:42] Grinnz commented on #18760
I apologize for my previous curt responses but this feature is already being trialed and is not in need of total redesigns right now without a clear benefit. And as I said, most of the other features you propose are not intrinsically related and are already planned in the scope of the current design, so tying them together is unnecessary.

[2021-09-22 17:16] Leont commented on #18830
Small edits are generally ok IMO.

[2021-09-22 17:22] nrdvana commented on #18760
I assume the purpose of the trial (and this ticket) is to get community feedback, right? So my raw feedback was that I really like being able to return from the middle of a try block, but was dismayed that the convenient ``$x= try { migh_fail() };`` has expanded into the awkward ``$x= do { try { might_fail() } catch ($e) {} }``. I read a bit on it and understand there are technical reasons why it

[2021-09-22 20:51] shadowcat-mst commented on #18760
@nrdvana @boftx we've been thrashing this out on IRC and cpan for-fscking-ever and basically - I totally appreciate where both of you are coming from in theory, but in practice it just ain't going to work. Using the do block trick is way more consistent, way more sensible, and also if either of you want to look into the compiler code you'd need to do things otherwise, I'd recommend laying it at le

[2021-09-23 01:52] tonycoz commented on #19149
I think I see the problem.

Historical gdbm.h defined GDBM_ITEM_NOT_FOUND as a macro:

[code]

but current gdbm.h uses an enum to define the error code symbols:

[code]

To support very old versions of GDBM, GDBM_File defines GDBM_ITEM_NOT_FOUND if it isn't already defined (as a macro):
[code]

which since GDBM_ITEM_NOT_FOUND is no longer a macro means the check for that value ends up comparing ag

[2021-09-23 05:03] tonycoz commented on #19149
This appears to have been fixed in blead in the set of changes by Sergey Poznyakoff in June.

I was able to reproduce the problem with perl 5.34.0, but not in blead.

[2021-09-23 14:52] lmcne opened #19151 "Failures bulding Perl 5.32.1 on HP-UX (hpia11.31) - configpm fails to create Config files"
**Description**

Building Perl 5.32.1 on an hpia11.31 system fails during execution of `configpm`: `lib/Config.pm`, `lib/Config_heavy.pl`, and `lib/Config.pod` are not generated and hence are unavailable to the later steps of the build process.

Errors reported from build process:

[code]

**Expected behavior**

Completing a successful build of Perl 5.32.1 on HP-UX (hpia11.31).

**Additional Info*

[2021-09-23 15:02] lmcne commented on #19151
Cross-posted to StackOverflow: https://stackoverflow.com/questions/69226303/failures-bulding-perl-5-32-1-on-hp-ux-hpia11-31-related-to-failed-regex-eval

[2021-09-23 19:31] dkwo commented on #18988
It appears the remaning errors go away if we use `Configure` instead of `configure`.

[2021-09-23 19:39] jkeenan commented on #18988
Thanks for getting back to us.  Closing ticket.

[2021-09-23 19:39] #18988 closed

[2021-09-23 20:11] toddr commented on #19020
The pull request for the test now shows that even the smokers on github are broken. https://github.com/Perl/perl5/pull/19152

CC @tonycoz

[2021-09-23 20:27] wolfsage commented on #19020
When we execute a subshell because of metacharacters, and that subshell sticks around, it is what detects that the child perl has died with signal 9, and returns 137 which perl thinks is its exit code and shifts it over 8 to 35072.

This isn't really specific to dash - the difference between dash and bash were pointed out by tonyc above, that is:
 bash is smart and instead of fork/execing a child

[2021-09-24 00:14] florian-pe commented on #18975
@Corion Sorry to respond only now, but could you please cite the exact involved passage in the documentation that talk about this ?
I do have read all 3 entries in perlfunc that you cited but I didn't see anywhere that a sentence that said something like "shell builtin commands require a semicolon".
And I don't see why this wouldn't be a bug (unless it is a feature) from perl in the sense that the

[2021-09-24 01:59] haarg commented on #18975
While this does not directly reference the issue with shell builtins, it explains the behavior that leads to this. If given a single argument with no shell metacharacters, the shell is not used. This results in shell builtins not working. A semicolon is a shell metacharacter and will cause perl to run the command using the shell.

[2021-09-24 16:01] nwc10 commented on #19151
I have access to a HP-UX system (thanks Merijn).

With `cc: HP C/aC++ B3910B A.06.28.02 [Mar 09 2016]` I **can** build v5.32.1:

[code]

So it looks like the problem is something to do with the different compiler. Maybe a bug in the older compiler, because whilst Perl's C code does a few naughty things, it seems strange that every other compiler observed is fine.

Are you able to run `make minites

[2021-09-24 16:59] lmcne commented on #19151
Steps and output from building `minitest`.  There is a _lot_ more output which I've excluded for legibility but can provide if needed.

N.B. the first time I ran Configure and make I saw these errors repeatedly:

[code]
Adding `-Accflags="-D_INCLUDE__STDC_A1_SOURCE"` alleviated that issue.

[code]

The 'Failed to open' message towards the end matches what I've seen in the regular build: regex pars

[2021-09-24 19:06] nwc10 commented on #19151
Oh erk, that failure is far earlier in the testsuite than I expected, and seemingly nothing to do with regular expressions.

If I run it manually I have:

[code]

For you, I assume that it's crashing before it can produce `1..4`. Is this the case?

Assuming that `t/base/cond.t` passes on v5.28.0 (or so), and it's crashing on v5.32.1, and that the cause is one commit somewhere in the history betwee

[2021-09-24 19:23] nwc10 commented on #19151
Oops, given that you needed to add `-Accflags="-D_INCLUDE__STDC_A1_SOURCE"` to the `./Configure` command line, I think you'll need

```/tmp/bisect.pl --end v5.32.1 --crash --target miniperl -Duse64bitall -Dusethreads `-Accflags="-D_INCLUDE__STDC_A1_SOURCE" -- ./miniperl t/base/cond.t```

[2021-09-24 19:50] lmcne commented on #19151
Actually I get the same output you do, which is unexpected and perplexing:

[code]

[2021-09-24 20:34] hvds commented on #19151
Character classes are common to the `t/base/lex.t` and `make_patchnum.pl` failures. If the bisection does not work, you could try building with -DDEBUGGING and trying the `lex.t` tests with `-Dr`, eg:
[code]
which might give us some more information.

[2021-09-24 20:54] florian-pe commented on #18975
Ah I understand now.
The semicolon is a metacharacter. So a builtin command with a semicolon at the end is passed to the sh binary and it woks, else it is executed with execvp, only it doesn't work for shell builtin because they don't live inside a separate binary like grep, sed or true but inside the sh binary.

Seeing how it works it may be too much clutter to add in the source code so that it w

[2021-09-25 08:00] nwc10 commented on #19151
You might be able to bisect that to a single commit in the C source that upset the compiler. Something like:

[code]

It might be that some "innocent" (and correct) change to the type of an expression inside an array index (or how some data structures are stored) between v5.28 and v5.32 has tickled a bug in that compiler.

I also wondered (but this might be a long shot) whether the compiler would

[2021-09-26 02:00] davvid commented on #18252
I ran into this same issue while building perl 5.32.1 from a tarball. I can confirm that the following workaround avoids the issue:

[code]

[2021-09-27 14:45] lmcne commented on #19151
Definitely a long shot, and unsuccessful :-)

I'll try to run the bisect; not sure if I'll hit issues because `git` is not installed on our build machines.

[2021-09-27 15:35] nwc10 commented on #19151
Oh erk, and good luck.

You might benefit from adding `--start v5.28.0` to the command line. The default is to try to find a start point automatically by trying stable versions in order. The earliest attempted is `perl-5.002`, but to build that early the bisect runner has to patch various files in the source tree, which it attempts with `patch`, so if you build machines don't have that either, it

[2021-09-28 14:53] leonerd opened #19156 "B::NULL is not false"
In C code it's common to walk the child ops of a given optree node with code such as:

[code]

The sibling list is terminated by a node having `OpSIBLING == NULL`.

At the Perl level when walking the optree with B, it represents a NULL pointer not with a Perlish `undef` but with a reference to a `B::NULL` object (for reasons I do not follow). This object class ought to have a boolification overloa

[2021-09-28 16:36] toddr commented on #19020
My concern here is that based on the designated shell perl is compiled on, Perl programs which use system/qx will unexpectedly end up with different values for `$?`. It seems like this is something we should protect the perl coder from. Perl should provide a reliable behavior for `$?`.

@wolfsage are you suggesting the test in the pull request is an invalid test?

[2021-09-28 18:09] wolfsage commented on #19020
I think `$?` can/should be reliable here, and the fact that it did, or did not spawn a subshell, should not change how the return value looks. But I don't know if this is realistic.

[2021-09-28 18:14] ilmari commented on #19156
A similar issue applies to `(SV*)NULL`, which is represented as `bless( do{\(my $o = 0)}, 'B::SPECIAL' )`.

[2021-09-28 18:48] ilmari commented on #19156
One problem with having `B::NULL` objects boolify to false is that they are also used for undefined scalar variables (but `&PL_sv_undef` is another `B::SPECIAL`):

[code]

[2021-09-28 19:54] Leont commented on #19020
I think it would require writing a shell of our own.

[2021-09-29 03:42] lmcne commented on #19151
A colleague was able to run bisect between 5.29.7 (successful) and 5.29.8 (failing); here's the results:

[code]

Here's the git bisect log:

[code]

My colleague successfully built with bad commit - 1.  Bumping up to the bad commit then failed.

Tail end of the failed build log:

[code]

[2021-09-29 18:08] xsawyerx commented on #19020
I misunderstood Tony's explanation for it. Thank you for clarifying, @wolfsage. And thanks, @tonycoz, for researching and explaining.

It seems to me that what we're saying is: There's a bug in an older version of a shell that renders `$?` inaccurate at times.

We can do several things:
1. We can document this under `perlvar` in case someone hits it again. (I'm happy to provide the patch.)
2. Eith

[2021-09-30 04:48] tonycoz commented on #19020
I've done some testing with various versions of dash, and looked into what patches Debian and Ubuntu apply.

The tests:
[code]

Note that the unpatched dash builds all produce the desired behaviour.

From looking at the Debian patch tracker, all of sid (bleeding edge), bookworm (testing), bullseye (stable), buster (oldstable) include this patch:

[code]

See https://sources.debian.org/patches/dash

[2021-10-01 08:52] nwc10 commented on #19151
That commit that `git bisect` has found looks plausible as a cause of the problem:

[code]
...

I think that that commit was one of the first uses in the source code of the C99 types. And your compiler is older, so maybe it doesn't quite get something right.

If I `make regcomp.i` working backwards I see:

[code]

so for `cc: HP C/aC++ B3910B A.06.28.02 [Mar 09 2016]` the type is `unsigned int`.

[2021-10-01 13:40] vadimkantorov opened #19161 "Custom embedded Perl 5.35.4 interpreter can't load statically-linked Fcntl"
[code]
[code]

Should I also set `-Uusedl`? When I try to add it, configure just quits at certain point with non-zero exit code (maybe also related: https://www.perlmonks.org/bare/index.pl?node_id=475722)

Do I have to use some `xs_init` function as suggested by https://stackoverflow.com/questions/69405351/embedding-perl-only-modules-along-with-embedded-perl-interpreter?noredirect=1#comment1226770

[2021-10-01 13:42] rwp0 commented on #19161
`5.34.5` -> `5.35.5` (development)

[2021-10-01 18:09] vadimkantorov commented on #19161
Indeed, `xs_init` glue code is needed as explained in https://stackoverflow.com/a/69410271/445810

[2021-10-01 18:09] #19161 closed

[2021-10-01 19:49] lmcne commented on #19151
We do indeed see the same thing; nice to have some confirmation!

[2021-10-02 21:15] 6a4h8 opened #19164 "Perl fails to use last named subroutine in RegEx"
Module:

**Description**
Lastly declared named sub-group is not instantiated when using recursion.

**Steps to Reproduce**
[code]

It's trying to match `nope` instead of `test` which is more close and in the same sub-group as the point of instantiation.

**Expected behavior**
Match successful!

**Perl configuration**

[code]

[2021-10-02 21:52] 6a4h8 commented on #19164
Oops it seems this intended as per perldoc (perlre) - it says: "If multiple parentheses have the same name, then it recurses to the leftmost.".

[2021-10-03 00:07] leonerd opened #19165 "SAVESTRLEN() is missing"
Many of the savestack types have associated public macros, e.g. SAVEINT, SAVEVPTR, etc...

SAVESTRLEN appears to be lacking.

Core internal code currently makes use of a (lowercased) `save_strlen()` macro that isn't made public.

I suggest renaming it to capitals without the `_`, `SAVESTRLEN`, and making it public.

(I'll probably send a PR to do this tomorrow)

[2021-10-03 11:57] tisonkun commented on #18689
@briandfoy it seems we release 5.34 instead of 7 as a successor of 5.32 as announced before. Any progress on Perl 7 project?

[2021-10-03 11:58] tisonkun commented on #18689
Fine. I can see a gist from @Grinnz at https://gist.github.com/Grinnz/be5db6b1d54b22d8e21c975d68d7a54f

[2021-10-03 12:57] leonerd commented on #18689
My personal thoughts here [*] are that we'll just continue on the current path, of adding new features and changes, and making 5.xx releases, until some time when we think "youknow this has added quite a lot of stuff and is a nice set of changes since the days of 5.0, lets call it 7.0". The existing work on what might have been called "Perl 7" has already established that we can in fact bump the m

[2021-10-03 14:05] tisonkun commented on #18689
Thank you so much for the information @leonerd ! I'm watching the video.

I highly appreciate your continuous works on moving Perl forward. The point I'm a bit confuse is that if you're going to add new features and changes, we can always stay in Perl 5. For Perl 7 users may assume there is several breaking changes such as ever proposed default `strict`, `warning`, signature or sth.

[2021-10-03 16:47] leonerd commented on #18689
Indeed, that might be how we do it. Many of the newly-added features are currently by request only (e.g. `use feature 'try'`). Perhaps when we hit 7.0 that'll come as part of `use v7`:

[code]

[2021-10-03 18:22] 6a4h8 commented on #19164
I still think though in case of duplicate names fetching the first one defined for recursion is probably not what is the expected behavior so I created a patch.

[2021-10-03 22:14] hvds opened #19168 "trie in variable-length lookbehind is not anchored"
[code]

This should not match; my guess is that the trie code is unaware of whatever we've done to anchor the end of the lookbehind.

I won't get a chance to look at this for a few days: @khwilliamson @demerphq any ideas?

The original work was in 2fe8bdb, I haven't checked if there were later updates.

[2021-10-03 22:22] hvds commented on #18756
The main issue in my mind is whether the semantics are sane.

If I understand it correctly, when we determine the lookbehind expression has width in the range `{m, n}`, we attempt to match the whole expression on the anchored substring `s[-n:-1]`; if that fails, we try again on `s[-n+1:-1]` and repeat up to `s[-m:-1]`. That effectively means we prefer the longest match, unlike the rest of the rege

[2021-10-03 23:23] tisonkun commented on #18689
Sounds promising.

I just notice that `use v5.x` is an explicit request for turning on several settings, like `use v5.10` turns on `say` (I love it).

In this way `use v7` may be unnecessary unless we'd like to make the interpreter default to `use v7`.

[2021-10-03 23:35] Grinnz commented on #18689
Changes to interpreter defaults outside of the normal deprecation and feature cycle are not planned.

[2021-10-04 10:02] nwc10 commented on #19151
That's sort of good news and bad news simultaneously. Because the compiler I have access to compiles that code correctly. Whereas (if I understand your report correctly) the compiler on your systems does not.

Which seems nuts, as that C code looks to be doing nothing special whatsoever. What about it contuses your compiler? I'm struggling to even guess sensibly.

[2021-10-04 15:35] choroba opened #19170 "The "v" debugger command is broken"
**Description**

The debugger's "v" command crashes instead of listing the source.

**Steps to Reproduce**

[code]
**Expected behavior**

The expected output is
[code]
**Perl configuration**

[code]

[2021-10-04 15:48] #19170 closed

[2021-10-04 15:48] choroba commented on #19170
Duplicate of #18900

[2021-10-04 22:35] jkeenan commented on #19164
I don't see that patch, nor do I see an associated pull request.  So I'm closing this ticket, if you think the behavior of the Perl regex engine should change, I'd recommend discussing it first on the perl5-porters mailing list before opening a new issue or p.r.

Thank you very much.
Jim Keenan

[2021-10-04 22:35] #19164 closed

[2021-10-04 22:57] jkeenan commented on #18689
Based on the responses to the OP provided by @leonerd and @Grinnz, I'm closing this ticket.  Whatever "Perl 7" becomes or whenever it comes into existence, it will almost certainly be an evolutionary process.  So we don't, at least at this time, need separate "Perl 7 project" pages in this repository.

Thank you very much.
Jim Keenan

[2021-10-04 22:57] #18689 closed

[2021-10-04 23:05] jkeenan commented on #19119
So, is this a Bad Thing?  Is there anything we need to fix here?

It's been this way since at least perl-5.6.2, so we've survived with it for at least 20 years.

As a matter of fact, I can anticipate that "fixing" this will change the output of Devel-NYTProf and necessitate changes in that distro's unit tests.  Which as one of the maintainers of that distro will mean headaches for me.

So unless y

[2021-10-05 00:19] tisonkun commented on #18689
Yes.

@jkeenan how do we use GitHub for Perl? I'm a bit unsure if such topics should be discussed on GitHub (Discussions?) or p5p mailing list.

[2021-10-05 00:19] 6a4h8 commented on #19164
[Sorry it's right here - I just didn't know how to add it.](https://github.com/Perl/perl5/pull/19167)

[2021-10-05 00:38] jkeenan commented on #18689
Speaking for myself here (and not for Perl 5 Porters in general), I'd say that before opening an Issue, one should inquire about the general status of the subject at hand, either via the mailing list or via irc.perl.org#p5p.  You would have gotten a (probably opinionated) update on what became of the Perl 7 project in 2020.  That would probably have led you to avoid creating an Issue.  The more ex

[2021-10-05 00:51] Grinnz commented on #18689
This repo doesn't currently have github discussions enabled; the two places development of Perl is discussed are as mentioned above, here are some links:

* https://lists.perl.org/list/perl5-porters.html
* #p5p on http://www.irc.perl.org/

[2021-10-05 11:34] #19165 closed

[2021-10-05 21:55] jkeenan commented on #19100
Today I revisited the status of build-time warnings when we use `gcc12` as the C-compiler.  I got:
[code]
This means that the 2 `-Wmaybe-uninitialized` warnings reported [originally](https://github.com/Perl/perl5/issues/19100#issue-989137507) have been cleared up (perhaps by one of @nwc10's commits on Sep 28).

That leaves the 6 `-Warray-bounds` warnings to be addressed in this ticket.  (The warni

[2021-10-05 22:02] jkeenan commented on #19065
No one has supported this idea since it was originally made approx. three weeks ago.  On the basis of "motion fails for lack of a second," I recommend that this ticket be closed.

Thank you very much.
Jim Keenan

[2021-10-05 22:07] jkeenan commented on #19067
Is there any way we could provide documentation that would alert users to this type of bug?

[2021-10-06 09:29] hvds commented on #19100
To recap:
It's actually warning about only two invocations, pad.c:S_cv_clone (twice), and op.c:Perl_newMYSUB (four times: twice for op.c, twice more for opmini.c).

In both those invocations the arg is derived at some point as CvNAME_HEK of a CV (but we take avoiding action if the CV is not CvNAMED, so we're not dealing with the case where that returns 0).

I've no idea what it is actually complai

[2021-10-07 21:48] jkeenan commented on #18966
Could someone (@Leont ?, @khwilliamson ) who is familiar with PerlIO::encoding take a look at this ticket, which has received no response in 3 months?

In particular, we need to determine what parts of the problem lie in PerlIO::encoding and what parts in Encode (which is maintained upstream on CPAN).

Thank you very much.
Jim Keenan

[2021-10-07 22:18] jkeenan commented on #17015
Today I updated https://rt.cpan.org/Ticket/Display.html?id=136985 to request that the upstream maintainer look at these warnings.

[2021-10-07 22:21] jkeenan commented on #18907
Could someone propose a documentation patch that would address the issues raised in this ticket?

[2021-10-07 23:05] jkeenan commented on #17839
I believe that the amount of work needed within the core to implement and maintain this new warnings will not be worth it to end-users.  While we should consider pull requests for implementing feature requests such as this, the people currently contributing to the core should be focusing on features with broader usefulness and for which there is demonstrated demand.  Hence, I believe this request

[2021-10-07 23:11] jkeenan commented on #18626
Math::Trig is maintained upstream on CPAN as part of the [Math-Complex distribution](https://metacpan.org/pod/Math::Trig).  Its issue tracker is found on RT:  https://rt.cpan.org/Dist/Display.html?Name=Math-Complex.  That's where a request for documentation improvements should be filed first.

[2021-10-07 23:11] #18626 closed

[2021-10-07 23:34] jkeenan commented on #17867
Pull request filed in https://github.com/Perl/perl5/pull/19175

[2021-10-08 09:40] KES777 commented on #18708
Could it be documented that $filename depends on `@INC`?

Also there is unclear to which directory it is relative, what would happen if script change directory to something else and the `require` some module. For example:

    /t/app/lib/z/x.pm
    /t/app/z/x.pm

If @INC will have `z/`, the caller will show `z/x.pm` but which one of this two `x.pm`?

[2021-10-08 10:28] epa commented on #17839
Alternatively, the diagnostic could be better by saying
`Undefined subroutine OtherPackage::foo called, immediately after label MyPackage`

[2021-10-08 18:22] wolfdiem commented on #18966
In response to the question raised by @jkeenan:

The quirks and the resulting inconsistencies in handling partial
characters stem from various places in Encode and PerlIO::encoding.

This bug report is for the PerlIO::encoding share only, thus
for the core. For PerlIO::encoding I found an inconsistent
behaviour in one place only, i.e. if just before CLOSE there is
a partial character in the buffer

[2021-10-08 23:26] jkeenan commented on #17995
So, is that to say that the code in `Porting/bisect-runner.pl` that refers to `ext/DB_File/DB_File.xs` should remain in place (because it's needed when the bisection is running through very old commit)?

[2021-10-09 00:27] jidanni commented on #18626
http://blogs.perl.org/users/martin_mcgrath/2021/01/regarding-the-closure-of-rtcpan.html

[2021-10-09 00:31] jidanni opened #19177 "Warn when using sendToCPAN label"
Often bugs here are labeled https://github.com/Perl/perl5/labels/sendToCPAN
and then closed.

But as we see with #18626 it is no longer possible to file bugs there.

Therefore that label should invoke a warning to the user adding that label.

[2021-10-09 00:32] Grinnz commented on #18626
That is outdated, see https://news.perlfoundation.org/post/rt-cpan-org-upgraded

The problem is just a bad UI in RT. To see the expected options, log in by clicking "log out guest user".

[2021-10-09 00:33] Grinnz commented on #19177
This is not the case. https://github.com/Perl/perl5/issues/18626#issuecomment-939190884

[2021-10-09 00:33] #19177 closed

[2021-10-09 00:43] jidanni commented on #18626
OK.
I logged out.
Now I logged back in via ￼￼"Sign in with Auth0" and chose GitHub.
OK back on https://rt.cpan.org/Ticket/Create.html?Queue=Math-Complex the problem is the same. Refreshing the page doesn't help.

[2021-10-09 00:46] Grinnz commented on #18626
Please explain the problem, "doesn't work" does not help. The page looks correct to me when logged in.

[2021-10-09 01:02] jidanni commented on #18626
Clicking "Details" in the upper right,
![20211009T090216](https://user-images.githubusercontent.com/1230959/136638349-08f016c2-11af-49f5-b33d-76d18cd28e27.jpg)
just gives another white page.

[2021-10-09 01:12] xenu commented on #18626
Have you tried disabling adblock and similar extensions?

[2021-10-09 01:27] jidanni commented on #18626
Yes. OK trying again with virgin Firefox... Same problem.

[2021-10-09 01:33] xenu commented on #18626
I guess you should contact the admins. The footer says "Please report any issues with rt.cpan.org to rt-cpan-admin@bestpractical.com".

[2021-10-09 08:54] 6a4h8 opened #19178 "There is no way to selectively debug matching nested regexes."
Module:

**Description**
If you have a nested regex using the `(??{})` syntax.

There is no way to debug it's matching steps.

**Steps to Reproduce**

[code]

**Expected behavior**
Show the matching steps of the nested regex.

**Perl configuration**
[code]

[2021-10-09 13:09] 6a4h8 commented on #19178
Thanks - do you know which are those facilities that would enable only matching diagnostics?

[2021-10-09 13:10] #19178 closed

[2021-10-09 16:55] jkeenan opened #19183 "Remove string 'perlbug@perl.org` from core distribution"
Sending mail to `perlbug@perl.org` now simply triggers an auto-response
redirecting the sender to our [Issues queue on
Github](https://github.com/Perl/perl5/issues).  We should therefore clean up
all remaining instances of the string `perlbug@perl.org` in the core
distribution.

I have implemented that objective in a series of 3 pull requests.  The approach I have taken is:

1. Leave intact all hi

[2021-10-11 00:36] tonycoz commented on #19149
Closing, since it's fixed.

[2021-10-11 00:36] #19149 closed

[2021-10-12 06:04] aero commented on #18406
Hi,
I tried to install perl 5.32.1 on MacOS BigSur 11.6

[code]
5.32.1 really fixed ?

[2021-10-13 22:11] simon816 opened #19188 "Goto xsub forces scalar context"
**Description**

When using `goto` to jump to a subroutine, if the subroutine is an XS sub, it's always called in scalar context.
This is not the case for pure perl subroutines, which inherit the context of the caller.

**Steps to Reproduce**
Create a simple module called XS with `h2xs`

XS.xs:
[code]

Test code:
[code]

**Expected behavior**

It should print "XS Context received: list"

**Actual

[2021-10-14 02:58] xenu opened #19189 "GDBM_File randomly causes fatal errors in LeakSanitizer"
In #19182 @graygnuorg noticed that our GitHub Actions don't build DB_File and GDBM_File because libdb and libgdbm aren't installed. When I added those libraries to our configuration, ASan jobs started failing. It seems that GDBM-related tests indeterministically cause fatal errors in LeakSanitizer. Some examples:

[code]
[code]

It isn't caused by the changes from that PR, I managed to reproduce i

[2021-10-14 03:04] xenu commented on #19189
The error message says "For debugging, try setting environment variable LSAN_OPTIONS=verbosity=1:log_threads=1". I tried adding that to GitHub Actions config, but it seems it makes the fatal error go away. I'm almost certain it's a bug in ASan.

[2021-10-14 19:39] xenu commented on #19189
It happens randomly, you may need to restart it once or twice. For example, here's a failure on my branch, also trimmed to just GDBM_File tests: https://github.com/xenu/perl5/runs/3897047918

[2021-10-15 14:39] simcop2387 opened #19192 "Parsing issue with Mutlivariable for loops"
**Description**

The new multi-variable for syntax requires a space after `my` in the for loop

**Steps to Reproduce**
i.e. This is valid:
[code]

This gives an error:
[code]
```ERROR: Missing $ on loop variable at (IRC) line 1.```

**Expected behavior**

**Perl configuration**

[code]

[2021-10-15 15:55] wolfdiem opened #19193 "[doc] difference between tr/// and tr''' not documented"
perlop

The handling of the searchlist in tr/// between use
of 'single quote' and any other characters as delimiter is
different. See the examples (with result in second line):

<code>perl -we"print 'abcdez-' =~ tr/a-z//"
# 6</code>

<code>perl -we"print 'abcdez-' =~ tr'a-z''"
# 3</code>

It turns out that with single quotes the hyphen is not
interpreted as "range sign", but *always* taken literal

[2021-10-15 19:26] #19189 closed

[2021-10-15 21:53] FractalBoy opened #19198 "Setting breakpoint on AUTOLOAD causes segmentation fault"
**Description**
Setting a breakpoint on an AUTOLOAD under certain circumstances causes a segmentation fault. It's unclear what is the minimum amount of code required to reproduce the issue, but at the very least it seems to require:

1. Two or more stack frames
2. An eval block
3. use vars for $AUTOLOAD
4. Assigning $AUTOLOAD to another variable

I was able to reproduce this on both 5.32 and 5.34.

[2021-10-16 03:59] FractalBoy commented on #19198
The core file points to this line: https://github.com/Perl/perl5/blob/blead/dump.c#L2588

It's hard to debug any further because setting a breakpoint in this loop makes it hard to even get to the point where you can actually run a Perl program.

[2021-10-16 04:06] FractalBoy commented on #19198
-Dtol output:

[code]

[2021-10-16 04:08] FractalBoy commented on #19198
-Dm output

[code]

[2021-10-16 21:16] jkeenan commented on #19193
While this is a good observation of an uncommon case, I think that it is covered by this documentation in `perlop`.
[code]

[2021-10-16 21:42] jkeenan commented on #19198
I tried this about 10 times and never got a segfault.  I was building on FreeBSD-12 at v5.35.4-143-g7ab72683be.

[2021-10-16 21:44] jkeenan commented on #17995
@Leont or @nwc10, could you take a look at my question above?

Thanks.
jimk

[2021-10-16 21:47] FractalBoy commented on #19198
Perhaps it depends on the platform. I only tested on Linux.

[2021-10-17 22:01] Grinnz commented on #19193
It is not, so I have submitted #19199 to add this clarification.

[2021-10-18 00:33] khwilliamson commented on #19193
And that change is now in blead.  Thank you for bringing it to our attention.  Let us know if that is sufficient for you.

I myself have scanned that text in the past several times to make sure that the hyphen case was covered.  And it seemed to me that it was.  So it is always good to get someone who isn't so familiar with the area to look it over.

[2021-10-18 05:39] tonycoz commented on #19198
<details><summary>The problem is intermittent for me:</summary>

[code]

</details>

I haven't been able to reproduce it with perl running under the debugger, the backtrace from the core file for me:
[code]

Running with `o signalLevel=0` gets the simpler backtrace without the signal handlers.

<details><summary>Under valgrind:</summary>

[code]

</details>

which is suspicious.

[2021-10-19 05:45] tonycoz commented on #19198
I think the valgrind report above indicates the base cause of the problem.

The debugger breaks on subroutines by breaking on the first line in a subroutine, which works by modifying the DBSTATE op found for the first breakable line in the sub.

When that first line is a `use Foo;` (which becomes `BEGIN { require Foo; Foo->import() }` the op stored for the first line ends up pointing at a freed op

[2021-10-19 06:14] #19192 closed

[2021-10-20 16:12] #15702 closed

[2021-10-20 16:31] xenu commented on #18553
According to the comments in this ticket, the issue is resolved.

[2021-10-20 16:31] #18553 closed

[2021-10-22 20:46] wolfdiem opened #19211 "warning on "preincrement" wrong"
The warning on "preincrement" is sometimes wrong.
See the following examples (result in 2nd line):

<code>perl -we"$x=':';$x++"
# Argument ":" isn't numeric in preincrement (++) at -e line 1.</code>

<code>perl -we"$x=':';print $x++"
# Argument ":" isn't numeric in postincrement (++) at -e line 1.</code>

While the 2nd test gives the correct warning, the 1st example should
also read 'postincrement

[2021-10-23 19:45] cjg-cguevara opened #19212 "BBC: Blead Breaks Scope::Upper"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.5.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks Scope::Upper

Please see http://matrix.cpantesters.org/?dist=Scope-Upper

[Please do not change anything below this line]
-----------

[2021-10-23 20:04] cjg-cguevara opened #19213 "BBC: Blead Breaks B::Keywords"
This is a bug report for perl from "Carlos Guevara" <carlos@carlosguevara.com>,
generated with the help of perlbug 1.42 running under perl 5.35.5.

-----------------------------------------------------------------
[Please describe your issue here]

BBC: Blead Breaks B::Keywords

Please see http://matrix.cpantesters.org/?dist=B-Keywords

[Please do not change anything below this line]
-------------

[2021-10-24 00:17] Grinnz commented on #19211
On linux you need to change the quoting, as double quotes in bash will attempt to interpret `$x`.

[2021-10-31 18:36] jakobi opened #19218 "do-BLOCK in expression ignores non-final expressions if all expressions are in void context"
This is a bug report for perl from jakobi@acm.org,
generated with the help of perlbug 1.41 running under perl 5.30.0.

-----------------------------------------------------------------
[Please describe your issue here]

I expect:  "a=  b=2" as output. Which these invocations do correctly.

<pre><code>
perl -e '          $a!=1 and $b=2       ; 4          ; print "a=$a b=$b\n"';
perl -e 'do{       $

[2021-10-31 21:55] tonycoz commented on #19211
It's an optimization since pre-increment is faster than post increment.

Post increment needs to make a copy of the current value, then increment the original and push the copy.

Preincrement skips the copy, and it's an optimization since the copy would just be discarded in void context.

The other missing warnings appear to be deliberate, the code involved dates back to 2000 or so, See Perl_sv_de

[2021-10-31 22:32] jkeenan commented on #19211
Your remarks suggest that the *crement operators are considerably more complex than I had ever thought.  I suspect others will feel the same way.  Are there any improvements to the documentation (presumably, in `pod/perlop.pod`) that we can/should make to reduce confusion going forward?

[2021-10-31 22:53] tonycoz commented on #19211
The difference between the increment and decrement operators is well documented, see "Auto-increment and Auto-decrement" in perlop, particularly:
[code]

As to the wrong operator name in the warning, we could fix that by adding four dummy operators (one each for increment, decrement, integer increment and integer decrement) for which the pp_funcs would be the *pre*-inc/dec operators, the descripti

[2021-10-31 23:53] jkeenan commented on #19212
We can explore this BBC problem in [this GH repository](https://github.com/jkeenan/p5-Scope-Upper/tree/jkeenan/gh-19192), created with permission of upstream maintainer Vincent Pit.

In that repo, branch `main` is Scope-Upper-0.32 from CPAN plus a `.gitignore`.  The problem which we're trying to address is a failure in `t/07-context_info.t` that appears in `perl-5.35.5` and forward.  As this invol

[2021-11-01 08:36] skirmess commented on #19211
What about changeing the error message to:

`Argument ":" isn't numeric in pre-/postincrement (++) at -e line 1.`

[2021-11-01 22:04] tonycoz commented on #19212
This looks like the test is simply fragile, I've commented on the upstream ticket.

[2021-11-02 18:03] ilmari commented on #7350
With #19176 merged, the DOS/DJGPP port no longer exists, closing this issue.

[2021-11-02 18:03] #7350 closed

[2021-11-02 18:03] ilmari commented on #6352
With #19176 merged, the DOS/DJGPP port no longer exists, closing this issue.

[2021-11-02 18:03] #6352 closed

[2021-11-02 18:03] ilmari commented on #6056
With #19176 merged, the DOS/DJGPP port no longer exists, closing this issue.

[2021-11-02 18:03] #6056 closed

[2021-11-02 20:26] florian-pe opened #19221 "bigrat overloading is wrong"
This makes the correct result :
[code]
But putting parentheses around the fraction makes the result wrong :
[code]

I made a script that checked wether or not we can remove parentheses because of operator precedence and associativity, for a lot of different combinations.
The script used 'use bigrat;', and these results came out wrong

[code]

Here it is just in case :
(the results at the end at so

[2021-11-02 20:30] Grinnz commented on #19221
bigrat is maintained on CPAN, and its issue tracker is at https://rt.cpan.org/Public/Dist/Display.html?Name=bignum.

I suspect (though unclear on how bigrat works) the reason for the observed behavior is that they are Math::BigInts, and thus do integer division; when you change the order of operations, it truncates the value.

[2021-11-02 20:30] #19221 closed

[2021-11-02 20:40] florian-pe commented on #19221
Yes, indeed,
[code]
this is really unfortunate and a source of confusion, given that I tought evert number would be some sort of rational.
Maybe this is an optimization gone wrong.

I'll try and post the issue on RT. I thought the entire perl core code had been migrated here on github, isn't is the case ?

[2021-11-02 20:42] Grinnz commented on #19221
The Perl code and issue tracker were migrated to github. CPAN modules retain their choice of issue tracker and "upstream CPAN" modules such as bigrat are not maintained by Perl core.

[2021-11-02 20:44] Grinnz commented on #19221
You can tell if a module is "upstream CPAN" if it is in the `cpan/` source directory, or by following its issue tracker link on MetaCPAN.

[2021-11-02 20:46] florian-pe commented on #19221
All right, thanks for clarifying.
I executed
[code]
and I thought that this module would be managed here because of its location in the core_perl directory. I guess this is not what it means.

[2021-11-02 20:47] Grinnz commented on #19221
Indeed, all core modules will be installed to privlib regardless of upstream maintenance status. Only the location in the source tree is an indication.

[2021-11-02 20:50] florian-pe commented on #19221
Oh yes, I understand now
[code]

[2021-11-02 22:04] hvds commented on #19221
Certainly looks like it to me.

Thanks, it'd also be useful to copy the resulting link back here to close the loop.

[2021-11-04 20:01] Andrew-Kulpa commented on #18488
I had this exact same issue in a `centos:7` container that had a bind mount to a folder on my Mac. Its easily reproduced with the following code:
[code]
Then when running `make` you then get an `make: *** No targets specified and no makefile found.  Stop.` error. This is because the Makefile gets deleted like in your example.

[2021-11-04 23:57] Leont commented on #18488
Does it work if you add ` firstmakefile='GNUmakefile'` to `hints/msys.sh`? Or just a `-Dfirstmakefile=GNUmakefile` argument to Configure?

[2021-11-06 11:29] KES777 opened #19222 "Do not issue warning for single line `qw` with `#` sign"
**Description**
I try to quote colors:
[code]

and get warning: `Possible attempt to put comments in qw() list at template at ...`

I found this thread:
https://www.perlmonks.org/?node_id=94698

So I can easily turn off warning by `no warnigs 'qw'`

But if problem for `#` rises when multiline qw is used what is the reason to issue warning for single line case?

**Steps to Reproduce**
[code]

**Exp

[2021-11-08 00:12] andk opened #19223 "v5.35.5 consumes significantly more memory than v5.35.4"
This Issue has been posted to perl5-porters as https://www.nntp.perl.org/group/perl.perl5.porters/2021/11/msg261832.html by myself. But it did not find its way into the bug tracker, so I figured it might be a better plan to open a ticket here.
----start of posting----
Hi Nicholas,

I have a smoker that runs the cpan shell for about 10 days in a single
process. Its duty is simply to smoke all distr

[2021-11-08 00:32] jkeenan commented on #19223
Would there be any way that this could be reproduced outside of the customized environment in which you observed it?  (I think that will be needed for us to measure whether the problem has been corrected.)

[2021-11-08 00:54] jkeenan commented on #19211
@tonycoz, would this documentation change be acceptable?

[2021-11-08 01:14] andk commented on #19223
I hope that by the time when a fix will be suggested I will be able to verify it works. In the meantime I hope somebody finds an alternative test for this problem. I'll also try to find one myself or to describe my recipe in a proper way.

[2021-11-08 01:17] jkeenan commented on #19223
Thanks for looking into this.  As an experiment, I created a local branch in which I reverted the commit you indicated.  The revert had merge conflicts, which I believe I got correct, as `make` succeeded.  However, there were some test failures (which I did not further explore).

So a simple `git revert` will not be sufficient to address this problem.  @nwc10, can you investigate?

Thank you very

[2021-11-11 17:17] jkahrman commented on #18911
See also #16917

[2021-11-11 17:29] jkahrman commented on #18911
Oh, that is also reported by @sisyphus

[2021-11-11 17:59] jkahrman commented on #18911
I'm running into the same issues building Perl using VS2015 after being required (for internal org reasons) to update _WIN32_WINNT to 0x0600. @sisyphus, I'm working on applying a similar patch replacing the MinGW references with a comparison of the value of _WIN32_WINNT.

[2021-11-11 19:14] jkahrman commented on #18911
@sisyphus, I don't understand this part of your change to poll.h:
[code]

The original poll.h has this overall structure:
[code]
winsock2.h doesn't declare the "poll" API as far as I can see (it declares the similar API WSAPoll). So on Windows, we need to at least the following from the emulation section to be declared:
[code]
in order for the related HAS_POLL block in dist/IO/IO.xs to be included

[2021-11-11 22:40] sisyphus commented on #18911
In a nutshell, that patch was the only incantation I could come up with that worked for all versions of mingw runtime && for Visual Studio 2019.
I've been using those patches to build perl devel releases (up to and including the latest perl-5.35.5), and they've worked well for me for both mingw and VS-2019 builds. Do they not work with VS-2015 ?

If there's a simpler way of achieving the same port

[2021-11-12 08:16] andk commented on #19223
Sorry, no good news. I deployed my smoker with your commits 3022d46b2c and 93fa56bdcf and saw no improvement.

[2021-11-12 23:23] jkahrman commented on #18911
No, it didn't work for me in VS2015. And with the r9.txt patch, I don't see how the dist/IO/t/io_poll.t could ever pass using a Perl build that didn't have the MINGW_RUNTIME_9_OR_LATER macro defined. If MINGW_RUNTIME_9_OR_LATER is not defined, it will never go into the emulation section that defines HAS_POLL in order to enable the implementation of IO::Poll.

My take on your poll.h patch, @sisyphu

[2021-11-13 00:09] jkeenan commented on #16003
We haven't heard from the original poster since June 2017.  I am taking this ticket for the purpose of closing it (and corresponding p.r. https://github.com/Perl/perl5/pull/18777) at the end of this month unless we get a response.

Thank you very much.
Jim Keenan

[2021-11-13 05:00] sisyphus commented on #18911
On Sat, Nov 13, 2021 at 10:23 AM jkahrman ***@***.***> wrote:

Then it fails its portability requirements, for a start.

This looks much better then my attempt, and is so far testing fine for me.
I'll switch to using it from now on.
Even if my poll.h patch had been portable, I would still be making that
switch.
Thank you !!

Perhaps ... but that thread is a couple of years old, and I had quite
for

[2021-11-14 00:03] jkeenan commented on #18708
@KES777, since at this point no one else has spoken up on behalf of the issue you raised, I recommend that you formulate a pull request and see if that garners support.

[2021-11-14 23:09] tonycoz commented on #19211
The operator name part of the message is generated from the operator description of the current operator, see S_not_a_number() in sv.c.  Changing it would change the operator description in most other messages too.

[2021-11-15 00:34] jkeenan commented on #19212
A patch has been submitted to the upstream maintainer in that RT ticket.

[2021-11-15 00:35] #19198 closed

[2021-11-15 00:37] jkeenan commented on #19211
Okay, I'll take that as a "No, the change suggested for the warning would not be acceptable."

I've run out of ideas for this issue.  I am taking this ticket for the purpose of closing it in 7 days unless someone else has a way forward.

Thank you very much.
Jim Keenan

[2021-11-15 18:15] jkahrman commented on #18911
Seems reasonable, but I'm not familiar with the recommended processes.

[2021-11-16 02:43] djerius opened #19229 "unholy mix of AUTOLOAD and misuse of exists causes segmentation violation"
**Description**
The following code results in a segv.

**Steps to Reproduce**
[code]
[code]
**Expected behavior**
No segv's.

**Perl configuration**

[code]

[2021-11-16 03:36] djerius commented on #19229
I stopped reducing code too early. `exists` doesn't matter:

[code]

[2021-11-16 03:48] djerius commented on #19229
Ok, one last reduction:
[code]
Providing  `DESTROY` methods makes things work, but I expected to see some sort of "too deep a recursion" error rather than a segv.

[2021-11-16 05:47] shlomif commented on #19229
@djerius hi! Thanks for the report. This program causes both /usr/bin/perl, and bleadperl to segfault here on Fedora 34 x64:

[code]

[2021-11-16 09:03] dur-randir commented on #19229
This is a duplicate of #11493 and #15369.

[2021-11-20 14:21] leonerd commented on #18543
This idea also recently discussed on perl5-porters@:

https://www.nntp.perl.org/group/perl.perl5.porters/2021/11/msg261932.html

[2021-11-21 00:08] sisyphus commented on #16917
I was about to close this issue, but discovered that I don't have the permissions for that.
If someone else can close it, then please do so (with my blessing).

[2021-11-21 00:20] #16917 closed

[2021-11-22 01:00] jkeenan commented on #19211
Closing as per schedule.

[2021-11-22 01:00] #19211 closed

[2021-11-22 01:03] jkeenan commented on #17671
@khwilliamson, can you identify what remains to be done on this ticket?

Thank you very much.
Jim Keenan

[2021-11-23 05:28] tonycoz opened #19238 "cygwin CI failures: cpan/version/t/01base.t etc"
Module: version

**Description**

This is a tracking issue for what appears to be a bug in cygwin.

Since 2d3416440213e1208ed665558e5eda765cb5f061 in blead, CI on cygwin has been failing the:

  ../cpan/version/t/01base.t
  ../cpan/version/t/02derived.t
  ../cpan/version/t/03require.t

tests.

The 2d3416440 change is purely a documentation change and can't have caused the failure, but the two test

[2021-11-23 05:55] tonycoz opened #19239 "cygwin CI failure: cpan/Win32/t/Unicode.t"
Module: Win32

**Description**

This is a tracking bug for a problem either with cygwin or the Win32 module.

Since 76829f42d6278f3b9862e88fcecb11eeaf70c3c1 in blead, CI on cygwin has been failing the:

../cpan/Win32/t/Unicode.t

test.

The 76829f42d commit is purely a documentation change and can't have caused the failure, but the two test runs also differ in the versions of cygwin:
[code]
vs
[co

[2021-11-23 17:02] wolfsage opened #19240 "goto within defer block doesn't work correctly if there is code after the defer"
This works:

[code]
`ham`

This doesn't:
[code]
[code]

It seems anything *after* the defer block in the same scope breaks the goto detection...

[2021-11-24 17:51] richardleach opened #19243 "S_rv2gv: SVf_FAKE flag modified on wrong SV?"
**Description**
The end of the _S_rv2gv_ function in blead's  _pp.c_ has this block of code:
[code]
_newsv_ won't have the _SvFAKE_ flag set, so why is it being toggled off?

It seems to make more sense to do `SvFAKE_off(sv)`.

(f that is what is intended, then this bug doesn't seem to be biting anyone?)

[2021-11-24 17:51] richardleach commented on #19243
I just saw the flag copy. Ignore this issue.

[2021-11-24 17:51] #19243 closed

[2021-11-25 13:07] aquanight opened #19245 "Signature preventing use of attributes in variable declarations"
[code]

[2021-11-25 18:04] jkeenan commented on #19240
@leonerd, can you take a look at this?

[2021-11-25 18:14] jkeenan commented on #19245
[Reformatting the original post for readability in GitHub web interface]

When declaring a subroutine with a signature, subsequent variable declarations using an attribute incorrectly trigger an error `Subroutine attributes must come before the signature`.

**Steps to reproduce:**
[code]
**Expected Result:**
Should print messages demonstrating the relative order of executing code and applying attr

[2021-11-29 10:37] leonerd commented on #19240
Yah; reproducable.

A quick hack at the code hasn't yielded a suitable way to fix it though. It seems the logic for finding a jump label is a bit more weird and twisted than I had imagined.

[2021-11-29 23:52] khwilliamson commented on #17671
It still is a problem, so should be let open

[2021-11-30 21:50] jkeenan opened #19249 "64b4056614 introduced output to STDERR during make"
Every now and then commits to blead start to cause statements being printed to STDERR as `make` or `make test_prep` runs.  Sometimes these statements are exceptions or warnings generated by the C-compiler.  Sometimes they are generated by `perl` or `sh` operations invoked by `make`.  Here is a recent case of the latter.

Near the end of `make test_prep`, the following statement is being generated

[2021-11-30 22:03] jkeenan opened #19250 "eb87cedb60 introduced output to STDERR during make"
Every now and then commits to blead start to cause statements being printed to STDERR as `make` or `make test_prep` runs.  Sometimes these statements are exceptions or warnings generated by the C-compiler.  Sometimes they are generated by `perl` or `sh` operations invoked by `make`.  Here is a recent case of the latter.

Near the end of `make test_prep`, the following statement is being generated

[2021-11-30 22:18] richardleach commented on #19249
Thanks for picking this up, @jkeenan.
I'm assuming that the second line here should be a `=for apidoc_item`, will try it out now.
[code]

[2021-11-30 23:19] #19249 closed

[2021-12-01 02:27] jkeenan commented on #16003
Closing ticket as per schedule.

[2021-12-01 02:27] #16003 closed

[2021-12-01 07:26] andk commented on #19223
@xenu : this issue does still affect 5.36. Nicholas' fix is not yet merged. My latest posting about it is https://www.nntp.perl.org/group/perl.perl5.porters/2021/11/msg262072.html

[2021-12-01 07:47] xenu commented on #19223
I have removed all "affects-*" labels, it isn't specific to this ticket: https://www.nntp.perl.org/group/perl.perl5.porters/2021/10/msg261771.html

[2021-12-01 08:48] andk commented on #19223
Ah, OK. Thanks for the link.

[2021-12-02 00:12] #19250 closed

[2021-12-02 00:25] jkeenan commented on #19250
Confirmed that the `embed.fnc ...` message is no longer being emitted as of e728f790bc.

Thank you very much.
Jim Keenan

[2021-12-02 00:52] EvanCarroll commented on #19229
Can we close this if it's a duplicate?

[2021-12-02 03:03] FGasper commented on #19250
Thank you, @tonycoz … and sorry for the noise.

[2021-12-02 07:09] EvanCarroll commented on #19119
It does seem awkward to be able to declare a sub that's invocation is silently a NOOP, and that doesn't function intuitively with `can`

[2021-12-02 17:54] leonerd opened #19255 "Deparse lexically-imported builtin funcs using their short names"
Currently `B::Deparse` does not check if a lexical alias for a builtin function is in scope, always emitting long names:

[code]

Since the `isbool` alias is in scope, this final line ought to be output as

[code]

However, this can't just be applied without checking that it's the right function; it would be incorrect to apply it to for example:

[code]

As a side-task, it would also be useful if

[2021-12-02 20:05] nwc10 commented on #19223
Sorry, I thought that I'd posted or mailed the simplest example:

    ./perl -e 'while (1) { my $h = { 1 .. 2 }; 1 for keys %$h }'

Note that

1. It needs to be a reference to a hash. "Just" using a lexical hash won't expose it
2. You need `keys` or something equivalent that needs a hash iterator

This loop will steadily allocate ever more memory, as each time it frees the hash, it returns the bod

[2021-12-02 23:50] jkeenan commented on #19223
On 12/2/21 3:05 PM, Nicholas Clark wrote:

It does indeed ;-)  It froze my computer within 1-1/2 seconds of my
running it, requiring a power-down and -up.

Suggestions as to a safe(r) way to test this?

[2021-12-03 01:09] wolfsage commented on #19223
Something like:

     ulimit -v 102400
     ./perl ...

Should protect you (though which ulimit you set might depend on your os)

[2021-12-03 01:26] jkeenan commented on #19223
I should have been more precise.  What I'm wondering, is there someway, whether in or outside of the test suite, that we can simply but safely track the impact on memory usage of any given commit to the repo?  Something that one might run, say, once a week.

[2021-12-03 17:03] xenu commented on #18089
Apparently, it was intentional: https://github.com/perl/perl5/commit/18f703895eca8c44a852a7e191cb3fdbb65d6891

[2021-12-03 17:04] #18089 closed

[2021-12-03 17:05] xenu commented on #18089
While I think this behaviour is weird, it's clearly not a bug. If we want to change it, it should be done through an RFC.

[2021-12-03 21:13] offsides opened #19259 "Storable can't locate module because package is in a different file"
Module: Storable

**Description**
Thawing a frozen object containing a Readonly Array or Hash causes perl to crash with the following error:

[code]

(The same error happens except with Readonly/Array.pm and Readonly::Array - it's random which happens because the program in question uses both)

This is because the Readonly::Hash and Readonly::Array packages are located inside Readonly.pm.  Note th

[2021-12-03 21:34] jkeenan commented on #19259
Can you explain why you believe this should be classified as a bug in Storable (which is maintained here in core) rather than a bug in Readonly (which is maintained upstream on CPAN)?

[2021-12-03 21:48] offsides commented on #19259
I would have thought that since the Readonly.pm file contains the (e.g.) Readonly::Hash package, that it would already be in the namespace and thus thawing an object containing a Readonly hash would not cause an error.  That said, it appears that perhaps that's not the case.  Also, as I dug deeper, it appears that Readonly 2.02 added a STORABLE_freeze function to Readonly::Scalar, Readonly::Array

[2021-12-03 22:26] jkeenan commented on #19259
I agree that this module's bug queue is getting long.  Can you identify the specific bug ticket you're mentioning?

[2021-12-03 22:32] offsides commented on #19259
Readonly Issue #27.  That said, I found a reference to ReadonlyX which appears to be the same author rewriting Readonly as a near drop-in replacement without the legacy issues, and it works with Storable.  So I'm inclined to just switch to using that and see if it has problems, and if not I'll call it a day.  In any event, I now agree that this is most likely not a Storable issue, but a Readonly i

[2021-12-03 22:37] jkeenan commented on #19259
Thank you for taking the time to dig deeper into this.  Closing ticket per your recommendation.

[2021-12-03 22:37] #19259 closed

[2021-12-04 13:36] tonycoz commented on #19238
fixed in cygwin 3.3.3, these tests are now passing

https://cygwin.com/pipermail/cygwin/2021-December/250098.html

[2021-12-04 13:36] #19238 closed

[2021-12-06 15:43] djerius opened #19264 "[doc] Text::Balanced doc for extract_multiple provides broken example for parsing CSV fields"
**Where**
Text::Balanced

**Description**
The documentation for `extract_multiple` provides an example of parsing a comma-separated value string:

[code]
However, the regular expression matches the entire string, thus stopping the parse after the first field.

For example:

[code]

Results in

[code]

Changing the regular expression to `qr/([^,]+)/`, returns

[code]

Which looks more reasonable.

[2021-12-08 13:16] jkeenan commented on #19264
Text-Balanced is maintained [upstream on CPAN](https://metacpan.org/pod/Text::Balanced).  Its bug tracker is [here](https://rt.cpan.org/Dist/Display.html?Name=Text-Balanced), so that is where issues should be related.

Closing this ticket.

Thank you very much.
Jim Keenan

[2021-12-08 13:16] #19264 closed

[2021-12-08 13:34] jkeenan commented on #15928
There has been no further discussion in this ticket since March 2018.  Much of the discussion went on a tangent about version numbering; that would be better handled in a separate ticket.

I am taking this ticket for the purpose of closing it within 7 days unless someone raises a serious objection.

Thank you very much.
Jim Keenan

[2021-12-08 13:40] jkeenan commented on #15939
This ticket has been open for 4-1/2 years, but the original test failure report has never been reported again or confirmed.  Closing ticket.

[2021-12-08 13:40] #15939 closed

[2021-12-08 13:43] jkeenan commented on #16208
Reviewing this older ticket, it appears that @tonycoz diagnosed the problem as being in an outside library.  Since we haven't heard anything more in 4 years, I will take this ticket for the purpose of closing it within 7 days unless someone has a serious objection.

Thank you very much.
Jim Keenan

[2021-12-08 13:49] jkeenan commented on #13015
We haven't heard back in over 8 years from the OP re @iabyn's request for more information.  Closing this ticket.

[2021-12-08 13:49] #13015 closed

[2021-12-08 21:34] djerius commented on #19264
Thanks for the pointer.  Sorry for the noise!

[2021-12-09 14:28] g-bougard opened #19268 "Minor useless size computing in win32 stat function"
https://github.com/Perl/perl5/blob/0a91ad7bad09fcaf7a49940068a65ce44e753743/win32/win32.c#L1605

Auditing win32 code I just found it is useless to compute `size_t l` at that line as the result is not used and computed again at line 1612.

[2021-12-09 16:11] jkeenan commented on #19268
Would the following be a proper correction for this problem?
[code]

[2021-12-10 02:22] sisyphus commented on #19268
I don't think there's any need to declare "l" at all:
[code]

That tests fine for me.

[2021-12-10 14:35] ilmari opened #19271 "Functions treated as bareword filehandles under `no feature 'bareword_filehandles';`"
**Description**

When the `bareword_filehandles` feature is disabled (e.g. in the `:5.36` feature bundle as of v5.35.6), having a function call as the first argument to an operator that takes a filehandle erroneously complains about bareword filehandles not being allowed.

**Steps to Reproduce**

[code]

**Expected behavior**

The return value of the function is printed, like without the feature d

[2021-12-11 05:10] tonycoz commented on #19271
The problem is worse than this, on your branch (and in blead):
[code]

[2021-12-11 10:58] mbeijen opened #19273 "builtin::reftype string comparison provides incorrect warning"
**Steps to Reproduce**
Please note how `builtin::reftype` reports that the scalar `$i` is uninitialized, where it is not! `Scalar::Util::reftype`s error message is correct.

[code]

**Expected behavior**
I would expect the same error message as `Scalar::Reftype`.

**Perl configuration**
Standard blead on x64 linux.

[2021-12-11 21:06] KES777 opened #19275 "Can not determine subroutine name"
**Description**
At my debugger I try to determine subroutine name for tracing purpose.

[code]

This sub name is called like `DB::sub_name( $DB::sub )`
and died with error: `Can't locate object method "STASH" via package "B::SPECIAL" at`
I try to google and found this:

[source](https://perldoc.perl.org/perl5220delta#Updated-Modules-and-Pragmata)

And probably related to this issue too:

[source](

[2021-12-13 13:57] jkeenan commented on #19273
With a perl built at the v5.35.6 tag, I get different results from you.
[code]
Invoking the same command, but requesting warnings, I get:
[code]
I get the same output as above when I substitute `-Mwarnings` for `-w`.

[2021-12-13 14:00] jkeenan commented on #19275
Can you reproduce this problem outside the context of `Coro` and `AnyEvent::*`?

[2021-12-13 14:04] haarg commented on #19273
`builtin::reftype` does not exist in v5.35.6, only in blead.

[2021-12-13 14:16] jkeenan commented on #19271
Using a perl built at the `v5.35.6` tag ...
[code]
... confirming your finding.  However, ...
[code]

[2021-12-13 14:52] KES777 commented on #19275
@jkeenan no, I can not.

I think this problem specifically belongs to `B::SPECIAL` where: `ithread creation or pseudofork, special/immortal SVs in the child ithread/pseudoprocess have the class of B::SPECIAL` [source](https://perldoc.perl.org/perl5220delta#Updated-Modules-and-Pragmata)

This sub has `B::SPECIAL` so I can not get name for it.

[2021-12-13 23:03] tonycoz commented on #19271
I'm not sure what this demonstrates.

The `-M-feature=":5.36"` is equivalent to:
[code]

and since the 5.36 bundle doesn't enable  bareword_filehandles, disabling it doesn't disable them:
[code]

Looking over the feature.pm code I do see another possible issue:
[code]
doesn't disable the bareword_filehandles feature (nor multidimensional nor indirect).  I'll open a bug for that.

`use v5.35.6;` wo

[2021-12-13 23:23] tonycoz opened #19277 "use feature ':5.36'; leaves bareword_filehandles, multidimensional, indirect enabled"
Module: feature

**Description**

This may or may not be a bug, but i can see it being unexpected, but loading feature with a feature bundle that is missing some features does not disable those missing features.

This wasn't so confusing since for older bundles the extra features needed to be enabled explicitly (or via another bundle) anyway, but the 5.36 bundle disables some default enabled featu

[2021-12-13 23:26] tonycoz commented on #19277
Something else to consider here is the behaviour of `no feature :some_bundle`, I'm not sure what I expect from that.

[2021-12-15 04:36] yuki-kimoto commented on #19277
I feel this is unexpected behavior.

Is this fixed easily?

Are we think about the following ways?

[code]

[2021-12-15 04:44] khwilliamson opened #19280 "perl (sometimes) distinguishes between positive and negative zero in integers"
Module:

**Description**

I noticed this in tracking down a discrepancy in how the pattern `/\p{numeric_value=-0}/`is treated on different systems.  On z/OS, it will match any code point whose numeric value according to Unicode is zero.  Like the character '0', for example.  On other boxes, it generates an error that no property matching that description is available.  In fact a test introduced in

[2021-12-15 04:46] Grinnz commented on #19277
This isn't documented anywhere (only `no feature 'specific_feature'` and `no feature ':all'` are documented) so I don't expect anything in particular.

[2021-12-16 03:24] tonycoz commented on #19277
I mentioned it because of the final bit of code in https://github.com/Perl/perl5/issues/19271#issuecomment-992523695

[2021-12-16 12:08] ilmari commented on #19271
AFAIK that's intentional. `use feature` only enables features, while `no feature` disables them.

That's because `use vX` does the equivalent of

[code]

thus causing _only_ the features in that version bundle to be enabled.

[2021-12-16 14:56] #19271 closed

[2021-12-17 10:53] Sophira opened #19286 "'Possible unintended interpolation' warning does not occur when it should"
Module: n/a

**Description**
When unintentionally interpolating something that *looks* like a special Perl variable (but in fact doesn't exist as such, such as `@$`), no warning of possible unintended interpolation occurs.

With help from IRC (and especially xq - thank you!), I was able to bisect this down to commit 10030f4 (between Perl versions v5.25.3 and v5.25.4), which seems to be mitigating

[2021-12-17 11:11] Sophira commented on #19286
I have been informed that using the `-w` switch [is a bad idea](https://perldoc.perl.org/warnings#What%27s-wrong-with-w-and-$%5EW). I've retested the above with `use warnings;` instead and can confirm that the issue is still as described in all cases.

[2021-12-20 01:20] mohawk2 commented on #16916
Please can the current EUPXS be released on CPAN?

[2021-12-20 18:28] abdulbadii opened #19291 "regex is hanging inside while loop, neither going"
-----------------------------------------------------------------
regex is hanging inside loop not either go on looping nor break out of it

It's in function:
`sub getEleMul`

of script: `rmHTMLmnt.pl`

This'd find an HTML element which is specified as xpath
The xpath documentation states that the element name not followed by
order specifier, e.g. [1], will have to
search all that name element in

[2021-12-20 20:57] Corion commented on #19291
This is the bug tracker for the Perl language and not a help forum. As you don't show relevant code to reproduce the problem, maybe you want to discuss your problem (with code) first on sites like [https://perlmonks.org] or [https://stackoverflow.com/questions/tagged/perl]?

Otherwise, there is very little actionable in your bug report other than to close it.

[2021-12-20 21:31] #19291 closed

[2021-12-20 21:32] jkeenan commented on #15928
Closing ticket as per previous post.

[2021-12-20 21:32] #15928 closed

[2021-12-20 21:32] jkeenan commented on #16208
No objections heard; closing ticket as per previous post.

[2021-12-20 21:32] #16208 closed

[2021-12-20 22:33] abdulbadii commented on #19291
regex is hanging inside loop not either go on looping nor break out of it

It's in function:
sub getEleMul

of script: rmHTMLmnt.pl

This'd find an HTML element which is specified as xpath
The xpath documentation states that the element name not followed by
order specifier, e.g. [1], will have to
search all that name element in any order repetitively so collect all
the element exist under the prev

[2021-12-20 22:40] abdulbadii opened #19292 "regex is hanging inside while loop, neither going"
regex is hanging inside loop not either go on looping nor break out of it

It's in function:
`sub getEleMul`

of script: `rmHTMLmnt.pl`

This'd find an HTML element which is specified as xpath
The xpath documentation states that:
 the element name not followed by order specifier, e.g. [1], [3], will have to
search all that name element in any order repetitively so collect all
the element exist und

[2021-12-21 00:51] jkeenan commented on #19292
In https://github.com/Perl/perl5/issues/19291, one of our most experienced contributors indicated to you that this Issue tracker is not an appropriate place to post a problem such as the one you're experiencing.  He directed you to some sites that are more appropriate.

By opening a new Github issue, you indicate that you have not followed his advice.  Having looked briefly at the program in your

[2021-12-21 00:51] #19292 closed

[2021-12-21 12:18] jkeenan commented on #19212
Maintainer Vincent Pit has accepted the patch and released [Scope-Upper-0.33](https://metacpan.org/dist/Scope-Upper) to CPAN, so we can now close this ticket.

[2021-12-21 12:18] #19212 closed

[2021-12-21 22:20] jimav opened #19293 "Initialized locals are first set to undef, breaking tied vars which can't store undef"
If a tied scalar is localized with an initialization value, STORE is first called with undef, and then again with the initialization value.   This breaks if the tie implementation is unable to store an undefined value.

Legalistically speaking, 'man perlsub' implies that this should not happen where says "If no initializer is given for a particular [localized] variable, it is created with an undef

[2021-12-21 23:07] abdulbadii commented on #19292
.

[2021-12-21 23:07] abdulbadii commented on #19291
.

[2021-12-21 23:30] Leont commented on #19293
This request is reasonable, the existing behavior is actually causing issues elsewhere as well. The current infrastructure does make this difficult, because internally `local $foo = 1` really is the two unrelated operations `local $foo` and `$foo = 1`.

It should be easy to implement a `LOCALIZE` method, but I'm not sure that's really helpful in this case.

[2021-12-22 12:11] sisyphus opened #19294 "EU::ParseXS: ExtUtils/typemap overrides typemap provided by user"
Module:
ExtUtils::ParseXS

**Description**

The assertion made in the title is true only when the typemap provided by the user is NOT found by default, but relies on being found via the <code>TYPEMAPS</code> setting in <code>WriteMakefile()</code>.
If the typemap provided by the user is found by default, then it overrides <code>ExtUtils/typemap</code>, as expected.

For the purposes of experimenta

[2021-12-24 23:27] karenetheridge opened #19296 "Storable::freeze mutates UVs into PVs"
repro case:

[code]

expected: Storable should not mutate its source value.

This is with 3.25 on perl 5.35.7, OSX (darwin), with ivsize=8.

[2021-12-25 00:07] karenetheridge commented on #19296
This happens deep in the object too, so it's not possible to work around this by simply saving a copy before freezing it:

[code]

[2021-12-25 00:18] karenetheridge commented on #19296
And going through a full freeze-thaw cycle mutates the flags even more, stripping the UV flag:

[code]

[2021-12-25 02:40] sisyphus commented on #19296
Oddly, for the first pf @karenetheridge's oneliners, I get something quite different on Linux:
[code]
On Windows, I also see the same output as for Linux.
And it makes no difference whether I use perl-5.34.0/Storable-3.23 or perl-5.35.7/Storable-3.25.
IME, when nvsize is 8, <code>2**63</code> always returns an NV, irrespective of ivsize.
However, my personal experience doesn't include OSX(darwin)

[2021-12-25 18:56] karenetheridge commented on #19296
I expect you will see different behaviour depending on your ivsize and nvsize. It would appear that the UV flag is set on an IV when the number is too large to be stored as a signed int, but can still be accomodated if it's an unsigned int -- and for my architecture, the range for a signed int is -2**63 to 2**63 -1, so a number one larger (2**63) will be stored with the UV flag instead.

On some o

[2021-12-25 22:50] jkeenan commented on #19294
@sisyphus, thanks for this analysis.  I don't claim to have completely grokked it, as I've never written XS code for myself and last worked on EU::PXS 10 or 11 years ago.

Would it be possible for you to write a test for the core distribution (*i.e.,* not involving Inline::C) that if run against blead would currently FAIL but, if EU::PXS were (subsequent to discussion here) modified, would then PA

[2021-12-25 23:10] jkeenan commented on #19286
Before I comment on the absence of a warning, I first want to understand why the pattern match is suceeding *at all* -- with or without warning.

When I run your program as a one-line, the output is `match`:
[code]
... which is not what I would intuitively expect.  I would not have expected the pattern match to succeed; hence, I would have expected no output.

Can anyone explain?

[2021-12-26 01:19] Sophira commented on #19286
Honestly, I agree with you. In fact, when I first presented this test case in the IRC channel, the comment read:

The people in the channel convinced me that I was wrong and that this was a context in which Perl would try to interpolate variables, but that the lack of a warning was the bug. So I went ahead and opened this issue.

Honestly though, when I encountered this behaviour with no warning,

[2021-12-26 01:25] Sophira commented on #19286
Oh, and as for an actual explanation of why it matches, what I assume is happening is that Perl is interpolating the (empty, since it's non-existent) list `@$` in the regex, which means the regex resolves to an empty regex: `if($str=~//)`. This matches (because it technically doesn't need to have anything at all to be a match) and so it prints `match`.

[2021-12-26 04:56] Grinnz commented on #19286
`@$` is an array, not a list, and it exists because the superglobal `$$` exists. So this is correct interpolation of a currently-empty array.

[2021-12-26 08:35] Sophira commented on #19286
Thank you for explaining! I'll take you at your word for the one, since I don't know how Perl internals really work and I'm still fuzzy on the difference between an array and a list in Perl. I still feel it's unintuitive but this isn't the right place for me to argue that so I'll drop it.

The lack of a warning is still an issue, though, it sounds like?

[2021-12-26 12:25] sisyphus commented on #19296
Yes, on 32-bit Windows, I see the same:
[code]
But, when I create the value as <code>2**31</code> it is created as an NV:
[code]
In short, I have believed for quite some time that <code>2 ** 63</code> will always be an NV, irrespective of the plethora of IVSIZE x NVSIZE x archname permutations. - and even when <code>1 << 63</code> is a UV. (That's the way it has always been IME.)
In fact, I've wri

[2021-12-26 12:43] jkeenan commented on #19286
My hunch is that the cost in Perl core developer time to implement this warning and to maintain it going forward would exceed the benefit we derive from it.

Warnings are implemented deep in the Perl guts.  The number of people who can do that correctly is small, so we/they have to prioritize.

That's true for *all* warnings, but for this one in particular there are additional considerations.  We

[2021-12-26 14:11] Sophira commented on #19286
That's fair. I didn't realise that there was a separate regex warning - I actually copied and pasted the warning from what used to be emitted by the test case when using v5.25.3 and earlier. I can see that that was a case of an incorrect warning, now, because yes, we're clearly in a regex here. (That sounds like it may be a separate bug which may bear investigation depending on how it works and if

[2021-12-26 16:57] Grinnz commented on #19286
This case actually appears to be weirder. It's interpolating `@.` (since similarly, `$.` exists) and so your regex ends up being `^@*@`, which matches your initial two `@` characters and doesn't care what follows.

I definitely agree that the warning should be firing for these cases.

[2021-12-26 17:07] Grinnz commented on #19286
But as @jkeenan points out, the two existing warnings don't cover this case. One is a string warning for arrays which aren't in scope (superglobals are always in scope), and the other is a regex warning specifically for `$\`. So to cover these cases the latter warning would have to be expanded in scope, or another one added.

[2021-12-26 17:46] Sophira commented on #19286
Wow. So in simplifying the regex (the initial regex I was actually using was much longer - `$line=~/^@@ -(\d+)(?:,(\d+))? \+(\d+)(?:,(\d+))? @@$/` - but I didn't consider that the details would be important; how wrong I was!), I guess I unwittingly created a new instance that I never even considered! I guess this shows the importance of always being exact in bug reports, particularly when the issu

[2021-12-27 08:46] sisyphus commented on #19294
@jkeenan, my detailing of the problem is, I think, of fairly poor quality.

The issue occurs solely with this line of code in the process_typemaps() subroutine in ExtUtils/ParseXS/Utilities.pm (at line 275 of that file with EU-ParseXS-3.44):
[code]
The thing is that the contents of <code>@tm</code> are determined by the Makefile, whose contents are in turn dependent upon the contents of the Makefi

[2021-12-27 17:53] Alkorin opened #19301 "[doc] IPC::Open3 - send STDOUT and STDERR to already open handle"
**Where**
https://perldoc.perl.org/IPC::Open3

**Description**
The documentation state that we can redirect STDIN/STDOUT/STDERR to an already open handle.

[code]

But, at least on linux, it doesn't work. This sample code generates an empty file:
[code]

We can see with strace that perl closes the file descriptor beforing cloning:
[code]
It happens here: https://github.com/Perl/perl5/blob/blead/ex

[2021-12-29 10:19] Ovid opened #19303 "v5.34.0 broke typeahead, {{, in the debugger"
**Description**

The `{{` typeahead feature in the Perl debugger is broken in 5.34 (5.32 appears to be OK)

**Steps to Reproduce**

Run the debugger on any program:

[code]

At the first debugger prompt, type `{{v` and hit enter. Then type `n` and hit enter. The debugger will die and in the output you'll see an error message similar to:

[code]

Here's a full example, using the smallest test case

[2021-12-29 10:47] Ovid commented on #19303
Closing as duplicate of https://github.com/Perl/perl5/pull/18900

[2021-12-29 10:47] #19303 closed

[2021-12-29 12:17] sisyphus commented on #19294
Attached is a test script (107-process_typemaps.txt) that can be placed in the ExtUtils-ParseXS/t folder, the extension changed ".t", and the file executed.
If run as <code>perl t/107-process_typemaps.t</code> then test 5 will fail.
If this patch is first applied to Utilities.pm, then all tests pass when the test suite is run. (At least that's what I'm seeing on Windows and Linux.)
Note that the t

[2021-12-30 23:48] jkeenan commented on #19301
In the code sample from the IPC::Open3 docs you quoted above, the second argument to `open` is `>`.  In your own example above, the second argument to `open` is `>>`.  Is that difference significant?

Can you provide a code sample for what you mean by manually providing the file descriptor via `>&3`?

[2021-12-31 00:24] kjohnstn opened #19306 "Enhancement request: For perl-GDBM_File to support gdbm_open "GDBM_NOMMAP" flag"
I am having an issue with gdbm, and I would like to try to prove whether mmap is or is not a factor.

This is a follow-on to issue#18884. In the transition from gdbm 1.18 to 1.19, mem-mapped db support was added, and db pre-read was enabled by default. Or maybe mmap was already present and only pre-read was added? I'm not sure. I think mmap was new with gdbm 1.19.

Anyway, based on performance iss

[2021-12-31 01:10] thesamesam opened #19307 "Perl 5.34 fails to compile on s390(x) (Attempt to free unreferenced scalar: SV 0x172ca48.)"
Perl 5.34.0 fails to build on s390(x) on Gentoo Linux. This issue was originally reported in Gentoo [here](https://bugs.gentoo.org/821577).

This seems to have started happening after modifying the *FLAGS used to build Perl. We modified our ebuild (build configuration/packaging) like so:
[code]

... which seems to have started the crashing, interestingly! Backing out this change results in a succe

[2021-12-31 01:27] jkeenan commented on #19306
@graygnuorg, are you available to take a loot at this GDBM-related issue?

[2021-12-31 01:37] thesamesam commented on #19307
Changing the line to:
[code]
results in things working again.

Maybe we've misunderstood the purpose of `cflags` downstream/

[2021-12-31 01:47] jkeenan commented on #19307
Have you experimented with the content of `${CFLAGS}` to see if one of its terms is triggering the crash?  Farther below I see this:
[code]

That will certainly be helpful and you might want to start the access process (though we'd have to identify who on the Perl side would be the best person to work with).

Thank you very much.
Jim Keenan

@khwilliamson, @iabyn, @tonycoz

[2021-12-31 01:49] jkeenan commented on #19307
On 12/30/21 8:37 PM, Sam James wrote:

Note that I hadn't seen this post at the point where I hit Send on my
previous comment.

[2021-12-31 02:08] khwilliamson commented on #19307
On 12/30/21 18:37, Sam James wrote:

Does that mean this fixes the bug report?

I was unaware of this hardware; so no we don't have access to it.  But
we do have access to z/OS.

Is this running ASCII or EBCDIC (1047 no doubt if it is EBCDIC)

There have been substantial improvements in getting perl to work on z/OS
in the 5.35 series.  Perhaps you'd want to take some of the patches

There is an on

[2021-12-31 02:52] khwilliamson commented on #19307
Hi Sam

Would Like to collaborate with you on z/OS Perl. As Karl mentions I have been working on enhancing z/OS Perl. For the problem you mention, are you building its compiler optimization (I haven’t tried that yet but I think Karl was experimenting).

Thanks, mike

[2021-12-31 12:47] Leont commented on #19307
Yeah, overriding ccflags instead of appending to it will almost always be the wrong thing. It's kind of unfortunate how that works, but it's not easy to change either.

Using `-Accflags="${CFLAGS}"` may work better for you.

[2021-12-31 13:29] Alkorin commented on #19301
I did the test with both `>` and `>>` it's the same.

`3` is the first free file descriptor, a proper code sample would be:

[code]

[2021-12-31 13:50] jkeenan commented on #19301
Could you please file a pull request with that code?

[2021-12-31 20:00] andk opened #19310 "BBC threaded bleadperl v5.35.3-115-g3683a9ee5a breaks GOCCY/Compiler-Lexer-0.23.tar.gz"
**Description**

Threaded perls stopped compiling the CPAN distro GOCCY/Compiler-Lexer-0.23.tar.gz since the commit 3683a9ee5a,

**Steps to Reproduce**

(in the cpan shell): test GOCCY/Compiler-Lexer-0.23.tar.gz

***The compiler error diagnostics***

[code]

**Expected behavior**

up to commit 65f7068160 the compilation succeeded.

**Perl configuration**

[code]

[2022-01-01 00:11] jkeenan commented on #19310
This compilation failure appears to be some combination of OS-specific and C-compiler-specific.

**Evidence from CPANtesters**

On [FreeBSD](http://matrix.cpantesters.org/?dist=Compiler-Lexer;os=freebsd;reports=1#sl=4,1) on perls older than 5.20, this distro is getting a lot of FAILs.  But from 5.20 onwards, it PASSes overwhelmingly.

On [OpenBSD](http://matrix.cpantesters.org/?dist=Compiler-Lexer

[2022-01-01 11:37] xsawyerx commented on #16916
I'm willing to cut a release.

[2022-01-01 19:13] jidanni opened #19319 "[doc] perlre: Do not attempt to describe \K. Simply give examples."
**Where**
perlre
**Description**
We see
[code]
WRONG.
PROOF:
[code]

"keep" everything it had matched PRIOR to the "\K":
The space.

"And NOT include it (the space), in $&".
Well you DID include it.

So you need to *talk clearer*.
Clear for you, not for me, and others.
But wait... No need to talk at all. See below.

And then the page goes on to discuss other things:

[code]

[code]

And then all t

[2022-01-01 19:21] Grinnz commented on #19319
Actually the documentation is correct. In your first example, the space is not included in $&, and it is also not replaced in the string, so it remains in the string despite your replacement.

[2022-01-01 19:44] jidanni commented on #19319
Well I included the "X" to be sure indicate if the regexp matched or not.
So it did.
So fine. There are two things going on.
So the page needs a ton of examples to show what those two things are.
Better yet, just use examples, with no English trying to explain them.

[2022-01-01 19:45] Grinnz commented on #19319
Examples are not sufficient without description. But I agree improvements can be made.

[2022-01-01 19:47] Grinnz commented on #19319
This is also not correct. Use of `$&` affects whether the contents of `$&` show up in the replacement, like any other variable; it does not affect what is replaced.

[2022-01-01 21:08] mohawk2 commented on #16916
Great!

[2022-01-02 13:55] jkeenan commented on #18682
@sisyphus, would you be able to take a look at this ticket and see if there's any overlap with the problem you are describing in https://github.com/Perl/perl5/issues/19294?

Thank you very much.
Jim Keenan

[2022-01-02 16:22] graygnuorg commented on #19306
Hi James,

Sure, I am.  I'll be able to take a look at it in a couple of days.

Best,
Sergey

[2022-01-03 01:09] sisyphus commented on #18682
No overlap, @jkeenan.
This one is a straightforward case of another behaviour vs documentation mismatch.

The documentation says that any files called "typemap" that are in either '.' or '..' or '../..' or '../../..' will be found automatically.
In reality, however, files named "typemap" that are located in '../../../..' will *also* be found automatically, courtesy of <code>standard_typemap_locati

[2022-01-03 05:12] kjohnstn commented on #19306
After thinking about it a bit more, I had a new idea for a test program, and I think it worked surprisingly well. This program does *not* demo the out-of-mem crash that I've seen with my real application, but it does demo a difference in DB build time. It's slightly different from a *rebuild* scenario, since a rebuild would only do writes whereas this test program does both reads and writes. But t

[2022-01-03 15:05] iabyn commented on #18668
Data::Alias-1.25_01 appears to build on blead (threaded debugging), plus the test matrix shows it mostly passing on 5.34.0 and earlier, so I'm closing.

[2022-01-03 21:38] MaintainUplift opened #19321 "Issue running installation for perl 5.34.0 Time::HiRes test fails on RHEL 8.5"
Hello. I am working with a team on RHEL 8.5 and, to avoid package updates breaking our application, we are compiling our own perl 5.34.0 from source. We keep running into an issue with the testing of the Time::HiRes module:

[code]

I am aware that this has been reported as an issue with utime.t and usleep.t as Bug #122819 (https://rt.cpan.org/Public/Bug/Display.html?id=122819), and apparently Bug

[2022-01-03 23:48] jkeenan commented on #19321
Point of clarification:  I think you may have the above versions backward.

1.9764 is the [most recent CPAN release](https://metacpan.org/dist/Time-HiRes
) (Aug 10 2020):

1.9767 was bundled with perl-5.34.0:
[code]
Also, note that any changes we would make to address your concerns would be initiated in Perl 5 blead, where we are currently up to 1.9769.
[code]

[2022-01-04 01:21] jkeenan commented on #19321
@MaintainUplift, the problematic file, `dist/Time-HiRes/t/stat.t`, currently lacks descriptions (a.k.a. labels) for its unit tests, which IMO impedes debugging.  I have created pull request https://github.com/Perl/perl5/pull/19322 to provide those descriptions.

Would you be able to configure and build `perl` on the architecture, and with the RHEL patches, you are currently using, and paste the re

[2022-01-04 01:32] jkeenan commented on #19310
@nwc10, @tonycoz, could you take a look at this ticket?  Thanks.

[2022-01-04 02:34] MikeFultonDev opened #19323 "Provide inclusive alternatives to whitelist and blacklist"
I have started working on Perl recently and am interested in making Perl source more inclusive.
One of the things I work on is the 'Words Matter' initiative at my company, and I'm keen to expand this
work to the Open Source community as well.
I noticed that Locale::Maketext refers to whitelist and blacklist (https://metacpan.org/pod/Locale::Maketext)
and was wondering if you would be willing to ha

[2022-01-04 03:01] khwilliamson commented on #19323
On 1/3/22 19:34, Mike Fulton wrote:

+1

[2022-01-04 03:54] MaintainUplift commented on #19321
Here's what happened in the Configure and Build stages:

`[brass@brass-eastus2-poc-app-vmss-01000004 perl-5.34.0]$ ./Configure -des -Dprefix=/opt/app/brass/brassperl
First let's make sure your kit is complete.  Checking...
Would you like to see the instructions? [n]
Locating common programs...
Checking compatibility between /usr/bin/echo and builtin echo (if any)...
Symbolic links are supported.
C

[2022-01-04 04:19] tonycoz commented on #19310
The problem is that C thread local variables (which the commit added) use `_Thread_local` as the storage class, while C++ uses `thread_local`. ([reference](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1423.htm#TLS))

Ideally we'd separately probe for the C++ thread local storage class, but `Configure` doesn't have any real infrastructure to test C++ (unless -Dcc is a C++ compiler), so I don't

[2022-01-04 12:08] jkeenan commented on #19321
I should have been more specific.  All we really need at this point is the output from:
[code]
... which can be issued from the top-level directory of your git checkout.

[2022-01-04 12:57] sisyphus commented on #19280
I think I understand the claim being made in the title of this Issue.
But I don't understand how the demo one-liner actually demonstrates the issue. (I've been waiting for someone to chime in and provide some elaboration ... but that hasn't happened ... and now curiosity has killed me ;-)

I can see a difference in output for:
[code]
and
[code]
Intuitively, I'm thinking it's expected that there wo

[2022-01-04 13:18] MaintainUplift commented on #19321
Here are the results:

`[brass@brass-eastus2-poc-app-vmss-01000004 perl-5.34.0]$ uname -mrs
Linux 4.18.0-348.7.1.el8_5.x86_64 x86_64`

`[brass@brass-eastus2-poc-app-vmss-01000004 perl-5.34.0]$ ./perl -Ilib -V:config_args
config_args='-des -Dprefix=/opt/app/brass/brassperl';`

`brass@brass-eastus2-poc-app-vmss-01000004 perl-5.34.0]$ ./perl -Ilib -Idist/Time-HiRes/ dist/Time-HiRes/t/stat.t
1..43
# I

[2022-01-04 17:04] jkeenan commented on #19321
@MaintainUplift, two updates:

First, to facilitate debugging we have just updated `dist/Time-HiRes/t/stat.t` and associated files in Perl 5 blead to provide labels for all tests.  So it would be helpful if, in your git checkout, you could (i) `git pull origin blead`; (ii) apply your regular platform patches, rerun `Configure` and `make test_prep`; (iii) then re-run the failing test.

Second, I've

[2022-01-04 17:18] Leont commented on #19323
of terms worth considering for change.

Yeah, we've already been working on removing some of those words (e.g. [slave](https://github.com/Perl/perl5/pull/18854).

[2022-01-04 19:01] nwc10 commented on #19310
Thanks for the analysis

Yay. Really, yay.

It's not quite the George Bernard Shaw quote about *two countries divided by a common language* but it's close. Needless difference, just causing friction...

Agree with all of this.

I wonder if the approach in `smoke-me/nicholas/pthreads-not-_Thread_local-for-C++` is the least worst option - for C++ disable the use of thread local storage and fall back

[2022-01-04 23:55] tonycoz commented on #19310
Works for me.

As I said in my notes on the commit, your comments (and commit message) indicating that's it's a "some platforms" issue are incorrect, it's really a standards issue.

[2022-01-05 13:42] jkeenan commented on #19321
[snip]

@MaintainUplift, I have to admit that I think you're introducing complications into this process.  Your Subject line and initial post clearly indicate you're trying to diagnose a problem you experience on Linux.  Why than are you introducing a Windows box to the diagnostic process?

[2022-01-05 16:55] MaintainUplift commented on #19321
I am not actually "introducing" a windows box here. The ONLY way I can get the blead so that I can then load it to the linux system is via these means. I cannot pull it directly to the target system because it's firewalled all to heck (and git is not and will not be installed on it anyway). I did not touch any of the code, so I was QUITE surprised to find that I had to run dos2unix on it. All I di

[2022-01-05 18:50] MaintainUplift commented on #19321
Update:

Yep, I'm ignorant. But ignorant NO LONGER - and here's a tip for everyone else:

I was not aware that using 7zip to zip a collection of texts would introduce **_DUMB THINGS_** like changing the line endings to something other than what it came with.

SO: DO NOT USE 7zip TO ZIP ANYTHING YOU ARE SENDING TO A NIX ENVIRONMENT!

By the way: Thanks to your extremely fine support efforts the iss

[2022-01-05 23:21] jkeenan commented on #19294
@Sisyphus, before anyone plunges into this issue ... I'm confused about one thing.  The string `TYPEMAPS` (all upper-case) is not found in `dist/ExtUtils-ParseXS`, nor is it found in the [current (version 3.35) CPAN distribution](https://metacpan.org/pod/ExtUtils::ParseXS).  In the core distribution, it's only found in `cpan/ExtUtils-MakeMaker`.
[code]
In the core distribution, `dist/ExtUtil-Parse

[2022-01-06 01:10] Leont commented on #19294
Yeah, that's also what I was thinking.

I don't think we should remove just the first element, but any element that is already user-supplied.

[2022-01-06 14:14] sisyphus commented on #19294
OK ... ignoring all duplicates:
[code]
Note that <code>@tm</code> (a reference to which is passed to process_typemaps() as the first argument) can already contain duplicates upon its arrival.
That doesn't really matter, but it's probably easier to just remove the duplicate, rather than trying to explain why that removal is unnecessary.

Also, IME with Inline::C and with building XS modules using E

[2022-01-06 14:34] graygnuorg commented on #19306
Hello,

To begin with, thanks for a detailed bug report.  It helped to find an inefficient routine in the GDBM library.  Before returning to it, let me first address the questions posed in your initial posting.

First of all, the memory mapping support was added not "in the transition from gdbm 1.18 to 1.19", as you assumed, but much earlier: in GDBM version 1.9, dated 2011-08-12.  It remains the

[2022-01-06 18:56] leonerd opened #19326 "IO::Socket->connect is hostile to nonblocking connect attempts"
The core `connect()` op is fine and lovely.

The wrapping of it by `IO::Socket::connect` however, masks the `EINPROGRESS` "error" you expect to get from a nonblocking connection attempt, making it appear to have succeeded. As far as I can tell, this is no use to anybody and never has been.

I've had to work around it twice now:
 * in `IO::Socket::IP` - https://metacpan.org/dist/IO-Socket-IP/source

[2022-01-06 19:00] leonerd commented on #19326
As to what to actually do about fixing it, I don't have a very good idea. It *may* be the case that existing code somehow relies on this bug. I find it hard to believe anyone actually does, but it may be possible.

At the very least I suggest adding a line or two of documentation, to the effect of

[code]

Perhaps further we could add a method, perhaps called `->nbconnect` (or other bikesheddable

[2022-01-06 21:26] jkeenan commented on #19310
Is this problem something where we may have to ask the CPAN author to revise code?

I ask because we're nearing the point in the annual development cycle where we have to know what we're going to do for all BBCs.

[2022-01-06 21:53] sdondley commented on #18406
Broken for me on monterey:

[code]

And looking at the `etc/DynaLoader/DynaLoader.pm file`, it has the the https://github.com/Perl/perl5/commit/d296ead16762852ec34d173616a271c856711f77 patch.

[2022-01-06 21:57] dur-randir commented on #19310
No. The same commit breaks in the same way next::XS (and 10+ from down there). I'd say, it makes perl core universally incompatible with c++ compilers. That's not half the CPAN, but that's not a single module from a single author broken situation.

[2022-01-06 22:30] hakonhagland commented on #18406
@sdondley Did you run `perlbrew install-patchperl` first? See [this](https://stackoverflow.com/a/65332241/2173773) answer on stackoverflow

[2022-01-06 22:46] xsawyerx opened #19327 "PathTools (dual-life dist) requires 5.34.0 to compile"
Module: Cwd

**Description**

Due to the introduction of `PerlLIO_symlink` and `PerlLIO_readlink` (committed in 680b2c5ee3b53c627074192b3cf14416a24da6ea) in `Cwd` (in commit 12a8085aee9a1a5ac613205b43ea06406736ac6b), the `PathTools` dist (more accurately, `Cwd`) can only be compiled on the version that includes these - Perl 5.34+.

**Steps to Reproduce**

To create the initial tarball we'll be usi

[2022-01-06 23:16] jkeenan commented on #19327
@xsawyerx, I'm having trouble grokking the problem (even though I know it's been discussed elsewhere).  Are you saying that if we were to do a CPAN release of PathTools based on the way it exists now in perl-5.34.0 (and blead), we would not be able to "upgrade" earlier versions of Perl to that new CPAN version?

If so, then should I be able to reproduce this problem by:
* Compiling and installing

[2022-01-06 23:17] sdondley commented on #18406
@hakonhagland yes. updated perlbrew and patchperl.

[2022-01-06 23:22] Leont commented on #19327
Sounds like it needs something like:
[code]
and the equivalent for `readlink`

[2022-01-06 23:23] xsawyerx commented on #19327
Correct. My system Perl (5.32.2), for example, will not be able to install PathTools from CPAN.

Correct. These are the steps I tried describing in the ticket.

I used blead to generate the tarball by building blead, then using my system Perl to run `perl Makefile.PL && make dist`. (I needed to copy over the `ppport.h` from the `IO` dist.)

Now you can use this tarball on whatever Perl you want to

[2022-01-06 23:36] sisyphus commented on #19294
On Thu, Jan 6, 2022 at 10:22 AM James E Keenan ***@***.***>
wrote:

It applies solely to recent versions of EU-ParseXS, including the version
currently found in blead,

The "Makefile.PL" I was alluding to was the (any) Makefile.PL that ships
with the source of a perl extension (ie a module containing C source
requiring compilation) that one wants to build, test and install.
When the Makefile.PL is

[2022-01-06 23:38] jkeenan commented on #19327
Using a slightly different approach, I have reproduced this problem on FreeBSD-12 using clang10 as the C-compiler.

* I used a previously installed `perl` compiled at tag `v5.32.0` with threads and debugging.
* I downloaded the PathTools-3.75 tarball from [metacpan](https://cpan.metacpan.org/authors/id/X/XS/XSAWYERX/PathTools-3.75.tar.gz) unpacked it.
* I then created a `PathTools-3.75_001` direct

[2022-01-06 23:50] Leont commented on #19327
#19329 should fix this issue.

[2022-01-07 03:52] khwilliamson commented on #19280
On 1/4/22 05:57, sisyphus wrote:

It is my expectation that all three of these things are equivalent: +0,
0, -0, because mathematically they are.

And on some systems they are.

I'm told that IEEE requires there to be a -0 distinct from non-negative
0.  This makes sense to me only if it's to distinguish between a tiny
positive vs tiny negative number when underflow happens.

What I meant was that

[2022-01-07 08:32] sisyphus commented on #19280
On Fri, Jan 7, 2022 at 2:52 PM Karl Williamson ***@***.***>
wrote:

Thanks for elaborating.

What I meant was that perl's implementation of immediately jumping to

I found it surprisingly difficult to find a method that would both:
a) numify the string '-0' to negative zero
and
b) numify the string '0' to (non-negative) zero.

In fact, I couldn't find a "pure perl" way of doing that.
Maybe I've mi

[2022-01-07 09:54] jplesnik opened #19330 "[doc] perlxs*.pod is missing in ExtUtils-ParseXS-3.44"
**Where**

ExtUtils-ParseXS-3.44 should contain perlxs.pod, perlxstut.pod and perlxstypemap.pod.

**Description**

perlxs.pod, perlxstut.pod and perlxstypemap.pod are in repository dist/ExtUtils-ParseXS/lib. However, new release of ExtUtils-ParseXS-3.44 does not contain them.

The files were moved to the repository in commit
[code]

[2022-01-07 10:42] xsawyerx commented on #19330
This was on purpose since they were not available in the CPAN release of ExtUtils::ParseXS 3.35: https://metacpan.org/release/SMUELLER/ExtUtils-ParseXS-3.35/source. I can release a new version with them included, but it would be good to know whether their lack of inclusion in the previous CPAN release was on purpose and/or correct.

[2022-01-07 14:04] khwilliamson commented on #19280
On 1/7/22 01:32, sisyphus wrote:

No it doesn't.

PEP1> myperl -MDevel::Peek -MPOSIX -e "Dump POSIX::strtod('-0');"

SV = NV(0x50089a7c20) at 0x50089a7c38
   REFCNT = 1
   FLAGS = (TEMP,NOK,pNOK)
   NV = 0

And that's why this came up.  There is a test that relies on it
returning negative zero, bu that's only incidental to the test

[2022-01-07 14:40] FGasper opened #19331 "$0 leaks PV encoding"
**Steps to Reproduce**
(These assume a UTF-8 terminal.)

[code]
This, for me, prints `Ã©`.

Notably, though, this:
[code]
… prints `é`.

**Expected behavior**
Both of the above should print `é`.

**Perl configuration**
Stock Ubuntu/aarch64 perl:
[code]

[2022-01-07 14:41] FGasper commented on #19331
The issue appears to be use of SvPV* rather than SvPVbyte* in S_set_dollarzero().

[2022-01-07 14:42] FGasper commented on #19331
Proposed fix: Downgrade the SV given to S_set_dollarzero(), with a warning if the downgrade fails.

[2022-01-07 15:10] FGasper opened #19332 "AlmaLinux 8: Setting $0 creates lots of trailing space"
**Steps to Reproduce**
[code]
In AlmaLinux 8 for me this prints 4157; on Ubuntu and other (more recent?) kernels we get 1.

The culprit seems to be the `const int pad = ' ';` in mg.c’s `S_set_dollarzero()`; does the reason for the space’s introduction in 54bfe034ba6 (June 2003, https://github.com/Perl/perl5/issues/6586) still apply?

I previously thought that changing the space to NUL fixed the pr

[2022-01-07 15:16] FGasper commented on #19332
In fact, this is the same issue as https://github.com/Perl/perl5/issues/6586.

[2022-01-07 15:41] FGasper commented on #19332
Something like this, maybe, when building Perl could detect the problem:
[code]

[2022-01-07 16:09] Grinnz commented on #19331
Your examples are missing "use utf8", which seems important to the tested behavior.

[2022-01-07 16:13] Grinnz commented on #19331
Right the value of `$0` is bytes. Seems like a correct diagnosis to me.

[2022-01-07 17:40] FGasper commented on #19332
| OS | argv pad | argv[-1] | env pad | cmdline |
------------------------------------
| Ubuntu | NUL | space | n/a | $name + NULs |

[2022-01-07 18:04] FGasper commented on #19332
It looks like modern Linux includes `setproctitle()` and specifically looks for a non-NUL final argv byte: https://elixir.bootlin.com/linux/v5.13/source/fs/proc/base.c#L293

[2022-01-07 18:21] FGasper commented on #19332
In Linuxes that support it there is PR_SET_MM_ARG_END. Can use logic like the above to detect when the kernel actually needs it, if it’s desirable to optimize that out.

[2022-01-07 18:33] sdondley commented on #18406
OK, the problem was due to my total idiocy having a script named `echo` in ~/bin. Disregard.

[2022-01-07 20:16] nwc10 commented on #19310
No. #19335 fixes it.

[2022-01-07 23:34] kjohnstn commented on #19306
Thank you, Thank you, Thank you!

[2022-01-09 05:25] sisyphus commented on #19280
Just backtracking a bit, I'll point out that while perl's printf() function
honours the sign of the NV -0.0, perl's print() function does not:
On Linux, perl-5.34.0:

$ perl -le '$x = -0.0; $y = -0.0; print $x; printf "%0.f\n", $y;'
0
-0

Perhaps you're already well aware of that.

Aside: Personally, I'd be quite happy to see perl's print() function
honour the sign of -0.
That would bring it into

[2022-01-10 03:58] MikeFultonDev commented on #19323
Thank you @Leont and @khwilliamson for the feedback.
I requested a PAUSE id awhile ago but haven't heard back yet. I the meantime, I planned to start this work by writing some new tests using the perl5/dist/Locale-Maketext/lib/Locale tree of perl blead. If there is an alternate test suite I should be using, please tell me.

My thoughts about the actual code would be to create a method for denylist

[2022-01-10 05:05] MikeFultonDev commented on #19323
The changes I am proposing are the following 2 patches to Maketext.pm and Maketext.pod:
https://github.com/ZOSOpenTools/perlport/tree/allow-deny-list/blead/patches/dist/Locale-Maketext/lib/Locale
and the following 2 patches to 92_blacklist.t, 93_whitelist.t and the 2 new test cases 94_denylist.t, 95_allowlist.t
https://github.com/ZOSOpenTools/perlport/tree/allow-deny-list/blead/patches/dist/Locale

[2022-01-10 11:06] sisyphus commented on #19280
I did eventually manage to remove the '-' sign in Perl_do_uniprop_match(), using this patch:
[code]
The test suite still passes all tests, except for lib/croak.t which fails that one test in the way that it now should.
[code]
However, with gcc, there's a new warning generated during the compilation of regcomp.c:
[code]
I don't know whether the tests are passing only because the test that would bre

[2022-01-10 13:27] #19332 closed

[2022-01-10 16:09] jkeenan opened #19338 "Configure hangs on OpenBSD when using g++ as C-compiler"
If I try to compile perl on OpenBSD using g++ as the C-compiler, `./Configure` hangs; I never get as far as `make`.

I have a VM which I mainly use for smoke-testing blead and branches:
[code]

I've tried to compile both blead and the recent smoke-me/nicholas/pthreads-not-_Thread_local-for-C++ branch with the following invocation:
[code]
`./Configure` hangs here:
[code]
`./Configure` *does* comple

[2022-01-10 17:51] MikeFultonDev commented on #19323
I now have a PAUSE account (thank you to whoever did that!)
I have poked around and am not sure who to reach out to - whether it is @toddr or Sean M. Burke who is listed as the author or someone else?
Any suggestions welcome on how to proceed.

[2022-01-10 18:09] haarg commented on #19323
Locale-Maketext is maintained as part of perl core, so you can submit a PR on this repository with your proposed changes.

[2022-01-10 18:37] toddr commented on #19323
@MikeFultonDev: Yep. No PAUSE account needed. I just release whatever p5p merges into [dist/Locale-Maketext](https://github.com/Perl/perl5/tree/blead/dist/Locale-Maketext)

[2022-01-10 19:41] MikeFultonDev commented on #19323
Ah. Thanks @toddr and @haarg !

[2022-01-11 00:25] sisyphus-ppcg opened #19340 "Segfault in simple program reading from ARGV"
**Steps to Reproduce**
Run on your command line.

[code]

**Expected behavior**
No segfault.

**Actual behavior**
[code]

Note that the segfault happens regardless of whether the files in `@ARGV` exist or not.

**Perl configuration**

[code]

[2022-01-11 08:45] xsawyerx commented on #19323
To provide the patch, you can just fork the repo, create a branch, edit the files in `dist/Locale-Maketext/lib/` and then test the changes by running the command `prove -lr t/` when you're in the `dist/Locale-Maketext/` directory.

If all tests pass, it's recommended to run the entire testing suite of the language, making sure all tests pass, including administrative tests (checking version number

[2022-01-11 10:41] Leont commented on #19323
In particular, update the version of Locale::Maketext when you make your change, otherwise a porting test will fail

[2022-01-11 16:06] xsawyerx commented on #19323
As well as adding yourself to the `AUTHORS` file so you get recognition for your work.

[2022-01-11 19:03] 6a4h8 opened #19341 "Is there a way to add closeparen + 1 to GOSUB?"
So yeah I guess the issue (if any (if I'm trying)) to solve is questionable but I guess I'm on this path now so if anyone can help me in the right direction I would be grateful.

Basically I can possibly find the place to attach it in `regcomp.c` but I'm not sure where to exactly.

Like add a third operand to GOSUB with the closing parentheses.

[2022-01-11 19:37] MikeFultonDev commented on #19323
Thank you @xsawyerx and @Leont

[2022-01-11 22:47] jidanni commented on #19319
Also the whole "who _keeps_ what" concept is fuzzy:
- Perl keeping things for itself, and not giving them back to the user.
- The user keeping things, despite Perl normally taking them away.

[2022-01-12 03:06] afresh1 commented on #19338
We did stop compiling gcc on amd64 as part of the base system (although it is still available on other architectures) but you can install the "g++" package from [lang/gcc](https://github.com/openbsd/ports/tree/master/lang/gcc), although it installs the binaries as "eg++" and  "egcc".   I didn't track down  why there's no g++-11 package, but that old version of isn't likely to come back on amd64 so

[2022-01-12 03:09] demerphq commented on #19319
On Tue, 11 Jan 2022 at 23:47, 積丹尼 Dan Jacobson ***@***.***>
wrote:

The name "keep" refers to "keep the stuff to the left *out* of the match",
or from the pov of a s/PAT//; refers to "keep the stuff to the left of \K,
don't replace it"  Especially consider the case:

s/foo\Kbar//

We remove "bar" and keep "foo".

Your examples repeatedly use $&, which I think is throwing you off.
Essentially you a

[2022-01-12 13:15] jkeenan commented on #19338
@afresh1, thanks for looking into this.  Unfortunately, I tried `gcc`, `devel/gcc` and `g++` without success.  I control this VM via a Vagrantfile, to which I added:
[code]
I then provisioned, and got:
[code]
For the record:
[code]
Do you know what I'm missing?

Thank you very much.
Jim Keenan

[2022-01-12 16:19] afresh1 commented on #19338
well, "devel/gcc" is the portspath, I wouldn't expect that to work for pkg_add.  I'm less sure about "g++" as I see [the package available for 6.9](https://cdn.openbsd.org/pub/OpenBSD/6.9/packages/amd64/g++-8.4.0p6.tgz).  I think the problem is the `-u` which means "update" the installed packages and since you don't currently have either "gcc" or "g++" installed it isn't sure what you want.

[2022-01-12 18:05] jkeenan commented on #19338
I next tried this:
[code]
`vagrant reload` simply passed over it, and when I went in to the VM the `g++` version remained at g++ (GCC) 4.2.1 20070719.

I then tried:
[code]
At this, `vagrant reload` reported:
[code]
I'm surprised to see that g++ tarball at https://cdn.openbsd.org/pub/OpenBSD/6.9/packages/amd64/ when there is no correponding port at https://openports.se/.

[2022-01-12 20:38] afresh1 commented on #19338
Ya, that's weird, but it's [a subpackage of gcc](https://github.com/openbsd/ports/blob/master/lang/gcc/8/Makefile#L33).  It is [listed on the much better openports.pl](https://openports.pl/cat/lang) although there is apparently a bug that means you can't see the details.

The package installs "g++" and "gcc" as "eg++" and "egcc" so "gcc" will still be the old one.

[2022-01-12 22:02] hvds commented on #19340
Confirmed with blead@7931406120; miniperl is sufficient, `-w` may also be present:
[code]

Stack trace from the assert() shows:
[code]

I haven't tried to dig further yet - could this be a stack refcounting issue?

[2022-01-12 22:23] JRaspass commented on #19340
Yeah recounting seems likely as taking a copy seems to "fix" it:
[code]

[2022-01-13 04:58] demerphq commented on #15109
This ticket should be reopened as f2f32cd was reverted.

Yves

On Fri, 20 Dec 2019 at 22:04, Nicolas R. ***@***.***> wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-01-13 07:15] nwc10 commented on #19310
Should now be fixed in blead.

[2022-01-13 07:15] #19310 closed

[2022-01-13 08:15] #17270 closed

[2022-01-13 13:15] jkeenan commented on #19310
Confirmed.
[code]
Thanks.

[2022-01-13 21:41] atoomic opened #19344 "Using sort with function signature"
This is probably a feature request. Right now it's possible to provide a custom sub to sort.

As described by https://perldoc.perl.org/functions/sort we can either use a prototype (which is slower) or use `$a & $b` from the caller namespace, but it s not possible at this day to use a function with `signature`.

I think it's a fair expectation from a user to be able to also use a function with func

[2022-01-13 21:45] Grinnz commented on #19344
I don't know if this is possible (or easy), since signatures don't affect the parser like prototypes. But what we should allow is sort itself to provide a signature to an inline block, as Raku allows. Something like:

    sort ($x, $y) { $y <=> $x } ...

The tricky part is to create syntax that is both intuitive and unambiguous with the existing possible sort syntax, which is very historically com

[2022-01-14 11:26] duncand commented on #17663
This matter has been raised again today on perl5-porters.

I feel that the bug SHOULD be fixed in Perl 5.35.x and 5.36.0+, and DBIC should be updated to not rely on the broken behaviour of older Perl versions.

[2022-01-14 13:50] rsFalse commented on #19286
However `@-` and `@+` don't interpolate.
[code]
Need to use curly brackets to interpolate `@{+}`, `@{-}`:
[code]
`@{n}` and `@{n,m}` interpolate as variable names not as quantifier.
[code]

[2022-01-14 18:10] atoomic commented on #19344
Thanks @Grinnz for your reply, I'm not sure about the value of the inline signature vs `$a, $b` which are already available. What would be the advantages in this case?

I would be curious to get @iabyn feedback about the complexity of adding signature support to sort.

[2022-01-14 18:12] Grinnz commented on #19344
The advantage is that they are lexical variables with scope limited to the sort routine, rather than global variables which are arbitrarily used with no indication where they came from.

[2022-01-14 23:33] MikeFultonDev commented on #19323
[code]

[2022-01-15 00:06] MikeFultonDev commented on #19323
I updated Maketext.pm to be the 'next' version (1.30) and updated the MANIFEST to include the 2 new testcases I added and got the following results running testing on my Mac, which I believe are 'expected':
[code]

[2022-01-15 08:33] xsawyerx commented on #19323
I don't understand what "2 new testcases" you're referring to or why these tests fail.

Can you please publish this in a branch? I could run the tests and take a look at it.

[2022-01-15 21:17] #19341 closed

[2022-01-16 02:50] MikeFultonDev commented on #19323
I didn’t write it clearly. My 2 new test runs clean and they are in the files I checked in. The tests that fail I expect were already failing. I can double check if you would like to confirm nothing got ‘worse’

[2022-01-16 14:17] Leont commented on #19323
That does sound like a problem (failures are not expected), but not one that's related to this issue.

[2022-01-17 10:36] iabyn commented on #19344
On Fri, Jan 14, 2022 at 10:10:58AM -0800, ℕicolas ℝ. wrote:

In response to your original question, why not just give the signatured
sub a prototype:

    sub with_sig :prototype($$) ($one, $two) { return $one <=> $two }
    say for sort with_sig (10,5,8); # prints 5 8 10

--
print+qq&$}$"$/$s$,$a$d$g$s$@$.$q$,$:$.$q$^$,$@***@***.***;^2dg3q/s"&=~m*\d\*.*g

[2022-01-18 00:02] atoomic commented on #19344
This is cool, I was not aware of `sub with_sig :prototype($$) ($one, $two) { return $one <=> $two }` syntax
we should probably add it to the sort documentation and maybe function signature and or prototype.

I was trying to avoid using prototypes with sort as documented here https://perldoc.perl.org/functions/sort#sort-LIST
but as we are already using function signature probably the performance is

[2022-01-18 00:10] atoomic commented on #19344
Suggestion for the sort pod: https://github.com/Perl/perl5/pull/19348

[2022-01-18 00:17] Grinnz commented on #19344
Indeed, a signature will always copy the values to lexicals so the performance decrease noted there will always apply.

[2022-01-19 00:38] AnFunctionArray opened #19350 "(Mac)Debug ALL assertion fails when instancing embedded code before a named capture followed by named back reference"
Module: re

NOTE: Just seems to be a Mac only issue please post your version if you are reporting as a false positive.

I just tested on a Mac 12.1 virtual machine (in case my original installation was corrupt) and is still reproducible).

**Description**
Assertion failed when I use `qw(Debug ALL)` in my program (on my default built-in perl mac os 12.1).

[code]

**Steps to Reproduce**
[code]

**E

[2022-01-19 01:48] 6a4h8 commented on #19350
I closed since the example worked on online perl but maybe this is a macos exclusive issue.

[2022-01-19 03:05] demerphq commented on #19350
On Wed, 19 Jan 2022 at 01:38, 6a4h8 ***@***.***> wrote:

$ perl -Mre=Debug,ALL -e'qr{(?{callfunc})(?<name>\g{absqualifsbasic}}'
Assembling pattern from 2 elements
Compiling REx "(?{callfunc})(?<name>\g{absqualifsbasic}"
Starting first pass (sizing)
<(?{callfunc>...|   1|  reg
                |    |    brnc
                |    |      piec
                |    |        atom
<?{callfunc}>...|    |

[2022-01-19 05:15] 6a4h8 commented on #19350
Did you try on a mac? what is your perl version?

[2022-01-19 06:37] demerphq commented on #19350
On Wed, 19 Jan 2022 at 06:15, 6a4h8 ***@***.***> wrote:

Nope. I have a linux box.

Stated above 5.28.1

yves.

[2022-01-19 07:01] 6a4h8 commented on #19350
Well it seems to be an issue only with Mac - (tested on mac mini m1 with both bult-in version and blead and also on a vm inside the mac).

[2022-01-19 16:01] xenu commented on #19239
Win32 0.58 contains a fix for this issue and it has been merged to blead (3fe11e0)

[2022-01-19 16:01] #19239 closed

[2022-01-20 01:15] #19323 closed

[2022-01-20 15:21] #18871 closed

[2022-01-20 21:30] rnav1234 opened #19357 "multiple hash assignments appear to create reference"
To: perl5-porters@perl.org
Subject: multiple hash assignments appear to create reference
Reply-To: robn@nonamesecurity.com
Message-Id: <5.34.0_62001_1642713395@ip-192-168-1-12.ec2.internal>
Cc: root@bigsur.nonet
From: robn@nonamesecurity.com

This is a bug report for perl from robn@nonamesecurity.com,
generated with the help of perlbug 1.42 running under perl 5.34.0.

-----------------------------

[2022-01-20 22:07] richardleach commented on #19357
This code performs what's called a _shallow copy_.

`%a = %b = (a=>{A=>1},b=>{B=>1});` doesn't create two identical versions of the nested hash structure, one for %a and one for %b.

Instead, only one instance of each of the anonymous arrays `{A=>1}` and `{B=>1}` is created. The `a` hash key in `%a` and the `a` hash entry in `%b` both point to the exact same `{A=>1}`. So `$a{a}->{A}` and `$b{a}->{

[2022-01-20 22:10] richardleach commented on #19357
[Make deep copies](https://www.effectiveperlprogramming.com/2010/03/make-deep-copies/) talks more around this point. Although that article uses arrays rather than hashes for its examples, its the same principle at work.

[2022-01-20 22:20] #19357 closed

[2022-01-20 22:30] atoomic opened #19358 "cpan client is broken on fresh installation"
I discovered that issue while building v5.35.8.
I can confirm this is not specific to v5.35.8 and thus not a blocker for this release.

Same with v5.35.7 (and probably earlier versions too).

On a fresh install cpan client is broken out of the box due to lack of SSL support.
[code]

It would be great to consider promoting App::cpanm (or any alternate) to CORE as a replacement for CPAN client.

cop

[2022-01-20 22:37] Leont commented on #19358
This is a known issue, it has been fixed in the latest trial release of CPAN.pm. Arguably that should be merged into core even if it's still trial, given how much it gets in the way.

cpanm does not aim to have the kind of portability that cpan has, it's not a suitable replacement for core purposes.

[2022-01-20 23:53] atoomic commented on #19358
If CPAN is going to be updated in a few days we can wait for it

[2022-01-21 16:01] wollmers commented on #19358
@Leont

Maybe related or not:

CPAN and PAUSE both use LetsEncrypt certificates, which have an alternate signature path with an EXPIRED (since Thu, 30 Sep 2021 14:01:15 UTC) root certificate. This makes problems on older systems/clients (Perl Mail::something, wget, curl, fetchmail). A work around is to use something like `--insecure` in case of curl, if an upgrade is not possible.

https://www.ssl

[2022-01-21 16:04] clscott commented on #18699
I hadn't seen this mentioned on this topic yet but there is a CPAN module that implements this:
https://metacpan.org/pod/English::Control

And the PSC has called for a formal RFC
https://www.nntp.perl.org/group/perl.perl5.porters/2022/01/msg262489.html

[2022-01-21 18:30] Leont commented on #18699
https://metacpan.org/pod/English::Control

Magical variables are largely created lazily, and I suspect it may be good if we kept that lazy.

[2022-01-21 21:36] rnav1234 commented on #19357
Lovely! A very helpful and complete explanation ! Thank you for taking the time to clarify :-)

[2022-01-22 15:20] davehodg commented on #19358
Two things:

1. Is a new CPAN.pm, out in the wild now?
2. How can I do the --insecure thing with perlbrew?

[2022-01-22 15:25] jkeenan commented on #19358
I really hope this gets fixed soon so that we can synch a corrected version of CPAN into cpan/CPAN in core.

For QA purposes I frequently build Perl blead, then use the `cpan` client to try to install modules from CPAN against blead.  With CPAN version 2.29, this is consistently failing, frustrating my QA efforts.  That's not helpful at this point in the production cycle.

Thank you very much.
Jim

[2022-01-22 20:27] choroba commented on #19350
Fails with the latest blead perl on Linux:
[code]
[code]

[2022-01-23 05:30] ThePeeps191 commented on #799
yes its very old

[2022-01-23 07:42] demerphq commented on #19350
On Sat, 22 Jan 2022 at 21:27, E. Choroba ***@***.***> wrote:

Thanks. This is broken by:

commit 2a98b8cbbc6f75b5aaefb10acc4da4427359fcea
Author: Richard Leach ***@***.***>
Date:   Tue Nov 23 23:35:58 2021 +0000

    newSVpvn_flags().. is more efficient than sv_2mortal(newSVpvn(..))

    The same holds for newSVpvs* wrappers around newSVpvn* functions.

It is from the op.c change. I think somethin

[2022-01-23 09:18] demerphq commented on #19350
On Sun, 23 Jan 2022 at 08:42, demerphq ***@***.***> wrote:

Actually I recant. I will dig more. There is something heisenbug about
this. If I run the test repeatedly it fails or pases randomly, which is
making it hard to find the patch that caused this.

cheers
Yves

[2022-01-23 10:40] demerphq commented on #19350
On Sun, 23 Jan 2022 at 10:18, demerphq ***@***.***> wrote:

Ok, once I realized I had to run the 10 times or more to reliably see if
the assert fail was triggered I was able to bisect to the below patch.

The test I used was:

(for i in {1..10}; do ./perl -Ilib -e'use re
Debug=>"ALL";qr{(?{a})(?<b>\g{c}})'; done;) 2>&1 | grep Assertion

7c932d07cab18751bfc7515b4320436273a459e2 is the first bad com

[2022-01-23 10:52] demerphq commented on #19350
On Sun, 23 Jan 2022 at 11:40, demerphq ***@***.***> wrote:

Unfortunately this means the fix for this is not going to be obvious. :-(

Yves

[2022-01-23 13:27] demerphq commented on #19350
On Sun, 23 Jan 2022 at 11:52, demerphq ***@***.***> wrote:

And it isnt. I *really* dont understand Karl's patch. It also fails on a
legit pattern:

./perl -Ilib -e'use re Debug=>"ALL";qr{(?{a})(?<b>\g{c})(?<c>x)}'

and this segfaults totally:

./perl -Ilib -e'use re Debug=>"ALL";qr{(?<b>\g{c})(?<c>x)}'

I haven't worked out what is going on, but it feels like an uninitialized
variable somewhere.

[2022-01-23 13:44] demerphq commented on #19350
On Sun, 23 Jan 2022 at 14:27, demerphq ***@***.***> wrote:

findings so far. The issues seems to be related to using parno in the
progi->data->data[] array. It doesnt seem to make sense, we dont stick the
name of a named buffer/reference into the parno slot, and parno in the code
as executed is 0, where it should be >0. I added the assert marked below
with a comment and YJO, and it catches all the

[2022-01-23 15:24] demerphq commented on #19350
On Sun, 23 Jan 2022 at 14:44, demerphq ***@***.***> wrote:

 And just after I posted that I had an epiphany. Basically this was a
version of the empty predicate problem.

In some cases the code can't resolve things until the second pass, in the
first pass it uses a 0 to represent "nothing added to the data array", but
0 is a legit return value for S_add_data(), so there was no way to
differentiate

[2022-01-23 22:31] khwilliamson commented on #19350
I'm examining this in detail.  I think that clang asan and valgrind don't have the heisenbug problem.  asan revealed undefined behavior in a 32 bit int word which I've fixed in blead.

[2022-01-24 00:52] dimethyltriptamine opened #19363 "Error calculating $x = ++$x + ++$x"
**Description**

The `$x = ++$x + ++$x;` line does not work properly and returns incorrect results.
**Steps to Reproduce**

[code]

**Expected behavior**

`$x` should equal 13
**Perl configuration**

[code]

[2022-01-24 01:22] demerphq commented on #19363
I don't think this expression has a defined result as it uses two mutations
in the same sequence point.

Eg, assume $x has the value of 0 before the expression. It could interpret
this as

1 + 1

Or

1+ 2

Or

2 + 1

Yves

On Mon, 24 Jan 2022, 08:52 qorg11, ***@***.***> wrote:

[2022-01-24 04:17] demerphq commented on #19350
On Sun, 23 Jan 2022 at 23:31, Karl Williamson ***@***.***>
wrote:

FWIW, I am pretty confident of my analysis except for one thing (fencepost
error), and reverting my fix but keeping the test and rebasing on top of
your most recent change fails test.  IOW, whatever you did didnt fix the
problem.

In the following all the line numbers are from before my patch:

in S_handle_named_backref() we initia

[2022-01-24 04:53] Grinnz commented on #19363
This is documented undefined behavior in [perlop](https://perldoc.perl.org/perlop#Auto-increment-and-Auto-decrement):

    $i = $i ++;
    print ++ $i + $i ++;

[2022-01-24 04:59] demerphq commented on #19350
On Mon, 24 Jan 2022 at 05:17, demerphq ***@***.***> wrote:

I have force pushed yves/fix_19350 with both of these matters reflected.
Added a test for the segfaulting valid pattern, and  made
the test run 10 times to make sure we notice the bug. If you
revert c982e5305bf97f6f62a29053c7bbcb76e9649c44 you should see the tests
added in a1fc433584d56e1ea0aff0f3c41e0930cb95f4a2 start to fail.

cheers,
Y

[2022-01-24 06:27] Leont commented on #19363
Yeah, what they said

[2022-01-24 06:27] #19363 closed

[2022-01-24 17:29] EvanCarroll opened #19366 "pkg->can() should return false/undef if the slot is declared but uninitialized (or DUMMY)."
This bug report is [inspired by this question on StackOverflow, _"Why is `*main::my_func{CODE}*` a coderef when function `my_func()` is exported but not defined?"_](https://stackoverflow.com/q/70834431/124486).

Currently when you run `sub foo` or Exporter with an undefined sub what happens is a DUMMY sub is inserted into the slot. This is fine, however it seems no reasonable person will expect `-

[2022-01-24 18:11] ikegami commented on #19366
I don't think `can` should be changed. It returns the sub that would be called if you called `$o->foo`, just like it should.

But Exporter shouldn't be creating subs that don't exist. At the very least, it should warn.

[2022-01-24 18:12] ikegami commented on #19366
That raises the question: What about scalars, arrays and hashes that don't exist? What should Exporter do about those?

[2022-01-24 18:33] EvanCarroll commented on #19366
I don't think `->can` should return the function that _would_ be called. That's certainly not what it's documented to do anyway,

I would not say a placeholder sub is "imported" or "inherited." It's an implementation detail and I don't think it helps anyone to continue this behavior. Is there any benefit that I'm missing? When would a user want to know if there was a dummy sub that did nothing exc

[2022-01-24 21:25] ikegami commented on #19366
That what it does, and that's what it's documented to do: "`can` checks if the object or class has a method called METHOD. If it does, then it returns a reference to the sub"

[2022-01-24 21:31] ikegami commented on #19366
Yes, I think that when you declare a sub, you have a sub. That's the whole point of a declaration.

[2022-01-24 21:37] ikegami commented on #19366
oh, and I don't know what you keep calling it a "DUMMY sub". It's not a placeholder that gets replaced once you define it. It's still the same sub after you provide the definition.

[2022-01-24 22:06] EvanCarroll commented on #19366
I asked one question.

You want the behavior of `can` to mirror `exist` as it currently does, but it's not clear _why_ you would desire that behavior. Exists can test whether or not a package symbol _exists_; `can` tests whether or not it can invoked as a method. If it is undefined, it can not be invoked without generating an error. Of what utility is it to return a reference to something that can

[2022-01-24 22:44] oodler577 commented on #19366
The following seems relevant and hopefully helps shed some like on what seems like the underlying root cause of whatever behavior you're concerned about.

- https://www.perl.com/pub/2005/03/17/symtables.html/
- https://en.wikipedia.org/wiki/Autovivification
- https://perldoc.perl.org/perlmod#Symbol-Tables

Note,

[code]

`UNIVERSAL::can` is only reporting what's in the symbol table, not what happe

[2022-01-24 23:12] ikegami commented on #19366
Because it makes absolutely no sense for `can` to ignore an existing method.

Do you also think `$o->foo` should ignore existing-but-not-defined methods?

[2022-01-24 23:28] ikegami commented on #19366
Because it makes absolutely no sense for `can` to ignore an existing method. It's not clear why would think it would make sense for them not to.

First of all, it t makes no sense for `$o->can('foo')->()` to do something different than `$o->foo()`. They should both call the method if it exists. Do you think `$o->foo` should ignore existing-but-not-defined methods too?

Secondly, if someone declare

[2022-01-24 23:59] ikegami commented on #19366
Because it makes absolutely no sense for `can` to ignore an existing method. It's hard to answer because it's not clear why would think it would make sense for them not to.

For starters, it makes no sense for `$o->can('foo')->()` to do something different than `$o->foo`.

It doesn't make sense for `$o->can('DOES')` to return `\&UNIVERSAL::DOES` if `$o->DOES` doesn't call `UNIVERSAL::DOES``, and i

[2022-01-25 03:27] khwilliamson commented on #19350
I'm examining this in detail.  I think that clang asan and valgrind don't have the heisenbug problem.  asan revealed undefined behavior in a 32 bit int word which I've fixed in blead.

[2022-01-25 03:37] khwilliamson commented on #19350
I have no problems with the patch, besides the trivial ones of a typo in a comment, and in the commit message.  And there are new trailing white spaces that git complains about.  github seems to hide these.  Do we have an official position on these?

Thanks for the patch and analysis.

I wasn't convinced that there was a one-off error, but adding one as a precaution seems fine to me.

My real conc

[2022-01-25 04:18] demerphq commented on #19350
On Tue, 25 Jan 2022 at 04:37, Karl Williamson ***@***.***>
wrote:

Happy to fix that up. I'll review, but given i missed them already it might
be helpful if you point out which.

Afaik those are in the test and are part of the output of the script, since
we are testing the output we have to keep them as far as I understand.

If there is any trailing whitespace in the non-heredoc part of the patch

[2022-01-25 12:31] paddyroddy opened #19367 "Symbol not found in flat namespace '_gcstring_append' M1 mac arm silicon"
Module: `Unicode::LineBreak`

**Description**

When I install `Unicode::LineBreak` it fails with the following error message:
[code]

**Steps to Reproduce**

`cpan Unicode::LineBreak`

**Expected behavior**

Install successfully.

**Perl configuration**

[code]

[2022-01-25 13:46] hvds commented on #19367
Unicode::LineBreak is not part of the perl distribution, issues with it should be reported to its own bug tracker [here](https://rt.cpan.org/Public/Dist/Display.html?Name=Unicode-LineBreak).

A quick google suggests that the missing symbol is part of [sombok](https://github.com/hatukanezumi/sombok/blob/master/README), which is a prerequisite for Unicode::LineBreak; when reporting this to the autho

[2022-01-25 13:46] #19367 closed

[2022-01-25 14:22] ikegami commented on #19366
...but it's too late for that. Starting to requiring modules to declare exports would break modules such as users of AutoLoader.

[2022-01-25 14:33] dboehmer commented on #19366
Could `Exporter` issue a warning if exports are not defined and the exporting package has no `AUTOLOAD` function?

[2022-01-25 14:53] paddyroddy commented on #19367
Apologies, I spent ages trying to understand the problem. Your suggestion has since led me to finding the issue https://github.com/cmhughes/latexindent.pl/issues/303

[2022-01-25 17:07] EvanCarroll commented on #19366
`DOES` unlike an undefined sub that's installed with `sub` or `Exporter` is actually useful. It works just fine.

[code]

If that didn't work: if either `DOES` was not a method or it was a method that as a mere implementation detail threw an identical error that a method was not installed (however you want to cut it) then I would argue that `->can("DOES")` should not return the reference to that s

[2022-01-25 19:13] ikegami commented on #19366
`DOES` is a method of every object

[code]

It wouldn't work with your change.

No

[2022-01-25 19:21] ikegami commented on #19366
`DOES` is a method of every object, just like `can` and `isa`.

[code]

It wouldn't work with your change. `can` could return `undef` for `DOES` even though it's a method of every object.

No. Two use cases your change would break were given.

Perhaps you're referring to the underlying presumption that declaring subs is useful. But that's not relevant. If they weren't, the solution would be to rem

[2022-01-25 19:31] ikegami commented on #19366
No, that's not true. If ModB didn't have a method named `f`, the following would print `ok`.

[code]

[2022-01-26 00:45] EvanCarroll commented on #19366
Well, that's easy then. So the reason _why_ a user needs to know if an undefined function exists on a slot that can otherwise **not** be invoked without error is because without it the user would not know if a method call has resolved or not.

I agree then,

That's correct. I just don't like that feature. I can't think of any case I would want to occupy a slot and obscure method resolution when th

[2022-01-26 00:45] #19366 closed

[2022-01-26 16:00] dboehmer commented on #19366
@EvanCarroll What about my suggestion?

[2022-01-26 18:56] EvanCarroll commented on #19366
@dboehmer I think it's an improvement. But to be honest it's not a major thing. It doesn't get me excited. The real problem that I see is that we have a "feature" to _have_ an undefined function (which can't be invoked without error) which doesn't seem to have any utility from the user's perspective, but because we have it and because it has obvious implications on method resolution (that I overlo

[2022-01-26 19:27] oodler577 commented on #19366
@EvanCarroll I think it'd be beneficial to you to couch this as an autovivified hash key that's set to `undef`. You could just as well check if this key in the symbol table exists but is not defined. Could this lead to confusion? Yes, but `can` already has the qualification that it won't "find" methods if `AUTOLOAD` is defined; it's the reverse issue. So perhaps the right fix is to add this additi

[2022-01-26 19:38] EvanCarroll commented on #19366
@oodler577 It's not clear to me at all why you think of this as autovivification or what you think the connection to the two is. Autovivification grants you the ability in runtime to treat something that doesn't exist as it if it did exist. Namely that a slot in a hash or array is _already_ an array or hash when you dereference it as such without having to declare it as such. I don't see the conne

[2022-01-26 19:54] oodler577 commented on #19366
I was hoping to provide some closure, not open up a new can of worms. If you're cool with, _Not using `AUTOLOAD`_; then you should be cool with _Not using `Exporter`_. Nonetheless, it seems to be an issue of "a hash key coming to live (vivication)" - usually _automatically_. And this is why I think it'd be helpful to have this in mind what `can` does do versus what it would do if _autovivication_

[2022-01-26 21:48] nonetrix commented on #18830
Oh this again... this is why we can't have nice things

[2022-01-27 03:40] jimav opened #19370 "eval '$foo' in package DB called from lexical sub can not see closure values or globals"
Perl v5.30.0

eval "string" in package DB is supposed to be evaluated in the nearest non-DB context, useful for debug tools.  However when code in package DB is called from a nested lexical ("my") sub, *only* the lexicals in the innermost sub are visible; globals and lexicals in enclosing scopes can no longer be accessed.

(This may seem obscure, but it is important to me because I use some debugg

[2022-01-27 12:45] jplesnik opened #19373 "Perl 5.34 fails to build with GCC 12.0.1 on ppc64le (ext/XS-APItest/t/printf.t)"
Module:
XS-APItest

**Description**

On Fedora, the build of perl 5.34 fails with GCC 12.0.1, but only on ppc64le.  The failure is caused by test `ext/XS-APItest/t/printf.t `
[code]
**Steps to Reproduce**

[code]

**Expected behavior**

The test should pass on all architectures.

**Perl configuration**

[code]

[2022-01-27 14:01] drummyfish opened #19374 "[doc] Reconsider usage of the letter N"
where: everywhere

Hello,

I think not many people know this but the letter N bears a connection to some racial slurs. Could you please reconsider the usage of this letter, there are many alternatives like the letter M or just using completely different words altogether.

Thank you

[2022-01-27 14:06] #19374 closed

[2022-01-27 16:06] VitAndrGuid commented on #18830
Such a nice PR, my wifes son ran into this issue and it was affecting xir's mental health, so nice to know he wont be harrased by such nasty words !

[2022-01-27 16:15] atoomic opened #19375 "Consider throwing warnings when redefining a non existing sub"
I'm opening a dedicated issue here to reply to the comment from
https://github.com/Perl/perl5/pull/19371#issuecomment-1023087217

I think it's better to open its own thread on that discussion rather than adding polution to the Pull Request itself.

For context, here is my original feedback on the PR for `subroutine redefinitions made with local() shouldn't warn `

and here is @leonerd reply

[2022-01-27 16:17] atoomic commented on #19375
@leonerd I understand that several use cases justify to use something like
[code]

But should not we encourage a better behavior out of the box?
Would not you prefer to be aware of typo, incomplete code refactor...
[code]

Then you could explicitly acknowledge the exceptions using a `no warning` directive?
something like
[code]

I can be wrong, but my feeling is that in most cases `local *not::the

[2022-01-27 16:30] jplesnik commented on #19373
@hvds  the output is `7.000`.  I really don't understand what could be wrong.

[2022-01-27 16:44] Leont commented on #19373
That is weird, because @hvds 's snipplet is exactly what the second test does internally.

Did you compile it with the same flags and such?

[2022-01-27 16:54] skaji commented on #18780
Hi,
I added this fix to Devel::PatchPerl too https://github.com/bingos/devel-patchperl/pull/57.
Please leave a comment in that PR if you find something odd.
Thanks.

[2022-01-27 22:20] KES777 opened #19376 "`do` and `eval` returns different results"
**Description**
I expect that `do './file'` and ``eval `cat ./file` `` will return same result. https://perldoc.perl.org/functions/do

**Steps to Reproduce**
[code]

**Expected behavior**
[code]

**Perl configuration**
[code]

[2022-01-27 23:52] KES777 commented on #19376
Here is example for `eval` when for same file containing lines with `\r\n` value are returned as expected `\r\n` and not expected `\n` after HEREDOC. See attached file:
[example.txt](https://github.com/Perl/perl5/files/7954592/example.txt)

[code]

[code]
Notice that first response is `1310`, but second is `10`
[code]

If I remove HEREDOC, then both are `1310`

[2022-01-28 01:58] sisyphus commented on #19373
@jplesnik, that <code>longdblkind</code> setting is as I would expect, but do you know for sure that it's correct ?
A value of 7 indicates that perl thinks that the "long double" is a pair of little-endian doubles, with that pair arranged in big-endian order  - ie (7, 0) not (0, 7).

It looks to me that either perl itself has not correctly recognized the long double format, or <code>PERL_PRIfldbl<

[2022-01-28 02:06] Leont commented on #19373
If that was the case the second test wouldn't also fail

[2022-01-28 04:02] sisyphus commented on #19373
On Fri, Jan 28, 2022 at 1:07 PM Leon Timmermans ***@***.***>
wrote:

Yes ... and yet the Configure script (which I've just now looked at) seems
solid to me, and if it determines that the longdblkind is "7", then I can't
see how that could be incorrect.
So, we might need to explain how "%5.3Lf" formatting is working as expected
in the pure C environment, but not in XS-APItest.xs ?

[2022-01-28 07:20] sisyphus commented on #19373
I've just noticed that perl reports that it was built using a different versin of gcc:
[code]
I don't know if that has any connection to the problem and/or its solution

[2022-01-28 07:34] nichtich commented on #18537
After the disaster with smartmatch operator I don't trust any experimental features. You never know whether your code will run on current Perl without warning in the future. Moreover it's several lines of boilerplate (instead of one line with the Perl version number) to use it now. As long as signatures are experimental, the statement "Perl does not support method signatures by default" is true, a

[2022-01-28 08:01] jplesnik commented on #19373
The system `libperl.so` was used for builded `./perl -V`. There is a correct output for perl which is used for tests.

[code]

[2022-01-28 08:39] sisyphus commented on #19373
Ok ... this perl that was built with gcc-12.0.1 is reporting that the long double is actually the "IEEE" 754 128-bit little endian long double.

I'd still like to get some idea of the internal structure of this long double.
When you built perl, you would have entered the top level perl source directory and run Configure, followed by make.
Can you cd to that directory and provide the output of:
[co

[2022-01-28 22:56] jkeenan commented on #19376
I can confirm these results (perl-5.32.1 on FreeBSD-12).  I also tried these invocations but starting with:
[code]
... _i.e.,_ with no `:raw` in the second argument to `open`.  I got the same results.  Is there some reason why you thing `:raw` is relevant to the problem?

Thank you very much.
Jim Keenan

[2022-01-28 23:05] jkeenan commented on #18780
Confirmed at blead today.
[code]

[2022-01-29 02:36] hiratara opened #19378 "Defining `sub () { !0 }` changes `PL_sv_yes` states"
**Description**

Defining `sub () { !0 }` changes `PL_sv_yes` states. This will prevent the "Modification of a read-only value attempted" error from occurring.

I think it's because we're setting the `PADTMP` flag directly to `PL_sv_yes` here.

https://github.com/Perl/perl5/blob/ebfc9d5d0d50ffc852e4ae35a78e6a922ada8700/op.c#L11131

I'm not sure, but is it related to #11929?

**Steps to Reproduce**

[2022-01-29 20:54] pierreforget13 commented on #19358
Got the same problem with a fresh install. On 2022-01-29. I hope they fix it soon. I had to install manually Net-SSLeay-1.92 and IO-Socket-SSL-2.074 to fix the problem. It works OK now. Cpan usually works great. Thanks for the people who posted these comemnts and thanks to the cpan team.

[2022-01-29 22:13] jkeenan commented on #19358
@andk, do you have a time frame for a new CPAN release of `CPAN`?

Thank you very much.
Jim Keenan

[2022-01-30 05:27] haarg commented on #19358
Integrating the latest trial release https://metacpan.org/release/ANDK/CPAN-2.33-TRIAL should resolve this. It shouldn't be necessary to wait for a stable release.

[2022-01-30 10:22] andk opened #19382 "Commit 9c91314886 breaks YVES/Sereal-Decoder-4.018.tar.gz on threaded perl"
**Description**

During compilation of YVES/Sereal-Decoder-4.018.tar.gz with a threaded perl built with v5.35.5-32-g9c91314886 the following error is thrown:
[code]

I see same result with v5.35.8-28-gebfc9d5d0d given a threaded perl.

**Steps to Reproduce**

cpan -i Sereal::Decoder

**Expected behavior**

Module should be built, tested and installed

**Perl configuration**

[code]

[2022-01-30 15:00] KES777 commented on #19376
I use `:raw` to prevent file to be text file. (to force it binmode). Probably `:raw` does not belongs to the problem. I issue here only `do/eval`

[2022-01-30 15:59] jkeenan commented on #19382
This problem is at least in part dependent on the C-compiler used to build the `perl` against which `Sereal::Decoder` is being installed.  I've been able to reproduce the problem in `perl`s built with `gcc`, but with `perl`s built with `clang` I have no problem installing `Sereal::Decoder`.

On FreeBSD-12, I built a threaded `perl` as I customarily do, _i.e.,_ using the default C-compiler `clang`

[2022-01-30 20:07] jkeenan commented on #19382
This Perl compilation change, documented in `pod/perl5355delta.pod`, may be relevant:
[code]

Relevant part of the breaking commit:
[code]

@tonycoz, @Leont, @demerphq: can you take a look?

Thank you very much.
Jim Keenan

[2022-01-30 20:55] Leont commented on #19382
Probably the dist should just stop adding `-Werror=declaration-after-statement` [here](https://metacpan.org/release/YVES/Sereal-Decoder-4.018/source/inc/Sereal/BuildTools.pm#L186)

[2022-01-30 21:20] jkeenan commented on #19382
I guess the larger question is:   What part of the fix needs to be done in core?  What part in the CPAN distro?

For an attempt at a fix in core, see https://github.com/Perl/perl5/pull/19384.

[2022-01-31 02:34] atoomic commented on #19358
2.33-TRIAL is now in lead we can close this case

[2022-01-31 02:34] #19358 closed

[2022-01-31 04:17] sisyphus commented on #19378
Heh ... quite fascinating.
I found
1: that the bug persists if the sub is named;
2: that the bug depends upon the sub being prototyped to take no args;
3: that, in addition to <code>!0</code>, any value that is "! a false value (except !undef)" or "!! a true value" will trigger the bug.
I also found that PL_sv_no seems to *not* be similarly affected.

Here's a little Inline::C demo:
[code]
As it s

[2022-01-31 05:43] haarg commented on #19378
This was broken by d2440203227a535b62a2078d898d0bd993ceac78

[2022-01-31 06:47] sisyphus commented on #19378
There's an interesting statement in the blurb attached to that commit:
"This makes sub () { 42 } and sub () { return 42 } do the same thing".

It might make "sub () { 42 }" and "sub () { return 42 }" do the same thing, but "sub () { !0 }" and "sub () { return !0 }" clearly do something different.
The former breaks &PL_sv_yes, and the latter does not.

[2022-01-31 12:28] jplesnik commented on #19373
The output is like you expected
`000000000000000000000000000c1004`

[2022-01-31 13:13] tuliom commented on #19373
It is indeed IEEE 128-bit floating point. Fedora is transitioning the default long double for ppc64le. It's the first distro doing this.

[2022-01-31 14:06] sisyphus commented on #19373
@tuliom, I wonder if XS-APITest.xs is aware of this. (I think it would be, so long as it has been compiled with the perl that's executing the test scripts.)

The thing that hits me is that if a program that's expecting a longdblkind of 7 receives 000000000000000000000000000c1004, then it's going to report that value as zero - because it thinks it's receiving a doubledouble of (0. 2.21875), which i

[2022-01-31 14:34] jplesnik commented on #19373
[code]

If you want to look at complete build log from ppc64le, please check <https://jplesnik.fedorapeople.org/perl-gcc12/>

[2022-02-01 00:54] sisyphus commented on #19373
Sorry - I've probably allowed the the difference in the perl configurations that have been presented here to throw me more than it should have.

There's nothing in the build log provided by @jplesnik that helps me to understand what's going wrong. (There might of course be clues in there that I haven't picked up on.)

As I said, I'd want to use Inline::C to probe what's happening.

I guess you cou

[2022-02-01 07:57] jplesnik commented on #19373
Sorry that I did not provide it earlier, the output from Inline::C script is
[code]

[2022-02-01 11:58] sisyphus commented on #19373
@jplesnik , that all looks sane.
The only insane thing is this refusal of t/printf.t to pass all of its tests.
It's as though ext/XS-APItest has been compiled for a perl with a different long double configuration.
If that's not the case, then it looks like there's a mysterious bug in XS-APItest.

All I can suggest is that you keep poking at it until you hit some behaviour that's helpful. (Great ad

[2022-02-01 17:32] grr opened #19385 "[doc] WIFCONTINUED is documented in perlvar as being provided by POSIX, but it's missing"
**Where**

perlvar

**Description**

In the section "Error Variables", the documentation states that WIFCONTINUED is provided by the POSIX module, but it is missing.

[2022-02-01 17:43] xenu commented on #19385
It was [removed](https://github.com/Perl/perl5/commit/f2febc77e262f8eeeb62843c90aecd6850631378) from perlvar in 5.34.0.

[2022-02-01 17:43] #19385 closed

[2022-02-01 21:01] sisyphus commented on #19373
@jplesnik, it occurs to me that you should try this Inline::C script which is just a reproduction of the 2 failing routines from APItest.xs:
[code]
Based on the test failures, one would expect the output to be:
[code]
However, based on your result with the earlier Inline::C script I provided, one would expect the output to be:
[code]
What do you get ?

[2022-02-01 22:51] khwilliamson commented on #19350
You persuaded me.  I fixed one typo, reflowed overlong comments, and pushed otherwise unchanged.  This issue should now be fixed by a963d6d5acabdd8c78afec507b56f890de6d346a

[2022-02-01 22:51] #19350 closed

[2022-02-01 23:54] demerphq commented on #19350
Ah thanks. I had already prepped a patch but I was too busy to get it
upstream. I can't push to github while on my corporate VPN and the last
days I was feverishly working on a project with a hard deadline. All done
now. I had planned to push today. I added more comments in my unused branch
so I'll check what is missing and push a follow up.

Yves

Yves

On Wed, 2 Feb 2022, 06:51 Karl Williamson,

[2022-02-02 02:02] demerphq commented on #19350
On Wed, 2 Feb 2022 at 00:54, demerphq ***@***.***> wrote:

Hrm I guess I did push to my branch before  you did your thing, I couldn't
see anything missing. Thanks!

IF this was reopened by this email please close!

Yves

[2022-02-02 07:26] jplesnik commented on #19373
@sisyphus The output of your script is
[code]

[2022-02-03 00:56] sisyphus commented on #19373
I don't know why the same code is compiling differently inside ext/XS-APItest than it  does inside the Inline::C script.
Normally that sort of anomaly would indicate that different perl configurations or different C toolchains are being used in those two cases - and I'm inclined to believe that must be the case here, but only because I can't think of a reasonable alternative.

At this point (earli

[2022-02-03 02:37] hvds commented on #19373
@sisyphus I don't know offhand what headers `Inline::C` inserts, are you sure the `#ifdef` will do what you want? I'd be inclined to replace that successively with `#if 1` and `#if 0` so we know which branch we're taking.

[2022-02-03 02:40] rjbs opened #19389 "implement "use source::encoding""
[RFC 7](https://github.com/Perl/RFCs/blob/master/rfcs/rfc0007.md) is the "source encoding pragma", meant to allow the programmer to declare the encoding of the source document.  Right now, we have two options for this:
* `use utf8` which says "this source document is UTF-8 encoded, decode it before compiling"
* not using `use utf8` which says "this source document is bytes"

Both of these options

[2022-02-03 03:06] khwilliamson commented on #19389
And my question is should we exclude some ASCII non-printables under the 'ascii'  option?  Conceivably a backsapce could be used to sneak something by a reader.  Should we require those to be specified as escape sequences?  There are octal, hex, and \cX versions of those.  Even tab can cause confusion.  Or maybe we accept some in single quoted context, but not in double-quotish?

For your convienc

[2022-02-03 03:07] demerphq commented on #19389
On Thu, 3 Feb 2022, 10:40 Ricardo Signes, ***@***.***> wrote:

Fwiw, I am strongly in support of this with the minor exception that I
think we should leave the  "utf8"/"UTF-8" distinction alone, however I do
think we should forbid "utf8" as a source encoding and either specify that
saying "utf8" in /this/ context really means strict UTF-8, or forbid the
use of "utf8" in this context.

Imo it can b

[2022-02-03 03:22] demerphq commented on #19389
On Thu, 3 Feb 2022, 10:40 Ricardo Signes, ***@***.***> wrote:

I have a question regarding BOMs and UTF-16LE, UTF-16BE, UTF-32LE and
UTF-32BE.

Imo it would seem reasonable and sane to treat a BOM at index 0 in a source
file as being exactly equivalent as saying

use source::encoding $type;

etc. Remember that of the Unicode encodings utf8/UTF-8 is the only one that
does not need to know the endia

[2022-02-03 04:01] demerphq commented on #19389
On Thu, 3 Feb 2022 at 04:22, demerphq ***@***.***> wrote:

BTW, keep in mind that if the source code is encoded in a fixed width
widechar encoding it would look like:

UTF-16LE -> qq<u\0s\0e\0 \0s\0o\0u\0r\0c\0e\0:\0:\0e\0n\0c\0o\0d\0i\0n\0g\0
\0"\0U\0T\0F\0-\01\06\0L\0E\0"\0;\0>
UTF-16BE -> qq<\0u\0s\0e\0
\0s\0o\0u\0r\0c\0e\0:\0:\0e\0n\0c\0o\0d\0i\0n\0g\0
\0"\0U\0T\0F\0-\01\06\0B\0E\0"\0;>
UTF-32

[2022-02-03 05:13] sisyphus commented on #19373
@hvds I suppose I could make it more explicit - though we do know that, with the Inline::C script, the print_long_doubleL() output of 7.000 is from <code>printf("%5.3Lf\n",val);</code>.
We know this because the fact that print_long_double() produces any output at all, indicates that HAS_LONG_DOUBLE is defined.

Similarly, we reason that the reported 0.000 output of print_long_doubleL() in t/printf

[2022-02-03 14:32] sisyphus commented on #19373
Duh ... sorry, that just unpacks the double 7.0.
I meant
[code]
which should unpack the long double 7.0.

Yes, that's as I expected.
We (or I, at least) need some way to reproduce the bizarre t/printf.t failures you're getting during your build.

Can I take you back to your original post.
You posted results (which included those 2 failing tests) that you got in response to running the command:
[co

[2022-02-04 00:05] Leont commented on #19389
file as being exactly equivalent as saying

One side-note is that is this would only work for modules, not for scripts (at least not on Unix) because it breaks shebangs.

AFAIK we already handle utf-8 BOMs. And I'm not sure there's really value in UTF-16 and UTF-32 support. In practice they're quite uncommon for text files IME.

[2022-02-04 04:05] florian-pe opened #19390 "Segmentation fault with use re 'eval'"
I'm not sure this is really a problem with `use re 'eval'` but there is a Segmentation fault.

This happens when I tested the perl version of 99 bottles.
[http://www.99-bottles-of-beer.net/language-perl-737.html](http://www.99-bottles-of-beer.net/language-perl-737.html)

this is my exact script
[code]

this is my perl version :
[code]

[2022-02-04 04:11] florian-pe commented on #19390
I've just discovered that the segmentation fault doesn't happen when we remove `use strict`. This might help.

[2022-02-04 14:18] hvds commented on #19390
Do you have a deobfuscated version of it? I'd be happy to look into the core dump, but am disinclined to spend my time untangling it.

Building blead with debugging it stops instead with `NULL OP IN RUN at (eval 1) line 1`, which is probably a clue.

[2022-02-04 16:55] yahermann opened #19391 "Unexpectedly autovivifies an arrayref under specific conditions"
This is a bug report for perl from [hermann@jovial.org](mailto:hermann@jovial.org),
generated with the help of perlbug 1.40 running under perl 5.26.2.

-----------------------------------------------------------------
[Please describe your issue here]

Under specific conditions as described below, Perl appears to autovivify an arrayref instead of reporting the expected error, "Can't use an undefin

[2022-02-04 17:08] Grinnz commented on #19391
This is sort of expected (I think), as map provides an lvalue context to the dereference.

[2022-02-04 17:29] hvds commented on #19390
I dug a bit more:

[code]

So my first guess is that we try to raise a `strict` error, but something in the string-eval inside re-eval context trips up.

[2022-02-04 17:46] khwilliamson commented on #19389
On 2/3/22 17:05, Leon Timmermans wrote:

I'm pretty sure we read UTF-16 BOMs properly in parsing perl scripts.
There is code to do that in toke.c

[2022-02-04 17:52] hvds commented on #19390
Stack trace:
[code]

In `S_docatch` we get NULL back from `firstpp(aTHX)`:
[code]

@tonycoz do you know how this stuff should fit together?

[2022-02-04 18:05] Leont commented on #19390
Deparsed, that is:
[code]

[2022-02-04 18:22] yahermann commented on #19391
I wouldn't expect $hashref->{'something'} to be mutated.   I would expect an array to be created from @{ $hashref->{'something'} }, however because $hashref->{'something'} is undef, I would expect an error at that point, before the `map`.

[2022-02-04 19:05] yahermann commented on #19391
Here's a more direct test:

    my $undef = undef;

    my @array1 = @{ $undef };  # error: Can't use an undefined value as an ARRAY reference

    my @array2 = map {$_} @{ $undef };
    is( ref($undef), '' );   # 'ARRAY'  ($under is now [])

I guess what I would expect in the 2nd case, is that Perl would generate the error before `map` is even relevant.

[2022-02-04 19:18] Grinnz commented on #19391
That's what I mean by "sort of" expected. It's how lvalue context works, but lvalue context is pretty unintuitive. Essentially when in lvalue context, it disables that error and the SV is allowed to autovivify to an arrayref, the same thing that happens if you would do `@$foo = 1..10;`

[2022-02-04 19:19] Grinnz commented on #19391
And it happens in map because map allows mutation of its arguments via alias, though this is not good practice.

[2022-02-04 19:25] yahermann commented on #19391
Thanks for the explanation. Yeah, I know `map` can mutate each element (which I agree is not a good practice), I just didn't expect it to create an arrayref from thin air as well (also not a best practice, imho).

We'll have to chalk this one up to Perl being Perl :-).

Feel free to close this out, have a great weekend!

[2022-02-04 21:27] jkeenan commented on #19391
Closing per OP request.

[2022-02-04 21:27] #19391 closed

[2022-02-05 05:36] flenniken opened #19393 "Perl changes internal use UTF-8 characters to the replacement character."
**Description**

Perl changes internal use UTF-8 characters to the replacement character.

It is invalid to replace noncharacters with the replacement character when Perl encodes text, since the text could be for “internal use and stored.”

**Steps to Reproduce**

To reproduce see the file:

https://github.com/flenniken/utf8tests/blob/main/writers/writeValidUtf8.pl

**Expected behavior**

It is ex

[2022-02-05 05:40] Grinnz commented on #19393
This should be reported to the Encode module which is maintained on CPAN. I have opened a similar issue there: https://github.com/dankogai/p5-encode/issues/156

[2022-02-05 08:38] Julien-Elie opened #19394 "perlpod does not recognize C<@N> strings"
When using pod2text, pod2man or like, strings like `C<@N>` are not rendered like `"@N"` but are kept untouched without any quotes around.
I have also tried `C<E<64>N>` (with an escape), but that does not change anything.

Note that `B<@N>` and `I<@N>` correctly render the string in bold, underlined or with `*` around.

I'm using Perl 5.32.1 (shipped with Debian Bullseye).

Isn't there something wr

[2022-02-05 10:06] florian-pe commented on #19390
@hvds No I don't have the original source code sadly.

I was thinking, could you recommend it some ressources to getting started with debugging perl with GDB ?
I know some C, have looked fairly at perl's source code and I'm learning how to use gdb. I've also experimented a little with the C api.

I also want to modify the source code but I'm having trouble to set up a developement environnement. F

[2022-02-05 10:34] florian-pe commented on #19390
@hvds This is the original source code used to generate Acme. I re-generated it and verified that it was the same as the bottles I posed above, removing extra lines, using `s/\s+//g` and `diff`.
[code]
And running the original code on its own (without strict) produce the correct 99 bottles output and doesn't segfault.
So the segfault does come from the generated regex eval.

[2022-02-05 16:36] flenniken commented on #19393
Thanks Dan, I see that your issue 156 now has a pointer to the issue I
filed.

Steve

On Fri, Feb 4, 2022 at 9:40 PM Dan Book ***@***.***> wrote:

[2022-02-05 19:31] jkeenan commented on #19394
In a very narrow sense, we make no promise to render something like `C<@N>` with quotation marks.  However, your point is well taken.  There appear to be 5 instances -- corresponsing to 5 perl sigils -- where what we promise to happen (in the documentation) does not actually happen.

**What Do We Promise?**

From `pod/perlpod.pod`:
[code]

**What Actually Happens?**

Play around with this `*.pod`

[2022-02-05 19:37] jkeenan commented on #19393
Since this problem is being tracked upstream at https://github.com/dankogai/p5-encode/issues/156, we can close this issue.

Thank you very much.
Jim Keenan

[2022-02-05 19:37] #19393 closed

[2022-02-07 10:38] leonerd opened #19399 "Should build using `-DPERL_USE_SAFE_PUTENV` on Linux"
This compiletime flag affects the way perl interacts with the `putenv()` libc call.

Without it, subtle memory corruption happens if both perl and some other C library attempt to `putenv()` within the same program. This corruption is only detected at destruction time, and only on thready+debugging builds.

An example of this can be seen in https://rt.cpan.org/Ticket/Display.html?id=140138

I belie

[2022-02-07 13:49] tuliom commented on #19373
I can't reproduce this issue after updating to gcc-12.0.1-0.6.fc36.
@jplesnik , are the tests passing for you too?

[2022-02-07 15:14] jplesnik commented on #19373
@tuliom You are correct, the issue is solved with updated gcc.

[code]

[2022-02-08 16:05] leonerd commented on #18754
A (currently-draft) PR to deêxperimentalise `isa` here: https://github.com/Perl/perl5/pull/19400

[2022-02-08 19:01] FGasper commented on #19340
Perl_nextargv() sets each argv to SAVEFREESV(). This conflicts with the fact that those same SVs are in @ARGV.

[2022-02-08 23:02] Leont commented on #19340
I think that strongly suggests that this is another case of the infamous "the stack is not refcounted" bug.

[2022-02-09 00:31] FGasper commented on #19340
Can you possibly point to some previous solutions for this one?

Here is another example of what seems to be the same bug (or at least a closely-related one):
[code]

[2022-02-09 01:34] Leont commented on #19340
I can't, unfortunately. Fixing this is a fairly big refactor (one I would be in favor of nonetheless).

Yes, that's exactly the category of bug I'm talking about.

[2022-02-09 01:41] FGasper commented on #19340
@Leont Then I’m guessing the refcount-bump fix I just pushed has some drawback, or else someone would likely have already implemented it …

[2022-02-09 01:41] demerphq commented on #19340
On Wed, 9 Feb 2022, 08:31 Felipe Gasper, ***@***.***> wrote:

Afaik this is generally considered to be a case of "Doctor, doctor,  it
hurts when i stck a fork in my eye." IOW the solution is: so don't do that.
😁

These issues are extremely rare in practice. The only example I can
remember from my career at booking related to Carp::longmess, aka
Carp::confess dumping arguments on the call stack via

[2022-02-09 12:05] hvds commented on #19340
As far as I recall, @iabyn was at one point considering taking this on as his next big project. I don't know if he still is.

[2022-02-09 12:06] qballer commented on #799
older then GitHub it's self

[2022-02-09 16:06] ThePeeps191 commented on #799
:rofl:

[2022-02-09 21:55] piotr-yuxuan commented on #799
I'd really like to know how to import such old projects and keep all the issues. Is it still at all possible?

[2022-02-09 22:07] Grinnz commented on #799
The dates were retained when importing from the original issue tracker, which was not GitHub 😃

[2022-02-09 23:14] ThePeeps191 commented on #799
nice! :)

[2022-02-10 00:45] abdulbadii opened #19405 "It's so perplexing: the qr/ / compiled regex slower than raw string"
It's said in some Perl tutorial, manual and books that the qr/ / is a precompiled regex

but that regex slower than rawstring

[code]

[2022-02-10 03:23] demerphq commented on #19405
On Thu, 10 Feb 2022 at 01:45, abdulbadii ***@***.***> wrote:

Thanks for the report!

Your benchmark doesn't actually test what you think it is testing. The docs
don't say that constructing a new regex out of qr// objects will be faster
than constructing them out of strings. It says that precompiling the regex
using a qr// should allow you to compile the pattern once and reuse the
compiled object

[2022-02-10 04:48] abdulbadii commented on #19405
Remind us famous switch-case C use:
it'd unexpectedly slower for 3 or so branches than that of plain if - else if
but indeed it will linearly or quadratically be faster for 40 or more ones

[2022-02-10 13:23] vamsi-machvarapu commented on #19321
Hi Team,

   We're also facing same, could some one help on this towards resolutions.

[2022-02-10 23:03] #19405 closed

[2022-02-11 04:06] demerphq commented on #19405
On Fri, 11 Feb 2022 at 00:03, abdulbadii ***@***.***> wrote:

FWIW, I am not sure this should be closed until we understand why this is
happening.

I /think/ I understand why this code path might be faster, that is it does
not have to deal with some of the edge cases that a qr// might, such as
being used in multiple contexts, but at the same time it still feels like
we can do better.

Yves

--
per

[2022-02-11 20:31] nwc10 opened #19409 "Exposing all the *_dup functions as "API" doesn't make much sense"
In the course of #19208 I realised that we expose many many of the ithreads related *_dup functions as public XS API:

[code]

Other than `sv_dup` and `sv_dup_inc` I don't think that exposing these makes sense:

1. They are only "useful" to code writing "ithreads" like modules (as you need a `CLONE_PARAMS` which is an opaque structure that the core doesn't document)
2. `threads::shared` uses none

[2022-02-11 23:13] Leont commented on #19409
As author such of an ithreads module, I would agree. `sv_dup`/`sv_dup_inc` need to be API, the rest not.

I would argue we should document that, I have been in situations where I needed it.

[2022-02-12 17:56] jimav opened #19410 "Nonexistent::Module->import() gives no error"
`Nonexistent::Module->import()` **silently succeeds**.  Expecting an error like

_Can't locate object method "import" via package "Nonexistent::Module" (perhaps you forgot to load "Nonexistent::Module"?)_

The docs say *import* is an ordinary method and not builtin, but that doesn't seem to be entirely true.   I think this is a bug (calling any method on a non-existent object or class should resul

[2022-02-12 18:28] Grinnz commented on #19410
It is unfortunate, but this is because of:

1. there is no way to conclusively decide if a module has been "loaded", because any perl code can define contents of any package;
2. "use" calls import on whatever you load, so it must succeed even if no such method exists

This is also the source of silent (or not so silent) failures in a circular "use", where the import method is called on a package b

[2022-02-12 19:41] haarg commented on #19410
The behavior of `import` is described better in the docs for `use`. Changing this behavior won't be possible, but the docs under import could definitely be improved.

[2022-02-12 20:07] andk opened #19411 "Bleadperl broke test of PUNYTAN/sane-0.99"
**Description**

The module on CPAN PUNYTAN/sane-0.99.tar.gz stopped working during the development cycle between 5.35.2 and 5.35.3.

**Steps to Reproduce**

In the cpan shell type `install PUNYTAN/sane-0.99.tar.gz`

**Expected behavior**

The tests in the make test phase should pass, not fail

**Bisect**

My bisecting was leading to the commit 915e574d30

**X-Ref**

I have also reported this stor

[2022-02-12 20:36] xenu commented on #19410
I think calling non-existent import **with arguments** is basically always a mistake. Maybe that case should warn? It would also help on case-insensitive file systems:

[code]

[2022-02-13 17:00] hvds opened #19413 "openSUSE smoke failure: op/glob.t #18"
Between eb87cedb60 and 0a91ad7bad some of @Tux's openSUSE smokes started giving this:
[code]

I'm not sure what could cause `glob(q(./"TEST"))` to return undef, but it seems possible that's also why this fail appears coupled with the failure to build `cpan/Pod-Checker/podchecker` and `cpan/Pod-Usage/pod2usage` (reported by `t/porting/dual-life.t`).

I don't see anything in that range of commits li

[2022-02-14 06:40] jimav commented on #19410
Must it?  Could something like ` $modulename->import(...) if defined(${ $modulename."::import" })`work?

[2022-02-14 07:06] demerphq commented on #19410
On Mon, 14 Feb 2022 at 07:40, Jim Avera ***@***.***> wrote:

That would break with inherited ISA. Eg:

package Foo;
require Exporter;
@ISA=qw(Exporter);

And actually isnt that the problem at heart? All classes are inherently ISA
UNIVERSAL iirc, and it has an import method.

Maybe this would work tho:

$modulename->import(...) if $modulename->can("import") !=
UNIVERSAL->can("import");

Yves

[2022-02-14 07:15] jimav commented on #19410
BTW,  UNIVERSAL->can("import") returns undef in v5.30.0

[2022-02-14 07:21] demerphq commented on #19410
On Mon, 14 Feb 2022 at 08:15, Jim Avera ***@***.***> wrote:

So it does. Ok, I guess I'm confused. Im digging to educate myself better
tho.

Yves

[2022-02-14 08:22] demerphq commented on #19410
On Mon, 14 Feb 2022 at 08:21, demerphq ***@***.***> wrote:

For the record it is in gv.c  line 1152.

        /* This is the special case that exempts Foo->import and
           Foo->unimport from being an error even if there's no
          import/unimport subroutine */
        if (strEQ(name,"import") || strEQ(name,"unimport")) {
            gv = (GV*)sv_2mortal((SV*)newCONSTSUB_flags(NULL,

[2022-02-14 11:04] demerphq opened #19418 "On case insensitive file systems using a module with a case inconsistency which is supposed to export a function does not error."
**Description**
On a case insensitive file system a case mismatch for a use statement that should export will load the module and not throw an error, but it will NOT actually export the function. See also Issue #19417, and Issue #19410

**Steps to Reproduce**
On a case insensitive file system:
perl -le'use LIST::UTIL qw(sum);'

**Expected behavior**
Some kind of exception, preferably that the modu

[2022-02-14 12:02] demerphq commented on #19410
On Mon, 14 Feb 2022 at 09:22, demerphq ***@***.***> wrote:

See https://github.com/Perl/perl5/pull/19419

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-14 18:45] jkeenan commented on #19411
I have submitted a patch [upstream](https://rt.cpan.org/Ticket/Attachment/2185065/1069450/rtc-141301-sane.diff) which provides a work-around.  We can now close this ticket.

[2022-02-14 18:45] #19411 closed

[2022-02-15 13:31] #18754 closed

[2022-02-16 01:21] leonerd opened #19426 "Method resolution still searches inside bareword handles despite `no feature "bareword_filehandles"`"
[code]

Fails with:
[code]

This indicated that, despite the `no feature "bareword::filehandles"` that was in scope at toplevel, it nonetheless tried to resolve the `->done` method call via that bareword handle that was previously opened earlier, taking precedence over the otherwise-expected resolve via named package.

[2022-02-16 01:25] leonerd commented on #19426
Equally, even `Future::` syntax or a string expression will not save you:

[code]

[code]

[2022-02-16 03:58] andk opened #19427 "BBC File-Find-utf8-0.013"
**Description**

File-Find-utf8-0.013 has started to fail, bisect leads to https://github.com/Perl/perl5/commit/c108140682f
I have reported to the author at https://github.com/HayoBaan/File-Find-utf8/issues/3# but I failed to come up with advice for the author. Could somebody please chime in?

**Steps to Reproduce**

cpan -i File::Find::utf8

**Expected behavior**

Green according to http://matrix

[2022-02-16 07:02] demerphq opened #19429 "Scalar-List-Utils v1.60 warns during build of perl."
Module:
Scalar-List-Utils, eg, List::Util

**Description**
When building Scalar-List-Utils in blead there are multiple warnings thrown about signed/unsigned errors.

**Steps to Reproduce**
make
....
ListUtil.xs: In function ‘XS_List__Util_zip’:
ListUtil.xs:1619:33: warning: comparison between signed and unsigned integer expressions [-Wsign-compare]
                 if(av_count(av) > len)

[2022-02-16 12:44] leonerd commented on #19429
This is now fixed by https://github.com/Dual-Life/Scalar-List-Utils/pull/119 and released to CPAN as Scalar-List-Utils 1.61.

[2022-02-16 12:45] jkeenan commented on #19429
These were previously reported upstream at https://rt.cpan.org/Ticket/Display.html?id=136985.  @leonerd, can you take a look at the patch @demerphq is suggesting?

This would be a good point in the production cycle to eliminate these build-time warnings, as they are the only such warnings being emitted during `make` using certain C-compilers.

@demerphq, FYI, we can track a ticket like this one vi

[2022-02-16 12:54] jkeenan commented on #19427
The issue is being discussed upstream at https://github.com/HayoBaan/File-Find-utf8/issues/3.

[2022-02-17 00:31] hvds commented on #19390
I build and use `miniperl` when I can, for speed of recompiling. I tend not to rely on `@INC` - `./perl -Ilib ...` is usually enough to do the right thing within the build environment, so for a specific issue I'll tend to use something like `gdb --args ./perl -Ilib -e ...`.

I'm not sure what you're looking for with respect to "resources to getting started" debugging perl with gdb - if you have mo

[2022-02-17 02:41] demerphq opened #19432 "Compress-Raw-Bzip2 produces uninitialized warnings during build in bleadperl"
Module:
Compress-Raw-Bzip2

**Description**
During build uninitialized warnings are produced. They are bogus, but annoying and easily avoidable.

Issue has been reported upstream as:
   https://github.com/pmqs/Compress-Raw-Bzip2/issues/4

And a PR to fix upstream:
   https://github.com/pmqs/Compress-Raw-Bzip2/pull/5

**Steps to Reproduce**
[code]

**Expected behavior**
No warnings during build.

*

[2022-02-17 02:55] demerphq commented on #19429
On Wed, 16 Feb 2022 at 13:45, James E Keenan ***@***.***>
wrote:

Actually that isnt correct, see https://github.com/Perl/perl5/issues/19432

yves

[2022-02-17 11:46] jkeenan commented on #19432
On 2/16/22 21:41, Yves Orton wrote:

I should note that in past years I have reported build-time warnings in
this distribution and similar ones to its very diligent upstream
maintainer Paul Marquess.  He reported being aware of them but noted
that some of the source code is itself taken from upstream sources and
that he prefers to change the code in these CPAN distributions only when
the upstream

[2022-02-17 14:16] #19373 closed

[2022-02-17 16:49] demerphq commented on #19432
Hi,

I am a contributor to the Perl project. https://github.com/Perl/perl5

We bundle your library libbzip2 via the perl Module Compress-Raw-Bzip2,
which is hosted at:

https://github.com/pmqs/Compress-Raw-Bzip2

We are trying to ensure our builds are warning clean, however when building
this package your library produces "may be used uninitialized" warnings on
some compilers, you can see these wa

[2022-02-18 03:21] demerphq commented on #19432
I filed a ticket with upstream libraries bug tracker:

https://sourceware.org/bugzilla/show_bug.cgi?id=28904

[2022-02-18 16:09] khwilliamson commented on #19268
Would someone care to issue a pull request for this?

[2022-02-18 16:17] #19098 closed

[2022-02-18 17:58] Corion commented on #19268
Created as PR at https://github.com/Perl/perl5/pull/19438

[2022-02-19 10:27] eserte opened #19439 "BBC: Blead Breaks MBARBON/Plack-Middleware-DBGp-0.13.tar.gz"
Starting with perl 5.35.6 (see http://matrix.cpantesters.org/?dist=Plack-Middleware-DBGp-0.13;reports=1#sl=4,1 ) the test suite of Plack-Middleware-DBGp-0.13 fails, but only with non-threaded perls.

A sample fail report: http://www.cpantesters.org/cpan/report/48920f74-9096-11ec-9b7b-406803c7b50f

The test failure:
[code]

Threaded perls are only not affected because the failing test is skipped th

[2022-02-19 11:00] eserte opened #19440 "BBC: Blead Breaks SMUELLER/XS-TCC-0.05.tar.gz"
Since perl 5.35.4 there are no pass reports for this module, see http://matrix.cpantesters.org/?dist=XS-TCC-0.05;reports=1#sl=4,1

There seem to be different types of test failures, here are some different-looking fail reports:
* http://www.cpantesters.org/cpan/report/1ba13e8c-838e-11ec-ad5a-ef2d8e2ffb14
* http://www.cpantesters.org/cpan/report/6319ee8e-908c-11ec-9a4f-d2681f24ea8f
* http://www.cpa

[2022-02-19 13:22] demerphq commented on #16779
It seems a bit weird that I cant do this:

my $cc1= qr/[a-c]/;
my $cc2= qr/(?[ $cc1 + [x-z] ])/;

but I can do this:

my $cc3= qr/(?[ [a-c] + [x-z] ])/;

and I can do this:

my $ecc1= qr/(?[ [a-c] ])/;
my $ecc2= qr/(?[ $ecc1 + [x-z] ])/;

Also shouldn't these two produce the same errors?

$ ./perl -Ilib -lE'print "x"=~/(?[ (?^x:(?[   ])) ])/ ? "yes" : "no";'
The regex_sets feature is experimental

[2022-02-19 13:39] jkeenan commented on #19440
On 2/19/22 06:00, Slaven Rezić wrote:

The failure below is not new.  It has been showing up on some, but not
all, smokers since 5.25.7.

Testing this will require the Alien::TinyCC module -- presumably to get
the TinyCC C compiler.

Steffen includes this thoughtful comment in the DESCRIPTION section of
the documentation:

"Before you consider adopting this module, please have a look at the
C::Blo

[2022-02-19 13:58] pmqs commented on #19432
In general that is true. I prefer to report changes to the the definitive upstream source and then apply the change from there, but not always.

In this instance the patch is very clear cut, so I've merged it.

[2022-02-19 14:14] leonerd commented on #19213
Current B::Keywords (version 1.23 - 2021-10-30) appears to be fine. I suspect this can be closed.

[2022-02-19 14:27] jkeenan commented on #19439
Bisecting with the following command ...
[code]
... gave this result:
[code]
@tonycoz, can you take a look?

[2022-02-19 14:30] demerphq commented on #19432
On Sat, 19 Feb 2022 at 14:58, Paul Marquess ***@***.***>
wrote:

Thanks!

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-19 14:32] jkeenan commented on #19213
Agreed; closing.

[2022-02-19 14:32] #19213 closed

[2022-02-19 15:18] pmqs commented on #19432
Thanks @demerphq ! I was going to do that, but you beat me to it.

I'm not sure that sourceware is the correct place for bzip2 bug reports anymore. I think they have moved to [GitLab](https://gitlab.com/bzip2/bzip2.) The [bzip2 homepage](http://www.bzip.org/) isn't much help, but there does seem to be more recent activity on GitLab.

There was another small change I needed to pass upstream, so I'v

[2022-02-19 15:27] demerphq commented on #19432
On Sat, 19 Feb 2022 at 16:19, Paul Marquess ***@***.***>
wrote:

Oh cool, I didnt find that. Nice to know. Out of curiosity should there
also be an issue reported to go along with the MR?

cheers
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-19 15:39] pmqs commented on #19432
hmm, not sure about that. I've created one just in case.  See https://gitlab.com/bzip2/bzip2/-/issues/34

[2022-02-20 00:07] #13681 closed

[2022-02-20 01:16] demerphq commented on #19168
On Sat, 19 Feb 2022 at 02:29, demerphq ***@***.***> wrote:

 The only thing that we can do is disable trie optimization inside of
lookbehind.

(?<=a|bc)

is not really an "or", it is an *and*, the pattern is equivalent to

(?<=a)(?<=bc)

the key point being that (?<=a) asserts that the "immediately preceding
character cannot be 'a' and the (?<=bc) asserts that the "immediately two
preceding charac

[2022-02-20 02:52] florian-pe commented on #19390
@hvds That's already good tips so thank you.

When asking for ressources to getting started with debugging perl with gdb, I meant reproduce what you got in gdb, for a start. I managed to do it, after compiling perl with debug symbols and with the core dump.

My question was a little weird because I thought there was something perl-specific to do. Searching for debugging examples of perl with gdb,

[2022-02-20 04:41] hvds commented on #19168
Am I misreading this? I'd expect that to be the meaning of `(?<!a)`, negative lookbehind.

Experimental support for variable-length lookbehind was introduced in 5.30, it was a fatal error before that. I stumbled on this issue when Ricardo proposed making it non-experimental.

I don't think my own use of lookbehinds would lose much from the lack of trie-optimization - I rarely have anything particu

[2022-02-20 04:57] demerphq commented on #19168
On Sun, 20 Feb 2022 at 02:16, demerphq ***@***.***> wrote:

Turns out this is just broken, with or without the trie optimization.

./perl -Ilib -Mre=debug -E 'no warnings qw{experimental}; "abfoo" =~
/(?=foo)(?<=(a|ac))/ and say $1'

the problem is that it is trying to match "a" at offset -2, which is only
suitable for matching "ac". And it does match, so the alternation succeeds
and the pattern i

[2022-02-20 05:02] demerphq commented on #19168
On Sun, 20 Feb 2022 at 05:41, Hugo van der Sanden ***@***.***>
wrote:

No, typo on my behalf. The problem exists on any form of negative
lookbehind variable length alternation, positive or negative.

It is *definitelty* not suitable for marking as non-experimental. It was
good of you to find this.

Unfortunately it is not the trie optimization at fault. Even if I disable
it inside of lookbehind th

[2022-02-20 05:17] hvds commented on #19168
I'm not seeing this - assuming `x`, `yy` are literals, the RHS can never match, but the LHS can match. Do you mean to change it to `(?: (?<=x) | (?<=yy) )`?

[2022-02-20 05:36] demerphq commented on #19168
On Sun, 20 Feb 2022 at 06:17, Hugo van der Sanden ***@***.***>
wrote:

Sorry, I am muddling things up. The work around I showed only applies to
negative lookbehind, not positive.

The formulation you showed is the work around for positive lookbehind.

My apologies.

Yves

[2022-02-20 06:15] demerphq commented on #19390
On Sun, 20 Feb 2022 at 03:52, florian-pe ***@***.***> wrote:

Perl_op_dump() will trigger a core dump.

Another trick is to set a break point on Perl_pp_study(), and then put a
study call into your code, then you get control at that point in the code
execution.

More than that. I dont dev in miniperl, it often hides issues that I need
to deal with.

I typically would do:

make -j8 test_reonly

to

[2022-02-20 09:02] demerphq commented on #19168
On Sun, 20 Feb 2022 at 06:36, demerphq ***@***.***> wrote:

Well, I have been working on this all day without much progress. Part of
the problem I am facing is that the SUCCEED opcode is used by multiple ops
besides the IFMATCH and UNLESSM, but we want special logic to happen when
we finish a lookbehind operation. I may have to create a new opcode for
this purpose.

cheers,
Yves

--
perl -Mre=debu

[2022-02-20 11:24] demerphq commented on #19168
On Sun, 20 Feb 2022 at 10:02, demerphq ***@***.***> wrote:

Fixed in

https://github.com/Perl/perl5/pull/19442

More tests would be nice.

cheers,
Yves

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2022-02-20 15:07] jkeenan commented on #19440
As @eserte noted, XS-TCC has displayed several different kinds of errors in CPANtesters results.  On a Linux machine with the following characteristics:
[code]
... I have only been able to reproduce one of those kinds of errors when trying to install XS::TCC against an unthreaded build of Perl 5 blead.  That error shows up like this:
[code]
I believe the relevant code in XS-TCC's `t/30_inline.t `

[2022-02-20 17:22] jkeenan commented on #19440
And that has proved to be the case.  Building a threaded perl at blead and attempting to install XS::TCC via `cpanm`, I get:
[code]

@tonycoz, can you take a look?

[2022-02-20 20:13] jkeenan commented on #19440
Bisecting with the following invocation:
[code]
... we find that building XS::TCC against **threaded** perls first encounters test failures in this commit:
[code]
@nwc10, @tonycoz, can you take a look?

Thank you very much.
Jim Keenan

[2022-02-21 00:40] hvds commented on #18756
@demerphq has now looked at #19168, which showed that VLB currently has a major bug; that led to PR #19442. I think the PR has a good chance of making it for the upcoming release (needs more tests, and more eyes), but this case further convinces me that VLB as a whole is not ready to be marked a success.

I still hope someone will one day comment on the issues mentioned in my previous comment here

[2022-02-21 02:17] demerphq commented on #18756
On Mon, 4 Oct 2021, 06:22 Hugo van der Sanden, ***@***.***>
wrote:

The rule is "leftmost longest", so this seems fine to me. Am I missing a
subtlety here?

The fact that the range is bounded is more problematic to me in the sense
that it will cause surprise.

Thus for example a?? will ignore the requested minimality

But again, the rule is leftmost longest. So we will attempt to match at the
left

[2022-02-21 04:10] rjbs commented on #18756
Thanks, you two.  I have been pursuing this exiting experimental only because it seemed to be not moving and to work.  I am not in a rush, and will back off until post-5.36!

[2022-02-21 04:34] demerphq commented on #18756
On Mon, 21 Feb 2022, 12:11 Ricardo Signes, ***@***.***> wrote:

I have had a chance to review this in more detail and I am very pleased to
say I was very wrong. Yesterday I could have sworn unlimited quantifiers
were allowed in lookbehind, but I guess I tested something else, as I said
in the commit message my brain was mush by the end of the day. Every case I
expected to be broken seems to be cov

[2022-02-21 08:14] nwc10 commented on #19440
OK, it's easy, and it's complex.

If I do **this**, then the immediate problem related to commit 3683a9ee5ad61f8cb5eac30e61b4936bd0445bdb goes:

[code]

tcc defines `__TINYC__`

At which point I **still** get test failures in XS::TCC, but the same threaded/unthreaded:

[code]

This, I infer, is because we (now) use one of our macros `LIKELY` or `UNLIKELY` in an inline function, and this expands to

[2022-02-21 08:42] bekuno opened #19444 "[doc] builtin function documentation missing or a false reference"
**Where**
https://github.com/Perl/perl5/blob/blead/pod/perl5357delta.pod

**Description**
In the section https://github.com/Perl/perl5/blob/blead/pod/perl5357delta.pod#builtin-functions is a link (two times) which willreference to the documentation for `builtin`: https://metacpan.org/pod/builtin.
This documentation does not exist.
Instead the current documentation is only included in the file http

[2022-02-21 08:48] Grinnz commented on #19444
It does exist, just not in a stable version of Perl that metacpan will index yet. You can see the link works correctly at https://perldoc.perl.org/5.35.7/perl5357delta

[2022-02-21 08:49] #19444 closed

[2022-02-21 09:11] bekuno opened #19446 "[doc] isBool() referencing to Scalar::Util, but missing there"
**Where**
https://github.com/Perl/perl5/blob/blead/pod/perl5354delta.pod#stable-boolean-tracking

**Description**
The delta documentation states that a new function `isBool()` is now included in Scalar::Util.
The update section says that `Scalar::Util` has been updated from version 1.56 to 1.56_001.
Now `Scalar::Util` is at version 1.61, but there is no documentation for `isBool()`.

[2022-02-21 09:24] Grinnz commented on #19446
This was true in 5.35.4: https://perldoc.perl.org/5.35.4/Scalar::Util

But it was removed because the function was added to builtin instead.

The release note will need to be corrected when the perldelta for 5.36 is compiled.

[2022-02-21 09:24] #19446 closed

[2022-02-21 09:29] Grinnz commented on #19446
Note that these dev perldeltas are primarily for internal use and may not represent what will end up in the next stable release (5.36.0). Consider bringing up issues with them on [irc](https://www.perl.org/community.html) as there is a high probability no action needs to be taken.

[2022-02-21 10:00] bekuno commented on #19446
I should use https://perldoc.perl.org as additional resource besides https://metacpan.org :-)

The change from `Scalar::Util` to `builtin` should be included in the delta documentation, imho.
The `isBool()` was already removed in 5.35.5.

[2022-02-21 10:02] demerphq opened #19447 "Fixed length lookbehind longer than 255 characters should be allowed"
**Description**
Currently for implementation reasons we do not allow fixed length lookbehind longer than 255 characters. I think as long as it is fixed width we should be fine handling longer sequences. I think this is a restriction that comes from variable length where the length limit makes some sense for performance reasons, but this does not apply to fixed length assertions.

**Steps to Reprod

[2022-02-21 11:57] #19268 closed

[2022-02-21 13:19] jkeenan commented on #19440
Given that, as I noted earlier, upstream author @tsee has already quasi-deprecated this module, we could bring this problem to his attention and (1) ask him if he wants to provide a workaround; (2) if not, ask him to formally deprecate the module.  That would give us some time to figure out whether this affects other CPAN or darkpan code and decide on a better policy.

@tonycoz, do you have advice

[2022-02-21 13:34] jkeenan commented on #19427
[File-Find-utf8-0.014](https://metacpan.org/dist/File-Find-utf8/changes) was released to CPAN on 2022-02-16 and [addresses the problem](http://matrix.cpantesters.org/?dist=File-Find-utf8+0.014) raised in this ticket. Closing.

[2022-02-21 14:56] hvds commented on #19440
You say "these extensions": are you aware of other modules doing this sort of thing?

It seems clear from what you found that the problem here lies in the module rather than in perl. By the sound of it, to get a properly working version of this module the first job to get would be to do an actual port of perl to tinycc (and it isn't obvious that anyone is motivated to do that), and then for the mo

[2022-02-21 15:37] hvds commented on #19440
Ah, I see that the aforementioned `C::Blocks` is also using tcc. I note though that for now at least it still passes its tests.

[2022-02-21 20:47] nwc10 commented on #19440
So, on dromedary.p5h.org I built tinycc 0.9.27 (which is the last proper release), and tried to build blead. It fails to build locale.c because of this chain of bad assumptions

`perl.h` has

[code]

and `static_assert` is defined, so our code assumes that it exists.

in turn `/usr/include/assert.h` has

[code]

in turn, `/usr/include/feature.h` has

[code]

and in turn, `config.h` has

[code]

an

[2022-02-22 05:03] jimav opened #19449 "Data::Dumper with Useqq=1 omits quotes on string "0""
When dumping a scalar which was set to the string "0" the result should be quoted.  However this only happens when using the XS implementation with Useqq=0:
[code]
Output:
[code]
**SIDE NOTE:** _JSON::PP_ uses a much more sophisticated way of deciding whether a scalar was set to a string or a number.   Maybe _Data::Dumper_ could do something similar?
The code in JSON::PP is similar to this:
[code]