[2020-03-18 15:38] iabyn commented on #17567
On Thu, Mar 12, 2020 at 02:19:33PM -0700, Nicolas R. wrote:

Fixed fix now pushed as v5.31.9-162-gad89278aa2

--
I thought I was wrong once, but I was mistaken.

[2020-03-18 20:29] #17482 closed

[2020-03-18 23:17] tonycoz commented on #17644
Do you have a complete self-contained test program that demonstrates the problem?  I wasn't able to produce a simple reproducer based on what you've supplied.

[2020-03-18 23:38] #17612 closed

[2020-03-19 00:32] tonycoz commented on #17460
The method to distinguish errors from timeout was documented in bc3331.

[2020-03-19 00:51] tonycoz commented on #17446
It seems to me that the current behaviour is reasonable, I don't think we can reasonable select one socket type over the other, so it's reasonable to expect the caller to supply that themselves.

The error returned could be improved though:
[code]
and that could be improved, maybe:
[code]
would be an improvement.

[2020-03-19 01:43] toddr commented on #17460
@vsespb I think this report is yours. We're closing it as it seems your concern was already addressed in bc3331071e1ccbdab715397718bb00282f5c5e88. Please let us know if you have any further concerns.

[2020-03-19 01:43] #17460 closed

[2020-03-19 14:36] shlomif commented on #17007
Can this be applied ? Is there anything you need?

[2020-03-19 14:55] atoomic commented on #17007
I opened a PR so this could give it more visibility and should be merged in the next days.
thanks for the patch

[2020-03-19 15:17] shlomif commented on #17007
On Thu, 19 Mar 2020 07:55:58 -0700
"Nicolas R." <notifications@github.com> wrote:

Thanks!

--

Shlomi Fish       https://www.shlomifish.org/
https://www.shlomifish.org/humour/bits/facts/Summer-Glau/

Many a man owes his success to his first wife and his second wife to his
success.
    — Jim Backus (unsourced)

Please reply to list if it's a mailing list post - http://shlom.in/reply .

[2020-03-19 15:27] khwilliamson commented on #17007
On 3/19/20 9:17 AM, Shlomi Fish wrote:

I'd merge it now, except it fails podcheck:

Should you be using F<...> or maybe L<...> instead of"
#     C</usr/bin/perl> near line 16 of pod/perllinux.pod

The answer is yes, it should be using F<>

[2020-03-19 15:28] atoomic commented on #17007
I will provide a fixup for it

[2020-03-19 15:28] shlomif commented on #17007
Thanks @khwilliamson and @atoomic !

[2020-03-20 02:59] rjbs opened #17661 "perl5db.pl "i" command is broken"
**Description**
The "i" command in the debugger frequently reports the wrong answer.  I believe it's about lexical versus global variables.

**Steps to Reproduce**
[code]

If I debug this program, then:

[code]

(Without `use mro`, there is a separate crasher, for which I have already filed a pull request.)

I would expect `i $obj` to report the same as `i $global`.  I tried to fix this, but could

[2020-03-20 08:32] Leont commented on #17446
Actually, that is probably the most reasonable suggestion :-)

[2020-03-20 14:08] gflohr opened #17662 "Error message "Signal SIGCHLD received, but no signal handler set.""
Module:

**Description**

In a web server based on `Net::Server` (version 2.007 and the most recent 2.009) with the `Net::Server::Single` personality, I get the error "Signal SIGCHLD received, but no signal handler set." and the server terminates.  When using the `Net::Server::PreFork` personality, the signal is SIGHUP instead of SIGCHLD, and the server continues to run because only one of the for

[2020-03-20 14:14] gflohr commented on #17662
This is the code snippet that spawns the child process:

[code]

The function `open_files()` returns a list of open file descriptors  `$self->{__path}` is the path to the script to be executed, `$self->{__argv}` is the list of arguments.

[2020-03-20 14:43] jkeenan commented on #17662
Is the code snippet from your own code -- or from perl or CPAN code?

[2020-03-20 14:46] gflohr commented on #17662
The code snippet is not from a CPAN module but from the application (which is not on CPAN).

[2020-03-20 15:14] #17007 closed

[2020-03-20 15:39] khwilliamson commented on #17105
There has been no real action taken by freebsd on [https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=239520](url).  This isn't a bug in Perl.  Is there anything left for us to do?  If not, can we close this ticket

[2020-03-20 16:29] khwilliamson commented on #17557
Any objections to closing this ticket?

[2020-03-20 16:32] khwilliamson commented on #17536
The PR was merged, and Encode has been updated

[2020-03-20 16:33] khwilliamson commented on #17535
Is this closable?

[2020-03-20 16:35] jkeenan commented on #17557
I do not object to closing the ticket.

[2020-03-20 16:47] jkeenan commented on #17535
I don't see any warnings coming from util.c on recent reports from Carlos's NetBSD-8.1 or 9.0 smoke-testing rigs.  Hence, closing.

[2020-03-20 16:47] #17535 closed

[2020-03-20 17:03] iabyn commented on #17662
It sounds like somehow there is a discrepancy between what the OS and perl
thinks about the state of the signal handdler. The OS still thinks that
perl will be handling the signal (rather than e.g. the OS ignoring it or
whatever), but when the OS calls perl's C-level signal handler, perl
thinks there is no signal handler present in %SIG so dies with the error
you're seeing.

Normally when %SIG is

[2020-03-20 17:07] jkeenan commented on #17105
On 3/20/20 11:39 AM, Karl Williamson wrote:

Please leave open for a while.  I just posted in the FreeBSD ticket and
that stirred a response.

jimk

[2020-03-20 17:40] #17536 closed

[2020-03-20 19:27] richardleach commented on #16804
Steve's above 02-xsdynamic.t errors come from MM_Win32.pm's `quote_dep` being unable to handle the "type map" argument in the absence of short path support.

"type map" comes from MakeMaker::Test::Setup::XS, which will actually remove the space if the make flavour cannot handle spaces (`can_dep_space`):
[code]
MM_Win32.pm always assumes that short path support will be present:
[code]
So resolving

[2020-03-20 20:45] jkeenan commented on #17105
FreeBSD is making a change ...
https://svnweb.freebsd.org/base/head/lib/libc/locale/xlocale.c?r1=359183&r2=359182&pathrev=359183&diff_format=u
... but I don't know when it will appear in a release.

[2020-03-21 04:11] richardleach commented on #17558
[pod2html_misc_perf.txt](https://github.com/Perl/perl5/files/4362417/pod2html_misc_perf.txt) - some numbers for the past two release cycles, plus the .0 stable releases back to 5.20.

Cycles, instructions, branches all vary.  Haven't had time to look in any detail.

One thing that jumps out though is a massive jump in cycles, instructions, and branches from v5.31.9 to v5.31.10.

[2020-03-21 09:25] andk opened #17663 "Bleadperl v5.31.9-162-gad89278aa2 breaks RIBASUSHI/DBIx-Class-0.082841.tar.gz"
As per subject. Also affected: SDPRICE/App-Framework-Lite-1.09.tar.gz, LGODDARD/CGI-ProgressBar-0.05.tar.gz

Matrix:
- http://matrix.cpantesters.org/?dist=DBIx-Class+0.082841
- http://matrix.cpantesters.org/?dist=CGI-ProgressBar+0.05
- http://matrix.cpantesters.org/?dist=App-Framework-Lite+1.09

Sample fail reports:
- http://www.cpantesters.org/cpan/report/b24aea66-69c0-11ea-a976-a84dd8968159
- ht

[2020-03-21 15:20] jkeenan commented on #17663
This is the failure I get on blead on Linux:
[code]

[2020-03-21 15:23] jkeenan commented on #17663
And running this through the debugger, I get (excerpt):
[code]

[2020-03-21 15:27] iabyn commented on #17558
On Fri, Mar 20, 2020 at 09:11:27PM -0700, Richard Leach wrote:

I see almost identical (to each other) results for 5.31.9 and 5.31.10.
Are you sure your .9 and .10 perl binaries are built in the same way
as each other as regards to threading, DEBUGGING, compiler etc?

--
I before E. Except when it isn't.

[2020-03-21 15:30] dur-randir opened #17664 "New compilation warning in blead"
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

[code]

I've spotted this warning when compiling a fresh blead and couldn't remember seeing it earlier. There're no recent changes in ext/Opcode, so it's likely introduced by some unrelated change in types.

[Please do not change any

[2020-03-21 15:43] jkeenan commented on #17663
The failure for CGI-ProgressBar looks like this:
[code]

[2020-03-21 15:44] jkeenan commented on #17663
The failure for App-Framework-Lite looks like this:
[code]

[2020-03-21 15:50] khwilliamson commented on #17558
On 3/21/20 9:27 AM, iabyn wrote:

I do know that the test suite takes about 25% longer to complete on my
Linux box on recent bleads than before, with threads and debugging
enabled.  No change on unthreaded, non-debugging builds.

I bisected it enough to rule out a couple of my commits that I worried
might be the cause, but I didn't try a comprehensive bisect.

[2020-03-21 15:59] dur-randir commented on #17663
Bisect points to ad89278aa25475fb03971aec66692e18e35d9c07 is the first bad commit
[code]

[2020-03-21 16:09] jkeenan commented on #17663
Confirmed. @iabyn, can you take a look?

Thank you very much.
Jim Keenan

[2020-03-21 16:10] iabyn commented on #17558
On Sat, Mar 21, 2020 at 08:50:29AM -0700, Karl Williamson wrote:

I generally find that test suite timings are all over the place. Here is a
summary of the 'CPU' line following the 'all tests successful' line from
my debugging+threads snapshots I've built for each devel release:

       Files   Tests wall    usr  sys       cusr  csys      CPU
 5.31.0 2656 1230625 252 (220.17 12.88 + 1399.45  71.41

[2020-03-21 16:12] richardleach commented on #17558
Yeah, I built them all in the same way (./Configure -des -Dusedevel && make, with a make clean in-between), but just reran for blead and it didn't show that jump:

[code]

Nothing like repeatability, eh? ;-)

[2020-03-21 16:33] richardleach commented on #17558
And again for v5.30.10, back in the same ballpark:
[code]

This seems very true.

It might be useful if we could produce box and whisker plots for benchmarks, so we're not mislead by outliers. (Using counter-based data from perlbench or perf.) Wonder if Perl::Formance can/could do this?

[2020-03-21 17:13] iabyn commented on #17558
On Sat, Mar 21, 2020 at 09:33:28AM -0700, Richard Leach wrote:

I rely mainly on Porting/bench.pl, which is built upon cachegrind and
thus gives 99.9% consistent results.

--
This is a great day for France!
    -- Nixon at Charles De Gaulle's funeral

[2020-03-21 17:21] jkeenan commented on #17664
Yes, I reported this in https://github.com/Perl/perl5/issues/17632.  But at that point it seemed as if the 'bug' had 'always been there; see https://github.com/Perl/perl5/issues/17632#issuecomment-598249646.  I had meant to open a separate ticket for that but forgot.

Thank you very much.
Jim Keenan

[2020-03-21 17:38] jkeenan commented on #17517
https://github.com/Perl/perl5/pull/17519 was merged into blead on Feb 01.  I am no longer getting this warning in debugging builds using gcc (now version 7.5.0).  Closing.

Thank you very much.
Jim Keenan

[2020-03-21 17:38] #17517 closed

[2020-03-21 17:46] iabyn commented on #17663
On Sat, Mar 21, 2020 at 08:44:14AM -0700, James E Keenan wrote:

...

I looked at this distro first, as it seemed to have the least dependencies.
I haven't looked at the others yet.

CGI::ProgressBar appears to be relying on the bug (since fixed) in
caller() to work out what package to do its exports to. It can be reduced
to:

    $ cat Foo.pm

    package Foo;

    BEGIN {
        my $c = caller(

[2020-03-21 17:56] jkeenan commented on #17663
On 3/21/20 1:46 PM, iabyn wrote:

Yes, CGI-ProgressBar is old and so I'm not too worried about it.  Same
for App-Framework-Lite.  Have you had a chance to look at DBIx::Class?

Thank you very much.
Jim Keenan

[2020-03-21 19:12] iabyn commented on #17663
On Sat, Mar 21, 2020 at 10:56:20AM -0700, James E Keenan wrote:

To repeat what I said above:

--
You never really learn to swear until you learn to drive.

[2020-03-21 20:16] richardleach commented on #17558
1,000x pod2html iterations for 5.28.2, 5.30.1, 5.31.10 below. Similar story.
[code]

[2020-03-21 20:29] richardleach commented on #17558
@dapeng-mi If you're able to identify a specific commit as the cause of a pod2html regression, that would give something specific to examine. Otherwise it looks like test noise is swamping any signal.

[2020-03-21 21:16] jkeenan commented on #17663
On 3/21/20 3:12 PM, iabyn wrote:

Sorry, I overlooked that.

[2020-03-21 23:06] xsawyerx commented on #17663
`DBIx::Class` is surely the critical part here.

[2020-03-22 10:21] iabyn commented on #17663
On Sat, Mar 21, 2020 at 04:06:57PM -0700, Sawyer X wrote:

I looked at the other distro first simply because it was simpler and would
thus be easier to diagnose. If it turned out to be a bug in perl, then I
could quickly fix perl, then see if the issue went away for DBIx::Class
etc too. Since CGI-ProgressBar turned out not to be a perl issue, I'm now
looking at DBIx::Class. My preliminary thought

[2020-03-22 14:00] M-Reimer opened #17665 "":utf8" new default in Perl 5.30.2 for sysopen?"
**Description**

I've written a small helper which converts MIDI messages arriving on a MIDI device to JSON for Firefox to read via the "native app" interface. The program is here:

https://github.com/M-Reimer/midiinputprovider/blob/master/nativeapp/midiinputprovider.pl

For me it works as expected but one user reported a problem that he gets a message

    sysread() isn't allowed on :utf8 handles

[2020-03-22 14:21] orivej commented on #17665
I'll provide more details after analysing the issue a bit further.

[2020-03-22 15:22] gflohr commented on #17662
The bug is not OS dependant. It is reproducible under Mac OS X and under Linux.

I can provide a tarball if anybody is willing to debug the issue. My customer and me have found the workaround described above, so it is not urgent. But I think it is quite likely that it is a bug in perl given the fact that it happens with completely different OSs.

[2020-03-22 15:49] Grinnz commented on #17665
sysopen will respect the value of the `${^OPEN}` variable, which can be affected by the `PERLIO` environment variable globally (setting this to `:utf8` is always a mistake), the `-C` option or `PERL_UNICODE` environment variable in main program scope, or the `open` pragma in any lexical scope.

[2020-03-22 15:52] Grinnz commented on #17665
`binmode $fh or die "binmode failed: $!";` after opening should always restore the handle to a binary stream regardless of the environment it was opened in.

[2020-03-22 15:58] orivej commented on #17665
Yes, this is caused by having `PERL_UNICODE=D`. (Actually I have `PERL_UNICODE=ADSL`. I did not remember that I had it.) This `D` is necessary for `git svn` to support non-ASCII names in `git.svn.authorsfile` (which maps svn logins to git names and emails), otherwise `git svn rebase` writes something like double encoded UTF-8 names in git commit authors…

[2020-03-22 16:16] Grinnz commented on #17665
I'd recommend including that PERL_UNICODE setting in an alias or script where it's needed since it can affect things like this that don't expect it although it is at least limited to the main program scope. The program in question can be defensive with the `binmode` invocation I mentioned against either PERL_UNICODE or -C, but also against the default `CRLF` translation on Windows if that may come

[2020-03-22 16:18] Grinnz commented on #17665
It can also use: `open(my $fh, '<:raw', "/dev/snd/$device")

[2020-03-22 16:20] M-Reimer commented on #17665
The ":raw" thing was what @orivej  suggested in his pull request.

TBH I don't know what the recommended way is to open a char device from Perl. I thought sysopen does what it says: Just invoke "open" without fiddling too much with the results.

[2020-03-22 16:22] Grinnz commented on #17665
`sysopen` is, despite the name, not related in any way to `sysread` or `syswrite`, except that all are done using low level methods. Default layers are still applied the same way as an `open` call that does not specify layers. My recommendation would be specifying layers explicitly in `open`, or following with a `binmode` (more compatible with Perls before 5.14).

[2020-03-22 16:24] Grinnz commented on #17665
The upcoming rewrite of the [PerlIO](https://perldoc.pl/5.31.10/PerlIO) docs may be helpful.

[2020-03-22 16:30] Grinnz commented on #17665
Also note that `sysread` does bypass any layers, but due to unfortunate historical implementation, it used to consider the stream as Perl's internal upgraded encoding if `:utf8` was set, and this later became fatal.

[2020-03-22 16:32] Grinnz commented on #17665
So the most straightforward method may be: open with `<:` so only the PerlIO defaults are applied (which will not include `:utf8` except if the user breaks their system by setting that in `PERLIO`), and `sysread` to ignore any such layers.

[2020-03-22 16:35] M-Reimer commented on #17665
Actually my expectation, at least with the combination "sysopen" and "sysread" would be that I **always** read raw bytes. That's why I use the "sys*" variants. They should not apply any kind of "layers".

[2020-03-22 16:38] Grinnz commented on #17665
I understand that's your expectation, but that's not what sysopen does (I will see if I can update the docs to make this clear). It arguably should be what sysread does, though, `:utf8` existing just violates that for unfortunate reasons.

[2020-03-22 16:41] orivej commented on #17665
Thank you! I am going to unset PERL_UNICODE locally, and try to fix git-svn upstream: they open the authors file [here](https://github.com/git/git/blob/v2.25.2/git-svn.perl#L1938). Maybe they need `use open ':locale';`?…

[2020-03-22 16:47] Grinnz commented on #17665
I would normally recommend opening the handle with [PerlIO::locale](https://metacpan.org/pod/PerlIO::locale) over that pragma, but I would guess it can't easily depend on CPAN modules.

[2020-03-22 17:08] iabyn commented on #17662
On Sun, Mar 22, 2020 at 08:23:04AM -0700, Guido Flohr wrote:

I didn't say that it was a bug in the OS. I meant that in normal operation
of a perl interpreter, the interpreter ensures that whenever signal
handling is updated, perl updates two things *in sync*:

1) it tells the OS to call, for a particular signal, a signal handler
function within the perl interpreter;
2) it updates interl interpret

[2020-03-22 17:33] iabyn commented on #17663
On Sun, Mar 22, 2020 at 03:22:03AM -0700, iabyn wrote:

I've looked a lot deeper into the one test script in DBIx::Class which
fails: t/53lean_startup.t.

I'm almost 100% certain its a bug in the script, but since I don't
understand what the script is trying to test, I can't venture a
suggested fix.

It's overriding perl's require with a custom sub which goes up the
caller($i++) stack till it find

[2020-03-22 19:51] iabyn commented on #17663
Finally, App-Framework-Lite was relying on the bug in caller()
to import something into the namespace where 'use App::Framework::Lite'
was located. The following diff makes all tests pass on blead.

diff -u lib/App/Framework/Lite.pm.orig lib/App/Framework/Lite.pm
--- lib/App/Framework/Lite.pm.orig	2020-03-22 19:27:23.859910042 +0000
+++ lib/App/Framework/Lite.pm	2020-03-22 19:48:05.087337602 +0000

[2020-03-22 20:16] khwilliamson commented on #17146
I emailed the OP privately, and their response was that it is ok to close

[2020-03-22 20:16] #17146 closed

[2020-03-22 21:08] Grinnz commented on #17665
I have opened https://github.com/Perl/perl5/pull/17666 to hopefully help explain this better in the documentation.

[2020-03-23 01:34] sisyphus opened #17667 "perl-5.31.10 - ext/XS-APItest/t/hv_macro.t fails on big endian architecture"
Module:

**Description**

**Steps to Reproduce**

In the perl-5.31.10 top level directory run:
./perl -I./lib ext/XS-APItest/t/hv_macro.t
**Expected behavior**

When I see diagnostics like:
\#          got: '0x87f0'
\#     expected: '0xf087'
I immediately think of endianness issues,
ext/XS-APItest/t/hv_macro.t produces a lot of such errors in the first 50 tests.
After that, there's lots more error

[2020-03-23 07:08] gflohr commented on #17662
I see. Then I misunderstood it.

Yes, I can prepare that. I am just not allowed to make it public. But you can always contact me via my email address on my github page @gflohr.

[2020-03-23 18:54] jkeenan commented on #17667
1. Am I correct in thinking that this cannot be reproduced on this ...?
[code]
2.  Does the error manifest itself with simpler configuration switches, say just `-des -Dusedevel`?

3.  Is this a regression from correct behavior?  Or has it "always" been this way?  If the former, are you able to bisect to identify the first bad commit?

Thank you very much.
Jim Keenan

[2020-03-23 18:56] jkeenan commented on #17665
That p.r. has been merged into Perl 5 blead.  Does that documentation improvement resolve this issue?

Thank you very much.
Jim Keenan

[2020-03-23 20:13] khwilliamson opened #17668 "Extreme amount of undefined C behavior with -Duselongdouble -Duse64bitall"
**Description**
I compiled blead on Linux using -Duseithreads -Duse64bitall -Duselongdouble with clang ASAN.  Compiling and running the test suite generated over 700K undefined behavior errors.

**Perl configuration**

[code]

[2020-03-23 20:15] khwilliamson commented on #17668
To make it crystal clear: Not even perl -V works

[2020-03-23 20:29] jkeenan commented on #17668
On 3/23/20 4:13 PM, Karl Williamson wrote:

1. Do you know what impact each of these 3 config switches has in this
result?

-Duseithreads -Duse64bitall -Duselongdouble

2. Do we have reason to believe that this is a regression from better
behavior in the past?

3. My hunch is that many people, like myself, don't really know what
use64bitall and uselongdouble do, singly or in combination.  Can you

[2020-03-23 20:40] khwilliamson commented on #17668
It's the long doubles that cause the problem.  Using just the other two options works fine

[2020-03-23 20:54] #17665 closed

[2020-03-23 21:46] sisyphus commented on #17667
Hi Jim,
I believe (unproven) it will be reproducible on any build of perl-5.31.10
for which $Config{byteorder} is '87654321' (and perhaps also '4321').
I don't think the failure occurred when I built 5.31.7 on this machine (or
I would have reported it then), and I didn't build 5.31.8 or 5.31.9.

I don't know anything about git bisect, though I guess there's no good
excuse for not learning.

I'll d

[2020-03-23 22:29] khwilliamson commented on #17667
On 3/23/20 3:46 PM, sisyphus wrote:

Note that this test script was added only in November, by this commit

commit a59c5ea3bda874535e4b730b623f5d75c5ab1a18
  Author: Yves Orton <demerphq@gmail.com>
  Date:   Wed Nov 6 00:12:49 2019 +0100

      XS-APItest: add tests for U8TO64_LE() and other hashing macros and
code

      Includes testing siphash24 and siphash13 properly, especially
      testing

[2020-03-23 22:37] jkeenan commented on #17667
On 3/23/20 6:29 PM, Karl Williamson wrote:

So, @sisyphus, if you can build blead at that commit, that should
obviate the need for bisection.

Thanks.
jimk

[2020-03-23 22:59] khwilliamson commented on #17668
On 3/23/20 2:29 PM, James E Keenan wrote:

It appears to act better than 5.30.2, which won't compile fully under
these options.

sv.c:7024:2: runtime error: store to misaligned address 0x61f000002f68
for type 'HV *' (aka 'struct hv *'), which requires 16 byte alignment
0x61f000002f68: note: pointer points here
  00 00 00 00  30 35 01 00 10 62 00 00  00 00 00 00 00 00 00 00  00 00
00 00 00 00 00 00

[2020-03-24 00:46] sisyphus commented on #17667
$ git reset --hard a59c5ea3
HEAD is now at a59c5ea XS-APItest: add tests for U8TO64_LE() and other
hashing macros and code
$ sh Configure -des -Duse64bitall -Dcc="gcc -m64" -Uversiononly -Dusedevel
-Dprefix=/home/sisyphus-sis/blead-a59c5ea3-d && make
.... proceeds to completion
$ ./perl -I./lib ext/XS-APItest/t/hv_macro.t >hvmacro2.txt 2>&1

Running a 'diff -u' reveals that hvmacro2.txt is exactly

[2020-03-24 00:49] richardleach opened #17670 "[feature] Add core support for Linux capabilities?"
Perl doesn't provide a handy out-of-the-box mechanism for showing/test/setting Linux capabilities [1,2], which are hugely relevant to containerised environments (e.g. docker/kubernetes[3,4]/openstack), but may also become more relevant to standard Linux (and other) systems in the future.

At least to start with, this issue is intended as a placeholder for discussion.

**On CPAN**

CPAN provides at

[2020-03-24 01:49] jkeenan commented on #17667
@demerphq Can you review the test failures on big-endian platforms discussed in this ticket?

Thank you very much.
Jim Keenan

[2020-03-24 02:35] khwilliamson commented on #17667
On an HP 31 box, we have

byteorder='4321'

and the tests didn't fail.

I'm trying again with a -Duse64bitall

[2020-03-24 05:44] khwilliamson commented on #17667
That still passed.  I'm attaching the config for further enlightenment
[config.txt](https://github.com/Perl/perl5/files/4373387/config.txt)

[2020-03-24 06:46] sisyphus commented on #17667
Ok - I'll see if I can build one that passes the test

Cheers,
Rob

On Tue, Mar 24, 2020 at 4:44 PM Karl Williamson <notifications@github.com>
wrote:

[2020-03-24 08:25] sisyphus commented on #17667
I first tried a 32-bit build ( ivsize = 4, ivtype = long, byteorder = 4321
), with config_args of just
-des -Dusedevel

With that build hv_macro.t runs only 38 tests, 32 of which fail - including
failures which look very much like issues with endianness:

not ok 33 - U8TO32_LE works as expected (hex bytes:87 f0 e1 d2)
#   Failed test 'U8TO32_LE works as expected (hex bytes:87 f0 e1 d2)'
#   at ext

[2020-03-24 20:46] khwilliamson commented on #17667
On 3/24/20 2:26 AM, sisyphus wrote:

It's not just you.  Blead is failing the smoke for that platform:
  ../ext/XS-APItest/t/hv_macro.t .............................. FAILED
2-49 60-61 Non-zero exit status: 52 Bad plan.  You planned 63 tests but
ran 61.
   [stdio/perlio/locale:en_US.utf8] -Duseithreads -Duse64bitall DEBUGGING
   [stdio/perlio/locale:en_US.utf8] -Duseithreads -Duse64bitall
   [stdi

[2020-03-24 21:16] richardleach opened #17671 "New smoke failures on lib/charnames.t"
**Description**
https://perl5.test-smoke.org/submatrix?test=../lib/charnames.t

Test failures:
On FreeBSD, CentOS, Debian, Android smokers:
`~~ ../lib/charnames.t .......................................... FAILED Non-zero exit status: 9`

From Android:
[code]

On Win10:
`~~ ../lib/charnames.t .......................................... FAILED Non-zero exit status: 255 No plan found in TAP output`

[2020-03-24 21:50] jkeenan commented on #17667
The failure may not be limited to big-endian architectures.  Consider this smoke-test report:
http://perl5.test-smoke.org/report/105262

linux 5.3.12-200.fc30.x86_64 [Fedora 30]
ccache g++ version 9.2.1 20190827 (Red Hat 9.2.1-1) (*1)

If someone has (a) Linux, (b) x86_64, (c) g++-9, could you build a perl at 5.31.10 or later with that compiler, with/without threads, then run
[code]
... to see if

[2020-03-24 21:53] jkeenan commented on #17671
As we've been discussing on and off on #p5p, these failures have been appearing intermittently for several months.  I got one when I was testing the perl-5.31.10 tarball.  But I couldn't reproduce it.

[2020-03-24 22:04] richardleach commented on #17671
D'oh, sorry. I must surely have seen some of that chat on #p5p.

[2020-03-24 22:12] sisyphus commented on #17667
That looks to be a quite different to failure to what I'm seeing.
The report that Karl quoted also appears to report a different failure to
mine.
There's no mention of "Non-zero exit status" or "bad plan" in my testing of
hv_macro.t.

BTW, I'm using a fairly old compiler .... gcc-4.8.x.

Cheers,
Rob

On Wed, Mar 25, 2020 at 8:50 AM James E Keenan <notifications@github.com>
wrote:

[2020-03-24 23:53] tonycoz commented on #17668
In the first case I looked at (and there may be other causes) this happens because on a 64-bit platform XPVCV only requires  8 byte alignment but XPVMG (which contains an NV) requires 16 byte alignment.

Perl_sv_upgrade() and Perl_more_bodies() allocate from per type pools, and PVCV is 104 bytes long, and so every second CV's body is allocated on a boundary that isn't 16-byte aligned.

SvMAGIC() c

[2020-03-25 01:00] khwilliamson commented on #17667
On 3/24/20 4:12 PM, sisyphus wrote:

Note that the code appears to be trying to cope with big endian
architectures, by swapping bytes.  That might be a fruitful place to
look at.

[2020-03-25 02:57] sisyphus commented on #17667
Where is it trying to do that ?
I couldn't quickly spot it.

Cheers,
Rob

[2020-03-25 04:18] sisyphus commented on #17667
Found it !! (What a legend .... not ;-)

Replacing:
        #define U8TO16_LE(ptr)   (_shifted_octet(U16,(ptr),1, 0)|\
                                  _shifted_octet(U16,(ptr),0, 8))

        #define U8TO32_LE(ptr)   (_shifted_octet(U32,(ptr),3, 0)|\
                                  _shifted_octet(U32,(ptr),2, 8)|\
                                  _shifted_octet(U32,(ptr),1,16)|\

[2020-03-25 04:30] khwilliamson commented on #17667
Please make a pull request, and I'll make sure it gets smoked on failing machines

[2020-03-25 04:39] sisyphus commented on #17667
Shall do.
I just want to do some more checks.
Is it correct that the following block of code pertaining to little-endian architectures:

\#ifdef USE_UNALIGNED_PTR_DEREF
\#define U8TO16_LE(ptr)   (*((const U16*)(ptr)))
\#define U8TO32_LE(ptr)   (*((const U32*)(ptr)))
\#define U8TO64_LE(ptr)   (*((const U64*)(ptr)))

is not being reproduced for the big-endian architecture ?
I'll try to check things

[2020-03-25 05:04] tonycoz commented on #17662
I could see this happening under threads, since IIRC %SIG isn't synchronized between threads, if one thread sets a handler for CHLD and the OS sends the signal to a different thread, this error could occur.

Does your code use threads at all?

[2020-03-25 11:50] sisyphus commented on #17667
Getting closer ... for anyone working on this:
It's looking like I don't need a separate "big-endian" block in sv_macro.h
For 32-bit builds I can certainly dispense with the distinction. and just use the code that's in the "little-endian" block for both endiannesses,
For 64-bit builds, although the first 59 tests in hv_macro.t then pass just fine, the remaining 4 (siphash) tests are still failing.

[2020-03-25 20:00] djerius opened #17674 "[doc] Inconsistent documentation of \G"
**Where**
`perlre`, `perlretut`

**Description**

`perlretut` [warns that](https://metacpan.org/release/perl/source/pod/perlretut.pod#L1686)

whlie `perlre` provides [an example](https://metacpan.org/release/perl/source/pod/perlre.pod#L1104) showing `\G` being used at the end of a pattern:
[code]
without a similar warning.

There's no description of what _not_ "fully supported" entails, and the ex

[2020-03-26 04:26] tonycoz commented on #17216
This is in blead since f40bbcb, closing.

[2020-03-26 04:26] #17216 closed

[2020-03-26 12:37] gflohr commented on #17662
No, and the interpreters are all compiled without interpreter threads support. I had put a "use threads" into the main script and it dies right away with "This Perl not built to support threads ...", so I can also rule out that I am by accident using a different interpreter.

[2020-03-26 13:40] brodafly opened #17675 "Potential dereferencing of freed pointer in op.c"
Hello!

We have a Coverity scan setup for the perl source code and it detected a potential issue for version 5.30.0. I suppose it will be detected in later verisons as well.

The issue is with the function 'S_newGIVWHENOP' defined in op.c in which the scan warns that it is possible to try and dereference the already freed pointer 'enterop'. The pointer can apparently be freed during the call to 'C

[2020-03-26 14:27] jkeenan commented on #17675
Others will evaluate the patch, but in the meantime I have created a branch for smoke-testing it:
smoke-me/jkeenan/ghi-17675-pointer

[2020-03-26 16:00] ilmari commented on #17675
I don't see how the `CHECKOP(enter_opcode, enterop)` call can resolve to `Perl_ck_backtick` when `S_newGIVWHENOP` is only ever called with `OP_ENTERGIVEN` and `OP_ENTERWHEN`, both of which use `ck_null` (as indicated by the comment).

[2020-03-27 08:30] sisyphus commented on #17667
Still unable to get tests 59 .. 63 (incl) to pass.
I have established that https://131002.net/siphash/siphash24.c works fine on this big-endian machine.
I just need to work out why the perl implementation is playing up.

In sv_func.h, there's a macro:
\#define PERL_SIPHASH_FNC(FNC,SIP_ROUNDS,SIP_FINAL_ROUNDS)

Inside that macro, I've tried to add some printf() statements.
I've changed the end sect

[2020-03-27 09:26] xenu commented on #17667
It fails because of the following macro inside 'nostdio.h':
[code]
Either add `#undef printf` to your code or use `PerlIO_printf`.

[2020-03-27 11:47] dur-randir opened #17677 "panic: regrepeat() called with unrecognized node type 3"
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

While fuzzing perl v5.31.9-70-g0c96aa4b7b built with afl and run
under libdislocator, I found the following program

[code]

to emit 'panic: regrepeat() called with unrecognized node type 3='MBOL' at -e line 1.'. Similar panic() can

[2020-03-27 12:16] jkeenan commented on #17557
No one objected, so ... closing.

[2020-03-27 12:16] #17557 closed

[2020-03-27 15:50] hvds commented on #17645
Thanks @tonycoz, and apologies for the delay. Now fixed with e0ab3efe60 (test) and 51c9ef5418 (fix).

[2020-03-27 16:00] brodafly commented on #17675
Thanks for the input! From what I understand this can safely be marked as a false positive in Coverity. I don't suppose any changes in S_newGIVWHENOP should be made in this case.

[2020-03-27 17:34] khwilliamson commented on #17134
I'm sorry; I apparently didn't respond to this, unless I did it on irc.  Anyway, by canary, I meant some function for which we think its presence or absence would mean other similar functions will also be present or absent.

Now, I'm wondering if there's any connection between this ticked and #17668

[2020-03-27 19:15] khwilliamson commented on #15509
Can this ticket be closed?

[2020-03-27 19:15] jkeenan commented on #17664
Per bisection, the `-Wformat` warning first appeared in this commit:
[code]
I have verified this using gcc version 7 on both Linux (unthreaded) and FreeBSD (threaded).
(Linux: gcc 7.5.0; FreeBSD-11: gcc 7.3.0)

[code]

Thank you very much.
Jim Keenan

[2020-03-27 20:36] #17645 closed

[2020-03-27 22:11] Leont commented on #15509
AFAICT it can be

[2020-03-27 23:22] jkeenan commented on #17664
Zefram has supplied a patch on list.  This is available for smoke-testing in this branch:
smoke-me/jkeenan/zefram/ghi-17664-opcode

[2020-03-28 01:48] sisyphus commented on #17667
Thanks @xenu.
I first tried PerlIO_printf().
I supplied PerlIO_stdout() as its first argument, as that has always worked fine for me in the past whenever I've used PerlIO_printf to print to stdout.
But that produces the following runtime error:

./perl: symbol lookup error: ./lib/auto/XS/APItest/APItest.so: undefined symbol: PerlIO_stdout

What's needed as the first argument ?

I then spent some t

[2020-03-28 02:02] khwilliamson commented on #17667
On 3/27/20 7:48 PM, sisyphus wrote:

Here's something that works, as a template

PerlIO_printf(Perl_debug_log, "\nParse position is:%s\n", RExC_parse);

That should obviate the need for anything else.

You can wrap that in a

DEBUG_U(PerlIO_printf(Perl_debug_log, "\nParse position is:%s\n",
RExC_parse));

And it won't print unless -DU is specified on the command line.
(This all needs to be compile

[2020-03-28 10:25] Leont commented on #17601
The problem here is that some of the test-cases have a subdir that is set to LINKTYPE=static in the subdir-Makefile.PL, but then during make the LINKTYPE=dynamic is passed through.

I'm rather wondering why we pass through LINKTYPE in the first place, I don't think I've ever seen a non-static subdir.

[2020-03-28 13:00] scop opened #17679 "$Data::Dumper::Indent=2 does not line up hash values"
Module: Data::Dumper

**Description**

Docs for `$Data::Dumper::Indent` read:

However, either I don't understand the intent of "value lines up" (which I gather should be "values line up"?), or they don't.

**Steps to Reproduce**

[code]

**Expected behavior**

With values lined up, I'd expect to see something like:

[code]

**Perl configuration**

[code]

[2020-03-28 18:16] jkeenan commented on #17679
I believe you have stumbled upon documentation that has been erroneous since it was first written in 1998.
[code]
Similar results in perl-5.30.0 and Perl 5 blead.  AFAICT, setting `2` (the default) is nothing more than a less compact setting `1`.
[code]
List:  Are these observations correct?

Thank you very much.
Jim Keenan

[2020-03-28 18:43] KES777 opened #17680 "[doc] Provide more examples in synopsis please"
**Where**
https://perldoc.pl/open.html

**Description**
Please provide more examples how to combine subpragmas

I have tried:
[code]

When actually should:

[code]

[2020-03-28 19:19] jkeenan commented on #17680
I don't see any evidence in either `perldoc open` or in `lib/open.t` that the "multiple layers in a single string" syntax you were attempting in your Description is expected to work.  Consider the following two programs.  In the first, the multiple layers are a **list** of arguments to `use open`.
[code]
Now, let's revise the program to place **multiple layers in a single string** rather than in a

[2020-03-28 19:39] KES777 commented on #17680
@jkeenan  As noted by Grinnz the `:std` is not a layer at all ;-)

[2020-03-28 20:04] jkeenan commented on #17680
If that is a bug, it's a separate bug -- so it should appear in a different GH issue.

However, that's a big "if".  Here is a list of files in the core distribution where ':std' is used as an argument to `use open`:
[code]

[2020-03-28 20:17] Grinnz commented on #17680
`:std` is not a layer. It is a parameter for open.pm that changes its behavior (specifically, causes additional behavior).

open.pm does not document how to apply multiple layers, and ':foo :bar' is the format it expects. I will work on a patch.

[2020-03-28 23:51] richardleach commented on #17576
#17649 is still pending, but there's nothing more to do on this issue otherwise, so I'm going to close it.

[2020-03-28 23:51] #17576 closed

[2020-03-29 01:04] richardleach commented on #16804
Good news:  Got a MSVC build working.
Bad news: The above doesn't work (or doesn't work without something else being changed). Back to that MakeMaker::Test::Setup::XS snippet:
[code]
$MM is a PACK001 object and $MM->can_dep_space:
1. returns 1
2. Doesn't hit the can_dep_space subroutine in MM_Win32.pm on the way...

[2020-03-29 03:44] richardleach commented on #16804
Confirmed that the suggested fix for 02-dynamic.t does work. Upstream PR at https://github.com/Perl-Toolchain-Gang/ExtUtils-MakeMaker/pull/351

[2020-03-29 11:58] eserte opened #17681 "BBC: LNATION/Devel-Required-0.15.tar.gz fails with perl 5.31.10"
See http://fast-matrix.cpantesters.org/?dist=Devel-Required%200.15 --- there are no pass reports with released 5.31.10 (though there are some passes for pre-release versions of 5.31.10).

[2020-03-29 14:30] hvds commented on #17681
The code does this in a BEGIN block to find the `WriteMakefile()` sub to overload:
[code]
.. and the `caller()` is now returning `Devel::Required`; changing that to `caller(2)` allows tests to pass (but I don't know offhand if that works on older perls).

@iabyn this appears to be further fallout from "avoid identical stack traces". I'm a bit concerned that problems like this may affect a bunch of

[2020-03-29 20:30] #17668 closed

[2020-03-29 23:59] tonycoz commented on #17134
I don't think so, if it did have an effect it would be bus errors or segmentation faults

[2020-03-30 00:32] tonycoz commented on #17675
What options are you building perl with? I don't see this in our Coverity runs.

[2020-03-30 03:04] jkeenan commented on #17664
Following code review by @tonycoz, I merged this branch into blead in commit 95b7e3a36a7719a93600fbdbe66b690717cdff2d.  Will monitor smoke-test reports for several days, then close ticket.

Thank you very much.
Jim Keenan

[2020-03-30 08:33] shrisn opened #17684 "Version v5.26.1 Error when using !#/usr/bin/perl -F"
ErroR:
Error when using perl version 5.26.1 with -F option in the perl script.

Reproduce:
cat test1.pl
#!/usr/bin/perl -F
print("Test\n");
print("$ARGV[0]\n");

Run:
./test1.pl test
Can't open test: No such file or directory.

Version:
/usr/bin/perl -v

This is perl 5, version 26, subversion 1 (v5.26.1) built for x86_64-linux-thread-multi

Copyright 1987-2017, Larry Wall

Perl may be copied only

[2020-03-30 09:35] shlomif commented on #17684
Hi @shrisn !
On Mon, 30 Mar 2020 01:33:36 -0700
shrisn <notifications@github.com> wrote:

This seems expected and reasonable given
https://perldoc.pl/perlrun.html (perldoc perlrun):

$ perl -F -E '' notexist
Can't open notexist: No such file or directory.

So I think it is not a bug.

--

Shlomi Fish       https://www.shlomifish.org/
Apple Inc. is Evil - https://www.shlomifish.org/open-source/anti

[2020-03-30 09:43] shrisn commented on #17684
Hi @shlomif ,

Thank you. But the same thing works fine when I run from the perl version 5.10.1
 /usr/bin/perl -v

This is perl, v5.10.1 (*) built for x86_64-linux-thread-multi
Copyright 1987-2009, Larry Wall

cat test.pl
#!/usr/bin/perl -F
print("Test\n");
print("$ARGV[0]\n");

Output:
./test.pl string
Test
string

It does not throw any error.

[2020-03-30 10:47] shlomif commented on #17684
On Mon, 30 Mar 2020 02:43:38 -0700
shrisn <notifications@github.com> wrote:

Hi @shrisn ,

I think in newer perls -F implies -n and -a or similar (for convenience). So it
was done on purpose.

--

Shlomi Fish       https://www.shlomifish.org/
Escape from GNU Autohell - http://www.shlomifish.org/open-source/anti/autohell/

It takes Summer Glau exactly a minute to write a rebuttal like in
xkcd: “Ven

[2020-03-30 12:34] brodafly commented on #17675
Hello,

These are the args passed to Configure which is invoked through a python script, hence the synthax:

[code]
Is that the info you needed?

Best regards,
Stoyan

[2020-03-30 12:45] iabyn commented on #17681
On Sun, Mar 29, 2020 at 07:30:40AM -0700, Hugo van der Sanden wrote:

Not really, apart from pulling the fix altogether.

Previously perl screwed up the stack backtrace within BEGINs; now caller()
returns the correct values. Seems like a binary choice - keep the fix,
or revert to the broken behaviour for backwards compatibility.

Of course if we revert now, we screw up any distributions which have

[2020-03-30 14:05] hvds commented on #17681
Ok, I've opened https://rt.cpan.org/Ticket/Display.html?id=132269 against Devel::Required.

I think we'll need at least to highlight this prominently in 5.32 perldelta.

[2020-03-30 19:08] haukex commented on #17626
I just wanted to point out I wrote a perlcritic policy for this once: <https://www.perlmonks.org/?node_id=1180082> and @perlancar released it at [Perl::Critic::PolicyBundle::PERLANCAR::Variables::ProhibitFatCommaInDeclaration](https://metacpan.org/pod/Perl::Critic::PolicyBundle::PERLANCAR::Variables::ProhibitFatCommaInDeclaration)

[2020-03-30 22:40] khwilliamson commented on #17677
This is the result of \A being marked as matching a single character, which of course it doesn't.

I was planning to fix this in early 5.33.  Is that sufficiently soon?

[2020-03-30 23:00] dur-randir commented on #17677
Since it's experimental, I don't think it's too bad leaving it as-is, but maybe it deserves a note somewhere in caveats section.

[2020-03-30 23:55] tonycoz commented on #17675
It is, thanks.

The main difference I can see that could have an effect is that I build with -DDEBUGGING.

Since this issue is a false positive, I'm closing it.

[2020-03-30 23:55] #17675 closed

[2020-03-31 10:07] sisyphus commented on #17667
I've come up with amendments to hv_macro.h and ext/XS-APItest/APItest.xs that fix the failures.
I've forked blead by hitting the "Fork" button.
I've cloned my fork to my local machine:

$ git clone git@github.com:sisyphus/perl5.git bleadfork

In my local bleadfork repo I've replaced hv_macro.h and ext/XS-APItest/APItest.xs with the fixed versions of those files.
And I've committed and pushed my ch

[2020-03-31 10:12] sisyphus commented on #17667
Ooops - probably not important, but I missed out on the copy'n'paste of the hv_macro.h commit, which preceded the APItest.xs commit:

$ git commit hv_macro.h --file=mhv_macro_h.txt
[blead 85bbd28] hv_macro.h - make it the same code for all endiannesses.
 1 file changed, 19 deletions(-)
 mode change 100644 => 100755 hv_macro.h

[2020-03-31 13:08] jkeenan commented on #17527
@smith153 released Time-Piece version 1.34 to CPAN and I merged it into Perl 5 blead on March 10.  I haven't observed any smoke-test failures since.  I will take this ticket for the purpose of further monitoring and close it in 7 days unless we get an objection.

Thank you very much.
Jim Keenan

[2020-03-31 15:15] soig commented on #17154
I would be interested in a backported fix for 5.30 as it affects nginx: See https://bugs.mageia.org/show_bug.cgi?id=26397

[2020-03-31 18:48] #15509 closed

[2020-03-31 18:53] khwilliamson opened #17685 "MakeMaker t/03-xsstatic.t test failures on AIX 5.3"
Module: MakeMaker

**Description**

I'm now getting a different failure on
AIX 5.3.0.0/TL12-05  IBM,9115-505 PowerPC_POWER5/1898(2)  3920 Mb

#       ld:accessx(): A file or directory in the path name does not exist.
# make: 1254-004 The error code from the last command is 255.
#
#
# Stop.
# make: 1254-004 The error code from the last command is 2.
#
#
# Stop.
# Looks like you failed 6 tests of 36

[2020-03-31 18:59] khwilliamson commented on #17685
My clumsy pasting in the ticket description left out the most important detail:
`ld: 0706-004 Cannot find or read export file: /perl/usr/khw/devel/lib/5.32.0/aix-thread-multi/CORE/../../../../perl.exp
`
I don't know if this is a configuration error perhaps.

[2020-03-31 22:38] khwilliamson commented on #17667
On 3/31/20 4:12 AM, sisyphus wrote:

I went through a few contortions, but have pushed your patches to
http://perl.develop-help.com/?b=smoke-me%2Fkhw-sisyphus

There are porting failures because those files should not have the
execute bit set.  I changed that locally and bumped a VERSION number,
then tested on 4 bigendian boxes that I have access to.  Things worked
on 3, and the fourth is painfull

[2020-03-31 22:48] dur-randir commented on #17667
https://github.com/Perl/perl5/compare/Perl:blead...sisyphus:blead is the proper link to pull your changes in.

[2020-04-01 00:03] tonycoz commented on #17684
-F implying -n was added in 5.20, as @shlomif says, this isn't a bug.

[2020-04-01 00:03] #17684 closed

[2020-04-01 04:18] sisyphus commented on #17667
Hmm ... that's happened before, when I start messing with files on Linux.
Is there a chmod command that I can run on the amended files to make sure that I haven't mucked that execute bit up ?

A couple of points:
The original hv_macro.h had U8TO64_LE return different values between big-endian and little-endian.
Removing the endianness considerations from hv_macro.h means that U8TO64_LE returns the

[2020-04-01 04:42] tonycoz commented on #17662
It's unclear to me - are you setting/resetting $SIG{CHLD} continuously over the life of the program, or setting it once?

Net::Server appears to only set it on startup.

[2020-04-01 06:06] xsawyerx commented on #17197
I think this discussion has derailed somewhat (though not entirely).

I'll try to recap so we could determine where to move forward:

* Github is required for submission of tickets - all tickets. We hoped we made that clear and I apologize it wasn't 100% clear. The reason is for authentication and credibility. SPAM being one of the most difficult things for the RT setup, we decided to pick a solut

[2020-04-01 06:13] xsawyerx commented on #16300
@tonycoz does this mean the fix is not in blead anymore?

Considering this list, my main concerns are whether they are still being maintained and whether the authors are able to produce new versions with the fixes. Considering these modules haven't had a release in a while is less concerning to me, especially due to the fact that the authors are highly responsive (at least the biggest releaser on

[2020-04-01 06:19] Grinnz commented on #17197
https://github.com/Perl/perl5/pull/17651 implements the steps mentioned, btw.

[2020-04-01 06:19] jidanni commented on #17197
All I know is
[code]
I.e., not one peep. I would just put the words "See GitHub (https...)" atop this and the command output.

[2020-04-01 06:20] Grinnz commented on #17197
`perlbug`, not `perldoc`

[2020-04-01 06:21] jidanni commented on #17197
Oh yeah,

[code]

[2020-04-01 06:23] Grinnz commented on #17197
The documentation is already updated: https://perldoc.pl/perlbug

[2020-04-01 06:24] xsawyerx commented on #17059
While I want to keep this ticket open in order to track the CPAN distribution, I don't see this as a blocker.

Any strong objections?

[2020-04-01 06:29] xsawyerx commented on #17072
I reached out to the maintainer. I don't know if I'll get a response. Still not sure what decision to make here.

[2020-04-01 06:41] xsawyerx commented on #17170
@pjcj Without pushing you at all, what is the status of it or when do you think you'll have time to approach this? `Devel::Cover` is pretty high on the list of things we cannot afford to break, even if the author takes responsibility. We will need to revert our changes unless it is fixed by release time (or fairly soon thereafter).

[2020-04-01 06:43] xsawyerx commented on #17171
I don't consider this a blocker for 5.32. I want to keep the ticket though.

Any strong objections?

[2020-04-01 06:49] gflohr commented on #17662
The original program itself did not touch `$SIG{CHILD}` at all.  Now, this workaround has been added:

[code]

This is now executed before any `fork()`.  At this point, `$SIG{CHILD}` was `undef`, when using the `Net::Server::Single` personality. Setting it to "DEFAULT" instead should be a noop but as a matter of fact, it makes the error vanish.

When using `Net::Server::PreFork`, the children died

[2020-04-01 06:51] xsawyerx commented on #17243
All reports show failure on `Acme-POE-Tree`, but if the testing machines use older versions of CPAN/POE, that might be the cause.

Considering `POE` works (which is what truly matters) and the reported problem is on an `Acme` module, I'm not inclined to keep this as a blocker.

Strong objections?

[2020-04-01 06:56] xsawyerx commented on #17174
I don't understand where we're standing on this. @leonerd can you provide your view of it?

[2020-04-01 06:58] xsawyerx commented on #16915
I think we can resolve this ticket and open a ticket for the test we want to write. I don't consider this a blocker anymore since the BBC tests pass.

Any strong objections?

[2020-04-01 07:59] xsawyerx commented on #17567
I think we're ready to close this.

[2020-04-01 08:57] pjcj commented on #17170
Thanks for the reminder.  Yes, I somehow need to just find some time to look at it.  I think I still have a couple of weeks, right? :)

Please don't revert the changes.  Dave's work in this area is really important.  In fact, if I could pick one area of perl to be further improved it would be the signature work so I certainly don't want to be the cause of slowdowns here.

[2020-04-01 09:25] xsawyerx commented on #17663
Here's hoping this is the case. We can look in the author if we confirm it's a test script that needs an update.

[2020-04-01 09:28] xsawyerx commented on #17663
Sorry I keep responding to earlier comments. I'll ping the author.

[2020-04-01 09:33] xsawyerx commented on #17553
So where are we with figuring out the solution?

[2020-04-01 09:40] xsawyerx commented on #17392
I cannot ask Dave to write such a patch if he is not interested in it. He experienced enough to step back and not get involved. I understand and support it.

@tonycoz, do you think there's enough information here for you to try and come up with a patch for it? Todd will be handling the communication with the author.

[2020-04-01 09:42] xsawyerx commented on #17392
In any case, we still need to determine if this is a blocker. I think it should stay a blocker and forces us to revert if we cannot resolve it one way or the other. Considering we haven't reached out to the author yet, we need to do that first. (Hopefully with a patch.)

[2020-04-01 09:46] subrook commented on #17197
[If comments can be edited after they're posted, it would substantially reduce confusion if xsawyerx could change the five instances of `perldoc` in his last comment to the intended `perlbug`.  Or is this his subtle April Fool's joke?]

[2020-04-01 09:50] xsawyerx commented on #17268
@arc  @tonycoz ping.

[2020-04-01 09:54] xsawyerx commented on #17266
Seems like a bug in the module itself, assuming on what the op flag is, no?

[2020-04-01 11:37] jkeenan commented on #17059
Just now I posted a nudge to the distro's author in https://rt.cpan.org/Ticket/Display.html?id=129909.  The distro itself hasn't been updated since 2007, so it may be effectively dead.  Ticket can stay open but definitely not a blocker.

Thank you very much.
Jim Keenan

[2020-04-01 11:40] jkeenan commented on #17171
No.  Keep open but not a blocker.  The reason for the BBC was a deprecation announced two production releases ago, so maintainers have had plenty of time to adapt.

Thank you very much.
Jim Keenan

[2020-04-01 11:42] jkeenan commented on #17243
On 4/1/20 2:51 AM, Sawyer X wrote:

No objection.  POE is passing CPANtesters.  This is not a blocker.

Thank you very much.
Jim Keenan

[2020-04-01 11:44] #17567 closed

[2020-04-01 12:50] khwilliamson commented on #17643
Duplicate of #17654

[2020-04-01 12:55] khwilliamson commented on #17667
Is there a chmod command that I can run on the amended files to make sure that I haven't mucked that execute bit up ?

If you run Unix chmod on the files, it causes git to mark them as modified, so you just have to commit them to get that fixed.

"The endianness consideration in hv_macro.h is demonstrably unnecessary, seemingly unprecedented, and not of any apparent use.
Removing it simplifies the

[2020-04-01 13:28] sisyphus commented on #17174
@xsawyerx, I realize that your question was not directed to me, but  I have information that I feel may be relevant to your question.
The previous post in this thread to which you've posted (ie https://github.com/Perl/perl5/issues/17174) referenced https://github.com/Dual-Life/Scalar-List-Utils/pull/84 .
Things have moved on since then, and trying to make sense of everything from within the confin

[2020-04-01 14:30] khwilliamson commented on #17677
FWIW, I suspect there are patterns not using the experimental feature that could cause this to happen.

[2020-04-01 15:29] iabyn commented on #17266
On Wed, Apr 01, 2020 at 02:54:23AM -0700, Sawyer X wrote:

Yes. I've already reported it to the author with

    https://github.com/rocky/Perl-Devel-Trepan-Disassemble/issues/1

but the author didn't seem very keen on fixing it since the module is
low-usage.

--
O Unicef Clearasil!
Gibberish and Drivel!
    -- "Bored of the Rings"

[2020-04-01 15:29] dur-randir commented on #17677
It's bad, since I've blacklisted this particular output from results, so I can't tell if I see it on other patterns or not.

[2020-04-01 18:05] toddr commented on #17197
done.

[2020-04-01 19:57] khwilliamson commented on #17039
I rebased the patch, and am smoking it at https://git.io/Jvd6h
@jkeenan could you see if it passes things the previous versions failed on; or were those irrelevant to this patch?

[2020-04-01 20:51] haarg commented on #16300
The majority of the dists are from ADAMK, who is not active at all, but he has given blanket permission for some people to take over his modules.

[2020-04-01 21:21] jkeenan commented on #17039
I built perl in the smoke-me/khw-mb branch at v5.31.10-26-ge37211489e with these config_args:
[code]
I then ran:
[code]
That **may** resolve the test failures.  But I can't be very confident of my results because (a) when I build perl with address sanitizer my computer slows to a halt during `make test_harness`, makes it impossible to toggle between programs and forces me to reboot; (b) my Linux k

[2020-04-01 21:28] Leont commented on #17392
The following patch fixes the issue (tested on 5.24.0 and 5.31.10):
[code]

[2020-04-01 23:00] jkeenan commented on #17392
With @Leont's patch, I was able to install Async::Interrupt on unthreaded builds on Linux for the following production versions and also on a post-5.31.10 blead.
[code]
With that patch I was also able to install Async::Interrupt against a threaded post-5.31.10 build on FreeBSD-11.

Thank you very much.
Jim Keenan

[2020-04-01 23:47] jkeenan commented on #17392
Also was able to install Async::Interrupt on NetBSD-8.0 and OpenBSD-6.6.  Example:
[code]

[2020-04-02 00:20] tonycoz commented on #16300
Correct, the code in perl.c:

[code]

I have no objections to re-reinstating the fix.

[2020-04-02 01:50] sisyphus commented on #17667
Do you still want a pull request ?
Thinking back, that execute bit has been set in the past by simply running
dos2unix and/or unix2dos. So I probably just need to avoid doing that.

Cheers,
Rob

On Wed, Apr 1, 2020 at 11:55 PM Karl Williamson <notifications@github.com>
wrote:

[2020-04-02 01:51] karenetheridge commented on #16300
I have comaint on most of them, and have been doing releases for distributions higher on the cpan river, or when someone squawks (e.g. filing an RT ticket). Many of these distributions have no reverse dependencies at all though so I have not been feeling it is urgent to make updates to them.

[2020-04-02 02:32] khwilliamson commented on #17667
On 4/1/20 7:51 PM, sisyphus wrote:

I would like a pull request

[2020-04-02 04:41] khwilliamson commented on #17553
On 4/1/20 3:33 AM, Sawyer X wrote:

I got this conflated with another DOLMEN ticket, and thought it fixed.
I've started working on it.

[2020-04-02 04:56] tonycoz commented on #17268
What appears to be happening here is that yyl_try() and yyl_fake_eof() are recursively calling each other for each comment or blank line of the filtered input.

For the test case the first non-(blank, comment) line is line 50019, and the typical stack won't handle that many recursion levels.

This was changed with the tokeniser re-work done around p5h.

I'm looking at a possible (moderately ugly)

[2020-04-02 10:01] ribasushi commented on #17663
On a **very** cursory glance https://github.com/Perl/perl5/issues/17663#issuecomment-602262782 looks like an outright regression in perl that should be fixed ( a proper bugfix likely wouldn't be predicated on `$]`-gating ). Before making any changes to DBIC I will need to analyze this way more substantially.

As many others in our profession, I am currently heads down busy keeping my job. Thus I a

[2020-04-02 13:33] khwilliamson commented on #17667
[https://github.com/Perl/perl5/commit/ccb5da6dfde4d376aa25623b9fae885ad86ce728](url) fixed this

Thanks

[2020-04-02 14:13] leonerd opened #17689 "parse_subsignature() gets confused about empty parens `()`"
The newly-added (perl 5.31.3) core function of `parse_subsignature()` is for parsing the inside contents of a sub signature; for example it will extract the `$x, $y` part of

    sub foo($x, $y) { $x + $y }

When facing an empty paren `()` it however fails; it increments the value of `PL_parser->error_count` despite yielding a valid op tree for the empty sig. This is currently causing a CPAN modul

[2020-04-02 14:18] khwilliamson commented on #17039
@xsawyerx I would like permission to merge this patch for 5.32  It is very low risk, as it affects just one .t file that didn't even exist in 5.30, and makes life easier for our downstream Debian partners.  And it fell through the cracks for months.  I have tested that things fail before the patch is applied in the situation it applies to, and pass after it is applied.

[2020-04-02 14:20] leonerd commented on #17689
Further analysis by a bunch of different test cases reveals a curious behaviour. By using test code like

[code]

we can see the buffer pointer just before and just after the function runs. For any correctly-parsed signature, the buffer pointer is left facing the closing paren `)` :

[code]

Yet when given a sub with the empty parens `()` it skips over that close paren and reports an error:

[code

[2020-04-02 15:18] #17654 closed

[2020-04-02 15:19] #17643 closed

[2020-04-02 15:24] khwilliamson commented on #17392
Is there a reason not to apply this?

[2020-04-02 15:56] jkeenan commented on #17392
It has to be applied upstream on CPAN.  It's not patching blead, nor does Async-Interrupt ship with core.

[2020-04-02 16:07] toddr commented on #17392
Looks simple. Does everything work above 5.31.6? what are we disabling? Was he overriding a core perl function there?

[2020-04-02 16:27] leonerd commented on #17689
I've just put a new version of XS-Parse-Sublike on CPAN which contains a workaround for this core issue:
https://metacpan.org/source/PEVANS/XS-Parse-Sublike-0.07/lib/XS/Parse/Sublike.xs#L76-93

As such I think I can remove the BBC tag. The underlying issue remains however.

[2020-04-02 17:03] leonerd commented on #17689
Further investigation by injecting lots of `warn()` calls into the action blocks of `perly.y` reveals this paren-skipping behaviour to be at some awkward point I can't quite narrow down.

[code]

If we inspect a correct case; for example the API test case `(subsignature $one = 1)` we get:

[code]

This is all much as we expected. The `subsigguts` setup code didn't move the pointer, the middle part

[2020-04-03 01:20] jkeenan commented on #16300
Yesterday I (re-)created branch `smoke-me/jkeenan/gh-16300-module-install` in which I (re-)applied this patch on top of `blead`.
[code]
I then installed that branch on FreeBSD-11, installed `cpanm` against that `perl`, and used `cpanm` to attempt to install the list of modules posted in this ticket (https://github.com/Perl/perl5/issues/16300#issuecomment-567195078) on Dec 18 2019 (except the `Acme

[2020-04-03 01:29] jkeenan commented on #17105
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=239520#c11

"This will be fixed in [FreeBSD-]11.4 and 12.2."

[2020-04-03 12:08] toddr commented on #16300
@karenetheridge, Am I correct that if an up to date Module::Install::DSL is installed, then the file inc/Module/Install/DSL.pm located with the CPAN distro is not used? If so that reduces the scope of this problem, right?

[2020-04-03 16:20] Leont commented on #17392
It appears so.

Two arguments that are only used for unsafe signals, not for safe signals.

Yes, the handler for safe signals.

[2020-04-03 20:14] #17486 closed

[2020-04-04 03:00] karenetheridge commented on #16300
Not really. In the end, the local version takes over: https://metacpan.org/release/Module-Install/source/lib/Module/Install.pm#L3-17

[2020-04-04 05:44] jeffythedragonslayer opened #17691 "[doc] Dead link on wall.org"
A few years ago, I briefly thought that Perl was a no longer under active development due to this dead link:

http://www.wall.org/~larry/perl.html

[2020-04-04 06:33] Grinnz commented on #17691
Is this linked somewhere in the documentation? wall.org is Larry Wall's personal website, and so the Perl developers have no responsibility for it.

[2020-04-04 06:55] shlomif commented on #17691
Hi Dan, Jeff & all!

On Fri, 03 Apr 2020 23:34:01 -0700
Dan Book <notifications@github.com> wrote:

Running:

[code]

in the perl5 repo gives no results.

--

Shlomi Fish       https://www.shlomifish.org/
Funny Anti-Terrorism Story - https://shlom.in/enemy

“The best time to plant a tree was 20 years ago. The second best time is now.”
    – A Reported Proverb

Please reply to list if it's a mailin

[2020-04-04 07:18] jeffythedragonslayer commented on #17691
His personal website appears in the manpage as an email address domain under AUTHORS, but not that particular page directly.

[2020-04-04 08:31] briandfoy opened #17692 "Chained comparison evaluates tied scalar twice"
**Description**

The perlop docs describe the current behavior, so this doesn't contradict anything.

A chained comparison in 5.31.10 appears to evaluate the middle condition twice for a tied scalar but doesn't warn about it. Since a programmer might not realize they are using a tied variable, they might see odd behavior.

**Steps to Reproduce**

	use v5.31.10;

	package UnstableScalar {
		use par

[2020-04-04 09:27] shlomif commented on #17691
On Sat, 04 Apr 2020 00:18:44 -0700
Jeff Linahan <notifications@github.com> wrote:

Apparently there is a link on this page: http://www.wall.org/~larry/ - titled
"Perl". You'll need to contact Larry Wall about restoring it.

--

Shlomi Fish       https://www.shlomifish.org/
Escape from GNU Autohell - http://www.shlomifish.org/open-source/anti/autohell/

Larry Wall has been changing the world. By mo

[2020-04-04 11:45] jkeenan commented on #17691
There's no bug in Perl 5 here, so, closing.

Thank you very much.
Jim Keenan

[2020-04-04 11:45] #17691 closed

[2020-04-04 18:46] jkeenan commented on #16300
I then repeated this `cpanm` process on Linux.  The list of FAILs was almost exactly the same as those above.  None of the FAILs could be attributed to Module::Install.  With two exceptions, rt.cpan.org tickets or github issues already existed for these distributions.  I created or updated tickets for the remainder.

Thank you very much.
Jim Keenan

[2020-04-04 18:58] shadowcat-mst commented on #17663
BEGIN is executed directly during compilation - so I'd argue that this change, while technically more correct on an abstract level, massively violates user expectations and at least for BEGIN blocks needs to be reverted.

@xsawyerx free opinion, worth exactly what you paid, but POLS/DWIM sayeth the old behaviour is way more ergonomic IMO

[2020-04-04 19:20] xsawyerx commented on #17663
I appreciate you took the time for a cursory look at this during this time. Based on your feedback and @shadowcat-mst's, we will review this fix once more.

FWIW, I have no interest to ship a Perl that breaks DBIx::Class.

[2020-04-04 19:53] jeffythedragonslayer commented on #17691
Alright, I send him an email.

[2020-04-04 23:45] xsawyerx commented on #17392
@toddr Can you submit this to the author?

[2020-04-05 00:09] toddr commented on #17392
yep

[2020-04-05 05:16] jimav opened #17694 "Anon sub with PROTO"
This is a bug report for perl from jim.avera@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.28.1.

------------------------------------
"man perlsub" says:

which is true; however AFAIK the docs do not say how to actually make  the prototype do anything, i.e. be enforced.  Is this documented anywhere?

I was hoping that if the subref was assigned to `*someglobal` then call

[2020-04-05 05:22] Grinnz commented on #17694
Prototypes are enforced in the parsing stage, so the assignment you've done there has not happened until after those sub calls are parsed. Since they're called with parentheses, they delay the symbol lookup until runtime, but I assume the prototype enforcement is not done a second time in that case. (In any case, signatures are of course a far better reliable arity check that doesn't introduce con

[2020-04-05 05:32] xsawyerx commented on #17174
@sisyphus I appreciate the thorough rundown and the valuable, tireless work you've done on this. I would like to see these changes merged into Scalar-List-Util and have it merged within a development release.

@leonerd can you give an update on Dual-Life/Scalar-List-Utils#100?

[2020-04-05 05:53] xsawyerx commented on #17197
Nice catch. Sorry for the confusion! :)

[2020-04-05 06:02] xsawyerx commented on #16300
I would like to reintroduce @tonycoz's patch.

Any objections?

[2020-04-05 06:07] #17243 closed

[2020-04-05 06:15] xsawyerx commented on #17170
Thank you for supporting this change.

You have a bit of time and I imagine you have other priorities as well. If there's any way we can help you with this, please let us know. I'll send balloons and alcogel to your house if it helps speed things up. :)

[2020-04-05 06:18] xsawyerx commented on #17553
Do you think it will be ready by the 20th?

[2020-04-05 06:28] xsawyerx commented on #17266
Considering the author is not interested in fixing this due to low usage, I am removing this as a blocker.

[2020-04-05 06:34] xsawyerx commented on #17692
I consider a single FETCH to be correct user behavior.

[2020-04-05 11:01] khwilliamson commented on #17553
I have isolated the pattern that causes the problem:
[failing.pl.gz](https://github.com/Perl/perl5/files/4421173/failing.pl.gz)

I am looking at it, but it may very well be in the optimization portion that @hvds is more familiar with than I.  Looking at the program before optimization doesn't show any obvious flaw to me. I note that it has more than 65K worth of nodes, but apparently none jump far

[2020-04-05 11:02] khwilliamson commented on #17553
I believe @hvds has this under control

[2020-04-05 12:14] #17593 closed

[2020-04-05 12:35] khwilliamson commented on #17105
So what does Perl do in response.  Re-reading the thread, it seems to me we should set the hints file to not use thread safe locale handling before the fixed versions.  Or is thread safety so important that we live with the leak in them.

[2020-04-06 01:21] tonycoz commented on #17662
Which other libraries are being used by the process?  For example database drivers.

[2020-04-06 05:04] haarg commented on #16300
I'm not certain that people have been looking at the correct commits.

0301e899536a22752f40481d8a1d141b7a7dda82 is the original commit that broke modules using Module::Install::DSL.

This was later adjusted in two different commits.

9f9606382c45ba5e9600dddf96abfe956762af99 is a partial revert by Dave Mitchell to fix issues with embedded perl.  This is related to #16565, not this issue.  This is t

[2020-04-06 18:27] karenetheridge commented on #17692
should this be a 5.32 blocker?

[2020-04-06 18:57] jkeenan commented on #17692
This is already on the "Milestone 5.32.0" list -- which I take to be the 'blocker' list for 5.32.

[2020-04-06 22:53] smith153 commented on #17527
I've released 1.3401. In my opinion, this would be a better candidate for blead. It mostly just adds more safeguards and exempts a few test files unless $ENV{AUTOMATED_TESTING} is present. Mostly done to ensure a failing Time-Piece test won't error out a perl install from source. https://github.com/Dual-Life/Time-Piece/compare/1.34...1.3401

[2020-04-06 23:02] jkeenan commented on #17527
Thank you for your continuing attention to Time-Piece.  However, with the release of perl-5.31.10 last month, we're now past the point where committers have _carte blanche_ to merge into blead changes in upstream distributions.  So this will have to await the pumpking's judgment.  @xsawyerx

Speaking for myself, I'm reluctant to see a CPAN distribution with a `$VERSION` -- in this case 1.3401 -- w

[2020-04-06 23:09] Grinnz commented on #17527
1.3401 is not a development release version by any convention I know. A minor revision if anything.

[2020-04-07 04:42] tonycoz commented on #17597
I believe this was fixed by c83b64ee3d2f2626c7c692d434d7e1659b2c05d6.

Can you confirm @greerga ?

There's a similar issue #17601 which tracks a different problem.

[2020-04-07 04:56] tonycoz commented on #17441
Fixed by 2e70af164 which changed this to read:

[code]

[2020-04-07 04:56] #17441 closed

[2020-04-07 05:19] tonycoz commented on #17442
IO::Socket::INET6 isn't distributed with perl.

This really needs a more complete example to track down what's happening (and might not be our problem anyway.)

[2020-04-07 05:49] tonycoz commented on #17157
Fixed by 6212a44b69c4 and a few other follow-up commits.

[2020-04-07 05:49] #17157 closed

[2020-04-07 13:56] iabyn commented on #17689
On Thu, Apr 02, 2020 at 10:03:56AM -0700, Paul Evans wrote:

I've only skimmed this thread, but are you aware of running a debugging
perl with-DpTv which shows in detail what the toker is grabbing from
input and returning to the parser, and how the parser is interpreting
those rules (and what its pushing on or popping off the parse stack).

You could run it against a normal parse with the src cont

[2020-04-07 17:14] toddr commented on #17442
Good catch @tonycoz! I've moved this case to https://rt.cpan.org/Ticket/Display.html?id=124427

[2020-04-07 17:14] #17442 closed

[2020-04-08 00:42] tonycoz commented on #17694
To make the prototype work you'd need to assign to the glob in a BEGIN block so that it's visible at compile time.

If you can require a sufficiently modern perl (5.18 for experimental, 5.26 non-experimental) lexical subs might meet your needs better.

Closing.

[2020-04-08 00:42] #17694 closed

[2020-04-08 00:56] khwilliamson commented on #17366
So, since we are not treating old bugs as 5.32 blockers, this 5.20 one shouldn't be?

[2020-04-08 04:16] greerga commented on #17597
Neither the Windows 10 nor Windows 2000 smoker have an M status on any stage now, so I'd call that fixed.

[2020-04-08 07:26] toddr commented on #17692
Relevant mailing list thread: https://www.nntp.perl.org/group/perl.perl5.porters/2020/04/msg257322.html

[2020-04-08 11:15] shadowcat-mst commented on #17663
@iabyn the more I think about this the more I think our original idea of the logical semantics - i.e. the one you posted upthread and which at first reading I found convincing - was unfortunately mistaken. Lemme go through why I think I was wrong and we'll see if you agree:

Given:

1) A BEGIN block is just an alias for 'sub BEGIN { ... }'
2) The thing that's special about sub BEGIN is its phaser-

[2020-04-08 13:05] #17597 closed

[2020-04-08 19:12] #17664 closed

[2020-04-08 19:18] jkeenan commented on #17543
I believe that since we have provided the original poster with advice and a workaround for his problem, this issue can be closed.

Any objection?

[2020-04-08 19:25] #10437 closed

[2020-04-08 19:32] doughera88 commented on #17543
On Wed, Apr 08, 2020 at 12:19:06PM -0700, James E Keenan wrote:

No objections.  (I supplied a possible patch, but it's not well-tested
low priority, so I don't mind if it falls through the cracks.)
Close it.

Thanks for looking after the queue.

--
    Andy Dougherty		doughera@lafayette.edu

[2020-04-08 19:35] #17543 closed

[2020-04-08 19:45] jkeenan commented on #9766
This ticket was filed years ago from a Windows machine.  I do not have Windows available.  However, I compiled blead just now on Linux with the config options suggested by @Hugmeir.
[code]
Devel-Peek PASSed its tests and was installed.

Does that make this ticket closable (again)?

[2020-04-08 19:46] toddr commented on #9766
I vote yes.

[2020-04-08 19:46] #9766 closed

[2020-04-09 02:11] PhilipSharman commented on #17515
For what it's worth, I'm getting the same error using Perlbrew to install 5.30.2 on OS X 10.13.6 (High Sierra).

[2020-04-09 11:55] xsawyerx commented on #17692
I'm going to revise my position. The semantics do dictate the `FETCH` be done twice. It's only correct. However, user expectation may fall short of that.

Instead, I am in favor of a documentation update as @davidnicol suggested.

[2020-04-09 11:57] xsawyerx commented on #17689
@iabyn What should `parse_subsignature` do when the signature is empty? If it should fail, is there a way to introspect and see that the signature is empty? (`!= NULL`, empty string check, etc.)

[2020-04-09 12:23] briandfoy commented on #17692
David Nicol suggested for the tied case that you capture the variable:

    my $x = ...
    if( 1 < $x < 10 ) { ... }

But, that assumes you know that something is tied, and the point of `tie` is that you don't have to know that. It's a feature where it takes more time to explain the edge case than the common case, and historically that sort of wart has been a pain point for Perl adoption. To effe

[2020-04-09 13:27] xsawyerx commented on #17527
I'm giving this an exception to merge.

[2020-04-09 15:06] #17197 closed

[2020-04-09 15:38] daniel4andre opened #17701 "perldoc does not generate doc properly if run as root and file is not world readable"
If I have a file (in fact a script that uses Pod::Usage to generate man page) that can be read only by root (mode is 0700), perldoc can't generate documentation:
`
perldoc bar.pod
Error while formatting with Pod::Perldoc::ToTerm:
 Can't open bar.pod: Permission denied at /usr/share/perl/5.26/Pod/Perldoc/ToTerm.pm line 113.
`
I get a similar result if directory is readable only by root.

If run by

[2020-04-09 15:44] ilmari commented on #17515
I can reproduce this by appending an existent non-directory to `$PATH`, e.g. `$PWD/harness`:
This makes sense, since `exec` calls `execve("$_/foo",...)` for each entry in `$PATH`, and that gives "not a directory" if a prefix of the path exists but is not a directory.

[code]

[2020-04-09 16:23] karenetheridge commented on #17681
Is the underlying cause of this the same as in #17663?

[2020-04-09 16:53] jidanni opened #17702 "[feature] Allow ".=" or "push" to "append" to hashes"
We can do
[code]
But let's say we first do just
[code]
Alas we can't come along later and do
[code]
Because ".=" can't be used like that...yet (too bad!)

(Well, with minimal disruption of our file, at least we can do:)

[code]

[2020-04-09 17:09] shlomif commented on #17702
@jidanni : wouldn't `push %myhash, @LIST;` be better, given https://perldoc.perl.org/functions/push.html ?

[2020-04-09 17:16] jidanni opened #17703 "[doc] Document if "... for ..." can(not) be used with "my""
perlsyn mentions
[code]
but it doesn't mention that this can also be written
[code]
a fact that certainly should be mentioned there on perl**syn**!

(Sure, it is already mentioned on some other man page, that nobody can
find, as which page it is is not mentioned there on perlsyn's for/foreach discussion.)

OK, once that is fixed we note that perlsyn also mentions
[code]
which we will now know can

[2020-04-09 17:18] jkeenan commented on #17527
Since @xsawyerx has okayed this synch into blead, I'll take care of it later today.

Thank you very much.
Jim Keenan

[2020-04-09 17:36] jidanni commented on #17702
Sounds great. Then one day we could do
[code]

[2020-04-09 17:47] jidanni commented on #17702
No need to add them "at the [end](https://stackoverflow.com/a/31387390/1118719)" of the hash, as hashes have no end / order. Just add them.

[2020-04-09 17:50] jkeenan commented on #17701
For several reasons, I don't think this is a valid bug report for the Perl 5 core distribution.

1. While both Pod::Usage and Pod::Perldoc::ToTerm are shipped with the Perl 5 core distribution, the distributions which contain them are maintained upstream on CPAN.  Hence, the proper place to file a bug report would be at their listed bug trackers:

https://metacpan.org/release/Pod-Perldoc -> https:

[2020-04-09 17:58] jkeenan commented on #17702
No syntax that implies that one can "push" onto a hash or "append" to a hash would be a good idea.  Both carry an implication that hashes are internally ordered.  As pointed out above, they are not.

Hence, I oppose this feature request.

Thank you very much.
Jim Keenan

[2020-04-09 18:13] khwilliamson commented on #17515
You can try out https://github.com/Perl/perl5/pull/17704 for this problem

[2020-04-09 18:14] khwilliamson commented on #17515
In the meantime, clean up your PATH, and things should work

[2020-04-09 18:20] Grinnz commented on #17702
The original solution shown of `%hash = (%hash, ....)` seems perfectly clear to me already.

[2020-04-09 18:21] Grinnz commented on #17702
This can be written in one statement: `@h{'d','e','f'} = (4, 5, 6);`

[2020-04-09 18:22] hvds commented on #17681
#17663 appears to be 3 distinct failures. From the information in that ticket, I'd say that CGI-ProgressBar is almost certainly the same as the case here; App-Framework-Lite is probably the same; and for DBIx-Class I have no clue.

[2020-04-09 18:23] jidanni commented on #17703
OK we see
[code]
However it needs to one day finally mention that our case here is __not allowed__.

[2020-04-09 18:28] jidanni commented on #17702
OK, I hope it is documented somewhere on perldsc, etc.
Anyway it is still rather wasteful that we have to haul back in all the current members of the hash there on the right side of the equation, just to add more members.

[2020-04-09 19:07] jkeenan commented on #17527
Synched into blead with commit a5ebaea1256879b6be6776f2cf8be0a2f3ae2579

Thank you very much.
Jim Keenan

[2020-04-10 00:56] jidanni commented on #17703
I see you added

That's great. But I think you also need to add

examples, else the reader might not grasp the legalese.

[2020-04-10 00:58] Grinnz commented on #17703
There is no example to give, because the syntax does not exist.

[2020-04-10 01:02] jidanni commented on #17702
OK, this is a single operation, and doesn't remake the whole hash from scratch... So the only thing regrettable about it is that it is radically different than how we made the first (a b c) part of the hash...

[2020-04-10 01:11] jidanni commented on #17703
Then simply add:

Note that one cannot convert
- for $j (1..4){print $j}
- for my $j (1..4){print $j}

into postfix form, unless one is willing to give up the "my" and "$j":

- print for 1..4;

[2020-04-10 08:29] daniel4andre commented on #17701
Thank you for your comment. As I can understand the first two points, why do you say that root can't run 'protected_script --man' to see the documentation?

[2020-04-10 10:48] xsawyerx commented on #17350
Noting here that the author has expressed a lack of interest in doing maintenance work on `Devel-Trepan-Disassemble`, in case we wonder why a fix was not applied at any time.

[2020-04-10 10:57] xsawyerx commented on #17527
I'm closing this ticket. Thanks, everyone, for the work.

[2020-04-10 10:57] #17527 closed

[2020-04-10 12:44] hvds commented on #16947
Sorry, I also completely dropped this one. I'll try to dig some more - an initial look shows that the `(?|0|0)` is getting corrupted (wrongly optimized out, despite pointers jumping into it):
[code]
Clearly the first case should have had a "10: TRIE-EXACT[y]" (or possibly "EXACT <y>") that's gone missing.

[2020-04-10 15:59] jkeenan opened #17707 "Move AutoLoader distribution to 'dist/'"
As discussed in https://github.com/Perl/perl5/issues/15866#issuecomment-611982632, we plan (at some date TBD) to move the code for AutoLoader to be fully "blead-upstream."  Currently the code resides under the `cpan/` directory within the core distribution; that would imply that the code is maintained "cpan-upstream."  It turns out that that has never been the case.  From the documentation to `lib

[2020-04-10 17:25] toddr commented on #17707
I've set a milestone for 5.33.1 so we can track the needed work deadline.

[2020-04-10 18:48] jkeenan commented on #17707
A first draft of the transfer can be found in this branch: `ghi-17707-autoloader`.

There is one documentation problem which will have to be addressed.  As a dual-life module, AutoLoader was built to accommodate very early versions of perl.  There is a paragraph in the documentation which refers to the `use vars` pragma, which has been discouraged since the introduction of `our` variables in perl-

[2020-04-10 19:00] jkeenan opened #17708 "Recent commit be8790133a0 breaks quadmath support on Cygwin"
_[Transferred from p5p mailing list; submitted by Peter John Acklam.]_

Hi everyone,

Because of a recent commit, I am no longer able to build Perl with
quadmath support on Cygwin. Version 5.31.9 builds just fine, so after a
"git bisect", I found the bad commit. I have little idea about what
it does, so I have no idea why it causes "make" to fail, but anyway,
here is the bad commit:
[code]
Below i

[2020-04-10 19:03] jkeenan commented on #17708
@pjacklam : made this a git issue.

[2020-04-10 19:09] toddr commented on #17707
https://github.com/Perl/perl5/tree/ghi-17707-autoloader

[2020-04-10 20:11] richardleach commented on #17702
Different, but slices are documented in _perldata_ and provide much more functionality than just this use case, so it's arguably beneficial for users to become familiar with slices.

As in `@h{'d','e'} = (4, 5);` or something different?

[2020-04-11 05:33] jidanni opened #17709 "[doc] perldata slice contradiction"
perldata says

[code]

Well you just did, at %subset = ...
So perhaps rewrite that paragraph.

[2020-04-11 05:35] jidanni opened #17710 "[doc] Some tutorials have drifted into the following section"
Here we see some tutorials have leaked out of the tutorials section,
ending up in the next ("Reference Manual") section.

[code]
Therefore, the "perl" man page needs fixing.

[2020-04-11 06:06] jidanni commented on #17702
OK, that's
[code]
Good.

[2020-04-11 06:06] #17702 closed

[2020-04-11 08:18] richardleach commented on #17710
That's a good point. It (_/pod/perl.pod_) has been like that for over a decade, but if it's deliberate then the rationale for which tutorials go into what section doesn't seem obvious.

This one is an outlier:
`           perlxstut           Perl XS tutorial`
It's actually in the _Internals and C Language Interface_ section, not the _Reference Manual_ section. It should stay where it is IMHO.

Whi

[2020-04-11 10:49] hvds commented on #17708
How very strange: the reference to Perl_ceil has been in regcomp.c since 2018 (cef721997e), this commit just remove the `#ifndef PERL_IN_XSUB_RE` around it so it is now _also_ compiled in re_comp.c.

[2020-04-11 10:59] pedramardakani opened #17712 "unsuccessful make install"
Module:

**Description**

Can not produce a successful build from source. To give you more specific description I ran the `make test` command. As you can see some parts are skipped or failed:
[code]
**Steps to Reproduce**

Run `make install` after depackaging the *perl-5.30.0.tar.gz* file.

**Expected behavior**

Successful build from source after executing `make install`.

**Perl configuration**

[2020-04-11 11:16] akhuettel opened #17713 "run/locale.t test fails in 5.30.2 (Gentoo release, in preparation; same in 5.30.1)"
While packaging 5.30.2 for Gentoo, I noticed failures of run/locale.t
Rechecking 5.30.1, I now see identical failures there too.

Here are the corresponding log snippets.

[code]

**Perl configuration**

(for my installed 5.30.1 which is built exactly the same way)

[code]

[2020-04-11 13:00] hvds commented on #16947
Ok, what's happening is approximately:
* the GOSUB causes us to recurse study_chunk by enframing, over the whole program, while in the middle of considering the set `1: BRANCH => 7: BRANCH => 17: END` for rewriting as a trie
* during that recursed study, the set `10: BRANCH => 13: BRANCH => 16: FAIL` is considered for rewriting as a trie; in the event it spots that it can be optimized even further

[2020-04-11 13:43] hvds commented on #16947
Created PR https://github.com/Perl/perl5/pull/17714 for this.

[2020-04-11 14:04] #17709 closed

[2020-04-11 16:05] jkeenan commented on #17712
...

Yes, that is an unusual pattern of skipped tests.  Let's start from the beginning.  (Note:  Since this is best approached interactively, if you have IRC access, please go to irc.perl.org  \#p5p

1. Go to the directory into which you unwrapped your tarball and call:
[code]
This should get that directory back to its original, unwrapped state.  (Alternatively, just wipe out that directory and un

[2020-04-11 16:20] xsawyerx commented on #16947
Let's have it approved and merged prior to 5.31.11 (in 9 days).

[2020-04-11 16:23] xsawyerx commented on #17039
Approved!

[2020-04-11 16:50] pjacklam commented on #17708
I got a tip from @sisyphus about what was wrong, so I was able to patch the sources so that Perl again builds on Cygwin with quadmath support.

Note that this patch is essentially the same as 291c057a714c4bb419e91e8b00039d61390c42f9. Because of this, I have a feeling that these two patches reveal an underlying problem related to Perl not including the quadmath library everywhere it should, but I d

[2020-04-11 17:11] jkeenan commented on #17708
So, if we stepped back and tried to formulate a generalized version of this problem, would the following be accurate?

_"In one particular environment (the Cygwin simulation of Unix on MSWin32), when we attempt to do a "quadmath build" -- `-Dusequadmath` -- we have to add the `quadmath` library to the list of libraries in the `Makefile.PL` for two specific extensions under `ext/` -- but not to oth

[2020-04-11 19:28] pedramardakani commented on #17712
Thank you for you response Jim.

1. I chose to do the alternative that you suggested (`rm -r` directory and extracted the tarball again)
2. I called: `$ sh ./Configure -des -Dusedevel | tee bug-config.txt` to save the output for your info.
3. Again as you mentioned: `$ make test_prep | tee bug-test-prep.txt`, used `tee` for the same reason.
4. I ran the `$ make test_harness | tee bug-test-harness.

[2020-04-11 21:50] jkeenan commented on #17712
Yes, that is a very startling number of test-time errors.  Your configuration and build output look fine.

So I suspect something is wrong with your system.  Let's try running some of the more fundamental test files.  Run either these:
[code]
or, what amounts to the same thing, these:
[code]

[2020-04-11 21:58] jkeenan commented on #17712
The test failures appear to be associated with file permissions problems and `chmod`.  What you should be getting looks like this:
[code]
Do you have some sort of mask operating there?

[2020-04-11 23:55] khwilliamson commented on #17039
Fixed by https://github.com/Perl/perl5/commit/8f8f6a18de1ce640a226f841deebf018443f872f

[2020-04-11 23:55] #17039 closed

[2020-04-12 03:34] sisyphus commented on #17708
I speculate that ext/re and ext/POSIX are the only two extensions in ext that contain symbols that need to be resolved by libquadmath - and that other extensions therefore have no need to link to libquadmath.

The thing that puzzled me is that this need for ext/re to explicitly link to libquadmath arises only when we get to perl-5.31.10.
Yet, in both, 5.31.9 and 5.31.10, re_comp.c is making the sa

[2020-04-12 03:49] khwilliamson commented on #16947
merged via 869e8e3d61cad86b1cfcb4594f3124e2c3e4bc50

[2020-04-12 04:15] hvds commented on #16947
I want to keep this open for the other types of regexp transformation, I'll look further at those tomorrow.

[2020-04-12 06:20] pedramardakani commented on #17712
I changed directory to `$ cd /unpacked/perl/tarball/dir/t`, ran all the four commands, and saved the outputs to corresponding files. As a bonus, I called `$ ./perl -p harness -v op/require_errors.t | tee bug-require-errors-p.txt` to get the best details I could. The outputs are compressed in a GZ file attached in this comment.
[code]
But I don't know what should I do. Should I change the `chmod` o

[2020-04-12 06:24] Grinnz commented on #17712
You can use a web client like [kiwiirc](https://kiwiirc.com/nextclient/#irc://irc.perl.org/#p5p) to join the IRC channel.

[2020-04-12 09:00] pedramardakani commented on #17712
Thanks guys (@jkeenan @Grinnz and *xenu* on *irc.perl.org/#p5p*) ! So, it looks like Perl shouldn't be built on **NTFS** partitions. *xenu* noted that and believed that **NTFS** couldn't handle UNIX file permissions properly. I simply changed the build directory and the build problem was solved.

[2020-04-12 09:05] pedramardakani commented on #17712
Shouldn't Perl have the ability to check and warn the user that building in **NTFS** wouldn't work?

[2020-04-12 10:57] jkeenan commented on #17712
You should have mentioned NTFS in your original post.  That would have saved a lot of time and effort, as people familiar with NTFS (which I am not) would have immediately honed in on that aspect of the problem.  Everything in your original post suggested that you were working on Linux.

[2020-04-12 10:57] #17712 closed

[2020-04-12 13:41] pedramardakani commented on #17712
@jkeenan It wouldn't be an issue if I knew that :-) That's how we learn. I hope you do understand that I'm not here to waste **your** time and effort. Me and my friends have put so much time into this too. This is the last place I visited, and your mentioning of the *irc* channel did help a lot. Asking about the media I ran the build on was the first question *xenu* asked. So I guess she/he has fa

[2020-04-12 14:45] hvds commented on #16947
@xsawyerx @khwilliamson: I've created PR https://github.com/Perl/perl5/pull/17715 to cover all the other examples I can find of op types being changed during study_chunk.

The nature of the change is the same for each chunk, and in every case I expect the outer frame will eventually see the same ops and make the same decision, so I feel pretty confident this should not introduce problems.

[2020-04-13 12:17] Leont commented on #17681
Yes.

[2020-04-13 12:49] gflohr commented on #17662
`DBD::SQLite` is in use.  Otherwise nothing suspicious.

[2020-04-13 19:19] ilmari commented on #17689
@xsawyerx It should return a standard arg-checking optree with a zero-argument `OP_ARGCHECK`.

[2020-04-14 00:28] tonycoz commented on #17662
I can see a race if a signal is (safe signal) received and marked pending, but the handler is removed before it can be delivered, but I don't see another possibility right now.

Without a reproducible example I don't see a way to debug this.

[2020-04-14 23:39] khwilliamson commented on #17558
On 3/21/20 10:11 AM, iabyn wrote:

Timing information to be consistent should be done consistently with the
same number of parallel jobs.  Doing it with one job is the most
reliable.  Otherwise, succeeding runs after cleaning the workspace learn
from the previous run to schedule tests more intelligently in parallel.

And there is a bug in TAP::Harness which yields inaccurate information
for that s

[2020-04-15 01:52] jidanni opened #17719 "[doc] Add array examples to "each" documentation"
`$ perldoc -f each`
notes that it can now also be used for arrays,
but the examples still are only of hashes.

[2020-04-15 04:22] karenetheridge commented on #17681
As per https://github.com/Perl/perl5/issues/17663#issuecomment-610898635, there is still an open question as to whether this is a fix at all, or an undesired behaviour.  I don't know the answer, but this was a thoughtful post and no one has responded to the concerns raised yet.

[2020-04-15 05:47] tonycoz commented on #17268
The update rebases and fixes a comment and a commit message.

[2020-04-15 06:00] tonycoz commented on #17174
For anyone following along, Scalar-List-Utils 1.55 includes the fix for this.

[2020-04-15 14:38] jidanni opened #17720 "[feature]Use of uninitialized value in concatenation (.) or string message could surely mention a little more"
[code]
gives
`Use of uninitialized value in concatenation (.) or string at line ...`

Would it "be anymore skin off its back" to please mention if it was f or g?
It does if one uses a undefined $f instead of f();
Certainly it could at least mention "the first one" or "the second one" or "the first one and possibly others".

[2020-04-15 17:49] xsawyerx commented on #17174
Thanks, @tonycoz. :)

[2020-04-15 17:49] #17174 closed

[2020-04-15 17:55] xsawyerx commented on #16947
@hvds Thank you for doing the work. I approved it as well.

[2020-04-15 18:04] xsawyerx commented on #17072
At the moment, I'm thinking of making this a non-blocker. The author is w5ill non-responsive, and there's only so far we can go without responsiveness.

A few modules are dependent on this, but not enough to break CPAN considerably.

[2020-04-15 18:06] xsawyerx commented on #17170
Considering the extra month giving the author more time - and the author requesting to not wait for them - I'm inclined to make this a non-blocker as well. This is with the high hopes that a new version of `Devel::Cover` would come out in the next month.

[2020-04-15 18:07] xsawyerx commented on #17268
Can we consider this resolved?

[2020-04-15 18:10] xsawyerx commented on #17392
@toddr I cannot find a ticket for this, nor is there a new version of `Async-Interrupt`. Did you reach out to the author with it?

[2020-04-15 18:17] xsawyerx commented on #17671
@khwilliamson What do you think?

[2020-04-15 18:19] xsawyerx commented on #17685
Do we expect this only on AIX? Because I wouldn't deem that a blocker since it would affect a small portion of people and could be fixed in 5.32.1.

@khwilliamson What do you think?

[2020-04-15 18:24] xsawyerx commented on #17689
@ilmari Thank you. :)

Considering this is no longer a BBC, I'm happy to see this conversation continue but I'm removing it from a blocker.

[2020-04-15 18:29] xsawyerx commented on #17708
@hvds Do you agree with the assessment above? Should we just upload the Makefile.PL?

[2020-04-15 18:33] jkeenan commented on #17708
Also, @khwilliamson have you had a chance to look at this one?

Thank you very much.
Jim Keenan

[2020-04-15 18:36] jkeenan commented on #17072
Has @iabyn (the original committer) commented on this yet?

[2020-04-15 19:02] hvds commented on #17708
What changed is that an #ifdef around the relevant code in regcomp.c changed, so that now it is compiled as part of re_comp.c where before it was #ifdef'd out.

I don't know anything about how libraries are included for modules - I had assumed they'd all be built with the same libs as perl itself. I expect @tonycoz would know more about that, but if the Makefile.PL update works that's probably the

[2020-04-15 19:18] toddr commented on #8338
Perhaps the other option would be to die and indicate that tell is unsupported except on binary? This would potentially also break for a simple UTF8 layer.

[2020-04-15 19:33] toddr commented on #17170
I suggest closing this case. I get that Devel::Cover is a crucial module but Paul does a great job keeping up with production releases.

[2020-04-16 00:18] tonycoz commented on #17708
I've had a go at reproducing this, but wasn't able to get Configure to detect the quadmath library on two different machines, though building a simple test file with `-lquadmath` works fine.

I'll have another go at this today.

[2020-04-16 00:20] tonycoz commented on #17268
Only if the (or "a") fix is merged.

[2020-04-16 00:35] hvds commented on #16947
@khwilliamson++ has merged the second branch, closing now.

[2020-04-16 01:54] tonycoz commented on #17708
I think is the real fix is for EU::MM to include $Config{libs} when linking extensions, just as Win32 does.

This would allow POSIX, re, and any other CPAN XS code that blindly calls ceil(), floor() etc to link correctly with a quadmath build.

If Cygwin had a separate -lm this would be a much more obvious problem since such calls would have failed for default builds, but it doesn't, so the proble

[2020-04-16 03:02] jidanni opened #17721 "[doc] perldata hash slice example will blow up if used for more than depth 1"
perldata says

OK, but it needs to mention more than just one depth,

Else users will extend the analogy presented, and assume

will work !

Also mention there is no way to use a consistent syntax for first vs.
more layers.

[2020-04-16 05:01] ikegami opened #17722 "%foo->@{...} works"
This is a bug report generated with the help of perlbug 1.41 running under perl 5.30.2.

-----------------------------------------------------------------
[Please describe your issue here]

The left side of C<< -> >> is supposed to be an expression that returns a reference.

    $ perl -we'my %foo; %foo->{a} = 1; print "ok\n";'
    Can't use a hash as a reference at -e line 1.

But %foo->@{...} wo

[2020-04-16 05:34] tonycoz commented on #17670
I can't really see us adding capabilities access to the core, as in the perl executable, though their use and implications could certainly be mentioned in perlsec.

We have discussed adding more "batteries" to the perl distribution, but I'm not sure Linux::Capabilities is one we'd add, since it requires the libpcap development headers/libraries, I know I don't have those installed.

[2020-04-16 05:37] jkahrman opened #17723 "Debugger aliases that start with '-' no longer work"
Module: Perl Debugger

**Description**
We have the following debugger aliases:
[code]

As of Perl 5.30.1, the aliases that start with '-' no longer work. I believe I traced the change in behavior to https://github.com/Perl/perl5/commit/7fdd4f080863703d44282c6988834455d129040 by @Smylers

**Steps to Reproduce**
Create a debugger alias that starts with a '-'
[code]

**Expected behavior**
The alias c

[2020-04-16 06:13] Smylers commented on #17723
Sorry about that. The related issue was #13342. Presuming aliases starting with hyphens (or other punctuation characters) are permitted, then that commit would indeed have broken them, with:

    m{\A(.\b|\S*)\s*(.*)}s

spotting an undesired word boundary between the hyphen and the rest of your alias.

One possibility would be to change the dot to a character class of single-character debugger com

[2020-04-16 06:22] jkahrman commented on #17723
That looks complete based off of the output of 'h', but I went the negative route in the regex:
[code]
https://github.com/Perl/perl5/pull/17724

Your explicit list seems better, but I haven't really dug into the code.

[2020-04-16 06:45] Smylers commented on #17723
Ah, I think that appeared while I was typing my previous comment, and I didn't see it till after I'd submitted it.

Well, they're both explicit lists: yours is an explicit list of punctuation characters which are permitted to start an alias; mine is an explicit list of punctuation characters which can't start an alias.

It affects punctuation characters not in either list (and I haven't thought ab

[2020-04-16 13:16] pjacklam commented on #17708
@tonycoz wrote

I've had the same experience. Configure never been able to detect the quadmath library. My solution is to build gcc from source and use the resulting compiler.

Comparing the standard Cygwin compiler with the one I built from source, I see that they both include the following quadmath-related files
[code]
but the following files are only in the compiler I built from source, not in

[2020-04-16 15:28] khwilliamson commented on #17685
I don't know what all it affects.  I made it a blocker to force attention to it, though that doesn't seem to have worked (yet).  We have lost our aix smoker for now, previously furnished by @Tux and his $work.

[2020-04-16 15:34] khwilliamson commented on #17692
@xenu submitted a comment that didn't make it into this ticket.  The operation of this new feature is not as clear-cut as people previously thought.  Shouldn't we make it experimental in 5.32?  Since I think all new features should be experimental, based on my previous school of hard knocks, I agree with him.

[2020-04-16 15:38] khwilliamson commented on #17671
Here's the commit message that references this ticket

expression Unicode property wildcard feature for the name property.
This is not reproducible, and neither valgrind nor asan shows anything.
All the failures I have seen involve looking up NULL.  Now it could be
something special about that name, or merely that it is the first in the
test to be checked.  This commit seeks to find out by skippin

[2020-04-16 15:51] jkeenan commented on #17692
On 4/16/20 11:34 AM, Karl Williamson wrote:

I concur with Karl here; make it experimental.

[2020-04-16 15:52] jkeenan commented on #17671
On 4/16/20 11:38 AM, Karl Williamson wrote:

+1

[2020-04-16 16:38] afresh1 opened #17725 "Building with -DNO_LOCALE_NUMERIC has an error in numeric.c"
Module:

**Description**

There is a problem building perl with `NO_LOCALE_NUMERIC` defined.  This is similar to #16771, but apparently I was mistaken that it was fixed in v5.30.0 as I have the problem on that tag as well.

This could be a gcc vs clang issue as OpenBSD switched the system compiler to clang since I reported #16771 as fixed.

[code]

**Steps to Reproduce**

./Configure -de -Accflags

[2020-04-16 16:52] hvds commented on #17725
Ugh, clang appears to object to the empty statement before the declaration. `-E` output has:
[code]

Swapping the two lines is enough to get past that, but it feels like a clang bug to me, and if we had two such lines hiding optional declarations behind macros it would become a bigger problem. Do we have some alternative "empty" macro we [c/sh]ould be using instead?

[code]

[2020-04-16 17:32] demerphq commented on #17692
It is documented that it does this.

Yves

On Thu, 9 Apr 2020 at 13:55, Sawyer X <notifications@github.com> wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2020-04-16 17:33] demerphq commented on #17692
This how it is documented to behave, why should this be a bug?

Yves

On Sat, 4 Apr 2020 at 10:31, brian d foy <notifications@github.com> wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2020-04-16 17:33] demerphq commented on #17692
The original documentation specified this.

Yves

On Thu, 9 Apr 2020 at 13:55, Sawyer X <notifications@github.com> wrote:

--
perl -Mre=debug -e "/just|another|perl|hacker/"

[2020-04-16 21:58] ikegami commented on #17722
Note that perlop doesn't explicitly mention `->@{...}`, only that "the dereferencing cases (as opposed to method-calling cases) are somewhat extended by the postderef feature."  The postderef feature is a no-op in 5.24+, so this part of the docs could clearly use some work.

[2020-04-16 22:15] Grinnz commented on #17722
That sentence is more referring to the postderef feature in the abstract, rather than the specific feature.pm argument. Perhaps it could be reworded to "postfix dereference syntax" like the referenced perlref section.

[2020-04-16 22:25] karenetheridge commented on #17722
backref: https://stackoverflow.com/questions/61237808/is-postderef-syntax-on-hashes-supported

backbackref: conversation on irc.freenode.org#perl 2020-04-15T2:02:00 UTC-0700

[2020-04-17 03:39] tonycoz commented on #17708
I ended up getting it to build with:
[code]

[2020-04-17 11:06] jkeenan commented on #17708
On 4/16/20 11:39 PM, Tony Cook wrote:

'loclibpth' is found in many of the hints/*.sh files, but not in cygwin's.

#####
[perl] $ ack loclibpth hints/cygwin.sh
[perl] $
#####

So that might be the place to make a fix.

[2020-04-17 11:28] iabyn commented on #17720
On Wed, Apr 15, 2020 at 07:39:21AM -0700, 積丹尼 Dan Jacobson wrote:

That's not realistically possible. The warning is only triggered after
both functions have been called, their return values pushed on the stack,
then the add op called, which pops the two values off the stack, then
(in the general case) calls various C-level functions to get string values
from those scalar values. It is usually one

[2020-04-17 11:38] iabyn commented on #17072
On Wed, Apr 15, 2020 at 11:36:16AM -0700, James E Keenan wrote:

I haven't looked closely at it - also that distribution currently fails
even to compile.

But I would guess the module need its op_parent handling tweaked.

That commit of mine relies on ops' 'parent' pointers always being valid;
before this nothing much relied on them. So  mistakes in setting them
weren't getting flagged.

--
"I do

[2020-04-17 11:50] jkeenan commented on #17072
On 4/17/20 7:38 AM, iabyn wrote:

Thanks for looking into this.  On that basis, I agree that this should
not be a blocker.

[2020-04-17 13:35] jidanni commented on #17720
Fine.
From now on I'll stick to one operation per line.
[code]
At least perl will tell me the line number where the problem occurred.

[2020-04-17 13:35] #17720 closed

[2020-04-17 13:52] sisyphus commented on #17174
I should point out that, although these particular issues with uniqnum have been fixed in 1.55 the uniqint function, which was introduced out-of-the-blue in 1.55, is broken.

See https://github.com/Dual-Life/Scalar-List-Utils/pull/105 which, I believe, fixes those remaining uniqint issues.

Cheers,
Rob

[2020-04-17 16:40] Leont commented on #8338
It isn't, that's the confusing thing. We have a hack that makes it work fine as long as a single transforming layer is involved. :crlf or :encoding is fine, it's the combination that isn't.

[2020-04-17 16:43] Leont commented on #17670
More batteries can be useful, but more platform specific batteries usually isn't (unless it's required for basic functioning like on VMS)

[2020-04-17 18:11] toddr commented on #8338
Right but :crlf and :utf8 doesn't actually seem uncommon at this point.

[2020-04-17 22:03] khwilliamson commented on #17692
I learned in my $work career that when the person charged with creating user documentation of my creations was troubled by some detail of how it worked, that meant it failed the DWIM test.  And I was almost certainly wrong.  (Sometimes I worked with requirements, and sometimes was given free reign, but usually the requirements failed to address the level of details involved.)  Usually I was wrong

[2020-04-18 03:50] toddr commented on #17692
I wonder if we could warn when tied variables are used in chained comparisons? If so I wonder how often that would be more prophetic than annoying?

[2020-04-18 10:25] Leont commented on #17692
TBH I really don't see the problem. `1 < $x < 2` calls fetch magic exactly as many times as `1 < $x && $x < 2`. The number of times fetch is called is not dependent on the number of times that variable is mentioned, it's dependent on the number of operations on it.

Both behaviors can be argued for, depending on wether you see chained comparison as one or two operations. Quite frankly, all the sol

[2020-04-18 11:21] Leont commented on #17692
That doesn't sound like a good idea. 99% of tied fetches are idempotent so this wouldn't be a problem anyway.

Quite frankly, this whole discussion feels rather theoretical. The combination of circumstances to run into this seem incredibly unlikely. Ties are uncommon, non-idempotent ties are really uncommon and accidentally dealing with such a non-idempotent ties seems even unlikelier (given that

[2020-04-18 13:31] hvds commented on #16947
It turns out this a bit more complicated:
- enframing is used for both GOSUB and SUSPEND
- when used for GOSUB, the nodes acted on are studied multiply; when used for SUSPEND they are studied only once
- when studying we have a mix of optional optimizations and mandatory fixups
- we want all such changes to happen only once, at the outermost layer in which they are studied.

The fixes merged do no

[2020-04-18 13:52] hvds commented on #16947
I've pushed the branch https://github.com/Perl/perl5/tree/gh16947-3 with my proposed fix for this for early eyeballs (@khwilliamson, @demerphq in particular).

I'm testing it now, and will also try to add some more tests exploring interactions between GOSUB and SUSPEND at various depths.

[2020-04-18 14:16] briandfoy commented on #17692
I started thinking about this because the confusion was [one of the first reactions in Reddit to my post of the new feature](https://www.reddit.com/r/perl/comments/fu3auk/chain_comparisons_to_avoid_excessive_typing/fmb29k0/). I didn't think of the `tie` at first because it's rare and uncommon. But, that's not the issue. It's about what people expect and what they get. None of these people care abo

[2020-04-18 15:40] jkeenan commented on #16947
On 4/18/20 9:52 AM, Hugo van der Sanden wrote:

At the very least, that clears up the panic.

jimk

[2020-04-18 22:14] Leont commented on #17692
That's not an or, but and and. You can't return a tied value from a sub, unless it's an lvalue sub.

Why do you think this is weird?

[2020-04-18 22:46] briandfoy commented on #17692
It's not that I think this is weird. It's that I think most people won't think of it that way because that's not how they think of the concept. I've said about all I can say on the subject without repeating myself.

[2020-04-18 22:52] #17680 closed

[2020-04-18 22:55] jkeenan commented on #17692
On 4/18/20 10:16 AM, brian d foy wrote:

I'm not sure whether brian is arguing for *not* including this new
functionality in perl-5.32.0, but I do think it reinforces the argument
for introducing it as experimental.

Thank you very much.
Jim Keenan

[2020-04-19 03:12] ikegami commented on #17722
Or conversely, re-allow `%foo->{key}`. Some might prefer doing `%foo->@{...}` over `@foo{...}`. It's the inconsistency that's the problem.

[2020-04-19 04:33] Grinnz commented on #17722
Allowing `%foo->{key}` would not make any sense, I can't fathom it was anything other than a bug to begin with. That is a dereference operation and a hash is not a reference, at best you could expect it to use the number of keys in the hash as a symbolic ref (not to mention that it's never worked on arrays).

[2020-04-19 04:47] ikegami commented on #17722
You are gravely mistaken about what people expect :) Personally, I prefer limiting it to references, but it would not be contrary to expectations for it to work on `%foo`, and it would be in the spirit of least surprise in some ways (and thus TIMTOWTDI).

[2020-04-19 05:28] Grinnz commented on #17722
The expectations of people that misunderstand Perl's syntax are not a good target for syntax extensions.

[2020-04-19 05:45] ikegami commented on #17722
We're talking about changing the syntax that's been valid for 20 years. People's *correct* of the syntax is quite relevant.

[2020-04-19 05:52] ikegami commented on #17722
We're talking about what the syntax should be, so people's expectations are relevant. Furthermore, we're talking about syntax that's been valid for 20 years, so it's kinda disingenuous to say they are mistaken in their understanding. Finally, I didn't say people might *expect* `%foo->@{...}`; I said people might *prefer* `%foo->@{...}`.

[2020-04-19 05:59] Grinnz commented on #17722
While indeed efforts are made toward bugwards compatibility, it is still just that, and I know of no significant usage of this syntax that would warrant more than the deprecation and removal it had. Regarding its worth, it is certainly not worth providing a new syntax inconsistent with the rest of Perl that would create expectations of other random syntaxes by extension.

[2020-04-19 06:17] ikegami commented on #17722
| a new syntax inconsistent with the rest of Perl

Except it's not.  There's a 20 year history of non-references being accepted on the LHS of ->. That's why I suggested it might be worth formalizing the concept.

[2020-04-19 22:14] xsawyerx commented on #17663
This is one of the two problems that are making me consider delaying the release of the next version.

I reviewed your arguments, and I think they are compelling, but I decided I view it differently. Let me try to explain.

This seems to me like confusion between the initiator of the current stack and the current stack's caller.

* We use `caller()` (as its name) to receive the caller.
* We assume

[2020-04-19 22:28] Eli-the-Bearded opened #17727 "IO::File does not respect open pragma"
This is a bug report for perl from perlbug@eli.users.panix.com,
generated with the help of perlbug 1.40 running under perl 5.24.3.

-----------------------------------------------------------------
[Please describe your issue here]

`perldoc open` says:
    Full-fledged support for I/O layers is now implemented provided Perl
    is configured to use PerlIO as its IO system (which is now the
    de

[2020-04-19 22:57] Grinnz commented on #17727
This is a duplicate of https://github.com/Perl/perl5/issues/12749

[2020-04-19 23:18] jkeenan commented on #17727
Yes, this is a duplicate of 12749.  However, discussion on that ticket petered out inconclusively in 2013.  We probably should have simply made documentation improvements somewhere.

Would doc improvements suffice in the current case?  If so, where should we make them?

Thank you very much.
Jim Keenan

[2020-04-20 01:10] Eli-the-Bearded commented on #17727
Well the documentation I quoted from `perldoc open`, for starters, is rather misleading vis-a-vis IO::File. It would be one thing if IO::File were just some random module, but it's not, it's part of the core modules.

[2020-04-20 05:53] tonycoz commented on #17727
This is related to #17458 too.  That was resolved by updating the documentation for `-C`.

[2020-04-20 14:20] dur-randir opened #17728 "Perl_rpeep: Assertion `(kid->op_type == OP_NULL && ( kid->op_targ == OP_NEXTSTATE || kid->op_targ == OP_DBSTATE )) || kid->op_type == OP_STUB || kid->op_type == OP_ENTER || (PL_parser && PL_parser->error_count)' failed."
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

While fuzzing perl v5.31.9-70-g0c96aa4b7b built with afl and run
under libdislocator, I found the following program

[code]

to cause an assertion failure

perl: op.c:14484: Perl_rpeep: Assertion `(kid->op_type == OP_NULL && ( kid->o

[2020-04-20 14:55] lightsey opened #17729 "Memory leak in blead regatom()"
**Description**
The changes in commit 95815e9df4dca7d5909d369abff1a1c4a779de0b introduced two memory leaks to regatom().

The leaks are easy to pinpoint with a 32bit ASAN build.

The specific lines leaking memory are https://github.com/Perl/perl5/blob/c3ac3d3a0cd6dfd27ca304bfa677a49ca62fd76d/regcomp.c#L14871 and https://github.com/Perl/perl5/blob/c3ac3d3a0cd6dfd27ca304bfa677a49ca62fd76d/regcomp.c#

[2020-04-20 15:18] dur-randir commented on #16947
I observed no new failures on this branch after a day, but since it'a stochastic process, it's not a bullet-proof confirmation. I'm keeping it to run more.

[2020-04-20 15:22] dur-randir opened #17730 "regexec.c:880: Perl_re_intuit_start: Assertion `prog->substrs->data[1].max_offset >= 0' failed."
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

While fuzzing perl v5.31.9-70-g0c96aa4b7b built with afl and run
under libdislocator, I found the following program

[code]

to cause an assertion failure

perl: regexec.c:880: Perl_re_intuit_start: Assertion `prog->substrs->data[1].

[2020-04-20 19:30] hvds commented on #17730
I anticipate that this will be due to zero-width constructs such as `\b` being marked SIMPLE. I was planning to push a smoke-me branch fixing all those once 5.32 was released, but I wonder if I should do it now instead.

[2020-04-20 20:37] vpit commented on #16893
This was fixed in indirect 0.39, released 9 months ago, so I'm closing this ticket.

From an user's perspective, it wasn't really clear that Copy() had the same shortcomings as memcpy() : perlapi says "The XSUB-writer's interface to the C "memcpy" function", which is quite vague, and perlguts says nothing. This change was probably the best theoretical solution, but it did cause breakage where it c

[2020-04-20 20:37] #16893 closed

[2020-04-20 22:11] vpit commented on #17663
I disagree. `caller` is documented as returning the "context of the current subroutine call", and that's what the old implementation does, as mst explained. It's therefore consistent with itself.

I suggest amending perldoc -f caller to explain the difference between caller(0) and __PACKAGE__.

[2020-04-20 22:18] vpit commented on #17692
I think it should call FETCH twice since it should also call overloading twice (is that even implemented? I must admit I haven't followed this in detail). That said, making it experimental can't hurt.

[2020-04-20 23:38] davidnicol commented on #17692
imaginary complete starting over:

Constraints: chained comparisons must all be numeric or all be string. They
also have to be in the same order, that is, composed of operators taken
from one of these sets:

< <= ==

lt le eq
gt ge eq

trying to mix comparators that are not all in the same set would be a
parse-time syntax error.

When the parser identifies a comparison chain, it recognizes this

[2020-04-21 03:13] lightsey opened #17732 "Null pointer deref with wildcard Unicode named sequences"
**Description**
There are odd interactions between extended bracketed character classes and unicode wildcard properties in the regex engine that end up causing null pointer deref segfaults.

The segfaults are directly attributable to the lack of code verifying "current" was assigned a value by regclass() inside handle_regex_sets() here:  https://github.com/Perl/perl5/blob/c3ac3d3a0cd6dfd27ca304bfa

[2020-04-21 03:31] toddr commented on #17392
Marc doesn't do RT. However It appears to have already been reported to him here: http://lists.schmorp.de/pipermail/anyevent/2020q1/000893.html

[2020-04-21 03:55] toddr commented on #17392
I am reaching out to him directly.

[2020-04-21 04:07] lightsey opened #17734 "Use after free in unicode wildcard property matching"
**Description**
handle_names_wildcard() creates a variable "must" for the re_intuit_string() of a regex it will repeatedly match. The initial evaluation of the regex may free the SV this "must" pointer refers to, causing handle_names_wildcard() to dereference a dangling pointer.

**Steps to Reproduce**
Compile blead with clang and ASAN:
[code]

Example regex:
[code]

**Perl configuration**
[code]

[2020-04-21 10:25] hvds commented on #16947
I've made a pull request https://github.com/Perl/perl5/pull/17736 for this.

I've eyeballed -Dr output for a variety of possible frame-to-frame interactions, and they all look ok to me.

There's a possibility that interaction between enframing and simple recursion may still be able to trip this up, though I haven't found an example that does so. If that were possible we'd also need to give study_c

[2020-04-21 11:00] hvds commented on #17730
I confirmed that branch fixes this issue, I've now pushed it for smoking as https://github.com/Perl/perl5/tree/smoke-me/hv/gh17594.

[2020-04-21 11:05] hvds commented on #17594
A related issue has been raised as https://github.com/Perl/perl5/issues/17730. I've pushed https://github.com/Perl/perl5/tree/smoke-me/hv/gh17594 for smoking, which stops marking any zero-width constructs as SIMPLE.

I've also split it into two commits, in which the first stops marking them SIMPLE (which should stop them getting to regrepeat(), which can't handle them correctly), and the second ac

[2020-04-21 12:15] dur-randir opened #17737 "panic: sv_len_utf8 cache 1 real 0 for at"
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

While fuzzing perl v5.31.9-70-g0c96aa4b7b built with afl and run
under libdislocator, I found the following program

[code]
[code]
to emit panic():

panic: sv_len_utf8 cache 1 real 0 for  at

GDB stack trace at the point of croak() i

[2020-04-21 15:00] hvds commented on #17737
Here's a slightly simpler version:
[code]

I think something in pp_reverse should be calling magic_setutf8() on TARG, either directly or indirectly, but I've no idea at what point it should be doing that. I'm mildly surprised it didn't happen on the setsv(). The result, as far as I can tell, is that the utf8 pos/len cache on TARG persists from the first split result ("\x{100}") to the second (empt

[2020-04-22 00:07] khwilliamson commented on #17734
The root cause of this is that the function re_intuit_string() was returning an SV without giving clear title to the caller.  And that SV was getting freed by executing the regex engine.  It turns out that no place in core had been using this function, which dates to at least 1999, until this new use of it was recently made.

The solutipm @lightsey proposed works, but doesn't fix the root cause.

[2020-04-22 00:18] dur-randir commented on #17730
I can still trigger this assertion even after the pull request with the following:

[code]

[2020-04-22 01:03] tonycoz commented on #17737
sv_setsv() doesn't do set magic, which can be confusing.  There's a macro SvSetMagicSV() which does do the magic.

We have had this happen before, I'll have a look over core to see if I can find any other examples.

[2020-04-22 04:50] tonycoz opened #17739 "$lexical = (index($x, y) == -1) optimization returns the right side"
Module:

**Description**

7e8d786b optimized code like:

  $lexical = (index(...) == -1);

into an index op with flags that makes it assign to $lexical.  Unfortunately that new operation returns the result of the == rather than $lexical.  For example with 5.18.3:
[code]

but with blead:

[code]

Note that without the index this works as expected:
[code]

**Expected behavior**

The assignment shoul

[2020-04-22 06:23] tonycoz commented on #17737
I found one other case of sv_setsv() without a needed SvSETMAGIC() where I could make a test case indicating a problem.

Code like:

[code]

is optimized to a single OP_INDEX with flags indicating the comparison and the assignment.

The assignment (via sv_setsv()) doesn't call SvSETMAGIC().

This optimization had another problem in that the assignment was returning the constant assigned to the lex

[2020-04-22 06:43] EvanCarroll commented on #17722
I don't much care about this, but I found it intuitive as-is. I'm ok with the modification in behavior. To clarify the confusion: from my read of `postderef` it's mainly some kind of acknowledgement that sigils are a failure/losing battle and we should try something else. It seems of limited use to provide,

[code]

As a stylistically better (though longer) alternative to

[code]

But to have a di

[2020-04-22 10:28] hvds commented on #17734
I think re_intuit_string() *is* used via CALLREG_INTUIT_STRING, by way of the regexp_engine structure. It may be better to add a macro that wraps that with a refcount-inc.

The engine structure has suddenly become relevant several times in recent weeks; for 5.34 we should maybe consider revisiting it a bit more formally to see if its definition, documentation and implementation are fit for purpose

[2020-04-22 11:52] hvds commented on #17730
This is a quite different case: we're overflowing from maxint to minint in tracking the last place the floating substring can match at regcomp.c:5304. It goes something like:
* we reach the final EXACT "0" - at which point for some reason is_inf is false point despite the `((*ACCEPT)0)*` - and at this point pos_min is 0 and pos_delta is maxint; min is updated to 1;
* we recurse for the GOSUB
* we

[2020-04-22 11:53] hvds commented on #17737
Thanks @tonycoz++

[2020-04-22 13:59] hvds commented on #17730
Ah, we don't continue after ACCEPT, so it is correct that `((*ACCEPT)0)*` cannot match infinite width - but there is a disconnect between failing to set is_inf for that case, but still deciding that the min width of the paren is 1, so that the STAR has a {min, delta} of {0, inf}. It is that disconnect that is not catered for by the patched lines, and may be difficult to resolve additionally before

[2020-04-22 14:15] dur-randir commented on #17730
It is in a sense that it's broken by the same commit.

[2020-04-22 15:02] hvds commented on #17730
Ah right, because the "nonsensical" test removed by that commit was papering over multiple bugs by casting MININT to an unsigned type.

To avoid delaying 5.32 we might want to temporarily restore that in a cleaner form, something like:
[code]
... and then ferret out any remaining such issues in the 5.34 cycle.

[2020-04-22 15:34] khwilliamson commented on #17734
You-re right.  I should have seen that reference.  And that macro is called once in the core.  And not at all in CPAN, nor is the function called directly or through the structure in CPAN.  perlreapi refers to this function in the structure, but doesn't indicate that its return can be freed without notice.  embed.fnc indicates the function is core-only., so that is wrong.

I see the following opti

[2020-04-22 17:45] khwilliamson commented on #17734
I have done some more research.  I think @iabyn can shed some light on this, as he was the last person to touch the code in regexec.c for re_intuit_start()

The pattern match execution engine keeps track of the utility of the heuristics used as to where in the matched string to actually start looking.  It uses the macro BmUSEFUL for this by incrementing and decrementing a counter.  When that count

[2020-04-22 18:38] epa opened #17742 "Single-character punctuation variables in regexps"
Perl's single-character variables like `$$` `$(` `$"` and their friends let you do all sorts of powerful and concise magic.

However, in the middle of a regular expression it's easy for even experienced programmers to get in a tangle about what the escaping rules are and end up with something that's wrong, but syntactically valid because of builtin variables.  Normally to escape a special characte

[2020-04-22 18:46] Grinnz commented on #17742
I'm not going to speculate on whether it's feasible to add a useful warning or not, but this is a behavior of string interpolation in general, before it gets to the regex engine.

[2020-04-22 18:52] epa commented on #17742
I don't believe that's entirely true, there is certainly some magic going on:
[code]
While `$$` is interpolated the same in doublequoted strings and regexps, regexp parsing has some special treatment of `$)` that doesn't interpolate it.

[2020-04-22 19:16] Grinnz commented on #17742
You're right, there are some (probably underdocumented) special cases. That one is probably because using `$` in an alternation is much more common than using `$)` in a regex.

[2020-04-23 05:07] xsawyerx commented on #17553
@hvds status update?

[2020-04-23 05:13] xsawyerx commented on #17392
And a lovely response in return, finding an opportunity to bash p5p. *sigh*

I'm keeping this issue open for observation, but it is no longer a blocker for 5.32.0.

[2020-04-23 05:17] xsawyerx commented on #17685
If we do not have an AIX smoker, we cannot review this properly. I suggest this wait for 5.32.1.

[2020-04-23 05:21] xsawyerx commented on #16947
Fix approved!

[2020-04-23 05:33] tonycoz commented on #17729
If I understand the code, we can just unconditionally free locfold_buf and loc_correspondence at the end of the block around line 15187, removing the `else if (need_to_fold_loc) {` block and moving the frees in `if (need_to_fold_loc) {` to the inside of the `if (upper_fill == 0) {` conditional.

I've tested that, including deliberately corrupting the beginning of those buffers before freeing them

[2020-04-23 10:12] hvds commented on #16947
Merged #17736.

[2020-04-23 12:26] #16947 closed

[2020-04-23 12:27] xsawyerx commented on #17553
Hugo and I are taking this offline. We will update the ticket. :)

[2020-04-23 13:10] hvds opened #17743 "study_chunk recursion"
This is a placeholder ticket for consideration of a theoretically possible bug.

In #16947 we found that study_chunk reinvokes itself in two ways - by simple recursion, and by enframing. In some cases that involves restudying regexp ops multiple times, whereas in other cases the reinvocation is the only time the relevant ops are studied. The primary results of studying are a) to capture global inf

[2020-04-23 13:57] hvds commented on #17730
Opened PR #17744 with the fix for the *ACCEPT case and the temporary guard.

[2020-04-23 18:11] khwilliamson commented on #17729
Your theory is correct.    I did not know that Safefree() checked for NULL, and it isn't obvious to me that it should.  I would therefore prefer to leave the 'if (need_to_fold_loc)' around the frees, as that is the flag that indicates they got populated.  I would think that compilers would optimize the extra conditional out, and it doesn't rely on knowing the internal workings of Safefree.

Someho

[2020-04-23 19:54] atoomic opened #17745 "CowREFCNT macro is returning an incorrect value for hash keys"
As seen from https://github.com/atoomic/B-COW/issues/1

When using `CowREFCNT` on a hash key, it's returning 0 on most systems but as we could notice it on bigendian it's returning the string length.. an not 0.

the macro `CowREFCNT` should not try to read before the pv when `SvLEN=0`
[code]

We should add a protection with something like this
[code]

[2020-04-23 19:58] atoomic commented on #17745
this was introduced by db2c6cb33ec067c880a2cb3c4efdb33f7e3e3d0f during the 5.18 dev cycle

[2020-04-23 20:52] atoomic commented on #17745
The problem with such a patch is that we cannot assign a value using such an alias...
this still needs some work
[code]

[2020-04-24 15:54] atoomic commented on #17745
probably something like this
[code]

[2020-04-24 16:07] atoomic commented on #17745
5cfc284 is not fixing the issue on big-endian platforms

[2020-04-24 21:29] geeknik opened #17746 "Assertion `n == REG_INFTY || locinput == li' failed"
**Description**
Whilst fuzzing Perl5 built from git commit 3b53f4, we encountered this assertion failure:
[code]

**Steps to Reproduce**
[code]

**Expected behavior**
No assertion failure.

**Perl configuration**

[code]

[2020-04-24 21:54] khwilliamson commented on #17746
I didn't bisect, but found it doesn't dump in 5.16, but does in 5.18

[2020-04-24 21:54] dur-randir commented on #17746
Bisect points between 5.16 and 5.18 to e64f369d58efdbd31eecf147ef006f0f69e17fc2 is the first bad commit
[code]

[2020-04-24 22:58] jkeenan commented on #17746
This can be reproduced on blead with simpler configuration arguments:
[code]

[2020-04-24 23:25] khwilliamson commented on #17746
On 4/24/20 4:58 PM, James E Keenan wrote:

Effectively reverting the commit fixes it

[2020-04-24 23:48] jkeenan commented on #17746
On 4/24/20 7:25 PM, Karl Williamson wrote:

Should this be backported to the next prod release of 5.30?

jimk

[2020-04-25 09:39] hvds commented on #17746
The non-utf8 branch for LNBREAK in regrepeat is missing a check on max. This also fixes it:
[code]

.. but I'm not against making it non-SIMPLE instead.

[2020-04-25 11:05] xsawyerx commented on #17268
@tonycoz Let's merge it then. :)

[2020-04-25 11:06] xsawyerx commented on #17663
Currently, the `caller()` reports one package, but the file and number of a different file and package. I don't see this as correct.

[2020-04-25 13:05] hvds commented on #17730
PR #17744 now merged; I recommend that we remove this as a blocker, but keep it open (maybe with a 5.33.1 block) for removal of the temporary guard and subsequent investigation.

[2020-04-25 13:32] khwilliamson commented on #17730
So be it.  removed from blockers

[2020-04-25 13:34] khwilliamson commented on #17708
What are we waiting for?

[2020-04-25 13:44] dur-randir commented on #17730
The funny thing is, i wouldn't have noticed this if not for #17715, as it can lead to the same stacktrace, so i've blacklisted it.

[2020-04-25 15:36] khwilliamson commented on #17746
Yours seems like a better choice.

But it is now very clear to me I don't know what SIMPLE means.  I think we (meaning not me) should clearly document it, and then audit the code for discrepancies.

In any event, since this is an old bug it isn't a 5.32 blocker

[2020-04-25 15:52] khwilliamson commented on #17729
In the absence of replies, I created a PR using my method.  Are there objections to it? @tonycoz, for example

I don't know about adding a test though.  Where should it go?

[2020-04-25 18:47] jkeenan commented on #17728
Confirmed on a threaded, debugging build on FreeBSD-11.
[code]

[2020-04-26 01:03] khwilliamson commented on #17713
In the past few years, these kinds of bugs have all been because of the operating system having locale bugs.  What it appears to be here is that the locale is being set so that the radix character is a comma, but a dot is instead being printed.  I suspect an OS bug because its just one OS that is having trouble.  But I've been wrong before; to help me figure it out, run the following commands, cap

[2020-04-26 01:08] khwilliamson commented on #17677
Do you want me to give you a branch with this fixed so you can see if you can get it on non-experimental paths?

[2020-04-26 01:08] dur-randir commented on #17677
Sure.

[2020-04-26 01:32] khwilliamson commented on #17677
While looking at the code, I retract my assertion that non-wildcard could have this.  But this branch has it fixed: smoke-me/khw-randir

[2020-04-26 06:32] xsawyerx commented on #17708
I'm also not sure.

[2020-04-26 06:56] xsawyerx commented on #17692
I understand the concerns of parties here, but after reviewing it once again - and then again - I consider the current behavior correct and expected from a consistency perspective.

I understand a person might expect an optimization, but what I think we're discussing is for the optimization to become the proper use. That is, just because we might be able to use the variable only once and "cache" i

[2020-04-26 06:57] xsawyerx commented on #17681
This is, IMHO, a correct fix, as I expressed in #17663.

[2020-04-26 08:00] pjacklam commented on #17708
I attached a working patch to a posting earlier in this discussion. Perhaps
it could be used at least until someone comes up with a better fix.

[2020-04-26 10:02] hvds commented on #17677
@khwilliamson that looks near identical to the first commit in smoke-me/hv/gh17594.

[2020-04-26 11:30] #17725 closed

[2020-04-26 11:49] jkeenan commented on #17681
On 4/26/20 2:57 AM, Sawyer X wrote:

Earlier in this ticket, @hvds observed that we need to "to highlight
[the correction to caller()'s behavior] prominently in 5.32 perldelta."

ack-ing pod/perl pod/perl5031*delta.pod for `caller`, the only thing I
can find is:
[code]
... which to me doesn't seem to be sufficient.  Could we get something
better?

Thank you very much.
Jim Keenan

[2020-04-26 12:39] dur-randir commented on #17677
I've restarted the fuzzer.

[2020-04-26 12:41] khwilliamson commented on #17677
@hvds, ok.  This was just to get @dur-randir going again.

[2020-04-26 12:57] khwilliamson commented on #16300
What needs to be done here, if anything, to at least remove this from being a 5.32 blocker?

[2020-04-26 13:35] khwilliamson commented on #17732
I changed the title of this ticket because that it was short is a red herring.  The problem occurs when the name matches a Unicode named sequence, which is a multi-char sequence.  A short property name has more chances of hitting a named sequence name.  Longer names also fail should they match a named sequence

[2020-04-26 14:19] hurricup opened #17752 "B::Deparse hangs deparsing Function::Parameters method with Types::Standard"
Module: `B::Deparse`

**Description**
When trying to deparse  `Function::Parameters` method with `Types::Standard` - process hangs

**Steps to Reproduce**
1. Install perl 5.31.10 (default settings using perlbrew)
2. Install `Function::Parameters` and `Types::Standard`
3. Create a script:
[code]
4. Try to deparse it using: `perl -MO=Deparse script.pl`

**Expected behavior**
Process finished with de

[2020-04-26 14:22] hurricup commented on #17752
omitting type constraint fixing things

[2020-04-26 15:06] khwilliamson commented on #17708
I think the answer is the hints file  But do we want a specific version in the file? @tonycoz

[2020-04-26 15:17] dur-randir commented on #17692
Making this feature experimental and removing that status the next release costs nothing, but it ships as non-experimental and it happens to be not that obvious for users and needs to change (remember smartmatch) - it'd be a much harder way.

[2020-04-26 23:49] leonerd opened #17754 "Neither parse_block() nor parse_stmtseq() are adequate for parsing function bodies"
I am attempting to parse the body of a sub-like keyword `method`, which adds some extra lexicals to the visible scope (for example `$self`).

The `parse_block()` API function parses the function body including the surrounding braces, and returns the body of the block as its own optree. The returned optree contains the right ops, but the parser treats the body of the function as its own block, apar

[2020-04-27 00:21] leonerd commented on #17754
Possible thoughts:

1) Add a flag to `parse_block()` to have it not apply a surrounding scope
2) Add a flag to `parse_stmtseq()` to allow it to accept final expressions
3) Add a whole new function for this

[2020-04-27 00:25] leonerd commented on #17754
Actually this also affects any variables parsed as part of the signature.

Real perl subs warn:

    $ perl -Mwarnings -Mexperimental=signatures \
      -ce 'sub f($x) {my $x = shift;}'
    "my" variable $x masks earlier declaration in same scope at -e line 1.
    -e syntax OK

Ones whose bodies are parsed by `parse_block()` don't:

    $ perl -Mwarnings -Mexperimental=signatures -MFuture::AsyncAw

[2020-04-27 01:33] leonerd commented on #17754
I've added a hack around this in the specific case of `$self`, though this isn't ideal for a number of reasons. It does detect the error at least, so it's a decent start

https://rt.cpan.org/Ticket/Display.html?id=132428#txn-1895100

[2020-04-27 06:55] xenu opened #17755 "MARK and items are off by one inside BOOT"
**Description**
`MARK` and `items` variables are off by one inside `BOOT` xsubs. It was broken sometime **after** 5.20.

**Steps to Reproduce**
Create a minimal XS distribution:

Makefile.PL:
[code]

FooXS.pm:
[code]

FooXS.xs:
[code]

Build and install it (`perl Makefile.PL && make install`) and then run the following snippet:

`perl -MFooXS -e "1"`

it will output:
[code]

**Expected behavior**

[2020-04-27 10:11] shadowcat-mst commented on #17663
@xsawyerx I confess I hadn't noticed the file/line number thing but if anything I'd resolve that inconsistency the other way, given everything else I've said :)

Also, hrm, your initiator versus caller argument is interesting and I think that we may be in a situation where much like say euclidean versus non-euclidean geometry, both forms of calculus are completely logically consistent and a solid

[2020-04-27 12:07] jkeenan commented on #17755
Behavior probably changed in db6e00bd00d and 9a189793113.  @bulk88, can you take a look?

[2020-04-27 12:43] khwilliamson opened #17757 "[doc] perldiag and perldeprecation should be cleaned up in regards to 5.32"
**Where**

perldiag perldeprecation
**Description**

These modules have out-dated text about 5.32, referring to it in the future.  But the future is upon us.

[2020-04-27 12:43] khwilliamson commented on #17757
s/modules/documents/

[2020-04-27 14:36] jkeenan commented on #17757
@khwilliamson, https://github.com/Perl/perl5/pull/17758 handles **some** of these instances.  However, I don't well enough understand what was **actually** done with respect to the following doc sections to be able to revise:

**pod/perldeprecation.pod**
[code]
**pod/perldiag.pod**
[code]
I know that the second diagnostic above was eliminated -- but my hunch is that some of the text that follows i

[2020-04-27 15:16] toddr commented on #17392
Marc has released the patch provided by @Leont. cpantesters already shows it is passing on 5.31.10. I think we're all done here. Closing case.

[2020-04-27 15:16] #17392 closed

[2020-04-27 15:17] toddr commented on #17392
Tests: http://matrix.cpantesters.org/?dist=Async-Interrupt%201.26;os=linux;perl=5.31.10;reports=1
The release: https://metacpan.org/release/Async-Interrupt

[2020-04-27 17:32] jkeenan commented on #17752
Is that to say that, by changing your test program, you avoided the hang?

I tried your program out on various perls built with perlbrew.  On 5.30.0, I got same results as you.
On 5.20.3, 5.18.4, 5.14.4 I got a hang -- but with no output.  However, on a perl which I built from source at tag `v5.14.4`, the program completed -- but again with no output.

[2020-04-27 18:08] hurricup commented on #17752
@jkeenan yes, as I said above. But still, this (hanging) should not happen in any circumstances I believe if  program is compilable.

[2020-04-27 20:14] jkeenan commented on #17752
That is, we import Types::Standard but don't actually make use of it:
[code]

[2020-04-27 23:11] geeknik opened #17759 "SEGV in XS_version_vcmp"
**Description**
Whilst fuzzing Perl5 built from git commit 089ad2, we encountered this null pointer dereference from the `I'm not sure this is a bug department` mostly because of how little I understand what is happening here:
[code]

**Steps to Reproduce**
`sh ./Configure -des -Dusedevel -DDEBUGGING -Dcc=afl-clang-fast && make miniperl`
[Wait almost 3 days!](https://i.imgur.com/778VsFs.png)
`./mi

[2020-04-28 01:15] khwilliamson commented on #17663
Commits are now reverted in blead.  Is this no longer a blocker?

[2020-04-28 01:18] khwilliamson commented on #17681
Is this now not a blocker, since commits for [https://github.com/Perl/perl5/issues/17663](url) have been reverted?

[2020-04-28 01:42] dur-randir commented on #17759
$^V is just broken in regards to string ops. It used to be maintained separately on CPAN and backported to core, but I won't wish anyone the burden of patching it.

[2020-04-28 13:22] haarg commented on #17759
I believe this can be fixed by Perl/version.pm#9.

[2020-04-28 13:32] haarg commented on #16300
I don't think it needs to be a blocker.  Applying the full "fix" here would still break a number of modules, for very little benefit.  It isn't hard to fix the modules, but it won't happen on a short time frame.

[2020-04-28 14:04] hvds commented on #17746
If patching, maybe; but see below.

Well there's "what it was intended to mean" - the implementation appears to be a clear "width-one construct". But zero-width constructs were already included in the commit that first introduced the flag, so the waters are intrinsically muddy.

I think it would make a lot of sense to define it explicitly as only width-one (I'd need to check again whether that's o

[2020-04-28 14:14] hvds commented on #17734
Sorry to be slow responding here: I do not think it would be reasonable to change the behaviour of the regexp engine interface for 5.32, which I believe your proposed option 3 implies - hence the suggestion of a wrapping macro as a stopgap. I'm perfectly happy to consider the behavour change for 5.34.

[2020-04-28 15:09] hvds commented on #17728
The testcase reduces to `./miniperl -e 'sort {my sub p} 0'`. At the point of assert, kid is of type OP_LINESEQ. If I try with `{sub p}` instead, kid at the same point is an OP_STUB.

I don't plan to look further at this myself.

[2020-04-28 15:14] khwilliamson commented on #17734
On 4/28/20 8:15 AM, Hugo van der Sanden wrote:

Agreed.

[2020-04-28 17:16] toddr commented on #16300
It sounds like there is nothing actionable here, so we're ok to close the case?

[2020-04-28 22:17] khwilliamson commented on #17757
Here's some dangling ones
=item File::Glob::glob() will disappear in perl 5.30. Use File::Glob::bsd_glob() instead.
 =item Deprecated use of my() in false conditional. This will be a fatal error in Perl 5.30

[2020-04-28 22:20] eggled opened #17761 "AIX domain sockets - possible memory overflow issue in Perl_pp_getpeername"
I've been tracking down an issue with sporadic corruption when sending data through a unix domain socket.  This corruption is rare, and only occurs on AIX systems, and only when sending through domain sockets (TCP is fine, so are pipes, fifos, file I/O, etc).

I believe I've tracked it down the Perl_pp_getpeername, by adding some debugging code. The source for that function declares a new SV to be

[2020-04-29 00:14] jkeenan commented on #17759
Yes, I manually applied the part of that p.r. pertaining to `vxs.inc` and the segfault cleared.

[2020-04-29 00:31] Grinnz commented on #17759
Does anyone know the maintenance status of version.pm? The maintainer has expressed his wish to give up maintainership, and P5P currently holds first-come on CPAN, but as far as I know no changes have been made to the distribution since. Should it now be considered blead-first? Should PTG take over maintenance and remain cpan-first?

[2020-04-29 08:44] shadowcat-mst commented on #17663
@khwilliamson I believe you're correct but cpantesters/etc. will likely be a more reliable confirmation thereof.

[2020-04-29 15:35] iabyn commented on #17745
On Thu, Apr 23, 2020 at 12:55:05PM -0700, Nicolas R. wrote:

It's not clear to me what you mean by "a hash key".

Well if possible we should avoid adding extra overhead to a hot macro.

--
Any [programming] language that doesn't occasionally surprise the
novice will pay for it by continually surprising the expert.
   -- Larry Wall

[2020-04-29 15:39] iabyn commented on #17681
On Mon, Apr 27, 2020 at 06:18:48PM -0700, Karl Williamson wrote:

Correct. To fully quote the revert merge:

commit c0d05305c156c83e4f9f3a207451b3175fbb7f24
Merge: c6b2e294d8 79f75eaa71
Author:     David Mitchell <davem@iabyn.com>
AuthorDate: Mon Apr 27 22:04:23 2020 +0100
Commit:     David Mitchell <davem@iabyn.com>
CommitDate: Mon Apr 27 22:04:51 2020 +0100

    [MERGE] Revert BEGIN { caller() }

[2020-04-29 19:21] #17732 closed

[2020-04-29 19:26] #17677 closed

[2020-04-29 21:35] xsawyerx commented on #17692
Once it is experimental, it requires two releases as experimental. This means it will only be available as non-experimental in three versions (that is, three years), assuming it's not changed in any way. Making it experimental is meant to allow us to change it when we're still trying to figure it out.

If we don't consider it changing, requiring people to wait for three releases (three years) to h

[2020-04-29 23:22] davidnicol commented on #17692
I don't know about the positions of anyone else involved in this discussion
but I'm entirely satisfied with suggesting putting double-quotes around
tied string values and adding zero to tied numeric values in the
documentation of the feature as a workaround to avoid "double-fetch" issues.

When there's a big long dereferencing expression, does the expression get
evaluated twice or just the resolut

[2020-04-30 06:29] xsawyerx commented on #17663
Indeed. I did not reply yet, but we did review it and decided to revert, which @khwilliamson updated about.

I'm happy to discuss this after 5.32 and see how we decide to go on this. :)

[2020-04-30 06:44] xsawyerx commented on #17268
Are we good to close it now?

[2020-04-30 06:45] xsawyerx commented on #16300
Considering the length of this ticket, I'd suggest we open a ticket for the issue that's left and neither this new ticket nor this ticket should be blockers. (But to be honest, at this point, I've lost what issue remains...)

[2020-04-30 07:27] xenu commented on #17761
This PR should fix it:  #17764. Could you test it?

[2020-04-30 10:46] xenu commented on #16129
`PL_sort_RealCmp` was removed by 044d25c73ce10d2b29008b875209d414303ccff7 so the issue is fixed.

[2020-04-30 10:46] #16129 closed

[2020-04-30 12:12] jkeenan commented on #17268
@tonycoz could you assemble the various commits into a smoke-me branch for testing?

Nothing in this ticket has made it into blead so far, so Filter-gunzip is still in a BBC state.

Thank you very much.
Jim Keenan

[2020-04-30 13:13] eggled commented on #17761
Yeah, I'll try rebuilding with those changes to confirm. Seems promising to me.
________________________________
From: xenu <notifications@github.com>
Sent: Thursday, April 30, 2020 2:27 AM
To: Perl/perl5 <perl5@noreply.github.com>
Cc: eggled <eggled@gmail.com>; Author <author@noreply.github.com>
Subject: Re: [Perl/perl5] AIX domain sockets - possible memory overflow issue in Perl_pp_getpeername (

[2020-04-30 16:37] eserte commented on #17681
Confirmed. The distribution's test suite passes on my smokers with perl 5.31.11.

[2020-04-30 16:38] eggled commented on #17761
That did it! I'm no longer seeing memory corruption when sending through the socket.

Thanks for the quick response.

[2020-04-30 17:18] khwilliamson commented on #17761
On 4/30/20 10:38 AM, eggled wrote:

In which perl version did this bug first appear?

[2020-04-30 18:06] khwilliamson commented on #17761
Let me make it easier.  Was this bug in 5.30, or not?

[2020-04-30 18:43] eggled commented on #17761
This bug was in 5.30.

I identified the bug with 5.30, but I don't know which version it first appeared in. I *believe* I reproduced the issue with 5.26, but I'm not 100% certain.

I patched the proposed changes from PR 17764 into my 5.30 package, and can no longer reproduce the issue.
________________________________
From: Karl Williamson <notifications@github.com>
Sent: Thursday, April 30, 2020

[2020-04-30 19:15] xenu commented on #17761
I'm pretty sure this code was always broken.

[2020-05-01 05:18] kmhl commented on #17703
Nevertheless it is possible to use postfix form and $j together if we assign $_ to $j in the first step and add the second one by 'and' operator.

[code]

[2020-05-01 05:34] jidanni commented on #17703
OK, but

[code]

is the same as

[code]

which nobody would want to do.

[2020-05-01 07:35] eserte opened #17765 "BBC: RURBAN/B-Stats-0.09.tar.gz fails since perl 5.31.9"
The test suite of B::Stats 0.09 fails since 5.31.9, see http://fast-matrix.cpantesters.org/?dist=B-Stats%200.09

A module bug ticket was written (https://rt.cpan.org/Ticket/Display.html?id=131963) and the problem was workarounded in 0.10, but Reini thinks that this is a perl regression, so probably worth a look.

[2020-05-01 07:41] eserte opened #17766 "BBC: DANKOGAI/Unicode-Char-0.02.tar.gz fails since perl 5.31.10"
Overview of reports: http://matrix.cpantesters.org/?dist=Unicode-Char%200.02
A sample fail report: http://www.cpantesters.org/cpan/report/cfe68422-8a5e-11ea-a0ef-2c341f24ea8f

[2020-05-01 13:20] jkeenan commented on #17765
Bisection:
[code]
... points to:
[code]
@tonycoz, can you take a look?

Thank you very much.
Jim Keenan

[2020-05-01 13:20] jkeenan commented on #17766
Bisection:
[code]
... points to:
[code]
@khwilliamson, can you take a look?

Thank you very much.
Jim Keenan

[2020-05-01 13:41] khwilliamson commented on #17766
On 5/1/20 7:20 AM, James E Keenan wrote:

I have looked at it.  The file lib/Unicode/Char.pm contains the line

     my $name_pl = do 'unicore/Name.pl'; # famous cheat;

Name.pl has long contained the text:

# !!!!!!!   INTERNAL PERL USE ONLY   !!!!!!!
# This file is for internal use by core Perl only.  The format and even the
# name or existence of this file are subject to change without notice.

[2020-05-01 15:25] khwilliamson commented on #17766
indicates it shouldn't be.

I should have said, the comment indicates the module is aware it shouldn't be doing this.
The proper way to do what the module wants is to use `Unicode::UCD::prop_invmap(),` available since 5.16.  The pod for that even has the complete recipe written out for this situation

    Instead of reading the Unicode Database directly from files, as you were able to do for a lon

[2020-05-01 15:30] Leont commented on #17759
That appears not well-defined, but I'm willing to adopt it.

It's really the one module that's both, that does make this trickier. I'm willing to adopt it either way.

[2020-05-01 15:38] khwilliamson commented on #17759
On 5/1/20 9:30 AM, Leon Timmermans wrote:

leont++

[2020-05-01 18:05] karenetheridge opened #17767 "interesting parsing error"
This issue can be seen on perl 5.31.11 and I've also reproduced it with 5.26.3 so it's not a new blocker issue.

The original offending line and error are:

    my @test_files = sort path(File::ShareDir::dist_dir('Foo-Bar'), 'tests')->children;

(where `path` comes from Path::Tiny), but I boiled this down to not need extra modules thusly:

[code]

and produces the error:

    Can't locate object m

[2020-05-02 19:18] eserte opened #17768 "BBC: ATHREEF/Regexp-CharClasses-Helper-0.005.tar.gz fails since perl 5.31.10"
Overview of test reports: http://fast-matrix.cpantesters.org/?dist=Regexp-CharClasses-Helper%200.005
A sample fail report: http://www.cpantesters.org/cpan/report/8dd2da96-8b66-11ea-8059-64d73489f42c

[2020-05-02 21:12] khwilliamson commented on #17768
On 5/2/20 1:19 PM, Slaven Rezić wrote:

I can reproduce and am investigating

[2020-05-02 23:16] jkeenan commented on #17768
Bisection points to:
[code]
... which suggests it's the same as https://github.com/Perl/perl5/issues/17766.  @khwilliamson , is there some standard way of writing a patch that we can give to module authors affected by this?

Thank you very much.
Jim Keenan

[2020-05-02 23:32] haarg commented on #17767
This doesn't seem like a bug.  It's using `path` as the comparison routine, and `(dir('foo'), 'bar')->children` as the list to sort.  This puts the parenthesis in scalar context, returning item after the last comma.  This sucks, but that's how sort works, and how it's documented to work.

`perlfunc` states:

[2020-05-03 22:52] haukex opened #17770 "Heredocs silently change literal \r\n's and \r's to \n"
[code]
Output:
[code]
I would have expected both outputs to be the same, that is, `"X\r\nY \r\n A \r B\n"`. I've looked in the docs (perlop in particular), the Camel, and the issue tracker, but haven't found anything that documents this behavior.

Although it's possible I may have missed it in the docs, there are statements in the documentation that I find misleading, such as in the description of

[2020-05-03 23:56] tonycoz commented on #17268
I've pushed it to `smoke-me/tonyc/17268-yyl_try-recursion-test`

[2020-05-04 00:47] jkeenan commented on #17268
Filter::gunzip has a new version on CPAN since the opening of this ticket.  From [Changes](https://metacpan.org/changes/distribution/Filter-gunzip):
[code]
With Tony's branch and this new version, I get PASS on both Linux and FreeBSD.

Thank you very much.
Jim Keenan

[2020-05-04 00:48] tonycoz commented on #17765
This is a bug in B::Stats, which is modifying the values of %INC, I've commented on the rt.cpan ticket at https://rt.cpan.org/Ticket/Display.html?id=131963#txn-1896311

Closing.

[2020-05-04 00:48] #17765 closed

[2020-05-04 05:39] tonycoz commented on #17522
Does this (or something similar) still occur?  The code that allocated that particular block of memory was removed in 79f75eaa716.

[2020-05-04 19:33] jacquesg commented on #17154
Also affected by this on 5.30.

[2020-05-05 06:47] tonycoz commented on #17455
This was originally fixed in 375ed12a42 but then broken again in 375ed12a42, and the branch (which is in CI on my tonycoz/perl5 fork) fixes that.

The original report is a little confusing in that if you switch blocking off for a socket the connect() *should* fail with "A non-blocking socket operation could not be completed immediately."

[2020-05-05 07:00] tonycoz commented on #17448
Only sockets support setting non-blocking mode on Win32.

Otherwise I believe only named pipes can be made non-blocking, but neither the perl core nor IO provide an interface to Win32 named pipes.

[2020-05-05 22:07] xenu commented on #17692
FYI: this issue made it to the frontpage of /r/programming: https://www.reddit.com/r/programming/comments/gdxe1p/should_x_foo_y_read_from_foo_once_or_twice_perl/

Of course, most of the commenters probably aren't Perl programmers but I think it's still interesting to hear what people think.

[2020-05-05 22:44] Grinnz commented on #17692
For completion's sake, here's what happens with two somewhat related situations: https://perl.bot/p/efhuah

Object overloads apply to the referenced object itself and so persist through any passing or copying of references. The numeric overload is called twice if both comparisons occur and can result in different comparisons each time.

Variable magic applies to the variable itself and does not pe

[2020-05-05 23:29] Grinnz commented on #17692
Given that, I think it would be easier to discuss this in terms of an object with overloading; it is both significantly more common, and can be the result of a more complex expression.

[2020-05-05 23:37] Grinnz commented on #17692
The complicating factor there being, of course, it's possible to overload every comparison operator individually.

[2020-05-06 03:05] toddr commented on #17692
Most of the reddit discussions don't seem to get that perl supports tied variables. They also seem to be quickly forgetting that in any language they smugly consider to be better, the right side isn't evaluated if the left side is false.

After reading reddit and some of the above examples, I think I've come to the conclusion that I would actually be more upset if `$x < $y < $z` behaved differentl

[2020-05-06 06:53] briandfoy commented on #17692
`tie` is the red herring of this discussion, and if I had a time machine I'd go back to restate the issue. Forget about the `tie`. I've lost that fight and I'd be surprised if anyone is ever bit by it. But the docs still describe a situation that doesn't reflect reality.

As noted in the reddit thread, people are confused by the statement that the chained comparison is actually broken into two com

[2020-05-06 07:03] briandfoy commented on #17692
You wouldn't see it in a code review. You wouldn't even think that it was happening because the person writing that code isn't thinking about `tie` or overloading. They provide this library that uses this feature for the limited situation they imagined.

Then someone else, far away, uses that library and does something a bit goofy because they have some task where black magic makes sense. It's not

[2020-05-06 09:11] gugod commented on #17692
I briefly played `41 < EXPR < 43` with `EXPR` being tied var, overloaded object, subroutine returning plain scalar, subroutine returning tied var, subroutine returning overladed object, arthmatic expression of those... interesting!

Now that I cannot "un-see" it... the meaning of `41 < EXPR < 43` is clear and unambigious to me but  internal side-effect is not. In a sense that this chain is underst

[2020-05-06 09:58] jstaursky commented on #17692
Isn't code that does not meeting user expectation by definition a bug?
Your initial position of agreement with the change is sort of indicative of that fact.  Not trying to be inflammatory but I think the opinion of a prominent author would carry enough weight to be considered at least experimental. Do not see the harm in doing that.

[2020-05-06 15:16] matthewpersico commented on #17692
My USD 0.02 is this:
The current syntax for "between" is
[code]
In the extreme case, all the terms are function calls:
[code]
For this case:
1. You probably do NOT want to call funcval() more than once. That leads to doing:
[code]
2. We expect, and don't need, `funcright()` to evaluate if `funcleft() < $value` is false.

I hope that the new syntax preserves these semantics. I see the whole point o

[2020-05-06 15:26] davidnicol commented on #17692
# flavor to taste
package Acme::is_between;
use Exporter 'import';
our @EXPORT = qw/is_between/
sub is_between{
    my ($middle, $left, $right) =  @_  ;
    return ($left <= $middle and $middle <= $right) if ($left <= $right);
    return ($left >= $middle and $middle >= $right) if ($left >= $right);
    return ($left le $middle and $middle le $right) if ($left le $right);
    return ($left ge $mid

[2020-05-06 15:37] Grinnz commented on #17692
@matthewpersico All of this is already specified to be true in the documentation.

[2020-05-06 15:43] matthewpersico commented on #17692
@Grinnz - quite frankly, I can't really tell if @briandfoy 's original concerns are being addressed or he code is being left as is from this long and twisty thread.

Update: I missed https://github.com/Perl/perl5/issues/17692#issuecomment-624474828

But `tie` is still going to be eval'ed multiple times potentially?

[2020-05-06 18:53] nrdvana commented on #17692
If I see

    EXPR1 < EXPR2 < EXPR3 < EXPR4

 in a language, I expect it to be semantically equivalent to

    tmp1= EXPR1
    tmp2= EXPR2
    if (tmp1 < tmp2) {
      tmp3= EXPR3
      if (tmp2 < tmp3) {
        tmp4= EXPR4
        if (tmp3 < tmp4) {

because this is the implementation that results in the least processing, and it is actually a pain to write so the syntax shortcut is of the most b

[2020-05-06 18:57] Grinnz commented on #17692
All of this is already what happens. I suppose we can't do much about it now but anyone who sees this, please stop confusing the issue with the semantics of evaluating the expression only once, because that already the case. The question here is whether each side of the comparison should do a separate fetch if the central value is a tied variable.

[2020-05-06 19:02] briandfoy commented on #17692
I'm closing the issue. Sawyer made his ruling and the continued discussion hasn't been well-informed.

[2020-05-06 19:02] #17692 closed

[2020-05-06 19:06] nrdvana commented on #17692
Well now I feel like my comment is being misread.  If I write

    my $tmp1= EXPR1

and EXPR 1 is a tied scalar, that does call fetch at that point and results in a single fetch, as per the original statement in this issue.

[2020-05-06 19:11] Grinnz commented on #17692
I did not see the part specifically mentioning tied variable semantics, my apologies. To respond to that, the difference here is that there isn't actually a temporary variable involved (as the documentation points out), only the same tied variable on the call stack, used in two operations. This would be a semantic explanation for it, to go with Zefram's [technical explanation](https://www.nntp.per

[2020-05-06 19:37] dur-randir commented on #17759
Here's another one
[code]

[2020-05-06 20:00] Grinnz commented on #17759
It seems to me like EUMM is in a similar role, and is still currently cpan-first. Leaving it cpan first would have the advantage of being able to keep using the current repo's pull requests as is. I think it only matters what way @Leont thinks would be easier to maintain because I doubt many developers of either group will touch it much.

[2020-05-06 21:07] xsawyerx commented on #17692
This is a loaded question.

First of all, I didn't say "this code does not meet user expectations." I said, "it can confuse people." Two operative words: *can* and *people*, meaning it has the possibility of confusing and not everyone.

Secondly, languages might confuse, but as long as they maintain consistency - on some level - it isn't a bug.

To put it in other terms, Perl could have been consi

[2020-05-06 21:14] xsawyerx commented on #17692
This is a fair point. I'll review the docs again tomorrow morning.

[2020-05-06 22:24] Grinnz commented on #17692
That is already how it's documented. https://perldoc.pl/blead/perlop#Operator-Precedence-and-Associativity

[2020-05-06 22:37] khwilliamson commented on #17692
On 5/6/20 4:24 PM, Dan Book wrote:

I was the one who added the commit for this feature to blead:

commit 02b85d3dab092d678cfc958a2dc252405333ed25
  Author:     Zefram <zefram@fysh.org>
  AuthorDate: Wed Feb 5 07:43:14 2020 +0000
  Commit:     Karl Williamson <khw@cpan.org>
  CommitDate: Thu Mar 12 22:34:26 2020 -0600

I did not know at the time that this would turn out to be a contentious
feature

[2020-05-07 04:03] tonycoz commented on #17435
I see warnings even in 5.18.2, just not as many:
[code]

It doesn't happen in 5.14:
[code]

I expect this was introduced in 986a805 which made getline() act as if it was in the caller's scope, and the re-work for that in 986a805 hasn't changed that.

The warnings are generated when the various hooks PerlIO::scalar are called by the implementation of sv_gets() (called by do_readline(), called by pp

[2020-05-07 04:10] jstaursky commented on #17692
@xsawyerx apologies on the bluntness of my initial message, it was early and now that I've come back to read it--should have phrased it better. Anyway thanks for addressing the comment despite the initial loaded question.

[2020-05-07 04:18] tonycoz commented on #14816
I believe this was fixed by f172023d734.

[2020-05-07 06:57] briandfoy commented on #17692
No, it's not documented like that. Instead of a general case, it starts off with the common case and presents a rule, then states a slightly less common case that uses a different rule, and then a rare case that doesn't seem to follow either rule. There's a way to unify those.

The documentation starts as being two comparisons in the simple scalar case. That sets the frame for everything that foll

[2020-05-07 12:12] jkeenan commented on #14816
So when I build a threaded perl at blead and re-run the program submitted back in 2017 by @dur-randir,
[code]
I now get a silent infinite loop.  Is that what I should be expecting?

If so, then the original complaint in this ticket has been addressed and the ticket can be closed.

Thank you very much.
Jim Keenan

[2020-05-07 15:25] davidnicol commented on #17692
A chained comparison a < b < c essentially works like do  { temp = b; a <
temp && temp < c }. When b is a magical overloaded or tied value, the
second fetch magic may be avoided by adding zero, for numeric comparisons,
or quoting, for string comparisons, the middle value, so temp will be a
plain r-value.

--
With great risk comes spectacular failure

[2020-05-07 18:57] karenetheridge opened #17772 "regression: "substr outside of string" error no longer occurs"
Some unit tests on travis just showed me that the "substr outside of string" diagnostic no longer occurs on newer perls; apparently, since 5.16.x.

Specifically, this code:

    perl -we'my $lvalue = \substr("a", 4)'

gives this error on perls up to and including 5.14.4:

    substr outside of string at -e line 1.

But from version 5.16.3 and later, there is no error.

perldiag says:

       subst

[2020-05-07 19:44] jkeenan commented on #17772
Without taking a position on what's right or wrong here, let me just post some relevant excerpts from the core distribution.

The relevant code change is probably 83f78d1a27d:
[code]
This is found in `pod/perl5160delta.pod`:
[code]

[2020-05-07 22:47] dur-randir commented on #14816
The original issue here is module loading, and it looks good now. wrap_op_checker is a different concern that needs it's own ticket.

[2020-05-07 23:29] jkeenan commented on #14816
On 5/7/20 6:47 PM, Sergey Aleynikov wrote:

Would you be able to open such a new ticket?

Thanks.
jimk

[2020-05-08 00:03] dur-randir commented on #14816
Looks like i've skipped some bits here, and the merged solution doesn't involve changing PL_check (and hence avoid wrap_op_check problems). But nevertheless that commit says "The current implementation of PL_check (and possibly other arrays) still needs to be addressed.".

But i'm not sure what was implied - reinstantiate the original change early enough to have time to change api + modules? Diffe

[2020-05-08 15:42] jacquesg opened #17774 "Crash: Embedded perl on FreeBSD: Perl__inverse_folds"
**Description**

We embed multiple perl interpreters into some of our applications. After upgrading from 5.26.0 to 5.30.2 (also confirmed that it exists on 5.31.11, 5.28.2 is still unknown), we see the following intermittent crash

[code]

**Steps to Reproduce**
Unknown

**Expected behavior**
Should not seg fault.

**Perl configuration**

[code]

[2020-05-08 16:17] jacquesg commented on #17774
For what its worth, it seems like this occurs after some interpreters that we created in process have been destroyed.

[2020-05-08 17:05] tobyink commented on #17692
If the tied variable is fetched twice, it means this will sometimes be true:

    ( 6 < $unstable < 3 )

And that seems bad.

[2020-05-08 17:39] davidnicol commented on #17692
but this will keep the first result

[2020-05-08 20:29] haarg commented on #17692
That would be possible with overloads even if tied variables were only fetched once.

[2020-05-09 14:37] dur-randir opened #17775 "Segfault in Perl_re_op_compile at regcomp.c:8488"
This is a bug report for perl from sergey.aleynikov@gmail.com,
generated with the help of perlbug 1.41 running under perl 5.31.10.

[Please describe your issue here]

While fuzzing perl v5.31.9-70-g0c96aa4b7b built with afl and run
under libdislocator, I found the following program

[code]

to cause a segfault. GDB stack trace is:

[code]

This is a regression in blead, bisect points to d8d1dede53

[2020-05-10 13:33] jkeenan opened #17776 "github.actions cannot handle non-ASCII characters in AUTHORS"
Our github.actions set-ups appear to be unable to handle certain non-ASCII characters in names in AUTHORS.  See, for [example](https://pipelines.actions.githubusercontent.com/F8yobFedDMKReLD2lUI49NJpt8TNtEKo3DptPtnjfqw2qokl1r/_apis/pipelines/1/runs/8973/signedlogcontent/3?urlExpires=2020-05-10T13%3A20%3A50.0870196Z&urlSigningMethod=HMACV1&urlSignature=8YBuJfPm%2Flqc8LVnCQhD7S82rIinLmZtvfQ7UrU6qo8%

[2020-05-10 13:39] jkeenan commented on #14816
@nwc10, can you comment on the above?  Thanks.

[2020-05-10 13:48] jkeenan commented on #17774
[snip]
    /usr/home/build/dev/clang-64/medusa-freebsd64/medusa/build/perl/cpan/perl/install/perl/lib

For reference (only):
[code]

[2020-05-10 13:51] jkeenan commented on #17774
Also in the core distribution, but a bit more generally:
[code]

[2020-05-10 13:54] richardleach opened #17777 "IV / NV upgrades often seem unnecessary and costly"
**Description**
Many arithmetic or comparison operators change the SV type of their operands when the operands are of different type.

For example, when adding an IV and an NV, the NV will always be upgraded:
[code]
When the operands are only SvIOK(sv) and SvNOK(sv) like this, it's not clear what the benefits are of changing the SV type, rather than just fetching the actual value and converting it

[2020-05-10 14:22] richardleach opened #17778 "Perl_do_ncmp is not optimized for comparisons with NVs"
**Description**
Comparison operators, such as pp_le, have a fast path for when both operands are IVs. Comparisons where one or both operands is a NV are surely also common, but better optimization for this case may be possible.

These ops call _Perl_do_ncmp()_, which starts with:
`    if (SvIV_please_nomg(right) && SvIV_please_nomg(left)) {`

For a NVs, _SvIV_please_nomg_() will result in a call t

[2020-05-10 15:57] richardleach opened #17779 "Complete Mauke's work on __builtin_*_overflow for faster overflow checks?"
**Description**
Lukas Mai worked on adding support for using compiler intrinsics (e.g. ___builtin_*_overflow_) for overflow checks where available, but this hasn't yet been completed. As suggested on IRC, this issue is a placeholder/reminder, in case anyone fancies picking this up in the future.

Correspondence is at https://www.nntp.perl.org/group/perl.perl5.porters/2017/10/msg246823.html
A smoke

[2020-05-10 18:09] EvanCarroll opened #17780 "$! set on success through perlio."
Module: PerlIO::scalar

Calling

[code]

Will set `$!`

**Steps to Reproduce**

[code]

**Expected behavior**

`$!` is not set.

**Perl configuration**

[code]

[2020-05-10 18:30] Grinnz commented on #17780
The value of the `$!` variable cannot be relied upon to indicate an error in any case. There are some cases where you have to clear it beforehand because no other mechanism is given to indicate an error, but this is not one of those cases since an error is indicated by `open` returning false.

[2020-05-10 18:41] jkeenan commented on #17780
How would that apply to this case?
[code]

[2020-05-10 19:04] Grinnz commented on #17780
There is no bug in this case. When open returns true, the value of `$!` is inconsequential.

[2020-05-10 19:57] karenetheridge commented on #17780
I don't think this is a bug. `$!` is documented as only being accurate immediately after it's set. Code should not be looking in `$!` unless it is known that it was just set, for example `open()` returning false.

[2020-05-10 20:05] EvanCarroll commented on #17780
I've updated the answer on StackOverflow. I'm also content with closing this as not a bug. However for some background

* I've always understood *`$!` is inconsequential* to be in reference to errors that happened that the user ignored by omission or otherwise.
* I don't see it anywhere as documented that `$!` may be set on success

The documentation for `perldoc perlvar` merely says,

[2020-05-10 20:18] Grinnz commented on #17780
I'm not sure what you mean. `$!` is inconsequential when an error has not been indicated, period. It cannot be used to determine if an error occurred, because it is commonly set behind the scenes by internal syscalls.

It may be set at any time, this includes when the final result of the user call was a success.

[2020-05-10 20:50] haarg commented on #17777
I'm not sure where you see these happening. An SV won't flip-flop between IOK and NOK. If the value can be represented accurately as both an IV and NV, it will end up with both flags set. Or, if it can't be represented accurately, it will end up with the IOKp and NOKp flags set (as appropriate), indicating that a converted value is stored, but not fully accurate.

The general reason for this is to

[2020-05-11 00:44] tonycoz commented on #17780
The C11 standard describes it like this:
[code]

I think this could be better documented in perlvar.

[2020-05-11 01:40] tonycoz commented on #17770
It looks intentional, originally added in f63a84b229f1dfb5c1bb698e1ed4bb362b3e6a6b.

[2020-05-11 02:35] Grinnz commented on #17770
A commit adding code gated with TMP_CRLF_PATCH with no explanation always inspires confidence...

If I had to guess, it's so that \r\n that commonly shows up in dos type files does not affect the contents of the heredocs.

[2020-05-11 03:15] xenu commented on #17770
Some ancient p5p threads about this topic:
"[(pseudo) BUG] in here documents" - https://markmail.org/message/ihvj5jaumpiuxikc
"CRs et al" - https://markmail.org/message/5goj3bcwhboqkcdg
"[PATCH _71] CRs et al" - https://markmail.org/message/a52h64tm7a4laccp

[2020-05-11 05:17] tonycoz commented on #14840
The original issue here isn't a bug, and the side issue about access to ERRSV (and the typo) has been fixed.

[2020-05-11 05:17] #14840 closed

[2020-05-11 06:43] xsawyerx commented on #17766
I consider this a non-blocker. The module author should have seen the warning and has an alternative.

[2020-05-11 06:45] xsawyerx commented on #17768
The standard way has been provided in #17766. I consider this a non-blocker due to being an internal use and having an alternative available.

[2020-05-11 07:00] tonycoz commented on #6799
Perl's I/O objects (that is the IO SV , not PerlIO) can have both an input (PerlIO) file handle and an output file handle.  For files that output handle is the same as the input handle, and if you try the error method on a file:
[code]

For a character device (like /dev/full) or a socket, perl [creates](https://github.com/Perl/perl5/blob/6319bad96eba493c5f3bc7857e1c58687c461d70/doio.c#L1068) a sec

[2020-05-11 17:14] peff commented on #6799
@tonycoz Yeah, that makes sense. Since the fact that one `IO` object is represented under the hood as two individual PerlIO handles is an implementation detail not known to callers of `IO`, would it be reasonable for `$fh->error` to return `PerlIO_error(input_handle) || PerlIO_error(output_handle)`? I think that would match the single-handle case more closely (where an error on either side would c

[2020-05-12 00:33] tonycoz commented on #6799
I'm working on such a PR now, I also want to check clearerr() works here.

[2020-05-12 00:59] hvds commented on #17775
At an initial look, it appears the chunk at regcomp.c:16465 isn't working as intended - it is relying on the documented return value of reg() (same as regbranch()):
[code]
.. but stepping through regbranch(), it appears that it actually returns the offset of the first node it has emitted - which in this case is probably always 1.

The size of the extended charclass node appears to be 4, and the pa

[2020-05-12 04:04] tonycoz commented on #17708
There's been two issues discussed in this ticket:

1. the issue reported in the OP, that re isn't linking to quadmath resulting in link time errors, even when Configure is convinced it exists.
2. that Configure doesn't find quadmath by default on cygwin.

I'll open a new ticket for the second.

Given we want to release 5.32 soonish I think we should apply @pjacklam's patch and remove this as a blo

[2020-05-12 04:27] khwilliamson commented on #17768
I thought I had added this to this ticket earlier. @jkeenan's supposition is incorrect.  The module is not using Name.pl at all.  What is going on here is that the failing tests are passing illegal input to charnames and expecting particular error messages back.  Because of the reformatting of Name.pl those inputs are illegal for different reasons than before, and hence raise different messages.

[2020-05-12 04:55] tonycoz opened #17782 "Configure fails to find libquadmath on cygwin"
Module:

**Description**

Configure fails to find libquadmath on cygwin:
[code]

But the compiler has no problem finding it:

[code]

I considered applying a change to the hints file as is done in hints/linux.sh that asks gcc for `-print-search-dirs`, but to find quadmath this requires adding gcc's version specific directories and means that if a new gcc is installed we can end up linking an exten

[2020-05-12 06:05] richardleach commented on #17778
For the both-NVs case, something like this approach might work:
[code]
All tests pass on a Linux x64-86 build. Still need to benchmark and also check whether the compiler can optimize for tryAMAGICbin_MG() also effectively deriving (SvFLAGS(left) | SvFLAGS(right)).

This results in there being a few more instructions, but one fewer branch, in the both-IV scenario.

If both operands are NVs, there

[2020-05-12 11:18] jkeenan commented on #17768
@khwilliamson , what "supposition" is that?  I simply reported the results of bisection.

In Perl, FBOW people rely on the wording of error messages all the time.  Can we provide some guidance to module authors that explains the change in error messages?

[2020-05-12 11:33] jkeenan commented on #17775
@hvds I placed your patch in a smoke-me branch, smoke-me/jkeenan/hvds/gh-17775.  While it's PASSing and FAILing on our smoke-testers in the normal places, it's FAILing on two of our github actions.  See:
https://github.com/Perl/perl5/runs/665552670
https://github.com/Perl/perl5/runs/665552641

I do not know how reliable these github actions setups are, so I can't say whether they are the basis for

[2020-05-12 14:02] hvds commented on #17775
These are definitely test failures caused by the patch:
[code]
I'll take a look.

[2020-05-12 15:06] hvds commented on #17775
The regex_sets failure is:
[code]
.. and this appears to be because the size of the extended charclass op is 2 on 32-bit, not 4.

To fix that I'll need to work out how to ask the size of it properly, unless @khwilliamson already knows.

The two failures in reg_mesg.t are probably occurring for the same reason: the regexp introduced as a test for #16649 now fails with "Expecting interpolated extend

[2020-05-12 15:34] khwilliamson commented on #17746
a bunch of code uses the one character definition as opposed to one byte

I'd agree that \R shouldn't be SIMPLE

[2020-05-12 16:05] khwilliamson commented on #17742
I looked at this a little.  The changes would have to be in toke.c

[2020-05-12 17:33] khwilliamson commented on #17775
It will take me a few minutes to get the code to do the size properly.

[2020-05-12 17:57] khwilliamson commented on #17775
I replaced that smoke test with one that should work on 32 bit systems, using the standard way to find the size of a node

I'm thinking for 5.33 that this paradigm is used in enough places that there should be a macro, say, NODE_EQUIVALENTS(node) that encapsulates it.

[2020-05-12 18:25] autarch opened #17784 "[feature] Specify provided packages in META.json"
**Please do not report bugs as part of a feature request**

**Describe the solution you'd like**
It would be fantastic if the META.json (and META.yml) files that ship with the core included `provides` data per https://metacpan.org/pod/CPAN::Meta::Spec#provides

[2020-05-12 20:53] Leont commented on #17784
This does sound like a reasonable idea

[2020-05-12 22:10] hvds commented on #17775
It looks like that part of the documentation was already wrong when first added as part of f55b7b26c4.

I think what both these functions actually now return is the offset of a newly inserted node that either needs its 'next' pointer updated to point to whatever will get added next, or starts a chain whose 'next' pointers can be followed to find such a node - it appears the primary use (other than

[2020-05-12 22:56] khwilliamson commented on #17154
I am willing to worth with people to get a patch available for earlier versions, even if it can't be an official backport.

[2020-05-13 00:36] jkeenan commented on #17784
Could you provide an example of a CPAN distribution that does this really well?

Would `provides` have to generate entries when there are multiple packages per (`.pm`) file?

Thank you very much.
Jim Keenan

[2020-05-13 04:18] tonycoz commented on #15452
Is this still a problem?

[2020-05-13 04:53] khwilliamson commented on #17768
You said

but it's not.

And your response convinced me to fix it.  It turns out to be easy
[https://github.com/Perl/perl5/commit/ecec7feb5b44ff722a9d3e7574fa0fa2cf6d1d06](url)

[2020-05-13 04:54] tonycoz commented on #17679
I agree:
[code]

[2020-05-13 05:47] sisyphus commented on #15452
AFAIK, this problem was only ever encountered by @dcollinsn, so he's the only one who can provide the definitive answer to the question just asked by @tonycoz .

I just noticed something quite askew wrt to the info @dcollinsn provided in the initial post.
It shows that gccversion is 6.1.0, yet both lddflags and libpth reference C​:\mingw-w64\i686-4.9.3\mingw32\lib.
So there's apparently some mis-c

[2020-05-13 10:50] demerphq commented on #17679
You guys might want to run your tests with and without:

$Data::Dumper::Useperl=1;

Or

$Data::Dumper:Useqq=1;  # used to trigger pure-perl code in old dumpers

It is quite possible that an old pure-perl implementation did this and you
have only checked the XS code. (I dont think so but i dont have old perls
handy to check).

Yves

On Wed, 13 May 2020 at 06:55, Tony Cook <notifications@github.com>

[2020-05-13 12:43] jkeenan commented on #17679
No change in results.
[code]

[2020-05-13 22:48] Leont commented on #17784
The following script generates the desired data. I haven't verified if it's truly complete, though at first sight it appears correct.

[code]

[2020-05-14 01:15] tonycoz commented on #17778
This looks reasonable to me.

[2020-05-14 05:07] tonycoz commented on #17776
The linked URL has expired, does this happen in a particular branch? Or on a particular platform?

[2020-05-14 05:25] tonycoz commented on #17770
From those links it appears to be deliberate.

[2020-05-14 05:29] tonycoz commented on #17767
Yes, this is the documented behaviour, closing.

[2020-05-14 05:29] #17767 closed

[2020-05-14 06:05] tonycoz commented on #17745
CowREFCNT() isn't documented, so it's hard to tell what the preconditions for its use are.

The code in core that looks at CowREFCNT() for existing COW SVs all check that either SvLEN() is non-zero or thet SvCUR()-1 < SvLEN(), for example in sv_clear(), sv_uncow(), do_sv_dump().

Given that I don't think this is a bug in the definition of CowREFCNT(), if it's meant to be used outside of core (or e

[2020-05-14 06:47] haukex commented on #17770
Thanks for the replies everyone! I will look at the docs and I think I'll suggest a patch.

[2020-05-14 12:55] jkeenan commented on #17776
Well, that's another indication that the usefulness of these github.actions is circumscribed. :-(

The branch was blead.  The platform was probably Linux.

[2020-05-14 13:13] xenu commented on #17776
log urls aren't shareable, linking to the run's information page works better, e.g.: https://github.com/Perl/perl5/actions/runs/104572207

[2020-05-14 13:40] jkeenan commented on #17776
Okay, I've figured out what happened.

First, prompted by @xenu's comment I figured out where on github one can review the results of any particular github.action.  Going to https://github.com/Perl/perl5/actions enables one to page through the particular actions in reverse chronological order.  When I got to the [5th page](https://github.com/Perl/perl5/actions?page=5) in that series, I realized th

[2020-05-14 13:40] #17776 closed

[2020-05-16 13:07] richardleach commented on #17777
I can definitely appreciate how this makes writing serialization libraries difficult!

It definitely seems like there's potential to reduce at least some conversions to PVNVs, especially when the operands are both/all NVs to begin with!

I should have provided some examples. ;)  The stock Debian perl, built with PERL_PRESERVE_IVUV, was used for the following.

Forgot what I had in mind for a casca

[2020-05-16 14:11] haarg commented on #17777
That's not really flip-flopping. That's a new value. It's pretty natural for it to have a different type and different flags.

[2020-05-16 14:13] richardleach commented on #17778
Thanks Tony.

Still comparing, but from _perf_ and looking at the disassembly, it's looking like not combining the flags may actually produce better results:
[code]

[2020-05-16 14:28] richardleach commented on #17778
For the mixed IV/NV case, as well as for when _pp_sort_ (which has a fast case for IVs but not for NVs, looks hairier to add one there) is operating on NVs:

1. Could the _SvIV_please_nomg(sv)_ macro be changed from:
[code]
to something like:
[code]
The idea being that plain NVs bypass the multiple irrelevant checks in _sv_2iv_flags_ and go straight to _sv_2iuv_common_. (I haven't had chance to bu

[2020-05-16 14:42] richardleach commented on #17777
Not sure if you were referring to both flip-flop examples or just one?

Certainly, in the case of:
`perl -MDevel::Peek -e 'my $nv = 4/3; Dump($nv); while (999 > $nv) { Dump($nv); $nv *= 7/3; Dump($nv) }`, the new value being explicitly stored (in $nv) results from multiplication of two NVs. It doesn't seem reasonable for the comparison operator to then modify $nv when, under the hood, the operator

[2020-05-16 19:49] Leont commented on #17759
@xsawyerx if you agree with the above, can you give me the appropriate permissions?

[2020-05-16 20:06] pjcj commented on #17170
Just for information Devel::Cover 1.34, released a few minutes ago, should work with 5.32 as well as it does with 5.30.  Phew, I think I made it :)

[2020-05-16 20:11] #17170 closed

[2020-05-16 20:11] toddr commented on #17170
Thank you @pjcj!

[2020-05-16 20:25] jkeenan commented on #17170
On 5/16/20 4:06 PM, Paul Johnson wrote:

Tests and installs correctly for me on Linux, FreeBSD, OpenBSD and
NetBSD.  Thanks, Paul!

[2020-05-18 01:23] tonycoz commented on #17774
This looks like the same type of issue as #17154

[2020-05-18 05:23] kentfredric opened #17791 "./configure mis-detects "ar" and hardcodes missing "ar" in Config.pm"
**Description**
We have developers on Gentoo testing some unusual setups, particularly:

- There is no `/usr/bin/gcc`, `/usr/bin/cc` or `/usr/bin/ar`
- There is no `gcc`, `cc` or `ar` in `$PATH`
- `AR=` and `CC=` are both defined with correct values.

Under this configuration, perl .`/configure` fails to detect a correct `ar`, and later, embeds `ar = ar` in `Config_heavy.pl`

However, this failure

[2020-05-18 06:50] jacquesg commented on #17774
I believe it is similar yes, both the reporter in #17154 and ourselves embed perl. Unfortunately the patch in #17154 is present in 5.30.11 which we've also tried to no success.

[2020-05-18 07:01] Tux commented on #17791
On Sun, 17 May 2020 22:23:58 -0700, Kent Fredric
<notifications@github.com> wrote:

Your case seems clear, so the question that remains is: are cc and are
the only two, or is it also others, like nm and ranlib?

If we have a defined set, would this mean that we can leave everything
in place until the very last step where just before we set AR to 'ar'
we should check if $AR is set to anything and u

[2020-05-18 11:17] kentfredric commented on #17791
There are others, but its not clear.

For instance, the same is happening with "ld", but I'm nowhere going to touch that one because too much perl code expects "ld" to be a *ccld*, not an actual "ld".

I'm sure eventually nm and ranlib may also be done this way, but our tester is starting out simple (for the most part, the end goal is to mimic non-gnu/linux platforms or cross-development tooling w

[2020-05-18 11:36] kentfredric commented on #17791
Just got some more output from our tester.

 * 	./hints/linux.sh: line 174: gcc: command not found
 * 	Configure: line 6387: nm: command not found
 * 	Configure: line 22940: cpp: command not found

The mention of gcc and cpp here are a little weird as we do pass -Dcc=, but perhaps some love is needed for G++ / CXX

[2020-05-18 11:44] kentfredric commented on #17791
As for LD, here's some background on why I'm not touching it with a barge pole:

Simply setting "LD=path/to/an/ld" breaks perl code, and has perl code authors telling you that you're wrong to set LD to an LD , ....

https://rt.cpan.org/Public/Bug/Display.html?id=120907
https://bugs.gentoo.org/641054

ld handling is a complete shit-show and I'm too afraid to touch it.

[2020-05-18 12:20] kentfredric commented on #17791
Further testing:

Building perl with -Dld=path/to/actual/ld breaks perl building:

[code]

This is despite this output:
[code]

But this looks bad:
[code]

[2020-05-18 12:50] kentfredric commented on #17791
https://metacpan.org/source/SHAY/perl-5.30.2/hints/linux.sh#L166-179
[code]

Well that's annoying.

[2020-05-19 01:22] khwilliamson commented on #17774
I have a fix that I hope fixes the problem.  If you can reproduce this with any regularity, you could try out https://github.com/Perl/perl5/commits/smoke-me/khw-intrpvar

[2020-05-19 06:41] toddr commented on #17268
@xsawyerx #17696 is waiting your sign off.

[2020-05-19 07:03] #17761 closed

[2020-05-19 08:25] demerphq commented on #17777
On Sat, 16 May 2020, 16:42 Richard Leach, <notifications@github.com> wrote:

For me this feels like a bug in our constant logic. When we see a constant
as argument to a comparison operator we should "upgrade it all" at compile
time so the object ends up being a PVNV with the appropriate slots
populated. A comparison with a constant should never modify the non
constant.

Yves

—

[2020-05-19 16:11] jacquesg commented on #17774
I've applied the patch locally, will put it under some stress.

[2020-05-19 23:30] kmhl opened #17792 "corelist --diff fails with "Can't use an undefined value as a HASH reference" for fake versions"
Module: Module::CoreList

**Description**

`corelist --diff` fails with "Can't use an undefined value as a HASH reference"
for fake perl core versions as command line arguments

**Steps to Reproduce**

`corelist --diff 5 6
`

**Expected behavior**

`6 perl core version doesn't exists ;)` or something like that.

**Perl version**

Tested for 5.24.1 and 5.31.11

**Debug**

[code]

[2020-05-20 11:23] epa opened #17794 "chomp by default to strip carriage return, even on Unix"
In the old days each platform had its own line ending convention.  Unix had `\n`, MS-DOS had `\r\n`, and other even stranger platforms existed.  When transferring text files you often converted them (as done by ftp's "text" transfer mode, or odd mount flags in compatibility layers like Cygwin).  But nowadays that is long gone.  People run a mixture of systems and files are transferred unchanged be

[2020-05-20 11:24] epa commented on #17794
P.S. I think that the `$` anchor in regular expressions should also recognize either line ending convention, by default.

[2020-05-20 12:57] xenu commented on #17794
It doesn't. `chomp` works on Windows in exactly the same way as on unixes:

[code]

I think what confused you is the fact that [\:crlf perlio layer](https://perldoc.pl/PerlIO#:crlf) is enabled by default on Windows.

[2020-05-20 13:06] epa commented on #17794
Yes, I did get a bit confused, what I meant was that files with either `\r\n` or `\n` are both accepted.  The perlio layer shouldn't be used on non-Windows platforms but chomp can change to accept both line endings.

[2020-05-20 14:04] Caribpa opened #17795 "Ternary Operator CONDITION's scope should be documented"
[The documentation of the Ternary Operator](https://perldoc.perl.org/perlop.html#Conditional-Operator):

does not mention that variable declaration on the CONDITION works differently than on `if-then-else`'s. For example:

[code]

works as expected (the returns inside each conditional case were omitted for cleanliness as `if-then-else` doesn't return `lvalues`)

The main difference not mentioned o

[2020-05-20 15:14] #17703 closed

[2020-05-20 15:28] demerphq commented on #17795
We document that Perl does not allow lexical variables to be used in the
statement where they are declared.

So this isnt a bug. Its no different from this being illegal:

if ((my $x= foo()) && $x!=22) { }

$ perl -le'use strict; if ((my $x= foo()) && $x!=22) { }'
Global symbol "$x" requires explicit package name at -e line 1.
Execution of -e aborted due to compilation errors.

Certain control str

[2020-05-20 15:30] Leont commented on #17794
In that case, just open your files with :crlf, even if you're on unix, and all will work just as you want.

[2020-05-20 15:35] demerphq commented on #17795
On Wed, 20 May 2020 at 17:28, demerphq <demerphq@gmail.com> wrote:

BTW, there is a subtle reason for this difference from some of the sponsor
languages that perl evolved from. Consider this:

my $x= 5;
{
   my $x= $x;
   do_stuff_with_x();
}

this pattern would be impossible if the statement where a variable is
declared was allowed to reference the variable. I believe Larry considered
this a more

[2020-05-20 15:41] Grinnz commented on #17794
I think it is confusing that various tutorials and possibly docs refer to `\n` as magical when it is not; the `:crlf` layer is the only component that treats `\r\n` specially.

[2020-05-20 15:41] xsawyerx commented on #17729
Unless @tonycoz objects, let's merge it?

[2020-05-20 16:06] Caribpa commented on #17795
statement where they are declared.

That's interesting, I'll try to find this documentation.

Actually I never said it was a bug. As far as my current understanding of ternary vs if goes, `if ((my $x= foo()) && $x!=22) { }` is illegal because of what you said of not allowing using lexical variables on the same statement of their declaration, and `(my $num = shift) ? $num : 0;` does not work as exp

[2020-05-20 16:21] Grinnz commented on #17795
https://perldoc.pl/perlsub#Private-Variables-via-my() says: `The declared variable is not introduced (is not visible) until after the current statement.` and then goes on to explain the scoping in control structures we are discussing here.

[2020-05-20 16:30] Caribpa commented on #17795
I think I understand now why saying that it is not allowed to use lexical variables on the same statement as their definition is enough. Is because the ternary operator is syntactic sugar for doing something like: `(((my $num = shift) && $num) || 0)` which is illegal, right?

[2020-05-20 16:50] demerphq commented on #17795
On Wed, 20 May 2020 at 18:30, Carlos Ibáñez <notifications@github.com>
wrote:

I dont think you can actually reduce the ternary to another operator
combination and I think they all fail unfortunately.  It is much closer to
a control operator than to anything else. It is the expression equivalent
to the statement control structure if/else.

That word is "expression" is the reason for your confusion